.srch-main {
    background: $black;
    color: $white;
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px;

    @include tablet-size {
        padding: 30px 60px;
    }

    form {
        border-bottom: 1px solid $mine-shaft;
        margin: 0 auto;
        max-width: $MAXIMUM_PAGE_WIDTH;
    }
}

.srch-textbox {
    @include font('STARLING',35px, 'NORMAL', 38px);

    appearance: none;
    background: transparent;
    border: 0;
    color: $white;
    display: block;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 10px 20px;
    width: 100%;

    &::placeholder {
        color: $gray;
    }

    &:focus {
        outline: none;
    }

    @include tablet-size {
        @include font-size(65px);
        @include line-height(48px);

        text-align: left;
        padding-left: 0;
    }
}

.srch-results {
    @include font('COMMUTER SANS', 12px, 'MEDIUM', 20px);

    color: $gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 0 0;

    @include tablet-size {
        @include font('COMMUTER SANS', 14px, 'MEDIUM', 20px);

        margin: 12px auto 0 auto;
        max-width: $MAXIMUM_PAGE_WIDTH;
        text-align: left;
        padding-left: 0;
    }
}
