.srch-main {
    background: $black-two;
    color: $white;
    box-sizing: border-box;
    overflow: hidden;
    padding: 45px $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        padding: 30px $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        padding: 30px $DESKTOP_SIDE_GUTTER;
    }

    form {
        border-bottom: 1px solid $COLOUR_BORDER_SEPARATOR_DARK;
    }
}

.srch-textbox {
    @include font('STARLING',35px, 'NORMAL', 38px);

    appearance: none;
    background: transparent;
    border: 0;
    color: $COLOUR_MAIN_DARK;
    display: block;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 10px 20px;
    width: 100%;

    &::placeholder {
        color: $COLOUR_MAIN_TERTIARY;
    }

    &:focus {
        outline: none;
    }

    @include tablet-size {
        @include font-size(65px);
        @include line-height(48px);

        text-align: left;
        padding-left: 0;
    }
}

.srch-results {
    @include font('AGENDA', 12px, 'MEDIUM', 20px);

    color: $COLOUR_MAIN_TERTIARY;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 23px 0 0;

    @include tablet-size {
        @include font('AGENDA', 14px, 'MEDIUM', 20px);

        margin: 12px 0 0;
        text-align: left;
        padding-left: 0;
    }
}
