
@mixin button-reset() {
    border-bottom: none;
    display: inline-block;
    text-decoration: none;
}

@mixin button-single() {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include button-reset;
    @include font("SOLEIL", 14px, 'NORMAL', 14px);
    color: $white;
    letter-spacing: 0.18em;
    padding: 23px 22px;
    text-align: center;
    text-transform: uppercase;
}

@mixin button-single-light() {
    background-color: $chestnut-rose;
}

@mixin button-single-light-hover() {
    background-color: $pink-rose;
}

@mixin button-single-two() {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include button-reset;
    @include font("SOLEIL", 12px, 'NORMAL', 12px);
    letter-spacing: 0.18em;
    padding: 17px 22px;
    text-align: center;
    text-transform: uppercase;
}

@mixin button-single-two-light() {
    border-bottom: 1px solid $ballet-grey;
    color: $candle-grey;
}

@mixin button-single-two-light-hover() {
    border-color: $pink-rose;
    color: $pink-rose;
}

@mixin button-single-three() {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include button-reset;
    @include font('SOLEIL', 12px, 'NORMAL', 12px);
    border-radius: 30px;
    letter-spacing: 0;
    padding: 18px 38px;
    text-align: center;
}

@mixin button-single-three-light() {
    background-color: $white;
    border: 1px solid $ballet-grey;
    color: $candle-grey;
}

@mixin button-single-three-light-hover() {
    border-color: $pink-rose;
    color: $pink-rose;
}

@mixin button-single-three-dark() {
    background-color: rgba($sapphire, 0.1);
    color: $sapphire;
}

@mixin button-single-three-dark-hover() {
    background-color: $sapphire;
    color: $white;
}

@mixin button-group() {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include button-reset;
    @include font('SOLEIL', 12px, 'NORMAL', 12px);
    letter-spacing: 0.18em;
    text-transform: uppercase;
    transition: color 0.2s ease-in-out;
}

@mixin button-group-light() {
    color: $candle-grey;
}

@mixin button-group-light-hover() {
    color: $pink-rose;
}

@mixin button-share(){
    border-radius: 50%;
    height: 40px;
    position: relative;
    width: 40px;

    svg {
        display: block;
        left: 50%;
        margin-left: -8px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
    }
}

@mixin button-share-light(){
    background-color: $white;
    border: 1px solid $ballet-grey;
    fill: $ascot-grey;
}

@mixin button-share-light-hover(){
    border-color: $sapphire;
    fill: $sapphire;
}

@mixin button-share-dark(){
    background-color: transparent;
    fill: $sapphire;
}

@mixin button-share-dark-hover(){
    background-color: rgba($sapphire, 0.1);
}

@mixin button-top-stories() {
    background-color: $diamond;
    height: 50%;
    width: 60px;

    svg {
        height: 100%;
        width: 20px;
    }

    svg {
        fill: $stroller-grey;
    }
}

@mixin button-top-stories-hover() {
    svg {
        fill: $pink-rose;
    }
}

@mixin button-top-stories-disabled() {
    svg {
        fill: $ballet-grey;
    }
}