@import "@cnbritain/merlin-www-common:houseandgarden";
@import "@cnbritain/merlin-www-buttons:houseandgarden";
@import "@cnbritain/merlin-www-card-list:houseandgarden";
@import "@cnbritain/merlin-www-card:houseandgarden";

@import "../wireframe/wireframe";

.c-splash-section {
	margin-bottom: $MOBILE_SLICE_MARGIN;
	margin-top: $MOBILE_SLICE_MARGIN;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
	    margin-bottom: $TABLET_SLICE_MARGIN;
	    margin-top: $TABLET_SLICE_MARGIN;
	}

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
	    margin-bottom: $DESKTOP_SLICE_MARGIN;
	    margin-top: $DESKTOP_SLICE_MARGIN;
	}
}
.c-splash-section__wrapper {
	margin: 0 auto;
	max-width: $MAXIMUM_PAGE_WIDTH;
	position: relative;
	width: 100%;
}

.c-splash-hero {
	&:hover {
		.c-splash-hero__title {
  			span {
  				box-shadow: inset 0 -0.4em 0 0 $careys-pink;
  			}
		}
	}
}
.c-splash-hero__wrapper {
	position: relative;
}

.c-splash-hero__images {}
.c-splash-hero__image {}

.c-splash-hero__image__wrapper {
    background-color: $mercury;
    padding-top: 66.6666%;
    position: relative;

    @include at-medium-size {
        padding-top: 41.6666%;
    }
}

.c-splash-hero__content {
	margin: 0 auto;
	max-width: 700px;
	padding: 20px 20px 20px 20px;
	text-align: center;

	@include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
		padding: 40px;
	}
}

.c-splash-hero__tag {
	@include font("BRANDON GROTESQUE", 10px, 700, 10px);
	color: $mine-shaft;
	letter-spacing: 1px;
	margin-bottom: 7px;
	margin-top: 0;
	text-transform: uppercase;

	@include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
		margin-bottom: 15px;
	}
}

.c-splash-hero__title {
	@include font("MILLER_DISPLAY", 25px, 700, 27px);
	color: $mine-shaft;
	letter-spacing: 0.5px;
	margin: 7px 0 10px 0;

    @include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
    	@include font-size(50px);
    	@include line-height(55px);
    	letter-spacing: 0px;
    	margin: 15px 0 20px 0;
	}
}

.c-splash-hero__teaser {
	display: none;
}

.c-splash-hero__byline {
    @include font("BRANDON GROTESQUE", 10px, null, 10px);
    color: $mine-shaft;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;

    @include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
    	margin-bottom: 7px;
    	margin-top: 15px;
    }
}

.c-splash-hero__byline--sponsorship {}
.c-splash-hero__byline-prefix {}
.c-splash-hero__byline-name {
    @include font-weight(700);
}

ul.c-splash-hero__meta {
    @include font("BRANDON GROTESQUE", 0px, 400, 10px);
    color: $dove-gray;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: uppercase;

    @include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
    	margin-top: 7px;
    }
}

li.c-splash-hero__meta-item {
    @include font("BRANDON GROTESQUE", 10px, 400, 10px);
    color: $dove-gray;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-right: 1px solid $silver;
    margin-right: 7px;
    padding-right: 7px;

    &:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
}

.c-splash-list {
	margin: 0 $MOBILE_SIDE_GUTTER $MOBILE_SLICE_MARGIN $MOBILE_SIDE_GUTTER;
	padding-bottom: 30px;
	border-bottom: 1px solid $silver;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
	    margin-left: $TABLET_SIDE_GUTTER;
	    margin-right: $TABLET_SIDE_GUTTER;
	}

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
	    margin-left: $DESKTOP_SIDE_GUTTER;
	    margin-right: $DESKTOP_SIDE_GUTTER;
	}

}

.c-splash-list__wrapper {}
