@import "@cnbritain/merlin-www-common:houseandgarden";
@import "@cnbritain/merlin-www-card-list:houseandgarden";
@import "@cnbritain/merlin-www-card:houseandgarden";
@import "@cnbritain/merlin-www-buttons:houseandgarden";

@import '../wireframe/wireframe';

.c-magazine {
	background-color: $vanilla-ice;
}

.c-magazine__wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
	overflow: hidden;
	padding: $MOBILE_SLICE_MARGIN $MOBILE_SIDE_GUTTER;
	position: relative;

	@include tablet-size {
	    padding: $TABLET_SLICE_MARGIN $TABLET_SIDE_GUTTER;
	}

	@include desktop-size {
	    padding-left: $DESKTOP_SIDE_GUTTER;
	    padding-right: $DESKTOP_SIDE_GUTTER;
	}
}

.c-magazine__covers__wrapper {}
.c-magazine__cover--print {}
.c-magazine__cover--tablet {
	img {
		border-radius: 8px;
		bottom: 1px;
		padding: 16px 12px;

		@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
			border-radius: 15px;
			padding: 30px 20px;
			width: 40%;
		}
	}
}

.c-magazine__cover__image {
	img {
		background-color: $black;
	}
}

.c-magazine__title {
	@include font("BRANDON GROTESQUE", 10px, 700, 10px);
	color: $mine-shaft;
	margin-bottom: 20px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
		margin-bottom: 5px;
	}
}

.c-magazine__content {
	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
		padding-left: 12px;
	}
}

.c-magazine__content__title {
	@include font("BRANDON GROTESQUE", 10px, 700, 10px);
	color: $mine-shaft;
	margin-bottom: 5px;
	margin-top: 0;
	text-align: left;
	text-transform: uppercase;
}

.c-magazine__content__date {
	@include font("MILLER DISPLAY", 25px, 700, 27px);
	color: $mine-shaft;
	color: $mine-shaft;
	letter-spacing: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
		@include font-size(40px);
		@include line-height(43px);
		letter-spacing: 0px;
		margin-bottom: 30px;
		margin-top: 5px;
		text-align: left;
	}
}

.c-magazine__btn {
	@include button-single();
	@include button-single-light();
	margin-top: 30px;

	&:hover {
		@include button-single-light-hover();
	}
}