@import '@cnbritain/merlin-www-common:houseandgarden';
@import '../wireframe/wireframe';

.c-cookie-warning {
	background-color: $ebony-clay;
	padding: 20px 20px 40px 20px;

	@include at-x-large-size {
		padding: 20px 20px 30px 20px;
		width: 450px;
	}
}

.c-cookie-warning__message {
	@include font('MILLER_DISPLAY', 17px, 'BOLD', 19px);
	color: $white;
	margin: 0;

	a {
		color: inherit;
		border-bottom: 1px $white solid;
	}
}

.c-cookie-warning__table-cell--button {
	padding-left: 20px;
	vertical-align: top;
	width: 30px;
}

.c-cookie-warning__button {
	height: 30px;
	width: 30px;

	svg {
		fill: $silver-chalice;
		height: 30px;
		width: 30px;
	}
}