@import '@cnbritain/merlin-www-common:houseandgarden';
@import '../wireframe/wireframe';

.c-cookie-warning {
	background-color: $ebony-clay;
	padding: 20px 70px 40px 20px;

	@include at-medium-size {
		padding: 20px 70px 30px 20px;
	}
}

.c-cookie-warning__message {
	@include font('MILLER_DISPLAY', 17px, 'BOLD', 19px);
	color: $white;

	a {
		color: inherit;
		border-bottom: 1px $white solid;
	}
}

.c-cookie-warning__button {
	height: 30px;
	margin-right: 20px;
    margin-top: 20px;
	width: 30px;

	svg {
		fill: $silver-chalice;
		height: 30px;
		width: 30px;
	}
}