@import "@cnbritain/merlin-www-common:glamour_redux";

@import "../wireframe/wireframe";

.c-card-list {
    display: flex;
}

.c-card-list--c-curated,
.c-card-list--c-tag,
.c-card-list--c-video-articles {
    flex-direction: column;
    margin: -10px;

    .c-card-list__item {
        padding: 10px;
    }

    @include two-column-size() {
        flex-direction: row;
        flex-wrap: wrap;

        .c-card-list__item {
            width: 50%;
        }
    }

    @include four-column-size() {
        .c-card-list__item {
            width: 25%;
        }
    }
}

.c-card-list--tg-articles {
    flex-direction: column;
    margin: -10px;

    .c-card-list__item {
        padding: 10px;
    }
}