@import "@cnbritain/merlin-www-buttons:wireframe";
@import "@cnbritain/merlin-www-common:wireframe";
@import "@cnbritain/merlin-www-image:wireframe";

.c-masthead {
    display: none;

    @include at-medium-size {
        display: block;
    }
}

.c-masthead__wrapper {}

.c-masthead__logo {
    height: 60px;
    margin: 0 auto;
    width: 240px;

    svg,
    img {
        height: 100%;
        width: 100%;
    }
}

.c-nav {
    background-color: #fff;
    height: 60px;
    position: relative;
    width: 100%;
    z-index: 10;

    &.is-open {
        .c-nav__content {
            height: 100vh;
            overflow-y: scroll;
            position: fixed;
            top: 0;
            width: 100%;

            @include at-medium-size {
                height: 60px;
                overflow: initial;
                position: relative;
            }
        }
    }

    &.is-fixed {
        .c-nav__wrapper {
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.is-hidden {
        @include max-screen($MEDIUM_SIZE - 1px) {
            .c-nav__wrapper {
                top: -60px;
            }
        }
    }
}

.c-nav__search-checkbox {
    display: none;

    &:checked {
        & ~ .c-nav__content .c-nav__search {
            display: block;
        }

        & ~ .c-nav__search-icon .c-nav__open-icon {
            display: none;
        }

        & ~ .c-nav__search-icon .c-nav__close-icon {
            display: block;
        }
    }

    &:not(:checked) {
        & ~ .c-nav__search-icon .c-nav__open-icon {
            display: block;
        }

        & ~ .c-nav__search-icon .c-nav__close-icon {
            display: none;
        }
    }
}

.c-nav__search-icon {
    display: none;
    height: 60px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
    z-index: 1;

    svg {
        height: 100%;
        margin: 0 auto;
        width: 15px;
    }

    @include at-medium-size {
        display: block;
    }
}

.c-nav__toggle-checkbox {
    display: none;

    &:checked {
        & ~ .c-nav__content {
            height: 100vh;
            position: fixed;
            top: 0;
            width: 100%;

            @include at-medium-size {
                height: 60px;
                position: relative;
            }
        }

        & ~ .c-nav__toggle-icon .c-nav__open-icon {
            display: none;
        }

        & ~ .c-nav__toggle-icon .c-nav__close-icon {
            display: block;
        }
    }

    &:not(:checked) {
        & ~ .c-nav__toggle-icon .c-nav__open-icon {
            display: block;
        }

        & ~ .c-nav__toggle-icon .c-nav__close-icon {
            display: none;
        }
    }
}

.c-nav__toggle-icon {
    height: 60px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;
    z-index: 2;

    svg {
        height: 100%;
        margin: 0 auto;
        width: 15px;
    }

    @include at-medium-size {
        display: none;
    }
}

.c-nav__open-icon {
    height: 60px;
    width: 60px;

    &.is-hidden {
        display: none;
    }
}

.c-nav__close-icon {
    height: 60px;
    width: 60px;

    &.is-hidden {
        display: none;
    }
}

.c-nav__wrapper {
    background-color: #fff;
    height: 60px;
    margin: 0 auto;
    max-width: $XX_LARGE_SIZE;
    position: relative;
    width: 100%;

    @include max-screen($MEDIUM_SIZE - 1px) {
        transition: top 300ms;
        will-change: top;
    }

    &:before {
        background-color: #fff;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
    }
}

.c-nav__content {
    background-color: #fff;
    box-sizing: border-box;
    height: 60px;
    margin: 0 auto;
    max-width: $XX_LARGE_SIZE;
    overflow: hidden;
    padding-top: 60px;
    position: relative;
    width: 100%;

    @include max-screen($MEDIUM_SIZE - 1px) {
        &:before {
            background-color: #fff;
            content: '';
            height: 60px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    }

    @include at-medium-size {
        overflow: initial;
        padding-top: 0;
    }
}

.c-nav__top-stories {

    &.is-hidden {
        display: none;
    }
}

.c-nav__logo {
    height: 60px;
    left: 30px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 110px;
    z-index: 1;

    &.is-hidden {
        @include at-medium-size {
            svg,
            img {
                transform: translateY(100%);
            }
        }
    }

    svg,
    img {
        height: 100%;
        transition-duration: 300ms;
        width: 100%;
    }
}

.c-nav__search {
    height: 60px;
    position: relative;

    @include at-medium-size {
        display: none;
        position: absolute;
        top: 60px;
        width: 100%;

        &.is-hidden {
            display: none;
        }
    }
}

.c-nav__search-form {
    height: 60px;
}

.c-nav__search-input {
    appearance: none;
    border: none;
    height: 60px;
    outline: none;
    width: calc(100% - 60px);

    @include at-medium-size {
        width: 100%;
    }
}

.c-nav__search-button {
    appearance: none;
    border: none;
    height: 60px;
    outline: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 60px;

    svg {
        height: 100%;
        margin: 0 auto;
        width: 15px;
    }

    @include at-medium-size {
        display: none;
    }
}

.c-nav__main {}
.c-nav__main-list {
    font-size: 0;
    padding: 0;
    margin: 0;

    @include at-medium-size {
        text-align: center;
    }
}

.c-nav__main-list-item {
    position: relative;

    @include at-medium-size {
        display: inline-block;
    }
}

.c-nav__main-list-item--more {
    @include at-medium-size {
        &:hover {
            .c-nav__alt-list {
                display: block;
            }
        }
    }
}

.c-nav__main-link {
    display: block;
    font-size: initial;
    height: 60px;
    line-height: 60px;
}

.c-nav__main-link--more {
    display: none;

    @include at-medium-size {
        display: block;
    }
}

.c-nav__alt-list {
    font-size: 0;
    margin: 0;
    padding: 0;

    @include at-medium-size {
        background-color: #fff;
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        text-align: left;
        white-space: nowrap;
    }
}

.c-nav__alt-list-item {
    display: inline-block;
    position: relative;
    width: 50%;

    @include at-medium-size {
        display: block;
        width: 100%;
    }
}

.c-nav__alt-link {
    display: block;
    font-size: initial;
    height: 60px;
    line-height: 60px;
}

.c-nav__promo {
    @include at-medium-size {
        bottom: 60px;
        padding-left: 30px;
        position: absolute;
        z-index: -1;
    }
}
.c-nav__promo-wrapper {
    display: table;
    width: 100%;
}

.c-nav__promo-images {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.c-nav__promo-covers {
    font-size: 0;
    position: relative;
}

.c-nav__promo-cover {
    display: inline-block;
    font-size: initial;

    &:nth-child(1) {
        width: 85px;
    }

    &:nth-child(2) {
        background-color: #000;
        border-bottom: 8px solid #000;
        border-left: 4px solid #000;
        border-radius: 3px;
        border-right: 4px solid #000;
        border-top: 8px solid #000;
        width: 56px;
    }
}

.c-nav__promo-content {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.c-nav__promo-message {
    white-space: pre-line;
}

.c-nav__promo-button {}

.c-nav__social {
    @include at-medium-size {
        position: absolute;
        right: 60px;
        top: 0;
    }
}

.c-nav__social-list {
    font-size: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.c-nav__social-list-item {
    display: inline-block;
    position: relative;
}

.c-nav__social-list-item--follow {
    @include at-medium-size {
        &:hover {
            .c-nav__share-list {
                display: block;
            }
        }
    }
}

.c-nav__social-link {
    display: block;
    font-size: initial;

    @include at-medium-size {
        height: 60px;
        line-height: 60px;
    }
}

.c-nav__social-link--follow {
    display: block;
}

.c-nav__share-list {
    font-size: 0;
    margin: 0;
    padding: 0;

    @include at-medium-size {
        background-color: #fff;
        display: none;
        right: 0;
        position: absolute;
        top: 100%;
        text-align: center;
        white-space: nowrap;
    }
}

.c-nav__share-list-item {
    display: inline-block;
    position: relative;
}

.c-nav__share-list-item--newsletter {
    display: block;
}

.c-nav__share-link {
    display: block;
    font-size: initial;
    height: 40px;
    line-height: 40px;

    svg {
        height: 40px;
        margin: 0 auto;
        width: 40px;
    }
}

.c-nav__share-button {
    display: inline-block;
    font-size: initial;
}

.c-nav__gallery {
    background-color: #fff;
    bottom: 0;
    left: 140px;
    position: absolute;
    right: 60px;
    top: 0;
    z-index: 1;

    @supports (display: flex) {
        display: flex;
        justify-content: space-between;
    }

    &.is-hidden {
        display: none;
    }
}

.c-nav__gallery-title {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @supports not (display: flex) {
        right: 60px;
        position: absolute;
        left: 0;
    }
}

.c-nav__gallery-count {
    height: 60px;
    line-height: 60px;
    white-space: nowrap;

    @supports not (display: flex) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.c-nav__gallery-current {
    display: inline-block;
}

.c-nav__gallery-total {
    display: inline-block;
}

.c-nav__gallery-checkbox {
    display: none;

    &:checked {
        & ~ .c-nav__gallery-icon .c-nav__list-icon {
            display: none;
        }

        & ~ .c-nav__gallery-icon .c-nav__grid-icon {
            display: block;
        }
    }

    &:not(:checked) {
        & ~ .c-nav__gallery-icon .c-nav__list-icon {
            display: block;
        }

        & ~ .c-nav__gallery-icon .c-nav__grid-icon {
            display: none;
        }
    }
}

.c-nav__gallery-icon {
    height: 60px;
    position: absolute;
    right: -60px;
    text-align: center;
    top: 0;
    width: 60px;
    z-index: 2;

    svg {
        height: 100%;
        margin: 0 auto;
        width: 15px;
    }
}

.c-nav__list-icon {
    height: 60px;
    width: 60px;

    &.is-hidden {
        display: none;
    }
}

.c-nav__grid-icon {
    height: 60px;
    width: 60px;

    &.is-hidden {
        display: none;
    }
}