@import '@cnbritain/merlin-www-common:wireframe';
@import '@cnbritain/merlin-www-image:wireframe';

.c-gallery {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}

.c-gallery-wrapper {
    position: relative;
}

.c-gallery__link {
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.c-gallery__images {
    display: block;
    position: relative;
}

.c-gallery__image-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.c-gallery__image-item {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33333%;

    &:first-child {
        width: 66.66666%;
    }

    &:nth-last-child(2) {
        display: none;
    }
}

.c-gallery__image {
    position: relative;
    padding-top: 100%;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.c-gallery__image-remaining {
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 33.33333%;
}

.c-gallery__image-remaining__text {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.c-gallery__image-remaining__text-prefix {}
.c-gallery__image-remaining__text-value {}

.c-gallery__contents{
    display: block;
}

.c-gallery__contents-wrapper{}

.c-gallery__icon {
    width: 15px;
    height: 15px;
}
.c-gallery__icon--video {}

.c-gallery__tag {}

.c-gallery__title {}

.c-gallery__teaser {}

.c-gallery__byline{}
.c-gallery__byline-prefix{}
.c-gallery__byline-name{}
.c-gallery__byline--sponsored{}

.c-gallery__meta {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.c-gallery__meta-item {
    display: inline-block;
    font-size: initial;
}
.c-gallery__meta-item--tag{}
.c-gallery__meta-item--date{}
.c-gallery__meta-item--gallery{}


@include at-medium-size {

    .c-gallery-wrapper {
        display: table;
        vertical-align: middle;
        width: 100%;
    }

    .c-gallery__images {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

    .c-gallery__image-item {
        width: 25%;

        &:first-child {
            width: 75%;
        }

        &:nth-last-child(2) {
            display: block;
        }
    }

    .c-gallery__image-remaining {
        height: 33.33333%;
        width: 25%;
    }

    .c-gallery__contents{
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }

}
