@import "../wireframe/wireframe";

.c-superfeature {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }

    &:focus,
    &:hover {
        .c-superfeature__title,
        .c-superfeature__byline-name {
            @include card-text-links-hover();
        }
        .c-superfeature__image {
            // @include card-image-links-hover();
        }
    }
}

.c-superfeature__tag {
    @include c-card-primary-tag;
    margin-top: 0;
    margin-bottom: 8px;
}

.c-superfeature__byline {
    @include c-card-byline;
    margin-bottom: 14px;
    margin-top: $MARGIN_XX_SMALL;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        margin-bottom: $MARGIN_SMALL;
        margin-top: $MARGIN_X_SMALL;
    }

    @include transition(opacity 0.3s ease-in-out);
}

.c-superfeature__byline-prefix {
    @include c-card-byline-prefix;
    margin-right: 2px;
}

.c-superfeature__byline-name {
    @include c-card-byline-name;
}

.c-superfeature__content {
    background-color: $COLOUR_BG_PAGE;
    margin-left: $MOBILE_SIDE_GUTTER;
    margin-right: $MOBILE_SIDE_GUTTER;
    padding: $PADDING_SMALL $PADDING_LARGE $PADDING_LARGE $PADDING_LARGE;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: $TABLET_SIDE_GUTTER;
        margin-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        max-width: 760px;
        padding: $PADDING_LARGE $PADDING_X_LARGE 0 $PADDING_X_LARGE;
    }

    @include min-screen(1000px) {
        margin-left: auto;
        margin-right: auto;
    }

    position: relative;
    text-align: center;

    margin-top: -$MARGIN_LARGE;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        margin-top: -72px;
    }
}

.c-superfeature__teaser {
    display: none;
}

.c-superfeature__image {
    img {
        width: 100%;
    }

    @include transition(opacity 0.3s ease-in-out);
}

.c-superfeature__meta {
    display: inline-block;
    @include c-card-meta;

    .c-superfeature__meta-item {
        &:not(:last-child) {
            padding-right: 8px;
        }

        & + .c-superfeature__meta-item {
            border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
            padding-left: 8px;
        }

        &--tag {
            @include c-card-meta-tag;
        }
    }
}

.c-superfeature__separator {
    display: none;
}

.c-superfeature__title {
    @include font('ITC CASLON', 24px, null, 26px);
    margin: 0 0 $MARGIN_XX_SMALL 0;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(41px);
        @include line-height(45px);
        margin-bottom: $MARGIN_SMALL;
    }

    @include transition(opacity 0.3s ease-in-out);
}