@import '@cnbritain/merlin-www-common:houseandgarden';

@import '../wireframe/wireframe';

.c-figure__container {
    background-color: $advert-light;
    margin-bottom: 10px;
}

.c-figure__toolbar {
    bottom: 0;
    height: 60px;
    position: absolute;
    right: 0;
}

.c-figure__toolbar-listitem {
    background-color: $white;
    height: 60px;
    width: 60px;

    svg {
        width: 20px;
    }
}

@each $name, $color in $COLOUR_SOCIAL_LIGHT {
    .c-figure__toolbar-listitem--#{$name} {

        svg, path {
            fill: map-get($COLOUR_SOCIAL_LIGHT, $name);
        }

        &:hover,
        &:focus {
            background-color: map-get($COLOUR_SOCIAL_LIGHT, $name);

            svg, path {
                fill: $white;
            }
        }
    }
}

.c-figure__toolbar-listitem--more {
    svg, path {
        fill: $mine-shaft;
    }
}

.c-figure__toolbar-listitem--zoom {
    svg, path {
        fill: $mine-shaft;
    }

    &:hover,
    &:focus {
        background-color: $mine-shaft;

        svg, path {
            fill: $white;
        }
    }
}

.c-figure__title {
    @include font('MILLER_DISPLAY', 17px, null, 23px);
    color: $mine-shaft;
    margin: 0 0 5px 0;
    text-transform: uppercase;

     @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(19px);
        @include line-height(25px);
     }

    &:before {
        background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M1.09,20,10,16l8.91,4L10,0,1.09,20' fill='#000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        content: '';
        display: inline-block;
        height: 14px;
        margin: 0 10px 0 0;
        position: relative;
        top: 2px;
        width: 14px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            height: 16px;
            margin: 0 10px 0 0;
            width: 15px;
        }
    }
}

.c-figure__caption {
    @include font('MILLER_DISPLAY', 17px, null, 23px);
    color: $mine-shaft;
    margin-bottom: 20px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(19px);
        @include line-height(25px);
    }

    &.has-bbcode {
        > p {
            @include font-size(17px);
            @include line-height(23px);
            margin-bottom: 20px;

             @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
                @include font-size(19px);
                @include line-height(25px);
             }
        }
    }
}

.c-figure__credit {
    @include font('BRANDON GROTESQUE', 10px, 400);
    color: $dove-gray;
    letter-spacing: 1.5px;
    margin-top: 20px;
    text-transform: uppercase;
}

.c-figure__magnifier--full-screen {
    background-color: $advert-light;
}

.c-figure__magnifier-button {
    padding: 0;
    width: 60px;
    height: 60px;

    svg {
        width: 20px;
    }
}

.c-figure__magnifier-button--close {
    svg {
        border: 1px solid $white;
        fill: $white;
        stroke: $white;
    }
}

.c-figure__magnifier-button--zoom-in,
.c-figure__magnifier-button--zoom-out {
    svg {
        fill: $black;
        stroke: $black;
    }
}