@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-buttons:traveller";

@import "../wireframe/wireframe";

.c-newsletter {
    background-color: $CAPE-HAZE;
    background-image: url('/static/img/newsletter.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1440px auto;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 60px 0;
    position: relative;
    text-align: center;

    &:before {
        background-color: rgba($MUSTASAARI, 0.2);
        bottom: 0;
        content: '';
        height: 100%;
        left: 50%;
        max-width: $MAXIMUM_PAGE_WIDTH;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(-50%);
        width: 100%;

        @include at-medium-size {
            background-color: rgba($MUSTASAARI, 0.15);
        }
    }

    &:after {
        @include font("PROXIMA NOVA CONDENSED", 10px, 400, 12px);
        bottom: 4px;
        color: $WHITE;
        content: "Mirjam Bleeker";
        letter-spacing: 1px;
        position: absolute;
        right: 4px;
        text-transform: uppercase;
    }

    @include at-medium-size {
        padding: 80px 0;
    }
}

.c-newsletter-wrapper {
    margin: 0 auto;
    max-width: 570px;
    padding: 0 $MOBILE_SIDE_GUTTER;
    position: relative;
}

.c-newsletter__logo {
    display: none;
}

.c-newsletter__title {
    @include font("LULO ONE", 24px, 700, 28px, -35);
    color: $WHITE;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 0 0 16px rgba($MUSTASAARI, 0.1);
    text-transform: uppercase;

    @include at-medium-size {
        @include font-size(28px);
        @include line-height(32px);
        margin-bottom: 20px;
    }
}

.c-newsletter__description {
    @include font("PROXIMA NOVA CONDENSED", 14px, 400, 20px);
    color: $WHITE;
    letter-spacing: 1px;
    margin: 16px 0 24px 0;
    text-shadow: 0 0 16px rgba($MUSTASAARI, 0.2);

    @include at-medium-size {
        @include font-size(16px);
        margin: 20px 0 32px 0;
    }
}

.c-newsletter__form {
    @include font("PROXIMA NOVA CONDENSED", 14px, 400, 14px);
}

.c-newsletter__form-text {
    @include font("PROXIMA NOVA CONDENSED", 14px, 400, 14px);
    background: $WHITE;
    border-radius: 0;
    border: 1px solid $PORCELAIN;
    box-sizing: border-box;
    color: $MUSTASAARI;
    height: 60px;
    margin-bottom: 10px;

    &::placeholder {
        color: $RAVEN;
    }
}

.c-newsletter__form-btn {
    @include button-single-two();
    @include button-single-two-light();
    height: 60px;
    margin-bottom: 16px;
    text-transform: uppercase;

    &:focus,
    &:hover {
        @include button-single-two-light-hover();
    }

    @include at-medium-size {
        margin-left: 10px;
        margin-bottom: 24px;
    }
}

.c-newsletter__legal {
    @include font("PROXIMA NOVA CONDENSED", 12px, null, 14px);
    color: $WHITE;
    margin-bottom: 0;
    margin-top: 0;
}

.c-newsletter__privacy {
    color: $WHITE;
    border-bottom: 1px solid $WHITE;
}