@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-image:wired";

@import "../wireframe/wireframe";

.c-gallery {
    margin: $MOBILE_SLICE_MARGIN auto;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size{
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}

.c-gallery-wrapper {
    display: table;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include at-medium-size {
        direction: rtl;
    }

    &:hover,
    &:focus {
        .c-gallery__title span {
            text-decoration: underline;
        }
    }
}

.c-gallery__images {
    display: table-footer-group;

    @include at-medium-size {
        display: table-cell;
        direction: ltr;
    }
}

.c-gallery__image {
    background-color: #000;
}

.c-gallery__image-remaining {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: $white;
    height: 100%;
    top: 0;
    white-space: nowrap;

    @include at-medium-size {
        height: auto;
        top: 66.66%;
    }
}

.c-gallery__image-remaining__text-prefix {
    @include font("BRUTAL", 20px, 900);
    line-height: 100%;
    position: relative;
    top: -3px;
}

.c-gallery__image-remaining__text-value {
    @include font("BRUTAL", 30px, 900);
    line-height: 100%;
}

.c-gallery__image-item {
    &:first-child {
        width: 33.33333%;

        @include at-medium-size {
            width: 75%;
        }
    }
}

.c-gallery__contents {
    background-color: $black;
    color: $white;
    display: table-header-group;
    text-align: center;

    @include at-medium-size {
        display: table-cell;
        direction: ltr;
    }
}

.c-gallery__contents-wrapper {
    padding: 30px 20px;

    @include at-medium-size {
        padding: 40px;
    }
}

.c-gallery__icon {
    display: block;
    height: 20px;
    margin: 0 auto 20px auto;
    width: 20px;

    @include at-medium-size {
        margin-bottom: 30px;
    }

    svg {
        fill: $white;
    }
}

.c-gallery__title {
    @include font("NEW GROTESK SQUARE", 40px, 300, 40px);
    color: $white;
    margin: 0 auto 10px auto;

    @include at-medium-size {
        @include font-size(45px);
        @include line-height(45px);
    }
}

.c-gallery__teaser {
    @include font("BRUTAL", 15px, null, 17px);
    color: $white;
    display: none;
    margin: 10px auto;

    @include at-x-large-size {
        display: block;
    }
}

.c-gallery__separator {
    border-color: $white;
    margin: 10px auto;
    width: 20px;

    @include at-medium-size {
        margin: 20px auto;
        width: 30px;
    }
}


.c-gallery__byline {
    color: $white;
    line-height: 1em;
    margin-bottom: 5px;
    margin-top: 12px;
}

.c-gallery__byline-prefix {
    @include font("EXCHANGE WEB", 11px);
    font-style: italic;
    margin-right: 3px;
}

.c-gallery__byline-name {
    @include font("BRUTAL", 11px, 700);
    text-transform: uppercase;
}

.c-gallery__meta {
    color: $white;
    font-size: 0;
    margin-top: 5px;
}

.c-gallery__meta-item {
    @include font("EXCHANGE WEB", 11px, 400, 17px);
    padding-right: 10px;

    & + .c-gallery__meta-item {
        border-left: 1px solid $black-olive;
        padding-left: 10px;
    }
}
