@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-image:wired";

@import "../wireframe/wireframe";

.c-gallery {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-top: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
    }

    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}

.c-gallery__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-gallery__images {}
.c-gallery__text {
    background-color: #fff;
    padding: 40px 20px;
    position: relative;
    text-align: center;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding: 40px;
    }
}

.c-gallery__icon {
    display: none;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        // TODO: Display icon at any point?
    }
}

.c-gallery__tag {
    display: none;
}

.c-gallery__title {
    @include font("NEW GROTESK SQUARE", 40px, 300, 40px);
    margin-bottom: 10px;
    margin-top: 0px;
    @include min-screen($CARD_LIST_4_COLUMN_BREAKPOINT) {
        @include font-size(45px);
        @include line-height(45px);
        margin-bottom: 20px;
    }
}

.c-gallery__teaser {
    display: none;
    @include min-screen($CARD_LIST_4_COLUMN_BREAKPOINT) {

    }
}

.c-gallery__separator {
    display: none;
}

.c-gallery__byline {
    @include font-size(11px);
    @include line-height(11px);
    margin-bottom: 5px;
    margin-top: 10px;
}

.c-gallery__byline-prefix {
    @include font("EXCHANGE WEB", 11px, null, 11px);
    font-style: italic;
}

.c-gallery__byline-name {
    @include font("BRUTAL", 11px, 700, 11px);
    text-transform: uppercase;
}

.c-gallery__meta {
    font-size: 0;
    margin-top: 5px;

    li.c-gallery__meta-item {
        @include font("EXCHANGE WEB", 11px, 400, 12px);
        padding-right: 10px;

        & + li.c-gallery__meta-item {
            border-left: 1px solid #000;
            padding-left: 10px;

            &:before {

            }
        }
    }
}
