.c-infobar {}
.c-infobar-wrapper {
    background-color: $white;
    border-bottom: 1px solid $loot-box;
}

.c-infobar__content {
    padding: 12px 20px;
}

.c-infobar__message {
    @include font("ADOBE CASLON", 17px, 400, 17px);
    color: $dove-gray;
    text-align: center;
}

.c-infobar__button {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }

    margin: 12px 0 0 0;
    padding: 11px;

    @include at-x-large-size {
        margin: 0 0 0 20px;
    }
}

.c-infobar__close-button {
    border-radius: 50%;
    border: 1px solid $black;
    padding: 6px;

    svg {
        fill: $black;
    }
}