@import '@cnbritain/merlin-www-common:brides';
@import '@cnbritain/merlin-www-bbcode:brides';

@import '../wireframe/wireframe';

.c-figure {
    margin: 0 0 44px 0;

    @include desktop-size {
        margin-bottom: 68px;
    }
}

.c-figure__container {
    background-color: $diamond;
    margin-bottom: 22px;

    @include desktop-size {
        margin-bottom: 34px;
    }
}


.c-figure__toolbar-list {
    font-size: 0;
}

.c-figure__toolbar-listitem {
    background-color: rgba($black, 0.75);
    border-radius: 50%;
    height: 44px;
    margin-left: 8px;
    width: 44px;

    svg {
        fill: $white;
        width: 16px;
    }
}

.c-figure__title {
    @include font('FREIGHT DISPLAY PRO', 32px, 'NORMAL', 32px);
    box-shadow: inset 0 -0.25em 0 0 $white,
                inset 0 -0.65em 0 0 $champagne;
    color: $stroller-grey;
    display: inline;
    font-style: italic;
    letter-spacing: 0.01em;
}

.c-figure__caption {
    & :last-child {
        margin-bottom: 0;
    }
}

.c-figure__title + .c-figure__caption {
    margin-top: 10px;

    @include desktop-size {
        margin-top: 16px;
    }
}

.c-figure__credit {
    @include font('SOLEIL', 9px, null, 12px);
    color: $candle-grey;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
}

.c-figure__title + .c-figure__credit,
.c-figure__caption + .c-figure__credit {
    margin-top: 16px;
}

.c-figure__magnifier--full-screen {
    background-color: $diamond;
}

.c-figure__magnifier-button {
    background-color: rgba($black, 0.75);
    border-radius: 50%;
    height: 44px;
    margin-bottom: 8px;
    width: 44px;

    svg {
        width: 16px;
    }

    path {
        fill: $white;
        stroke: $white;
    }
}

.c-figure__magnifier-toolbar {
    right: 16px;
    top: 16px;
}
