.c-card {
    color: $COLOUR_MAIN;

    &:hover {
        .c-card__title {
            text-decoration: underline;
        }
        .c-card__image:after {
            opacity: 0.1;
        }
    }
}

.c-card__image {
    background: $COLOUR_BG_SECONDARY;
    margin-bottom: 20px;

    &:after {
        background-color: $COLOUR_BG_DARK;
        @include transition(opacity 0.3s ease-in-out);
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.c-card__image__icon {
    background-color: $COLOUR_CARD_ICON_BACKGROUND;
    bottom: 0;
    height: 40px;
    left: 0;
    line-height: 40px;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 40px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: 18px;
    }

    path {
        fill: $COLOUR_CARD_ICON;
    }

}

.c-card__image__icon--gallery {
    path {
        shape-rendering: crispEdges;
    }
}

.c-card__title {
    @include title-card-portrait;
}

.c-card__teaser {
    @include font('GRAPHIK', 15px, $line-height: 19px);

    margin: 0 0 15px;
}

.c-card__separator {
    display: none;
}

.c-card__sponsor {
    @include font-size(13px);
    @include line-height(15px);
    margin: 10px 0;
}

.c-card__sponsor-label {
    @include font('GRAPHIK', 12px);
    font-style: italic;
}

.c-card__sponsor-title {
    @include font('GRAPHIK', 12px, 600);
    font-style: normal;
    text-transform: uppercase;
}

.c-card__rating {
    @include font('GRAPHIK', 11px, 'SEMI BOLD', 12px);
    margin-bottom: 10px;

    li {
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;

        &.c-card__rating-label {
            margin: 0;

            @include min-screen($CARD_SWITCHER_WIDTH) {
                margin: 0 0 0 5px;
            }
        }
    }
}

.c-card__rating-mark {
    background-color: $COLOUR_MAIN_DARK;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px $COLOUR_MAIN_HIGHLIGHT, 0 0 0 1px $COLOUR_MAIN_HIGHLIGHT;
    height: 8px;
    width: 8px;
}

.c-card__rating-mark--fill {
    background-color: $COLOUR_MAIN_HIGHLIGHT;
    box-shadow: none;
}


.c-card__byline {
    @include byline;

    margin-bottom: 3px;

    @include desktop-size {
        margin-bottom: 7px;
    }
}

.c-card__byline-prefix {
    @include byline-prefix;
}

.c-card__byline-name {
    @include byline-name;
}

.c-card__meta {
    @include meta-default;
    line-height: 17px;
}

// Need to be specific to overwrite global__list-reset
li.c-card__meta-item {
    @include global-meta-item;
}

// .c-card__meta-item--date {}
.c-card__meta-item--tag {
    @include meta-item-tag;
}

.c-card__meta-item--gallery {
    svg {
        height: 10px;
        margin-bottom: 3px;
        margin-right: 2px;
        vertical-align: middle;
        width: auto;
    }

    path {
        fill: $COLOUR_MAIN;
    }
}

.c-card__meta-item--duration {
    svg {
        height: 9px;
        margin-right: 3px;
        width: auto;
    }

    path {
        fill: $COLOUR_MAIN_SECONDARY;
    }
}

.c-card__meta-item--live {
    span {
        @include font-size(13px);

        padding-right: 2px;
        vertical-align: middle;
    }
}

.c-card__more {
    @include font('GRAPHIK', 13px, 'SEMI BOLD');

    margin: 15px 0 0;
}

.c-card__tag {
    @include font('GRAPHIK', 13px, 'NORMAL', 18px, 20);
    color: $COLOUR_MAIN;
    margin-bottom: 10px;
}