// -------------------- //
// Magazine
// -------------------- //
@mixin card-magazine() {
    @include card-portrait;
    .c-card__image {
        margin-bottom: 15px;
    }

    .c-card__title {
        @include font('GRAPHIK', 15px, 400, null, 20);

        margin: 15px 0 0;
        padding-bottom: 0;
    }

    &:hover {
        .c-card__title {
            text-decoration: none;
            border-bottom: 1px solid $COLOUR_BORDER_SOLID;
            padding-bottom: 15px;
        }
    }
}
@mixin card-magazine-small() {
    @include card-portrait-small;
}
@mixin card-magazine-large() {
    @include card-portrait-large;
    .c-card__title {
        @include font-size(17px);
        padding-bottom: 20px;
    }
}

.c-card--magazine {
    @include card-magazine;
    @include card-magazine-small;
    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include card-magazine-large;
    }
}

.c-card--magazine-small {
    @include card-magazine;
    @include card-magazine-small;
}

.c-card--magazine-large {
    @include card-magazine;
    @include card-magazine-large;
}
