@import './_variables';
@import './_mixins';
@import './_fonts';

@import "../wireframe/_defaults";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: $COLOUR_BG;
    height: 100%;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}