@import '../wireframe/_defaults';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $COLOUR_BG;
    margin: 0;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased; // ಠ_ಠ
}

a {
    color: $COLOUR_TYPE_LINK;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

// a {
//     color: $COLOUR_TYPE_LINK;
//     text-decoration: none;
//     border-bottom: 1px solid rgba(224, 59, 42, 0.8);

//     @include min-screen($TYPE_LARGE_COPY_WIDTH) {
//         border-bottom: 1px solid $black;
//         transition: border .16s ease;

//         &:hover {
//             border-bottom: 1px solid rgba(224, 59, 42, 0.8);
//         }
//     }
// }

abbr {}

blockquote {

}
.blockquote__separator {}
.blockquote__credit {}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font('STARLING');

    color: $COLOUR_TYPE_HEADING;
    font-variant-ligatures: common-ligatures; // let's get ligatured
    line-height: 1.2;
    margin: $MARGIN_MEDIUM 0 $MARGIN_SMALL 0;
}

@each $level, $heading in $HEADINGS {
    %h-#{$level} {
        @include font(
            'STARLING',
            map-get($heading, small),
            map-get($heading, weight),
            map-get($heading, small-line-height)
        );

        @media (min-width: 600px) {
            @include font(
                'STARLING',
                map-get($heading, large),
                map-get($heading, weight),
                map-get($heading, large-line-height)
            );

            letter-spacing: map-get($heading, letter-spacing);
        }
    }

    #{map-get($heading, h)}, .h-#{$level} {
        @extend %h-#{$level};
    }
}

figure {
    margin: 0;
}

hr {
    border-top: 1px solid $COLOUR_BORDER_SOLID;
    height: 0;
    margin: 15px 0;
}

input {
    // TODO:: Do the input...
}

mark {
    background: $COLOUR_BG_HIGHLIGHT;
}

p {
    @include font('STARLING', 18px, 'NORMAL', 25px);

    color: $COLOUR_TYPE_BODY;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font('STARLING', 18px, 'NORMAL', 28px);
    }
}

pre {
    @include font-size(17px);
    @include line-height(20px);

    border: 1px solid #979797;
    color: $boulder;
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 20px;
    white-space: pre-wrap;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px;
    }

}

q {
    @include font('STARLING', 25px, 'BOLD', 30px);

    color: $COLOUR_MAIN_ACCENT;
    display: block;
    text-align: center;
    font-style: italic;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(30px);
        @include line-height(38px);
    }
}

.quote__separator {}
.quote__credit {}

small {}

ul, ol {
    @include font('AGENDA');
    @include font-size(15px);
    @include line-height(22px);

    color: $COLOUR_TYPE_BODY;
    list-style-type: none;
    margin: 30px 0;
    padding: 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(22px);

        margin: 60px 0;
        padding: 0 20px;
    }

    li {
        position: relative;
        margin: 1em 0;
    }
}

ul {
    li {
        padding-left: 20px;
        letter-spacing: .3px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            padding-left: 20px;
        }

        &:before {
            background: $COLOUR_MAIN_HIGHLIGHT;
            border-radius: 50%;
            content: '';
            display: block;
            height: 8px;
            left: 0;
            position: absolute;
            top: 7px;
            width: 8px;
        }
    }
}

ol {
    counter-reset: section;

    li {
        padding-left: 40px;
        margin: 1em 0;
        letter-spacing: .3px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            padding-left: 45px;
        }

        &:before {
            @include font('AGENDA', 16px, 'BOLD', 23px);

            border-radius: 50%;
            border: 1px solid $COLOUR_MAIN_HIGHLIGHT;
            color: $COLOUR_MAIN_HIGHLIGHT;
            content: counter(section);
            counter-increment: section;
            display: block;
            height: 25px;
            left: 0;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 25px;
            vertical-align: middle;

            @include min-screen($TYPE_LARGE_COPY_WIDTH) {
                @include font-size(16px);

                height: 30px;
                line-height: 30px;
                width: 30px;
            }
        }
    }
}

pre {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
}

code {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    display: inline;
}
