@import '@cnbritain/merlin-www-common:wired';
@import '@cnbritain/merlin-www-buttons:wired';
@import '../wireframe/wireframe';

.a-marketing-card {
    background-color: $white-smoke;
    padding: 20px;

    @include at-medium-size {
        padding: 40px 0;
        text-align: left;
    }
}

.a-marketing-card__header {
    @include at-medium-size {
        vertical-align: top;
        width: 120px;
    }
}

.a-marketing-card__body {
    @include at-medium-size {
        width: auto;
    }
}

//brand
.a-marketing-card__brand {
    @include font('EXCHANGE WEB', 12px, 'NORMAL', 17px);
    font-style: italic;
    margin-bottom: 30px;
    text-align: left;

    a {
        @include font-size(13px);
        @include font-weight('SEMI BOLD');
        color: $black;
        letter-spacing: 0.02em;
    }

    @include at-medium-size {
        margin-bottom: 0;
        text-align: left;
    }

}

.a-marketing-card--brand .a-marketing-card__header {
    @include at-medium-size {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.a-marketing-card--brand .a-marketing-card__body {
    @include at-medium-size {
        padding-left: 40px;
        border-left: 1px solid #eaeaea;
    }
}

.a-marketing-card__brand__img {
    margin: 10px 0 30px 0;
    max-width: 120px;

    @include at-medium-size {
        margin: 10px auto 0 auto;
    }
}

//event
.a-marketing-card--event .a-marketing-card__header {
    @include at-medium-size {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.a-marketing-card--event .a-marketing-card__header {
    @include at-medium-size {
        border-left: 1px solid #eaeaea;
    }
}

//topic
.a-marketing-card--topic .a-marketing-card__header {
    @include at-medium-size {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.a-marketing-card--topic .a-marketing-card__header {
    @include at-medium-size {
        border-left: 1px solid #eaeaea;
    }
}

//magazine
.a-marketing-card__magazine {
    margin: 0 auto 30px auto;
    text-align: center;
    width: 150px;

    @include at-medium-size {
        margin: 0;
        width: 210px;
    }
}

.a-marketing-card--magazine .a-marketing-card__header {


    @include at-medium-size {
        padding-left: 40px;
        padding-right: 40px;
        vertical-align: top;
        width: 230px;
    }
}

.a-marketing-card--magazine .a-marketing-card__body {
    @include at-medium-size {
        padding-left: 40px;
        padding-right: 40px;
        vertical-align: top;
        width: auto;
    }
}

.a-marketing-card__magazine__cover--print {
    margin-left: -48px;
    width: 70%;

    @include at-medium-size {
        margin-left: 0;
    }
}

.a-marketing-card__magazine__cover--tablet {
    background: none;
    background-color: $black;
    padding: 11px 8px;
    width: 72px;

    @include at-medium-size {
        padding: 15px 10px;
        width: 100px;
    }
}

.a-marketing-card__magazine__cover--mobile {
    background: none;
    background-color: $black;
    border-radius: 4px;
    margin-bottom: 0;
    margin-left: -35px;
    padding: 13px 4px;
    width: 40px;

    @include at-medium-size {
        margin-left: -37px;
        padding: 17px 5px;
        width: 46px;
    }
}

//marketing
.a-marketing-card__title {
    @include font('EXCHANGE WEB', 17px, 'SEMI BOLD', 22px);
    margin: 20px 0;
    text-align: left;

    @include at-medium-size {
        @include font-size(19px);
        @include line-height(27px);
        margin-top: 0;
    }
}

.a-marketing-card__desc {
    @include font('BRUTAL', 16px, 'NORMAL', 21px);
    margin: 20px 0;
    text-align: left;

    &:before {
        background-color: $black;
        content: '';
        display: block;
        height: 1px;
        margin: 20px 0;
        width: 20px;
    }

    @include at-medium-size {
        @include font-size(17px);
        @include line-height(23px);
    }
}

a.a-marketing-card__link {
    @include button-single();
    @include button-single-light();
    box-sizing: border-box;
    @include font-size(12px);
    height: 40px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    width: 100%;

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }

    @include at-medium-size {
        text-align: center;
        width: auto;
    }
}