.a-marketing-card {
    background: $wild-sand;
    margin: $MARGIN_SMALL 0;
    padding: 30px 20px;
    @include tablet-size {
        padding: 30px 40px;
    }
}

.a-marketing-card--brand {}
.a-marketing-card--event {}
.a-marketing-card--topic {}
.a-marketing-card--magazine {
    .a-marketing-card__col {
        text-align: center;

        @include tablet-size {
            text-align: left;
        }
    }
}

.a-marketing-card__brand {}
.a-marketing-card__brand__img {}
.a-marketing-card__brand__name {}
.a-marketing-card__brand__prefix {}

.a-marketing-card__col {
    text-align: center;
}

.a-marketing-card--brand .a-marketing-card__col,
.a-marketing-card--event .a-marketing-card__col {}

.a-marketing-card__desc {}

.a-marketing-card__magazine {
    margin: 0 auto $MARGIN_SMALL auto;
    width: 230px;

    @include tablet-size {
        margin-bottom: 0;
    }
}

.a-marketing-card__magazine__cover {
    display: inline-block;
}
.a-marketing-card__magazine__cover--print {
    width: 110px;
    @include tablet-size {
        width: 140px;
    }
}
.a-marketing-card__magazine__cover--desktop {}
.a-marketing-card__magazine__cover--tablet {
    background-color: $black;
    background-image: none;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px rgba(48, 48, 48, 1);
    margin-left: -50px;
    padding: 12px 6px;
    position: static;
    width: 85px;

    @include tablet-size {
        margin-left: -50px;
        padding: 12px 6px;
        width: 107px;
    }
}

.a-marketing-card__magazine__cover--mobile {
    display: none;
}

.a-marketing-card__link {
    @include button-single;
    @include button-single-light;

    &:hover,
    &:focus {
        @include button-single-light-hover;
    }

}

.a-marketing-card__title {
    @include font('STARLING', 16px, 'NORMAL', 22px);

    color: $black-two;
    margin-top: 20px;

    @include tablet-size {
        @include font('STARLING', 21px, 'NORMAL', 26px);
        margin-top: 0;
    }
}
