@import '@cnbritain/merlin-www-common:gq';
@import '@cnbritain/merlin-www-buttons:gq';

@import '../wireframe/wireframe';

.a-marketing-card {
    background-color: $white;
    border: 1px solid $bon-jour;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
    margin: 40px 0;
    padding: 40px 20px;

    @include at-medium-size {
        padding: 0;
    }
}

.a-marketing-card__header {
    text-align: center;

    @include at-medium-size {
        padding: 40px;
        vertical-align: top;
    }
}

.a-marketing-card__body {
    text-align: center;

    @include at-medium-size {
        padding: 40px;
        text-align: left;
    }
}

//brand
.a-marketing-card__brand {
    margin-bottom: 24px;
    text-transform: uppercase;

    @include at-medium-size {
        margin-bottom: 0;
    }
}

.a-marketing-card--brand .a-marketing-card__header {
    @include at-medium-size {
        width: 38%;
    }
}

.a-marketing-card--brand .a-marketing-card__body {
    @include at-medium-size {
        border-left: 1px solid $bon-jour;
    }
}

.a-marketing-card__brand__prefix {
    @include font("GOTHAM", 9px, 400, 16px, 60);
    margin-bottom: 16px;

    @include at-medium-size {
       margin-bottom: 0;
    }
}

.a-marketing-card__brand__img {
    margin: 0 auto;
}

.a-marketing-card__brand__name {
    @include font("GOTHAM", 17px, 700, 20px, 60);

    a {
        color: inherit;
    }
}

//event
.a-marketing-card--event .a-marketing-card__header {
    margin-bottom: 24px;

    @include at-medium-size {
        width: 38%;
    }
}

.a-marketing-card--event .a-marketing-card__body {
    @include at-medium-size {
        border-left: 1px solid $bon-jour;
    }
}

//topic
.a-marketing-card--topic .a-marketing-card__header {
    @include at-medium-size {
        width: 38%;
    }
}

.a-marketing-card--topic .a-marketing-card__body {
    @include at-medium-size {
        border-left: 1px solid $bon-jour;
    }
}

//magazine
.a-marketing-card__magazine {
    margin: 0 auto 24px auto;

   @include at-medium-size {
        margin-bottom: 0;
    }
}

.a-marketing-card--magazine .a-marketing-card__header {
    @include at-medium-size {
        padding-right: 20px;
    }
}

.a-marketing-card--magazine .a-marketing-card__header {
    @include at-medium-size {
        padding-left: 20px;
    }
}

.a-marketing-card__magazine__cover--mobile {
    background-image: none;
    display: none;
}

.a-marketing-card__magazine__cover--tablet {
    background-color: $black;
    background-image: none;
    border-radius: 4px;
    bottom: 1px;
    box-shadow: 0px 0px 0px 1px rgba(48, 48, 48, 1);
    padding: 12px 4px;
    position: absolute;
    right: 0;
    width: 44%;

   @include at-medium-size {
        padding: 14px 5px;
    }
}

.a-marketing-card__magazine__cover--print {
    width: 72%;
}

//marketing
.a-marketing-card__title {
    @include font("GOTHAM", 14px, 500, 20px, -4);
    color: $woodsmoke;
    margin: 0 0 24px 0;
}

.a-marketing-card__desc {
    @include font("GOTHAM", 14px, 400, 20px, -10);
    margin-bottom: 28px;
}

.a-marketing-card__link {
    @include button-single();
    @include button-single-light();

    &:hover,
    &:focus{
        @include button-single-light-hover();
    }
}

