// -------------------- //
// /Contributor
// -------------------- //
@mixin card-contributor() {
    .c-card__obj__header,
    .c-card__obj__body {
        vertical-align: middle;
    }

    .c-card__image {
        border-radius: 50%;
        overflow: hidden;

        img {
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

@mixin card-contributor-small() {
    .c-card__obj__header {
        width: 60px;
    }

    .c-card__obj__body {
        width: auto;
    }
}

@mixin card-contributor-large() {
    .c-card__obj__header {
        margin: 0 auto;
        width: 215px;
    }

    .c-card__obj__body {
        text-align: center;
    }
}

.c-card--contributor {
    @include card-landscape();
    @include card-landscape-small();

    @include card-contributor();
    @include card-contributor-small();

    @include min-screen($CARD_SWITCHER_WIDTH) {
        .c-card__obj__header,
        .c-card__obj__body {
            display: block;
            padding: 0;
            width: auto;
        }

        @include card-portrait();
        @include card-portrait-large();

        @include card-contributor-large();
    }
}

.c-card--contributor-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-contributor();
    @include card-contributor-small();
}

.c-card--contributor-large {
    @include card-portrait();
    @include card-portrait-large();

    @include card-contributor();
    @include card-contributor-large();
}