// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {
    .c-card__image--custom {
        padding-top: 135.8064516%;
    }

    .c-card__title {
        text-align: center;
        text-transform: uppercase;
    }

    .c-card__separator {
        display: none;
    }

    &:hover {
        .c-card__title {
            span {
                border-bottom: 2px solid $careys-pink;
                box-shadow: none;
            }
        }
    }
}

@mixin card-cover-small() {
    .c-card__title {
        @include font("BRANDON GROTESQUE", 12px, 700, 11px);
        color: $mine-shaft;
        letter-spacing: 1px;
        margin: 10px 0 0 0;
    }
}

@mixin card-cover-large() {
    .c-card__title {
        @include font-size(15px);
        @include line-height(17px);
        margin-top: 15px;
    }
}

.c-card--cover {
    @include card-cover();
    @include card-cover-small();

    @include at-x-large-size {
        @include card-cover-large();
    }
}

.c-card--cover-small {
    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-cover();
    @include card-cover-large();
}
