// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {
    .c-card__image--custom {
        padding-top: 135.8064516%;
    }

    .c-card__title {
        text-align: center;
        text-transform: uppercase;
    }
}

@mixin card-cover-small() {
    .c-card__title {
        @include font-size(11px);
        @include line-height(11px);
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@mixin card-cover-large() {
    .c-card__title {
        @include font-size(17px);
        @include line-height(17px);
        margin-bottom: 16px;
        margin-top: 16px;
    }
}

.c-card--cover {
    @include card-portrait();
    @include card-portrait-large();

    @include card-cover();
    @include card-cover-small();

    @include min-screen($CARD_LIST_4_COLUMN_BREAKPOINT) {
        @include card-cover-large();
    }
}

.c-card--cover-small {
    @include card-portrait();
    @include card-portrait-large();

    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-portrait();
    @include card-portrait-large();

    @include card-cover();
    @include card-cover-large();
}