// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {
    .c-card__title {
        text-align: center;
        text-transform: uppercase;
    }

    .c-card__separator {
        display: none;
    }
}

@mixin card-cover-small() {
    .c-card__title {
        @include font("BRANDON GROTESQUE", 11px, 700, 11px);
        color: $mine-shaft;
        letter-spacing: 1px;
        margin: 10px 0 0 0;
    }
}

@mixin card-cover-large() {
    .c-card__title {
        @include font-size(17px);
        @include line-height(17px);
        margin-top: 15px;
    }
}

.c-card--cover {
    @include card-cover();
    @include card-cover-small();

    @include min-screen($CARD_LIST_4_COLUMN_BREAKPOINT) {
        @include card-cover-large();
    }
}

.c-card--cover-small {
    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-cover();
    @include card-cover-large();
}