// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {
    .c-card__title {
        @include font-family('BRANDON GROTESQUE');
        text-align: center;
        text-transform: uppercase;
    }
    .c-card__image--custom {
        padding-top: 135.8064516%;
    }
}

@mixin card-cover-small() {
    .c-card__title {
        @include font-size(11px);
        @include line-height(11px);

        font-weight: bold;
        letter-spacing: 2px;
        margin: 11px 0 0 0;
    }
}

@mixin card-cover-large() {
    .c-card__title {
        @include font-size(17px);
        @include line-height(17px);

        letter-spacing: 1px;
        margin: 17px 0 0 0;
    }
}

.c-card--cover {
    @include card-portrait();
    @include card-portrait-large();

    @include card-cover();
    @include card-cover-small();

    @include min-screen($CARD_LIST_4_COLUMN_BREAKPOINT) {
        @include card-cover-large();
    }
}

.c-card--cover-small {
    @include card-portrait();
    @include card-portrait-large();

    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-portrait();
    @include card-portrait-large();

    @include card-cover();
    @include card-cover-large();
}