@import '@cnbritain/merlin-www-common:houseandgarden';

.c-card--dark {
    .c-card__image__icon {
        background-color: $ebony-clay;

        svg {
            fill: $white;
        }
    }
    .c-card__tag,
    .c-card__title,
    .c-card__byline,
    .c-card__teaser {
        color: $white;
    }
    ul.c-card__meta,
    li.c-card__meta-item {
        color: $silver-chalice;
    }

    &:hover {
        .c-card__title span {
            box-shadow: inset 0 -0.4em 0 0 $trout;
        }
    }
}
