// -------------------- //
// Magazine
// -------------------- //
@mixin card-magazine() {
    .c-card__title {
        margin-top: 0;
    }
}
@mixin card-magazine-small() {
    .c-card__title {
        margin-top: 0;
    }
}
@mixin card-magazine-large() {
    .c-card__obj__header,
    .c-card__obj__body {
        vertical-align: top;
    }

    .c-card__obj__header {
        width: 70px;
    }

    .c-card__obj__body {
        width: auto;
    }

    .c-card__title {
        margin-top: 0;

        @include at-x-large-size {
            @include font-size(21px);
            @include line-height(24px);
        }
    }
}

.c-card--magazine {
    @include card-landscape();
    @include card-landscape-small();

    @include card-magazine();
    @include card-magazine-small();

    @include at-medium-size {
        @include card-magazine-large();
    }

    &:hover {
        .c-card__title {
            span {
                box-shadow: inset 0 1em 0 0 $careys-pink;
            }
        }
    }
}

.c-card--magazine-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-magazine();
    @include card-magazine-small();
}

.c-card--magazine-large {
    @include card-landscape();
    @include card-landscape-small();

    @include card-magazine();
    @include card-magazine-large();
}