// -------------------- //
// Tag Article
// -------------------- //
@mixin card-tg-article() {}
@mixin card-tg-article-small() {}
@mixin card-tg-article-large() {
    .c-card__teaser {
        @include font("PROXIMA NOVA CONDENSED", 16px, 400, 20px);
        color: $RAVEN;
        display: block;
        letter-spacing: 1px;
        margin-top: 24px;
    }
}

.c-card--tg-article {
    @include card-landscape();
    @include card-landscape-small();

    @include card-tg-article();
    @include card-tg-article-small();

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include card-landscape-large();
        @include card-tg-article-large();
    }
}

.c-card--tg-article-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-tg-article();
    @include card-tg-article-small();
}

.c-card--tg-article-large {
    @include card-landscape();
    @include card-landscape-large();

    @include card-tg-article();
    @include card-tg-article-large();
}