// -------------------- //
// Top Stories
// -------------------- //
@mixin card-top-stories() {
    .c-card__obj__header,
    .c-card__obj__body {
        vertical-align: middle;
    }

    .c-card__image {
        border-radius: 50%;
        overflow: hidden;

        img {
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

@mixin card-top-stories-small() {
    .c-card__obj__header {
        width: 85px;
    }

    .c-card__obj__body {
        width: auto;
    }
}

@mixin card-top-stories-large() {

}

.c-card--top-stories {
    @include card-landscape();
    @include card-landscape-small();

    @include card-top-stories();
    @include card-top-stories-small();
}

.c-card--top-stories-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-top-stories();
    @include card-top-stories-small();
}

.c-card--top-stories-large {
    @include card-landscape();
    @include card-landscape-small();

    @include card-top-stories();
    @include card-top-stories-large();
}