@import '@cnbritain/merlin-www-common:wireframe';
@import '@cnbritain/merlin-www-image:wireframe';
@import '@cnbritain/merlin-www-buttons:wireframe';
@import '@cnbritain/merlin-www-card:wireframe';

.c-show-season {
    position: relative;
}

.c-show-season-wrapper {}
.c-show-season__title {}

.c-show-season__meta {}

.c-show-season__meta-item {
    display: inline-block;
}

.c-show-season__meta-item--season {}
.c-show-season__meta-item--show-type {}

.c-show-season__cards-list {
    padding: 0;
    font-size: 0;
    margin: 0 -10px;
}
.c-show-season__cards-listitem {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    margin: 0;
    padding: 0 10px;
    width: 50%;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        width: 25%;
    }
}

.c-show-season__btn-wrapper {
        text-align: center;
}

.c-show-season__btn {}