@import '@cnbritain/merlin-www-common:wireframe';
@import '@cnbritain/merlin-www-image:wireframe';
@import '@cnbritain/merlin-www-buttons:wireframe';
@import '@cnbritain/merlin-www-card:wireframe';

.c-show-season {
    position: relative;
}

.c-show-season-wrapper {}

.c-show-season__header {}
.c-show-season__body {}
.c-show-season__footer {
    text-align: center;
}

.c-show-season__title {}
.c-show-season__meta {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.c-show-season__meta-item {
    display: inline-block;
    font-size: inherit;
}
.c-show-season__meta-item--season {}
.c-show-season__meta-item--show-type {}

.c-show-season__cards-list {
    padding: 0;
    font-size: 0;
    margin: 0 -10px;
}
.c-show-season__cards-listitem {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    margin: 0;
    padding: 0 10px;
    width: 50%;

    @include at-x-large-size {
        width: 25%;
    }
}

.c-show-season__btn {}
