.c-int-redirect {
    #chkIntRedirectDisplay:checked ~ & {
        display: none;
    }
}

.c-int-redirect-wrapper {
    margin: 0 auto;
    position: relative;
}

.c-int-redirect__btn {
    cursor: pointer;

    svg {
        display: inline-block;
        height: 8px;
        margin: 0 auto;
        vertical-align: middle;
        width: 8px;
    }
}

.c-int-redirect__msg {
    label {
        cursor: pointer;
    }

    #chkIntRedirectList:checked ~ & {
        display: none;
    }
}

.c-int-redirect__list {
    display: none;
    font-weight: normal;
    line-height: normal;
    list-style: none;
    margin: 0;
    padding: 0;

    #chkIntRedirectList:checked ~ & {
        display: block;
    }
}

li.c-int-redirect__listitem {
    display: inline-block;
    margin: 0;
    padding: 0;
}