.ad__title {
    @include font('AGENDA', 10px, 'MEDIUM');

    color: $COLOUR_MAIN_INACTIVE;
    margin: 0 0 5px;
    text-align: left;
    text-transform: uppercase;
}

.ad--article {
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_ADVERT;
        padding: 20px 0;
    }

    .ad__title {
        @include font('AGENDA', 10px, 'MEDIUM');

        color: $COLOUR_MAIN_INACTIVE;
        letter-spacing: 1px;
        margin: 0 0 5px;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
    }

    @include tablet-size {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include desktop-size {
        .ad__container {
            background: transparent;
            padding: 0;
        }
        .ad__title {
            display: none;
        }
    }
}

.ad--article-header {
    .ad__container {
        background: $COLOUR_BG_ADVERT;
        padding: 20px 0;
    }
}

.ad--article-video {
    .ad__container {
        background: $cod-gray;
    }
}

.ad--article-rail {
    margin: 30px (-$MOBILE_SIDE_GUTTER);

    @include tablet-size {
        margin-left: (-$TABLET_SIDE_GUTTER);
        margin-right: (-$TABLET_SIDE_GUTTER);
    }

    @include desktop-size {
        position: absolute;
        right: 0;
        margin: 0;
        width: 300px;
    }
}

.ad--article-rail-top {
    @include desktop-size {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--article-inline {
    margin: 45px (-$MOBILE_SIDE_GUTTER);

    @include tablet-size {
        margin: 40px (-$TABLET_SIDE_GUTTER);
    }

    @include desktop-size {
        margin-left: 0;
        margin-right: 0;

        .ad__title {
            display: block;
            padding-left: 0;
        }
    }
}

.ad--gallery {}

.ad--gallery-inline {
    cursor: pointer;
    padding-bottom: 60px;
    text-align: center;
}

.ad--gallery-side {
    display: none;
    margin: 0 auto 60px;
    width: 300px;

    @include desktop-size {
        display: block;
        margin-bottom: 0;
        position: absolute;
        right: 0;
    }
}

.ad--gallery__interstitial-image,
.ad--gallery__interstitial-video {
    cursor: pointer;
    max-width: 100%;
}


//Tag Page
.ad--tag {
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_ADVERT;
        padding: 20px 0;
    }

    .is-hidden {
        .ad__container {
            padding: 0;
        }
    }

    .ad__title {
        @include font('AGENDA', 10px, 'MEDIUM');

        color: $COLOUR_MAIN_INACTIVE;
        margin: 0 0 5px;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
    }

    @include tablet-size {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}

.ad--tag-inline,
.ad--tag-infinite {
    margin: 40px (-$MOBILE_SIDE_GUTTER);

    @include tablet-size {
        margin-left: (-$TABLET_SIDE_GUTTER);
        margin-right: (-$TABLET_SIDE_GUTTER);
    }

     @include desktop-size {
        margin-left: -$DESKTOP_SIDE_GUTTER;
        margin-right: (-$DESKTOP_SIDE_GUTTER + -340px);
        position: relative;

        &:before {
            background: $COLOUR_BG_ADVERT;
            content: '';
            height: 100%;
            width: 100vw;
            position: absolute;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }

}

.ad--tag-rail {
    display: block;
    margin: 60px (-$MOBILE_SIDE_GUTTER);
    width: calc(100% + #{$MOBILE_SIDE_GUTTER*2});

    @include tablet-size {
        margin-left: (-$TABLET_SIDE_GUTTER);
        margin-right: (-$TABLET_SIDE_GUTTER);
        width: calc(100% + #{$TABLET_SIDE_GUTTER*2});
    }

    @include desktop-size {
        clear: right;
        float: right;
        margin: 0 -340px 0 40px;
        width: auto;

        &.stick-wrapper--fixed {
            margin-right: -40px;
        }

        .ad__container {
            background: transparent;
            padding: 0;
        }

        .ad__title {
            display: none;
        }

    }
}

.ad--tag-rail-top {
    @include desktop-size {
        left: 100%;
        position: absolute;
        top: 0;
    }
}

.ad--homepage {
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_ADVERT;
        padding: 20px 0;
    }

    .ad__title {
        margin: 0 0 5px;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
    }

    @include tablet-size {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}

.ad--dark {
    .ad__container {
        background: $cod-gray;
    }
}
