@import '@cnbritain/merlin-www-common:tatler';

@import '../wireframe/wireframe';
@import '../wireframe/_debug';

@import './_tatler_base';

// CLS SIZING
.ad--homepage,
.ad--tag-header,
.ad--article-header {
    .ad__block {
        // tatler .da__containers have padding applied directly
        // so we need to add the padding on both sides to our
        // widths and heights
        .da__container {
            min-width: 300px;
            min-height: 250px + (2*20px);
        }

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            .da__container {
                min-width: 728px;
                min-height: 90px + (2*20px);
            }
        }
    }
}
