@import '@cnbritain/merlin-www-common:wired';
@import '@cnbritain/merlin-www-section-card-list:wired';

@import "../wireframe/wireframe";

.c-card-section--c-contributors {
    padding: 0;

    .c-card-section__constrain {
        background-color: $white;
        box-sizing: border-box;
        max-width: 960px;
        padding: 30px $MOBILE_SIDE_GUTTER;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-card-section__constrain {
            padding: 30px $TABLET_SIDE_GUTTER;
        }
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .c-card-section__constrain {
            padding: 60px $DESKTOP_SIDE_GUTTER;
        }
    }
}
