@import '@cnbritain/merlin-www-common:traveller';

@mixin button-reset() {
    border-bottom: none;
    display: inline-block;
    text-decoration: none;

    &:hover {
        border-bottom: none;
    }
}

@mixin button-single() {
	@include button-reset();
	@include font("PROXIMA NOVA CONDENSED", 14px, 600, 14px);
	padding: 17px 16px;
	text-transform: uppercase;
}

@mixin button-single-light() {
	border: 1px solid $PORCELAIN;
	color: $MUSTASAARI;
}

@mixin button-single-light-hover() {
	border: 1px solid $FAROE-GRAY;
}

@mixin button-single-light-inactive() {
	border: 1px solid $CAPE-HAZE;
	color: $FAROE-GRAY;
}

@mixin button-single-dark() {
	border: 1px solid rgba($PORCELAIN, 0.12);
	color: $WHITE;
}

@mixin button-single-dark-hover() {
	border: 1px solid rgba($PORCELAIN, 0.18);
}

@mixin button-single-dark-inactive() {

}

@mixin button-single-two() {
	@include button-reset();
	@include font("PROXIMA NOVA CONDENSED", 14px, 600, 14px);
	padding: 17px 16px;
	text-transform: uppercase;
}

@mixin button-single-two-light() {
	background-color: $MUSTASAARI;
	color: $WHITE;
}

@mixin button-single-two-light-hover() {

}

@mixin button-single-two-light-inactive() {
	background-color: $PORCELAIN;
}

@mixin button-single-two-dark() {
	background-color: $WHITE;
	color: $MUSTASAARI;
}

@mixin button-single-two-dark-hover() {

}

@mixin button-single-two-dark-inactive() {
	background-color: $PORCELAIN;
}

@mixin button-group() {
	@include button-reset();
	@include font("PROXIMA NOVA CONDENSED", 14px, 600, 16px);
	letter-spacing: 2px;
	padding-bottom: 3px;
	position: relative;
	text-transform: uppercase;

	&:after {
		bottom: 0;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		right: 2px;
		z-index: -1;
	}
}

@mixin button-group-light() {
	color: $RAVEN;

	&:after {
		background-color: $RAVEN;
	}
}

@mixin button-group-light-hover() {

}

@mixin button-group-light-disabled() {
	color: $FAROE-GRAY;
	background-color: $FAROE-GRAY;

	&:after {
		background-color: $FAROE-GRAY;
	}
}

@mixin button-group-two() {
	@include button-reset();
	@include font("PROXIMA NOVA CONDENSED", 14px, 600, 16px);
	letter-spacing: 2px;
	padding-bottom: 3px;
	position: relative;
	text-transform: uppercase;

	&:after {
		bottom: 0;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		right: 2px;
		z-index: -1;
	}
}

@mixin button-group-two-light() {
	color: $SHERPA-BLUE;

	&:after {
		background-color: $SHERPA-BLUE;
	}
}

@mixin button-group-two-light-hover() {

}

@mixin button-group-two-light-disabled() {
	color: $FAROE-GRAY;
	background-color: $FAROE-GRAY;

	&:after {
		background-color: $FAROE-GRAY;
	}
}
