// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    border-left: 1px solid $astronaut;
    margin: 0 0 25px 0;
    padding-left: 20px;

    @include at-x-large-size {
        margin: 0 0 30px 0;
    }
}

.bb-blockquote__quote {
    @include font("MILLER_DISPLAY", 18px, 'NORMAL', 27px);
    color: $astronaut;
    margin: 0;

    @include at-x-large-size {
        @include font-size(21px);
        @include line-height(30px);
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font("GRAPHIK", 10px, 'NORMAL', 10px);
    color: $astronaut;
    letter-spacing: 1.5px;
    margin-top: 25px;
    text-transform: uppercase;
}

// -------------------- //
// Callout
// -------------------- //
.bb-callout {
    border: 4px solid $mandy;
    margin: 25px 0;
    overflow: visible;
    padding: 20px;
    position: relative;
    text-align: left;

    @include at-x-large-size {
        margin: 35px 0;
        padding: 30px;
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

// -------------------- //
// Headings
// -------------------- //
.bb-h1,
.bb-h2,
.bb-h3,
.bb-h4,
.bb-h5,
.bb-h6 {
    color: $dune;
    letter-spacing: 0px;
    margin: 0 0 10px 0;
}

.bb-h1 {
    @include font("MILLER_DISPLAY", 30px, 'SEMI BOLD', 35px);
    @include at-x-large-size {
        @include font-size(45px);
        @include line-height(55px);
    }
}

.bb-h2 {
    @include font("MILLER_DISPLAY", 23px, 'SEMI BOLD', 28px);
    @include at-x-large-size {
        @include font-size(25px);
        @include line-height(30px);
    }
}

.bb-h3 {
    @include font("MILLER_DISPLAY", 21px, 'SEMI BOLD', 26px);
}

.bb-h4 {
    @include font("MILLER_DISPLAY", 19px, 'SEMI BOLD', 24px);
}

.bb-h5 {
    @include font("MILLER_DISPLAY", 17px, 'SEMI BOLD', 22px);
    letter-spacing: -0.5px;
}

.bb-h6 {
    @include font("MILLER_DISPLAY", 16px, 'SEMI BOLD', 21px);
    letter-spacing: -0.5px;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    border: 4px solid $mandy;
    margin: 25px 0;
    overflow: visible;
    padding: 20px;
    position: relative;
    text-align: left;

    @include at-x-large-size {
        margin: 35px 0;
        padding: 30px;
    }
}

.bb-infobox__title {
    @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    background: $white;
    border-bottom: solid 1px $mandy;
    box-sizing: border-box;
    color: $mandy;
    display: inline-block;
    letter-spacing: 1px;
    left: 50%;
    margin-bottom: 20px;
    padding-bottom: 17px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(30px);
    }
}

.bb-infobox__hr {
    display: none;
}

.bb-infobox__body{}
.bb-infobox__item {
    margin: 0;

    & + .bb-infobox__item {
        margin-top: 20px;
    }
}

.bb-infobox__item__key {
    @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    color: $mandy;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 20px;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(22px);
    }

    &:first-child {
        margin-top: 0;
    }
}

.bb-infobox__item__value {
    @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    color: $dune;
    letter-spacing: 0px;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(22px);
    }
}

// -------------------- //
// List
// -------------------- //
.bb-ul {
    @include font("GRAPHIK", 16px, 'NORMAL', 24px);
    color: $dune;
    letter-spacing: 0;
    list-style: none;
    margin: 25px 0;
    padding: 0;

    @include at-x-large-size {
        @include font("GRAPHIK", 18px, 'NORMAL', 22px);
        margin: 30px 0;
    }

    .bb-li {
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;

        @include at-x-large-size {
            margin-bottom: 15px;
        }

        &:after {
            background: $astronaut;
            border-radius: 4px;
            content: "";
            display: block;
            height: 8px;
            left: 0;
            position: absolute;
            top: 8px;
            width: 8px;
        }
    }
}

.bb-ol {
    @include font("GRAPHIK", 16px, 'NORMAL', 24px);
    color: $dune;
    counter-reset: li;
    letter-spacing: 0;
    list-style-type: none;
    margin: 25px 0;
    padding-left: 0px;

    @include at-x-large-size {
        @include font("GRAPHIK", 18px, 'NORMAL', 24px);
        margin: 30px 0;
    }

    .bb-li {
        padding-bottom: 15px;
        padding-left: 50px + 10px;
        position: relative;

        &:before {
            @include font("MILLER_DISPLAY", 25px, 'SEMI BOLD', 25px);
            color: $astronaut;
            content: counter(li);
            counter-increment: li;
            border-radius: 50%;
            height: 23px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 50px;
        }
    }
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font("GRAPHIK", 13px, 'NORMAL', 20px);
    border-top: 1px solid $azalea;
    color: $dune;
    letter-spacing: 0;
    margin: 20px 0;
    padding-top: 15px;

    @include at-x-large-size {
        margin: 35px 0;
    }
}

// -------------------- //
// Paragraph
// -------------------- //
.bb-p {
    @include font("GRAPHIK", 16px, 'NORMAL', 24px);
    color: $dune;
    margin: 0 0 25px 0;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(28px);
        margin: 0 0 30px 0;
    }
}

.bb-pre {
    @include font-size(17px);
    @include line-height(17px);
    background: $concrete;
    border-radius: 4px;
    border: 1px solid $concrete;
    color: $dune;
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    margin: 30px 0;
    padding: 20px;
    white-space: pre-wrap;

    @include at-x-large-size {
        margin: 40px 0;
    }
}

// -------------------- //
// Question / Answer
// -------------------- //
.bb-question {
    margin: 30px 0 37px;
    padding-left: 48px;
    position: relative;
}

.bb-answer {
    margin: 37px 0 30px;
    padding-left: 48px;
    position: relative;
}

.bb-answer + .bb-question {
    margin-top: 37px;
}

.bb-question__question {
    p {
        @include font("GRAPHIK", 16px, 'SEMI BOLD', 24px);
        color: $astronaut;
        letter-spacing: 0;
    }
}

.bb-answer__answer {
    p {
        //margin-bottom: 10px;
    }
}

.bb-question__q, .bb-answer__a {
    border-radius: 50%;
    display: inline-block;
    height: 38px;
    left: 0;
    padding-top: 11px;
    position: absolute;
    text-indent: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 38px;
    top: -7px;

    @include at-x-large-size {
        padding-top: 5px;
    }
}

.bb-question__q {
    @include font("MILLER_DISPLAY", 18px, 'SEMI BOLD', 18px);
    background: $astronaut;
    color: $azalea;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(28px);
    }
}
.bb-answer__a {
    @include font("MILLER_DISPLAY", 18px, 'SEMI BOLD', 18px);
    background: $azalea;
    color: $astronaut;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(28px);
    }
}

.bb-question__separator,
.bb-answer__separator {
    display: none;
}

.bb-question__author {
    @include font("GRAPHIK", 10px, 'SEMI BOLD', 10px);
    color: $astronaut;
    letter-spacing: 1.5px;
    margin-left: -48px;
    margin-top: -10px;
    text-transform: uppercase;
}

.bb-answer__author {
    @include font("GRAPHIK", 10px, 'SEMI BOLD', 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin-left: -48px;
    margin-top: -10px;
    text-transform: uppercase;
}

.bb-question__by,
.bb-answer__by {
    display: none;
}

// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    background: $azalea;
    margin: 30px 0;
    padding: 30px 20px;
    text-align: center;

    @include at-x-large-size {
        margin: 30px 40px;
    }
}

.bb-pullquote__quote {
    @include font("MILLER_DISPLAY", 22px, 'SEMI BOLD', 25px);
    color: $astronaut;
    letter-spacing: 0px;

    @include at-x-large-size {
        @include font-size(28px);
        @include line-height(32px);
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font("GRAPHIK", 10px, 'NORMAL', 10px);
    color: $astronaut;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 20px;
}