.c-card--thumbnail {
    .c-card__image {
        float: left;
        padding-top: 33.33%;
        width: 33.33%;

        @include min-screen($CARD_LIST_3_COLUMN_BREAKPOINT) {
            &:first-child {
                padding-top: 66.66%;
                width: 66.66%;
            }

            &:nth-child(2) {
                margin-bottom: 0;
            }
        }
    }
}

.c-card__image-group {
    zoom: 1;

    &:before, &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.c-card__image__remaining {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}
.c-card__image__remaining__text {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    @include vendor-prefix(transform, translate(-50%, -50%));
}
.c-card__image__remaining__value {
    &:before {
        content: '+'
    }
}
