@import '@cnbritain/merlin-www-common:gq';

@mixin button-reset() {
	border-bottom: none;
	display: inline-block;
	text-decoration: none;

	&:hover {
	    border-bottom: none;
	}
}

@mixin button-single() {
	@include button-reset();
	@include font("GOTHAM", 12px, 700, 12px, 0);
	padding: 16px 16px;
}

@mixin button-single-light() {
	background: $cornflower-blue;
	color: $white;
}

@mixin button-single-light-hover() {
	background: $royal-blue;
	color: $white;
}


@mixin button-single-dark() {
	background: $cornflower-blue;
	color: $white;
}

@mixin button-single-dark-hover() {
	background: $royal-blue;
	color: $white;
}

@mixin button-single-two() {
	@include button-reset();
	@include font("GOTHAM", 9px, 700, 10px, 240);
	padding: 16px 16px;
	text-transform: uppercase;
}

@mixin button-single-two-light() {
	background: transparent;
	color: $cornflower-blue;
	fill: $cornflower-blue;
}

@mixin button-single-two-light-hover() {}

@mixin button-single-two-dark() {
	background: transparent;
	color: $oslo-gray;
	fill: $oslo-gray;
}

@mixin button-single-two-dark-hover() {}

@mixin button-group() {
	@include button-reset();
	@include font("GOTHAM", 12px, 700, 12px, 0);
	padding: 14px 8px;
}

@mixin button-group-light() {
	background: $zircon;
	color: $cornflower-blue;
}

@mixin button-group-light-hover() {
	background: $cornflower-blue;
	color: $white;
}

@mixin button-group-dark() {
	background: transparent;
	border: 1px solid $mineshaft;
	color: $white;
}

@mixin button-group-dark-hover() {
	background: $mineshaft;
	border: 1px solid $mineshaft;
	color: $white;
}

@mixin button-top-stories() {
    background-color: $woodsmoke;
    height: 50%;
    width: 60px;

    svg {
        height: 100%;
        width: 11px;
    }

    svg {
        fill: $white;
    }
}

@mixin button-top-stories-hover() {
    background: $mineshaft;
}

@mixin button-top-stories-disabled() {
    svg {
        fill: $mineshaft;
    }
}

@mixin button-share {
	border-radius: 50%;
	border: 1px solid $bon-jour;
	box-sizing: border-box;
	height: 40px;
	width: 40px;
    text-align: center;

	svg {
	    height: 100%;
	    width: 16px;
	}
}

@mixin button-share-light($name) {
	background-color: $white;
   	path {
        fill: map-get($COLOUR_SOCIAL, $name);
    }
}

@mixin button-share-light-hover($name){
	background-color: map-get($COLOUR_SOCIAL, $name);
	border: 1px solid map-get($COLOUR_SOCIAL, $name);
	path {
	    fill: $white;
	}
}

@mixin button-share-dark($name) {

}

@mixin button-share-dark-hover($name){

}

@mixin button-related() {

}

@mixin button-related-hover(){

}