@import '@cnbritain/merlin-www-common:brides';
@import '@cnbritain/merlin-www-section-card-list:brides';

@import "../wireframe/wireframe";

.c-card-section--c-contributors {

    .c-card-section__constrain {
        max-width: 1100px;
    }

    .c-card-section__title-wrapper {
        margin-bottom: 36px;
    }

    .c-card-section__title {
        @include font("FREIGHT DISPLAY PRO", 40px, 400, 40px, 20);
        color: $stroller-grey;
        font-style: italic;
        margin: 0 0 24px 0;
        text-align: center;

        a {
            color: inherit;
        }

        span {
            box-shadow: inset 0 -0.25em 0 0 $white, inset 0 -0.65em 0 0 rgba($champagne, 1);
        }
    }

}

@include desktop-size {
    .c-card-section--c-contributors {

        .c-card-section__title-wrapper {
            margin-bottom: 44px;
        }

        .c-card-section__title {
            @include font-size(48px);
            @include line-height(48px);
            margin: 0 0 28px 0;
        }

    }
}