
// -------------------- //
// Anchor
// -------------------- //
.bb-a {
    color: $guardsman-red;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

// -------------------- //
// Abbreviation
// -------------------- //
.bb-abbr {}

// -------------------- //
// Italic
// -------------------- //
.bb-em {}

// -------------------- //
// Small
// -------------------- //
.bb-small {
    @include font('ADOBE CASLON', 13px);
    color: $mine-shaft-333;
}

// -------------------- //
// Bold
// -------------------- //
.bb-strong {}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font('ITC CASLON', 81px, 400, 81px);
    box-sizing: border-box;
    color: $cod-gray;
    float: left;
    height: 108px;
    margin-right: 12px;
    text-transform: capitalize;

    @include at-x-large-size {
        @include font-size(90px);
        @include line-height(90px);
        height: 120px;
        margin-right: 16px;
    }

    .is-macos &,
    .is-linux & {
        padding-top: 5px;
    }
}

// -------------------- //
// Button
// -------------------- //
.bb-button,
.bb-button--light {
    @include button-single();
    @include button-single-light();

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}

.bb-button--dark {
    @include button-single-dark();

    &:hover,
    &:focus {
        @include button-single-dark-hover();
    }
}
