// -------------------- //
// Defaults
// -------------------- //

.bb-a {
    color: $guardsman-red;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.bb-abbr {
    text-decoration: underline dotted;
}

.bb-em {
    font-style: italic;
}

.bb-h1,
.bb-h2,
.bb-h3,
.bb-h4,
.bb-h5,
.bb-h6 {
    color: $cod-gray;
    margin: 30px 0 20px 0;
}

.bb-h1 {
    @include font("ITC CASLON", 34px, 600, 36px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(45px);
        @include font-weight(400);
        @include line-height(48px);
    }
}

.bb-h2 {
    @include font("ITC CASLON", 24px, 600, 28px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(34px);
        @include line-height(36px);
    }
}

.bb-h3 {
    @include font("ITC CASLON", 20px, 600, 24px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(24px);
        @include line-height(28px);
    }
}

.bb-h4 {
    @include font("ITC CASLON", 17px, 600, 20px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
    }
}

.bb-h5 {
    @include font("ITC CASLON", 15px, 600, 18px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(20px);
    }
}

.bb-h6 {
    @include font("ITC CASLON", 12px, 600, 16px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(15px);
        @include line-height(18px);
    }
}

.bb-hr {
    border-top: 1px solid $gallery;
    height: 0;
    margin: 10px 0;
}

.bb-p {
    @include font("ADOBE CASLON", 18px, 400, 28px);
    color: $cod-gray;
    margin: 0 0 28px 0;
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(32px);
        margin: 0 0 32px 0;
    }
}

.bb-pre {
    @include font-size(14px);
    @include line-height(21px);
    background: $alabaster-f9;
    border-radius: 4px;
    border: solid 1px $gallery;
    color: $dove-gray;
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    margin: 40px 0;
    padding: 20px;
    white-space: pre-wrap;
}

.bb-small {
    color: $mine-shaft-333;
    @include font('ADOBE CASLON', 14px, null, 20px);
}

.bb-strong {
    @include font-weight(700);
}

.bb-ul,
.bb-ol {
    @include font("ADOBE CASLON", 18px, 400, 28px);
    color: $mine-shaft-222;
    list-style-type: none;
    margin: 40px 0;
    padding-left: 32px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(32px);
    }
}

.bb-li {
    position: relative;
}

.bb-ul {
    .bb-li:before {
        background-color: $cod-gray;
        border-radius: 50%;
        content: "";
        display: block;
        height: 8px;
        left: -28px;
        position: absolute;
        top: 10px;
        width: 8px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            top: 12px;
        }
    }
}

.bb-ol {
    counter-reset: section;

    .bb-li {
        counter-increment: section;
    }

    .bb-li:before {
        @include font("ADOBE CASLON", 18px, 700, 28px);
        content: counter(section) '.';
        position: absolute;
        left: -28px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            @include line-height(32px);
        }
    }
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font('ADOBE CASLON', 14px, 400, 18px);
    border-top: 1px solid $gallery;
    color: $dove-gray;
    padding-top: 15px;
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("ITC CASLON", 84px, 400, 84px);
    box-sizing: border-box;
    color: $cod-gray;
    float: left;
    height: 112px;
    margin-right: 14px;
    text-transform: capitalize;

    .is-macos &,
    .is-linux & {
        padding-top: 8px;
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(96px);
        @include line-height(96px);
        height: 128px;
        margin-right: 16px;
    }
}

// -------------------- //
// Embed
// -------------------- //
.bb-embed {
    margin: 40px 0;
}

// -------------------- //
// Interactive
// -------------------- //
.bb-interactive {
    margin: 40px 0;
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    border-left: 2px solid $alto;
    margin: 0 0 10px 0;
    padding-left: 30px;
}

.bb-blockquote__quote {
    @include font("ADOBE CASLON", 18px, 400, 24px);
    color: $dove-gray;
    font-style: italic;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(28px);
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font("NOBEL", 11px, 400, 16px)
    color: $dove-gray;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    margin: 40px 0;
    text-align: center;
}

.bb-pullquote__quote {
    color: $cod-gray;
    @include font("ADOBE CASLON", 28px, 700, 32px, 10);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(34px);
        @include line-height(40px);
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font("NOBEL", 11px, 400, 16px)
    color: $cod-gray;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    background-color: $wild-sand;
    margin: 40px 0;
    padding: 32px 20px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 32px;
    }
}

.bb-infobox__title {
    @include font("NOBEL", 18px, 700, 24px);
    color: $cod-gray;
    letter-spacing: 1.08px;
    margin-bottom: 4px;
    margin-top: 0;
    text-transform: uppercase;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        letter-spacing: 1.2px;
    }
}

.bb-infobox__hr {
    background-color: $gallery;
    border: none;
    height: 1px;
    margin-bottom: 24px;
    margin-top: 4px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin-top: 32px;
    }
}

.bb-infobox__item {
    margin: 24px 0 0 0;
}

.bb-infobox__item__key {
    @include font("NOBEL", 14px, 700, 16px);
    color: $cod-gray;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.bb-infobox__item__value {
    @include font("ADOBE CASLON", 14px, 400, 20px);
    color: $mine-shaft-222;
    margin: 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(16px);
        @include line-height(22px);
    }
}

// -------------------- //
// Callout
// -------------------- //
.bb-callout {
    background-color: $wild-sand;
    margin: 40px 0;
    padding: 32px 20px;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }


    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 32px;
    }
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    margin: 40px 0;
}

.bb-figure__wrapper {

}

.bb-figure__caption {
    .bb-p {
        color: $dove-gray;
        @include font('ADOBE CASLON', 13px, 400, 18px);
        margin: 15px 0;
    }
}

.bb-figure__credit {
    @include font('NOBEL', 10px, 400, 12px, 50);
    color: $silver;
    margin: 15px 0;
    text-transform: uppercase;

    &:before {
        content: 'credit: '
    }
}

// -------------------- //
// Question
// -------------------- //
.bb-question {
    margin: 40px 0;
    position: relative;
}

.bb-question__question {
    .bb-p {
        @include font-weight(700);
        margin-bottom: 8px;
        text-indent: 32px;
    }
}

.bb-question__q {
    @include font-weight(700);
    color: $mine-shaft-222;
    left: 0;
    position: absolute;
    text-indent: 0;
}

.bb-question__separator {
    display: none;
}

.bb-question__author {
    @include font("NOBEL", 11px, 400, 16px)
    color: $dove-gray;
    letter-spacing: 1px;
    margin: 8px 0 0 0;
    text-transform: uppercase;
}

.bb-question__by {
    display: none;
}

// -------------------- //
// Answer
// -------------------- //
.bb-answer {
    margin: 40px 0;
    position: relative;
}

.bb-answer__answer {
    .bb-p {
        margin-bottom: 8px;
        text-indent: 32px;
    }
}

.bb-answer__a {
    @include font-weight(700);
    color: $mine-shaft-222;
    left: 0;
    position: absolute;
    text-indent: 0;
}

.bb-answer__separator {
    display: none;
}

.bb-answer__author {
    @include font("NOBEL", 11px, 400, 16px)
    color: $dove-gray;
    letter-spacing: 1px;
    margin: 8px 0 0 0;
    text-transform: uppercase;
}

.bb-answer__by {
    display: none;
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    border-bottom: 1px solid $gallery;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    border-top: 1px solid $gallery;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 40px 0;

    &:hover {

    }
}

.bb-gallery__icon {
    display: table-cell;
    height: 48px;
    padding: 12px;
    position: relative;
    vertical-align: middle;
    width: 48px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border-radius: 50%;
        border: 1px solid $gallery;
        box-sizing: border-box;
        content: "";
        height: 48px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
    }

    svg {
        display: block;
        fill: $cod-gray;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

.bb-gallery__title {
    @include font("ADOBE CASLON", 16px, 400, 20px);
    color: $cod-gray;
    display: table-cell;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 12px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        padding-bottom: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

.bb-gallery__link {}
.bb-gallery__cols {}
.bb-gallery__col {
    background-color: $gallery;
}

.bb-gallery__remaining {
    background-color: rgba($black, 0.5);
    white-space: nowrap;
}

.bb-gallery__remaining-text {
    @include font("NOBEL", 20px, 700, 20px);
    color: $white;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(24px);
        @include line-height(24px);
    }
}

.bb-gallery--show-summary {
    margin-top: 0;

    .bb-gallery__link {
        z-index: 2;
    }

    .bb-gallery__col:first-child:before {
        @include c-card-label($guardsman-red, $white, 'VIEW COLLECTION');
        padding: 14px 10px 14px 12px;
    }
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    border-bottom: 1px solid $gallery;
    border-left: 1px solid $gallery;
    border-right: 1px solid $gallery;
    border-top: 1px solid $gallery;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 40px 0;

    &:hover {

    }
}

.bb-video__title-icon {
    display: table-cell;
    height: 48px;
    padding: 12px;
    position: relative;
    vertical-align: middle;
    width: 48px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border-radius: 50%;
        border: 1px solid $gallery;
        box-sizing: border-box;
        content: "";
        height: 48px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
    }

    svg {
        display: block;
        fill: $cod-gray;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

.bb-video__title {
    @include font("ADOBE CASLON", 16px, 400, 20px);
    color: $cod-gray;
    display: table-cell;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 12px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        padding-bottom: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

.bb-video__wrapper {}
.bb-video__image-icon {
    display: none;
}

.bb-video__link {}

// -------------------- //
// Button
// -------------------- //
.bb-button {}
.bb-button--light {
    @include button-single();
    @include button-single-light();

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}

.bb-button--dark {
    @include button-single();
    @include button-single-dark();

    &:hover,
    &:focus {
        @include button-single-dark-hover();
    }
}

// -------------------- //
// Card
// -------------------- //
.bb-card {
    border-radius: 4px;
    border: 1px solid $alto;
    margin: 40px 0;
    padding: 12px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding: 16px;

        &:before {
            @include font("ITC CASLON", 14px, 400, 16px);
            bottom: 16px;
            color: $dove-gray;
            content: "Continue Reading";
            font-style: italic;
            position: absolute;
            right: 16px;
        }
    }

    &:hover {
        // border: 1px solid $FAROE-GRAY;
    }
}

.bb-card__link {}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header {
    display: table-cell;
    padding-right: 6px;
    vertical-align: top;
    width: 92px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding-right: 8px;
        width: 174px;
    }
}

.bb-card__images {}
.bb-card__image {
    background-color: $gallery;
    padding-top: 100%;
    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding-top: 66.66666%;
    }
}

.bb-card__image__icon {
    background-color: $white;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 40px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: 20px;
        fill: $dove-gray;
    }
}

.bb-card__obj__body {
    display: table-cell;
    padding-left: 6px;
    vertical-align: top;
    width: auto;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding-left: 8px;
    }
}

.bb-card__header {}

.bb-card__tag {
    @include font("NOBEL", 11px, 400, 16px);
    color: $dove-gray;
    letter-spacing: 2px;
    margin-bottom: 6px;
    margin-top: 0;
    text-transform: uppercase;
}

.bb-card__title {
    @include font("ADOBE CASLON", 17px, 400, 20px);
    color: $cod-gray;
    margin-bottom: 8px;
    margin-top: 6px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        margin-bottom: 16px;
        margin-top: 8px;
    }
}

.bb-card__teaser {
    display: none;
}

.bb-card__separator {
    display: none;
}

.bb-card__footer {}

.bb-card__byline {
    @include font("NOBEL", 11px, 400, 16px);
    margin-bottom: 4px;
    margin-top: 8px;
}

.bb-card__byline--sponsorship {}

.bb-card__byline-prefix {
    color: $dove-gray;
    font-style: italic;
}

.bb-card__byline-name {
    color: $cod-gray;
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul.bb-card__meta {
    @include font("NOBEL", 11px, 400, 16px);
    color: $dove-gray;
    margin-top: 4px;
}

li.bb-card__meta-item {
    & + li.bb-card__meta-item {
        &:before {
            background-color: $dove-gray;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 1px 4px;
            width: 2px;
        }
    }
}

// -------------------- //
// Show Gallery
// -------------------- //
.bb-show-gallery {
    .c-gallery-strip__detail {
        margin: -37px 20px 0 20px;
    }

    .c-gallery-strip__title {
        @include font('ADOBE CASLON', 20px, 700, 24px);
        margin: 0 0 10px 0;
    }

    .c-gallery-strip__list__item {
        img {
            width: 100%;
        }

        &:nth-child(3) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        &:nth-child(4) {
            display: none;
        }

    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item {
            &:nth-child(3) {
                .c-gallery-strip__remaining {
                    display: none;
                }
            }

            &:nth-child(4) {
                display: inline-block;
            }

            width: 25%;
        }
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__detail {
            margin: -40px 20px 0 20px;
        }

        .c-gallery-strip__title {
            @include font-size(24px);
            @include line-height(28px);
        }
    }
}