$_BUTTON_SIZE: 20px;

.c-int-redirect {
    background-color: $black;

    a {
        color: $white;
    }

    @include at-x-large-size {
        background-color: rgba(0, 0, 0, .9);
    }
}

.c-int-redirect-wrapper {
    max-width: 1360px;
    padding: 20px 60px 20px $MOBILE_SIDE_GUTTER;
}

.c-int-redirect__btn {
    background-color: $brownish-grey;
    border: 1px solid $white;
    border-radius: 50%;
    line-height: 16px;
    height: $_BUTTON_SIZE;
    padding: 0;
    position: absolute;
    margin-top: -($_BUTTON_SIZE/2);
    right: (60px - $_BUTTON_SIZE)/2;
    text-align: center;
    top: 50%;
    width: $_BUTTON_SIZE;

    svg {
        margin-top: 1px;
    }

    svg, path {
        fill: $white;
    }
}

.c-int-redirect__msg {
    @include font('COMMUTER SANS', 13px, 'MEDIUM', 16px);
    color: $white;
    letter-spacing: 0.3px;
    padding-right: 10px;
    text-align: left;

    @include at-x-large-size {
        @include font-size(15px);
        @include line-height(18px);
        padding-right: 0;
        text-align: center;
    }

    label {
        text-decoration: underline;
        white-space: nowrap;
    }
}

.c-int-redirect__list {
    text-align: center;
}

.c-int-redirect__list__item {
    margin: 0 3px;
}
