@import './_variables';
@import './_mixins';
@import './_fonts';

@import "../wireframe/_defaults";

a {
    color: $COLOUR_MAIN_HIGHLIGHT;
    text-decoration: none;
}

abbr {
    text-decoration: underline;
}


body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font('CENTURY_GOTHIC');
    @include font-weight('BOLD');

    line-height: 1.2;
    margin: 40px 0 15px;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

@mixin heading-scale($default, $medium, $large) {
    @include font-size($default);

    @include min-screen($TYPE_MEDIUM_COPY_WIDTH) {
        @include font-size($medium);
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size($large);
    }
}

%h-alpha {
    @include font-size(28px);
    @include line-height(31px);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(49px);
        @include line-height(54px);
    }
}

%h-beta {
    @include font-size(23px);
    @include line-height(26px);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(25px);
        @include line-height(30px);
    }
}

%h-gamma {
    @include font-size(22px);
    @include line-height(25px);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(23px);
        @include line-height(28px);
    }
}

%h-delta {
    @include font-size(20px);
    @include line-height(23px);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(25px);
    }
}

%h-epsilon {
    @include font-size(19px);
    @include line-height(22px);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(22px);
    }
}

%h-zeta {
    @include font-size(17px);
    @include line-height(20px);
}

h1,
.h-alpha {
    @extend %h-alpha;
}

h2,
.h-beta {
    @extend %h-beta;
}

h3,
.h-gamma {
    @extend %h-gamma;
}

h4,
.h-delta {
    @extend %h-delta;
}

h5,
.h-epsilon {
    @extend %h-epsilon;
}

h6,
.h-zeta {
    @extend %h-zeta;
}

input {
    @include font('GRAPHIK', $weight: 'SEMI BOLD');
}

mark {
    background-color: $COLOUR_BG_ACCENT;
    padding: 2px 0;
}

p {
    @include font('MILLER_DISPLAY', 18px, 'NORMAL', 25px, 0);

    margin: .8em 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(30px);
    }
}

pre {
    background-color: #f5f5f5;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    @include font-size(17px);
    overflow: auto;
    padding: 20px;
}

blockquote {
    @include font('MILLER_DISPLAY', 18px, 'NORMAL', 28px, 20);

    border-left: 3px solid #57b1ff;
    color: $COLOUR_MAIN;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 30px;
}

q {
    @include font('CENTURY_GOTHIC', 23px, 'BOLD');

    display: block;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(26px);
    }
}


small {
    @include font-size(12px);
    @include line-height(17px);
}

strong {
    @include font-weight(600);
}

ul,
ol {
    @include font('GRAPHIK', 16px, null, 22px);

    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include line-height(24px);

        margin: 50px 0 50px 40px;
    }
}

li {
    margin: .5em 0;
    position: relative;
}

ul {
    list-style-type: none;
    padding-left: 30px;

    li::before {
        background: $COLOUR_BG_DARK;
        border-radius: 50%;
        content: '';
        display: block;
        height: 7px;
        left: -20px;
        position: absolute;
        top: 7px;
        width: 7px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            height: 10px;
            left: -30px;
            width: 10px;
        }
    }
}

ol {
    counter-reset: section;
    margin-top: 60px;
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin-top: 35px;
    }
    padding: 0;

    li {
        list-style: none;
        margin: 55px 0 0 0;
        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            margin: 0 0 20px 0;
        }

        &::before {
            @include font('GRAPHIK', 12px, 'SEMI BOLD', 14px);

            border: 1px solid $COLOUR_BORDER_SOLID;
            content: counter(section);
            counter-increment: section;
            display: inline-block;
            min-width: 12px;
            padding: 4px;
            position: absolute;
            text-align: center;
            top: -33px;

            @include min-screen($TYPE_LARGE_COPY_WIDTH) {
                margin-left: -40px;
                margin-right: 15px;
                position: relative;
                top: -1px;
            }
        }
    }
}
