@import '../wireframe/_variables';

// ----- Colours ----- //
$dune: #373330;
$natural-gray: #938c86;
$cloud: #c9c5bf;
$pampas: #f9f8f7;
$concrete: #f3f3f3;
$azalea: #f6d3d5;
$astronaut: #2c3781;
$banana-mania: #fceaaa;
$mandy: #ea6066;
$advert-light: #f9f8f7;
$advert-dark: #373330;
$white: #ffffff;

// ----- Social Colours -----//
$COLOUR_SOCIAL: map-merge($COLOUR_SOCIAL, (
    "email": #373330,
    "facebook": #3B5998,
    "pinterest": #CB2027,
    "twitter": #55ACEE,
    "whatsapp": #4DC247,
    "instagram": #C32AA3,
    "youtube": #FF0000
));

$COLOUR_SOCIAL_HOVER: (
    "email": #1C1A18,
    "facebook": #314A7F,
    "pinterest": #A71B21,
    "twitter": #50A2DF,
    "whatsapp": #42A73D,
    "instagram": #A02186,
    "youtube": #D70101
);

// ----- Breakpoints ----- //
$DESKTOP_SIDE_GUTTER: 60px;
$TABLET_SIDE_GUTTER: 60px;
$MOBILE_SIDE_GUTTER: 20px;

$DESKTOP_SLICE_MARGIN: 60px;
$TABLET_SLICE_MARGIN: 60px;
$MOBILE_SLICE_MARGIN: 40px;

$DESKTOP_SIDE_GUTTER_BREAKPOINT: 1024px;
$TABLET_SIDE_GUTTER_BREAKPOINT: 700px;

$CARD_SWITCHER_WIDTH: 600px;
$CARD_LIST_2_COLUMN_BREAKPOINT: 600px;
$CARD_LIST_3_COLUMN_BREAKPOINT: 940px;
$CARD_LIST_4_COLUMN_BREAKPOINT: 1024px;

$FEATURE_LARGE_BREAKPOINT: 800px;
$SUPERFEATURE_LARGE_BREAKPOINT: 700px;

$TYPE_MEDIUM_COPY_WIDTH: 700px;
$TYPE_LARGE_COPY_WIDTH: 1024px;