
.a-body__clear {
    clear: both;
}

// Im not sure about this
.a-body__content {
    > p:first-child {
        margin-top: 0;
    }
}

.a-gallery {

}

.a-footer--gallery {

}

.a-main {
    margin: 0 auto;
    margin-top: 30px;
    @include min-screen($ARTICLE_HEADER_LARGE_BREAKPOINT) {
        margin-top: 60px;
    }
    // max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    min-height: 600px; //600px as a double sky might be in the article
    position: relative;
}

.a-main--gallery {
    max-width: initial;
    overflow-y: hidden;

    .a-gallery {
        margin-left: auto;
        margin-right: auto;
        max-width: $MAXIMUM_PAGE_WIDTH;
        // max-width: $ARTICLE_TOTAL + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    }
}

.a-infinite {
    &.is-closed {
        .a-gallery__image-listitem:nth-of-type(3) {
            padding-bottom: 0;
        }
    }
}

.a-infinite__message {
    display: none;
    margin-bottom: $MOBILE_SLICE_MARGIN;
    text-align: center;

    @include tablet-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include desktop-size {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.a-infinite__message-btn {
    @include button-single;
    @include button-single-light;
    min-width: 150px;

    &:hover {
        @include button-single-light-hover;
    }
}

.a-footer {}

.a-body--gallery {
    .a-body__wrapper {
        max-width: $ARTICLE_TOTAL+110px;

        @include common-large-size(){
            padding-right: $ARTICLE_RIGHT_TOTAL+5px;
        }

        @include article-large-size(){
            padding-right: $ARTICLE_RIGHT_TOTAL+5px;
        }
    }
}

.a-body--video {
    .a-body__content {
        box-sizing: border-box;
        max-width: 840px + 360px;
        padding-left: 0;
    }
}