
.a-body__clear {
    clear: both;
}

.a-body--gallery {
    .a-body__wrapper {
        max-width: $ARTICLE_TOTAL+110px;

        @include common-large-size(){
            padding-right: $ARTICLE_RIGHT_TOTAL+5px;
        }

        @include article-large-size(){
            padding-right: $ARTICLE_RIGHT_TOTAL+5px;
        }
    }
}

// Im not sure about this
.a-body__content {
    > p:first-child {
        margin-top: 0;
    }
    a:not([class]) {
        @include link-styles;
    }
}
.a-gallery {
    .a-gallery__image__caption a {
        @include link-styles;
    }
}

.a-footer--gallery {

}

.a-main {
    margin: 0 auto;
    margin-top: 30px;
    @include min-screen($ARTICLE_HEADER_LARGE_BREAKPOINT) {
        margin-top: 60px;
    }
    // max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    min-height: 600px; //600px as a double sky might be in the article
    position: relative;
}

.a-main--gallery {
    max-width: initial;
    overflow-y: hidden;

    .a-gallery {
        margin-left: auto;
        margin-right: auto;
        max-width: $MAXIMUM_PAGE_WIDTH;
        // max-width: $ARTICLE_TOTAL + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    }
}

.a-infinite {
    &.is-closed {
        // This we want to hide:
        //  - .g-gallery-menu
        //  - everything but first 3 images in gallery
        //  - share
        //
        // We force things to hide to avoid images from being loaded
        .a-gallery__nav,
        .a-gallery__section .a-gallery__images:nth-of-type( n + 6 ),
        .a-gallery__section .ad--gallery:nth-of-type( n + 1 ),
        .a-related-tags,
        .a-footer-share,
        .a-footer {
            display: none;
        }

        .a-infinite__message {
            display: block;
        }
    }
}

.a-infinite__message {
    display: none;
    margin: $MOBILE_SLICE_MARGIN 0;
    text-align: center;

    @include tablet-size {
        margin: $TABLET_SLICE_MARGIN 0;
    }

    @include desktop-size {
        margin: $DESKTOP_SLICE_MARGIN 0;
    }
}

.a-infinite__message-btn {
    @include font-size(12px);
    @include line-height(12px);

    box-sizing: border-box;
    width: 100%;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        max-width: 170px;
    }
}


.a-footer {

}