// Footer sponsor
.a-footer-sponsor {
    @include font-size(12px);

    background-color: $COLOUR_BG_SECONDARY;
    padding: 30px 15px;

    @include tablet-size {
        padding: 50px;
    }

    a {
        color: $COLOUR_MAIN;
    }
}

.a-footer-sponsor__body {
    @include font('GRAPHIK', 16px);

    margin: 30px 0;
}

.a-footer-sponsor__btn {
    text-align: center;
    text-transform: uppercase;

    @include tablet-size {
        min-width: 200px;
    }
}

.a-footer-sponsor__header {
    margin: 0 0 30px;

    span {
        @include font('GRAPHIK');

        font-style: italic;
    }

    a {
        @include font('GRAPHIK', $weight: 'SEMI BOLD');

        font-style: normal;
        text-transform: uppercase;
    }
}

.a-footer-sponsor__header-image {
    margin-top: 10px;

    .global__a--center & {
        display: block;
        margin: 10px auto 0;
    }

    @include tablet-size {
        display: inline-block;
        margin: 0 0 0 10px;
        vertical-align: middle;

        .global__a--center & {
            display: inline-block;
            margin: 0 0 0 10px;
        }
    }
}

.a-footer-sponsor__intro {
    @include font('GRAPHIK', 17px, 'SEMI BOLD');

    margin: 30px 0;
}

.a-related-tags {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    margin: $MOBILE_SLICE_MARGIN (-$MOBILE_SIDE_GUTTER);
    padding: 20px 0;

    @include tablet-size {
        margin: $TABLET_SLICE_MARGIN 0;
    }

    @include desktop-size {
        margin: $DESKTOP_SLICE_MARGIN 0;
        padding: 25px 0;
    }
}

.a-footer--video {
    .a-footer__wrapper {
        margin-left: 0;
        max-width: 840px + 360px;
        padding-left: 0;
    }
}