@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-buttons:glamour";

@import '../wireframe/wireframe';

.a-podcast {
    margin: 40px 0;
}

.a-podcast__player {
    margin-bottom: 25px;
    max-width: 797px;
    width: 100%;
}

.a-podcast__list {
    @include font-size(13px);

    overflow: hidden;
}

.a-podcast__list-item {
    @include large-article-size {
        float: left;

        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 15px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.a-podcast__btn {
    @include button-single();
    @include button-single-light();
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%;

    &:hover {
        @include button-single-light-hover();
    }

    @include large-article-size {
        width: auto;
    }
}
