.a-review {
  color: red;
    border: 4px solid $mandy;
    margin: 25px 0;
    overflow: visible;
    padding: 20px;
    position: relative;
    text-align: left;

    @include at-x-large-size {
        margin: 35px 0;
        padding: 30px;
    }
}

.a-review__item {
    margin: 0 auto 20px auto;

    &:last-child {
        margin-bottom: 0;

        .bb-infobox__item__value {
            margin: 0;
        }
    }
}

.a-review__separator {
    display: none;
}

.a-review__item--name{
   @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    background: $white;
    border-bottom: solid 1px $mandy;
    box-sizing: border-box;
    color: $mandy;
    display: inline-block;
    letter-spacing: 1px;
    left: 50%;
    margin-bottom: 20px;
    padding-bottom: 17px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(30px);
    }
}

.a-review__key {
  @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    color: $mandy;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 20px;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(22px);
    }

    &:first-child {
        margin-top: 0;
    }
}

.a-review__value {
   @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    color: $dune;
    letter-spacing: 0px;

    @include at-x-large-size {
        @include font-size(18px);
        @include line-height(22px);
    }
}

.a-review__item--rating {
    border-top: solid 1px $mandy;
    margin: 20px 0;
}

.a-review__rating-list {
    font-size: 0;
    display: inline-block;
    margin: 15px 0 10px;

    @include at-x-large-size {
        display: inline-block;
        margin: 20px 0 10px;
        overflow: inherit;
    }
}

li.a-review__rating-list__item {
    border: solid 3px $mandy;
    display: inline-block;
    float: initial;
    height: 15px;
    margin-right: 8px;
    width: 15px;
    border-radius: 50px;
}

li.a-review__rating-list__item--active {
    background-color: $mandy;
}

.a-review__rating {
    @include font("GRAPHIK", 16px, 'NORMAL', 20px);
    color: $mandy;

    @include at-x-large-size {
      vertical-align: text-top;
    }
}
