.a-share {
    margin-top: 30px;
    position: relative;

    @include at-x-large-size {
        margin-top: 40px;
    }
}

.a-share__wrapper {
    font-size: 0;
}

.a-share__title {
    @include font("GRAPHIK", 10px, 600, 10px);
    color: $dune;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

.a-share__list {
    font-size: 0;
    height: 40px;
}

.a-share__list-item {
    display: inline-block;
    font-size: initial;
    height: 40px;

    & + .a-share__list-item {
        margin-left: 5px;
    }
}

.a-share__list-item--mobile {
    @include at-medium-size {
        display: none;
    }
}

.a-share__youtube {
    display: block;
    margin: 20px auto 0 auto;
    text-align: left;

    @include at-x-large-size {
        display: inline-block;
        margin-left: 5px;
        margin-top: 4px;
    }

    //Overwrite default specificity
    .a-share__youtube__title {
        display: none !important;
    }
}

.a-share__youtube__title {}


