.a-logo {}
.a-logo--video {
    background-color: $dune;
    padding: 32px 0 32px 0;

    @include at-x-large-size {
        padding: 40px 0 60px 0;
    }

    .a-logo__wrapper {
        height: auto;
        margin: 0 auto;
        width: 220px;

        @include at-x-large-size {
            height: auto;
            margin: 0 auto;
            width: 406px;
        }
    }

    svg {
        fill: $white;
    }
}

.a-video {
    background-color: $dune;
}

.a-video__wrapper {

}

.a-video__player {}

.a-video__player__wrapper {

}

.a-video__sidebar {
    background-color: #2f2c2a;
    padding: 20px;
}

.a-video__playlist {
    display: flex;
    flex-direction: column;
    margin: -10px;
}

.a-video__playlist-item {
    padding: 0 10px;
    margin: 13px 0;

    .c-card__images {
        &:after {
            @include font("GRAPHIK", 10px, 600, 10px);
            color: $white;
            content: "Now Playing";
            left: 50%;
            letter-spacing: 1px;
            opacity: 0;
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            transform: translate(-50%, -50%);
            transition-duration: 300ms;
            white-space: nowrap;
        }
    }

    .c-card__image {
        &:after {
            background-color: rgba($dune, 0.8);
            bottom: 0;
            content: "";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition-duration: 300ms;
            width: 100%;
        }
    }

    &.is-active {
        .c-card__images {
            &:after {
                opacity: 1;
            }
        }

        .c-card__image {
            &:after {
                opacity: 1;
            }
        }
    }
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font("GRAPHIK", 14px, 400, 14px);
    color: $white;
    color: $white;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    right: 20px;
    top: 54px;
}

.a-video__content-body {

}

.a-video__ad {
    .ad__block {
        .ad__container {
            @include at-x-large-size {
                padding: 0;
            }
        }
    }
}