.c-card-section--c-contributors {
    .c-card-section__title {
        text-align: center;
        margin: 0;
        padding: 0 0 20px;

        @include card-portrait-to-landscape-size {
            margin: 0 0 30px;
            padding: 0;
        }
    }

    .c-card__obj__body {
        padding-top: 0;

        @include card-portrait-to-landscape-size {
            padding: 15px 0 0;
        }
    }

    .c-card__separator {
        display: none;

        @include card-portrait-to-landscape-size {
            display: block;
        }
    }

    .c-card-list__item {
        padding: 0 15px;
    }
}
