@import '@cnbritain/merlin-www-common:houseandgarden';
@import '@cnbritain/merlin-www-buttons:houseandgarden';

@import '../wireframe/wireframe';

.a-marketing-card {
    background-color: $vanilla-ice;
    padding: 40px 20px;

    @include at-medium-size {
        padding: 40px;
    }
}

.a-marketing-card__header {
    text-align: center;

    @include at-medium-size {
        text-align: left;
        vertical-align: top;
    }
}

.a-marketing-card__body {
    text-align: center;

    @include at-medium-size {
        text-align: left;
    }
}

//brand
 .a-marketing-card--brand .a-marketing-card__header {
     @include at-medium-size {
         padding-right: 40px;
         text-align: center;
         width: 180px;
     }
 }

.a-marketing-card--brand .a-marketing-card__body {
    @include at-medium-size {
        border-left: 1px solid $black;
        padding-left: 40px;
        padding-right: 0;
        text-align: left;
        width: auto;
    }
}

.a-marketing-card__brand__prefix {
    @include font('BRANDON GROTESQUE', 10px, 'NORMAL', 10px);
    color: $mine-shaft;
    display: block;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.a-marketing-card__brand__img {
    margin: 0 auto 20px auto;
    max-width: 140px;
}

.a-marketing-card__brand__name {
    @include font('BRANDON GROTESQUE', 20px, 'BOLD', 20px);
    color: $mine-shaft;
    display: block;
    margin: 0 0 20px 0;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

//event
//topic
 .a-marketing-card--event .a-marketing-card__header,
 .a-marketing-card--topic .a-marketing-card__header {
     @include at-medium-size {
         padding-right: 40px;
         width: 140px;
     }
 }

.a-marketing-card--event .a-marketing-card__body,
.a-marketing-card--topic .a-marketing-card__body {
    @include at-medium-size {
        border-left: 1px solid $black;
        padding-left: 40px;
        padding-right: 0;
        width: auto;
    }
}

//magazine
.a-marketing-card__magazine {
    margin: 0 auto 20px auto;
    width: 150px;

    @include at-medium-size {
        margin-bottom: 0;
        width: 250px;
    }
}

 .a-marketing-card--magazine .a-marketing-card__header {
     @include at-medium-size {
         padding-right: 40px;
         width: 250px;
     }
 }

  .a-marketing-card--magazine .a-marketing-card__body {
      @include at-medium-size {
          width: auto;
      }
  }

.a-marketing-card__magazine__cover--print {
    width: 95px;

    @include at-medium-size {
        width: 160px;
    }
}

.a-marketing-card__magazine__cover--tablet {
    background: none;
    background-color: $black;
    padding: 11px 8px;
    width: 58px;

    @include at-medium-size {
        padding: 15px 10px 15px 10px;
        width: 100px;
    }
}

.a-marketing-card__magazine__cover--mobile {
    display: none;
}

//marketing
.a-marketing-card__title {
    @include font('MILLER_DISPLAY', 18px, 'BOLD', 22px);
    color: $mine-shaft;
    margin: 0 0 10px 0;

    @include at-medium-size {
        @include font-size(21px);
        @include line-height(26px);
    }
}

.a-marketing-card__desc {
    @include font('MILLER_DISPLAY', 14px, 'NORMAL', 19px);
    color: $mine-shaft;
    font-style: italic;
    margin: 0;

    @include at-medium-size {
        @include font-size(18px);
        @include line-height(22px);
    }
}

.a-marketing-card__cta {
    @include button-single;
    @include button-single-light;
    margin: 20px 0 0 0;
    width: 200px;

    @include at-medium-size {
        width: initial;
    }

    &:hover,
    &:focus {
        @include button-single-light-hover;
    }
}

