.tg-header {
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.tg-header--video {
    margin-bottom: 0;

    .tg-header__intro {
        padding: $PADDING_LARGE 0 $PADDING_MEDIUM 0;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            padding: $PADDING_X_LARGE 0 $PADDING_LARGE 0;
        }
    }
}

.tg-header--miss-vogue  {

    .tg-header__intro__image,
    .tg-header__intro svg {
        margin-bottom: $MARGIN_MEDIUM;
        width: 213px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            margin-bottom: $MARGIN_LARGE;
            width: 320px;
        }
    }
}

.tg-header--person {
    .c-gallery-strip__wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding-left: $DESKTOP_SIDE_GUTTER;
            padding-right: $DESKTOP_SIDE_GUTTER;
        }
    }
}

// .tg-header + [class*="-ad"] .ad-block:not(.is-hidden) {
//     padding: $PADDING_LARGE 0 0 0;

//     @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
//         padding: $PADDING_X_LARGE 0 0 0;
//     }
// }

.tg-header__wrapper {
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__intro {
    padding: $PADDING_LARGE 0 0 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $PADDING_X_LARGE 0 0 0;
    }
}

.tg-header__intro__image,
.tg-header__intro svg {
    display: block;
    margin: 0 auto $MARGIN_SMALL auto;
    width: 160px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $MARGIN_MEDIUM;
        width: 250px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        width: 250px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.tg-header__intro__title {
    @include line-height(36px);
    margin: 0 0 $MARGIN_X_SMALL 0;
    text-align: center;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT){
        @include line-height(50px);
        margin-bottom: $MARGIN_SMALL;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.tg-header__separator {
    display: none;
}

.tg-header__intro__description {
    color: $COLOR_TYPE_META;
    @include font('ADOBE CASLON', 16px, null, 20px);
    margin: $MARGIN_X_SMALL auto 22px auto;
    max-width: 680px;
    text-align: center;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(20px);
        @include line-height(25px);
        margin: $MARGIN_X_SMALL auto $MARGIN_MEDIUM auto;
    }
}

.tg-header__topic-strip {
    margin: 25px 0 $MARGIN_LARGE 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: $MARGIN_MEDIUM 0 $MARGIN_X_LARGE 0;
    }
}
.c-topic-strip__item--topic a {
    display: inline-block;
}

.tg-header__cards {
    margin: 0 auto $MARGIN_LARGE auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__shows,
.tg-header__style-file {
    padding: 40px $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 40px $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 40px $DESKTOP_SIDE_GUTTER;
    }

    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;

    .sh-item-carousel {
        border-top: none;
        margin: 0;
        padding: 0;

        .sh-item-carousel__nav {
            top: 0;
        }

        .sh-item-carousel__list {
            margin: 0;

            .sh-item-carousel__list__item {
                padding: 0 5px;
            }

            .sh-item-carousel__list__item:first-child {
                padding-left: 0;
            }

            .sh-item-carousel__list__item:last-child {
                padding-right: 0;
            }
        }
    }
}

.tg-header__event-meta {
    @include font('ADOBE CASLON', 0px, null, 20px);
    color: $COLOR_TYPE_META;
    margin: 40px 0;
    max-width: 680px;
    text-align: center;
}
.tg-header__event-meta__start-date {
    @include font-size(16px);
    display: block;
}
.tg-header__event-meta__separator {}
.tg-header__event-meta__location {
    @include font-size(16px);
    display: block;
}

@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
    .tg-header__event-meta {
        margin: $MARGIN_X_SMALL auto $MARGIN_MEDIUM auto;
    }
    .tg-header__event-meta__start-date {
        display: inline-block;


        + .tg-header__event-meta__location {
            margin-left: 8px;
            padding-left: 8px;
            position: relative;

            &:before {
                background: $COLOR_BORDER_SOLID_ACCENT2;
                content: '';
                display: block;
                left: 0;
                height: 20px;
                position: absolute;
                top: -2px;
                width: 1px;
            }
        }
    }
    .tg-header__event-meta__separator {}
    .tg-header__event-meta__location {
        display: inline-block;
    }
}