@import '@cnbritain/merlin-www-common:gq';

.c-card--dark {
    &.c-card--landscape,
    &.c-card--portrait,
    &.c-card--switcher {
        .c-card__title,
        .c-card__byline {
            color: $white;
        }

        .c-card__image__icon {
            background-color: $white;

            path {
                fill: $limed-oak;
            }
        }

        .c-card__obj__body {
            border-color: $mineshaft;
        }
    }
}