// -------------------- //
// v-related
// -------------------- //
@mixin card-v-related() {
    .c-card__obj {
        display: table;
        width: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: table-cell;
        vertical-align: top;
    }
}

@mixin card-v-related-small() {
    .c-card__obj__header {
        padding-right: 8px;
        width: 50%;
    }
    .c-card__obj__body {
        padding-left: 8px;
        width: auto;
    }

    .c-card__images {
        .c-card__image {
            padding-top: 66.66666%;
        }

        .c-card__image__icon {
            display: none;
        }
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__tag {
        display: none;
    }

    .c-card__title {
        @include font("GOTHAM", 14px, null, 18px, -4);
        margin-bottom: 6px;
        margin-top: 0;
    }

    .c-card__byline {
        @include font("GOTHAM", 9px, null, 12px, 60);
        margin-bottom: 6px;
        margin-top: 6px;

        .c-card__byline-prefix {
            @include font-weight(400);
        }

        .c-card__byline-name {
            @include font-weight(700);
        }
    }

    .c-card__meta {
        @include font("GOTHAM", 9px, 500, 14px);
        color: $oslo-gray;
        margin-top: 6px;
        padding-right: 0;

        li.c-card__meta-item {
            & + li.c-card__meta-item {
                border-left: none;
                padding-left: 0;
                &:before {
                    background-color: $oslo-gray;
                    border-radius: 50%;
                    content: "";
                    display: inline-block;
                    height: 2px;
                    margin: 1px 4px;
                    width: 2px;
                }
            }

            svg {
                fill: $oslo-gray;
            }
        }
    }

    .c-card__title,
    .c-card__byline {
        color: $white;
    }

    .c-card__obj__body {
        border-color: $mineshaft;
    }
}

@mixin card-v-related-large($has_small:false) {
    @if not $has_small {
        .c-card__obj__header {
            padding-right: 8px;
            width: 50%;
        }
        .c-card__obj__body {
            padding-left: 8px;
            width: auto;
        }

        .c-card__images {
            .c-card__image {
                padding-top: 66.66666%;
            }

            .c-card__image__icon {
                display: none;
            }
        }

        .c-card__teaser {
            display: none;
        }

        .c-card__separator {
            display: none;
        }

        .c-card__tag {
            display: none;
        }

        .c-card__title {
            @include font("GOTHAM", 14px, null, 18px, -4);
            margin-bottom: 6px;
            margin-top: 0;
        }

        .c-card__byline {
            @include font("GOTHAM", 9px, null, 12px, 60);
            margin-bottom: 6px;
            margin-top: 6px;

            .c-card__byline-prefix {
                @include font-weight(400);
            }

            .c-card__byline-name {
                @include font-weight(700);
            }
        }

        .c-card__meta {
            @include font("GOTHAM", 9px, 500, 14px);
            color: $oslo-gray;
            margin-top: 6px;
            padding-right: 0;

            li.c-card__meta-item {
                & + li.c-card__meta-item {
                    border-left: none;
                    padding-left: 0;
                    &:before {
                        background-color: $oslo-gray;
                        border-radius: 50%;
                        content: "";
                        display: inline-block;
                        height: 2px;
                        margin: 1px 4px;
                        width: 2px;
                    }
                }

                svg {
                    fill: $oslo-gray;
                }
            }
        }

        .c-card__title,
        .c-card__byline {
            color: $white;
        }

        .c-card__obj__body {
            border-color: $mineshaft;
        }
    }
}

.c-card--v-related {
    @include card-v-related();
    @include card-v-related-small();
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include card-v-related-large($has_small:true);
    }
}

.c-card--v-related-small {
    @include card-v-related();
    @include card-v-related-small();
}

.c-card--v-related-large {
    @include card-v-related();
    @include card-v-related-large();
}