.n-main__header-logo {
    display: inline-block;
    height: 140px;
    max-width: none;
    position: relative;
    text-align: center;

    a {
        display: inline-block;
    }

    svg, img {
        height: 88px;
        padding: 26px 0;
    }

    &:after {
        background-color: $mineshaft;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
    }
}

.n-main__header-logo--takeover {

}