@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-buttons:gq";
@import "@cnbritain/merlin-www-search-header:gq";

@import "../wireframe/wireframe";

@import "_base";
@import "_promo";
@import "_masthead";
@import "_dropdown";
@import "_social";
@import "_search";
@import "_gallery";

.n-vanishing-nav {
    .n-main__sticker-child {
        transform: translate(0, 0%);
        transition: transform 0.2s ease-in-out;
    }

    &.is-hidden {
        .n-main__sticker-child {
            transform: translate(0, -100%);
        }
    }
}