@import "@cnbritain/merlin-www-buttons:gq";
@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-image:gq";

@import "../wireframe/wireframe";

.c-masthead {
    background-color: $black;
}

.c-masthead__wrapper {}
.c-masthead__logo {
    height: 88px;
    padding: 26px 0;
    width: 182px;

    svg, path {
        fill: $white;
    }
}

.c-nav {
    background-color: $black;
    border-top: 1px solid $mineshaft;
    box-sizing: border-box;
}

.c-nav__search-icon {
    border-left: 1px solid $mineshaft;
    box-sizing: border-box;

    @include min-screen($XX_LARGE_SIZE + -1px) {
        border-right: 1px solid $mineshaft;
    }

    svg {
        fill: $white;
        width: 18px;
    }

    &:hover {
        svg {
            fill: $limed-oak;
        }
    }
}

.c-nav__toggle-icon {
    border-left: 1px solid $mineshaft;
    box-sizing: border-box;

    @include min-screen($XX_LARGE_SIZE + -1px) {
        border-right: 1px solid $mineshaft;
    }

    svg {
        fill: $white;
        width: 18px;
    }

    &:hover {
        svg {
            fill: $limed-oak;
        }
    }
}

.c-nav__open-icon {
    @include max-screen($X_LARGE_SIZE + -1px) {
        svg {
            width: 32px;
        }
    }
}

.c-nav__close-icon {}

.c-nav__wrapper {
    background-color: $black;

    &:before {
        background-color: $black;
    }

    &:after {
        background-color: $mineshaft;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        top: 60px;
        transform: translateX(-50%);
        width: 100vw;

        @include at-x-large-size {
            z-index: -1;
        }
    }
}

.c-nav__content {
    background-color: $black;

    @include max-screen($X_LARGE_SIZE - 1px) {
        &:before {
            background-color: $black;
        }
    }
}

.c-nav__logo {
    background-color: $black;
    width: 83px;

    svg {
        fill: $white;
    }
}

.c-nav__search {
    @include at-x-large-size {
        box-sizing: border-box;
        padding: 60px;
        top: 61px;

        &:before {
            background-color: rgba($black, 0.9);
            content: "";
            height: 100vh;
            position: absolute;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

.c-nav__search-form {
    background-color: $black;
    border-bottom: solid 1px $mineshaft;

    @include at-x-large-size {
        border-bottom: none;

        &:before {
            background-color: $black;
            content: "";
            height: 100%;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 100vw;
            z-index: -1;
        }
    }
}

.c-nav__search-input {
    @include font("GOTHAM", 14px, 400, 60px);
    background-color: $black;
    color: $white;
    padding: 0 20px;

    @include at-x-large-size {
        @include font("GOTHAM", 50px, 700, 50px);
        padding: 0;
        text-align: center;
    }
}

.c-nav__search-button {
    background-color: $black;

    svg {
        fill: $white;
        width: 18px;
    }
}

.c-nav__main {}
.c-nav__main-list {
    background-color: $black;
    padding: 0 0 15px 0;

    @include at-x-large-size {
        padding: 0;
    }
}

.c-nav__main-list-item {}
.c-nav__main-list-item--more {}
.c-nav__main-link {
    @include font("GOTHAM", 16px, 700, 60px, 60);
    border-bottom: 1px solid $mineshaft;
    box-sizing: border-box;
    color: $white;
    padding: 0 20px;
    text-transform: uppercase;

    @include at-x-large-size {
        @include font-size(12px);
        border-bottom: 1px solid $black;
        margin: 0 16px;
        padding: 0;

        &:hover {
            border-bottom: 6px solid $limed-oak;
        }
    }
}

.c-nav__main-link--more {
    border-bottom: none;

    @include at-x-large-size {

        &:hover {
            border-bottom: none;
        }
    }
}

.c-nav__alt-list {
    background-color: $black;
    padding: 15px 20px 0 20px;

    @include at-x-large-size {
        border-bottom: 1px solid $mineshaft;
        border-left: 1px solid $mineshaft;
        border-right: 1px solid $mineshaft;
        border-top: 1px solid $mineshaft;
        padding: 20px 32px 20px 32px;
        margin-left: -16px;
    }
}

.c-nav__alt-list-item {}
.c-nav__alt-link {
    @include font("GOTHAM", 12px, 700, 40px, 60);
    color: $white;
    height: 40px;
    text-transform: uppercase;

    @include at-x-large-size {
        &:hover {
            &:before {
                background-color: $limed-oak;
                content: "";
                height: 100%;
                left: -32px;
                position: absolute;
                top: 0;
                width: 6px;
            }
        }
    }
}

.c-nav__promo {
    background-color: $woodsmoke;
    border-bottom: 1px solid $mineshaft;
    border-top: 1px solid $mineshaft;
    padding: 32px 20px;

    @include at-x-large-size {
        background-color: transparent;
        border: none;
        bottom: 50px;
        padding: 0 0 0 60px;
    }
}

.c-nav__promo-wrapper {}
.c-nav__promo-images {}
.c-nav__promo-covers {
    padding-right: 12px;
    text-align: left;
}

.c-nav__promo-cover {
    @include at-x-large-size {
        marign-left: -28px;

        &:nth-child(2) {
            display: none;
        }
    }
}

.c-nav__promo-content {
    text-align: left;

    @include at-x-large-size {
        vertical-align: top;
    }
}

.c-nav__promo-message {
    @include font("GOTHAM", 12px, 400, 18px);
    color: $white;
    margin-bottom: 12px;
    white-space: pre-line;
}

.c-nav__promo-button {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }

    @include at-x-large-size {
        @include font-size(9px);
        @include line-height(9px);
        padding: 4px;
    }
}

.c-nav__social {
    margin: 30px 20px 32px 20px;

    @include at-x-large-size {
        margin: 0;
    }
}

.c-nav__social-list {}
.c-nav__social-list-item {}
.c-nav__social-list-item--follow {}

.c-nav__social-link {}
.c-nav__social-link--follow {
    @include font("GOTHAM", 12px, 400, 12px);
    color: $white;
    margin: 0 0 16px 0;

    @include at-x-large-size {
        @include font("GOTHAM", 12px, 700, 60px, 60);
        text-transform: uppercase;
        margin: 0 16px;
    }
}

.c-nav__social-brand {}

.c-nav__share-list {
    @include at-x-large-size {
        background-color: $black;
        border-bottom: 1px solid $mineshaft;
        border-left: 1px solid $mineshaft;
        border-right: 1px solid $mineshaft;
        border-top: 1px solid $mineshaft;
        padding: 20px 16px 20px 16px;
        margin-right: -1px;
    }
}

.c-nav__share-list-item {
    margin: 0 4px;
}

.c-nav__share-list-item--newsletter {
    margin: 0;
}

.c-nav__share-link {
    @include button-share();
}

.c-nav__share-link--youtube {
    @include button-share-dark("youtube");
    &:hover {
        @include button-share-dark-hover("youtube");
    }
}

.c-nav__share-link--twitter {
    @include button-share-dark("twitter");
    &:hover {
        @include button-share-dark-hover("twitter");
    }
}

.c-nav__share-link--instagram {
    @include button-share-dark("instagram");
    &:hover {
        @include button-share-dark-hover("instagram");
    }
}

.c-nav__share-link--facebook {
    @include button-share-dark("facebook");
    &:hover {
        @include button-share-dark-hover("facebook");
    }
}

.c-nav__share-button {
    @include button-single();
    @include button-single-light();
    margin-top: 20px;

    &:hover {
        @include button-single-light-hover();
    }
}

.c-nav__gallery {
    background-color: $black;
    left: 113px;
    padding-left: 32px;
}

.c-nav__gallery-title {
    @include font("GOTHAM", 17px, 700, 60px, -4);
    color: $white;
}

.c-nav__gallery-count {
    font-size: 0;
    padding: 0 32px;
}

.c-nav__gallery-slash {
    @include font("GOTHAM", 12px, 400, 60px);
    color: $oslo-gray;
    margin: 0 4px;
}

.c-nav__gallery-current {
    @include font("GOTHAM", 17px, 700, 60px);
    color: $white;
}

.c-nav__gallery-total {
    @include font("GOTHAM", 12px, 400, 60px);
    color: $white;
}

.c-nav__gallery-icon {
    border-left: 1px solid $mineshaft;
    box-sizing: border-box;

    @include min-screen($XX_LARGE_SIZE + -1px) {
        border-right: 1px solid $mineshaft;
    }

    svg {
        fill: $white;
        width: 18px;
    }

    &:hover {
        svg {
            fill: $limed-oak;
        }
    }
}

.c-nav__list-icon {}
.c-nav__grid-icon {}

.c-nav__down-arrow {
    border-top-color: $shuttle-gray;
    margin-left: 8px;
}