@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-buttons:gq";
@import "@cnbritain/merlin-www-search-header:gq";

@import "../wireframe/wireframe";

@import "_base";
@import "_promo";
@import "_masthead";
@import "_dropdown";
@import "_social";
@import "_search";

.n-gallery-nav {
	@include opacity(0);
	@include transition(opacity 0.2s ease-in-out, visibility 0.2s ease-in-out);
	bottom: 0;
	height: 60px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 100%;

	&.is-visible {
	    @include opacity(1);
	    visibility: visible;
	}
}

.n-gallery-counter {
    // @include font('ITC CASLON', 12px);
    // height: $MAIN_NAVIGATION_HEIGHT;
    // @include line-height($MAIN_NAVIGATION_HEIGHT + 4);
    // padding: 0 $PADDING_X_SMALL;

    // @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
    //     @include font-size(15px);
    //     padding: 0 $PADDING_MEDIUM;
    // }
}

.n-gallery-counter__current {
    // @include font-size(18px);
    // @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
    //     @include font-size(20px);
    // }
}

.n-gallery-counter__slash {
    // padding: 0 $PADDING_XXX_SMALL;
}

.n-gallery-counter__total {}


.n-gallery-toggle,
a.n-gallery-close {
    // display: inline-block;
    // height: $MAIN_NAVIGATION_HEIGHT;
    // line-height: $MAIN_NAVIGATION_HEIGHT;
    // width: $MAIN_NAVIGATION_HEIGHT - 20;

    // @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
    //     width: $MAIN_NAVIGATION_HEIGHT;
    // }

    // svg {
    //     height: 100%;
    //     width: 16px;

    //     @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
    //         width: 18px;
    //     }
    // }
}
.n-gallery-toggle--list,
.n-gallery-toggle--grid {
    // border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    // border-right: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    // display: inline-block;
    // height: $MAIN_NAVIGATION_HEIGHT;
    // width: $MAIN_NAVIGATION_HEIGHT - 20;

    // @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
    //     width: $MAIN_NAVIGATION_HEIGHT;
    // }

    // &:hover {
    //     svg {
    //         fill: $COLOR_MAIN_HIGHLIGHT;

    //         path {
    //             fill: $COLOR_MAIN_HIGHLIGHT;
    //         }
    //     }
    // }

    // svg {
    //     height: 100%;
    //     width: 16px;

    //     @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
    //         width: 18px;
    //     }
    // }
}

.n-vanishing-nav {
    .n-main__sticker-child {
        @include vendor-prefix(transform, translate(0, 0%));
        @include vendor-prefix(transition, transform 0.2s ease-in-out);
    }

    &.is-hidden {
        .n-main__sticker-child {
            @include vendor-prefix(transform, translate(0, -100%));
        }
    }
}