.a-author,
.a-event-author {

}

.a-author__article-date {
    @include font("GOTHAM", 9px, 500, 14px, 0);
    color: $oslo-gray;
    margin-top: 8px;
}

.a-author__bio {
    @include font("GOTHAM", 12px, 400, 16px);
    color: $oslo-gray;
    margin-bottom: 16px;
    margin-top: 8px;
}

.a-author__byline {
    @include font("GOTHAM", 9px, 400, 16px, 60);
    color: $mineshaft;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: uppercase;

    a {
        border-bottom: none;
        color: inherit;
    }
}

.a-author__byline--syndication {
    .a-author__byline-prefix {

    }
}

.a-author__byline--photographer {
    .a-author__byline-prefix {

    }
}

.a-author__byline-name {
    @include font-weight(700);
}

.a-author__byline-prefix,
.a-author__byline-conjunction {
    color: $mineshaft;
}

.a-author__image,
.a-event-author__image {
    border-radius: 50%;
    height: 66px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 66px;

    img {
        border-radius: 50%;
        overflow: hidden;
    }
}

.a-author__separator,
.a-event-author__separator {
    display: none;
}

.a-author__separator--date {}

.a-event-author__title {
    @include font("GOTHAM", 12px, 700, 16px);
    color: $woodsmoke;
}

.a-event-author__location {
    @include font("GOTHAM", 12px, 400, 16px);
    color: $shuttle-gray;
}

.a-event-author__date {
    @include font("GOTHAM", 12px, 400, 16px);
    color: $shuttle-gray;
}

.a-event-author__btn {
    @include button-group();
    border: 1px solid $cornflower-blue;
    box-sizing: border-box;
    color: $cornflower-blue;
    margin-top: 20px;
    text-align: center;

    &:hover {
        background-color: $cornflower-blue;
        border: 1px solid $cornflower-blue;
        color: $white;
    }
}