.a-footer {
    .a-share {
        margin: 40px 0 28px 0;
    }
}

.a-footer--gallery {}

.a-footer--video {
	.a-footer__wrapper {
		padding-left: 0;
	}
}

.a-footer__wrapper {}

.a-related-tags {
    margin: 28px 0 40px 0;
    @include at-x-large-size {
    	margin: 40px 0;
    }
}
.a-related-tags__wrapper {}
