.a-header {
    margin-bottom: 32px;
    margin-top: 40px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 40px;
        margin-top: 60px;
    }
}
.a-header--gallery {

}

.a-header--video {
    .a-header__content {
        padding-left: 0;
    }
}

.a-header__wrapper {

}

.a-header__content {
    @include min-screen($ARTICLE_TOTAL) {
        padding-left: 0;
    }
}

.a-header__title {
    letter-spacing: 0;
    margin-top: 16px;
    margin-bottom: 10px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 20px;
        margin-bottom: 16px;
    }
}

.a-header__teaser {
    @include font("GOTHAM", 14px, 400, 20px, -2);
    color: $oslo-gray;
    margin-bottom: 20px;
    margin-top: 10px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(17px);
        @include line-height(24px);
        margin-bottom: 32px;
        margin-top: 16px;
    }

    a {
        border-bottom: 1px solid $cornflower-blue;
        color: $cornflower-blue;
        @include font-weight(400);
        text-decoration: none;
    }
}

.a-header__separator {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }
}

.a-header__about {

}

.a-header__byline {
    margin-bottom: 4px;
    margin-top: 20px;
}

.a-header__byline-item {
    @include font("GOTHAM", 9px, 400, 14px, 60);
    color: $mineshaft;
    display: block;
    text-transform: uppercase;

    & + .a-header__byline-item {
        margin-top: 4px;
    }

    a {
        color: $mineshaft;
        border-bottom: none;
    }
}

.a-header__byline-item--syndication {

}

.a-header__byline-name {
    @include font-weight(700);
}
.a-header__byline-prefix,
.a-header__byline-conjunction {}

.a-header__date {
    @include font("GOTHAM", 9px, 500, 14px, 4);
    margin-top: 4px;
    margin-bottom: 24px;
    color: $oslo-gray;
}

.a-header__image {
    margin-top: 32px;
    padding: 0;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 40px;
    }
}

.a-header__image-constrain {
    background-color: $bon-jour;
}

.a-header__image-constrain--landscape,
.a-header__image-constrain--portrait,
.a-header__image-constrain--square {

}

.a-header__image-constrain--landscape {

}

.a-header__image-constrain--portrait {

}

.a-header__image-constrain--square {

}

.a-header__image-title,
.a-header__image-caption,
.a-header__image-credit {
    box-sizing: border-box;
    max-width: $ARTICLE_TOTAL + $DESKTOP_SIDE_GUTTER*2;

    @include min-screen($ARTICLE_TOTAL) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 220px + $DESKTOP_SIDE_GUTTER;
        padding-right: 350px + $DESKTOP_SIDE_GUTTER;
    }
}

.a-header__image-title {
    @include font("GOTHAM", 16px, 700, 22px, -4);
    color: $woodsmoke;
    margin-bottom: 8px;
    margin-top: 16px;
}

.a-header__image-caption {
    @include font("GOTHAM", 16px, 700, 22px, -4);
    color: $woodsmoke;
    margin-bottom: 8px;
    margin-top: 8px;
}

.a-header__image-credit {
    @include font("GOTHAM", 9px, 400, 12px, 60);
    color: $oslo-gray;
    margin-top: 8px;
    text-transform: uppercase;

    &:before {
        content: 'Credit: ';
    }
}

.a-header__separator--hero {
    display: none;
}

.a-header__meta {
    margin-bottom: 24px;
    margin-top: 10px;
}
.a-header__meta--date {}
.a-header__meta--tag {}
.a-header__meta-item {
    @include font("GOTHAM", 11px, 400, 16px);
    color: $oslo-gray;

    & + .a-header__meta-item {
        margin-left: 2px;
        padding-left: 6px;

        &:before {
            background-color: $oslo-gray;
            border-radius: 50%;
            content: '';
            height: 2px;
            left: -1px;
            position: absolute;
            top: 7px;
            width: 2px;
        }
    }

    a {
        color: inherit;
    }
}

.a-header__tag {
    @include font("GOTHAM", 10px, 700, 10px, -4);
    background-color: $limed_oak;
    border-bottom: none;
    color: $white;
    display: inline-block;
    padding: 6px 16px 6px 6px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(12px);
        @include line-height(12px);
    }
}
.a-header__tag__primary {
    @include font-weight(700);
    border-bottom: none;
    color: $white;
}
.a-header__tag__secondary {}

.a-header__separator--sponsor {

}

.a-main.is-sponsored {
    .a-header__separator {

    }
}

.a-header__sponsor {
    @include font("GOTHAM", 9px, 400, 14px, 60);
    border-bottom: 1px solid $bon-jour;
    border-top: 1px solid $bon-jour;
    color: $mineshaft;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px 0;
    text-transform: uppercase;

    a {
        color: $mineshaft;
        border-bottom: none;
    }
}

.a-header__sponsor-prefix {}

.a-header__sponsor-name {
    @include font-size(12px);
    @include font-weight(700);
    margin-left: 2px;
}

.a-header__sponsor-image {

}

.a-header__meta {}

.a-header__meta-item {}

.a-header__event {}
.a-header__event-title {}
.a-header__event-location {}
.a-header__event-date {}
.a-header__event-btn {}