@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-buttons:gq";

@import '../wireframe/wireframe';

.a-podcast {
	margin: 28px 0;
}

.a-podcast__wrapper {}
.a-podcast__content {}
.a-podcast__audio {}

.a-podcast__player {
	margin-bottom: 32px;
	width: 100%;
}

.a-podcast__list {
	font-size: 0;
}
.a-podcast__list-item {
	display: block;
	font-size: initial;

	& + .a-podcast__list-item {
		margin-top: 10px;
	}

	@include at-medium-size {
		display: inline-block;

		& + .a-podcast__list-item {
			margin-top: 0px;
			margin-left: 10px;
		}
	}
}

.a-podcast__btn {
	@include button-group();
	border: 1px solid $oslo-gray;
	box-sizing: border-box;
	color: $oslo-gray;
	text-align: center;
	width: 100%;

	&:hover {
		background-color: $oslo-gray;
		border: 1px solid $oslo-gray;
		color: $white;
	}

	@include at-medium-size {
	    width: auto;
	}
}

.a-podcast__btn--itunes {}
.a-podcast__btn--rss {}
.a-podcast__btn--download {
	border-color: $cornflower-blue;
	color: $cornflower-blue;

	&:hover {
		background-color: $cornflower-blue;
		border: 1px solid $cornflower-blue;
		color: $white;
	}
}