.a-sidebar-content {

}

.a-sidebar-content__list {

}

.a-sidebar-content__list-item + .a-sidebar-content__list-item {
    margin-top: 24px;
}

.a-sidebar-content__title {
    @include font("GOTHAM", 12px, 700, 16px, 60);
    color: $woodsmoke;
    margin-top: 4px;
    margin-bottom: 16px;
    text-transform: uppercase;
}