@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-image:traveller";
@import "@cnbritain/merlin-www-card:traveller";

@import "../wireframe/wireframe";
@import "./_hero";

.c-splash {}
.c-splash-wrapper {
	margin: 0 auto;
	max-width: $MAXIMUM_PAGE_WIDTH;
	width: 100%;
}

.c-splash__cards {
	border-bottom: 1px solid $ISABEL;
    margin: 24px $MOBILE_SIDE_GUTTER $MOBILE_SLICE_MARGIN $MOBILE_SIDE_GUTTER;
    padding-bottom: 32px;

	@include at-medium-size {
	    margin-left: $TABLET_SIDE_GUTTER;
	    margin-right: $TABLET_SIDE_GUTTER;
	}

	@include at-x-large-size {
	    margin-left: $DESKTOP_SIDE_GUTTER;
	    margin-right: $DESKTOP_SIDE_GUTTER;
	}
}

.c-splash__cards-wrapper {}
.c-splash__cards-list {
    grid-gap: 24px;
    grid-template-columns: 1fr;

    @include at-small-size {
        grid-template-columns: 1fr 1fr;
    }

    @include at-x-large-size {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.c-splash__cards-listitem {}
