@import '@cnbritain/merlin-www-common:glamour';
@import '@cnbritain/merlin-www-buttons:glamour';

@import '../wireframe/wireframe';

.a-marketing-card {
    border: solid 4px $mandy;
    padding: 30px 20px;
}

.a-marketing-card__header,
.a-marketing-card__body {
    text-align: center;

    @include at-medium-size {
        text-align: left;
        vertical-align: top;
    }
}

//brand
.a-marketing-card__brand {
     @include at-medium-size {
         padding-right: 15px;
     }
}

.a-marketing-card--brand .a-marketing-card__header {
    @include at-medium-size {
        text-align: center;
        width: 180px;
    }
}

.a-marketing-card--brand .a-marketing-card__body {
    @include at-medium-size {
        border-left: 1px solid $mandy;
            padding-left: 15px;
            padding-right: 0;
            text-align: left;
            width: auto;
    }
}

.a-marketing-card__brand__prefix {
    @include font('GRAPHIK', 10px, 'NORMAL', 10px);
    color: $dune;
    display: block;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0;
    text-transform: uppercase;

    @include at-medium-size {
       margin: 0 0 13px 0;
    }
}

.a-marketing-card__brand__img {
    margin: 0 auto 20px auto;
    width: 100%;
    max-width: 160px;
}

.a-marketing-card__brand__name {
    @include font('GRAPHIK', 18px, 'SEMI BOLD', 24px);
    color: $dune;
    display: block;
    letter-spacing: 1.5px;
    margin: 0 0 20px 0;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

//magazine
.a-marketing-card__magazine {
    margin: 0 auto 10px auto;
    width: 200px;

    @include at-medium-size {
        margin-bottom: 0;
        width: 240px;
    }
}

 .a-marketing-card--magazine .a-marketing-card__header {
     @include at-medium-size {
         padding-right: 20px;
         width: 260px;
     }
 }

 .a-marketing-card--magazine .a-marketing-card__body {
     @include at-medium-size {
         width: auto;
     }
 }

.a-marketing-card__magazine__cover--print {
    width: 137px;

    @include at-medium-size {
        width: 160px;
    }
}

.a-marketing-card__magazine__cover--tablet {
    width: 100px;

    @include at-medium-size {
        background: #000;
        width: 118px;
    }
}

.a-marketing-card__magazine__cover--mobile {
    display: none;
}

//event
//topic
.a-marketing-card--event .a-marketing-card__header,
.a-marketing-card--topic .a-marketing-card__header {
    @include at-medium-size {
        padding-right: 20px;
        vertical-align: top;
        width: 140px;
    }
}

.a-marketing-card--event .a-marketing-card__body,
.a-marketing-card--topic .a-marketing-card__body {
     @include at-medium-size {
         border-left: 1px solid $mandy;
         padding-left: 20px;
         padding-right: 0;
         vertical-align: top;
         width: auto;
     }
}

//marketing
.a-marketing-card__title {
    @include font('MILLER_DISPLAY', 18px, 'SEMI BOLD', 21px);
    color: $dune;
    margin: 0;

    @include at-medium-size {
        @include font-size(23px);
        @include line-height(28px);
    }
}

.a-marketing-card__desc {
    @include font('GRAPHIK', 15px, 'SEMI BOLD', 20px);
    color: $dune;
}

.a-marketing-card__title + .a-marketing-card__desc {
    margin-top: 10px;
}

.a-marketing-card__desc + .a-marketing-card__link,
.a-marketing-card__title + .a-marketing-card__link{
    margin-top: 30px;
}

.a-marketing-card__link {
    @include button-group;
    @include button-group-light;
    margin: 30px 0 0 0;
    border-color: $mandy;
    color: $mandy;

    &:hover,
    &:focus {
        @include button-group-light-hover;
          background: $mandy;;
          border-color: $mandy;
    }
}
