@import '@cnbritain/merlin-www-common:glamour';
@import '@cnbritain/merlin-www-buttons:glamour';

@import '../wireframe/wireframe';

.a-marketing-card {
    @include font('CENTURY_GOTHIC');
    @include section-margins;

    border-bottom: 2px solid $COLOUR_BORDER_SOLID;
    border-top: 2px solid $COLOUR_BORDER_SOLID;
    padding: 30px 0;
    text-align: center;
}

.a-marketing-card__brand {
    @include font('GRAPHIK', 12px, 'NORMAL', 17px);
    margin-bottom: 30px;
    text-align: center;

    a {
        @include font-size(13px);
        @include font-weight('SEMI BOLD');

        color: #000;
        letter-spacing: 0.02em;
    }

}
.a-marketing-card__brand__img {
    margin: 10px auto 30px auto;
    max-width: 120px;
}

.a-marketing-card__magazine {
    margin: 0 auto 20px auto;
    width: 150px;
}
.a-marketing-card__magazine__cover--print {
    margin-left: -48px;
    width: 70%;
}
.a-marketing-card__magazine__cover--tablet {
    background: none;
    background-color: #000;
    padding: 11px 8px;
    width: 72px;
}
.a-marketing-card__magazine__cover--mobile {
    background: none;
    background-color: #000;
    border-radius: 4px;
    margin-bottom: 0;
    margin-left: -35px;
    padding: 13px 4px;
    width: 40px;
}

.a-marketing-card__title {
    @include font-size(18px);
    @include line-height(21px);

    margin: 20px 0;
}

.a-marketing-card__desc {
    @include font('GRAPHIK', 14px, 'NORMAL', 17px);
    margin: 0 0 20px 0;
}

a.a-marketing-card__link {
    @include button-single();
    @include button-single-light();
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    &:hover {
        @include button-single-light-hover();
    }
}

@include marketing-card-medium-size() {
    .a-marketing-card {
        padding: 40px 0;
        text-align: left;
    }
    .a-marketing-card__brand {
        margin-bottom: 0;
        text-align: left;
    }
    .a-marketing-card__brand__img {
        margin: 10px 0 0;
    }
    .a-marketing-card__magazine {
        margin: 0;
        width: 210px;
    }
    .a-marketing-card__title {
        @include font-size(22px);
        @include line-height(24px);
        margin-top: 0;
    }
    a.a-marketing-card__link {
        text-align: center;
        width: auto;
    }
    .a-marketing-card__magazine__cover--print {
        margin-left: 0;
    }
    .a-marketing-card__magazine__cover--tablet {
        padding: 15px 10px;
        width: 100px;
    }
    .a-marketing-card__magazine__cover--mobile {
        margin-left: -37px;
        padding: 17px 5px;
        width: 46px;
    }
    .a-marketing-card--brand,
    .a-marketing-card--event,
    .a-marketing-card--topic {
        .a-marketing-card__col {
            padding-right: 40px;
        }
        .a-marketing-card__col + .a-marketing-card__col {
            border-left: 1px solid #000;
            padding-left: 40px;
            padding-right: 0;
        }
    }
    .a-marketing-card--magazine {
        .a-marketing-card__col {
            padding-right: 40px;
            width: 210px;
        }
        .a-marketing-card__col + .a-marketing-card__col {
            width: auto;
        }
    }
}