
@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-card-list:glamour";
@import "@cnbritain/merlin-www-gallery-strip:glamour";
@import "@cnbritain/merlin-www-image:glamour";
// NOTE: glamour does not have a show card carousel
// @import "@cnbritain/merlin-www-show-card-carousel:glamour";
@import "@cnbritain/merlin-www-topic-strip:glamour";

@import "../wireframe/wireframe";


.tg-header {
    margin: 0 0 32px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 0 0 48px 0;
    }

    &.has-hero {
        margin-top: 0;
    }
}

.tg-header__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
    margin: 0 auto;
}

.tg-header__intro {
    background-color: #fbddde;
    padding: 30px 20px;
    position: relative;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 60px $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 60px 60px;
    }

    &:before {
        background-color: #fbddde;
        content: '';
        height: 100%;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        top: 0;
        width: 100vw;
    }
}

.tg-header__hero {
    height: 100%;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    position: absolute;
    right: 50%;
    top: 0;
    width: 100vw;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    // &:after {
    //     background-color: rgba($dune, 0.25);
    //     content: '';
    //     height: 100%;
    //     position: absolute;
    //     width: 100%;
    // }
}

.tg-header__hero-credit {
    @include font("GRAPHIK", 10px, 400, 10px);
    bottom: 10px;
    color: $white;
    letter-spacing: 1.5px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
}

.tg-header__intro__image {
    position: relative;
    z-index: 1;
}

.tg-header__title {
    @include font("MILLER_DISPLAY", 37px, 600, 40px);
    color: $dune;
    position: relative;
    text-align: center;
    z-index: 1;

    .has-hero & {
        color: $white;
        text-shadow: rgba(55, 51, 48, .28) 0px 0 30px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(75px);
        @include line-height(75px);
    }
}

.tg-header__description,
.tg-header__sponsor,
.tg-header__event-meta,
.tg-header__topic-strip {
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__sponsor {
    @include font("GRAPHIK", 10px, 400, 13px);
    color: $dune;
    display: table;
    letter-spacing: 1.5px;
    margin: 20px auto 40px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        border-top: none;
        margin: 30px auto 40px;
        padding: 0;
    }
}

.tg-header__sponsor-prefix {
    display: inline-block;
    white-space: nowrap;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: table-cell;
        vertical-align: middle;
    }
}

.tg-header__sponsor-name {
    color: $dune;
    padding-left: 5px;
}

.tg-header__sponsor-image {
    img {
        height: auto;
        margin: 10px auto 0 auto;
        max-height: 50px;
        max-width: 140px;
        width: auto;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: table-cell;
        margin-top: 0;
        padding-left: 10px;
        vertical-align: middle;

        img {
            max-height: 48px;
            margin-top: 0;
        }
    }
}

.tg-header__separator {
    display: none;
}

.tg-header__description {
    color: $dune;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 30px;
    }

    .bb-a {
        color: inherit;
    }

    .bb-p {
        color: inherit;
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.tg-header__description-expand {
    margin-top: 20px;
}

.tg-header__expand-btn {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }
}

.tg-header__topic-strip {
    margin: 12px (-$MOBILE_SIDE_GUTTER);

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 24px auto;
    }

    .c-topic-strip {
        padding: 0 $MOBILE_SIDE_GUTTER;
        text-align: center;
    }

    .c-topic-strip__btn {
        @include button-group();
        @include button-group-light();

        &:hover {
            @include button-group-light-hover();
        }
    }
}

.tg-header__event-meta {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    margin-top: 6px;
    letter-spacing: 1.5px;
    text-align: center;
    text-transform: uppercase;
}

.tg-header__event-meta__start-date {}
.tg-header__event-meta__location {}

.tg-header__cards {
    margin: 40px auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER*2;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}


.tg-header--video {
    .tg-header__intro__image {
        margin: 0 auto;
        width: 160px;

        svg {
            display: inline-block;
            height: 100%;
            width: 100%;
        }

        .svg-logo-block { fill: #ffffff; }
        .svg-logo{ fill: #373330; }

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            width: 300px;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            width: 430px;
        }
    }
}

.tg-header--profile {

    .tg-header__intro {
        background-color: transparent;
        padding: 0;
    }

    .tg-header__intro__image {
        border-radius: 50%;
        height: 90px;
        margin: 0 auto 15px auto;
        overflow: hidden;
        padding: 5px;
        position: relative;
        width: 90px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            height: 130px;
            margin-bottom: 20px;
            padding: 10px;
            width: 130px;
        }

        &:before {
            background-image: url('/static/img/pattern-1.jpg');
            background-position: center;
            border-radius: 50%;
            bottom: -5px;
            content: '';
            left: -5px;
            overflow: hidden;
            position: absolute;
            right: -5px;
            top: -5px;
            z-index: -1;

            @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                bottom: -10px;
                left: -10px;
                right: -10px;
                top: -10px;
            }
        }

        img {
            border-radius: 50%;
            height: 80px;
            overflow: hidden;
            width: 80px;

            @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                width: 110px;
                height: 110px;
            }
        }
    }

    .tg-header__title {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            @include font-size(40px);
            @include line-height(45px);
        }
    }
}

.tg-header--brand,
.tg-header--event,
.tg-header--topic {
    .tg-header__intro__image {
        margin: 0 auto 0 auto;
        width: 200px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin: 0 auto 0 auto;
            width: 250px;
        }

        img {
            display: inline-block;
            height: 100%;
            width: 100%;
        }
    }
}