
@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-card-list:glamour";
@import "@cnbritain/merlin-www-gallery-strip:glamour";
@import "@cnbritain/merlin-www-image:glamour";
// NOTE: glamour does not have a show card carousel
// @import "@cnbritain/merlin-www-show-card-carousel:glamour";
@import "@cnbritain/merlin-www-topic-strip:glamour";

@import "../wireframe/wireframe";



.tg-header__wrapper {
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__intro {
    margin: 30px 0 40px 0;

    @include tablet-size {
        margin: 60px 0;
    }
}

.tg-header__intro__image {
    display: block;
    margin: 0 auto;
    width: 160px;

    @include tablet-size {
        width: 250px;
    }
}

.tg-header__intro__image--profile {
    border-radius: 50%;
    margin-bottom: 15px;
    width: 120px;

    @include tablet-size {
        margin-bottom: 20px;
        width: 150px;
    }
}

.tg-header__intro__title {
    @include title-article;

    margin: 0;
    text-align: center;

    @include desktop-size {
        @include title-article-desktop;
        @include font-size(55px);
        @include line-height(60px);
    }
}

.tg-header__separator {
    display: none;
}

.tg-header__intro__description,
.tg-header__intro__description .bb-p {
    @include font('GRAPHIK', 15px);
    @include line-height(18px);

    margin: 10px auto;
    max-width: 280px;
    text-align: left;

    @include tablet-size {
        @include font-size(17px);
        @include line-height(23px);

        margin: 10px auto 20px;
        max-width: 700px;
        text-align: center;
    }
}

.tg-header__topic-strip {
    margin: 20px 0 0;

    .c-topic-strip {
        text-align: center;
    }

    @include tablet-size {
        margin: 40px 0 0;
    }
}

.tg-header__cards {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    .c-card-list__item {
        padding-bottom: 40px;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__event-meta {
    @include font('GRAPHIK', 12px, 'NORMAL', 17px, 20);

    text-align: center;
}

.tg-header__event-meta__start-date {
    padding-right: 7px;
}

.tg-header__event-meta__separator {
    display: none;
}

.tg-header__event-meta__location {
    @include font-weight('SEMI BOLD');

    border-left: 1px solid rgba(0,0,0, .3);
    padding-left: 7px;
}

.tg-header--profile {
    .tg-header__intro__image {
        margin-bottom: 15px;
        width: 120px;

        img {
            border-radius: 50%;
        }
    }

    @include desktop-size {
        .tg-header__intro__image {
            margin-bottom: 20px;
            width: 150px;
        }
    }
}

.tg-header--person {
    .c-gallery-strip__wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
        padding-left: 0;
        padding-right: 0;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding-left: $DESKTOP_SIDE_GUTTER;
            padding-right: $DESKTOP_SIDE_GUTTER;
        }
    }
}
