.c-magazine {
    background-color: $white;
}

.c-magazine__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding: 40px 20px;
    position: relative;

    @include tablet-size {
        padding: 60px 60px;
    }

    @include desktop-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.c-magazine__covers,
.c-magazine__content {
}

.c-magazine__covers {

}

.c-magazine__title {
    display: none;
}

.c-magazine__covers__wrapper {
    @include tablet-size {
        padding-right: 20px;
    }
}

.c-magazine__cover--print {

}

.c-magazine__cover--tablet {
    img {
        border-radius: 8px;
        padding: 20px 8px;
        right: 20px;
        @include desktop-size {
            border-radius: 12px;
            padding: 30px 10px;
            width: 38%;
            right: 40px;
        }
    }
}

.c-magazine__content__date {
    @include font('STARLING', 20px, 'BOLD', 20px);

    color: $black-two;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include tablet-size {
        @include font('STARLING', 27px, 'BOLD', 31px);

        letter-spacing: 2px;
        margin-bottom: 30px;
        text-align: left;
    }
}

.c-magazine__content__title {
    @include font('COMMUTER SANS', 11px, 'MEDIUM', 12px);

    color: $gray;
    display: block;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 6px;

    @include tablet-size {
        @include font('COMMUTER SANS', 12px, 'MEDIUM', 13px);

        letter-spacing: 1px;
        margin: 0 0 6px;
        text-align: left;
    }
}

.c-magazine__btn {
    @include button-single;
    @include button-single-light;

    margin-top: 30px;

    @include tablet-size {
        margin-top: 40px;
    }

    &:hover {
        @include button-single-light-hover;
    }
}
