.c-magazine {
    background-color: $white;
    margin: $MOBILE_SLICE_MARGIN auto;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }
}

.c-magazine-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding: 40px 20px;
    position: relative;

    @include at-medium-size {
        padding: 60px 60px;
    }

    @include desktop-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.c-magazine__title {
    display: none;
}

.c-magazine__covers {
    @include at-medium-size {
        padding-right: 20px;
    }
}

.c-magazine__cover--tablet {
    img {
        border-radius: 8px;
        padding: 20px 8px;
        right: 20px;

        @include desktop-size {
            border-radius: 12px;
            padding: 30px 10px;
            right: 40px;
            width: 38%;
        }
    }
}

.c-magazine__contents-title {
    @include font('COMMUTER SANS', 11px, 'MEDIUM', 12px);
    color: $gray;
    display: block;
    letter-spacing: 1px;
    margin: 30px 0 6px;
    text-align: center;
    text-transform: uppercase;

    @include at-medium-size {
        @include font('COMMUTER SANS', 12px, 'MEDIUM', 13px);
        letter-spacing: 1px;
        margin: 0 0 6px;
        text-align: left;
    }
}

.c-magazine__contents-date {
    @include font('STARLING', 20px, 'BOLD', 20px);
    color: $black;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;

    @include at-medium-size {
        @include font('STARLING', 27px, 'BOLD', 31px);
        letter-spacing: 2px;
        margin-bottom: 30px;
        text-align: left;
    }
}

.c-magazine__cards-list {
    display: flex;
    flex-wrap: wrap;

    .c-magazine__cards-listitem {
        max-width: 450px;
    }

    .c-magazine__cards-listitem + .c-magazine__cards-listitem {
        margin-top: 20px;
    }
}

.c-magazine__contents-btn {
    @include button-single;
    @include button-single-light;
    display: table;
    margin-top: 30px;

    @include at-medium-size {
        margin-top: 40px;
    }

    &:hover {
        @include button-single-light-hover;
    }
}
