
@import "@cnbritain/merlin-www-common:wireframe";
@import "@cnbritain/merlin-www-buttons:wireframe";
@import "@cnbritain/merlin-www-image:wireframe";
@import "@cnbritain/merlin-www-ads:wireframe";
@import "@cnbritain/merlin-www-topic-strip:wireframe";
@import "@cnbritain/merlin-www-card:wireframe";

.c-card-section {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.c-card-section-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    width: 100%;
}

.c-card-section__header {
    position: relative;
}
.c-card-section__body {}
.c-card-section__footer {}

.c-card-section__logo {}
.c-card-section__title {}
.c-card-section__nav-strip {}

.c-card-section__card-list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.c-card-section__card-listitem {
    box-sizing: border-box;
    font-size: initial;
    vertical-align: top;
    width: 100%;
}
.c-card-section__card-listitem--ad {
    &.is-hidden {
        height: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        visibility: hidden;
        width: 0;
    }
}

.c-card-section__btn {}


.c-card-section--a-recommended {}
.c-card-section--c-contributors {}
.c-card-section--c-curated {}
.c-card-section--c-tag {}
.c-card-section--c-video-articles {}
.c-card-section--dark {}
.c-card-section--mag-articles {}
.c-card-section--mag-magazines {}
.c-card-section--s-results {}
.c-card-section--sh-latest-articles {}
.c-card-section--sh-shows {}
.c-card-section--sh-summary-articles {}
.c-card-section--sh-summary-shows {}
.c-card-section--tg-articles {}
.c-card-section--tg-articles-grid {}
.c-card-section--v-articles {}
.c-card-section--v-genre-articles {}
.c-card-section--v-related-articles {}
