.n-main__dropdown {}
.n-main__dropdown--follow {
    .n-main__dropdown-link {
        @include font("MILLER_DISPLAY", 15px, 400, 15px);
        color: $mine-shaft;
        font-style: italic;
        text-transform: none;
    }

   +.n-main__list-item {
        &:before {
            display: none;
        }
    }

}

.n-main__dropdown--follow__group {
    font-size: 0;
    text-align: center;

    & + .n-main__dropdown--follow__group {
        margin-top: 20px;
    }
}

.n-main__dropdown-list {
    background-color: $white;
    border: 1px solid $mercury;
    margin-top: -1px;
    z-index: 1;
}

.n-main__dropdown-list--left {
    border-top: none;
    padding: 5px 50px 5px 20px;
}

.n-main__dropdown-list--follow {
    border-top: none;
    margin-right: -1px;
    padding: 10px 20px 20px;
    white-space: nowrap;
}

.n-main__dropdown-list-item {
    .n-main__nav-link {
        @include line-height(38px);
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        height: 38px;
        white-space: nowrap;

        span {
            display: inline-block;
            height: 38px;
            line-height: 38px;
        }
    }
}

.n-main__dropdown-link {
    &:after {
        border-top-color: $mine-shaft;
        border-width: 4px;
        margin-left: 8px;
        position: relative;
        top: -2px;
    }

     &:hover{
        color: $silver-chalice;
    }
}

a.n-main__dropdown__btn-share,
.n-main__dropdown__btn-share {
    font-size: initial;

    & + .n-main__dropdown__btn-share {
        margin-left: 14px;
    }
}

@each $name, $color in $COLOUR_SOCIAL {
    .n-main__dropdown__btn-share--#{$name},
    a.n-main__dropdown__btn-share--#{$name} {
        @include button-share();
        @include button-share-light($name);

        &:hover {
            @include button-share-light-hover($name);
        }
    }
}

.n-main__dropdown__btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}
