// TODO
.n-gallery-nav {
    @include opacity(0);
    @include transition(opacity 0.2s ease-in-out, visibility 0.2s ease-in-out);
    background-color: $white;
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;

    &.is-visible {
        @include opacity(1);
        visibility: visible;
    }

    &:before {
        @include vendor-prefix(transform, translateX(-50%));
        background-color: $mercury;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        width: 100vw;
    }
}

// .n-gallery-counter {
//     @include line-height(60px);
//     padding: 0 24px;
// }

// .n-gallery-counter__current {
//     @include font("PROXIMA NOVA CONDENSED", 20px, 600, 20px);
//     color: $SHERPA-BLUE;
//     letter-spacing: 1px;
// }

// .n-gallery-counter__slash {
//     @include font("PROXIMA NOVA CONDENSED", 14px, 600, 20px);
//     color: $MUSTASAARI;
//     margin: 0 6px;
// }

// .n-gallery-counter__total {
//     @include font("PROXIMA NOVA CONDENSED", 14px, 600, 20px);
//     color: $MUSTASAARI;
//     letter-spacing: 1px;
// }


.n-gallery-toggle,
a.n-gallery-close {
    display: inline-block;
    font-size: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;

    // &:hover {
    //     svg {
    //         fill: $SHERPA-BLUE;
    //     }
    // }

    svg {
        height: 100%;
        fill: $mine-shaft;;
        width: 20px;
    }
}
.n-gallery-toggle--list,
.n-gallery-toggle--grid {
    border-left: 1px solid $mercury;
    border-right: 1px solid $mercury;
    display: inline-block;
    font-size: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;

    // &:hover {
    //     svg {
    //         fill: $SHERPA-BLUE;
    //     }
    // }

    svg {
        height: 100%;
        fill: $mine-shaft;
        width: 20px;
    }
}