.n-main__covers {
    display: none;
    position: absolute;
    top: 27px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: block;
    }
}

.n-main__covers__wrapper {
    font-size: 0;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: 30px;
    @include screen(1440px, 1500px) {
        @for $i from 0 through 60 {
            @media (min-width: 1440px + $i) {
                padding-left: #{(30 - $i/2)}px;
            }
        }
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }

    padding-right: 30px;
    margin: 0 auto;
}

.n-main__cover {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 90px;

    img {
        width: 100%;
    }

    &:nth-child(2) {
        display: none;
    }
}

.n-main__cover__offer {
    @include font("MILLER_DISPLAY", 14px, 600, 16px);
    color: $mine-shaft;
    display: inline-block;
    font-style: normal;
    letter-spacing: 0;
    max-width: 150px;
    vertical-align: top;
    white-space: pre-line;
    position: relative;

    &:before {
        bottom: 0;
        content: '';
        height: calc(100% + 17px);
        left: -13px;
        position: absolute;
        right: 0;
        top: -10px;
        width: calc(100% + 20px);
        z-index: -1;
    }
}

.n-main__cover__btn,
a.n-main__cover__btn {
    @include button-single();
    @include button-single-light();

    font-style: normal;
    @include font-size(10px);
    @include line-height(10px);
    border: solid 1px $mine-shaft;
    color: $mine-shaft;
    letter-spacing: 1px;
    margin-top: 7px;
    padding: 6px 8px;
    width: auto;

    &:hover {
        @include button-single-light-hover();
    }
}

.n-menu__subscribe {
    background: $wild-sand;
    margin: 50px 0;
    padding: 20px 20px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.n-menu__subscribe__wrapper {}
.n-menu__subscribe-cols {
    display: table;
    margin: 0 auto;
    position: relative;
    width: auto;

    &:before {
        bottom: 0;
        content: '';
        height: calc(100% - 20px);
        left: 0;
        position: absolute;
        right: 0;
        top: 10px;
        width: 100%;
        z-index: -1;
    }
}

.n-menu__subscribe-col {
    display: table-cell;
    vertical-align: middle;
    // width: 50%;

    &:nth-child(2) {
        //padding: 20px 20px 20px 0;
        //max-width: 150px;
    }
}

.n-menu__subscribe-covers {
    font-size: 0;
    position: relative;
    text-align: right;
}

.n-menu__subscribe-cover {
    background-color: $wild-sand;

    &:nth-child(1) {
        display: inline-block;
        margin-right: 25px;
        width: 91px;
    }

    &:nth-child(2) {
        border-bottom: 8px solid $black;
        border-left: 4px solid $black;
        border-radius: 3px;
        border-right: 4px solid $black;
        border-top: 8px solid $black;
        bottom: 0;
        right: 25px;
        position: absolute;
        width: 58px;
    }
}

.n-menu__subscribe-message {
    @include font("MILLER_DISPLAY", 17px, 700, 21px);
    color: $mine-shaft;
    letter-spacing: 0;
    vertical-align: top;
    white-space: pre-line;
}

a.n-menu__subscribe-btn {
    @include button-single();
    @include button-single-light();

    @include font-size(11px);
    @include line-height(10px);
    margin-top: 7px;
    padding: 10px;
    width: auto;

    &:hover {
        @include button-single-light-hover();
    }
}