.n-menu__search {
    background-color: $ebony-clay;
    overflow: hidden;
    position: relative;

    .n-main__nav-search {
        background-color: $black;
        width: 60px;
    }

    svg {
        fill: $white;
        height: 100%;
        width: 20px;
    }
}



.n-menu__search-search {
    float: right;
}

.n-menu__search-textbox {
    display: inline-block;
    left: 20px;
    height: 60px;
    position: absolute;
    right: 60px;
    top: 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        left: 30px;
    }

    input {
        @include font("BRANDON GROTESQUE", 14px, 700, 14px);
        background-color: $ebony-clay;
        border: none;
        box-sizing: border-box;
        color: $silver-chalice;
        height: 60px;
        letter-spacing: 1px;
        padding: 0;
        text-transform: uppercase;
        width: 100%;

        &::placeholder {
            color: $silver-chalice;
        }

        &:focus {
            outline: none;
        }
    }
}


.n-search {
    background-color: rgba(40, 42, 62, 0.96);

    &.has-overlay {
        left: 0;
        padding-bottom: 100%;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 3;

        &.is-stuck {
            bottom: 0;
            padding-bottom: 0;
            position: fixed;
            top: 60px;
        }
    }
}
