/**
 * =============================================================================
 * TYPOGRAPHY MIXINS
 * =============================================================================
 *
 * Everything in this section is prefixed with t- to denote that they're type
 * mixins because there's gonna be a whole load of them and this should help
 * decrease name collisions.
 * (will i regret this? can always find/replace all i guess)
 */

/**
 * TYPOGRAPHY
 * =============================================================================
 * TOPICS
 */
@mixin t-topic-title-small {
    @include font('STARLING', 20px, 'BOLD', 20px);

    color: $COLOUR_MAIN_PRIMARY;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin t-topic-title-large {
    @include font('STARLING', 20px, 'BOLD', 20px);

    color: $COLOUR_MAIN_PRIMARY;
    letter-spacing: 2px;
}

@mixin t-topic-label-small {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $COLOUR_MAIN_PRIMARY;
    letter-spacing: 1px;
}

@mixin t-topic-label-large {
    @include topic-label-small;
}

/**
 * TYPOGRAPHY
 * =============================================================================
 * CARDS
 * -----------------------------------------------------------------------------
 * BASE CARD STYLES
 */
@mixin t-card-tag {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);

    color: $COLOUR_MAIN_TERTIARY;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin t-card-title {
    @include font('STARLING', 24px, 'NORMAL', 28px);

    color: $COLOUR_MAIN_PRIMARY;
}

@mixin t-card-byline-prefix {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);

    color: $COLOUR_MAIN_TERTIARY;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: lowercase;
}

@mixin t-card-byline-author {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);

    color: $COLOUR_MAIN_TERTIARY;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin t-card-meta {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);

    color: $COLOUR_MAIN_TERTIARY;
}


/**
 * TYPOGRAPHY
 * =============================================================================
 * CARDS
 * -----------------------------------------------------------------------------
 * PORTRAIT CARDS
 */
@mixin t-card-portrait-tag {
    @include t-card-tag;
}

@mixin t-card-portrait-title {
    @include t-card-title;
}

@mixin t-card-portrait-byline-prefix {
    @include t-card-byline-prefix;
}

@mixin t-card-portrait-byline-author {
    @include t-card-byline-author;
}

@mixin t-card-portrait-meta {
    @include t-card-meta;
}


/**
 * TYPOGRAPHY
 * =============================================================================
 * CARDS
 * -----------------------------------------------------------------------------
 * LANDSCAPE CARDS
 */
@mixin t-card-landscape-tag {
    @include t-card-tag;
}

@mixin t-card-landscape-title {
    @include font('STARLING', 18px, 'NORMAL', 22px);

    color: $COLOUR_MAIN_PRIMARY;
}

@mixin t-card-landscape-byline-prefix {
    @include t-card-byline-prefix;
}

@mixin t-card-landscape-byline-author {
    @include t-card-byline-author;
}

@mixin t-card-landscape-meta {
    @include t-card-byline-meta;
}


/**
 * TYPOGRAPHY
 * =============================================================================
 * SLICES
 * -----------------------------------------------------------------------------
 * FEATURE SLICE
 */
@mixin t-feature-tag-small {
    @include t-card-tag;
}

@mixin t-feature-tag-large {
    @include t-card-tag;
    @include font-size(12px);
}

@mixin t-feature-title-small {
    @include t-card-title;
}

@mixin t-feature-title-large {
    @include font('STARLING', 37px, 'NORMAL', 42px);

    color: $COLOUR_MAIN_PRIMARY;
}

@mixin t-feature-teaser-small {
    @include font('STARLING', 15px, 'NORMAL', 20px);

    color: $COLOUR_TYPE_BODY;
    font-style: italic;
}

@mixin t-feature-teaser-large {
    color: $COLOUR_TYPE_BODY;
    @include font('STARLING', 18px, 'NORMAL', 23px);

    font-style: italic;
}

@mixin t-feature-byline-prefix-small {
    @include t-card-byline-prefix;
}

@mixin t-feature-byline-prefix-large {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $COLOUR_MAIN_TERTIARY;
    font-style: italic;
    letter-spacing: 1px;
}

@mixin t-feature-byline-author-small {
    @include t-card-byline-author;
}

@mixin t-feature-byline-author-large {
    @include font('AGENDA', 16px, 'MEDIUM', 12px);

    color: $COLOUR_MAIN_TERTIARY;
    letter-spacing: 1px;
}

@mixin t-feature-meta-small {
    @include t-card-meta;
}

@mixin t-feature-meta-large {
    @include t-card-meta;
    @include font-size(12px);
}


/**
 * TYPOGRAPHY
 * =============================================================================
 * SLICES
 * -----------------------------------------------------------------------------
 * SUPER FEATURE SLICE
 */
@mixin t-super-feature-tag-small {
    @include t-feature-tag-small;
}

@mixin t-super-feature-tag-large {
    @include t-feature-tag-large;
}

@mixin t-super-feature-title-small {
    @include t-feature-title-small;
}

@mixin t-super-feature-title-large {
    @include t-feature-title-large;
}

@mixin t-super-feature-byline-prefix-small {
    @include t-feature-byline-prefix-small;
}

@mixin t-super-feature-byline-prefix-large {
    @include t-feature-byline-prefix-large;
}

@mixin t-super-feature-byline-author-small {
    @include t-feature-byline-author-small;
}

@mixin t-super-feature-byline-author-large {
    @include t-feature-byline-author-large;
}

@mixin t-super-feature-meta-small {
    @include t-feature-meta-small;
}

@mixin t-super-feature-meta-large {
    @include t-feature-meta-large;
}


/**
 * TYPOGRAPHY
 * =============================================================================
 * SLICES
 * -----------------------------------------------------------------------------
 * GALLERY SLICE
 */
@mixin t-gallery-tag-small {
    @include t-feature-tag-small;
}

@mixin t-gallery-tag-large {
    @include t-feature-tag-large;
}

@mixin t-gallery-title-small {
    @include t-feature-title-small;
}

@mixin t-gallery-title-large {
    @include t-feature-title-large;
}

@mixin t-gallery-teaser-small {
    @include t-feature-teaser-small;
}

@mixin t-gallery-teaser-large {
    @include t-feature-teaser-large;
}

@mixin t-gallery-byline-prefix-small {
    @include t-feature-byline-prefix-small;
}

@mixin t-gallery-byline-prefix-large {
    @include t-feature-byline-prefix-large;
}

@mixin t-gallery-byline-author-small {
    @include t-feature-byline-author-small;
}

@mixin t-gallery-byline-author-large {
    @include t-feature-byline-author-large;
    @include font-size(12px);
}

@mixin t-gallery-meta-small {
    @include t-feature-meta-small;
}

@mixin t-gallery-meta-large {
    @include t-feature-meta-large;
}


/**
 * TYPOGRAPHY
 * =============================================================================
 * SLICES
 * -----------------------------------------------------------------------------
 * VIDEO SLICE
 */
@mixin t-video-tag-small {
    @include t-feature-tag-small;
}

@mixin t-video-tag-large {
    @include t-feature-tag-large;
}

@mixin t-video-title-small {
    @include t-feature-title-small;

    color: $COLOUR_MAIN_DARK;
}

@mixin t-video-title-large {
    @include t-feature-title-large;
}

@mixin t-video-byline-prefix-small {
    @include t-feature-byline-prefix-small;
}

@mixin t-video-byline-prefix-large {
    @include t-feature-byline-prefix-large;
}

@mixin t-video-byline-author-small {
    @include t-feature-byline-author-small;
}

@mixin t-video-byline-author-large {
    @include t-feature-byline-author-large;
}

@mixin t-video-meta-small {
    @include t-feature-meta-small;
}

@mixin t-video-meta-large {
    @include t-feature-meta-large;
}






//// CARD MIXINS
@mixin card-title-hover {
    color: $COLOUR_MAIN_HIGHLIGHT;
    text-decoration: none;
}

@mixin card-image-normal {
    transition: transform 0.2s ease-in-out;
}

@mixin card-image-hover {
    transform: scale(1.04);
}

@mixin card-byline {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin feature-card-byline {
    @include card-byline;

    margin: 0 0 10px;

    @include tablet-size {
        margin: 25px 0 10px;
    }
}

@mixin card-byline-name {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin card-byline-prefix {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    font-style: italic;
    letter-spacing: 1px;
    text-transform: lowercase;
}

@mixin card-meta {
    @include font('AGENDA', 10px, 'MEDIUM', 10px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/// FANCY BORDER LINE BOX
@mixin border-line-box($direction: top, $width: 20px, $bg: $white, $border: $silver) {
    background: $bg;
    border: $width solid $bg;
    border-top-width: if($direction == top, 0, $width);
    border-right-width: if($direction == right, 0, $width);
    border-bottom-width: if($direction == bottom, 0, $width);
    border-left-width: if($direction == left, 0, $width);
    box-shadow: inset 0 0 0 1px $border;
    position: relative;

    &:after {
        content: '';
        display: block;
        background: $bg;
        position: absolute;

        @if ($direction == top or $direction == bottom) {
            height: 1px;
            left: 1px;
            right: 1px;

            @if ($direction == top) {
              top: 0;
            }
            @else {
              bottom: 0;
            }
        }
        @else if ($direction == left or $direction == right) {
            width: 1px;
            top: 1px;
            bottom: 1px;

            @if ($direction == left) {
              left: 0;
            }
            @else {
              right: 0;
            }
        }
    }
}

