@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-image:wired";

@import '../wireframe/wireframe';

.c-superfeature {
    background-color: $white;
    margin: $MOBILE_SLICE_MARGIN auto;
    max-width: 960px;

    &:hover,
    &:focus {
        .c-superfeature__title span {
            text-decoration: underline;
        }
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
    }

}

.c-superfeature__image__wrapper {
    background-color: $black;
}

.c-superfeature__content {
    margin: 0 auto;
    max-width: 720px;
    padding: 30px;
    position: relative;
    text-align: center;
}

.c-superfeature__title {
    @include font("NEW GROTESK SQUARE", 40px, 300, 40px);
    margin-bottom: 10px;
    margin-top: 0px;
}

.c-superfeature__teaser {
    @include font("BRUTAL", 15px, null, 17px);
    display: none;
    color: $black;
    margin: 10px auto;
}

.c-superfeature__title + *:not(.c-superfeature__teaser),
.c-superfeature__teaser + * {
    &:before {
        background-color: $black;
        content: '';
        display: block;
        height: 1px;
        margin: 10px auto;
        width: 10px;
    }
}

.c-superfeature__byline {
    color: $black;
    line-height: 1em;
    margin-bottom: 5px;
    margin-top: 12px;
}

.c-superfeature__byline-prefix {
    @include font("EXCHANGE WEB", 11px);
    font-style: italic;
    margin-right: 3px;
}

.c-superfeature__byline-name {
    @include font("BRUTAL", 11px, 700);
    text-transform: uppercase;
}

.c-superfeature__meta {
    color: $black;
    font-size: 0;
    margin-top: 5px;

    .c-superfeature__meta-item {
        @include font("EXCHANGE WEB", 11px, 400);
        padding-right: 10px;

        & + .c-superfeature__meta-item {
            border-left: 1px solid $isabelline;
            padding-left: 10px;
        }
    }
}

@include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
    .c-superfeature__content {
        padding: 60px 30px;
    }

    .c-superfeature__title {
        @include font-size(80px);
        @include line-height(75px);
        margin-bottom: 20px;
    }

    .c-superfeature__teaser {
        display: block;
    }

    .c-superfeature__title + *:not(.c-superfeature__teaser),
    .c-superfeature__teaser + * {
        &:before {
            margin: 20px auto;
            width: 30px;
        }
    }
}
