@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-image:wired";

@import "../wireframe/wireframe";

.c-superfeature {
    max-width: $LARGE_SIZE;
    margin: 0 auto;
}

.c-superfeature-wrapper {}
.c-superfeature__link {}
.c-superfeature__images {}
.c-superfeature__images--multiple {}
.c-superfeature__images-wrapper {}
.c-superfeature__image {}
.c-superfeature__image-wrapper {}
.c-superfeature__contents {
    background-color: $white;
    padding: 30px 20px;

    @include at-x-large-size {
        padding: 60px 120px;
    }
}

.c-superfeature__contents-wrapper {}
.c-superfeature__tag {
    display: none;
}

.c-superfeature__title {
    @include font("NEW GROTESK SQUARE", 40px, 300, 40px);
    color: $black;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;

    @include at-x-large-size {
        @include font-size(75px);
        @include line-height(80px);
        margin-bottom: 20px;
    }
}

.c-superfeature__teaser {
    @include font("BRUTAL", 15px, null, 17px);
    color: $black;
    display: none;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

    @include at-x-large-size {
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    &:after {
        background-color: $black;
        content: '';
        display: block;
        height: 1px;
        margin: 10px auto 0 auto;
        width: 10px;

        @include at-x-large-size {
            margin-top: 20px;
            width: 30px;
        }
    }
}

.c-superfeature__byline {
    @include font("EXCHANGE WEB", 11px, 400, 11px);
    color: $black;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

.c-superfeature__byline--sponsored {}
.c-superfeature__byline-prefix {
    @include font("EXCHANGE WEB", 11px, 400, 11px);
    color: $black;
    font-style: italic;
}

.c-superfeature__byline-name {
    @include font("BRUTAL", 11px, 700, 11px);
    color: $black;
    text-transform: uppercase;
}

.c-superfeature__meta {
    color: $black;
    font-size: 0;
    margin-top: 5px;
    text-align: center;
}

.c-superfeature__meta-item {
    @include font("EXCHANGE WEB", 11px, 400, 11px);
    color: $black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

    & + .c-superfeature__meta-item {
        border-left: 1px solid $isabelline;
    }
}