.ad__title {
    @include font('SOLEIL', 9px, 'NORMAL', 12px);
    color: rgba($candle-grey, 0.75);
    letter-spacing: 0.06em;
    margin: 0 0 5px 0;
    text-align: center;
    text-transform: uppercase;
}

/**
 * Homepage
 */
.ad--homepage {
    background-color: $advert;
    padding: 16px 0;
    text-align: center;
}
.ad--homepage.ad--native-large {
    background-color: transparent;
    padding: 0;
    text-align: left;
}

/**
 * Article
 */

// .ad--article {}

.ad--article-header {
    background-color: $advert;
    padding: 16px 0;
    text-align: center;
}
// .ad--article-video {}

.ad--article-rail {
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}

.ad--article-rail-top {
    @include at-x-large-size {
        top: 0;
    }
}

.ad--article-inline {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;
}


/**
 * Gallery
 */

.ad--gallery {}

.ad--gallery-inline {
    margin: 40px (-$MOBILE_SIDE_GUTTER);
    text-align: center;
}

.ad--gallery-side {
    background-color: $advert;
    margin: 40px (-$MOBILE_SIDE_GUTTER);
    padding: 16px 0;
    text-align: center;
}


/**
 * Tag page
 */

.ad--tag {}

.ad--tag-header {
    background-color: $advert;
    padding: 16px 0;
    text-align: center;
}
.ad--tag-header.ad--native-large {
    background-color: transparent;
    padding: 0;
    text-align: left;
}

.ad--tag-rail {
    margin: 40px (-$MOBILE_SIDE_GUTTER);
    text-align: center;
}

.ad--tag-rail-top {}

.ad--tag-inline {
    padding: 0 10px;
    position: relative;
    margin: 10px (-$MOBILE_SIDE_GUTTER);
}


@include at-medium-size {

    .ad--article-inline,
    .ad--gallery-inline,
    .ad--gallery-side,
    .ad--tag-rail,
    .ad--tag-inline {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

}

@include at-x-large-size {

    .ad__title {
        text-align: left;
    }

    .ad--article-rail {
        position: absolute;
        margin: 0;
        right: 0;
        width: 300px;

        .ad__block {
            margin: -24px 0;
            padding: 24px 0;
        }
    }

    .ad--article-rail-top,
    .ad--tag-rail-top {
        top: 0;
    }

    .ad--article-inline,
    .ad--gallery-inline {
        margin-left: 0;
        margin-right: 0;
    }

    .ad--gallery-side {
        background: transparent;
        display: block;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        width: 300px;
    }

    .ad--tag-rail {
        margin: 0 -340px 0 40px;
        position: absolute;
        right: 0;
        width: 300px;
    }

    .ad--tag-inline {
        margin-bottom: 20px;
        margin-left: -$DESKTOP_SIDE_GUTTER;
        margin-right: (-$DESKTOP_SIDE_GUTTER + -340px + -20px);
        margin-top: 20px;

        .ad__block {
            left: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            right: 50%;
            width: 100vw;
        }
    }

}
