@import "@cnbritain/merlin-www-buttons:gq";
@import "@cnbritain/merlin-www-common:gq";

@import "../wireframe/wireframe";

.c-subscribe-bar {}
.c-subscribe-bar-wrapper {
    background-color: $pale-slate;
}

.c-subscribe-bar__message {
    @include font("GOTHAM", 15px, 700, 15px);
    color: $woodsmoke;
    margin-bottom: 8px;
}

.c-subscribe-bar__close-button {
    border-radius: 50%;
    border: 1px solid $woodsmoke;
    padding: 6px;

    svg {
        fill: $woodsmoke;
    }
}

.c-subscribe-bar__form {}

.c-subscribe-bar__form-text {
    @include font("GOTHAM", 11px, 500, 11px);
    background-color: $white;
    color: $shuttle-gray;
}

.c-subscribe-bar__form-button {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }

    padding: 0 15px;
}

.c-subscribe-bar__legal {
    @include font("GOTHAM", 10px, 400, 10px);
    color: $woodsmoke;
    margin-top: 7px;
}

.c-subscribe-bar__spinner {
    border-bottom: 10px solid rgba($white, 0.2);
    border-left: 10px solid rgba($white, 0.2);
    border-right: 10px solid rgba($white, 0.2);
    border-top: 10px solid $white;
}

.c-subscribe-bar__failure-message,
.c-subscribe-bar__success-message {
    @include font("GOTHAM", 15px, 700, 15px);
    color: $woodsmoke;
}