.a-marketing-card {
    @include font('ADOBE CASLON');
    background-color: $alabaster-f9;
    margin: $MARGIN_SMALL 0;
    padding: $PADDING_MEDIUM $PADDING_SMALL;
}

.a-marketing-card--magazine {
    .a-marketing-card__col {
        text-align: center;
    }
}

.a-marketing-card__brand {
    margin: 0 0 $MARGIN_SMALL 0;
}

.a-marketing-card__brand__name {
    @include font('NOBEL', 11px);
    letter-spacing: 1px;
    text-transform: uppercase;

    a {
        color: $guardsman-red;

        &:hover,
        &:focus {
            border-bottom: 1px solid;
        }
    }
}

.a-marketing-card__brand__prefix {
    @include font('ADOBE CASLON', 12px);
    color: $dove-gray;
    text-transform: italic;

    & + .a-marketing-card__brand__img {
        margin-top: $MARGIN_XX_SMALL;
    }
}

.a-marketing-card__desc {
    @include font('ADOBE CASLON', 15px);
    color: $dove-gray;
    margin: 0 0 $MARGIN_SMALL 0;
}

.a-marketing-card__magazine {
    margin: 0 auto $MARGIN_SMALL auto;
}

.a-marketing-card__link {
    @include button-single();
    @include button-single-light();

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}

.a-marketing-card__title {
    @include font('ADOBE CASLON', 17px, 'SEMI BOLD', 25px);
    color: $mine-shaft-333;
    margin: 0 0 $MARGIN_XX_SMALL 0;
}

@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
    .a-marketing-card {
        padding: 0;
    }

    .a-marketing-card--magazine {
        .a-marketing-card__col {
            text-align: left;
        }
    }

    .a-marketing-card__col {
        padding: 40px;
    }

    .a-marketing-card--brand .a-marketing-card__col,
    .a-marketing-card--topic .a-marketing-card__col,
    .a-marketing-card--event .a-marketing-card__col {
        & + .a-marketing-card__col {
            border-left: 1px solid $loot-box;
        }
    }

    .a-marketing-card__magazine {
        margin-bottom: 0;
    }

    .a-marketing-card__title {
        @include font-size(20px);
    }
}