@import "@cnbritain/merlin-www-common:wireframe";
@import '@cnbritain/merlin-www-buttons:wireframe';
@import '@cnbritain/merlin-www-image:wireframe';
@import '@cnbritain/merlin-www-ads:wireframe';
@import "@cnbritain/merlin-www-card:wireframe";

.c-top-stories-lazy-load {
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.c-top-stories-lazy-load__spinner {
    animation: spin 600ms linear infinite;
    // border-bottom: 10px solid rgba(#fff, 0.2);
    // border-left: 10px solid rgba(#fff, 0.2);
    border-radius: 50%;
    // border-right: 10px solid rgba(#fff, 0.2);
    // border-top: 10px solid #fff;
    box-sizing: border-box;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 60px;
}

.c-top-stories {
    box-sizing: border-box;
    display: none;
    position: relative;
    width: 100%;

    &.has-navigation {
        .c-top-stories__nav {
            display: block;
        }
    }

    &.has-no-scroll {
        .c-top-stories__cards {
            overflow-x: hidden;
        }
    }

    @include at-x-large-size {
        display: block;
    }
}

.c-top-stories-wrapper {
    margin: 0 auto;
}

.c-top-stories__title {
    display: none;
}

.c-top-stories__nav {
    display: none;
}

.c-top-stories__nav-btn {
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
}

.c-top-stories__nav-btn--left {
    top: 50%;
}

.c-top-stories__nav-btn--right {
    top: 0;
}

.c-top-stories__cards {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.c-top-stories__cards-list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.c-top-stories__cards-listitem {
    box-sizing: border-box;
    display: inline-block;
    font-size: initial;
    vertical-align: top;
    white-space: normal;
    width: 280px;

    &.is-hidden {
        height: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        visibility: hidden;
        width: 0;
    }
}
