@import "@cnbritain/merlin-www-common:wireframe";
@import "@cnbritain/merlin-www-card-list:wireframe";
@import "@cnbritain/merlin-www-card:wireframe";

.c-top-stories {
    box-sizing: border-box;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    width: 100%;

    @include at-medium-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.c-top-stories-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-top-stories__title {
    display: none;
}

.c-top-stories__nav {
    display: none;
}

.global__button-reset{}

.c-top-stories__nav-btn{
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
}

.c-top-stories__nav-btn--left{
    top: 50%;
}

.c-top-stories__nav-btn--right{
    top: 0;
}

.btn-top-stories{}

.c-top-stories__overflow {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    .has-no-scroll & {
        overflow-x: hidden;
    }

}

.has-navigation {
    .c-top-stories__nav {
        display: block;
    }
}
