@import '@cnbritain/merlin-www-common:brides';
@import '@cnbritain/merlin-www-image:brides';

@import '../wireframe/wireframe';

.c-gallery-strip {
    margin: 32px 0;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 48px 0;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-gallery-strip-wrapper {}

.c-gallery-strip-wrapper:hover .c-gallery-strip__title,
.c-gallery-strip__link:focus ~ * .c-gallery-strip__title {
    color: $pink-rose;
}

.c-gallery-strip__images {
    position: relative;
}

.c-gallery-strip__images:after {
    background-color: $pink-rose;
    bottom: -16px;
    content: '';
    display: block;
    height: 32px;
    left: 50%;
    position: absolute;
    width: 1px;
}

.c-gallery-strip__listitem {}

.c-gallery-strip__remaining {
    @include font('SOLEIL', 24px, 400, 24px, 10);
    background-color: rgba($black, 0.25);
    color: $white;

    @include at-x-large-size {
        @include font-size(32px);
        @include line-height(32px);
    }
}

.c-gallery-strip__detail {
    margin: 28px 0 0 0;
    text-align: center;
}

.c-gallery-strip__title {
    @include font('FREIGHT DISPLAY PRO', 24px, 'NORMAL', 28px);
    color: $stroller-grey;
    letter-spacing: 0.01em;
    margin: 6px 0;
    text-transform: capitalize;
}

.c-gallery-strip__subtitle {
    @include font('SOLEIL', 10px, null, 16px);
    color: $stroller-grey;
    letter-spacing: 0.12em;
    margin: 9px 0;
    text-align: center;
    text-transform: uppercase;
}

.c-gallery-strip--tag {
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}
