@import '@cnbritain/merlin-www-common:brides';
@import '@cnbritain/merlin-www-image:brides';

@import '../wireframe/wireframe';

.c-gallery-strip {
    margin: 36px auto 0 auto;
}

.c-gallery-strip__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}

// Image
.c-gallery-strip__images {
    position: relative;
}
.c-gallery-strip__images:after {
    background-color: $pink-rose;
    bottom: -16px;
    display: block;
    content: '';
    height: 32px;
    left: 50%;
    position: absolute;
    width: 1px;
}

.c-gallery-strip__list__item {
    img {
        width: 100%;
    }
}

.c-gallery-strip__remaining {
    @include font('SOLEIL', 24px, 'BOLD', 24px, 10);
    background-color: rgba($black, 0.25);
    color: $white;
}
.c-gallery-strip__remaining__label {}

@include desktop-size {
    .c-gallery-strip__remaining {
        @include font-size(32px);
        @include line-height(32px);
    }
}




// Content
.c-gallery-strip__detail {
    margin: 28px 0 0 0;
    text-align: center;
}

.c-gallery-strip__title {
    @include font('FREIGHT DISPLAY PRO', 24px, 'NORMAL', 28px);
    color: $stroller-grey;
    letter-spacing: 0.01em;
    margin: 6px 0;
    text-transform: capitalize;
}

.c-gallery-strip__subtitle {
    @include font('SOLEIL', 10px, null, 16px);
    color: $stroller-grey;
    letter-spacing: 0.12em;
    margin: 9px 0;
    text-align: center;
    text-transform: uppercase;
}



// Variants
.c-gallery-strip--tag {
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    .c-gallery-strip__list__item:nth-child(3) {
        .c-gallery-strip__remaining {
            display: block;
        }
    }

    .c-gallery-strip__list__item:nth-child(n+4) {
        display: none;
    }

    @include tablet-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;

        .c-gallery-strip__list__item {
            width: 16.66%;
        }

        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6) {
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(3) {
            .c-gallery-strip__remaining {
                display: none;
            }
        }

        .c-gallery-strip__list__item:nth-child(6) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__detail {}
    }

    @include desktop-size {

        .c-gallery-strip__list__item {
            width: 12.5%;
        }

        .c-gallery-strip__list__item:nth-child(-n+8) {
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(6) {
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

    }
}
