
@mixin list-item-separator(){
    background-color: $isabelline;
    content: "";
    display: block;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 1px;
}

.has-open-menu {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.n-main {
    background-color: $white;
    z-index: 10;
}

.n-main__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
}

.n-main__header {}

.n-main__nav {
    box-sizing: border-box;
    height: 60px;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.n-main__nav-logo {
    height: 60px;
    left: 20px;
    overflow: hidden;
    position: fixed;
    width: 100px;

    a {
        bottom: 0;
        height: 60px;
        line-height: 60px;
        position: absolute;
        transition: bottom 0.2s ease-in-out;
        vertical-align: middle;
        width: 100px;
    }

    svg, img {
        height: 60px;
        width: 100%;
    }

    &.is-hidden {
        a {
            @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                bottom: -60px;
            }
        }
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 40px){
        left: auto;
    }

}
.n-main__nav-logo--takeover {}

.n-main__nav-title {
    @include font("BRUTAL", 15px, 400, 60px);
    display: none;
    overflow: hidden;
    padding-left: 155px;
    padding-right: 195px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    @include min-screen(600px) {
        display: block;
    }
}

.n-main__list-item {
    vertical-align: top;

    & + .n-main__list-item {
        &:before {
            @include list-item-separator;
        }
    }
}

.n-main__nav-link {
    @include font("EXCHANGE WEB", 15px, 400, 15px);
    border-bottom: 1px solid $isabelline;
    box-sizing: border-box;
    color: $black;
    display: inline-block;
    height: 60px;
    margin: 0 20px;
    transition: border 0.1s ease-in-out;

    span {
        display: inline-block;
        height: 60px;
        line-height: 60px;
    }

    &:hover {
        border-bottom: 1px solid $black;
    }
}

.n-main__sticker,
.n-main__sticker-child {
    &:before {
        background-color: $isabelline;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
    }
}

.n-main__sticker {
    z-index: 3;
    &:before {
        top: 0;
    }
}

.n-main__sticker-child {
    background-color: $white;
    &:before {
        bottom: 0;
    }
}

.n-main__nav-hamburger {
    border-left: 1px solid $isabelline;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
}

.n-main__nav-hamburger__icon {
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 60px;

    svg {
        display: inline-block;
        height: 18px;
        line-height: 60px;
        vertical-align: middle;
    }
}

.n-main__nav-hamburger__close-icon {
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 60px;

    svg {
        display: inline-block;
        height: 18px;
        line-height: 60px;
        vertical-align: middle;
    }
}

.n-main__nav-search {
    display: inline-block;
    float: right;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;

    &:before {
        @include list-item-separator;
    }
}
.n-main__nav-search__icon {
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 60px;

    svg {
        display: inline-block;
        height: 18px;
        line-height: 60px;
        vertical-align: middle;
    }

}

.n-main__nav-search__close-icon {
    cursor: pointer;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 60px;

    svg {
        display: inline-block;
        height: 18px;
        line-height: 60px;
        vertical-align: middle;
    }

}

.n-menu {
    background-color: $white;
    -webkit-overflow-scrolling: touch;

    &.is-visible {
        bottom: 0;
        overflow: auto;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 2;
    }
}

.n-menu__top-stories {
    .c-top-stories {
        display: block;
        padding-bottom: 0;
    }

    .c-top-stories__overflow {
        padding-left: 20px;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-top-stories__overflow {
            padding-left: 30px;
        }
    }
}

.n-menu__nav {
    background-color: $white;
    font-size: 0;
    padding: 0 20px;

    :nth-child(6){
        .n-menu__nav-item {
            margin-bottom: 20px;
        }
    }

    :nth-child(n+7) {
        display: inline-block;
        width: 49.5%;

        .n-menu__nav-item {
            border-bottom: none;
            padding: 12px 0;
        }
    }
}

li.n-menu__nav-item {
    @include font("EXCHANGE WEB", 15px, 400);
    border-bottom: 1px solid $isabelline;
    padding: 22px 0;
}

.n-menu__nav__wrapper {
    overflow: hidden;
}
