.n-main__dropdown {}

.n-main__dropdown-list {
    background-color: $white;
    border: 1px solid $isabelline;
    border-top: none;
    margin-top: -1px;
    z-index: 1;
}

li.n-main__dropdown-list-item {
    .n-main__nav-link {
        border-bottom: 1px solid transparent;
        box-sizing: border-box;
        display: block;
        height: auto;
        line-height: normal;
        margin: 0;
        padding: 10px 0;
        transition: border 0.1s ease-in-out;
        white-space: nowrap;

        span {
            display: inline;
            height: auto;
            line-height: normal;
        }

        &:hover,
        &:focus {
            border-bottom: 1px solid $black;
        }
    }
}

.n-main__dropdown-link {
    &:after {
        margin-left: 10px;
        position: relative;
        top: -2px;
    }
}



a.n-main__dropdown__btn-share,
.n-main__dropdown__btn-share {
    @include button-share();
    @include button-share-light($name:none);
    font-size: initial;
    height: 35px;
    width: 35px;

    & + .n-main__dropdown__btn-share {
        margin-left: 6px;
    }
}

@each $name, $color in $COLOUR_SOCIAL {
    .n-main__dropdown__btn-share--#{$name},
    a.n-main__dropdown__btn-share--#{$name} {
        &:hover {
            @include button-share-light-hover($name);
        }
    }
}

.n-main__dropdown__btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}




.n-main__dropdown-list--follow {
    padding: 15px 10px;
    margin-right: -1px;
    white-space: nowrap;
}
.n-main__dropdown--follow {
    .n-main__dropdown-link {
        letter-spacing: 0;
        text-transform: none;
    }
}

.n-main__dropdown--follow__group {
    font-size: 0;
    text-align: center;

    & + .n-main__dropdown--follow__group {
        margin-top: 15px;
    }
}



.n-main__dropdown-list--left {
    box-sizing: border-box;
    padding: 10px 20px 0 20px;
    width: 140px;
}
