
.n-main__header-logo {
    box-sizing: border-box;
    display: block;
    max-width: none;
    padding: 32px 0;
    text-align: center;

    a {
        display: block;
        height: auto;
    }

    svg, img {
        height: 76px;
    }

}

.n-main__header-logo--takeover {}
