.n-main__covers {
    display: none;
    padding-left: $DESKTOP_SIDE_GUTTER;
    position: absolute;
    top: 36px;
}
.n-main__covers__wrapper {}
.n-main__cover {
    display: inline-block;
    margin-right: 10px;
    width: 80px;

    img {
        width: 100%;
    }

    &:nth-child(2) {
        display: none;
    }
}
.n-main__cover__offer {
    @include font('BRUTAL', 13px, 'BOOK', 15px);
    color: $black;
    display: inline-block;
    vertical-align: top;
    white-space: pre-line;
}
.n-main__cover__btn,
a.n-main__cover__btn {
    @include font-size(11px);
    margin-top: 10px;
    padding: 4px 7px;
}









.n-menu__subscribe {
    background-color: $white-smoke;
    padding: 20px;
}
.n-menu__subscribe__wrapper {}
.n-menu__subscribe-cols {
    display: table;
    width: 100%;
}
.n-menu__subscribe-col {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 50%;

    &:nth-child(2) {
        padding-left: 10px;
        text-align: left;
    }
}
.n-menu__subscribe-covers {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    font-size: 0;
    width: 85px + 52px;
}
.n-menu__subscribe-cover {
    &:nth-child(1) {
        width: 85px;
    }

    &:nth-child(2) {
        border-bottom: 8px solid $black;
        border-left: 4px solid $black;
        border-radius: 3px;
        border-right: 4px solid $black;
        border-top: 8px solid $black;
        box-shadow: 0px 0px 0px 1px rgba(48,48,48,1);
        bottom: 0;
        position: absolute;
        right: 10px;
        width: 52px;
    }
}
.n-menu__subscribe-message {
    @include font('BRUTAL', 13px, 'BOOK', 15px);
    margin-bottom: 12px;
    max-width: 240px;
    white-space: pre-line;
}
a.n-menu__subscribe-btn {
    @include button-single();
    @include button-single-light();
    padding: 4px 7px;

    &:hover {
        @include button-single-light-hover();
    }
}




@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    .n-main__covers {
        display: block;
    }
}