.n-menu__search {
    background-color: $black;
    overflow: hidden;
    position: relative;

    svg {
        fill: $white;;
        height: 100%;
        width: 18px;
    }
}

.n-menu__search-search {
    float: right;
}

.n-menu__search-textbox {
    display: inline-block;
    left: 0;
    height: 60px;
    position: absolute;
    right: 60px;
    top: 0;

    input {
        @include font("EXCHANGE WEB", 14px, null, 14px);
        background-color: $black;
        border: none;
        box-sizing: border-box;
        color: $white;
        height: 60px;
        padding: 0 20px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

.n-search {
    &.has-overlay {
        left: 0;
        padding-bottom: 100%;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 3;

        &.is-stuck {
            bottom: 0;
            padding-bottom: 0;
            position: fixed;
            top: 60px;
        }
    }
}

@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
    .n-menu__search-textbox input {
        padding: 0 30px;
    }
}
