.n-menu__social {
    margin: 20px 16px 32px 16px;
    text-align: center;

    ul {
        font-size: 0;
    }
}

.n-menu__social-title {
    @include font("BRUTAL", 13px, 500, 13px);
    margin: 0 0 20 0;
}

.n-menu__social-brand {}

.n-menu__social-item {
    position: relative;
    display: inline-block;

    & + .n-menu__social-item {
        margin-left: 10px;
    }
}

.n-menu__newsletter-btn {
    @include button-single();
    @include button-single-light();
    margin-bottom: 30px;

    &:hover {
        @include button-single-light-hover();
    }
}