@import "@cnbritain/merlin-www-buttons:wired";
@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-image:wired";

@import "../wireframe/wireframe";

.c-masthead {
    background-color: $white;
}

.c-masthead__wrapper {}
.c-masthead__logo {
    height: 76px;
    padding: 32px 0;
    width: 380px;
}

.c-nav {
    border-top: 1px solid $isabelline;
    box-sizing: border-box;
}

.c-nav__search-icon {
    border-left: 1px solid $isabelline;
    box-sizing: border-box;

    @include min-screen($XX_LARGE_SIZE + -1px) {
        border-right: 1px solid $isabelline;
    }

    svg {
        width: 18px;
    }
}

.c-nav__toggle-icon {
    border-left: 1px solid $isabelline;
    box-sizing: border-box;

    @include min-screen($XX_LARGE_SIZE + -1px) {
        border-right: 1px solid $isabelline;
    }

    svg {
        width: 18px;
    }
}

.c-nav__open-icon {}
.c-nav__close-icon {}

.c-nav__wrapper {
    &:after {
        background-color: $isabelline;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        top: 60px;
        transform: translateX(-50%);
        width: 100vw;

        @include at-x-large-size {
            z-index: -1;
        }
    }
}

.c-nav__content {}

.c-nav__top-stories {}

.c-nav__logo {
    width: 100px;
}

.c-nav__search {
    @include at-x-large-size {
        top: 61px;

        &:before {
            background-color: rgba($black, 0.5);
            content: "";
            height: 100vh;
            position: absolute;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    }
}

.c-nav__search-form {
    background-color: $black;

    @include at-x-large-size {
        padding: 30px 0;

        &:before {
            background-color: $black;
            content: "";
            height: 100%;
            left: 50%;
            position: absolute;
            top: 0;
            transform: translateX(-50%);
            width: 100vw;
            z-index: -1;
        }
    }
}

.c-nav__search-input {
    @include font("EXCHANGE WEB", 14px, 400, 60px);
    background-color: $black;
    color: $white;
    padding: 0 20px;

    @include at-x-large-size {
        @include font-size(40px);
        @include line-height(40px);
        text-align: center;
        padding: 0 60px;
    }
}

.c-nav__search-button {
    background-color: $black;
    border-left: 1px solid $white;
    box-sizing: border-box;

    svg {
        fill: $white;
    }
}

.c-nav__main {}
.c-nav__main-list {
    padding: 0 20px 20px 20px;

    @include at-x-large-size {
        padding: 0;
    }
}

.c-nav__main-list-item {
    @include at-x-large-size {
        & + .c-nav__main-list-item {
            &:before {
                background-color: $isabelline;
                content: "";
                display: block;
                height: 20px;
                margin-top: -10px;
                position: absolute;
                top: 50%;
                width: 1px;
            }
        }
    }
}

.c-nav__main-list-item--more {}
.c-nav__main-link {
    @include font("EXCHANGE WEB", 15px, 400, 60px);
    border-bottom: 1px solid $isabelline;
    box-sizing: border-box;
    color: $black;

    @include at-x-large-size {
        box-sizing: content-box;
        margin: 0 20px;
        &:hover {
            border-bottom: 1px solid $black;
        }
    }
}

.c-nav__main-link--more {
    border-bottom: none;

    @include at-x-large-size {
        box-sizing: border-box;
        &:hover {
            border-bottom: none;
        }
    }
}

.c-nav__alt-list {
    padding: 15px 0 0 0;

    @include at-x-large-size {
        border-bottom: 1px solid $isabelline;
        border-left: 1px solid $isabelline;
        border-right: 1px solid $isabelline;
        padding: 0 20px 0 20px;
    }
}

.c-nav__alt-list-item {}
.c-nav__alt-link {
    @include font("EXCHANGE WEB", 15px, 400, 40px);
    border-bottom: 1px solid $white;
    color: $black;
    height: 40px;

    @include at-x-large-size {
        &:hover {
            border-bottom: 1px solid $black;
        }
    }
}

.c-nav__promo {
    background-color: $white-smoke;
    padding: 20px;

    @include at-x-large-size {
        background-color: transparent;
        bottom: 50px;
        padding: 0 0 0 60px;
    }
}

.c-nav__promo-wrapper {}
.c-nav__promo-images {}
.c-nav__promo-covers {
    padding-right: 10px;
    text-align: right;
}

.c-nav__promo-cover {
    @include at-x-large-size {
        &:nth-child(2) {
            display: none;
        }
    }
}

.c-nav__promo-content {
    padding-left: 10px;
    text-align: left;

    @include at-x-large-size {
        vertical-align: top;
    }
}

.c-nav__promo-message {
    @include font("BRUTAL", 13px, 400, 15px);
    color: $black;
    margin-bottom: 10px;
    white-space: pre-line;
}

.c-nav__promo-button {
    @include button-single();
    @include button-single-light();
    padding: 4px 7px;

    &:hover {
        @include button-single-light-hover();
    }
}

.c-nav__social {
    margin: 20px 16px 32px 16px;

    @include at-x-large-size {
        margin: 0;
    }
}

.c-nav__social-list {}
.c-nav__social-list-item {}
.c-nav__social-list-item--follow {}

.c-nav__social-link {}
.c-nav__social-link--follow {
    @include font("BRUTAL", 13px, 500, 13px);
    margin: 0 0 20px 0;

    @include at-x-large-size {
        @include font("EXCHANGE WEB", 15px, 400, 60px);
        margin: 0 20px;
    }
}

.c-nav__social-brand {}

.c-nav__share-list {
    @include at-x-large-size {
        border-bottom: 1px solid $isabelline;
        border-left: 1px solid $isabelline;
        border-right: 1px solid $isabelline;
        padding: 15px 10px;
        right: -1px;
    }
}

.c-nav__share-list-item {
    margin: 0 5px;
}

.c-nav__share-list-item--newsletter {

}

.c-nav__share-link {
    @include button-share();
}

.c-nav__share-link--youtube {
    @include button-share-light("youtube");
    &:hover {
        @include button-share-light-hover("youtube");
    }
}

.c-nav__share-link--twitter {
    @include button-share-light("twitter");
    &:hover {
        @include button-share-light-hover("twitter");
    }
}

.c-nav__share-link--instagram {
    @include button-share-light("instagram");
    &:hover {
        @include button-share-light-hover("instagram");
    }
}

.c-nav__share-link--facebook {
    @include button-share-light("facebook");
    &:hover {
        @include button-share-light-hover("facebook");
    }
}

.c-nav__share-button {
    @include button-single();
    @include button-single-light();
    margin-top: 30px;

    &:hover {
        @include button-single-light-hover();
    }
}

.c-nav__gallery {
    left: 165px;
}

.c-nav__gallery-title {
    @include font("BRUTAL", 15px, 400, 60px);
}

.c-nav__gallery-count {
    font-size: 0;
    padding: 0 35px;
}

.c-nav__gallery-slash {
    @include font("BRUTAL", 15px, 300, 60px);
    margin-left: 4px;
    margin-right: 4px;
}

.c-nav__gallery-current {
    @include font("BRUTAL", 15px, 300, 60px);
}

.c-nav__gallery-total {
    @include font("BRUTAL", 15px, 700, 60px);
}

.c-nav__gallery-icon {
    border-left: 1px solid $isabelline;
    box-sizing: border-box;

    @include min-screen($XX_LARGE_SIZE + -1px) {
        border-right: 1px solid $isabelline;
    }

    svg {
        width: 18px;
    }
}

.c-nav__list-icon {}
.c-nav__grid-icon {}