@import "@cnbritain/merlin-www-common:houseandgarden";
@import "@cnbritain/merlin-www-image:houseandgarden";

@import "../wireframe/wireframe";

.c-footer__list-item--brand-logo {
    bottom: 5px;

    svg {
        fill: $white;
        width: 80px;
    }
}
