.c-topic-strip {}

.c-topic-strip-wrapper {}

.c-topic-strip__title {
    @include font('NOBEL', 12px, 'BOLD', 12px);
    color: $cod-gray;
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__list-item {
    margin-bottom: 10px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.c-topic-strip__link {
    @include button-group;
    @include button-group-light;
    @include font-size(11px);

    &:hover,
    &:focus {
        @include button-group-light-hover;
    }
}

/**
 * Modifiers
 * ============================================================================
 */

.c-topic-strip--a-related {
    .c-topic-strip__link {
        @include button-related;

        &:hover,
        &:focus {
            @include button-related-hover;
        }
    }
}

.c-topic-strip--sh-trends {
    margin: 20px 0;

    .c-topic-strip__title {
        display: block;
        margin-bottom: 15px;
    }

    .c-topic-strip__list {
        display: block;
        width: 100%;
    }

    .c-topic-strip__link {
        @include button-related();

        &:hover {
            @include button-related-hover();
        }
    }

}

.c-topic-strip--tg-header {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item:last-child {
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include tablet-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $MOBILE_SIDE_GUTTER;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: $MOBILE_SIDE_GUTTER;
        }
    }

    @include desktop-size {
        margin-left: 0;
        margin-right: 0;
    }
}

.c-topic-strip--c-card-section {
    margin-bottom: 20px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item:last-child {
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__link,
    .c-topic-strip__title {
        @include font-size(10px);
    }

    @include tablet-size {
        margin-bottom: $MARGIN_MEDIUM;
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
        text-align: center;

        .c-topic-strip-wrapper {
            padding-left: $MOBILE_SIDE_GUTTER;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: $MOBILE_SIDE_GUTTER;
        }

        .c-topic-strip__link,
        .c-topic-strip__title {
            @include font-size(11px);
        }

    }

    @include desktop-size {
        margin-left: 0;
        margin-right: 0;
    }

}