@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-buttons:gq";

@import "../wireframe/wireframe";

.c-topic-strip {
    text-align: left;
}

.c-topic-strip--bleed {}
.c-topic-strip--c-card-section {
    margin-bottom: 24px;
    margin-top: 24px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: inline-block;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}

.c-topic-strip__title {
    @include font("GOTHAM", 11px, 700, 12px, -4);
    margin-right: 16px;
    text-transform: capitalize;
}

.c-topic-strip__list {
    font-size: 0;
}

li.c-topic-strip__item {
    font-size: initial;

    & + & {
        margin-left: 8px;
    }
}

// .c-topic-strip--article-related {
//     text-align: left;

//     .c-topic-strip__item + .c-topic-strip__item {
//         margin-left: 10px;
//     }

//     @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//         white-space: normal;
//         margin-bottom: -10px;

//         .c-topic-strip__item {
//             margin-bottom: 10px;
//             margin-right: 10px;
//         }
//         .c-topic-strip__item + .c-topic-strip__item {
//             @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//                 margin-left: 0;
//             }
//         }
//     }
// }

.c-topic-strip__btn {
    @include button-group();
    @include button-group-light();

    &:hover {
        @include button-group-light-hover();
    }
}