@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-buttons:gq";

@import "../wireframe/wireframe";

.c-topic-strip {
    white-space: nowrap;
}

.c-topic-strip-wrapper {
    overflow-x: auto;
}

.c-topic-strip__title {
    @include font("GOTHAM", 11px, 'BOLD', 12px, -4);
    display: inline-block;
    margin-right: 16px;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__listitem {
    margin-bottom: 8px;

    & + .c-topic-strip__listitem {
        margin-left: 8px;
    }
}

.c-topic-strip__link {
    @include button-group();
    @include button-group-light();

    &:hover,
    &:focus {
        @include button-group-light-hover();
    }

    @include desktop-size {
        @include font-size(12px);
    }
}

.c-topic-strip--a-related,
.c-topic-strip--sh-trends {
    margin: 0 (-$MOBILE_SIDE_GUTTER) -8px (-$MOBILE_SIDE_GUTTER);

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include tablet-size {
        margin: 0 0 -8px 0;
    }
}

.c-topic-strip--c-card-section {
    margin: 24px (-$MOBILE_SIDE_GUTTER);

    .c-topic-strip-wrapper {
        padding: 0 $MOBILE_SIDE_GUTTER;
    }

    @include tablet-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include desktop-size {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.c-topic-strip--tg-header {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include tablet-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}
