@import "@cnbritain/merlin-www-common:houseandgarden";
@import "@cnbritain/merlin-www-buttons:houseandgarden";

@import "../wireframe/wireframe";

.c-topic-strip {
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

.c-topic-strip__title {
    @include font("MILLER_DISPLAY", 12px, null, 12px);
    color: $mine-shaft;
    display: inline-block;
    font-style: italic;
    letter-spacing: 0;
    margin-right: 10px;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__list-item {
    border-right: 1px solid $silver;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 10px;

    &:last-child {
        border-right: none;
        margin-right: 0;
    }
}

.c-topic-strip__link {
    @include button-group();
    @include button-group-light();

    @include font("BRANDON GROTESQUE", 12px, 'BOLD', 12px);
    letter-spacing: 1px;

    &:hover,
    &:focus {
        @include button-group-light-hover();
    }
}


.c-topic-strip--a-related,
.c-topic-strip--sh-trends {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    text-align: left;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item {
        border-right: none;
        padding-right: 0;
    }

    .c-topic-strip__link {
        @include button-group-two();
        @include button-group-two-light();

        &:hover,
        &:focus {
            @include button-group-two-light-hover();
        }
    }

    @include at-medium-size {
        margin-bottom: -10px;
        margin-left: 0;
        margin-right: 0;
        white-space: normal;

        .c-topic-strip-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.c-topic-strip--c-card-section {
    margin: 20px (-$MOBILE_SIDE_GUTTER) 25px (-$MOBILE_SIDE_GUTTER);

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include at-medium-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
        margin-top: 15px;

        .c-topic-strip-wrapper {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}

.c-topic-strip--tg-header {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include at-medium-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}
