
@import '@cnbritain/merlin-www-common:glamour';
@import '../wireframe/wireframe';

.c-gallery-strip {
    margin: 20px 0;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 40px 0;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}




.c-gallery-strip-wrapper {}

.c-gallery-strip-wrapper:hover .c-gallery-strip__title,
.c-gallery-strip__link:focus ~ * .c-gallery-strip__title {
    span {
        box-shadow: inset 0 -2px 0 0 $azalea;
    }
}

.c-gallery-strip__listitem {
    background-color: $pampas;
}

.c-gallery-strip__remaining {
    @include font("GRAPHIK", 30px, 400, 30px);
    background-color: rgba($astronaut, 0.6);
    color: $azalea;
    z-index: 1;
}

.c-gallery-strip__detail {
    position: relative;
}

.c-gallery-strip__title {
    @include font("MILLER_DISPLAY", 23px, 600, 28px);
    color: $dune;
    margin: 20px 0 0 0;
    text-align: left;

    @include at-medium-size {
        @include font-size(40px);
        @include line-height(45px);
        margin: 32px 0 0 0;
        text-align: center;
    }
}

.c-gallery-strip__subtitle {
    @include font('GRAPHIK', 13px, 600, 16px);
    margin: 10px 0 0 0;

    @include at-medium-size {
        @include font-size(15px);
        @include line-height(18px);
        margin: 20px 0 0 0;
        text-align: center;
    }
}

.c-gallery-strip--tag {
    margin: 20px 0;

    @include at-x-large-size {
        margin: 40px 0;
    }
}