@import '@cnbritain/merlin-www-common:glamour';

@import '../wireframe/wireframe';

.c-gallery-strip {
    margin-bottom: $MARGIN_LARGE;
    margin-top: $MARGIN_LARGE;
}

.c-gallery-strip__wrapper {
    display: table;
    position: relative;
    width: 100%;

    &:hover,
    &:focus {
        .c-gallery-strip__title,
        .c-gallery-strip__subtitle {}

        .c-gallery-strip__list {}
    }
}

.c-gallery-strip__link {}

.c-gallery-strip__list {}
.c-gallery-strip__list__item {}
.c-gallery-strip__images__image {}

.c-gallery-strip__images {
    display: table-footer-group;
    width: 100%;
}

.c-gallery-strip__detail {
    display: table-header-group;
    width: 100%;
}

.c-gallery-strip__remaining {
    background-color: $COLOUR_BG_GALLERY_REMAINING;
    border-radius: 50%;
    color: $COLOUR_MAIN;
    height: 0;
    margin: 40% 15%;
    width: 70%;
    padding-bottom: 70%;

    @include gallery-slice-at-large() {
        height: 0;
        margin: 45% 20%;
        padding-bottom: 60%;
        width: 60%;
    }
}

.c-gallery-strip__remaining__label {
    white-space: nowrap;
    padding-top: 100%;
}

.c-gallery-strip__remaining__prefix {
    @include font-size(23px);
    @include font-weight(500);
    margin-right: -2px;

    @include gallery-slice-at-large() {
        @include font-size(25px);
        margin-right: -1px;
    }
}

.c-gallery-strip__remaining__value {
    @include font('GRAPHIK', 23px, 'SEMI BOLD');

    @include gallery-slice-at-large() {
        @include font-size(25px);
    }
}

.c-gallery-strip__title {
    @include title-section;

    display: inline-block;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    .c-card-section--dark & {
        border-color: $COLOUR_BORDER_SOLID_DARK;
    }

    @include desktop-size {
        @include title-section-desktop;

        margin-bottom: 25px;
        position: relative;
        text-align: center;
        width: 100%;

        &:before {
            background-color: #000;
            content: '';
            height: 2px;
            left: 0;
            margin-top: -14px;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: -1;
        }

        span {
            background-color: $COLOUR_BG_MAIN;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.c-gallery-strip__subtitle {
    display: none;
}


.c-gallery-strip--tag {
    .c-gallery-strip__list {
        text-align: center;
    }
    .c-gallery-strip__list__item:nth-child(n+4){
        display: none;
    }
    .c-gallery-strip__list__item:nth-child(3){
        .c-gallery-strip__remaining {
            display: block;
        }
    }
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6){
            display: inline-block;
        }
        .c-gallery-strip__list__item:nth-child(3){
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: block;
            }
        }
        .c-gallery-strip__list__item {
            display: inline-block;
            width: 16.66%;
        }
    }
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+8){
            display: inline-block;
        }
        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8){
            .c-gallery-strip__remaining {
                display: block;
            }
        }
        .c-gallery-strip__list__item {
            width: 12.5%;
        }
    }
}

.c-gallery-strip--gutters {
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        .c-gallery-strip__list {
            margin: 0;
        }
        .c-gallery-strip__list__item {
            padding: 0;
        }
        .c-gallery-strip__remaining {}
    }
}
