@import "@cnbritain/merlin-www-buttons:wired";
@import "@cnbritain/merlin-www-common:wired";

@import "../wireframe/wireframe";

.c-infobar {
    background-color: $black;
    padding: 12px 0;

    @include at-x-large-size {
        padding: 0;
    }
}

.c-infobar-wrapper {
    padding: 0 20px;
}

.c-infobar__message {
    @include font("BRUTAL", 15px, 700, 17px);
    color: $white;
    text-align: center;
}

.c-infobar__btn {
    @include button-single();
    @include button-single-dark();
    &:hover {
        @include button-single-dark-hover();
    }

    margin: 12px 0 0 0;
    padding: 10px 30px;

    @include at-x-large-size {
        margin: 0 0 0 20px;
    }
}