@import '@cnbritain/merlin-www-common:houseandgarden';
@import '@cnbritain/merlin-www-buttons:houseandgarden';

@import '../wireframe/wireframe';

.c-pagination {
    font-size: 0;
    margin: $MOBILE_SLICE_MARGIN 0;

    @include at-medium-size {
        margin: $TABLET_SLICE_MARGIN 0;
    }
}

.c-pagination__item + .c-pagination__item {
    margin-left: 10px;
}

.c-pagination__btn {
    @include button-single();
    @include button-single-light();

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}

.c-pagination__btn--active {
    @include button-single-light-hover();
}


