@import '@cnbritain/merlin-www-common:gq';
@import '@cnbritain/merlin-www-image:gq';

@import '../wireframe/wireframe';

.c-feature {
	background-color: $seashell;
    padding-bottom: $MOBILE_SLICE_MARGIN;
    padding-top: $MOBILE_SLICE_MARGIN;
    max-width: none;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-bottom: $TABLET_SLICE_MARGIN;
        padding-top: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-bottom: $DESKTOP_SLICE_MARGIN;
        padding-top: $DESKTOP_SLICE_MARGIN;
    }
}

.c-feature__constrain {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}
.c-feature__wrapper {
    font-size: 0;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        display: table;
        direction: rtl;
        padding-top: 0;
        width: 100%;
        .c-feature--right & {
            direction: ltr;
        }
    }
}

.c-feature__link:hover ~ .c-feature__content {
    .c-feature__title {
        text-decoration: underline;
    }
}

.c-feature__images,
.c-feature__content {
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        direction: ltr;
        display: table-cell;
        position: static;
        vertical-align: middle;
        width: 50%;
    }
}

.c-feature__content {
    background: $white;
    border-bottom: 1px solid $bon-jour;
    padding: 28px 20px;
    position: relative;
    text-align: center;

    &:after {
        @include triangle(24px, 16px, 'up', $white);
        @include vendor-prefix(transform, translateX(-50%));
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: -24px;
        width: 0;
    }

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
    	padding: 0 48px;
	    &:after {
            @include triangle(32px, 22px, 'right', $white);
            @include vendor-prefix(transform, translateX(0%) translateY(-50%));
            content: '';
            height: 0;
            left: initial;
            position: absolute;
            right: -32px;
            top: 50%;
            width: 0;
	    }
    }
}

.c-feature__image--portrait {
    display: inline-block;
    width: 50%;
}

.c-feature__icon {
    display: none;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        border: 1px solid $limed-oak;
        display: block;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 40px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 13px;
            fill: $limed-oak;
        }
    }
}

.c-feature__tag {
    @include font("GOTHAM", 11px, 700, 14px);
    color: $limed-oak;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: capitalize;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(12px);
        @include line-height(16px);
        margin-bottom: 12px;
    }
}

.c-feature__title {
	color: $woodsmoke;
	@include font("ITC_FENICE", 24px, 700, 28px, -40);
	margin-bottom: 14px;
	margin-top: 0px;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(32px);
        @include line-height(36px);
        margin-bottom: 20px;
        margin-top: 0px;
    }
}

.c-feature__teaser {
    @include font("GOTHAM", 12px, null, 16px);
    color: $oslo-gray;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(15px);
        @include line-height(20px);
    }
}

.c-feature__byline {
	@include font("GOTHAM", 9px, null, 16px, 60);
	margin-bottom: 6px;
	margin-top: 14px;
	text-transform: uppercase;
}

.c-feature__byline-prefix {
    @include font-weight(400);
}

.c-feature__byline-name {
    @include font-weight(700);
}

.c-feature__meta {
	@include font("GOTHAM", 9px, null, 14px);
	color: $oslo-gray;
	margin-top: 6px;
}

li.c-feature__meta-item {
	padding-right: 0;
	& + li.c-feature__meta-item {
	    border-left: none;
	    padding-left: 0;
	    &:before {
	    	background-color: $oslo-gray;
	    	border-radius: 50%;
	    	content: "";
	    	display: inline-block;
	    	height: 3px;
	    	margin: 1px 8px;
	    	width: 3px;
	    }
	}
}
