.n-main__dropdown {}
.n-main__dropdown--follow {
    .n-main__dropdown-link {
        @include font("GRAPHIK", 16px, 600, 16px);
        letter-spacing: 0;
    }
}

.n-main__dropdown--follow__group {
    font-size: 0;
    text-align: center;

    & + .n-main__dropdown--follow__group {
        margin-top: 15px;
    }
}

.n-main__dropdown-list {
    background-color: $azalea;
    margin-top: -1px;
    z-index: 1;
}

.n-main__dropdown-list--left {
    padding: 10px 20px 5px 20px;
    min-width: 160px;
}

.n-main__dropdown-list--follow {
    padding: 10px;
    white-space: nowrap;
}

.n-main__dropdown-list-item {
    position: relative;

    .n-main__nav-link {
        @include line-height(40px);
        color: $dune;
        display: inline-block;
        margin: 0;
        height: 40px;
        white-space: nowrap;

        span {
            display: inline-block;
            height: 15px;
            line-height: 15px;
            vertical-align: top;
        }

        &:hover {

        }
    }
}

.n-main__dropdown-link {
    &:hover {
        color: $dune;
    }

    &:after {
        border-top-color: $dune;
        border-width: 4px;
        margin-left: 8px;
        position: relative;
        top: -2px;
    }
}

a.n-main__dropdown__btn-share,
.n-main__dropdown__btn-share {
    font-size: initial;

    & + .n-main__dropdown__btn-share {
        margin-left: 5px;
    }
}

@each $name, $color in $COLOUR_SOCIAL {
    .n-main__dropdown__btn-share--#{$name},
    a.n-main__dropdown__btn-share--#{$name} {
        @include button-share();
        @include button-share-light($name);

        &:hover {
            @include button-share-light-hover($name);
        }
    }
}

.n-main__dropdown__btn {
    @include button-group();
    @include button-group-light();

    &:hover {
        @include button-group-light-hover();
    }
}
