.n-main__header-logo {
    display: inline-block;
    height: 102px;
    max-width: none;
    position: relative;
    text-align: center;
    width: 250px;

    a {
        display: inline-block;
    }

    svg, img {
        fill: $dune;
        height: 102px;
        padding: 35px 0 15px 0;
        width: 250px;
    }
}

.n-main__header-logo--takeover {

}