.n-menu__social {
    margin: 30px 20px 30px 20px;
    text-align: center;

    ul {
        font-size: 0;
    }
}

.n-menu__social-title {
    @include font("GRAPHIK", 10px, 600, 10px);
    color: $dune;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.n-menu__social-brand {}

.n-menu__social-item {
    position: relative;
    display: inline-block;

    & + .n-menu__social-item {
        margin-left: 10px;
    }
}

.n-menu__newsletter-btn {
    @include button-group();
    @include button-group-light();
    margin-bottom: 30px;

    &:hover {
        @include button-group-light-hover();
    }
}