.c-feature {
    background-color: $wild-sand;
    margin: 30px auto;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size() {
        margin: 60px auto;
        padding: 0 60px;
    }

    @include at-x-large-size(){
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    &:focus,
    &:hover {
        .c-feature__title {
            color: $COLOUR_MAIN_HIGHLIGHT;
            text-decoration: none;
        }
    }
}

.c-feature--gallery {
    background-color: $COLOUR_BG_GALLERY;
}

.c-feature__wrapper {

     @include at-medium-size(){
        direction: ltr;

        .c-feature--right & {
            direction: rtl;
        }
    }
}

.c-feature__images,
.c-feature__contents {
    width: 100%;

    @include at-medium-size(){
        direction: ltr;
        display: table-cell;
        position: static;
        vertical-align: middle;
        width: 50%;
    }
}

.c-feature__image {
    overflow: hidden;

    img {
        transition: transform 0.2s ease-in-out;
    }
}

.c-feature__image-wrapper {
    background-color: $silver;
    width: 100%;
}

.c-feature__contents {
    background: $white;
    direction: ltr;
    padding: 28px 20px;
    text-align: center;

    @include at-x-large-size(){
        padding: 20px 60px;
    }
    @include at-medium-size(){
        .c-feature--left & {
            @include border-line-box(left);
        }

        .c-feature--right & {
            @include border-line-box(right);
        }
    }
}

.c-feature__icon {
    background: $white;
    border-radius: 50%;
    height: 40px;
    left: 50%;
    margin: 0 0 20px -20px;
    padding: $PADDING_XX_SMALL 14px;
    position: absolute;
    top: -20px;
    width: 40px;

     @include at-medium-size(){
         background: $wild-sand;
         left: auto;
         margin-left: auto;
         margin-right: auto;
         position: static;
     }

    svg, path {
        fill: $black;
    }
}

.c-feature__icon--video {
    height: 100%;
    width: 15px;
}

.c-feature__icon--gallery {
    height: 100%;
    margin-left: -4px;
    margin-top: -1px;
    width: 20px;
}

.c-feature__tag {
    @include font("COMMUTER SANS", 12px, 400, 12px);
    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    text-transform: uppercase;

    @include at-small-size {
        margin-bottom: 15px;
    }
}

.c-feature__title {
    @include font('STARLING', 24px, 'NORMAL', 28px);
    color: $COLOUR_MAIN_PRIMARY;
    margin: 0 0 20px;
    padding: 0 0 15px;
    position: relative;

     @include at-x-large-size(){
         @include font-size(37px);
         @include line-height(42px);
         color: $COLOUR_MAIN_PRIMARY;
         margin: 0 0 20px;
         padding: 0 0 15px;
     }

    &:after {
        background: $COLOUR_MAIN_HIGHLIGHT;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
        width: 20px;
    }
}

.c-feature__teaser,
.c-feature__separator {
    display: none;
}

.c-feature__byline {
    @include font('COMMUTER SANS', 12px, 'MEDIUM', 12px);
    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 10px;
    text-transform: uppercase;

    @include at-medium-size() {
        margin: 15px 0 10px;
    }

     @include at-x-large-size(){
         margin: 0 0 10px;
     }
}

.c-feature__byline-prefix {
    @include font('COMMUTER SANS', 12px, 'MEDIUM', 12px);
    font-style: italic;
    letter-spacing: 1px;
    margin-right: 2px;
    text-transform: lowercase;
}

.c-feature__byline-name {
    @include font('COMMUTER SANS', 12px, 'MEDIUM', 12px);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.c-feature__meta {
    @include font('COMMUTER SANS', 9px, 400, 9px);
    color: $gray;
    margin-top: 5px;
    text-transform: uppercase;
}

.c-feature__meta-item {
    padding-right: 0;

    &:not(:last-child) {
        &:after {
            background: $silver;
            content: '';
            display: inline-block;
            height: 11px;
            margin: 0 5px;
            vertical-align: middle;
            width: 1px;

            .c-card--dark & {
                background: $mine-shaft;
                height: 11px;
            }
        }
    }

    & + & {
        border: 0;
        padding: 0;
    }
}
