.c-feature {
    background-color: $wild-sand;
    margin: 30px auto;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SIDE_GUTTER;
    }

    .c-feature__image {
        overflow: hidden;

        img {
            @include card-image-normal;
        }
    }

    &:focus,
    &:hover {
        .c-feature__title {
            @include card-title-hover;
        }
    }
}


.c-feature--gallery {
    background-color: $COLOUR_BG_GALLERY;
}

.c-feature__constrain {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-feature__wrapper {
    display: flex;
    direction: ltr;
    flex-direction: column;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        direction: ltr;
        flex-direction: row;

        .c-feature--right & {
            direction: ltr;
            flex-direction: row-reverse;
        }
    }

    @include min-screen( $FEATURE_LARGE_BREAKPOINT ){
        padding: 0;
    }
}

.c-feature__images,
.c-feature__content {
    position: relative;
    display: flex;
    width: 100%;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        width: 50%;
    }
}

.c-feature__images {
    flex-direction: row;
}

.c-feature__content {
    align-items: center;
    display: flex;
    direction: ltr;
    flex-direction: column;
    justify-content: center;
    padding: 28px 20px;
    text-align: center;

    .c-feature__icon {
        margin: 0 auto $MARGIN_MEDIUM auto;
        padding: $PADDING_XX_SMALL;
        width: 15px;
        height: 15px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 20px;

        .c-feature--left & {
            @include border-line-box(left);
        }

        .c-feature--right & {
            @include border-line-box(right);
        }
    }
}

.c-feature__image--portrait {
    display: inline-block;
    width: 50%;
}

.c-feature__icon {
    background-color: $COLOUR_MAIN_PAGE;
    fill: $COLOUR_MAIN_TERTIARY;
}

.c-feature__tag {
   @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include font('AGENDA', 12px, 'MEDIUM', 12px);

        letter-spacing: 1px;
        margin: 0 0 15px;
    }
}

.c-feature__title {
    @include t-feature-title-small;

    margin-bottom: 18px;
    padding: 0 0 15px;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: $COLOUR_MAIN_HIGHLIGHT;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
    }

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include t-feature-title-large;

        margin: 0 0 25px;
        padding: 0 0 25px;
        max-width: 500px;
    }
}
.c-feature__teaser {
    display: none;
}

.c-feature__separator {
    display: none;
}

.c-feature__byline {
    @include feature-card-byline;
}

.c-feature__byline-prefix {
    @include card-byline-prefix;

    margin-right: 2px;
}

.c-feature__byline-name {
    @include card-byline-name;
}

.c-feature__meta {
    @include card-meta;

    display: inline-block;
    margin-top: 0;
    padding-top: 0;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        margin-top: 0;
        padding-top: 0;
    }
}

li.c-feature__meta-item {
    padding-right: 0;

    &:not(:last-child) {
        &:after {
            content: '';
            height: 11px;
            width: 1px;
            background-color: $silver;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;

            .c-card--dark & {
                background-color: #333;
                height: 11px;
            }
        }
    }

    & + & {
        border: 0;
        padding: 0;
    }
}
