.c-feature {
    background-color: $wild-sand;
    margin: 30px auto;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    &:focus,
    &:hover {
        .c-feature__title {
            @include card-title-hover;
        }
    }
}


.c-feature--gallery {
    background-color: $COLOUR_BG_GALLERY;
}

.c-feature__constrain {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-feature__wrapper {}

.c-feature__images,
.c-feature__content {
    position: relative;
    width: 100%;
}

.c-feature__image {
    overflow: hidden;

    img {
        @include card-image-normal;
    }
}

.c-feature__content {
    background: $white;
    direction: ltr;
    padding: 28px 20px;
    text-align: center;
}

.c-feature__icon {
    background-color: $COLOUR_MAIN_PAGE;
    margin: 0 0 20px -20px;
    padding: $PADDING_XX_SMALL 14px;
    width: 40px;
    height: 40px;
    left: 50%;
    position: absolute;
    background: $white;
    top: -20px;
    border-radius: 50%;

    svg, path {
        fill: $black;
    }
}

.c-feature__image--portrait {
    display: inline-block;
    width: 50%;
}

.c-feature__image__wrapper {
    background-color: $silver;
    width: 100%;
}

.c-feature__icon--video {
    height: 100%;
    width: 15px;
}

.c-feature__tag {
   @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.c-feature__title {
    @include t-feature-title-small;

    margin: 0 0 20px;
    padding: 0 0 15px;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: $COLOUR_MAIN_HIGHLIGHT;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
    }
}

.c-feature__teaser {
    display: none;
}

.c-feature__separator {
    display: none;
}

.c-feature__byline {
    @include feature-card-byline;

    margin: 0 0 10px;
}

.c-feature__byline-prefix {
    @include card-byline-prefix;

    margin-right: 2px;
}

.c-feature__byline-name {
    @include card-byline-name;
}

.c-feature__meta {
    @include card-meta;

    display: inline-block;
    margin-top: 0;
    padding-top: 0;
}

li.c-feature__meta-item {
    padding-right: 0;

    &:not(:last-child) {
        &:after {
            content: '';
            height: 11px;
            width: 1px;
            background-color: $silver;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;

            .c-card--dark & {
                background-color: $mine-shaft;
                height: 11px;
            }
        }
    }

    & + & {
        border: 0;
        padding: 0;
    }
}


@include feature-large-size {
    .c-feature__wrapper {
        padding: 0;
    }
    .c-feature__title {
        @include t-feature-title-large;

        margin: 0 0 20px;
        padding: 0 0 15px;
    }
    .c-feature__byline {
        margin: 0 0 10px;
    }
}


@include card-switcher-size {
    .c-feature__tag {
        @include font('AGENDA', 12px, 'MEDIUM', 12px);

        letter-spacing: 1px;
        margin: 0 0 15px;
    }
    .c-feature__meta {
        margin-top: 0;
        padding-top: 0;
    }
}


@include tablet-size {

    .c-feature {
        margin: 60px auto;
        padding: 0 60px;
    }

}


@include desktop-size {

    .c-feature__wrapper {
        direction: ltr;
        flex-direction: row;

        .c-feature--right & {
            direction: ltr;
            flex-direction: row-reverse;
        }
    }

    .c-feature__images,
    .c-feature__content {
        width: 50%;
    }

    .c-feature__content {
        padding: 20px 60px;

        .c-feature--left & {
            @include border-line-box(left);
        }

        .c-feature--right & {
            @include border-line-box(right);
        }
    }

    .c-feature__icon {
        position: static;

        background: $wild-sand;
        left: auto;
        margin-left: auto;
        margin-right: auto;
    }

}
