@import "@cnbritain/merlin-www-common:gq";

@import "../wireframe/wireframe";

.c-card-list--top-stories {
    white-space: nowrap;

    .c-card-list__item {
        display: inline-block;
        width: 280px;
        white-space: normal;

        & + .c-card-list__item {
	        margin-left: 20px;
        }

        &.is-hidden {
            height: 0;
            overflow: hidden;
            visibility: hidden;
            width: 0;
        }
    }
}

.c-card-list--mag-articles {}
.c-card-list--s-results {}
.c-card-list--v-genre-articles {}
.c-card-list--sh-latest-articles {}

.c-card-list--a-recommended,
.c-card-list--c-video-articles,
.c-card-list--c-curated,
.c-card-list--c-tag {
	margin: 0 -10px;

	.c-card-list__item {
		display: inline-block;
	    padding: 0 10px;
	    width: 100%;
	}

	@include one-column-size() {
	    .c-card-list__item + .c-card-list__item {
	        margin-top: 20px;

	        .c-card {
	            border-top: 1px solid $bon-jour;
	            padding-top: 20px;

	            &.c-card--dark {
	                border-top-color: $mineshaft;
	            }
	        }
	    }
	}

	@include two-column-size() {
		.c-card-list__item {
			@include last(2) {
				margin-bottom: 0;
	        	margin-top: 20px;
			}
		    width: 50%;
		}
	}

	@include four-column-size() {
	    .c-card-list__item {
	    	@include last(4) {
	    		margin-bottom: 0;
	        	margin-top: 0px;
	    	}
	        width: 25%;
	    }
	}
}

.c-card-list--g-recommended {}
.c-card-list--c-magazine-articles {
	.c-card-list__item + .c-card-list__item {
	    margin-top: 20px;

	    .c-card {
	        border-top: 1px solid $bon-jour;
	        padding-top: 20px;
	    }
	}
}
.c-card-list--mag-magazines {}
.c-card-list--sh-shows {}

.c-card-list--tg-articles {
	margin: 0 -10px;

    .c-card-list__item {
		display: inline-block;
	    padding: 0 10px;
	    width: 100%;
        margin-top: 20px;

        .c-card {
            border-top: 1px solid $bon-jour;
            padding-top: 20px;

            &.c-card--dark {
                border-top-color: $mineshaft;
            }
        }

        @include first(1) {
            margin-top: 0;

            .c-card {
                border-top: none;
                padding-top: 0;

                &.c-card--dark {
                    border-top: none;
                }
            }
        }
    }
}

.c-card-list--sh-articles {}
.c-card-list--v-articles {}
.c-card-list--tg-header-articles {}