@import '@cnbritain/merlin-www-common:glamour';
@import '@cnbritain/merlin-www-bbcode:glamour';

@import '../wireframe/wireframe';


.c-figure__container {
    background-color: $concrete;
    margin-bottom: 15px;

    @include at-x-large-size {
        border: 1px solid $concrete;
    }
}

.c-figure__toolbar {
    height: 40px;
}

.c-figure__toolbar-list {
    height: 40px;
}

.c-figure__toolbar-listitem {
    background-color: $azalea;
    height: 40px;
    width: 40px;

    svg {
        width: 40%;
    }

    path {
        fill: $astronaut;
    }

}

.c-figure__toolbar-listitem--zoom {
    path {
        fill: $astronaut;
    }

    &:hover,
    &:focus {
        background-color: $astronaut;

        path {
            fill: $white;
        }
    }
}

@each $name, $colour in $COLOUR_SOCIAL {
    .c-figure__toolbar-listitem--#{$name} {

        path {
            fill: $colour;
        }

        &:hover,
        &:focus {
            background-color: map-get($COLOUR_SOCIAL_HOVER, $name);

            path {
                fill: $white;
            }
        }
    }
}

.c-figure__title {
    @include font("GRAPHIK", 16px, 'SEMI BOLD', 24px);
    color: $dune;
    margin: 0 0 4px 0;

    @include at-x-large-size {
        @include font("GRAPHIK", 18px, 'SEMI BOLD', 28px);
    }
}

.c-figure__caption {
    margin-bottom: 20px;

    > * {
        margin-bottom: 0;
    }
}

.c-figure__credit {
    @include font('GRAPHIK', 8px, 'NORMAL', 8px);
    color: $natural-gray;
    letter-spacing: 1px;
    margin-top: 20px;
    text-transform: uppercase;

    &:before {
        content: 'CREDIT: ';
    }
}

.c-figure__magnifier--full-screen {
    background-color: $concrete;
    z-index: 15;
}
