.n-menu__search {
    margin: 0 20px;
    border-bottom: 1px solid $ISABEL;
    overflow: hidden;
    position: relative;

    svg {
        fill: $MUSTASAARI;
        height: 100%;
        width: 18px;
    }
}

.n-menu__search-search {
    float: right;
}

.n-menu__search-textbox {
    display: inline-block;
    left: 0;
    height: 60px;
    position: absolute;
    right: 60px;
    top: 0;

    input {
        @include font("PROXIMA NOVA CONDENSED", 16px, 400, 16px);
        background-color: $WHITE;
        border: none;
        box-sizing: border-box;
        color: $MUSTASAARI;
        height: 60px;
        width: 100%;

        &:focus {
            outline: none;
        }
    }
}

.n-search {
    background-color: $WHITE;

    &.has-overlay {
        left: 0;
        padding-bottom: 100%;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 3;

        &.is-stuck {
            bottom: 0;
            padding-bottom: 0;
            position: fixed;
            top: 60px;
        }
    }
}