@import '@cnbritain/merlin-www-common:tatler';

@mixin disabled-selectors() {
    &[disabled],
    &.is-disabled,
    &.btn-disabled {
        @content;
    }
}

@mixin button-reset() {
    border-bottom: none;
    display: inline-block;
    text-decoration: none;

    &:hover {
        border-bottom: none;
    }
}

/* ===SINGLE=== */

@mixin button-single() {
    @include button-reset();
    @include font("COMMUTER SANS", 12px, 400, 12px);
    letter-spacing: 0.5px;
    padding: 10px 30px 10px 30px;
    text-transform: uppercase;
}

@mixin button-single-light() {
    border: 1px solid $black;
    color: $black;
}

@mixin button-single-light-hover() {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
}

@mixin button-single-light-disabled() {
    border: 1px solid $mercury;
    color: $mercury;
}

@mixin button-single-dark() {
    border: 1px solid $white;
    color: $white;
}

@mixin button-single-dark-hover() {
    background-color: $white;
    border: 1px solid $white;
    color: $black;
}

@mixin button-single-dark-disabled() {
    border: 1px solid $gray;
    color: $gray;
}

/* ===GROUP=== */

@mixin button-group() {
    @include button-reset();
    @include font("COMMUTER SANS", 10px, 400, 10px);
    padding: 5px 10px;
    text-transform: uppercase;
}

@mixin button-group-light() {
    border: 1px solid $black;
    color: $black;
}

@mixin button-group-light-hover() {
    background-color: $black;
    border: 1px solid $black;
    color: $white;
}

@mixin button-group-light-disabled() {
    border: 1px solid $mercury;
    color: $mercury;
}

@mixin button-group-dark() {
    border: 1px solid $white;
    color: $white;
}

@mixin button-group-dark-hover() {
    background-color: $white;
    border: 1px solid $white;
    color: $black;
}

@mixin button-group-dark-disabled() {
    border: 1px solid $gray;
    color: $gray;
}

/* ===TOP STORIES=== */

@mixin button-top-stories() {
    @include button-reset();
    background: $white;
    height: 50%;
    width: 60px;

    svg {
        height: 100%;
        width: 15px;
    }

    path {
        fill: $black;
    }
}

@mixin button-top-stories-hover() {
    background: $black;

    svg, path {
        fill: $white;
    }
}

@mixin button-top-stories-disabled() {
    background: transparent

    svg, path {
        fill: $mercury;
    }
}

/* ===SHARE=== */

@mixin button-share {
    @include button-reset();
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;

    svg {
        height: 100%;
        width: 50%;
    }
}

@mixin button-share-light($name) {
    background-color: $wild-sand;

    svg {
        fill: map-get($COLOUR_SOCIAL, $name);
    }
}

@mixin button-share-light-hover($name) {
    background-color: map-get($COLOUR_SOCIAL, $name);

    svg {
        fill: $white;
    }
}

@mixin button-share-dark($name) {
    background-color: $white;

    svg {
        fill: map-get($COLOUR_SOCIAL, $name);
    }
}
@mixin button-share-dark-hover($name) {
    background-color: map-get($COLOUR_SOCIAL, $name);

    svg {
        fill: $white;
    }
}

/* ===RELATED=== */

@mixin button-related() {
    @include button-reset();
    @include font("COMMUTER SANS", 10px, 400, 10px);
    padding: 5px 10px;
    text-transform: uppercase;
}
@mixin button-related-light() {
    border: 1px solid $brownish-grey;
    color: $brownish-grey;
}
@mixin button-related-light-hover() {
    background-color: $brownish-grey;
    border: 1px solid $brownish-grey;
    color: $white;
}
@mixin button-related-dark() {}
@mixin button-related-dark-hover() {}

/* ===GALLERY NAVIGATION=== */

@mixin button-gallery-navigation() {
    @include button-reset();
    background-color: $wild-sand;
    height: 35px;
    width: 35px;

    svg, path {
        fill: $black;
    }
}

@mixin button-gallery-navigation-hover() {
    background-color: $black;

    svg, path {
        fill: $white;
    }
}

@mixin button-gallery-navigation-disabled() {
    background-color: transparent;

    svg, path {
        fill: $wild-sand;
    }
}
