@import '@cnbritain/merlin-www-common:tatler';

@mixin button-reset {
    border: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    &:hover {
        border: 0;
    }
}

@mixin button-single {
    @include button-reset;

    @include font('AGENDA');
    @include font-size(15px);

    letter-spacing: 2px;
    padding-right: 20px;
    position: relative;
    text-transform: uppercase;
    text-align: center;

    &:before,
    &:after {
        content: '';
        display: block;
        border: 1px solid $cinnabar;
        position: absolute;
        right: 0;
        top: 50%;
    }

    &:after {
        border-width: 1px 1px 0 0;
        transform: rotate(45deg);
        width: 6px;
        height: 6px;
        margin-top: -4px;
    }

    &:before {
        border-width: 1px 0 0 0;
        width: 10px;
        height: 1px;
        margin-top: -1px;
    }
}

@mixin button-single-light {
    color: $COLOUR_BUTTON_CTA_TEXT;
}

@mixin button-single-light-hover {
    color: $COLOUR_BUTTON_CTA_TEXT_HOVER;
}

@mixin button-single-dark {
    color: $COLOUR_BUTTON_CTA_DARK_TEXT;
}

@mixin button-single-dark-hover {
    color: $COLOUR_BUTTON_CTA_DARK_TEXT_HOVER;
}

@mixin button-group {
    @include button-reset;

    @include font('AGENDA', 15px, 'MEDIUM', 15px);

    padding: 8px 10px;
    text-align: center;
}

@mixin button-group-light {
    background: $COLOUR_BUTTON_TOPIC_BG;
    border: 1px solid $COLOUR_BUTTON_TOPIC_BORDER;
    color: $COLOUR_BUTTON_TOPIC_TEXT;
}

@mixin button-group-light-hover {
    background: $COLOUR_BUTTON_TOPIC_BG_HOVER;
    border: 1px solid $COLOUR_BUTTON_TOPIC_BORDER_HOVER;
    color: $COLOUR_BUTTON_TOPIC_TEXT_HOVER;
}

@mixin button-group-dark {
    background: $COLOUR_BUTTON_TOPIC_DARK_BG;
    border: 1px solid $COLOUR_BUTTON_TOPIC_DARK_BORDER;
    color: $COLOUR_BUTTON_TOPIC_DARK_TEXT;
}

@mixin button-group-dark-hover {
    background: $COLOUR_BUTTON_TOPIC_DARK_BG_HOVER;
    border: 1px solid $COLOUR_BUTTON_TOPIC_DARK_BORDER_HOVER;
    color: $COLOUR_BUTTON_TOPIC_DARK_TEXT_HOVER;
}

@mixin button-related {}
@mixin button-related-hover {}

@mixin button-trend {}
@mixin button-trend-hover {}

@mixin button-share {
    $_btn_size: 40px;

    @include button-reset;

    border-radius: 50%;
    height: $_btn_size;
    line-height: $_btn_size;
    padding: 0;
    text-align: center;
    width: $_btn_size;

    svg {
        height: 100%;
        width: 50%;
    }
}

@mixin button-share-light($name) {
    background-color: $COLOUR_SOCIAL_ICON_BG;

    svg, path {
        fill: map-get($COLOUR_SOCIAL_LIGHT, $name);
    }
}

@mixin button-share-light-hover($name) {
    background-color: map-get($COLOUR_SOCIAL_LIGHT, $name);

    svg, path {
        fill: $COLOUR_SOCIAL_ICON_BG;
    }
}

@mixin button-share-dark($name) {
    background-color: $COLOUR_SOCIAL_ICON_BG_DARK;

    svg, path {
        fill: map-get($COLOUR_SOCIAL_DARK, $name);
    }
}

@mixin button-share-dark-hover($name) {
    background-color: map-get($COLOUR_SOCIAL_DARK, $name);

    svg, path {
        fill: $COLOUR_SOCIAL_ICON_BG_DARK;
    }
}

@mixin button-share-monotone {}

// "Nav" button, used for top stories/gallery nav and carousel
@mixin button-nav {
    $_btn_size: 60px;

    @include button-reset;

    height: $_btn_size;
    line-height: $_btn_size;
    width: $_btn_size;

    svg {
        height: 100%;
        width: 50%;
    }
}

@mixin button-nav-light {
    background: $COLOUR_BUTTON_NAV_BG;
    border: 1px solid $COLOUR_BUTTON_NAV_BORDER;
    fill: $COLOUR_BUTTON_NAV_TEXT;
}

@mixin button-nav-light-hover {
    background: $COLOUR_BUTTON_NAV_BG_HOVER;
    border: 1px solid $COLOUR_BUTTON_NAV_BORDER_HOVER;
    fill: $COLOUR_BUTTON_NAV_TEXT_HOVER;
}

@mixin button-nav-light-disabled {
    background: $COLOUR_BUTTON_NAV_BG_DISABLED;
    border: 1px solid $COLOUR_BUTTON_NAV_BORDER_DISABLED;
    fill: $COLOUR_BUTTON_NAV_TEXT_DISABLED;
}

@mixin button-nav-dark {
    background: $COLOUR_BUTTON_NAV_DARK_BG;
    border: 1px solid $COLOUR_BUTTON_NAV_DARK_BORDER;
    fill: $COLOUR_BUTTON_NAV_DARK_TEXT;
}

@mixin button-nav-dark-hover {
    background: $COLOUR_BUTTON_NAV_DARK_BG_HOVER;
    border: 1px solid $COLOUR_BUTTON_NAV_DARK_BORDER_HOVER;
    fill: $COLOUR_BUTTON_NAV_DARK_TEXT_HOVER;
}

@mixin button-nav-dark-disabled {
    background: $COLOUR_BUTTON_NAV_DARK_BG_DISABLED;
    border: 1px solid $COLOUR_BUTTON_NAV_DARK_BORDER_DISABLED;
    fill: $COLOUR_BUTTON_NAV_DARK_TEXT_DISABLED;
}
