@import '@cnbritain/merlin-www-common:glamour';

@import '../wireframe/wireframe';
@import '../wireframe/_debug';

.ad__title {
    @include font('GRAPHIK');

    margin: 0 0 5px;
    text-align: left;
}

.ad--article {
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_SECONDARY;
        padding: 20px 0;
    }

    .ad__title {
        @include font('GRAPHIK', 10px, 'NORMAL');

        margin: 0 0 5px;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
        text-transform: uppercase;
    }

    @include min-screen( $TABLET_SIDE_GUTTER_BREAKPOINT) {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include min-screen(940px) {
        .ad__container {
            background: transparent;
            padding: 0;
        }

        .ad__title {
            display: none;
        }
    }
}

.ad--article-header {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_AD;
        padding: 20px 0;
    }

    @include min-screen($ARTICLE_HEADER_LARGE_BREAKPOINT) {
        margin-bottom: 60px;
        margin-top: 0;
    }
}

.ad--article-rail {
    margin: 40px (-$MOBILE_SIDE_GUTTER);

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen( $DESKTOP_SIDE_GUTTER_BREAKPOINT ){
        position: absolute;
        right: 0;
        margin: 0;
        width: 300px;
    }
}

.ad--article-rail-top {
    @include min-screen( $DESKTOP_SIDE_GUTTER_BREAKPOINT ){
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--article-inline {
    margin: 45px (-$MOBILE_SIDE_GUTTER);

    @include min-screen(700px) {
        margin: 40px (-$TABLET_SIDE_GUTTER);
    }

    @include min-screen(940px) {
        margin-left: 0;
        margin-right: 0;

        .ad__container {
            padding: 20px;
        }

        .ad__title {
            display: block;
            padding-left: 0;
        }
    }
}

.ad--article-video {
    margin-bottom: 0;

    .ad__container {
        background-color: #131313;
    }
}

.ad--gallery-inline {
    cursor: pointer;
    padding-bottom: 60px;
    text-align: center;
}

.ad--gallery-side {
    display: none;
    margin: 0 auto 60px;
    width: 300px;

    @include min-screen(940px) {
        display: block;
        margin-bottom: 0;
        position: absolute;
        right: 0;
    }
}

.ad--gallery__interstitial-image,
.ad--gallery__interstitial-video {
    cursor: pointer;
    max-width: 100%;
}

.ad--homepage {
    text-align: center;

    &:not(.is-hidden) .ad__block {
        background: $COLOUR_BG_AD;
        margin-bottom: 40px;
        margin-top: 0;
        padding: 20px 0;
    }
}

.ad--homepage-top {
    &:not(.is-hidden) .ad__block {
        margin-top: 0;
    }
}

.ad--show {
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_SECONDARY;
        padding: 20px 0;
    }

    .ad__title {
        color: $COLOUR_MAIN_SECONDARY;
        margin: 0 0 5px;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include min-screen(940px) {
        .ad__container {
            background: transparent;
            padding: 0;
        }

        .ad__title {
            display: none;
        }
    }
}

.ad--show-rail {
    margin-bottom: 60px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 60px;

    @include min-screen(700px) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen(940px) {
        margin: 0;
        position: absolute;
        right: 0;
        width: 300px;
    }
}

.ad--show-rail-top {
    @include min-screen(940px) {
        position: absolute;
        right: 0;
        top: 0;
    }
}


.ad--show-season {
    margin-bottom: 60px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 60px;

    @include min-screen(700px) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen(940px) {
        .ad__container {
            background: $COLOUR_BG_SECONDARY;
            padding: 20px 0;
        }

        .ad__title {
            display: block;
        }
    }

    @include min-screen($SHOWS_SEASON_HUB_LARGE_BREAKPOINT) {
        margin: 0;
        position: absolute;
        right: $DESKTOP_SIDE_GUTTER;
        top: 0;
        width: 300px;

        .ad__container {
            background: transparent;
            padding: 0;
        }

        .ad__title {
            display: none;
        }
    }
}

.ad--tag {
    text-align: center;

    .ad__container {
        background: $COLOUR_BG_AD;
        padding: 20px 0;
    }

    .ad__title {
        @include font('GRAPHIK', 10px, 'NORMAL');

        margin: 0 0 5px;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .ad__title {
            display: none;
        }
    }
}




.ad--tag-rail {
    margin-bottom: 60px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 60px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER + 20;
        margin-right: -$TABLET_SIDE_GUTTER + 20;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        clear: right;
        float: right;
        margin: 0 -340px 0 40px;

        &.stick-wrapper--fixed {
            margin-right: -40px;
        }

    }

    @include min-screen(940px) {
        .ad__container {
            background: transparent;
            padding: 0;
        }
        .ad__title {
            display: none;
        }
    }
}

.ad--tag-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        left: 100%;
        position: absolute;
        top: 0;
    }
}


.ad--tag-inline,
.ad--tag-infinite {
    margin-bottom: 60px;
    margin-top: 60px;
}

.ad--tag-inline {

    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT){
        margin-left: 0;
        margin-right: -340px;

        .ad__block {
            left: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            right: 50%;
            width: 100vw;
        }
    }

}

