@import '@cnbritain/merlin-www-common:bystander';
@import '@cnbritain/merlin-www-image:bystander';

@import '../wireframe/wireframe';

@import '../tatler/_tatler_base';

.c-gallery-wrapper {
    background-color: $COLOUR_BG;
}
.c-gallery__images {
    background-color: $COLOUR_BG;
}
.c-gallery__contents {
    background-color: $black;
}
.c-gallery__icon {
    background-color: $black;
    svg {
        fill: $white;
    }
}
.c-gallery__title,
.c-gallery__teaser {
    color: $white;
}

.c-gallery__meta-item {
    border-right-color: $mine-shaft;
    border-right-width: 2px;
}

@include at-medium-size {
    .c-gallery__contents {
        @include border-line-box(left, $bg: $black, $border: $brownish-grey);
    }

    .c-gallery__icon {
        background-color: $cod-gray;
        margin: 0 auto 30px auto;
    }
}