@import '@cnbritain/merlin-www-common:bystander';
@import '@cnbritain/merlin-www-image:bystander';

@import '../wireframe/wireframe';
@import '../tatler/_tatler_base';

.c-gallery {
    &:focus,
    &:hover {
        .c-gallery__title span {
            border-color: $white;
        }
    }
}

.c-gallery__contents {
    background: $black;
}

.c-gallery__title,
.c-gallery__teaser {
    color: $white;
}

.c-gallery__byline:before {
    background: $white;
}

.c-gallery__meta-item {
    border-right-color: $mine-shaft;
    border-right-width: 2px;
}
