@import '../wireframe/_variables';

// ----- Colours ----- //
$albaster: #f9f9f9;
$black: #000000;
$bon-jour: #deddde;
$cornflower-blue: #4681f5;
$dodger-blue: #1da8ff;
$limed-oak: #96814b;
$mineshaft: #303030;
$oslo-gray: #85878b;
$pale-slate: #d4d3d4;
$royal-blue: #3870e0;
$seashell: #f2f1f2;
$shark: #1e2022;
$shuttle-gray: #64666a;
$white: #ffffff;
$woodsmoke: #17191b;
$zircon: #f1f6ff;

// ----- Breakpoints ----- //
$DESKTOP_SIDE_GUTTER: 60px;
$TABLET_SIDE_GUTTER: 60px;
$MOBILE_SIDE_GUTTER: 20px;

$DESKTOP_SLICE_MARGIN: 60px;
$TABLET_SLICE_MARGIN: 60px;
$MOBILE_SLICE_MARGIN: 20px;

$DESKTOP_SIDE_GUTTER_BREAKPOINT: 1024px;
$TABLET_SIDE_GUTTER_BREAKPOINT: 700px;

$CARD_SWITCHER_WIDTH: 600px;
$CARD_LIST_2_COLUMN_BREAKPOINT: 600px;
$CARD_LIST_3_COLUMN_BREAKPOINT: 940px;
$CARD_LIST_4_COLUMN_BREAKPOINT: 1100px;