@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-buttons:traveller";

@import "../wireframe/wireframe";

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font("FREIGHT TEXT", 14px, null, 20px);
    border-top: 1px solid $ISABEL;
    color: $MUSTASAARI;
    margin: 40px 0;
    padding-top: 12px;
    position: relative;

    &:before {
        color: $SHERPA-BLUE;
        content: "\2605";
    }
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("LULO ONE", 87px, 700, 87px);
    color: $SHERPA-BLUE;
    float: left;
    text-transform: capitalize;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(100px);
        @include line-height(100px);
    }
}

// -------------------- //
// Embed
// -------------------- //
.bb-embed {
    margin: 40px 0;
}

// -------------------- //
// Interactive
// -------------------- //
.bb-interactive {
    margin: 40px 0;
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    border-left: 2px solid $BALI-HAI;
    margin: 40px 0;
    padding-left: 30px;
}

.bb-blockquote__quote {
    @include font("PROXIMA NOVA CONDENSED", 18px, 400, 24px);
    color: $BALI-HAI;
    font-style: italic;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(28px);
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $BALI-HAI;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 16px;
}

// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    margin: 40px 0;
    text-align: center;
}

.bb-pullquote__quote {
    @include font("LULO ONE", 20px, 700, 24px);
    color: $SHERPA-BLUE;
    text-transform: uppercase;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(24px);
        @include line-height(32px);
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $BALI-HAI;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 16px;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    border: 2px solid $SHERPA-BLUE;
    margin: 40px 0;
    padding: 32px 20px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 32px;
    }
}

.bb-infobox__title {
    @include font("PROXIMA NOVA CONDENSED", 20px, 600, 24px);
    color: $SHERPA-BLUE;
    letter-spacing: 1px;
    margin-bottom: 4px;
    margin-top: 0;
    text-transform: uppercase;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        letter-spacing: 2px;
    }
}

.bb-infobox__hr {
    border-color: $SHERPA-BLUE;
    margin-bottom: 24px;
    margin-top: 4px;
}

.bb-infobox__item {
    margin: 0;

    & + .bb-infobox__item {
        margin-top: 24px;
    }
}

.bb-infobox__item__key {
    @include font("PROXIMA NOVA CONDENSED", 16px, 600, 20px);
    color: $SHERPA-BLUE;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.bb-infobox__item__value {
    @include font("PROXIMA NOVA CONDENSED", 16px, 400, 20px);
    color: $MUSTASAARI;
    letter-spacing: 1px;
    margin: 0;
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    margin: 40px 0;
}

.bb-figure__wrapper {
    background-color: $CAPE-HAZE;
}

.bb-figure__caption {
    margin-bottom: 8px;
    margin-top: 4px;

    p:not([class]) {
        @include font("PROXIMA NOVA CONDENSED", 14px, 400, 20px);
        color: $MUSTASAARI;
        margin: 0;
    }

    a {
        border-bottom: 1px solid $SHERPA-BLUE;
        color: $SHERPA-BLUE;
        padding-bottom: 3px;
    }
}

.bb-figure__credit {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 12px);
    color: $RAVEN;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:before {
        content: 'Credit: ';
    }
}


// -------------------- //
// Question
// -------------------- //
.bb-question {
    margin: 40px 0;
}

.bb-question__question {
    p {
        margin-bottom: 16px;
        text-indent: 32px;
    }
}

.bb-question__q {
    @include font("PROXIMA NOVA CONDENSED", 18px, 600, 28px);
    color: $MUSTASAARI;
    left: 0;
    position: absolute;
    text-indent: 0;
}

.bb-question__separator {
    display: none;
}

.bb-question__author {
    @include font("PROXIMA NOVA CONDENSED", 12px, null, 16px);
    color: $BALI-HAI;
    letter-spacing: 1px;
}

.bb-question__by {
    display: none;
}

// -------------------- //
// Answer
// -------------------- //
.bb-answer {
    margin: 40px 0;
}

.bb-answer__answer {
    p {
        margin-bottom: 16px;
        text-indent: 32px;
    }
}

.bb-answer__a {
    @include font("PROXIMA NOVA CONDENSED", 18px, 600, 28px);
    color: $BALI-HAI;
    left: 0;
    position: absolute;
    text-indent: 0;
}

.bb-question__separator {
    display: none;
}

.bb-answer__author {
    @include font("PROXIMA NOVA CONDENSED", 12px, null, 16px);
    color: $BALI-HAI;
    letter-spacing: 1px;
}

.bb-answer__by {
    display: none;
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    border-bottom: 1px solid $PORCELAIN;
    border-left: 1px solid $PORCELAIN;
    border-right: 1px solid $PORCELAIN;
    border-top: 1px solid $PORCELAIN;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 40px 0;
}

.bb-gallery__icon {
    display: table-cell;
    height: 48px;
    padding: 12px;
    position: relative;
    vertical-align: middle;
    width: 48px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border-radius: 50%;
        border: 1px solid $SHERPA-BLUE;
        box-sizing: border-box;
        content: "";
        height: 48px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
    }

    svg {
        display: block;
        fill: $SHERPA-BLUE;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

.bb-gallery__title {
    @include font("PROXIMA NOVA CONDENSED", 16px, 600, 20px);
    color: $MUSTASAARI;
    display: table-cell;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 12px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        padding-bottom: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

.bb-gallery__link {}
.bb-gallery__cols {}
.bb-gallery__col {
    background-color: $CAPE-HAZE;
}

.bb-gallery__remaining {
    background-color: rgba($BLACK, 0.4);
    white-space: nowrap;
}

.bb-gallery__remaining-text {
    @include font("PROXIMA NOVA CONDENSED", 24px, 600, 24px);
    color: $WHITE;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(28px);
        @include line-height(28px);
    }
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    border-bottom: 1px solid $PORCELAIN;
    border-left: 1px solid $PORCELAIN;
    border-right: 1px solid $PORCELAIN;
    border-top: 1px solid $PORCELAIN;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin: 40px 0;
}

.bb-video__title-icon {
    display: table-cell;
    height: 48px;
    padding: 12px;
    position: relative;
    vertical-align: middle;
    width: 48px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border-radius: 50%;
        border: 1px solid $SHERPA-BLUE;
        box-sizing: border-box;
        content: "";
        height: 48px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 48px;
    }

    svg {
        display: block;
        fill: $SHERPA-BLUE;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

.bb-video__title {
    @include font("PROXIMA NOVA CONDENSED", 16px, 600, 20px);
    color: $MUSTASAARI;
    display: table-cell;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 12px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        padding-bottom: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

.bb-video__wrapper {}
.bb-video__image-icon {
    display: none;
}

.bb-video__link {}


// -------------------- //
// Button
// -------------------- //
.bb-button {
    @include button-single-two();
    @include button-single-two-light();
    width: 100%;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        width: auto;
    }

    &:hover {
        @include button-single-two-light-hover();
    }
}

// -------------------- //
// Card
// -------------------- //
.bb-card {
    border-radius: 4px;
    border: 1px solid $PORCELAIN;
    margin: 40px 0;
    padding: 12px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;

        &:before {
            @include font("PROXIMA NOVA CONDENSED", 12px, 600, 16px);
            color: $MANATEE;
            letter-spacing: 1px;
            text-transform: uppercase;
            bottom: 16px;
            content: "Continue Reading";
            position: absolute;
            right: 16px;
            text-transform: uppercase;
        }
    }
}

.bb-card__link {}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header {
    display: table-cell;
    padding-right: 6px;
    vertical-align: top;
    width: 92px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding-right: 8px;
        width: 174px;
    }
}

.bb-card__images {}
.bb-card__image {
    padding-top: 100%;
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding-top: 66.66666%;
    }
}

.bb-card__image__icon {
    @include vendor-prefix(transform, translate(-50%, -50%));
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 48px;
    left: 50%;
    top: 50%;
    width: 48px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: 20px;
        fill: $WHITE;
    }
}

.bb-card__obj__body {
    display: table-cell;
    padding-left: 6px;
    vertical-align: top;
    width: auto;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding-left: 8px;
    }
}

.bb-card__header {}

.bb-card__tag {
    @include font("PROXIMA NOVA CONDENSED", 12px, 600, 12px);
    color: $SHERPA-BLUE;
    letter-spacing: 2px;
    margin-bottom: 6px;
    margin-top: 0;
    text-transform: uppercase;
}

.bb-card__title {
    @include font("PROXIMA NOVA CONDENSED", 16px, 600, 20px);
    color: $MUSTASAARI;
    margin-bottom: 8px;
    margin-top: 6px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
        margin-bottom: 16px;
        margin-top: 8px;
    }
}

.bb-card__teaser {
    display: none;
}

.bb-card__separator {
    display: none;
}

.bb-card__footer {}

.bb-card__byline {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $MUSTASAARI;
    margin-bottom: 4px;
    margin-top: 8px;
}

.bb-card__byline--sponsorship {}

.bb-card__byline-prefix {
    font-style: italic;
}

.bb-card__byline-name {
    letter-spacing: 1px;
    text-transform: uppercase;
}

ul.bb-card__meta {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $MANATEE;
    margin-top: 4px;
}

li.bb-card__meta-item {
    & + li.bb-card__meta-item {
        &:before {
            background-color: $MANATEE;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 1px 4px;
            width: 2px;
        }
    }
}
