@import '@cnbritain/merlin-www-common:brides';

@import '../wireframe/wireframe';

.srch-main {
    background-color: $champagne;
    margin: 0 0 44px 0;
    padding: 36px 0;
}

.srch-textbox {
    @include font('FREIGHT DISPLAY PRO', 40px, null, 40px);
    appearance: none;
    background-color: transparent;
    border: none;
    color: $stroller-grey;
    font-style: italic;
    letter-spacing: 0.01em;
    padding: 0 0 12px 0;
    text-align: center;
    width: 100%;
}

.srch-results {
    @include font('SOLEIL', 12px, null, 12px);
    color: rgba($stroller-grey, 0.5);
    letter-spacing: 0.18em;
    padding-top: 24px + 12px;
    position: relative;
    text-transform: uppercase;
}
.srch-results:before {
    background-color: rgba($stroller-grey, 0.2);
    content: '';
    display: block;
    height: 24px;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
}


@include tablet-size {

    .srch-main {
        margin: 0 0 68px 0;
        padding: 60px 0;
    }

    .srch-textbox {
        @include font-size(48px);
        @include line-height(48px);
    }

}
