@import "@cnbritain/merlin-www-common:wireframe";

.c-superfeature {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}
.c-superfeature__byline {
    @include font-size(12px);
}
.c-superfeature__byline-name {}
.c-superfeature__byline-prefix {}
.c-superfeature__content {}
.c-superfeature__teaser {}
.c-superfeature__images {}
.c-superfeature__images--multiple {
    font-size: 0;

    .c-superfeature__image {
        display: inline-block;
        width: 25%;
    }

}
.c-superfeature__image {}

.c-superfeature__image--custom {
    position: relative;

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.c-superfeature__link {}
.c-superfeature__link--article {
    background-color: rgba(255,255,255,0.01);
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.c-superfeature__meta {

}
.c-superfeature__meta-item {
    display: inline-block;
}
.c-superfeature__meta-item--date {}
.c-superfeature__meta-item--tag {}
.c-superfeature__separator {}
.c-superfeature__title {}
