// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {
    .c-card__obj {}
    .c-card__obj__header {
        display: block;
        padding: 0;
        width: auto;
    }

    .c-card__image--custom {
        padding-top: 131.730769231%;
    }

    .c-card__obj__body {
        display: block;
        padding: 0;
        padding-top: 20px;
        width: 100%;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__tag {
        margin-bottom: 8px;
    }

    .c-card__title {
        @include font("ITC CASLON");
        @include font-weight(400);
        color: #111111;
        margin-bottom: 15px;
        text-align: center;
        text-align: center;
        text-transform: uppercase;
    }
}

@mixin card-cover-small() {
    .c-card__title {
        @include font-size(17px);
        @include line-height(20px);

    }
}

@mixin card-cover-large() {
    .c-card__title {
        @include font-size(20px);
        @include line-height(25px);
    }
}

.c-card--cover {
    @include card-cover();
    @include card-cover-small();

    @include min-screen($CARD_LIST_4_COLUMN_BREAKPOINT) {
        @include card-cover-large();
    }
}

.c-card--cover-small {
    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-cover();
    @include card-cover-large();
}