// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {
    .c-card__obj {}
    .c-card__obj__header {
        display: block;
        padding: 0;
        width: auto;
    }

    .c-card__image--custom {
        padding-top: 131.730769231%;
    }

    .c-card__obj__body {
        display: block;
        padding: 0;
        padding-top: 20px;
        width: 100%;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__tag {
        margin-bottom: 8px;
    }

    .c-card__title {
        margin-bottom: 15px;
        text-align: center;
    }
}
@mixin card-cover-small() {}
@mixin card-cover-large() {}

.c-card--cover {
    @include card-cover();
    // @include card-cover-small();
    // @include card-cover-large();
}

.c-card--cover-small {
    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-cover();
    @include card-cover-large();
}