// -------------------- //
// Hero
// -------------------- //
@mixin card-hero() {}
// @mixin card-hero-small() {}
// @mixin card-hero-large() {}

.c-card--hero {
    @include card-hero();
    // @include card-hero-small();
    // @include min-screen(700px) {
        @include card-portrait();
        @include card-portrait-large();
        // @include card-hero-large();
    // }

    @include max-screen($CARD_SWITCHER_WIDTH) {
        .c-card__images {
            .c-card__image {
                padding-top: 66.66666%;
            }
        }
    }

    .c-card__tag {
        margin-top: 20px;
        margin-bottom: 20px;
        @include min-screen($CARD_SWITCHER_WIDTH) {
            margin-bottom: 8px;
        }
    }
}

// .c-card--hero--small {
//     @include card-portrait-large();

// }

// .c-card--hero--large {
//     @include card-portrait-large();
// }