// -------------------- //
// Portrait
// -------------------- //
@mixin card-portrait() {}
// @mixin card-portrait-small() {}

@mixin card-portrait-large() {
    .c-card__obj {}
    .c-card__obj__header {
        display: block;
        padding: 0;
        width: auto;
    }
    .c-card__images {
        .c-card__image {
            padding-top: 100%;
        }

        .c-card__image__icon {
            bottom: 0;
            height: 40px;
            left: 0;
            width: 40px;

            svg {
                display: block;
                height: 100%;
                margin: 0 auto;
                vertical-align: middle;
                width: 16px;
            }
        }
    }

    .c-card__obj__body {
        display: block;
        padding: 0;
        width: 100%;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__tag {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .c-card__title {
        margin-bottom: 15px;
    }
}

.c-card--portrait {
    @include card-portrait();
    // @include card-portrait-small();
    // @include min-screen(800px) {
        @include card-portrait-large();
    // }
}

// .c-card--portrait--small {
//     @include card-portrait-small();
// }

// .c-card--portrait--large {
//     @include card-portrait-large();
// }