// -------------------- //
// Show
// -------------------- //
@mixin card-show() {
    .c-card__obj__body {
        padding-top: 20px;
    }

    .c-card__image-label {
        @include font("NOBEL", 12px, 400, 12px, 25)
        @include vendor-prefix(transform, translate(-50%, 0));
        bottom: 0;
        display: inline-block;
        left: 50%;
        padding: 8px 6px 6px 8px;
        position: absolute;
        text-transform: uppercase;
    }
    .c-card__image-label--latest {
        background-color: $COLOUR_BG_ACCENT2;
            color: $COLOR_TYPE_HEADING;
    }
    .c-card__image-label--featured {
        background-color: $COLOR_TYPE_LINK;
        color: $COLOR_MAIN_PAGE;
    }

    .c-card__title {
        text-align: center;
        margin-bottom: 0;
    }
}
@mixin card-show-small() {}
@mixin card-show-large() {}

.c-card--show {
    @include card-show();
    // @include card-show-small();
    // @include card-show-large();
}

.c-card--show-small {
    @include card-show();
    @include card-show-small();
}

.c-card--show-large {
    @include card-show();
    @include card-show-large();
}
