// -------------------- //
// Show
// -------------------- //
@mixin card-show() {
    .c-card__obj__body {
        padding-top: 20px;
    }

    .c-card__image-label {
        @include font("NOBEL", 12px, 400, 12px, 25)
        bottom: 0;
        display: inline-block;
        left: 50%;
        padding: 8px 6px 6px 8px;
        position: absolute;
        text-transform: uppercase;
        transform: translate(-50%, 0);
    }
    .c-card__image-label--latest {
        background-color: $wild-sand;
        color: $cod-gray;
    }
    .c-card__image-label--featured {
        background-color: $guardsman-red;
        color: $white;
    }

    .c-card__title {
        margin-bottom: 0;
        text-align: center;
    }
}
@mixin card-show-small() {}
@mixin card-show-large() {}

.c-card--show {
    @include card-show();
}

.c-card--show-small {
    @include card-show();
    @include card-show-small();
}

.c-card--show-large {
    @include card-show();
    @include card-show-large();
}
