// -------------------- //
// Top Stories
// -------------------- //
@mixin card-top-stories() {

}

@mixin card-top-stories-small() {
    .c-card__obj__header {
        padding-right: 8px;
        width: 33.33333%;
    }

    .c-card__obj__body {
        padding-left: 8px;
        width: auto;
    }

    .c-card__title {
        @include font-size(15px);
        @include line-height(18px);
        margin-top: 0;
    }
}

@mixin card-top-stories-large() {

}

.c-card--top-stories {
    @include card-landscape();
    @include card-landscape-small();

    @include card-top-stories();
    @include card-top-stories-small();
}

.c-card--top-stories-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-top-stories();
    @include card-top-stories-small();
}

.c-card--top-stories-large {
    @include card-landscape();
    @include card-landscape-small();

    @include card-top-stories();
    @include card-top-stories-large();
}