// -------------------- //
// Top Stories
// -------------------- //
@mixin card-top-stories() {
	.c-card__obj {
		display: table;
		width: 100%;
	}

	.c-card__obj__header,
	.c-card__obj__body {
		display: table-cell;
		vertical-align: middle;
	}

	.c-card__obj__header {
		width: 33.33333%;
	}

	.c-card__image__icon {
		display: none;
	}

	.c-card__obj__body {
	    padding-left: 20px;
	}

	.c-card__tag {
	    display: none;
	}

	.c-card__title {
		@include font-size(15px);
		@include line-height(18px);
	}

	.c-card__teaser {
	    display: none;
	}

	.c-card__separator {
	    display: none;
	}

	.c-card__byline {
		display: none;
	}
}

@mixin card-top-stories-small() {}
@mixin card-top-stories-large() {}

.c-card--top-stories {
	@include card-top-stories();
	// @include card-top-stories-small();
	// @include card-top-stories-large();
}

.c-card--top-stories-small {
	@include card-top-stories();
	@include card-top-stories-small();
}

.c-card--top-stories-large {
	@include card-top-stories();
	@include card-top-stories-large();
}
