// -------------------- //
// v-related
// -------------------- //
@mixin card-v-related() {
    .c-card__obj {
        display: table;
        width: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin card-v-related-small() {
    .c-card__obj__header {
        padding-right: 10px;
        width: 33.33%;
        vertical-align: top;
    }
    .c-card__obj__body {
        padding-left: 10px;
        width: auto;
    }

    .c-card__images {
        .c-card__image {
            padding-top: 66.66666%;
        }

        .c-card__image__icon {
            display: none;
        }
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__title {
        @include font("NOBEL", 14px, null, 18px, 25);
        margin-bottom: 8px;
    }

    .c-card__meta {
        padding-top: 0;
    }
}

@mixin card-v-related-large($has_small:false) {
    .c-card__obj__header {
        padding-right: 12px;
    }

    .c-card__obj__body {
        padding-left: 0px;
    }

    @if not $has_small {
        .c-card__obj__header {
            width: 50%;
        }
        .c-card__obj__body {
            width: auto;
        }

        .c-card__images {
            .c-card__image {
                padding-top: 66.66666%;
            }

            .c-card__image__icon {
                display: none;
            }
        }

        .c-card__teaser {
            display: none;
        }

        .c-card__separator {
            display: none;
        }

        .c-card__title {
            @include font("NOBEL", 14px, null, 18px, 25);
            margin-bottom: 8px;
        }
    }
}

.c-card--v-related {
    @include card-v-related();
    @include card-v-related-small();
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include card-v-related-large($has_small:true);
    }
}

.c-card--v-related-small {
    @include card-v-related();
    @include card-v-related-small();
}

.c-card--v-related-large {
    @include card-v-related();
    @include card-v-related-large();
}