.c-feature {
    background-color: $wild-sand;
    padding: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding: $DESKTOP_SIDE_GUTTER;
    }

    &:focus,
    &:hover {
        .c-feature__title,
        .c-feature__byline-name {
            opacity: 0.7;
            text-decoration: none;
        }
        .c-feature__image {
            opacity: 0.8;
        }
    }
}

.c-feature__images {
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        width: 50%;
    }
}

.c-feature__image {
    @include transition(all 0.3s ease-in-out);
    opacity: 1;
}

.c-feature__content {
    background: $white;
    padding: $PADDING_LARGE $PADDING_MEDIUM;
    text-align: center;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding: $PADDING_X_LARGE;
    }
}

.c-feature__icon {
    background-color: $white;
    border: 1px solid $loot-box;
    fill: $dove-gray;
    height: 15px;
    margin: 0 auto $MARGIN_MEDIUM auto;
    padding: $PADDING_XX_SMALL;
    width: 15px;
}

.c-feature__tag {
    @include font('NOBEL', 10px, null, 16px);
    color: $guardsman-red;
    letter-spacing: 1px;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: uppercase;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
         @include font-size(11px);
        @include line-height(20px);
    }
}

.c-feature__title {
    @include font('ITC CASLON', 24px, 'NORMAL', 26px);
    color: $cod-gray;
    margin-top: $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_XX_SMALL;

     @include min-screen($FEATURE_LARGE_BREAKPOINT) {
         @include font-size(35px);
        @include line-height(40px);
        margin-bottom: $MARGIN_X_SMALL;
     }
}

.c-feature__teaser,
.c-feature__separator {
    display: none;
}

.c-feature__byline {
    @include font-size(10px);
    @include line-height(14px);
    color: $mine-shaft-333;
    margin-bottom: 14px;
    margin-top: $MARGIN_XX_SMALL;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(11px);
        @include line-height(15px);
        margin-bottom: $MARGIN_SMALL;
        margin-top: $MARGIN_X_SMALL;
    }
}

.c-feature__byline-prefix {
    @include font('ADOBE CASLON', 12px);
    color: $dove-gray;
    font-style: italic;
    margin-right: 2px;
    text-transform: lowercase;
}

.c-feature__byline-name {
    @include font('NOBEL', 10px);
    color: $cod-gray;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(11px);
    }
}

.c-feature__meta {
    @include font('NOBEL', 10px, null, 16px);
    color: $dove-gray;
    display: inline-block;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(11px);
        @include line-height(20px);
        border-top: 1px solid $loot-box;
        padding-top: 8px;
    }
}

li.c-feature__meta-item {
    padding-right: $PADDING_XX_SMALL;

    & + .c-feature__meta-item {
        border-left: 1px solid $loot-box;
        padding-left: $PADDING_XX_SMALL;
    }

    &:last-child {
        padding-right: 0;
    }

    &--tag {
        color: $guardsman-red;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
