@import '@cnbritain/merlin-www-common:vogue';
@import '@cnbritain/merlin-www-image:vogue';

@import '../wireframe/wireframe';

.c-feature {
    background-color: $COLOUR_BG_FEATURE;
    max-width: none;
    padding: $MOBILE_SIDE_GUTTER;
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SIDE_GUTTER;
    }
    &:focus,
    &:hover {
        .c-feature__title,
        .c-feature__byline-name {
            @include card-text-links-hover();
        }
        .c-feature__image {
            @include card-image-links-hover();
        }
    }
}
.c-feature--gallery {
    background-color: $COLOUR_BG_GALLERY;
}
.c-feature__constrain {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}
.c-feature__wrapper {
    // Display inline block reset
    font-size: 0;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        display: table;
        padding-top: 0;
        width: 100%;
        .c-feature--right & {
            direction: rtl;
        }
    }
}
.c-feature__images {
}
.c-feature__content {
    .c-feature__icon {
        border: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
        margin: 0 auto $MARGIN_MEDIUM auto;
        padding: $PADDING_XX_SMALL;
        width: 15px;
        height: 15px;
    }
}
.c-feature__images,
.c-feature__content {
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        background: none;
        direction: ltr;
        display: table-cell;
        position: static;
        vertical-align: middle;
        width: 50%;
    }
}
.c-feature__image {
    @include card-image-links-normal();
    @include transition(all 0.3s ease-in-out);
}
.c-feature__image--portrait {
    display: inline-block;
    width: 50%;
}
.c-feature__content-center {
    padding: $PADDING_LARGE $PADDING_MEDIUM;
    text-align: center;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        background: #fff;
        box-sizing: border-box;
        display: table;
        min-height: 300px;
        padding: $PADDING_X_LARGE;
        position: relative;
        vertical-align: middle;
        width: 100%;
    }
}
.c-feature__content-center__center {
    @include min-screen( $FEATURE_LARGE_BREAKPOINT ){
        display: table-cell;
        vertical-align: middle;
    }
}
.c-feature__icon {
    background-color: $COLOR_MAIN_PAGE;
    fill: $COLOR_MAIN_TERTIARY;
}
.c-feature__icon--gallery {}
.c-feature__icon--video {}
.c-feature__icon--podcast {}
.c-feature__tag {
    @include c-card-primary-tag;
    margin-top: 0;
    margin-bottom: 8px;
}
.c-feature__title {
    @include font('ITC CASLON', 24px, null, 26px);
    margin-bottom: $MARGIN_XX_SMALL;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(35px);
        @include line-height(40px);
        margin-bottom: $MARGIN_X_SMALL;
    }
}
.c-feature__teaser {
    display: none;
}
.c-feature__separator {
    display: none;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
    }
}
.c-feature__byline {
    @include c-card-byline;
    margin-bottom: 14px;
    margin-top: $MARGIN_XX_SMALL;
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        margin-bottom: $MARGIN_SMALL;
        margin-top: $MARGIN_X_SMALL;
    }
}
.c-feature__byline-prefix {
    @include c-card-byline-prefix;
    margin-right: 2px;
}
.c-feature__byline-name {
    @include c-card-byline-name;
}
.c-feature__meta {
    display: inline-block;
    @include c-card-meta;
    .c-feature__meta-item {
        &:not(:last-child) {
            padding-right: 8px;
        }
        & + .c-feature__meta-item {
            border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
            padding-left: 8px;
        }
        &--tag {
            @include c-card-meta-tag;
        }
    }
}