
@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-image:gq";
@import "@cnbritain/merlin-www-topic-strip:gq";
@import "@cnbritain/merlin-www-card:gq";
@import "@cnbritain/merlin-www-bbcode:gq";
@import "@cnbritain/merlin-www-gallery-strip:gq";
@import "@cnbritain/merlin-www-show-card-carousel:gq";

@import "../wireframe/wireframe";

.tg-header {
	background-color: $woodsmoke;
	padding: 36px $MOBILE_SIDE_GUTTER 40px $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding: $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header-wrapper {
	max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER*2;
	margin: 0 auto;
}

/**
 * Intro
 * Hero, logo and title
 */
.tg-header__title {
	@include font("GOTHAM", 24px, 700, 28px, 60);
	color: $white;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

/**
 * Description + expand
 */
.tg-header__description {
    color: $oslo-gray;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    text-align: center;

    .bb-a {
        border-bottom: 1px solid;
        color: inherit;
    }

    .bb-p {
        @include font("GOTHAM", 14px, null, 20px, -2);
        color: inherit;
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

	@include at-x-large-size {
        margin-top: 32px;

		.bb-p {
			@include font-size(15px);
            @include line-height(24px);
		}
    }
}

/**
 * Sponsor
 */
.tg-header__sponsor {
    @include font('GOTHAM', 16px);
    color: $white;
    font-weight: bold;
    margin: 15px auto;
}

.tg-header__sponsor-prefix {
    @include font-size(12px);
}

.tg-header__sponsor-name {
    color: inherit;
}

/**
 * Navigation list
 */
.tg-header__topic-strip {
	margin-top: 24px;

	.c-topic-strip {
		text-align: center;
	}

	.c-topic-strip__title {
		color: $white;
	}

	.c-topic-strip__btn {
	    @include button-group();
	    @include button-group-dark();

	    &:hover, &:focus {
	        @include button-group-dark-hover();
	    }
	}

	@include at-x-large-size {
		margin-top: 32px;
	}
}

/**
 * Featured cards
 */
.tg-header__cards {
	margin-left: auto;
	margin-right: auto;
	margin-top: $MOBILE_SLICE_MARGIN;
	max-width: $MAXIMUM_PAGE_WIDTH;

	@include at-medium-size {
	    margin-top: $TABLET_SLICE_MARGIN;
	}

	@include at-x-large-size {
	    margin-top: $DESKTOP_SLICE_MARGIN;
	}
}

.tg-header__cards-list {
	margin: -10px;

    .tg-header__cards-listitem {
		display: inline-block;
	    padding: 0 10px;
	    margin: 10px 0;
	    width: 100%;

		@include one-column-size() {
			& + .tg-header__cards-listitem {
				.c-card {
				    border-top: 1px solid $bon-jour;
				    padding-top: 20px;

				    &.c-card--dark {
				        border-top-color: $mineshaft;
				    }
				}
			}
    	}

        @include two-column-size() {
		    width: 50%;
        }

        @include three-column-size() {
		    width: 33.33333%;
        }
    }
}

/**
 * Show card carousel
 */
.tg-header__shows {
	margin-left: auto;
	margin-right: auto;
	margin-top: $MOBILE_SLICE_MARGIN;
	max-width: $MAXIMUM_PAGE_WIDTH;

	.sh-item-carousel {
		margin: 0;
	}

	@include at-medium-size {
	    margin-top: $TABLET_SLICE_MARGIN;
	}

	@include at-x-large-size {
	    margin-top: $DESKTOP_SLICE_MARGIN;
	}
}

/**
 * Header variants
 */
.tg-header--video {
	.tg-header__intro-image {
		width: 190px;
		height: 50px;
		margin: 0 auto;

		svg {
			fill: $white;
			height: 100%;
			width: 100%;
		}

		@include at-x-large-size {
			width: 228px;
			height: 60px;
		}
	}
}

.tg-header--profile {
	.tg-header__intro-image {
		background-color: $bon-jour;
		border-radius: 50%;
		display: block;
		height: 66px;
		margin: 0 auto 20px auto;
		overflow: hidden;
		width: 66px;

		img {
			border-radius: 50%;
			height: 100%;
			overflow: hidden;
			width: 100%;
		}

		@include at-x-large-size {
			height: 108px;
			margin-bottom: 28px;
			width: 108px;
		}
	}
}

.tg-header--brand,
.tg-header--event,
.tg-header--topic {
	.tg-header__intro-image {
		margin-bottom: 24px;
		margin-left: auto;
		margin-right: auto;
		width: 240px;

		&:last-child {
			margin-bottom: 0;
		}

		img {
			width: 100%;
		}

		@include at-x-large-size {
			margin-bottom: 32px;
			width: 320px;
		}
	}
}
