@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-card-list:gq";
@import "@cnbritain/merlin-www-image:gq";
@import "@cnbritain/merlin-www-topic-strip:gq";

@import "../wireframe/wireframe";

.tg-header {
	background-color: $woodsmoke;
	padding: 36px $MOBILE_SIDE_GUTTER 40px $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header--video {
	.tg-header__intro__image {
		width: 190px;
		height: 50px;
		margin: 0 auto;

		svg {
			fill: $white;
		}

		@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
			width: 228px;
			height: 60px;
		}
	}
}

.tg-header--person {}

.tg-header__wrapper {
	max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER*2;
	margin: 0 auto;
}

.tg-header__intro {}
.tg-header__intro__image {
	display: block;
}

.tg-header__intro__title {
	@include font("GOTHAM", 24px, 700, 28px, 60);
	color: $white;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}

.tg-header__separator {
	display: none;
}

.tg-header__intro__description {
	@include font("GOTHAM", 14px, null, 20px, -40);
	color: $oslo-gray;
}

.tg-header__topic-strip {
	margin-top: 24px;
	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
		margin-top: 32px;
	}

	.c-topic-strip {
		text-align: center;
	}

	.c-topic-strip__title {
		color: $white;
	}

	.c-topic-strip__btn {
	    @include button-group();
	    @include button-group-dark();

	    &:hover {
	        @include button-group-dark-hover();
	    }
	}
}

.tg-header__cards {
	margin-left: auto;
	margin-right: auto;
	margin-top: $MOBILE_SLICE_MARGIN;
	max-width: $MAXIMUM_PAGE_WIDTH;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
	    margin-top: $TABLET_SLICE_MARGIN;
	}

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
	    margin-top: $DESKTOP_SLICE_MARGIN;
	}
}

.tg-header__shows {
	margin-left: auto;
	margin-right: auto;
	margin-top: $MOBILE_SLICE_MARGIN;
	max-width: $MAXIMUM_PAGE_WIDTH;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
	    margin-top: $TABLET_SLICE_MARGIN;
	}

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
	    margin-top: $DESKTOP_SLICE_MARGIN;
	}

	.sh-item-carousel {
		margin: 0;
	}
}