$_BUTTON_SIZE: 20px;

.c-int-redirect {
    background-color: $wild-sand;

    a {
        color: $dove-gray;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.c-int-redirect-wrapper {
    max-width: 1360px;
    padding: 20px 60px 20px $MOBILE_SIDE_GUTTER;
}

.c-int-redirect__btn {
    background-color: $wild-sand;
    border: 1px solid $dove-gray;
    border-radius: 50%;
    height: $_BUTTON_SIZE;
    padding: 0;
    position: absolute;
    margin-top: -($_BUTTON_SIZE/2);
    right: (60px - $_BUTTON_SIZE)/2;
    text-align: center;
    top: 50%;
    width: $_BUTTON_SIZE;
}

.c-int-redirect__msg {
    @include font('ADOBE CASLON', 16px);
    color: $dove-gray;
    text-align: center;

    label {
        text-decoration: underline;
    }
}

.c-int-redirect__list {
    text-align: center;
}

.c-int-redirect__list__item {
    @include font('ADOBE CASLON', 16px);
    margin: 0 3px;
}