@import '@cnbritain/merlin-www-common:glamour_redux';

@import '../wireframe/wireframe';

.c-gallery-strip {
    margin: 20px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 40px 0;
    }
}

.c-gallery-strip__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER*2;
    padding: 0 $MOBILE_SIDE_GUTTER;
    position: relative;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-gallery-strip__link {}
ul.c-gallery-strip__list {

}

li.c-gallery-strip__list__item {
    &:before {
        background-color: $pampas;
        display: block;
        content: "";
        padding-top: 150%;
        position: relative;
        z-index: -1;
    }

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.c-gallery-strip__detail {
    position: relative;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {

    }
}

.c-gallery-strip__remaining {
    @include font("GRAPHIK", 30px, 400, 30px);
    background-color: rgba($astronaut, 0.6);
    color: $azalea;
    z-index: 1;
}

.c-gallery-strip__title {
    @include font("MILLER_DISPLAY", 23px, 600, 28px);
    color: $dune;
    margin: 20px 0 0 0;
    text-align: left;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(40px);
        @include line-height(45px);
        margin: 32px 0 0 0;
        text-align: center;
    }
}

.c-gallery-strip__subtitle {

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {

    }
}

.c-gallery-strip--tag {
    margin: 20px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 40px 0;
    }

    .c-gallery-strip__list {
        text-align: center;
    }

    .c-gallery-strip__list__item:nth-child(n+4) {
        display: none;
    }

    .c-gallery-strip__list__item:nth-child(3) {
        .c-gallery-strip__remaining {
            display: block;
        }
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6) {
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(3) {
            .c-gallery-strip__remaining {
                display: none;
            }
        }

        .c-gallery-strip__list__item:nth-child(6) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            display: inline-block;
            width: 16.66%;
        }

        .c-gallery-strip__detail {

        }
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+8) {
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(6) {
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8) {

            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            width: 12.5%;
        }
    }
}

.c-gallery-strip--gutters {
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list {

        }

        .c-gallery-strip__list__item {

        }

        .c-gallery-strip__remaining {

        }
    }
}