.has-open-menu {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.n-main {
    background-color: $white;
    z-index: 10;
}

.n-main__wrapper {}

.n-main__header {
    height: 132px;
    text-align: center;
}

.n-main__nav {
    height: 60px;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.n-main__nav-logo {
    height: 60px;
    left: 20px;
    overflow: hidden;
    position: fixed;
    width: 138px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        left: 30px;
    }

    a {
        bottom: 0;
        height: 60px;
        line-height: 60px;
        position: absolute;
        transition: bottom 0.2s ease-in-out;
        vertical-align: middle;
        width: 138px;
    }

    svg, img {
        fill: $stroller-grey;
        height: 60px;
        width: 100%;
    }

    &.is-hidden {
        a {
            @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                bottom: -60px;
            }
        }
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 60px) {
        left: auto;
    }
}

.n-main__nav-logo--takeover {}

.n-main__nav-title {
    @include font("FREIGHT DISPLAY PRO", 20px, 400, 60px, 10);
    color: $stroller-grey;
    font-style: italic;
    display: none;
    left: 190px;
    letter-spacing: 0px;
    overflow: hidden;
    position: fixed;
    right: 129px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    @include min-screen(600px) {
        display: block;
    }

    @include desktop-size {
        left: 200px;
        right: 141px;
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 60px) {
        position: absolute;
        left: 172px;
    }
}

.n-main__list-item {
    position: relative;
    vertical-align: top;
}

.n-gallery-nav {
    .n-main__list-item + .n-main__list-item {
        &:before {
            display: none;
        }
    }
}

.n-main__nav-link {
    @include font("FREIGHT DISPLAY PRO", 18px, 'NORMAL', 18px);
    box-sizing: border-box;
    color: $stroller-grey;
    display: inline-block;
    height: 60px;
    letter-spacing: 0.03em;
    margin: 0 16px;

    span {
        display: inline-block;
        height: 60px;
        line-height: 60px;
    }

    &:hover{
        color: $pink-rose;
        border-bottom: solid 1px $pink-rose;
    }

    &.n-main__dropdown-link:hover{
        color: $stroller-grey;
        border-bottom: none;
    }
}

.n-main__sticker {
    z-index: 3;
}

.n-main__sticker-child {
    background-color: $white;

    &:before {
        @include vendor-prefix(transform, translateX(-50%));
        background-color: $white;
        border-bottom: solid 1px $ballet-grey;
        bottom: 0;
        box-shadow: 0 2px 4px rgba($black, 0.04);
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        width: 100vw;
    }
}

.n-main__nav-hamburger {
    border-left: 1px solid $ballet-grey;
    height: 32px;
    line-height: 32px;
    margin-top: 14px;
    text-align: center;
    width: 60px;

    .n-main__nav-hamburger__icon {
        cursor: pointer;
        display: block;
        height: 32px;
        line-height: 32px;
        width: 60px;

        svg {
            display: inline-block;
            fill: $stroller-grey;
            height: 24px;
            line-height: 60px;
            vertical-align: middle;
            width: 24px;
        }
    }

    .n-main__nav-hamburger__close-icon {
        cursor: pointer;
        display: block;
        height: 32px;
        margin-top: 0;
        line-height: 32px;
        width: 60px;

        svg {
            display: inline-block;
            fill: $stroller-grey;
            height: 20px;
            line-height: 60px;
            vertical-align: middle;
            width: 20px;
        }
    }
}

.n-main__nav-search {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        border-left: 1px solid $ballet-grey;
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 1) {
        border-right: 1px solid $ballet-grey;
    }

    display: inline-block;
    float: right;
    height: 32px;
    line-height: 32px;
    margin-top: 14px;
    text-align: center;
    width: 60px;

    .n-main__nav-search__icon {
        background-color: transparent;
        cursor: pointer;
        display: block;
        height: 32px;
        line-height: 32px;
        width: 60px;

        svg {
            display: inline-block;
            fill: $stroller-grey;
            height: 20px;
            line-height: 60px;
            vertical-align: middle;
        }
    }

    .n-main__nav-search__close-icon {
        background-color: transparent;
        cursor: pointer;
        display: block;
        height: 32px;
        line-height: 32px;
        width: 60px;

        svg {
            display: inline-block;
            fill: $stroller-grey;
            height: 20px;
            line-height: 60px;
            vertical-align: middle;
        }
    }

    &:hover {
        .n-main__nav-search__icon svg,
        .n-main__nav-search__close-icon svg {
            fill: $pink-rose;
        }
    }
}

.n-menu {
    background-color: $white;
    -webkit-overflow-scrolling: touch;

    &.is-visible {
        background-color: $champagne;
        bottom: 0;
        overflow: auto;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 2;
    }
}

.n-menu__top-stories {
    .c-top-stories {
        display: block;
    }

    .c-top-stories__overflow {
        padding-left: 20px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding-left: 30px;
        }
    }
}

.n-menu__nav {
    margin-bottom: 32px;
    margin-top: 14px;

    .n-menu__nav__wrapper {
        margin: 0 20px;
        overflow: hidden;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin: 0 30px;
        }
    }

    a {
        .n-menu__nav-item {
            float: left;
            height: 48px;
            position: relative;
            width: 100%;

            .n-menu__nav-link {
                @include font("FREIGHT DISPLAY PRO", 24px, 'NORMAL', 21px);
                @include vendor-prefix(transform, translateY(-50%));
                color: $stroller-grey;
                letter-spacing: 0.03em;
                position: absolute;
                top: 50%;
                word-break: break-word;
            }

            &--more {
                border-bottom: none;
                height: 40px;
                width: 50%;

                .n-menu__nav-link {
                    @include font-size(16px);
                    @include line-height(16px);
                    @include vendor-prefix(transform, none);
                    bottom: 0;
                    top: initial;
                }
            }
        }
    }
}