.n-main__dropdown {}

.n-main__dropdown-list {}

.n-main__dropdown-list--left {
    background-color: $champagne;
    border-top: none;
    margin-top: -1px;
    min-width: 98px;
    padding: 22px 36px;
    z-index: 1;

    &:before {
        content:"";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $champagne;
        height: 0;
        left: 60px;
        position: absolute;
        top: -10px;
        width: 0;
    }
}

.n-main__dropdown-list-item {
    .n-main__nav-link {
        @include line-height(38px);
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        height: 38px;
        white-space: nowrap;

        span {
            display: inline-block;
            height: 38px;
            line-height: 38px;
        }

        &:hover{
            color: $pink-rose;
            border-bottom: none;
        }
    }
}

.n-main__dropdown-link {
    &:after {
        border-top-color: $ballet-grey;
        border-width: 4px;
        margin-left: 8px;
        position: relative;
        top: -2px;
    }
}

.n-main__dropdown__btn-share{
    @include button-share();
    @include button-share-dark();

    & + .n-main__dropdown__btn-share {
        margin-left: 14px;
    }

    &:hover{
        @include button-share-dark-hover();
    }
}

@each $name, $color in $COLOUR_SOCIAL {
    .n-main__dropdown__btn-share--#{$name}{
        @include button-share-dark();
        display: inline-block;

        &:hover {
            @include button-share-dark-hover();
        }
    }
}

.n-main__dropdown-list--right {
    background-color: $champagne;
    border-top: none;
    margin-top: -1px;
    padding: 22px 24px;
    z-index: 1;

    &:before {
        content:"";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid $champagne;
        height: 0;
        right: 24px;
        position: absolute;
        top: -10px;
        width: 0;
    }
}

.n-main__dropdown--follow {
    .n-main__dropdown-link {
        @include font('SOLEIL', 12px, 'NORMAL', 12px);
        color: $candle-grey;
        letter-spacing: 0;
        padding: 0 10px;
        position: relative;

        &:before {
            border-radius: 30px;
            border: 1px solid $ballet-grey;
            content: '';
            height: 100%;
            height: 24px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &:hover {
            color: $candle-grey;
        }
    }

   +.n-main__list-item {
        &:before {
            display: none;
        }
    }

}

.n-main__dropdown--follow__group {
    font-size: 0;
    text-align: center;

    & + .n-main__dropdown--follow__group {
        margin-top: 20px;
    }
}

.n-main__dropdown__btn--newsletter{
    @include button-single-three();
    @include button-single-three-dark();
    padding: 18px 41px;

    &:hover {
       @include button-single-three-dark-hover();
    }
}

.n-main__dropdown-list--follow {
    border-top: none;
    white-space: nowrap;
}
