.n-gallery-nav {
    @include opacity(0);
    @include transition(opacity 0.2s ease-in-out, visibility 0.2s ease-in-out);
    background-color: $white;
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 100%;

    &.is-visible {
        @include opacity(1);
        visibility: visible;
    }

    &:before {
        @include vendor-prefix(transform, translateX(-50%));
        background-color: $white;
        border-bottom: solid 1px $ballet-grey;
        bottom: 0;
        box-shadow: 0 2px 4px rgba($black, 0.04);
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        width: 100vw;
    }
}

.n-gallery-counter {
    @include line-height(60px);
    font-style: italic;
    padding: 0 14px;

    @include desktop-size {
        padding: 0 20px;
    }
}

.n-gallery-counter__current {
    @include font("FREIGHT DISPLAY PRO", 24px, 400, 24px, 10);
    color: $stroller-grey;
}

.n-gallery-counter__slash {
    @include font("FREIGHT DISPLAY PRO", 16px, 400, 16px);
    color: $candle-grey;
}

.n-gallery-counter__total {
    @include font("FREIGHT DISPLAY PRO", 16px, 400, 16px);
    color: $candle-grey;
}

.n-gallery-toggle,
a.n-gallery-close {
    display: inline-block;
    font-size: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;

    svg {
        height: 100%;
        fill: $stroller-grey;
        width: 20px;
    }

    &:before {
        background-color: $ballet-grey;
        content: '';
        height: 32px;
        left: 0;
        margin: 12px 0;
        position: absolute;
        width: 1px;
    }
}

.n-gallery-toggle--list,
.n-gallery-toggle--grid {
    display: inline-block;
    font-size: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;

    svg {
        height: 100%;
        fill: $stroller-grey;
        width: 20px;
    }
}