.n-main__header-logo {
    display: inline-block;
    height: 96px;
    max-width: none;
    position: relative;
    text-align: center;

    a {
        display: inline-block;
    }

    svg, img {
        height: 96px;
        padding: 24px 0 12px 0;
        fill: $stroller-grey;
    }
}

.n-main__header-logo--takeover {

}