.n-menu__social {
    margin: 32px 20px 20px 20px;
    text-align: center;

    ul {
        font-size: 0;
    }
}

.n-menu__social-title {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    @include font("SOLEIL", 12px, 'NORMAL', 12px, 180);
    color: $ascot-grey;
    text-transform: uppercase;
    margin: 0 0 26px 0;
}

.n-menu__social-brand {}

.n-menu__social-item {
    position: relative;
    display: inline-block;

    & + .n-menu__social-item {
        margin-left: 8px;
    }
}

.n-menu__newsletter-btn {
    @include button-single-three();
    @include button-single-three-dark();
    margin-bottom: 32px;
    padding: 18px 41px;

    &:hover {
       @include button-single-three-dark-hover();
    }
}