.has-magnifier {
    .c-figure__wrapper,
    .c-figure__toolbar {
        @include vendor-prefix(transition, opacity 0.3s ease-in-out);
    }
}

.c-figure__magnifier {
    @include opacity(1);
    @include vendor-prefix(transition, opacity 0.3s ease-in-out);
    background-color: #fff;
    background-repeat: no-repeat;
    bottom: 0;
    cursor: move;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.c-figure__magnifier,
.c-figure__toolbar {
    &.is-hidden {
        @include opacity(0);
        pointer-events: none;
    }
}

.c-figure__magnifier--full-screen {
    background-color: #212121;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 11;
}

.c-figure__magnifier-button {
    @include vendor-prefix( appearance, none );
    background-color: rgba( 0, 0, 0, 0.9 );
    border: none;
    color: #fff;
    display: block;
    height: 60px;
    position: relative;
    vertical-align: top;
    width: 60px;
    z-index: 2;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
    }

    path {
        fill: #fff;
    }

    & + & {
        border-top: 1px solid #3E3E3E;
    }
}
.c-figure__magnifier-button--close {
    background-color: #000;

    svg {
        width: 17px;
        fill: #fff;
        stroke: #fff;
    }
}
.c-figure__magnifier-button--zoom-in,
.c-figure__magnifier-button--zoom-out {
    background-color: #fff;

    svg {
        width: 17px;
        fill: #000;
        stroke: #000;
    }
}

.c-figure__magnifier-toolbar {
    position: absolute;
    right: 0;
    top: 0;
}

.c-figure__magnifier-image {
    height: 100%;
    position: relative;
    width: 100%;
}

.c-figure__magnifier-image-center {
    left: 50%;
    position: absolute;
    top: 50%;

    img {
        display: block;
        @include vendor-prefix( transform, translate( -50%, -50% ) );
    }
}
