.c-figure__container {
    margin-bottom: 20px;
    position: relative;

    @include desktop-size {
        margin-bottom: 30px;
    }
}

.c-figure__wrapper {
    background-color: $alabaster-f9;
}

.c-figure__toolbar {
    border: 1px solid $gallery;
    bottom: 15px;
    height: 45px;
    right: 15px;
}

li.c-figure__toolbar-listitem {
    background-color: $white;
    height: 45px;
    transition: background 0.1s ease-in-out;
    width: 45px;

    svg {
        fill: #000;
        width: 16px;
    }
}

li.c-figure__toolbar-listitem--more {
    svg {
        fill: $dove-gray;
    }
}

li.c-figure__toolbar-listitem--facebook {
    svg {
        fill: map-get($COLOUR_SOCIAL, 'facebook');
    }

    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'facebook');

        svg {
            fill: #fff;
        }
    }
}

li.c-figure__toolbar-listitem--twitter {
    svg {
        fill: map-get($COLOUR_SOCIAL, 'twitter');
    }

    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'twitter');

        svg {
            fill: #fff;
        }
    }
}

li.c-figure__toolbar-listitem--pinterest {
    svg {
        fill: map-get($COLOUR_SOCIAL, 'pinterest');
    }

    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'pinterest');

        svg {
            fill: #fff;
        }
    }
}

li.c-figure__toolbar-listitem--email {
    svg {
        fill: map-get($COLOUR_SOCIAL, 'email');
    }

    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'email');

        svg {
            fill: #fff;
        }
    }
}

li.c-figure__toolbar-listitem--whatsapp {
    svg {
        fill: map-get($COLOUR_SOCIAL, 'whatsapp');
    }

    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'whatsapp');

        svg {
            fill: #fff;
        }
    }
}

li.c-figure__toolbar-listitem--zoom {
    &:hover {
        background-color: $guardsman-red;
        svg {
            fill: #fff;
        }
    }
}

.c-figure__title {
    @include font('ADOBE CASLON', 24px, 'BOLD', 28px);
    color: $cod-gray;
    margin-bottom: 10px;

    @include desktop-size {
        @include line-height(30px);
        padding-right: 160px;
    }
}

.c-figure__caption {
    color: $mine-shaft-333;
    @include font('ADOBE CASLON', 16px);
    margin: 10px 0;

    .bb-p {
        @include font('ADOBE CASLON', 16px);
    }

    @include desktop-size {
        padding-right: 160px;
    }
}

.c-figure__title,
.c-figure__caption {
    max-width: 620px;
}

.c-figure__credit {
    color: $silver;
    @include font('NOBEL', 9px);
    text-transform: uppercase;

    strong {
        font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    }

    @include desktop-size {
        padding-right: 160px;
    }
}

.is-hover .c-figure__toolbar:hover,
.is-hover .c-figure__toolbar:focus,
.is-touch .c-figure__toolbar:focus {
    .c-figure__toolbar-listitem + .c-figure__toolbar-listitem {
        border-left: 1px solid $gallery;
    }
}