@import '@cnbritain/merlin-www-common:houseandgarden';

@import '../wireframe/wireframe';

.srch-main {
	background-color: $ebony-clay;
	box-sizing: border-box;
	padding: 30px 20px;
	margin: 0 auto;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
		padding: 50px 60px;

	}

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 40px 60px;
		width: 100%;
    }
}

.srch-textbox {
	@include font('MILLER_DISPLAY', 35px, 'BOLD', 35px);

	appearance: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $silver-chalice;
	color: $white;
	padding: 12px 0;
	text-align: center;
	width: 100%;

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
		@include font-size(60px);
		@include line-height(60px);

		padding: 20px 0;
	}

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
		text-align: center;

	}
}

.srch-results {
	@include font('BRANDON GROTESQUE', 12px, 'BOLD', 12px);
	color: $silver-chalice;
	letter-spacing: 1px;
	margin: 20px 0 0 0;
	text-align: center;
	text-transform: uppercase;
}