@import '@cnbritain/merlin-www-common:glamour';
@import '@cnbritain/merlin-www-image:glamour';

@import '../wireframe/wireframe';

.c-feature {
    // 20px added to offset the box shadow
    margin-bottom: $MOBILE_SLICE_MARGIN + 20px;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER*2;
    padding: 0;

    @include at-medium-size() {
        // 20px added to offset the box shadow
        margin-bottom: $TABLET_SLICE_MARGIN + 20px;
        margin-top: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size(){
        // 20px added to offset the box shadow
        margin-bottom: $DESKTOP_SLICE_MARGIN + 20px;
        margin-top: $DESKTOP_SLICE_MARGIN;
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;

        &:hover {
            .c-feature__title {
                span {
                    box-shadow: inset 0 -3px 0 0 $azalea;
                }
            }
        }
    }
}

.c-feature--left {
    .c-feature__wrapper {
        box-shadow: -20px 20px 0px 0px $azalea;
    }
}

.c-feature--right {
    .c-feature__wrapper {
        box-shadow: 20px 20px 0px 0px $azalea;
    }
}

.c-feature__images {
    overflow: hidden;
}

.c-feature__image-wrapper {
    background-color: $pampas;
    padding-top: 100%;
}

.c-feature__contents {
    background-color: $white;
    padding: 20px;
    position: relative;

    @include at-medium-size() {
        padding: 30px 40px;
    }

    @include at-x-large-size(){
        padding: 30px 60px 30px 40px;
    }
}

.c-feature__icon {
    display: none;
}

.c-feature__tag {
    @include font("GRAPHIK", 10px, 600, 10px);
    background: $azalea;
    color: $astronaut;
    left: 0;
    letter-spacing: 1.5px;
    padding: 14px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-100%);

    @include at-medium-size(){
        background-color: transparent;
        left: initial;
        margin: 0 0 20px 0;
        padding: 0;
        position: relative;
        top: initial;
        transform: translateY(0);
    }
}

.c-feature__title {
    @include font("MILLER_DISPLAY", 23px, 600, 28px);
    color: $dune;
    margin: 0 0 10px 0;

    @include at-medium-size() {
        @include font-size(35px);
        @include line-height(38px);
    }

    @include at-x-large-size(){
        @include font-size(40px);
        @include line-height(45px);
        margin: 0 0 20px 0;
    }
}

.c-feature__teaser {
    @include font("GRAPHIK", 14px, 600, 18px);
    color: $dune;
    display: block;
    letter-spacing: 0px;
    margin: 0;
}

.c-feature__byline {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin: 0 0 6px 0;
    text-transform: uppercase;

    @include at-medium-size(){
        bottom: 50px;
        position: absolute;
    }
}

.c-feature__meta {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin: 0 0 0 0;
    text-transform: uppercase;

    @include at-medium-size(){
        bottom: 40px;
        position: absolute;
    }
}

.c-feature__meta-item {
    & + .c-feature__meta-item {
        &:before {
            background-color: $azalea;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 3px;
            margin: 1px 4px;
            width: 3px;
        }
    }
}