@import '@cnbritain/merlin-www-common:glamour_redux';
@import '@cnbritain/merlin-www-image:glamour_redux';

@import '../wireframe/wireframe';

.c-feature {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        &:hover {
            .c-feature__title {
                span {
                    box-shadow: inset 0 -3px 0 0 $azalea;
                }
            }
        }
    }
}

.c-feature--right {
    .c-feature__wrapper {
        box-shadow: 20px 20px 0px 0px $azalea;
    }
}

.c-feature--left {
    .c-feature__wrapper {
        box-shadow: -20px 20px 0px 0px $azalea;
    }
}

.c-feature__constrain {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-feature__wrapper {

}

.c-feature__images {
    overflow: hidden;
}

.c-feature__images--multiple {

}

.c-feature__content {
    background-color: $white;
    padding: 20px;
    position: relative;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding: 30px 60px;
    }
}

.c-feature__image--portrait {
    display: inline-block;
    width: 50%;
}

.c-feature__image__wrapper {
    background-color: $pampas;
    padding-top: 100%;
}

.c-feature__icon {
    display: none;
}

.c-feature__tag {
    @include font("GRAPHIK", 10px, 600, 10px);
    background: $azalea;
    color: $astronaut;
    left: 0;
    letter-spacing: 1.5px;
    padding: 8px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-100%);

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        background-color: transparent;
        left: initial;
        margin: 0 0 20px 0;
        padding: 0;
        position: relative;
        top: initial;
        transform: translateY(0);
    }
}

.c-feature__title {
    @include font("MILLER_DISPLAY", 23px, 600, 28px);
    color: $dune;
    margin: 0 0 10px 0;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(40px);
        @include line-height(45px);
        margin: 0 0 30px 0;
    }
}

.c-feature__teaser {
    @include font("GRAPHIK", 14px, 600, 18px);
    color: $dune;
    display: block;
    letter-spacing: 0px;
    margin: 0 0 30px 0;
}

.c-feature__byline {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin: 0 0 6px 0;
    text-transform: uppercase;
}

ul.c-feature__meta {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin: 0 0 0 0;
    text-transform: uppercase;
}

li.c-feature__meta-item {
    & + li.c-feature__meta-item {
        &:before {
            background-color: $azalea;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 3px;
            margin: 1px 4px;
            width: 3px;
        }
    }
}