@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-card-list:wired";
@import "@cnbritain/merlin-www-image:wired";
@import "@cnbritain/merlin-www-topic-strip:wired";

@import "../wireframe/wireframe";

@mixin separator-line-small(){
    &:before {
        background-color: $white;
        content: '';
        display: block;
        height: 1px;
        margin: 0 auto 20px auto;
        width: 15px;
    }
}

@mixin separator-line-large(){
    &:before {
        margin: 0 auto 30px auto;
        width: 40px;
    }
}

.tg-header {
    background-color: $black;
    color: $white;
    padding: $MOBILE_SLICE_MARGIN $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: $TABLET_SLICE_MARGIN $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding: $DESKTOP_SLICE_MARGIN $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
}

/**
 * Intro
 * Hero, logo and title
 */
.tg-header__intro__image {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;

    & + .tg-header__description {
        @include separator-line-small;
        margin-top: 0;
    }

    @include at-x-large-size {
        margin-bottom: 30px;
        width: 250px;

        & + .tg-header__description {
            @include separator-line-large;
        }
    }
}

.tg-header__title {
    @include font("NEW GROTESK SQUARE", 45px, 300, 45px);
    color: $white;
    margin: 0 auto;
    max-width: 700px;
    text-align: center;

    & + .tg-header__description {
        @include separator-line-small;
        margin-top: 0;
    }

    & + * {
        margin-bottom: 10px;
    }

    @include at-x-large-size {
        @include font-size(65px);
        @include line-height(65px);

        & + .tg-header__description {
            @include separator-line-large;
        }

        & + * {
            margin-bottom: 20px;
        }
    }
}

/**
 * Description + expand
 */
.tg-header__description {
    color: $white;
    margin: 20px auto 0 auto;
    max-width: 700px;
    text-align: center;

    .bb-p {
        @include font('BRUTAL', 15px, null, 17px);
        color: $white;
    }

    @include at-x-large-size {
        margin-top: 40px;

        .bb-p {
            @include font-size(20px);
            @include line-height(23px);
        }
    }
}

.tg-header__topic-strip {
    @include separator-line-small;
    margin: 10px auto 0 auto;

    .c-topic-strip {
        text-align: center;
    }

    @include at-x-large-size {
        @include separator-line-large;
        margin-top: 10px;
    }
}

/**
 * Sponsor
 */
.tg-header__sponsor {
    @include font('BRUTAL', 16px);
    margin: 30px auto;
}

.tg-header__sponsor-prefix {
    @include font-size(12px);
    margin-right: 0;
    text-transform: uppercase;
}

.tg-header__sponsor-name {
    color: inherit;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.tg-header__sponsor-image {
    display: block;
    margin: 10px auto 0 auto;

    img, svg {
        margin: 0 auto;
    }
}

.tg-header__separator {
    display: none;
}

/**
 * Featured cards
 */
.tg-header__cards {
    margin: $MOBILE_SLICE_MARGIN auto 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include at-medium-size {
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include at-x-large-size {
        margin-top: $DESKTOP_SLICE_MARGIN;
    }
}

/**
 * Event information
 */
.tg-header__event-meta {
    @include font('BRUTAL', 11px, null, 11px);
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;

    @include at-x-large-size {
        @include font-size(13px);
        @include line-height(13px);
        margin: 40px auto;
    }
}

.tg-header__event-meta__start-date {
    & + .tg-header__event-meta__location {
        border-left: 1px solid $black-olive;
        margin-left: 10px;
        padding-left: 10px;
    }
}

/**
 * Header variants
 */
.tg-header--event {
    background-color: $white-smoke;

    .tg-header__intro__image + .tg-header__description:before,
    .tg-header__title + .tg-header__description:before,
    .tg-header__topic-strip:before {
        background-color: $black;
    }

    .tg-header__intro__image,
    .tg-header__title {
        color: $black;
        & + .tg-header__description {
            &:before {
                background-color: $black;
            }
        }
    }

    .tg-header__description {
        p {
            color: $black;
        }
    }

    .c-topic-strip__title,
    .tg-header__event-meta {
        color: $black;
    }

    .c-card-list__item {
        .c-card {
            border-top: 1px solid $black;
        }
    }
}

.tg-header--profile {
    .tg-header__intro__image {
        margin: 0 auto 20px auto;

        @include at-x-large-size {
            margin-bottom: 40px;
        }

    }
}