.a-author,
.a-event-author {
    color: $gray;
    padding-right: 0;
}

.a-author__article-date {
    @include card-meta;
}

.a-author__bio {
    @include font('AGENDA', 14px, 'MEDIUM', 18px);

    letter-spacing: 0.5px;
    color: $gray;
    margin-top: 0;
    margin-bottom: 12px;
}

.a-author__byline {
    @include card-byline;

    margin: 12px 0 15px;

    a {
        color: $gray;
        text-decoration: none;
    }
}

.a-author__byline-name {
    @include card-byline-name;
}

.a-author__byline-prefix,
.a-author__byline-conjunction {
    @include card-byline-prefix;
}

.a-author__byline--syndication,
.a-author__byline--photographer {
    .a-author__byline-prefix {
        @include card-byline-prefix;
    }
}

.a-author__image,
.a-event-author__image {
    border: 1px solid $black;
    padding: 5px;
    width: 100px;
}

.a-author__separator,
.a-event-author__separator {
    width: 10px;
    border-color: $COLOUR_MAIN_HIGHLIGHT;
    border-width: 1px 0 0 0;
    margin: 12px 0;
}

.a-author__separator--date {}
