.a-main {
    background: $white;
}

.a-main--gallery {}
.a-main--video {
    .a-body__content {
        padding-left: 0;
    }
}

.a-body {
    margin-top: 0;

    @include tablet-size {
        margin-top: 0;
    }
}

.a-body--gallery {}
.a-body--video {}
.a-body__clear {
    clear: both;
}

.a-body__wrapper {}
.a-body__content {
    a {
        color: $cinnabar;
        text-decoration: none;
        border-bottom: 1px solid rgba(224, 59, 42, 0.8);
        transition: border .16s ease;

        @include tablet-size {
            border-bottom: 1px solid rgba(0,0,0,0);

            &:focus,
            &:hover {
                border-bottom: 1px solid rgba(224, 59, 42, 0.8);
            }
        }
    }

    & > p {
        margin: 30px 0;
    }

    & > p:first-of-type {
        margin: 0 0 30px;
    }

    @include tablet-size {
        & > p {
           margin: 30px 0;
        }

        & > p:first-of-type {
            margin: 0 0 30px;
        }
    }
}


.a-infinite {
    background: $white;
}

.a-infinite__message {
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: $MAXIMUM_PAGE_WIDTH - $DESKTOP_SIDE_GUTTER * 2;
    position: relative;

    @include desktop-size {
        padding-right: $ARTICLE_RIGHT_TOTAL;
    }

    @include tablet-size {
        padding-bottom: 60px;
    }
}

.a-infinite__message-btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}
