.a-main {
    background-color: $white;
}

.a-main--gallery {}
.a-main--video {
    overflow: hidden;

    .a-body__content {
        padding-left: 0;
    }
}

.a-body {
    margin: 32px 0;

    @include at-x-large-size {
        margin: 48px 0;
    }
}
.a-body--gallery {}
.a-body--video {
    margin: 30px 0 40px 0;

    @include at-x-large-size {
        margin: 40px 0;
    }
}
.a-body__clear {
    clear: both;
}

.a-body__wrapper {}
.a-body__content {}