.a-footer {
    padding-bottom: 30px;

    .a-share {
        margin: 30px 0 0;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-bottom: 60px;

        .a-share {
            margin: 30px 0 0;
        }
    }
}

.a-footer--gallery {
    padding-bottom: 30px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-bottom: 80px;
    }

    .a-footer__wrapper {
        @include common-large-size() {
            padding-left: 60px;
        }
    }
}


.a-related-tags {
    border: 0;
    margin: 30px 0;
    padding: 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px 0;
    }
}

.a-related-tags__wrapper {}
