.a-footer {
    padding-bottom: 40px;

    .a-share {
        margin: 30px 0 0;
    }

    @include at-medium-size {
        padding-bottom: 60px;

        .a-share {
            margin: 30px 0 0;
        }
    }
}

.a-footer--gallery {
    padding-bottom: 30px;

    @include at-medium-size {
        padding-bottom: 80px;
    }
}

.a-footer--video {
    padding-bottom: 40px;

    .a-footer__wrapper {
        padding-left: 0;
    }

    .a-related-tags {
        margin: 0;
        padding: 0;
    }

    @include at-x-large-size {
        padding-bottom: 60px;
    }
}

.a-related-tags {
    border: 0;
    margin: 30px 0;
    padding: 0;

    @include at-medium-size {
        margin: 40px 0;
    }
}


.a-related-tags__wrapper {}
