.a-header {}
.a-header--gallery {
    max-width: $MAXIMUM_PAGE_WIDTH;
    margin: 0 auto;

    .a-header__content {
        margin: 0;

        @include article-total-size {
            padding-left: 0;
            padding-right: $ARTICLE_RIGHT_TOTAL;
        }
    }

    .a-header__about {
        display: block;
    }
}

.a-header__wrapper {}

.a-header__content {
    padding: 20px 0 30px;

    @include desktop-size {
        padding: 60px 360px 60px 0;
    }

    // @include article-total-size {
    //     padding: 60px 0;
    // }
}

.a-header__title {
    @include font('STARLING', 34px, 'NORMAL', 38px);

    margin: 9px 0 10px;

    @include desktop-size {
        @include font('STARLING', 62px, 'NORMAL', 67px);

        letter-spacing: 1px;
        margin: 25px 0;
    }
}

.a-header__teaser {
    @include font('STARLING', 20px, 'NORMAL', 25px);

    font-style: italic;
    margin: 10px 0 15px;
    word-break: break-word;

    @include desktop-size {
        @include font-size(23px);
        @include line-height(28px);

        margin: 25px 0 30px;
    }

    p {
        @include font-size(20px);
        @include line-height(25px);

        margin: 0;

        @include desktop-size {
            @include font-size(23px);
            @include line-height(28px);

            margin: 0;
        }
    }
}

.a-header__separator {
    display: none;
}

.a-header__about {}

.a-header__byline {
    @include card-byline;

    margin: 15px 0 10px;

    a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.a-header__byline-item {}

.a-header__byline-prefix,
.a-header__byline-conjunction {
    @include card-byline-prefix;
}

.a-header__byline-name {
    @include card-byline-name;
}

.a-header__date {
    @include card-meta;
}

.a-header__image {
    margin-bottom: 30px;
    padding: 0;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include desktop-size {
        margin-bottom: 60px;
    }
}

.a-header__image-constrain {
    margin-bottom: $MARGIN_X_SMALL;
    padding-top: 66.666666666667%;

    img {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    @include min-screen(800px) {
        padding-top: 56.25%;
    }
}

.a-header__image-title,
.a-header__image-caption,
.a-header__image-credit {
    padding-left: 0;
}

.a-header__image-title {
    @include font('AGENDA', 13px, 'MEDIUM', 17px);

    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0 5px;
}

.a-header__image-caption {
     @include font('AGENDA', 13px, 'MEDIUM', 17px);

    letter-spacing: 1px;
    margin: 5px 0 10px;
}

.a-header__image-credit {
    @include font('AGENDA', 10px, 'MEDIUM', 10px);
    color: $gray;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: $ARTICLE_TOTAL + $DESKTOP_SIDE_GUTTER*2;
    padding-left: 20px;
    text-transform: uppercase;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: 60px;
    }


    &:before {
        content: 'Credit: ';
    }
}

.a-header__separator--hero {
    display: none;
}

.a-header__tag,
.a-header__tag__primary,
.a-header__tag__secondary {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 12px;
    text-transform: uppercase;
    text-decoration: none;

    @include desktop-size {
        @include font('AGENDA', 16px, 'MEDIUM', 16px);

        letter-spacing: 1px;
        margin: 0 0 12px;
    }

    &:hover,
    &:focus {
        color: $COLOUR_MAIN_HIGHLIGHT;
    }

    a {
        color: $gray;
        margin-bottom: 0;
        padding-right: 5px;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $COLOUR_MAIN_HIGHLIGHT;
        }
    }

    a + a {
        border-left: 1px solid $COLOUR_BORDER_SEPARATOR;
        padding-left: 10px;
    }
}

.a-header__separator--sponsor {
    display: none;
}

.a-main.is-sponsored {}

.a-header__sponsor {
    margin: $MARGIN_X_SMALL 0 0 0;

    @include desktop-size {
        margin: $MARGIN_SMALL 0;
    }
}

.a-header__sponsor-prefix {
    font-style: italic;
    text-transform: lowercase;

    @include desktop-size {}
}

.a-header__sponsor-name {
    @include desktop-size {}
}

.a-header__sponsor-image {
    height: 50px;
    margin-top: $MARGIN_XX_SMALL;

    @include desktop-size {
        margin-left: $MARGIN_XXX_SMALL;
        margin-top: 0;
    }
}

.a-header__meta {
    @include card-switcher-size;
    font-size: 0;

    @include desktop-size {
        margin-bottom: 30px;
    }
}

li.a-header__meta-item {
    color: $gray;
    @include font('AGENDA', 12px, 'MEDIUM', 12px);
    letter-spacing: 0.3px;

    a {
        color: inherit;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover,
        &:focus {
            color: $COLOUR_MAIN_HIGHLIGHT;
        }
    }


    & + & {
        border-left: 1px solid #ccc;
        margin-left: 10px;
        padding-left: 10px;
    }
}

@include desktop-size {
    li.a-header__meta-item {
        @include font-size(16px);
        @include line-height(16px);
    }
}

.a-header__event {
    margin-top: 25px;

    @include desktop-size {
        margin-top: 0;
    }
}

.a-header__event-title {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    margin: 15px 0 10px;
    text-transform: uppercase;

    @include desktop-size {
        @include font('AGENDA', 13px, 'MEDIUM', 13px);

        margin: 15px 0 4px;
    }
}

.a-header__event-location {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    text-transform: none;
    letter-spacing: .5px;
    color: $gray;
    margin: 0 0 10px;


    @include desktop-size {
        @include font('AGENDA', 13px, 'MEDIUM', 13px);

        margin: 0 0 2px;
    }
}

.a-header__event-date {
    @include font('AGENDA', 10px, 'MEDIUM', 18px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;

    @include desktop-size {
        margin: 0 0 8px;
    }
}

.a-header__event-btn {
    @include font("AGENDA", 10px, 500, 10px);
    color: $cinnabar;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: none;
    transition: border .16s ease;

    &:hover {
        border-bottom: 1px solid $cinnabar;
    }
}

.a-header--gallery {}

.a-header--video {
    .a-header__separator {
        display: none;
    }

    @include desktop-size {
        .a-header__content {
            padding: 60px 360px 30px 0;
        }
    }

}
