.a-header {}
.a-header--gallery {
    max-width: $MAXIMUM_PAGE_WIDTH;
    margin: 0 auto;

    .a-header__content {
        margin: 0;

        @include min-screen($ARTICLE_TOTAL) {
            padding-left: 0;
            padding-right: $ARTICLE_RIGHT_TOTAL;
        }
    }

    .a-header__about {
        display: block;
    }
}

.a-header__wrapper {}

.a-header__content {
    padding: 20px 0 30px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 60px 0;
    }

    @include min-screen($ARTICLE_TOTAL) {
        padding: 60px 0;
    }
}

.a-header__title {
    @include font('STARLING', 34px, 'NORMAL', 38px);

    margin: 9px 0 10px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font('STARLING', 62px, 'NORMAL', 67px);

        letter-spacing: 1px;
        margin: 25px 0;
    }
}

.a-header__teaser {
    @include font('STARLING', 20px, 'NORMAL', 25px);

    font-style: italic;
    margin: 10px 0 15px;
    word-break: break-word;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(23px);
        @include line-height(28px);

        margin: 25px 0 30px;
    }

    p {
        @include font-size(23px);
        @include line-height(28px);
    }
}

.a-header__separator {
    display: none;
}

.a-header__about {}

.a-header__byline {
    @include card-byline;

    margin: 15px 0 10px;

    a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.a-header__byline-item {}

.a-header__byline-prefix,
.a-header__byline-conjunction {
    @include card-byline-prefix;
}

.a-header__byline-name {
    @include card-byline-name;
}

.a-header__date {
    @include card-meta;
}

.a-header__image {
    padding: 0;
    max-width: 100%;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 60px;
    }
}

.a-header__image-constrain {
    margin-bottom: $MARGIN_X_SMALL;
    padding-top: 66.666666666667%;

    img {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    @include min-screen(800px){
        padding-top: 56.25%;
    }
}

.a-header__image-title,
.a-header__image-caption,
.a-header__image-credit {
    padding-left: 0;
}

.a-header__image-title {
    @include font('AGENDA', 13px, 'MEDIUM', 17px);

    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0 5px;
}

.a-header__image-caption {
     @include font('AGENDA', 13px, 'MEDIUM', 17px);

    letter-spacing: 1px;
    margin: 5px 0 10px;
}

.a-header__image-credit {
    @include font('AGENDA', 10px, 'MEDIUM', 10px);

    color: $boulder;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:before {
        content: 'Credit: ';
    }
}

.a-header__separator--hero {
    display: none;
}

.a-header__tag,
.a-header__tag__primary,
.a-header__tag__secondary {
    @include font('AGENDA', 11px, 'MEDIUM', 11px);

    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 12px;
    text-transform: uppercase;
    text-decoration: none;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font('AGENDA', 16px, 'MEDIUM', 16px);

        letter-spacing: 1px;
        margin: 0 0 12px;
    }

    &:hover,
    &:focus {
        color: $COLOUR_MAIN_HIGHLIGHT;
    }

    a {
        color: $gray;
        margin-bottom: 0;
        padding-right: 10px;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $COLOUR_MAIN_HIGHLIGHT;
        }
    }

    a + a {
        border-left: 1px solid $COLOUR_BORDER_SEPARATOR;
        padding-left: 10px;
    }
}

.a-header__separator--sponsor {
    display: none;
}

.a-main.is-sponsored {}

.a-header__sponsor {
    margin: $MARGIN_X_SMALL 0 0 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: $MARGIN_SMALL 0;
    }
}

.a-header__sponsor-prefix {
    font-style: italic;
    text-transform: lowercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {}
}

.a-header__sponsor-name {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {}
}

.a-header__sponsor-image {
    height: 50px;
    margin-top: $MARGIN_XX_SMALL;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: $MARGIN_XXX_SMALL;
        margin-top: 0;
    }
}

.a-header__meta {
    @include min-screen($CARD_SWITCHER_WIDTH) {}
}

.a-header__meta-item {
    &:not(:last-child) {}

    & + .a-header__meta-item {}
}

.a-header__meta-item--date {}
.a-header__meta-item--tag {}
.a-header__meta-item {}

.a-header__event {}
.a-header__event-title {}
.a-header__event-location {}
.a-header__event-date {}
.a-header__event-btn {}

.a-header--gallery {}

.a-header--video {
    .a-header__separator {
        display: none;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .a-header__meta-item {
        }
    }
}
