.a-share {
    padding: 0;

    @include tablet-size {
        padding: 0;
    }
}
.a-share__wrapper {}

.a-share__title {
    @include font('COMMUTER SANS', 15px, 'MEDIUM', 15px);

    letter-spacing: 1px;
    margin: 0 0 $MARGIN_SMALL 0;
    text-transform: uppercase;
}

.a-share__list {
    font-size: 0;
    height: 45px;
    margin: $MARGIN_SMALL 0 0 0;
}

li.a-share__list-item {
    font-size: initial;
    height: 45px;
    margin-right: 10px;

    &:last-child {
        margin: 0;
    }
}

.a-share__list-item--mobile {}
