.a-sidebar-content {

}

.a-sidebar-content__list {

}

.a-sidebar-content__list-item {
    & + .a-sidebar-content__list-item {
        margin-top: 20px;
    }
}

.a-sidebar-content__title {
    @include font("COMMUTER SANS", 15px, 400, 15px);
    color: $black;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
}