.a-logo {}
.a-logo--video {
    background-color: $black-two;
    padding: 60px 0 40px 0;

    .a-logo__wrapper {
        margin: 0 auto;
        width: 250px;
    }

    svg {
        width: 100%;
    }
}

.a-video {
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: (-$MOBILE_SIDE_GUTTER);

        @include tablet-size {
            top: (-$TABLET_SIDE_GUTTER);
        }

        @include desktop-size {
            top: (-$DESKTOP_SIDE_GUTTER);
        }
    }

     &.has-sidebar {
        @include desktop-size {
            .a-video__player {
                margin-right: 470px;
            }
        }
    }
}

.a-video__wrapper {}

.a-video__player {
    background-color: $black-two;
}

.a-video__player__wrapper {}

.a-video__sidebar {
    background-color: $cod-gray;
    padding: 0 20px 20px 20px;
    width: 470px;
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font('STARLING', 16px, 'BOLD', 20px);

    color: $white;
    margin: 0;
    letter-spacing: 1px;
    padding: 20px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    padding-bottom: 20px;
    right: 20px;
}

.a-video__related {
    max-width: none;
    padding-bottom: $PADDING_SMALL;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        display: none;
    }

    .c-card__title {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
}

.a-video__related__wrapper {}
.a-video__related__title {
    margin: 0;
    padding: $PADDING_SMALL 0;
    position: relative;
    text-transform: uppercase;
}

.a-video__related__list {
    .c-card-list {
        margin: 0 (-$MARGIN_XX_SMALL);
    }

    .c-card-list__item {
        padding: 0 $PADDING_XX_SMALL;
    }
}

.a-video__ad {
    margin-bottom: 40px;

    @include desktop-size{
        margin-bottom: 0;
        top: $PADDING_X_LARGE;
    }
}
