.a-logo {}
.a-logo--video {
    background-color: $black-one;
    padding: 30px 0;

    .a-logo__wrapper {
        margin: 0 auto;
        width: 250px;
    }

    svg {
        width: 100%;
    }

    @include at-medium-size {
        padding: 60px 0 40px 0;
    }

}

.a-video {
    background-color: $black-one;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: (-$MOBILE_SIDE_GUTTER);
    }

    @include at-medium-size {
        &:before {
            top: (-$TABLET_SIDE_GUTTER);
        }
    }

    @include at-x-large-size {
        &:before {
            top: (-$DESKTOP_SIDE_GUTTER);
        }

        &.has-sidebar .a-video__player {
            margin-right: 360px;
        }
    }
}

.a-video__wrapper {}

.a-video__player {
    background-color: $black;
}

.a-video__player__wrapper {}

.a-video__sidebar {
    background-color: $cod-gray;
    padding: 0 20px 20px 20px;
    width: 360px;
}

.a-video__playlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -10px;
}

.a-video__playlist-item {
    opacity: 1;
    padding: 0 10px;
    transition: opacity 0.3s ease-out;
    width: 100%;

    .c-card__image {

        &:before {
            background-color: rgba($black, 0.8);
            bottom: 0px;
            content: '';
            left: 0px;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition-duration: 300ms;
            z-index: 1;
        }

        &:after {
            @include font("COMMUTER SANS", 11px);
            color: $white;
            content: 'Now Playing';
            margin-top: -6px;
            opacity: 0;
            position: absolute;
            top: 50%;
            text-align: center;
            text-transform: uppercase;
            transition-duration: 300ms;
            width: 100%;
            z-index: 1;
        }

    }

    &.is-active {
        .c-card__image {
            &:before,
            &:after {
                opacity: 1;
            }
        }
    }

    & + .a-video__playlist-item {
        margin-top: 20px;
    }
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font('COMMUTER SANS', 13px, 'NORMAL', 13px);
    color: $white;
    margin-top: 20px;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    right: 20px;
}

.a-video__ad {
    margin-bottom: 40px;

    @include at-x-large-size {
        margin-bottom: 0;
        top: $PADDING_X_LARGE;
    }
}
