@import '@cnbritain/merlin-www-common:tatler';

@import '@cnbritain/merlin-www-bbcode:tatler';
@import '@cnbritain/merlin-www-buttons:tatler';
@import '@cnbritain/merlin-www-figure:tatler';
@import '@cnbritain/merlin-www-image:tatler';
@import '@cnbritain/merlin-www-marketing-cards:tatler';
@import '@cnbritain/merlin-www-card-list:tatler';
@import '@cnbritain/merlin-www-topic-strip:tatler';

@import "../wireframe/_author";
@import "../wireframe/_body";
@import "../wireframe/_footer";
@import "../wireframe/_gallery";
@import "../wireframe/_share";
@import "../wireframe/_sidebar";
@import "../wireframe/_video";

@import './_tatler_base';
