.a-header {
    margin: 32px 0;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 48px 0;
    }

    &.has-hero {
        margin-top: 0;

        .a-header__wrapper {
            max-width: $ARTICLE_TOTAL;
            margin: 0 auto;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            .a-header__content {
                text-align: center;
            }

            .a-header__sponsor {
                margin-left: auto;
                margin-right: auto;
            }

            .a-header__sponsor-image {
                img {
                    margin-left: auto;
                }
            }
        }
    }
}
.a-header--gallery {}
.a-header--video {
    margin: 30px 0;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 40px 0;
    }

    .a-header__content {
        max-width: none;
        padding-left: 0;
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding-right: 360px;
        }
    }

    .a-header__title,
    .a-header__about,
    .a-header__meta,
    .a-share__list {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            text-align: left;
        }
    }

    .a-share__list {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .a-header__sponsor {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin-left: 0;
        }
    }
}

.a-header__hero {
    position: relative;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        text-align: center;

        .a-header__tag {
            margin-bottom: 20px;
        }

        .a-header__tag__primary,
        .a-header__tag__secondary {
            background: transparent;
            display: inline-block;
            padding: 0;
        }

        .a-header__title {
            margin-bottom: 0;
        }
    }
}

.a-header__image {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}

.a-header__image-constrain {
    position: relative;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }

    picture {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.a-header__image-constrain--landscape,
.a-header__image-constrain--portrait,
.a-header__image-constrain--square,
.a-header__image-constrain--custom {
    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.a-header__image-constrain--landscape {
    padding-top: 66.6666666666%;
}

.a-header__image-constrain--portrait {
    padding-top: 150%;
}

.a-header__image-constrain--square {
    padding-top: 100%;
}

.a-header__image-constrain--custom {
    padding-top: 100%;
    @include min-screen($SUPERFEATURE_LARGE_BREAKPOINT) {
        padding-top: 46.875%;
    }
}

.a-header__image-content {
    bottom: 0;
    margin: 10px 20px;
    position: absolute;
    right: 0;
    text-align: right;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        bottom: initial;
        margin: 10px;
        top: 0;
    }
}

.a-header__image-title {
    @include font("GRAPHIK", 14px, 400, 15px);
    color: $white;
    margin-bottom: 6px;
}

.a-header__image-caption {
    @include font("GRAPHIK", 14px, 400, 15px);
    color: $white;
    margin-bottom: 6px;
}

.a-header__image-credit {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.a-header__hero-content {
    background-color: $white;
    margin: 0 auto;
    max-width: $ARTICLE_TOTAL;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    padding-top: 20px;
    position: relative;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        bottom: 0;
        left: 50%;
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
        padding-top: 30px;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
        z-index: 1;
    }
}

.a-header__wrapper {
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    width: 100%;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.a-header__content {
    background-color: $white;
    margin: 0 auto;
    max-width: $ARTICLE_TOTAL;
    position: relative;
}

.a-header__title {
    @include font("MILLER_DISPLAY", 30px, 600, 34px);
    color: $dune;
    margin: 14px 0 10px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(40px);
        @include line-height(45px);
        margin: 17px 0 20px 0;
    }
}

.a-header__separator {
    display: none;
}

.a-header__teaser {
    margin: 10px 0 20px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 20px 0 40px 0;
    }

    .bb-p {
        @include font("GRAPHIK", 17px, 600, 21px);
        color: $dune;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            @include font-size(19px);
            @include line-height(24px);
        }
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.a-header__about {
    @include min-screen($ARTICLE_TOTAL) {
        display: none;
    }
}

.a-header__byline {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin-bottom: 6px;
    margin-top: 20px;
    text-transform: uppercase;
}

.a-header__byline-item {}
.a-header__byline-name {
    a {
        color: $dune;
    }
}

.a-header__byline-prefix,
.a-header__byline-conjunction {

}

.a-header__date {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    margin-top: 6px;
    text-transform: uppercase;
}

ul.a-header__meta {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    margin-top: 6px;
    text-transform: uppercase;
}

li.a-header__meta-item {
    display: inline-block;

    & + li.a-header__meta-item {
        &:before {
            background-color: $azalea;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 3px;
            margin: 1px 4px;
            width: 3px;
        }
    }

    a {
        color: inherit;
    }
}

.a-header__meta--date {}
.a-header__meta--tag {}

.a-header__tag {
    @include font("GRAPHIK", 10px, 600, 10px);
    letter-spacing: 1.5px;
    margin-bottom: 14px;
    text-transform: uppercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 17px;
    }
}

.a-header__tag__primary,
.a-header__tag__secondary {
    background: $azalea;
    color: $astronaut;
    display: inline-block;
    padding: 8px;
}

.a-header__sponsor {
    @include font("GRAPHIK", 10px, 400, 13px);
    border-top: 1px solid $cloud;
    color: $dune;
    display: table;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 5px;
    position: relative;
    text-transform: uppercase;

    @include min-screen($ARTICLE_TOTAL) {
        border-top: none;
        padding: 0;
    }
}

.a-header__sponsor-prefix {
    display: inline-block;
    white-space: nowrap;

    @include min-screen($ARTICLE_TOTAL) {
        display: table-cell;
        vertical-align: middle;
    }
}

.a-header__sponsor-name {
    color: $dune;
    padding-left: 5px;
}

.a-header__sponsor-image {
    img {
        height: auto;
        margin: 10px auto 0 0;
        max-height: 40px;
        max-width: 140px;
        width: auto;
    }

    @include min-screen($ARTICLE_TOTAL) {
        display: table-cell;
        margin-top: 0;
        padding-left: 10px;
        vertical-align: middle;

        img {
            max-height: 48px;
            margin-top: 0;
        }
    }
}