.a-logo {}
.a-logo--video {
    background-color: $dune;
    padding: 32px 0 32px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 40px 0 60px 0;
    }

    .a-logo__wrapper {
        height: auto;
        margin: 0 auto;
        width: 220px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            height: auto;
            margin: 0 auto;
            width: 406px;
        }
    }

    svg {
        fill: $white;
    }
}

.a-video {
    background-color: $dune;
}

.a-video__wrapper {

}

.a-video__player {}

.a-video__player__wrapper {

}

.a-video__sidebar {
    background-color: $dune;
    padding: 20px;
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font("GRAPHIK", 14px, 400, 14px);
    color: $white;
    color: $white;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    right: 20px;
    top: 54px;
}

.a-video__content-body {

}

.a-video__ad {
    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding: 0;
        }
    }
}