@import '@cnbritain/merlin-www-common:wireframe';
@import '@cnbritain/merlin-www-image:wireframe';

.c-feature {
    box-sizing: border-box;
    margin: 0 auto;
}

.c-feature--left{}
.c-feature--right{}

.c-feature__wrapper {
    font-size: 0;
    position: relative;

    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include at-x-large-size() {
        display: table;
        direction: rtl;
        padding-top: 0;
        width: 100%;

        .c-feature--right & {
            direction: ltr;
        }
    }
}

.c-feature__link {
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.c-feature__link--article{}

.c-feature__images {
    position: relative;

    @include at-x-large-size() {
        direction: ltr;
        display: table-cell;
        position: static;
        vertical-align: middle;
        width: 50%;
    }
}
.c-feature__images--multiple{
    .c-feature__image{
        display: inline-block;
        width: 50%;
    }
    .c-feature__image-wrapper {
        padding-top: 150%;

    }
}
.c-feature__image{}
.c-feature__image-wrapper{
    padding-top: 66.666666667%;
    position: relative;

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

}

.c-feature__contents {
    font-size: initial;
    position: relative;

    @include at-x-large-size() {
        direction: ltr;
        display: table-cell;
        position: static;
        vertical-align: middle;
        width: 50%;
    }
}
.c-feature__icon {}
.c-feature__icon--video {}
.c-feature__icon--gallery {}
.c-feature__icon--podcast {}
.c-feature__tag {}
.c-feature__title {}
.c-feature__teaser {}
.c-feature__byline {}
.c-feature__byline--sponsored{}
.c-feature__byline-prefix {}
.c-feature__byline-name {}
ul.c-feature__meta {}
li.c-feature__meta-item {
    display: inline-block;
}
