
@import '@cnbritain/merlin-www-common:traveller';
@import '../wireframe/wireframe';

.c-gallery-strip {
    margin: 40px 0;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-gallery-strip-wrapper {}

.c-gallery-strip__list {
    margin: 0 -6px;
}

.c-gallery-strip__listitem {
    background-color: $CAPE-HAZE;
}

.c-gallery-strip__remaining {
    @include font("PROXIMA NOVA CONDENSED", 24px, 600, 24px);
    background-color: rgba($BLACK, 0.33);
    color: $WHITE;
    left: 6px;
    right: 6px;
    z-index: 1;
}

.c-gallery-strip__detail {
    position: relative;
}

.c-gallery-strip__title {
    @include font("PROXIMA NOVA CONDENSED", 24px, 600, 28px);
    color: $MUSTASAARI;
    letter-spacing: 1px;
    margin: 20px 0 0 0;
    text-align: center;
    text-transform: uppercase;

    @include at-medium-size {
        @include font-size(34px);
        @include line-height(36px);
        letter-spacing: 2px;
        margin: 32px 0 0 0;
    }
}

.c-gallery-strip__subtitle {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $MANATEE;
    margin: 4px 0 0 0;
    text-align: center;
}

.c-gallery-strip--tag {
    margin: 24px auto;

    @include at-x-large-size {
        margin: 32px auto;
    }
}