@import '@cnbritain/merlin-www-common:houseandgarden';
@import '@cnbritain/merlin-www-image:houseandgarden';

@import '../wireframe/wireframe';

.c-feature {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include at-medium-size() {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-xlarge-size(){
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}

.c-feature--left {
    .c-feature__content {
        @include at-xlarge-size(){
            border-right: 0px;
        }
    }
}

.c-feature--right {
    .c-feature__content {
        @include at-xlarge-size(){
            border-left: 0px;
        }
    }
}

.c-feature__wrapper {
    &:hover {
        .c-feature__title {
            span {
                box-shadow: inset 0 -0.4em 0 0 $careys-pink;
            }
        }
    }
}

.c-feature__image-wrapper {
    background-color: $mercury;
    padding-top: 66.66666%;
}

.c-feature__content {
    padding: 20px 20px 0px 20px;
    text-align: center;

    @include at-xlarge-size(){
        border: 1px solid $mine-shaft;
        padding: 50px;
        text-align: left;
        vertical-align: top;
    }
}

.c-feature__icon {
    display: none;
}

.c-feature__tag {
    @include font("BRANDON GROTESQUE", 10px, 700, 10px);
    color: $mine-shaft;
    letter-spacing: 1px;
    margin-bottom: 7px;
    margin-top: 0;
    text-transform: uppercase;

    @include at-xlarge-size(){
        margin-bottom: 15px;
    }
}

.c-feature__title {
    @include font("MILLER_DISPLAY", 25px, 700, 27px);
    color: $mine-shaft;
    letter-spacing: 0.5px;
    margin: 7px 0 10px 0;

    @include at-xlarge-size(){
        @include font-size(35px);
        @include line-height(38px);
        letter-spacing: 0px;
        margin: 15px 0 10px 0;
    }
}

.c-feature__teaser {
    display: none;

    @include at-xlarge-size(){
        @include font("MILLER_DISPLAY", 16px, 400, 21px);
        color: $mine-shaft;
        display: block;
        font-style: italic;
        letter-spacing: 0px;
        margin: 10px 0 15px 0;
    }
}

.c-feature__byline {
    @include font("BRANDON GROTESQUE", 10px, null, 10px);
    color: $mine-shaft;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;

    @include at-xlarge-size(){
        margin-bottom: 7px;
        margin-top: 15px;
    }
}

.c-feature__byline--sponsorship {}
.c-feature__byline-prefix {}
.c-feature__byline-name {
    @include font-weight(700);
}

ul.c-feature__meta {
    @include font("BRANDON GROTESQUE", 0px, 400, 10px);
    color: $dove-gray;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: uppercase;

    @include at-xlarge-size() {
        margin-top: 7px;
    }
}

li.c-feature__meta-item {
    @include font("BRANDON GROTESQUE", 10px, 400, 10px);
    color: $dove-gray;
    letter-spacing: 1px;
    text-transform: uppercase;

    border-right: 1px solid $silver;
    margin-right: 7px;
    padding-right: 7px;

    &:last-child {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }
}
