@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-image:brides";

@import "../wireframe/wireframe";

.c-superfeature {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-left: auto;
    margin-right: auto;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $XX_LARGE_SIZE;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include at-x-large-size {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;

        &:hover {
            .c-superfeature__title {
                color: $pink-rose;
            }
        }
    }
}

.c-superfeature-wrapper {}
.c-superfeature__link {}
.c-superfeature__images {}
.c-superfeature__images--multiple {}
.c-superfeature__images-wrapper {}
.c-superfeature__image {}
.c-superfeature__image-wrapper {
    background-color: $diamond;
    padding-top: 90%;

    @include at-medium-size {
        padding-top: 50%;
    }

    &:after {
        background-color: $pink-rose;
        bottom: 0;
        content: '';
        height: 32px;
        left: 50%;
        position: absolute;
        transform: translateY(50%);
        width: 1px;
        z-index: 1;
    }
}

.c-superfeature__contents {
    margin-left: auto;
    margin-right: auto;
    max-width: $LARGE_SIZE;
    position: relative;
    text-align: center;
}

.c-superfeature__contents-wrapper {
    padding: 0 20px;

    > :first-child {
        margin-top: 28px;
    }

    > :last-child {
        margin-bottom: 44px;
    }

    @include at-medium-size {
        > :first-child {
            margin-top: 40px;
        }

        > :last-child {
            margin-bottom: 68px;
        }
    }
}

.c-superfeature__tag {
    @include font("SOLEIL", 12px, 400, 16px, 180);
    color: $pink-rose;
    margin: 0 0 6px 0;
    text-transform: uppercase;
}

.c-superfeature__title {
    @include font("FREIGHT DISPLAY PRO", 32px, 400, 32px, 10);
    color: $stroller-grey;
    margin: 6px 0 0 0;
    text-align: center;
    text-transform: capitalize;

    @include at-medium-size {
        @include font-size(40px);
        @include line-height(40px);
    }
}

.c-superfeature__teaser {
    display: none;

    @include at-medium-size {
        @include font("SOLEIL", 14px, 400, 20px, 30);
        color: $ascot-grey;
        margin: 18px 0 0 0;
    }
}

.c-superfeature__byline {
    @include font('SOLEIL', 10px, 400, 16px, 120);
    color: $stroller-grey;
    margin: 18px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.c-superfeature__byline--sponsored {}
.c-superfeature__byline-prefix {}
.c-superfeature__byline-name {
    font-weight: bold;
}

.c-superfeature__meta {
    @include font('SOLEIL', 10px, 400, 12px, 120);
    color: $candle-grey;
    font-size: 0;
    text-transform: uppercase;
    margin: 6px 0 0 0;
}

.c-superfeature__meta-item {
    @include font('SOLEIL', 10px, 400, 12px, 120);
    color: $candle-grey;
    display: inline-block;
    text-transform: uppercase;

    & + .c-superfeature__meta-item {
        &:before {
            background-color: $candle-grey;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 2px 8px;
            width: 2px;
        }
    }
}