@import '@cnbritain/merlin-www-common:gq';
@import '@cnbritain/merlin-www-buttons:gq';

@import '../wireframe/wireframe';

.c-pagination {
	font-size: 0;
	margin: $MOBILE_SLICE_MARGIN 0;

	@include at-medium-size {
		margin: $TABLET_SLICE_MARGIN 0;
	}
}

.c-pagination__item + .c-pagination__item {
	margin-left: 12px;
}

.c-pagination__btn {
	@include button-reset();
	@include button-single();
	@include button-single-two-light();
	border: 1px solid $bon-jour;

    &:hover,
	&:focus {
    	background: $cornflower-blue;
    	border-color: $cornflower-blue;
    	color: $white;
    }
}
.c-pagination__btn--active {
	background: $cornflower-blue;
	border-color: $cornflower-blue;
	color: $white;
}