@import '@cnbritain/merlin-www-common:wired';

@import '../wireframe/wireframe';

.srch-main {
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $TABLET_SIDE_GUTTER;
    }
}

.srch-textbox {
    @include font("EXCHANGE WEB", 17px, 400, 17px);
    @include vendor-prefix(appearance, none);
    background-color: transparent;
    border: none;
    color: #fff;
    display: block;
    margin: 40px auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 10px 20px;
    width: 100%;

    &::-webkit-input-placeholder {
       color: #444;
    }

    &:-moz-placeholder {
       color: #444;
    }

    &::-moz-placeholder {
       color: #444;
    }

    &:-ms-input-placeholder {
       color: #444;
    }

    &:focus {
        outline: 1px solid;
        outline-color: #000;
    }

    @include min-screen( $DESKTOP_SIDE_GUTTER_BREAKPOINT ){
        @include font-size(40px);
        @include line-height(40px);
        padding: 30px 20px;
    }
}

.srch-results {
    @include font("BRUTAL", 12px, 300, 12px);
    display: block;
    margin-bottom: 40px;
}