@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-buttons:wired";

@import "../wireframe/wireframe";

// -------------------- //
// Default
// -------------------- //
.bb-a {
    border-bottom: 1px solid $bright-navy-blue;
    color: $bright-navy-blue;
    text-decoration: none;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        border-bottom: none;

        &:hover {
            border-bottom: 1px solid $bright-navy-blue;
        }
    }
}

.bb-abbr {
    text-decoration: underline;
}

.bb-em {
    font-style: italic;
}

.bb-h1,
.bb-h2,
.bb-h3,
.bb-h4,
.bb-h5,
.bb-h6 {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    font-variant-ligatures: common-ligatures;
    color: #000;
    margin: 40px 0 15px 0;
}

.bb-h1 {
    @include font("NEW GROTESK SQUARE", 50px, 300, 50px);
    letter-spacing: 0.3px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(100px);
        @include line-height(100px);
    }
}

.bb-h2 {
    @include font("NEW GROTESK SQUARE", 45px, 300, 45px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(65px);
        @include line-height(65px);
    }
}

.bb-h3 {
    @include font("NEW GROTESK SQUARE", 40px, 300, 40px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(45px);
        @include line-height(45px);
    }
}

.bb-h4 {
    @include font("NEW GROTESK SQUARE", 35px, 300, 35px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(40px);
        @include line-height(40px);
    }
}

.bb-h5 {
    @include font("NEW GROTESK SQUARE", 30px, 300, 30px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(35px);
        @include line-height(35px);
    }
}

.bb-h6 {
    @include font("NEW GROTESK SQUARE", 25px, 300, 25px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(30px);
        @include line-height(30px);
    }
}

.bb-hr {
    border: none;
    border-top: 1px solid #000;
    height: 0;
    margin: 10px 0;
}

.bb-mark {
    background-color: #e6e7e8;
    padding: 4px 0;
}

.bb-p {
    @include font("EXCHANGE WEB", 17px, 300, 23px);
    color: #000;
    margin: 10px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(19px);
        @include line-height(27px);
    }
}

.bb-pre {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    white-space: pre-wrap;
}

.bb-small {
    @include font("BRUTAL", 12px, 300, 12px);
}

.bb-strong {
    @include font-weight(700);
}

.bb-ul,
.bb-ol {
    @include font("BRUTAL", 17px, 300, 23px);
    list-style-type: none;
    margin: 30px 0;
    padding-left: 30px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }
}

.bb-li {
    position: relative;
}

.bb-ul {
    .bb-li:before {
        background: #000;
        border-radius: 50%;
        content: "";
        display: block;
        height: 10px;
        left: -30px;
        position: absolute;
        top: 7px;
        width: 10px;
    }
}

.bb-ol {
    counter-reset: section;

    .bb-li {
        counter-increment: section;
    }

    .bb-li:before {
        content: counters(section,".")".";
        font-weight: bold;
        left: -30px;
        position: absolute;
    }
}

// -------------------- //
// Embed
// -------------------- //
.bb-embed {
    margin: 40px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 60px 0;
    }
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font("BRUTAL", 13px, 300);
    border-top: 1px solid $black;
    margin: 40px 0;
    padding-top: 15px;
}

// -------------------- //
// Interactive
// -------------------- //
.bb-interactive {
    margin: 40px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 60px 0;
    }
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("NEW GROTESK SQUARE", 88px, 700, 88px);
    box-sizing: border-box;
    float: left;
    text-align: left;
    height: 0.78em;
    margin-right: 0.3em;
    margin-bottom: 0.20em;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(137px);
        @include line-height(137px);
        margin-right: 0.24em;
    }
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    border-left: 1px solid $trolley-grey;
    color: $trolley-grey;
    margin: 40px 0;
    padding: 0 0 0 20px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 60px 0;
    }
}

.bb-blockquote__quote {
    @include font("BRUTAL", 16px, 700, 21px);
    color: $trolley-grey;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
    }
}

.bb-blockquote__separator {
    border: none;
    border-bottom: 1px solid $trolley-grey;
    margin: 15px 0;
    width: 10px;
}

.bb-blockquote__credit {
    @include font("BRUTAL", 14px, 300);
}

// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 60px 0;
    }
}

.bb-pullquote__quote {
    @include font("NEW GROTESK SQUARE", 48px, 300, 48px);
    display: block;
    text-align: center;

    &:before,
    &:after {
        content: '';
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(48px);
        @include line-height(48px);
    }
}

.bb-pullquote__separator {
    border: none;
    border-top: 1px solid $black;
    margin: 10px auto 15px auto;
    width: 40px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 15px auto 20px auto;
    }
}

.bb-pullquote__credit {
    @include font("BRUTAL", 13px, 300, 13px);
    text-align: center;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    border: 7px solid $black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 30px;
    }
}

.bb-infobox__title {
    @include font("BRUTAL", 15px, 'BOLD');
    border-bottom: 2px solid $black;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.bb-infobox__hr {
    display: none;
}

.bb-infobox__item {
    margin: 20px auto;

    &:last-child {
        margin-bottom: 0;

        .bb-infobox__item__value {
            margin: 0;
        }
    }
}

.bb-infobox__item__key {
    @include font("BRUTAL", 15px, 'BOLD');
    border-bottom: 1px solid $black;
    margin: 10px 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.bb-infobox__item__value {
    @include font("BRUTAL", 17px, 300, 23px);
    margin: 10px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(22px);
    }
}

// -------------------- //
// Callout
// -------------------- //
.bb-callout {
    border: 7px solid $black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 30px;
    }
}

// -------------------- //
// Question / Answer
// -------------------- //
.bb-question,
.bb-answer {}

.bb-question__question,
.bb-answer__answer {
    @include font("BRUTAL", 17px, null, 23px);
    margin-left: 30px;

    p {
        @include font("BRUTAL", 17px, null, 23px);
    }
}

.bb-question__q,
.bb-answer__a {
    @include font-weight(700);
    display: inline-block;
    margin-left: -30px;
    width: 30px;
}

.bb-question__separator,
.bb-answer__separator {
    border: none;
    border-bottom: 1px solid $trolley-grey;
    margin: 10px 0 10px 30px;
    width: 15px;
}

.bb-question__author,
.bb-answer__author {
    @include font("BRUTAL", 13px, 400, 27px);
}

.bb-question__by,
.bb-answer__by {
    @include font("EXCHANGE WEB");
    @include font-weight(400);
    font-style: italic;
    margin-left: 30px;
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    box-sizing: border-box;
    margin: 45px 0;
}

.bb-figure--external {
    .bb-figure__wrapper {
        background-color: transparent;
    }
}

.bb-figure__wrapper {
    background-color: $white-smoke    ;

    & + * {
        margin-top: 10px;
    }
}

.bb-figure__caption {
    p {
        @include font("BRUTAL", 15px, 500, 17px);

        & + p {
            margin-top: 10px;
        }
    }
}

.bb-figure__credit {
    @include font("BRUTAL", 12px, 700, 12px);
    margin: 10px 0 0 0;

    &:before {
        content: 'Credit ';
        @include font-weight(300);
    }
}

// -------------------- //
// Card
// -------------------- //

.bb-card {
    border: 1px solid $isabelline;
    margin: 40px 0;
    padding: 15px;

    &:hover,
    &:focus {
        .bb-card__title span {
            text-decoration: underline;
        }
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 20px;
        position: relative;

        &:before {
            @include font('BRUTAL', 12px, 500);
            bottom: 20px;
            content: 'Continue reading';
            position: absolute;
            right: 20px;
            text-transform: uppercase;
            z-index: 1;
        }
    }
}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header,
.bb-card__obj__body {
    display: table-cell;
    vertical-align: top;
}

.bb-card__obj__header {
    width: 40%;
    padding-right: 13px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-right: 20px;
        width: 185px;
    }
}

.bb-card__image {
    padding-top: 100%;
}

.bb-card__obj__body {
    padding-left: 10px;
    width: auto;
}

.bb-card__tag {
    @include font("EXCHANGE WEB", 11px, 500, 14px, -4);
    color: $black;
    margin: 0 0 10px 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(14px);
        @include line-height(14px);
        margin: 0 0 15px 0;
    }
}

.bb-card__title {
    @include font("NEW GROTESK SQUARE", 25px, 300, 25px);
    margin: 10px 0 0 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(30px);
        @include line-height(28px);
        margin: 15px 0 0 0;
    }
}

.bb-card__separator {
    display: none;
}

.bb-card__byline {
    line-height: 1em;
    margin: 8px auto 5px auto;
}

.bb-card__byline-prefix {
    @include font("EXCHANGE WEB", 11px, null, 11px);
    font-style: italic;
}

.bb-card__byline-name {
    @include font("BRUTAL", 11px, 700, 11px);
    text-transform: uppercase;
}

.bb-card__meta {
    font-size: 0;
    margin-top: -5px;

    li.bb-card__meta-item {
        @include font("EXCHANGE WEB", 11px, 400, 12px);
        margin-top: 5px;
        padding-right: 10px;

        & + .bb-card__meta-item {
            border-left: 1px solid $isabelline;
            padding-left: 10px;
        }
    }
}


// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    margin: 30px 0;

    &:hover {
        .bb-gallery__title span + span {
            text-decoration: underline;
        }
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px 0;
    }

}

.bb-gallery__icon {
    float: left;

    svg {
        width: 20px;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        svg {
            width: 30px;
        }
    }
}

.bb-gallery__title {
    @include font("BRUTAL", 17px, 700, 20px);
    color: $black;
    display: block;
    margin: 0 0 10px 30px;
    width: auto;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 0 0 12px 40px;
    }
}

.bb-gallery__cols {
    clear: both;
}
.bb-gallery__col {}
.bb-gallery__col--2-2 {}
.bb-gallery__col--1-1 {}
.bb-gallery__image {}
.bb-gallery__remaining {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: $white;
    height: 100%;
    top: 0;
    white-space: nowrap;
}

.bb-gallery__remaining-text {
    @include font("BRUTAL");
    @include font-weight(700);
}

.bb-gallery__remaining-text--prefix {
    @include font("BRUTAL", 20px, 900);
    line-height: 100%;
    position: relative;
    top: -2px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(30px);
        top: -4px;
    }
}

.bb-gallery__remaining-text--value {
    @include font("BRUTAL", 25px, 900);
    line-height: 100%;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(40px);
    }
}

// -------------------- //
// Video
// -------------------- //

.bb-video {
    margin: 30px 0;

    &:hover {
        .bb-video__title span + span {
            text-decoration: underline;
        }
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px 0;
    }

}

.bb-video__title {
    @include font("BRUTAL", 17px, 700, 20px);
    color: $black;
    display: block;
    margin: 0 0 10px 30px;
    position: relative;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 0 0 12px 40px;
    }
}

.bb-video__title-icon {
    display: inline-block;
    height: auto;
    left: -30px;
    position: absolute;
    top: -2px;
    width: 20px;

    svg {
        width: 20px;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        left: -40px;
        top: -6px;
        width: 30px;

        svg {
            width: 30px;
        }
    }
}

.bb-video__wrapper {
    clear: both;
}

.bb-video__image-icon {
    background-color: $black;
    height: 50px;
    left: 50%;
    margin: -25px 0 0 -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;

    svg {
        display: block;
        height: 20px;
        margin: 15px auto 0 auto;
        width: 20px;
    }

    svg, path {
        fill: $white;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        height: 70px;
        margin: -35px 0 0 -35px;
        width: 70px;

        svg {
            height: 30px;
            margin-top: 20px;
            width: 30px;
        }
    }
}


// -------------------- //
// Button
// -------------------- //
.bb-button {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }
}