@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-image:gq";

@import "../wireframe/wireframe";

.c-superfeature {
    background-color: $seashell;
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-left: auto;
    margin-right: auto;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $XX_LARGE_SIZE;
    padding-bottom: 20px;
    position: relative;

    @include at-medium-size {
        background-color: initial;
        padding-bottom: 0;
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include at-x-large-size {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }

    &:before {
        background-color: $seashell;
        content: '';
        height: 100%;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        width: 100vw;
    }
}

.c-superfeature-wrapper {}
.c-superfeature__link {}
.c-superfeature__images {}
.c-superfeature__images--multiple {}
.c-superfeature__images-wrapper {}
.c-superfeature__image {}
.c-superfeature__image-wrapper {
    background-color: $bon-jour;
}

.c-superfeature__contents {
    background: $white;
    border-bottom: 1px solid $bon-jour;
    margin: -69px 20px 0 20px;
    padding: 28px 20px;
    position: relative;
    text-align: center;

    &:after {
        @include triangle(16px, 12px, 'up', $white);
        content: '';
        left: 50%;
        position: absolute;
        top: -16px;
        transform: translateX(-50%);
    }

    @include at-medium-size {
        bottom: 40px;
        box-sizing: border-box;
        left: 50%;
        margin: 0;
        padding: 36px 24px;
        position: absolute;
        transform: translateX(-50%);
        width: 62%;

        &:after {
            @include triangle(18px, 14px, 'up', $white);
            content: '';
            top: -18px;
        }
    }
}

.c-superfeature__contents-wrapper {}
.c-superfeature__tag {
    @include font("GOTHAM", 11px, 700, 14px, -4);
    color: $limed-oak;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: capitalize;

    @include at-medium-size {
        @include font-size(12px);
        @include line-height(16px);
        margin-bottom: 12px;
    }
}

.c-superfeature__title {
    color: $woodsmoke;
    @include font("ITC_FENICE", 24px, 700, 28px, -4);
    margin-bottom: 14px;
    margin-top: 0px;

    @include at-medium-size {
        @include font-size(32px);
        @include line-height(36px);
        margin-bottom: 8px;
        margin-top: 0px;
    }
}

.c-superfeature__teaser {
    @include font("GOTHAM", 12px, null, 16px, -4);
    color: $oslo-gray;
    display: none;
    margin-bottom: 14px;
    margin-top: 14px;

    @include at-x-large-size {
        @include font-size(15px);
        @include line-height(20px);
        display: block;
        margin-bottom: 20px;
        margin-top: 8px;
    }
}

.c-superfeature__byline {
    @include font("GOTHAM", 9px, null, 16px, 60);
    margin-bottom: 6px;
    margin-top: 14px;
    text-transform: uppercase;
}

.c-superfeature__byline--sponsored {}
.c-superfeature__byline-prefix {
    @include font-weight(400);
}

.c-superfeature__byline-name {
    @include font-weight(700);
}

.c-superfeature__meta {
    @include font("GOTHAM", 9px, 500, 14px);
    color: $oslo-gray;
    font-size: 0;
    margin-top: 6px;
}

.c-superfeature__meta-item {
    @include font("GOTHAM", 9px, 500, 14px);
    display: inline-block;
    padding-right: 0;

    & + .c-superfeature__meta-item {
        border-left: none;
        padding-left: 0;

        &:before {
            background-color: $oslo-gray;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 1px 4px;
            width: 2px;
        }
    }
}