.a-main {
    min-height: 600px; //600px as a double sky might be in the article
    position: relative;
}

.a-main--gallery {}
.a-main--video {
    min-height: initial;
}

.a-body {
    box-sizing: border-box;
    margin-top: $MOBILE_SLICE_MARGIN - 10;
    margin-bottom: $MOBILE_SLICE_MARGIN;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    width: 100%;

    @include at-medium-size {
        margin-top: $TABLET_SLICE_MARGIN - 20;
        margin-bottom: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin-top: $DESKTOP_SLICE_MARGIN - 20;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.a-body--gallery {}
.a-body--video {
    max-width: $XX_LARGE_SIZE + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    margin: 0 auto;
    padding: 0;

    .a-body__wrapper {
        max-width: none;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;

        @include at-medium-size {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }

        @include at-x-large-size {
            padding-left: $DESKTOP_SIDE_GUTTER;
            padding-right: $DESKTOP_SIDE_GUTTER;
        }
    }

    .a-body__content {
        margin: 0;
        max-width: none;

        @include at-x-large-size {
            padding-right: 360px;
        }

        @include min-screen($ARTICLE_TOTAL) {
            padding-left: 60px;
        }
    }
}

.a-body__clear {
    clear: both;
}

.a-body__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $ARTICLE_TOTAL;
    position: relative;
    width: 100%;
    word-wrap: break-word;

    @include at-x-large-size {
        padding: 0 $ARTICLE_RIGHT_TOTAL 0 0;
    }

    @include min-screen($ARTICLE_TOTAL) {
        padding: 0 $ARTICLE_RIGHT_TOTAL 0 $ARTICLE_LEFT_TOTAL;
    }
}

.a-body__content {}