.a-review {}
.a-review__item {}
.a-review__key {}
.a-review__separator {}
.a-review__value {}
.a-review__rating-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.a-review__rating-list__item {
    float: left;
    height: 15px;
    margin: 0;
    padding: 0;
    width: 15px;
}
.a-review__rating-list__item--active {}
.a-review__rating {}