.a-share {}
.a-share__wrapper {}

.a-share__title {}

.a-share__list {}

.a-share__list-item {
    display: inline-block;
}

.a-share__list-item--mobile {
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }
}


// Used on video header
// We have to make some of this stuff important to overwrite youtubes styles
.a-share__youtube {
    > div {
        display: inline-block !important;
        vertical-align: middle !important;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        display: inline-block;
        vertical-align: middle;

        > div {
            margin-top: -5px !important;
        }
    }
}
.a-share__youtube__title {}
