.a-sidebar-content {
    clear: both;
    display: none;
    float: left;
    margin-left: -($ARTICLE_LEFT_COLUMN_WIDTH + $ARTICLE_LEFT_COLUMN_MARGIN);
    width: $ARTICLE_LEFT_COLUMN_WIDTH;

    @include min-screen($ARTICLE_TOTAL) {
        display: block;
    }
}

.a-sidebar-content__title {}

.a-sidebar-content__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.a-sidebar-content__list-item {
    margin: 0;
    padding: 0;
}
