.a-logo {}
.a-logo--video {}

.a-video {
    overflow: hidden;
    position: relative;


    &.has-sidebar {
        @include at-x-large-size {
            .a-video__player {
                margin-right: 350px;
            }
        }
    }
}

.a-video__wrapper {
    box-sizing: border-box;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    max-width: $XX_LARGE_SIZE + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    margin: 0 auto;
    position: relative;
    width: 100%;

    @include at-medium-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.a-video__player {}

.a-video__player__wrapper {
    padding-top: 56.25%;
    position: relative;

    iframe {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.a-video__sidebar {
    bottom: 0;
    box-sizing: border-box;
    display: none;
    position: absolute;
    right: $DESKTOP_SIDE_GUTTER;
    top: 0;
    width: 350px;

    @include at-x-large-size {
        display: block;
    }
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {}

.a-video__sidebar__list {
    bottom: 0;
    overflow-y: scroll;
    left: 0;
    position: absolute;
    right: 0;
    top: 55px;
}

.a-video__playlist {
    font-size: 0;
    padding: 0;
    position: relative;
}

.a-video__playlist-item {
    display: inline-block;
    font-size: initial;
}

.a-video__content-body {
    margin: 0 auto;
    max-width: $XX_LARGE_SIZE + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    position: relative;
}

.a-video__ad {
    margin: 0 auto;
    text-align: center;

    @include at-x-large-size{
        position: absolute;
        right: $DESKTOP_SIDE_GUTTER;
        top: 0;
    }
}