.c-cookie-warning {
    background-color: $white;
    border-top: 1px solid $black;
    padding: 20px 65px 20px 20px;
    z-index: 10;

    @include at-medium-size {
        border-left: 1px solid $black;
        border-right: 1px solid $black;
        padding: 20px 85px 20px 30px;
    }
}

.c-cookie-warning__message {
    @include font('COMMUTER SANS', 14px, 'MEDIUM', 17px);

    @include at-medium-size {
        @include line-height(20px);
    }

    a {
        border-bottom: 1px solid $black;
        color: inherit;
        text-decoration: none;
    }
}

.c-cookie-warning__button {
    border: 1px solid $black;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
    height: 25px;
    width: 25px;

    @include at-medium-size {
        margin-right: 30px;
    }

    svg {
        display: block;
        height: 8px;
        margin: 0 auto;
        width: 8px;
    }
}
