.c-cookie-warning {}

.c-cookie-warning__table-cell--cta {}

.c-cookie-warning__message {
    a {}
}

.c-cookie-warning__button {
    svg {
        display: inline-block;
        height: 10px;
        margin: 0 auto;
        width: 8px;
    }
}
