.c-card-section {
    background-color: $wild-sand;
    margin: 30px auto;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        padding: 20px $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        margin: 60px auto;
        padding: 0 60px;
    }
}

.c-card-section__logo {
    height: 30px;
    margin-bottom: 30px;
    text-align: center;

    @include tablet-size {
        height: 40px;
        margin-bottom: 60px;
    }

    svg {
        display: inline-block;
        height: 100%;
        width: auto;

        path, text {
            fill: $COLOUR_ICON_FILL;
        }
    }
}

.c-card-section__title {
    @include t-topic-title-small;

    margin: 0;
    text-align: center;
    padding-bottom: 15px;

    @include tablet-size {
        @include t-topic-title-large;

        text-align: left;
        padding-bottom: 0;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }
}

.c-card-section__constrain {
    max-width: 1320px;
}


.c-card-section__title-wrapper {
    @include tablet-size {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 20px;
    }
}

.c-topic-strip--c-card-section {
    @include tablet-size {
        width: auto;
    }
}

.c-card-section--c-curated,
.c-card-section--c-contributors,
.c-card-section--c-tag {
    .c-card-section__title {
        padding: 0 0 15px;

        @include tablet-size {
            padding-bottom: 0;
        }
    }
}

.c-card-section--s-results {}

.c-card-section--c-video-articles {
    background-color: $COLOUR_BG_DARK;
    max-width: none;
    padding: 30px 20px;

    @include tablet-size {
        padding: 60px;
    }

    .c-card-section__title-wrapper {
        display: none;
    }

    .c-card-section__btn {
        @include button-single;
        @include button-single-dark;

        margin-top: 30px;
        width: auto;

        &:hover {
            @include button-single-dark-hover;
        }
    }

    .c-card__image__icon svg {
        height: 100%;
        width: 15px;
    }

    .c-card-section__title {
        color: $white;
    }
}

.c-card-section__btn {
    @include button-single;
    @include button-single-light;

    margin-top: 30px;


    @include tablet-size {
        margin-top: 40px;
    }

    &:hover {
        @include button-single-light-hover;
    }
}

.c-card-section--v-related-articles {
    background-color: $COLOUR_BG_DARK;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    .c-card-section__btn {
        margin-bottom: 30px;
        width: auto;

        @include button-single;
        @include button-single-dark;

        &:hover {
            @include button-single-dark-hover;
        }
    }

    .c-card-section__title {
        @include font-size(18px);
        @include line-height(18px);
        color: $COLOUR_MAIN_PAGE;
        margin: 0;
        padding: 30px 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    @include tablet-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        display: none;
    }

}

.c-card-section--mag-articles,
.c-card-section--v-genre-articles {
    .c-card-section__title {
        margin: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }

    @include desktop-size {
        .c-card-section__title {
            padding-bottom: 0;
        }
    }
}

.c-card-section--mag-magazines,
.c-card-section--a-recommended,
.c-card-section--g-recommended,
.c-card-section--sh-summary-articles,
.c-card-section--sh-summary-shows {
    padding-bottom: $PADDING_LARGE;
    padding-top: $PADDING_LARGE;
    margin-bottom: 0;
    margin-top: 0;
    max-width: none;

    @include tablet-size {
        padding-bottom: $PADDING_X_LARGE;
        padding-top: $PADDING_X_LARGE;
    }

    .c-card-section__constrain {
        max-width: $ARTICLE_TOTAL;
    }

    .c-card-section__title {
        margin: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }

    @include desktop-size {
        .c-card-section__title {
            padding-bottom: 0;
        }
    }
}

.c-card-section--a-recommended {
    padding-top: 30px;

    .c-card-section__title {
        @include font-size(18px);
        @include line-height(18px);

        padding-bottom: 20px;
    }

    @include tablet-size {
        padding-top: 60px;

        .c-card-section__title {
            padding-bottom: 0;
        }
    }
}

.c-card-section--mag-magazines {
    margin-bottom: 30px;
    margin-top: 30px;

    .c-card-section__constrain {
        max-width: $MAXIMUM_PAGE_WIDTH;
    }

    @include desktop-size {
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

.c-card-section--c-magazine-articles {}
.c-card-section--sh-shows {}

.c-card-section--v-articles,
.c-card-section--tg-articles,
.c-card-section--sh-latest-articles {
    .c-card-section__title {
        margin: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }

    .c-card-list {
        text-align: left;
    }

    @include desktop-size {
        .c-card-section__title {
            padding-bottom: 0;
        }
        .c-card-list {
            margin-right: 340px;
            position: relative;
        }
    }
}
.c-card-section--sh-articles {}
.c-card-section--tg-header-articles {}
