.c-card-section {
    background-color: $wild-sand;
    margin: 30px auto;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        padding: 20px $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        margin: 60px auto;
        padding: 0 60px;
    }
}

.c-card-section__logo {
    height: 30px;
    margin-bottom: 30px;
    text-align: center;

    svg {
        display: inline-block;
        height: 100%;
        width: auto;

        path, text {
            fill: $COLOUR_ICON_FILL;
        }
    }

    @include tablet-size {
        height: 40px;
        margin-bottom: 60px;
    }
}

.c-card-section__title-wrapper {
    margin-bottom: 20px;
}

.c-card-section__btn {
    @include button-single;
    @include button-single-light;

    margin-top: 30px;

    &:hover,
    &:focus {
        @include button-single-light-hover;
    }

    @include tablet-size {
        margin-top: 40px;
    }
}

.c-card-section--c-curated,
.c-card-section--c-tag {

    .c-card-section__title {
        @include font('COMMUTER SANS', 20px, 'NORMAL', 20px);
        color: $black;
        letter-spacing: 1px;
        margin: 0 0 20px 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: inherit;
        }

        span {
            background-color: $wild-sand;
            display: inline-block;
            padding: 0 10px;
            position: relative;
            border-left: 1px solid $black;
            border-right: 1px solid $black;
        }

        &:before {
            background-color: $black;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 100%;
        }

    }

    @include tablet-size {
        .c-card-section__title {
            @include font-size(30px);
            @include line-height(30px);

            span {
                padding: 0 20px;
            }
        }
    }
}

.c-card-section--c-video-articles {
    background-color: $COLOUR_BG_DARK;
    max-width: none;
    padding: 30px 20px;

    .c-card-section__title-wrapper {
        display: none;
    }

    .c-card-section__btn {
        @include button-single;
        @include button-single-dark;
        width: auto;

        &:hover {
            @include button-single-dark-hover;
        }
    }

    .c-card__image__icon svg {
        height: 100%;
        width: 15px;
    }

    @include tablet-size {
        padding: 60px;
    }

}



.c-card-section--v-related-articles {
    background-color: $COLOUR_BG_DARK;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    .c-card-section__btn {
        margin-bottom: 30px;
        width: auto;

        @include button-single;
        @include button-single-dark;

        &:hover {
            @include button-single-dark-hover;
        }
    }

    .c-card-section__title {
        @include font-size(18px);
        @include line-height(18px);
        color: $COLOUR_MAIN_PAGE;
        margin: 0;
        padding: 30px 0;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }

    @include tablet-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        display: none;
    }
}

.c-card-section--a-recommended,
.c-card-section--tg-articles,
.c-card-section--v-articles,
.c-card-section--mag-articles,
.c-card-section--mag-magazines  {
    margin-bottom: 0;
    margin-top: 0;
    max-width: none;
    padding-bottom: $PADDING_LARGE;
    padding-top: $PADDING_LARGE;

    .c-card-section__title {
        @include font('COMMUTER SANS', 20px, 'NORMAL', 20px);
        color: $black;
        letter-spacing: 0;
        margin: 0 -20px 20px -20px;
        position: relative;
        text-align: center;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: inherit;
        }

        span {
            background-color: $wild-sand;
            display: inline-block;
            padding: 0 10px;
            position: relative;
            border-left: 1px solid $black;
            border-right: 1px solid $black;

            @include tablet-size {
                padding: 0 20px;
            }
        }

        &:before {
            background-color: $black;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 100%;
        }
    }

    @include tablet-size {
        padding-bottom: $PADDING_X_LARGE;
        padding-top: $PADDING_X_LARGE;

        .c-card-section__title {
            margin-left: -($TABLET_SIDE_GUTTER);
            margin-right: -($TABLET_SIDE_GUTTER);
        }
    }

    @include desktop-size {
        .c-card-section__title {
            margin-left: 0;
            margin-right: 0;
            text-align: left;

            span {
                border-left: none;
                padding-left: 0;
            }
        }
    }
}

.c-card-section--tg-articles,
.c-card-section--v-articles {
    @include desktop-size {
        .c-card-list {
            margin-right: 340px;
            position: relative;
        }
    }
}

.c-card-section--dark {
    background: $cod-gray;
    margin-bottom: 0;
    margin-top: 0;
    padding: 30px 20px;

    .c-card-section__title {
        color: $white;
    }

    .c-card-section__logo svg {
        path, text {
            fill: $white;
        }
    }

    .c-card-section__btn {
        @include button-single;
        @include button-single-dark;

        &:hover {
            @include button-single-dark-hover;
        }
    }

    @include tablet-size {
        margin-bottom: 0;
        margin-top: 0;
        padding: 60px;
    }
}
