.a-author,
.a-event-author {}

.a-author__article-date {
    @include font("EXCHANGE WEB", 11px, 400, 11px);
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 7px;
}

.a-author__bio {
    margin: 15px 0;

    p {
        @include font("BRUTAL", 13px, 300, 13px);
        margin: 0 0 15px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {

    }
}

.a-author__byline {
    @include font("EXCHANGE WEB", 14px, 400, 14px);
    margin-bottom: 7px;
    margin-top: 0;
}

.a-author__byline-name {
    a {
        @include font("BRUTAL", 14px, 700, 14px);
        color: inherit;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }
}

.a-author__byline-prefix,
.a-author__byline-conjunction {
    @include font("EXCHANGE WEB", 14px, 400, 14px);
    font-style: italic;
}

.a-author__image {
    background-color: #000;
    margin-bottom: 15px;
    padding-top: 100%;
    position: relative;

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.a-event-author__image {
    margin-bottom: 15px;

    img {
        width: 100%;
    }
}

.a-author__separator,
.a-event-author__separator {
    display: block;
    margin: 10px 0;
    width: 15px;
}

.a-author__separator--date {}

.a-event-author__title {
    @include font("BRUTAL", 12px, 700, 12px);
    display: inline;
    text-transform: capitalize;
}

.a-event-author__location {
    @include font("BRUTAL", 12px, 700, 12px);
}

.a-event-author__date {
    @include font("EXCHANGE WEB", 11px, 300, 11px);
    font-style: italic;
}

.a-event-author__btn {
    @include button-single();
    @include button-single-light();
    margin-top: 15px;
    text-align: center;

    &:hover {
        @include button-single-light-hover();
    }
}