.a-main {}

.a-main--gallery {
    background-color: #000;
    .a-header {
        @extend .a-header--gallery;
    }

    .a-author,
    .a-author p {
        color: #fff;
    }

    .a-body__wrapper {
        max-width: $MAXIMUM_PAGE_WIDTH - $DESKTOP_SIDE_GUTTER*2;
    }

    .a-body__content {
        .bb-p {
            color: #fff;
        }
    }
}
.a-main--video {
    .a-body__content {
        padding-left: 0;
    }
}

.a-body {
    margin-top: 40px;
}
.a-body--gallery {}
.a-body--video {}
.a-body__clear {
    clear: both;
}

.a-body__wrapper {}
.a-body__content {
    > .bb-p:first-of-type:first-line {
        @include font-weight(700);
    }
}

.a-infinite__message {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.a-infinite__message-btn {}
.a-infinite {
    .a-infinite__message-btn {
        @include button-single();
        @include button-single-light();

        &:hover {
            @include button-single-light-hover();
        }
    }
}

.a-infinite--gallery {
    background-color: #000;

    .a-infinite__message-btn {
        @include button-single();
        @include button-single-dark();

        &:hover {
            @include button-single-dark-hover();
        }
    }
}