.a-footer {
    .a-share {
        margin: 60px 0 40px 0;
    }
}

.a-footer--gallery {
	background: #000;
	margin-bottom: 0;
	padding-bottom: 40px;

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
		margin-bottom: 0;
		padding-bottom: 60px;
	}
}

.a-footer--video {
	.a-footer__wrapper {
		padding-left: 0;
	}
}

.a-footer__wrapper {}

.a-related-tags {
	margin: 40px 0;
}
.a-related-tags__wrapper {}
