.a-footer {
    .a-share {
        margin: 40px 0;
    }

    @include at-x-large-size {
        .a-share {
            margin: 60px 0 40px 0;
        }
    }
}

.a-footer--gallery {
    .a-share__title {
        color: #fff;
    }

    .a-share {
        margin: 40px 0 0 0;
    }

    @include at-x-large-size {
        .a-share {
            margin-top: 60px;
        }
    }
}

.a-footer--video {
    .a-footer__wrapper {
        padding-left: 0;
    }
}

.a-footer__wrapper {}

.a-related-tags {
    margin: 30px 0 20px 0;

    // This is to help push the scroll bar down when it scrolls
    .c-topic-strip--article-related {
        padding-bottom: 10px;
    }
}
.a-related-tags__wrapper {}
