.a-header {
    margin-bottom: 40px;
    margin-top: 40px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

.a-header__content {
    @include min-screen($ARTICLE_TOTAL) {
        padding-left: 0;
    }
}

.a-header__title {
    margin-bottom: 5px;
    margin-top: 15px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 15px;
    }
}

.a-header__teaser {
    margin-bottom: 10px;
    margin-top: 5px;

    a {
        color: #167ac6;
        text-decoration: underline;
    }

    p {
        @include font("BRUTAL", 16px, 300, 19px);
        margin-top: 5px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 15px;
        margin-top: 15px;

        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        p {
            @include font-size(20px);
            @include line-height(20px);
        }
    }
}

.a-header__separator {
    display: block;
    margin: 20px 0;
    width: 15px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 30px 0;
        width: 40px;
    }
}

.a-header__byline {
    margin-bottom: 5px;
    margin-top: 15px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 7px;
    }
}

.a-header__byline-name {
    @include font("EXCHANGE WEB", 14px, 400, 14px);

    a {
        @include font("BRUTAL", 14px, 700, 14px);
        color: inherit;
        text-transform: uppercase;
        &:hover {
            text-decoration: underline;
        }
    }
}


.a-header__byline-prefix,
.a-header__byline-conjunction {
    @include font("EXCHANGE WEB", 14px, 400, 14px);
    font-style: italic;
}


.a-header__sponsor {
    margin: 15px 0 20px 0;

    &:before {
        background-color: $black;
        content: '';
        display: block;
        height: 1px;
        margin: 15px 0;
        width: 15px;
    }

    a {
        color: #000;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 30px 0;

        &:before {
            display: none;
        }
    }
}
.a-header__sponsor-prefix {
    @include font("EXCHANGE WEB", 14px, 400, 14px);
    font-style: italic;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(16px);
        @include line-height(16px);
    }
}
.a-header__sponsor-name {
    @include font("BRUTAL", 14px, 700, 14px);
    color: inherit;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(16px);
        @include line-height(16px);
    }
}
.a-header__sponsor-image {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;

    img {
        max-height: 72px;
        max-width: 135px;
        height: auto;
        width: auto;
    }
}


.a-header__date {
    @include font("EXCHANGE WEB", 11px, 400, 11px);
    font-style: italic;
    margin: 5px auto 25px auto;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 7px auto 15px auto;
    }
}




.a-header__image {
    margin: 40px 0;
    padding: 0;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.a-header__image-constrain {
    background-color: $black;

    & + * {
        margin-top: 10px;
    }
}

.a-header__image-title,
.a-header__image-caption,
.a-header__image-credit {
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 0;
    }
}
.a-header__image-title {
    @include font('BRUTAL', 15px, 'BOLD', 18px);
    color: $black;
    margin-bottom: 5px;
    text-transform: uppercase;

    &:before {
        border-bottom: 10px solid $black;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        margin-right: 7px;
        width: 0;
    }
}
.a-header__image-caption {
    margin: 5px auto 10px auto;

    a {
        color: $bright-navy-blue;
        text-decoration: underline;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        @include font("BRUTAL", 15px, 500, 18px);
        margin: 0;

        & + p {
            margin-top: 10px;
        }
    }
}
.a-header__image-credit {
    @include font("BRUTAL", 12px, 500, 12px);
    margin-top: 10px;

    &:before {
        @include font-weight(300);
        content: 'Credit: ';
    }
}



.a-header__separator--hero {
    display: none;
}

.a-header__meta {
    font-size: 0;
    margin-bottom: 25px;
    margin-top: 7px;
}

.a-header__meta--date {}
.a-header__meta--tag {}
li.a-header__meta-item {
    @include font("EXCHANGE WEB", 11px, 400, 11px);
    font-style: italic;
    padding-right: 10px;

    & + .a-header__meta-item {
        border-left: 1px solid #000;
        padding-left: 10px;
    }

    a {
        border-bottom: 1px solid $black;
        color: #000;
        padding-bottom: 2px;
        text-decoration: none;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            border-bottom: 1px solid transparent;
            text-decoration: none;
            &:hover {
                border-bottom: 1px solid $black;
            }
        }
    }
}

.a-header__tag {
    display: block;
    margin-bottom: 15px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 22px;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}
.a-header__tag__secondary,
.a-header__tag__primary {
    @include font("EXCHANGE WEB", 14px, null, 15px);
    color: #000;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(16px);
        @include line-height(16px);
    }
}

.a-header__event-title {
    @include font("BRUTAL", 12px, 700, 12px);
    display: inline;
    text-transform: capitalize;
}
.a-header__event-location {
    @include font("BRUTAL", 12px, 300, 12px);
    display: inline;

    &:before {
        content: '- '
    }
}
.a-header__event-date {
    @include font("EXCHANGE WEB", 11px, 300, 11px);
    font-style: italic;
}
.a-header__event-btn {
    @include button-single();
    @include button-single-light();
    margin-top: 15px;

    &:hover {
        @include button-single-light-hover();
    }
}

.a-header--gallery {
    margin-top: 0px;
    padding-top: 40px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 0px;
        padding-top: 60px;

        .a-header__about {
            display: none;
        }
    }

    .a-header__tag a,
    .a-header__title,
    .a-header__teaser p,
    .a-header__about {
        color: #fff;
    }

    .a-header__separator {
        border-top-color: #fff;
    }
}

.a-header--video {
    margin-bottom: 30px;
    margin-top: 30px;

    .a-header__content {
        padding-left: 0;
    }

    .a-header__separator {
        margin: 10px 0;
        width: 15px;
    }

    .a-header__meta {
        line-height: 30px;
        margin: 15px 0
    }

    li.a-header__meta-item {
        @include font("EXCHANGE WEB", 14px, 400);
        font-style: normal;
        padding-right: 8px;

        & + .a-header__meta-item {
            border-left: 1px solid $isabelline;
            padding-left: 8px;
        }
    }

    .a-share {
        margin: 20px 0 30px 0;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 60px;

        .a-header__separator {
            margin: 15px 0 30px 0;
            width: 40px;
        }
        li.a-header__meta-item {
            padding-right: 10px;

            & + .a-header__meta-item {
                padding-left: 10px;
            }
        }
        .a-share {
            margin: 30px 0;
        }
    }
}
