.a-sidebar-content {}

.a-sidebar-content__list {}

li.a-sidebar-content__list-item {
    margin: 10px 0 30px 0;

    .c-card {
        padding-top: 15px;
        border-top: 1px solid #000;
    }
}

.a-sidebar-content__title {
    @include font("BRUTAL", 15px, 700, 15px);
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}