.a-logo {}
.a-logo--video {
    background-color: #000;
    padding: $MOBILE_SIDE_GUTTER 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: $TABLET_SIDE_GUTTER 0;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SIDE_GUTTER 0;
    }

    .a-logo__wrapper {
        display: block;
        margin: 0 auto;
        width: 160px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            width: 250px;
        }
    }
}

.a-video {
    background-color: #000;
}

.a-video__wrapper {

}

.a-video__player {}

.a-video__player__wrapper {

}

.a-video__sidebar {
    background-color: #222;
    padding: 0 15px 15px 15px;
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font("BRUTAL", 15px, 700, 17px);
    color: #fff;
    margin: 0;
    padding: 15px 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 15px;
    overflow-x: hidden;
    padding-bottom: 15px;
    right: 15px;
}

.a-video__content-body {

}

.a-video__ad {
    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding: 0;
        }
    }
}