@import "@cnbritain/merlin-www-common:wired";

@import "@cnbritain/merlin-www-bbcode:wired";
@import "@cnbritain/merlin-www-buttons:wired";
@import "@cnbritain/merlin-www-card:wired";
@import "@cnbritain/merlin-www-figure:wired";
@import "@cnbritain/merlin-www-image:wired";
@import "@cnbritain/merlin-www-topic-strip:wired";

@import "../wireframe/wireframe";

@import "./_author";
@import "./_body";
@import "./_footer";
@import "./_gallery";
@import "./_header";
@import "./_share";
@import "./_sidebar";
@import "./_video";
@import "./_review";
@import "./_podcast";