@import '@cnbritain/merlin-www-common:glamour_redux';

@import '../wireframe/wireframe';

.srch-main {
    background-color: $dune;
    overflow: hidden;
    padding: 20px;
    width: 100%;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $TABLET_SLICE_MARGIN $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SLICE_MARGIN $DESKTOP_SIDE_GUTTER;
    }

    // .has-overlay & {}
}

.srch-textbox {
    @include font("GRAPHIK", 16px, 600, 16px);
    appearance: none;
    background-color: transparent;
    border-bottom: 1px solid $natural-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    color: $white;
    display: block;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 0 0 15px 0;
    width: 100%;

    &::placeholder {
        color: $natural-gray;
    }

    &:focus {
        outline: none;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(45px);
        @include line-height(45px);
        padding: 0 0 20px 0;
    }
}

.srch-results {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $white;
    letter-spacing: 1.5px;
    margin-top: 15px;
    text-transform: uppercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 30px;
    }

    span {
        @include font-weight(600);
    }
}