@import '@cnbritain/merlin-www-common:vogue';

@mixin button-reset() {
    display: inline-block;
    text-decoration: none;
}

@mixin button-single(){
    @include button-reset();
    @include font('NOBEL', 12px);
    @include transition(all 0.1s ease-in-out);

    color: $guardsman-red;
    letter-spacing: 1px;
    padding: $PADDING_X_SMALL;
    text-transform: uppercase;
}

@mixin button-single-light() {
    border: $_VOGUE_BORDER_WIDTH solid $guardsman-red;
}

@mixin button-single-light-hover() {
    background-color: $guardsman-red;
    border: $_VOGUE_BORDER_WIDTH solid transparent;
    color: $white;
}

@mixin button-single-dark() {
    border: $_VOGUE_BORDER_WIDTH solid $white;
    color: $white;
}

@mixin button-single-dark-hover() {
    background-color: $white;
    border: $_VOGUE_BORDER_WIDTH solid transparent;
    color: $cod-gray;
}

@mixin button-single-two(){
    @include button-reset();
    @include font('NOBEL', 12px);
    @include transition(all 0.1s ease-in-out);

    color: $white;
    letter-spacing: 1px;
    padding: $PADDING_X_SMALL;
    text-transform: uppercase;
}

@mixin button-single-two-light() {
    background-color: $guardsman-red;
    border: 1px solid transparent;
}

@mixin button-single-two-light-hover() {
    background-color: transparent;
    border: $_VOGUE_BORDER_WIDTH solid $guardsman-red;
    color: $guardsman-red;
}

@mixin button-single-two-dark() {
    background-color: $white;
    border: $_VOGUE_BORDER_WIDTH solid transparent;
    color: $cod-gray;
}
@mixin button-single-two-dark-hover() {
    background-color: transparent;
    border: $_VOGUE_BORDER_WIDTH solid $white;
    color: $white;
}

@mixin button-group(){
    @include button-reset();
    @include font('NOBEL', 10px);
    @include transition(all 0.1s ease-in-out);

    color: $guardsman-red;
    padding: $PADDING_XX_SMALL;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@mixin button-group-light(){
    border: $_VOGUE_BORDER_WIDTH solid $guardsman-red;
}

@mixin button-group-light-hover(){
    background-color: $guardsman-red;
    border: $_VOGUE_BORDER_WIDTH solid transparent;
    color: $white;
}

@mixin button-group-dark() {
    border: $_VOGUE_BORDER_WIDTH solid $white;
    color: $white;
}

@mixin button-group-dark-hover() {
    background-color: $white;
    color: $cod-gray;
    text-decoration: none;
}

@mixin button-top-stories() {
    @include transition(all 0.1s ease-in-out);

    background-color: $wild-sand;
    color: $guardsman-red;
    height: 50%;
    width: 60px;

    svg {
        height: 100%;
        width: 11px;
    }

    svg, path {
        fill: $COLOR_BUTTON_ACTION_ACTIVE;
        @include transition(all 0.1s ease-in-out);
    }
}

@mixin button-top-stories-hover() {
    background: $alto;
}

@mixin button-top-stories-disabled() {
    svg, path {
        fill: $silver;
    }
}

@mixin button-share {
    color: $guardsman-red;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    //Overwrites defaults padding bottom 2px
    padding-bottom: 0;
    text-align: center;
    width: 45px;

    svg {
        height: 100%;
        fill: $white;
        width: 16px;
    }
}

@mixin button-share-light($name){
    path {
        fill: map-get($COLOUR_SOCIAL_DARK, $name);
    }
}

@mixin button-share-light-hover($name){
    background-color: map-get($COLOUR_SOCIAL_DARK, $name);
    path {
        fill: $white;
    }
}

@mixin button-share-dark($name){
    background-color: #3e3e3e;
}

@mixin button-share-dark-hover($name){
    background-color: map-get($COLOUR_SOCIAL_DARK, $name);
}

@mixin button-related() {
    @include button-reset;
    @include font('NOBEL', 11px);
    @include transition(all 0.1s ease-in-out);

    background-color: $white;
    border: $_VOGUE_BORDER_WIDTH solid $loot-box;
    color: $dove-gray;
    letter-spacing: 1px;
    padding: $PADDING_XX_SMALL;
    text-transform: uppercase;
}

@mixin button-related-hover(){
    border: $_VOGUE_BORDER_WIDTH solid $dove-gray;
    color: $dove-gray;
    text-decoration: none;
}