@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-topic-strip:wired";
@import "@cnbritain/merlin-www-buttons:wired";
@import "@cnbritain/merlin-www-card-list:wired";
@import "@cnbritain/merlin-www-card:wired";

@import "../wireframe/wireframe";

.c-card-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

// .c-card-section--a-recommended,
// .c-card-section--mag-articles,
// .c-card-section--mag-magazines,
// .c-card-section--sh-summary-articles,
// .c-card-section--sh-summary-shows,
// .c-card-section--v-articles,
// .c-card-section--v-genre-articles {
//     .c-card-section__title {
//         @include font("GOTHAM", 12px, 700, 12px, 60);
//         color: $woodsmoke;
//         text-transform: uppercase;
//         margin-bottom: 20px;
//         margin-top: 0;

//         @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//             padding-bottom: 20px;
//             border-bottom: 1px solid $bon-jour;
//         }
//     }
// }

// .c-card-section--s-results {}
// .c-card-section--sh-latest-articles {}

// .c-card-section--c-video-articles {
//     background-color: $woodsmoke;
//     margin: 0;
//     max-width: none;
//     padding: $MOBILE_SLICE_MARGIN $MOBILE_SIDE_GUTTER;

//     @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
//         padding: $TABLET_SLICE_MARGIN;
//     }

//     @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//         padding: $DESKTOP_SLICE_MARGIN;
//     }

//     .c-card-section__logo {
//         height: 50px;
//         margin: 0 auto 40px auto;
//         width: 190px;

//         svg {
//             display: inline-block;
//             height: 100%;
//             width: 100%;

//             path {
//                 fill: $white;
//             }
//         }

//         @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//             height: 60px;
//             width: 228px;
//         }
//     }

//     .c-card-section__btn {
//         @include button-single-two();
//         @include button-single-two-dark();
//         @include vendor-prefix(transition-duration, 300ms);
//         &:hover {
//             @include button-single-two-dark-hover();
//             background: $shark;
//         }

//         &:after {
//             background-image: url("data:image/svg+xml,%3Csvg fill='%2385878b' width='12px' height='12px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8.48'%3E%3Ctitle%3Ebtn-arrownext%3C/title%3E%3Cpath d='M8,12.24l-0.53-.8,4.44-3H2v-1h9.93l-4.44-3L8,3.76,13.79,7.6a0.48,0.48,0,0,1,0,.8Z' transform='translate%28-2 -3.76%29'/%3E%3C/svg%3E");
//             background-repeat: no-repeat;
//             content: '';
//             display: inline-block;
//             height: 10px;
//             margin-left: 8px;
//             width: 12px;
//         }
//     }
// }

// .c-card-section--v-related-articles {
//     background-color: $shark;
//     margin: 0;
//     max-width: none;
//     padding: $MOBILE_SLICE_MARGIN $MOBILE_SIDE_GUTTER;

//     @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
//         padding: $TABLET_SLICE_MARGIN;
//     }

//     @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//         display: none;
//         padding: $DESKTOP_SLICE_MARGIN;
//     }

//     .c-card-section__logo {
//         height: 50px;
//         margin: 0 auto 40px auto;
//         width: 190px;

//         svg {
//             display: inline-block;
//             height: 100%;
//             width: 100%;

//             path {
//                 fill: $white;
//             }
//         }

//         @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//             height: 60px;
//             width: 228px;
//         }
//     }

//     .c-card-section__title {
//         @include font("GOTHAM", 12px, 700, 12px, 60);
//         color: $white;
//         text-transform: uppercase;
//         margin-bottom: 20px;
//         margin-top: 0;
//     }

//     .c-card-section__btn {
//         @include button-single-two();
//         @include button-single-two-dark();
//         @include vendor-prefix(transition-duration, 300ms);
//         &:hover {
//             @include button-single-two-dark-hover();
//             background: $shark;
//         }

//         &:after {
//             background-image: url("data:image/svg+xml,%3Csvg fill='%2385878b' width='12px' height='12px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8.48'%3E%3Ctitle%3Ebtn-arrownext%3C/title%3E%3Cpath d='M8,12.24l-0.53-.8,4.44-3H2v-1h9.93l-4.44-3L8,3.76,13.79,7.6a0.48,0.48,0,0,1,0,.8Z' transform='translate%28-2 -3.76%29'/%3E%3C/svg%3E");
//             background-repeat: no-repeat;
//             content: '';
//             display: inline-block;
//             height: 10px;
//             margin-left: 8px;
//             width: 12px;
//         }
//     }
// }

// .c-card-section--c-contributors,
.c-card-section--c-curated,
.c-card-section--c-tag {
    .c-card-section__title {
        @include font("BRUTAL", 15px, 700, 15px);
        color: black;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
    }
}

// .c-card-section--c-magazine-articles {}
// .c-card-section--sh-shows {}

// .c-card-section--sh-latest-articles,
// .c-card-section--tg-articles {
//     .c-card-section__title {
//         @include font("GOTHAM", 14px, 700, 16px, 60)
//         color: $woodsmoke;
//         display: table;
//         height: 40px;
//         margin-bottom: 24px;
//         margin-top: 0;
//         text-align: left;
//         text-transform: uppercase;
//         width: 100%;

//         span {
//             display: table-cell;
//             padding-left: 12px;
//             vertical-align: middle;
//         }

//         &:before {
//             background-color: $mineshaft;
//             content: '';
//             display: table-cell;
//             height: 40px;
//             width: 20px;
//         }

//         @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//             padding-bottom: 20px;
//             border-bottom: 1px solid $bon-jour;
//             margin-bottom: 20px;
//         }
//     }

//     .c-card-list {
//         @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
//             margin-right: 340px;
//         }
//     }
// }

// .c-card-section--sh-articles {}
// .c-card-section--tg-header-articles {}

.c-card-section__constrain {}
.c-card-section__logo {}
.c-card-section__title {}
.c-card-section__btn {
    @include button-single();
    @include button-single-light();
    @include vendor-prefix(transition-duration, 100ms);
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;

    &:hover {
        @include button-single-light-hover();
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        width: auto;
    }
}
