@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-buttons:wired";
@import "@cnbritain/merlin-www-image:wired";
@import "@cnbritain/merlin-www-ads:wired";
@import "@cnbritain/merlin-www-topic-strip:wired";
@import "@cnbritain/merlin-www-card:wired";

@import "../wireframe/wireframe";

.c-card-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include tablet-size {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include desktop-size {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.c-card-section-wrapper {}

.c-card-section__header {
    font-size: 0;
}
.c-card-section__body {}
.c-card-section__footer {
    text-align: center;
}

.c-card-section__logo {
    margin: 0 auto 20px auto;
    text-align: center;
    width: 150px;

    svg {
        width: 100%;
    }

    @include desktop-size {
        margin-bottom: 40px;
    }
}
.c-card-section__title {
    @include font("BRUTAL", 15px, 'BOLD', 15px);
    color: $black;
    margin-bottom: 15px;
    margin-top: 0;
    text-transform: uppercase;

    a {
        color: inherit;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    @include desktop-size {
        display: inline-block;
        width: 50%;
    }
}
.c-card-section__nav-strip {
    font-size: initial;
    margin: 20px (-$MOBILE_SIDE_GUTTER);

    @include tablet-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        display: inline-block;
        margin: 0;
        text-align: right;
        width: 50%;
    }
}

.c-card-section__card-list {}
.c-card-section__card-listitem {}

.c-card-section__btn {
    box-sizing: border-box;
    margin-top: 25px;
    transition-duration: 100ms;
    width: 100%;

    @include desktop-size {
        margin-top: 40px;
        width: 170px;
    }
}


/**
 * Mixins
 */

@mixin columns-base {

    .c-card-section__card-list {
        margin: -15px -10px;
    }

    .c-card-section__card-listitem {
        display: inline-block;
        padding: 0 10px;
        margin: 15px 0;
    }

}

@mixin columns-1($right-margin: false) {

    @include columns-base;

    .c-card-section__card-listitem {
        width: 100%;
    }

    @if $right-margin == true {
        @include four-column-size() {
            .c-card-section__card-list {
                margin-right: 340px;
            }
        }
    }

}

@mixin columns-1-2-4($right-margin: false) {

    @include columns-base;

    .c-card-section__card-listitem {
        width: 100%;
    }

    @include two-column-size() {
        .c-card-section__card-listitem {
            width: 50%;
        }
    }

    @include four-column-size() {
        @if $right-margin == true {
            .c-card-section__card-list {
                margin-right: 340px;
            }
        }
        .c-card-section__card-listitem {
            width: 25%;
        }
    }

}

@mixin columns-1-3($right-margin: false) {

    @include columns-base;

    .c-card-section__card-list {
        text-align: center;
    }

    .c-card-section__card-listitem {
        text-align: left;
        width: 100%;
    }

    @include two-column-size() {
        .c-card-section__card-listitem {
            width: 33.33333%;
        }
    }

    @if $right-margin == true {
        @include four-column-size() {
            .c-card-section__card-list {
                margin-right: 340px;
            }
        }
    }

}

@mixin columns-1-2-43($right-margin: false) {

    @include columns-base;

    .c-card-section__card-listitem {
        width: 100%;
    }

    @include two-column-size() {
        .c-card-section__card-listitem {
            width: 50%;
        }
    }

    @include four-column-size() {
        @if $right-margin == true {
            .c-card-section__card-list {
                margin-right: 340px;
            }
        }
        .c-card-section__card-listitem {
            width: 33.33%;
        }
    }

}

@mixin columns-2-4($right-margin: false) {

    @include columns-base;

    .c-card-section__card-listitem {
        width: 50%;
    }

    @include four-column-size() {
        @if $right-margin == true {
            .c-card-section__card-list {
                margin-right: 340px;
            }
        }
        .c-card-section__card-listitem {
            width: 25%;
        }
    }

}

@mixin card-separators {

    .c-card {
        border-top: 1px solid $black;
        padding-top: 20px;
    }

    .c-card--dark {
        border-top-color: $white;
    }

}

@mixin button-light {

    .c-card-section__btn {
        @include button-single;
        @include button-single-light;

        &:hover,
        &:focus {
            @include button-single-light-hover;
        }
    }

}

@mixin button-dark {

    .c-card-section__btn {
        @include button-single;
        @include button-single-dark;

        &:hover,
        &:focus {
            @include button-single-dark-hover;
        }
    }

}

@mixin section-background($background-color) {
    background-color: $background-color;
    margin: 0 auto;
    padding-top: $MOBILE_SLICE_MARGIN;
    padding-bottom: $MOBILE_SLICE_MARGIN;

    @include tablet-size {
        padding-top: $TABLET_SLICE_MARGIN;
        padding-bottom: $TABLET_SLICE_MARGIN;
    }

    @include desktop-size {
        padding-top: $DESKTOP_SLICE_MARGIN;
        padding-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

/**
 * ============================================================================
 * Modifiers
 * ============================================================================
 */

 // Not used
 // .c-card-section--dark {}
 // Wired has no shows
 // .c-card-section--sh-latest-articles {}
 // .c-card-section--sh-shows {}
 // .c-card-section--sh-summary-articles {}
 // .c-card-section--sh-summary-shows {}
 // Wired is always a grid
 // .c-card-section--tg-articles-grid {}

.c-card-section--a-recommended,
.c-card-section--c-curated,
.c-card-section--c-tag,
.c-card-section--s-results,
.c-card-section--v-genre-articles {
    @include columns-1-2-4;
    @include card-separators;
    @include button-light;
}

.c-card-section--c-contributors {
    @include columns-1-3;
    @include card-separators;
    @include button-light;
}

.c-card-section--c-video-articles {
    @include section-background($background-color: $black);
    @include columns-1-2-4;
    @include card-separators;
    @include button-dark;

    .c-card-section__title {
        color: $white;
    }
}

.c-card-section--mag-articles {
    @include section-background($background-color: $white-smoke);
    @include columns-1-2-4;
    @include card-separators;
    @include button-light;
}

.c-card-section--mag-magazines {
    @include section-background($background-color: $white-smoke);
    @include columns-2-4;
    @include button-light;

    .c-card-section--mag-articles + & {
        padding-top: 0;
    }
}

.c-card-section--tg-articles,
.c-card-section--v-articles {
    @include columns-1-2-43($right-margin: true);
    @include card-separators;
    @include button-light;
}

.c-card-section--v-related-articles {
    @include columns-1;
    @include button-dark;

    background-color: $black;
    margin: 0;
    padding: 20px 20px 30px;

    .c-card-section__title {
        color: $white;
    }

    .c-card {
        border-top: 1px solid $white;
        padding-top: 15px;
    }

    .c-card__images:after {
        border: 1px solid $white;
        bottom: 0;
        box-sizing: border-box;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 300ms;
        width: 100%;
    }

    .c-card__image {
        position: relative;

        &:after {
            @include font("BRUTAL", 10px, 600);
            background-color: $white;
            bottom: 0px;
            color: $black;
            content: 'Now Playing';
            left: 0px;
            opacity: 0;
            padding: 5px 7px;
            position: absolute;
            text-transform: uppercase;
            transition-duration: 300ms;
            z-index: 1;
        }
    }

    .is-active {
        .c-card:hover {
            .c-card__title span {
                text-decoration: none;
            }
        }
        .c-card__images:after,
        .c-card__image:after {
            opacity: 1;
        }
    }

    @include tablet-size {
        padding: $TABLET_SLICE_MARGIN;
    }

    @include desktop-size {
        display: none;
    }
}
