@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-topic-strip:wired";
@import "@cnbritain/merlin-www-buttons:wired";
@import "@cnbritain/merlin-www-card-list:wired";
@import "@cnbritain/merlin-www-card:wired";

@import "../wireframe/wireframe";

.c-card-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.c-card-section--c-curated,
.c-card-section--c-tag,
.c-card-section--tg-articles,
.c-card-section--v-articles,
.c-card-section--v-genre-articles,
.c-card-section--a-recommended,
.c-card-section--g-recommended,
.c-card-section--mag-articles,
.c-card-section--mag-magazines,
.c-card-section--c-contributors {
    .c-card-section__title {
        @include font("BRUTAL", 15px, 700, 15px);
        color: #000;
        margin-bottom: 15px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .c-card-section__btn {
        @include button-single();
        @include button-single-light();
        &:hover {
            @include button-single-light-hover();
        }
    }
}

.c-card-section--g-recommended {
    background-color: $black;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: $MOBILE_SLICE_MARGIN;
    padding-bottom: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-top: $TABLET_SLICE_MARGIN;
        padding-bottom: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-top: $DESKTOP_SLICE_MARGIN;
        padding-bottom: $DESKTOP_SLICE_MARGIN;
    }


    .c-card-section__title {
        @include font("BRUTAL", 15px, 700, 15px);
        color: $white;
        margin-bottom: 15px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .c-card-section__btn {
        @include button-single();
        @include button-single-dark();
        &:hover {
            @include button-single-dark-hover();
        }
    }
}

.c-card-section--c-video-articles {
    background-color: #000;
    margin: 0;
    max-width: none;
    padding: 30px 20px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SLICE_MARGIN;
    }

    .c-card-section__logo {
        margin: 0 auto 20px auto;
        text-align: center;
        width: 150px;

        svg {
            width: 100%;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin-bottom: 40px;
        }
    }

    .c-card-section__btn {
        @include button-single();
        @include button-single-dark();
        &:hover {
            @include button-single-dark-hover();
        }
    }
}

.c-card-section--v-related-articles {
    background-color: #000;
    margin: 0;
    max-width: none;
    padding: 20px 20px 30px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: none;
        padding: $DESKTOP_SLICE_MARGIN;
    }

    .c-card-section__title {
        @include font("BRUTAL", 15px, 700, 15px);
        color: #fff;
        margin-bottom: 15px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .c-card-section__btn {
        @include button-single();
        @include button-single-dark();
        &:hover {
            @include button-single-dark-hover();
        }
    }
}

.c-card-section__constrain {}
.c-card-section__logo {}
.c-card-section__title {}
.c-card-section__btn {
    box-sizing: border-box;
    margin-top: 25px;
    transition-duration: 100ms;
    width: 100%;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 40px;
        width: 170px;
    }
}