@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-card-list:wired";

@import '../wireframe/wireframe';

.c-magazine {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER_BREAKPOINT + $DESKTOP_SIDE_GUTTER_BREAKPOINT;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-magazine__wrapper {
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: $DESKTOP_SIDE_GUTTER;
    }

}

.c-magazine__wrapper > .c-magazine__link {
    border-bottom: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    @include tablet-size {
        width: 50%;
        height: 100%;
    }

    &:hover {
        border-bottom: none;
    }
}

.c-magazine__title {
    @include font("BRUTAL", 15px, 600, 17px);
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    @include tablet-size {
        display: none;
    }
}

.c-magazine__covers {
    position: relative;

    @include tablet-size {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}
.c-magazine__covers__wrapper {
    @include tablet-size {
        padding-right: 70px;
    }
}

.c-magazine__cover {
    position: relative;
}
.c-magazine__cover--print {
    img {
        width: 60%;
        margin-left: $MOBILE_SIDE_GUTTER;

        @include tablet-size {
            margin-left: 0;
        }
    }
}
.c-magazine__cover--tablet {
    img {
        background-color: #000;
        border-radius: 7px;
        padding: 15px 8px;
        width: 40%;
        position: absolute;
        right: $MOBILE_SIDE_GUTTER;
        bottom: 0;

        @include desktop-size {
            border-radius: 15px;
            padding: 30px 20px;
            width: 45%;
        }
    }
}

.c-magazine__cover__image {}

.c-magazine__content {
    position: relative;
    z-index: 1;

    @include tablet-size {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}
.c-magazine__content__wrapper {

}

.c-magazine__content__date {
    @include font('NEW GROTESK SQUARE', 30px, 600, 30px);
    margin: 30px 0;
    text-align: center;
    text-transform: uppercase;

    @include tablet-size {
        @include font-size(35px);
        @include line-height(38px);
        margin: 20px 0;
        text-align: left;
    }
}
.c-magazine__content__title {
    @include font("BRUTAL", 15px, 600, 17px);
    display: none;
    margin-bottom: 30px;
    text-transform: uppercase;
    @include tablet-size {
        display: block;
        margin-bottom: 20px;
    }
}
.c-magazine__content__subtitle {}

.c-magazine__btn {
    @include font('BRUTAL', 12px, 600, 14px);
    box-sizing: border-box;
    margin: 30px 0 0 0;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    @include tablet-size {
        padding: 10px;
        margin-top: 40px;
        width: 110px;
    }

    a {
        color: inherit;
    }
}

.c-magazine__btn__wrapper {

}
