@import '@cnbritain/merlin-www-common:bystander';

@import '@cnbritain/merlin-www-article-podcast:bystander';
@import '@cnbritain/merlin-www-article-review:bystander';
@import '@cnbritain/merlin-www-bbcode:bystander';
@import '@cnbritain/merlin-www-buttons:bystander';
@import '@cnbritain/merlin-www-figure:bystander';
@import '@cnbritain/merlin-www-image:bystander';
@import '@cnbritain/merlin-www-marketing-cards:bystander';
@import '@cnbritain/merlin-www-section-card-list:bystander';
@import '@cnbritain/merlin-www-topic-strip:bystander';

@import '../wireframe/wireframe';

@import '../tatler/_tatler_base';


.ad--article-gallery,
.ad--article-gallery .ad__container {
    background-color: $cod-gray;
}

.a-main--gallery {
    background-color: $cod-gray;
    color: $white;

    // Header
    .a-header__title,
    .a-header__teaser,
    .a-header__image-title,
    .a-header__image-caption {
        color: $white;
    }
    // Body
    .a-body__content p {
        color: $white;
    }
    // Gallery
    .c-figure__title {
        color: $white;
    }
    // Share
    .a-share__title {
        color: $white;
    }
}
