@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-image:traveller";

@import "../wireframe/wireframe";

.c-superfeature {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-left: auto;
    margin-right: auto;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $XX_LARGE_SIZE;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

    @include at-x-large-size {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
    }
}

.c-superfeature-wrapper {}
.c-superfeature__link {}

.c-superfeature__images {}
.c-superfeature__images--multiple {}
.c-superfeature__images-wrapper {}
.c-superfeature__image {}

.c-superfeature__image-wrapper {
    background-color: $CAPE-HAZE;
    padding-top: 100%;

    @include at-medium-size {
        padding-top: 52%;
    }

    &:after {
        background-color: rgba($MUSTASAARI, 0.2);
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;

        @include at-medium-size {
            background-color: rgba($MUSTASAARI, 0.15);
        }
    }
}

.c-superfeature__contents {
    left: 50%;
    max-width: $X_LARGE_SIZE;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.c-superfeature__contents-wrapper {
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }

    :last-child {
        margin-bottom: 0;
    }
}

.c-superfeature__tag {
    @include font("PROXIMA NOVA CONDENSED", 14px, 600, 16px);
    border-bottom: 1px solid $WHITE;
    color: $WHITE;
    display: inline-block;
    letter-spacing: 2px;
    margin: 0 auto 14px auto;
    padding-bottom: 4px;
    text-align: center;
    text-shadow: 0 0 16px rgba($MUSTASAARI, 0.2);
    text-transform: uppercase;

    @include at-medium-size {
        margin-bottom: 26px;
    }
}

.c-superfeature__title {
    @include font("LULO ONE", 24px, 700, 32px, -35);
    color: $WHITE;
    margin-bottom: 16px;
    text-align: center;
    text-shadow: 0 0 16px rgba($MUSTASAARI, 0.2);
    text-transform: uppercase;

    @include at-medium-size {
        @include font-size(40px);
        @include line-height(48px);
    }

    @include at-x-large-size {
        @include font-size(46px);
        @include line-height(54px);
    }
}

.c-superfeature__teaser {
    display: none;

    @include at-x-large-size {
        @include font("PROXIMA NOVA CONDENSED", 16px, 400, 20px);
        color: $WHITE;
        display: block;
        letter-spacing: 1px;
        margin: 16px 0;
        text-align: center;
    }
}

.c-superfeature__byline {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $WHITE;
    margin-bottom: 4px;
    margin-top: 8px;
    text-align: center;
}

.c-superfeature__byline--sponsored {}

.c-superfeature__byline-prefix {
    font-style: italic;
    text-transform: lowercase;
}

.c-superfeature__byline-name {
    letter-spacing: 1px;
    margin-left: 2px;
    text-transform: uppercase;
}

.c-superfeature__meta {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    color: $WHITE;
    font-size: 0;
    margin-top: 4px;
    text-align: center;
}

.c-superfeature__meta-item {
    @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
    display: inline-block;

    & + .c-superfeature__meta-item {
        &:before {
            background-color: $WHITE;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 1px 4px;
            width: 2px;
        }
    }
}