@import '@cnbritain/merlin-www-common:glamour_redux';

@mixin button-reset() {
    border-bottom: none;
    display: inline-block;
    text-decoration: none;

    &:hover {
        border-bottom: none;
    }
}

@mixin button-single() {
    @include button-reset();
    @include font("GRAPHIK", 14px, 'SEMI BOLD', 14px);
    padding: 2px 2px 10px;
    text-transform: uppercase;
}

@mixin button-single-light() {
    background-color: transparent;
    border-bottom: 1px solid $dune;
    color: $dune;
}

@mixin button-single-light-hover() {
    background-color: $dune;
    border-bottom: 1px solid $dune;
    color: $white;
}

@mixin button-single-light-inactive() {
    background-color: transparent;
    border-bottom: 1px solid $cloud;
    color: $cloud;
}

@mixin button-single-dark() {
    background-color: transparent;
    border-bottom: 1px solid $white;
    color: $white;
}

@mixin button-single-dark-hover() {
    background-color: $white;
    border-bottom: 1px solid $white;
    color: $dune;
}

@mixin button-single-dark-inactive() {
    background-color: transparent;
    border-bottom: 1px solid $cloud;
    color: $cloud;
}

@mixin button-group() {
    @include button-reset();
    @include font("GRAPHIK", 10px, 'SEMI BOLD', 10px);
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}

@mixin button-group-light() {
    background-color: transparent;
    border: 1px solid $dune;
    color: $dune;
}

@mixin button-group-light-hover() {
    background-color: $dune;
    border: 1px solid $dune;
    color: $white;
}

@mixin button-group-light-disabled() {
    background-color: transparent;
    border: 1px solid $cloud;
    color: $cloud;
}

@mixin button-group-dark() {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
}

@mixin button-group-dark-hover() {
    background-color: $white;
    border: 1px solid $white;
    color: $dune;
}

@mixin button-group-dark-disabled() {
    background-color: transparent;
    border: 1px solid $cloud;
    color: $cloud;
}

@mixin button-group-two() {
    @include button-reset();
    @include font("GRAPHIK", 13px, 'SEMI BOLD', 13px);
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}

@mixin button-group-two-light() {
    background-color: transparent;
    border: 1px solid $dune;
    color: $dune;
}

@mixin button-group-two-light-hover() {
    background-color: $dune;
    border: 1px solid $dune;
    color: $white;
}

@mixin button-group-two-light-disabled() {
    background-color: transparent;
    border: 1px solid $cloud;
    color: $cloud;
}

@mixin button-group-two-dark() {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
}

@mixin button-group-two-dark-hover() {
    background-color: $white;
    border: 1px solid $white;
    color: $dune;
}

@mixin button-group-two-dark-disabled() {
    background-color: transparent;
    border: 1px solid $cloud;
    color: $cloud;
}

@mixin button-share {
    @include button-reset();
    border-radius: 50%;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    text-align: center;

    svg {
        height: 100%;
        width: 16px;
    }
}

@mixin button-share-light($name) {
    background-color: map-get($COLOUR_SOCIAL, $name);

    path {
        fill: $white;
    }
}

@mixin button-share-light-hover($name) {
    background-color: map-get($COLOUR_SOCIAL_HOVER, $name);

    path {
        fill: $white;
    }
}

@mixin button-top-stories() {
    background-color: $white;
    height: 50%;
    transition: opacity .1s ease-in-out;
    width: 54px;

    svg {
        fill: $dune;
        height: 100%;
        width: 16px;
    }
}

@mixin button-top-stories-hover() {
    background: $dune;

    svg {
        fill: $white;
    }
}

@mixin button-top-stories-disabled() {
    background: $white;

    svg {
        fill: $concrete;
    }
}
