@import "@cnbritain/merlin-www-common:wireframe";

.c-newsletter {}
.c-newsletter-wrapper {}
.c-newsletter__logo {}
.c-newsletter__title {}
.c-newsletter__description {}
.c-newsletter__form {
    display: inline-block;
    width: 100%;

    @include at-medium-size() {
        width: auto;
    }
}

.c-newsletter__form-text {
    border: none;
    box-sizing: border-box;
    display: block;
    height: 40px;
    padding: 10px;
    width: 100%;

    @include at-medium-size() {
        float: left;
        width: 420px;
    }

    &:focus {
        outline: 0;
    }
}
.c-newsletter__form-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: block;
    height: 40px;
    padding: 0;
    width: 100%;

    @include at-medium-size() {
        float: left;
        width: 140px;
    }

    &:focus {
        outline: 0;
    }
}
.c-newsletter__legal {}
.c-newsletter__privacy {}
