@import "@cnbritain/merlin-www-common:wireframe";

.c-newsletter {}
.c-newsletter__wrapper {}
.c-newsletter__logo {}
.c-newsletter__title {}
.c-newsletter__description {}
.c-newsletter__form {
    display: inline-block;
}
.c-newsletter__form__text {
    border: none;

    display: block;

    width: 100%;
    height: 40px;

    padding: 10px;
    box-sizing: border-box;

    @include min-screen ( $TABLET_SIDE_GUTTER_BREAKPOINT ) {
        float: left;
        width: 420px;
    }

    &:focus {
        outline: 0;
    }
}
.c-newsletter__form__btn {
    display: block;

    width: 100%;
    height: 40px;

    appearance: none;
    text-transform: uppercase;

    @include min-screen ( $TABLET_SIDE_GUTTER_BREAKPOINT ) {
        float: left;
        width: 140px;
    }

    &:focus {
        outline: 0;
    }
}
.c-newsletter__legal {}
.c-newsletter__privacy {}
