.c-newsletter {
    background: $cod-gray;
    padding: 30px 0;
    text-align: center;

    @include tablet-size {
        padding: 60px 0;
        margin: 60px 0 0;
    }
}

.c-newsletter__wrapper {
    margin: 0 auto;
    max-width: 670px;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        padding: 0 $PADDING_LARGE;
    }
}

.c-newsletter__logo {
    display: block;
    margin: 0 auto 25px auto;
    max-width: 180px;

    @include tablet-size {
        max-width: 200px;
        margin: 0 auto 40px auto;
    }
}

.c-newsletter__title {
    @include font('STARLING', 20px, 'BOLD', 20px);

    color: $white;
    letter-spacing: 1px;
    margin: 0 0 10px;
    text-transform: uppercase;

    @include tablet-size {
        @include font('STARLING', 27px, 'BOLD', 32px);

        letter-spacing: 2px;
        margin: 0 0 20px;
    }
}

.c-newsletter__description {
    @include font('AGENDA', 16px, 'MEDIUM', 20px);

    color: $gray;
    letter-spacing: .3px;
    margin-bottom: 20px;
    margin-top: 10px;

    @include tablet-size {
        @include font('AGENDA', 16px, 'MEDIUM', 24px);

        margin-bottom: 30px;
        margin-top: 20px;
    }
}

.c-newsletter__form {
    width: 100%;

    @include tablet-size {
        width: auto;
    }
}

.c-newsletter__form__text {
    @include font-size(14px);

    background: $COLOUR_INPUT_BG;
    border: 0;
    color: #8a8a8a;
    height: 45px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    padding: $PADDING_XX_SMALL $PADDING_X_SMALL;
    text-align: center;

    &:focus {
        border: 1px solid $COLOUR_INPUT_BORDER_ACTIVE;
    }

    @include tablet-size {
        text-align: left;
        margin-bottom: 20px;
    }
}

.c-newsletter__form__btn {
    @include button-single;
    @include button-single-light;

    @include font-size(14px);

    width: 100%;
    height:auto;
    margin-bottom: 30px;
    padding: 10px;
    color: $white;
    border: 1px solid $gray;

    @include tablet-size {
        margin-left: 20px;
        height: 45px;
        padding: 10px 15px;
        margin: 0 0 0 15px;
        width: auto;
    }

    &:hover,
    &:focus {
        @include button-single-light-hover;

        background: $cinnabar;
        border: 1px solid $cinnabar;
        color: $white;
    }
}

.c-newsletter__legal {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    margin: 0;

    a {
        color: $gray;
    }

    @include tablet-size {
        @include font('AGENDA', 14px, 'MEDIUM', 14px);
    }
}

.c-newsletter__privacy {
    color: $boulder;
}
