@import '@cnbritain/merlin-www-common:wired';

@import '../wireframe/wireframe';

.c-cookie-warning {
    background-color: #000;
    padding: 20px;
}

.c-cookie-warning__table-cell--cta {
    vertical-align: top;
    width: 30px;
}

.c-cookie-warning__message {
    @include font('BRUTAL', 14px, 700, 18px);
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 30px;

    a {
        border-bottom: none;
        color: inherit;
        text-decoration: underline;

        &:hover {
            border-bottom: none;
        }
    }
}

.c-cookie-warning__button {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    height: 20px;
    padding: 0;
    width: 20px;

    svg {
        display: inline-block;
        height: 8px;
        margin: 0 auto;
        position: relative;
        top: -1px;
        width: 8px;
    }

    path {
        stroke: #fff;
        stroke-width: 2px;
    }
}

@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    .c-cookie-warning {
        max-width: 630px;
        padding: 20px 30px;
        width: 40%;
    }

    .c-cookie-warning__message {
        padding-right: 65px;
    }
}