@import '@cnbritain/merlin-www-common:wired';
@import '../wireframe/wireframe';

.c-cookie-warning {
    background-color: $black;
    padding: 20px;

    @include at-x-large-size {
        max-width: 630px;
        padding: 20px 30px;
        width: 40%;
    }
}

.c-cookie-warning__message {
    @include font('BRUTAL', 14px, 700, 18px);
    color: $white;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 30px;

    a {
        border-bottom: none;
        color: inherit;
        text-decoration: underline;

        &:hover {
            border-bottom: none;
        }
    }

    @include at-x-large-size {
        padding-right: 65px;
    }
}

.c-cookie-warning__table-cell--button {
    vertical-align: top;
    width: 30px;
}

.c-cookie-warning__button {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $white;
    height: 20px;
    padding: 0;
    width: 20px;

    svg {
        display: inline-block;
        height: 8px;
        margin: 0 auto;
        position: relative;
        top: -1px;
        width: 8px;
    }

    path {
        stroke: $white;
        stroke-width: 2px;
    }
}