@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-image:brides";

@import "../wireframe/wireframe";

.c-footer__list-item--brand-logo {
    padding-bottom: 0;
    padding-top: 0;

    svg {
        fill: $white;
        height: 60px;
        width: 80px;
    }
}
