@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-image:brides";

@import "../wireframe/wireframe";

.c-footer {
    background-color: $tux-grey;
    color: $white;
    padding: 0 20px;

    @include tablet-size {
        padding: 0 30px;
    }
}

.c-footer__wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.c-footer__list {
    color: $white;
}

.c-footer__list--left {}
.c-footer__list--right {}

li.c-footer__list-item {
    @include font("SOLEIL", 12px, 'NORMAL', 60px, 10);
    color: $white;
    height: 60px;

    a {
        text-decoration: none;
        color: inherit;
        border-bottom: none;

        @include min-screen(1100px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.c-footer__list-item--links {
    font-size: 0;

    .c-footer__list-item {
        @include max-screen(1099px) {
            border-top: 1px solid $stroller-grey;
            box-sizing: border-box;

            &:last-child {
                border-bottom: 1px solid $stroller-grey;
            }
        }

        @include min-screen(1100px) {
            margin-right: 24px;
        }
    }
}

li.c-footer__list-item--logo {
    margin-top: -60px;

    svg {
        fill: $white;
        height: 60px;
        width: 80px;
    }

    @include min-screen(1100px) {
        clear: right;
        padding-left: 32px;
        margin-top: 0;
    }
}


