@import "@cnbritain/merlin-www-common:wireframe";

.c-topic-strip {
    display: block;
    width: 100%;

    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}

.c-topic-strip__title {
    display: inline-block;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__item {
    display: inline-block;
}

.c-topic-strip__btn {
    display: inline-block;
}