
@import "@cnbritain/merlin-www-common:wireframe";


// DEBUG
// body {
//     padding-left: $MOBILE_SIDE_GUTTER;
//     padding-right: $MOBILE_SIDE_GUTTER;

//     @include tablet-size {
//         padding-left: $TABLET_SIDE_GUTTER;
//         padding-right: $TABLET_SIDE_GUTTER;
//     }

//     @include desktop-size {
//         padding-left: $DESKTOP_SIDE_GUTTER;
//         padding-right: $DESKTOP_SIDE_GUTTER;
//     }
// }


.c-topic-strip {}

.c-topic-strip__title {}

.c-topic-strip__list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-topic-strip__listitem {
    display: inline-block;
    font-size: initial;
}

.c-topic-strip__link {}

.c-topic-strip--a-related {}
.c-topic-strip--c-card-section {}
.c-topic-strip--sh-trends {}
.c-topic-strip--tg-header {}
