.a-author,
.a-event-author {
    a {
        color: $COLOR_TYPE_HEADING;
        @include aside-links(true);
    }
}

.a-author__article-date {
    color: $COLOR_TYPE_META;
    @include font('NOBEL', 11px);
    letter-spacing: 0.025em;
}

.a-author__bio {
    color: $COLOR_TYPE_META;
    @include font('ADOBE CASLON', 13px, null, 16px);
    margin-bottom: $MARGIN_SMALL;
    margin-top: -8px;
}

.a-author__byline {
    margin: $MARGIN_XX_SMALL 0;
}
.a-author__byline--authors {
    line-height: 1em;
    margin-bottom: $MARGIN_SMALL;
}

.a-author__byline-name {
    @include font('NOBEL', 11px);
    color: $COLOR_TYPE_META;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.a-author__byline-prefix,
.a-author__byline-conjunction {
    color: $COLOR_MAIN_TERTIARY;
    @include font('ADOBE CASLON', 12px);
    font-style: italic;
    text-transform: lowercase;
}

.a-author__image,
.a-event-author__image {
    border-radius: 50%;
    margin-bottom: $MARGIN_SMALL;
    overflow: hidden;
    width: 50px;
}

.a-author__separator,
.a-event-author__separator {
    border: none;
    border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    margin: $MARGIN_XX_SMALL 0;
}

.a-author__separator--date {}