.a-main {}

.a-main--gallery {}
.a-main--video {}

.a-body {}
.a-body--gallery {}
.a-body--video {}
.a-body__clear {
    clear: both;
}

.a-body__wrapper {}

.a-body__content {
    & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        @include font-weight-fix();
    }

    a:not([class]) {
        @include body-links(true);
    }
}

.a-infinite__message {
    margin: 0 0 40px 0;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 0 0 60px 0;
    }
}

.a-infinite__message-btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}