.a-gallery {
    margin: 30px auto;

    @include tablet-size {
        margin-top: 40px;
        margin-bottom: 60px;
    }
}

.a-gallery__wrapper {}

.a-gallery__message {
    margin-bottom: 40px;

    @include tablet-size {
        margin-bottom: 60px;
    }
}

.a-gallery__message-btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}

.a-gallery__thumbnail-list {
    margin-left: 0px;
    margin-right: 0px;

    @include tablet-size {
        margin-left: -10px;
        margin-right: -10px;
    }
}

li.a-gallery__thumbnail {
    box-sizing: border-box;
    margin: 2px 0 0 0;
    padding: 0 1px;

    &:nth-child(-n+3){
        margin-top: 0;
    }

    @include tablet-size {
        margin: 20px 0 0 0;
        padding: 0 10px;
    }
}

.a-gallery__thumbnail-image {
    background-color: $alabaster-f9;
}

.a-gallery__thumbnail-hover {
    background-color: rgba(0, 0, 0, 0.38);
    left: 1px;
    right: 1px;
    width: auto;

    svg {
        fill: $white;
        width: 30px;
    }

    @include tablet-size {
        left: 10px;
        right: 10px;

        svg {
            width: 40px;
        }
    }
}

li.a-gallery__image-listitem {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @include tablet-size{
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.c-figure__container {
    margin-bottom: 20px;

    @include desktop-size {
        margin-bottom: 30px;
    }
}

.g-image-nav {
    padding: 20px 15px;
}

.g-image-nav__btns {}
.g-image-nav__btn {
    background-color: $white;
}

.g-image-nav__btn--previous {
    padding-bottom: 20px;
}

.g-image-nav__btn--next {
    border-top: 1px solid $gallery;
    padding-top: 20px;
}

.g-image-nav__btn[disabled] {
    svg {
        fill: $silver;
    }
}
