.a-podcast {
    margin: $MARGIN_MEDIUM 0 $MARGIN_LARGE 0;
}
.a-podcast__wrapper {}
.a-podcast-content {}
.a-podcast-audio {}

.a-podcast__player {
    margin: 0 0 $MARGIN_MEDIUM 0;
    width: 100%;
}

.a-podcast__list-item {
    margin: 0 0 $MARGIN_X_SMALL 0;
}

.a-podcast__btn {
    @include button-single();
    @include button-single-light();
    box-sizing: border-box;
    text-align: center;
    width: 100%;

    &:hover {
        @include button-single-light-hover();
    }
}

@include at-small-size {
    li.a-podcast__list-item {
        display: inline-block;
    }

    .a-podcast__btn {
        width: auto;
    }
}
