.a-review {
    background-color: $wild-sand;
    margin: $MARGIN_LARGE 0;
    padding: $PADDING_MEDIUM $PADDING_SMALL;
}

.a-review__item {
    margin-bottom: $MARGIN_MEDIUM;

    &:last-child {
        margin-bottom: 0;
    }
}
.a-review__item--rating {
    border-top: 1px solid $loot-box;
    padding-top: $PADDING_SMALL;
}

.a-review__key {
    @include font('NOBEL', 15px, 'BOLD');
    margin: 0 0 $MARGIN_X_SMALL 0;
    text-transform: uppercase;
}

.a-review__separator {
    display: none;
}

.a-review__value {
    @include font('ADOBE CASLON', 17px);
}

.a-review__rating {
    @include font('NOBEL', 11px, 'BOLD');
    display: inline-block;
}

.a-review__rating-list {
    display: inline-block;
}

.a-review__rating-list__item {
    background-color: $loot-box;
    height: 8px;
    margin-right: 4px;
    width: 8px;
}
.a-review__rating-list__item--active {
    background-color: $mine-shaft-222;
}

@include at-medium-size {
    .a-review {
        padding: $PADDING_LARGE;
    }
    .a-review__item {
        margin-bottom: $MARGIN_LARGE;
    }
}
