.a-share {}
.a-share__wrapper {}

.a-share__title {
    @include font('NOBEL', 15px, 'BOLD');
    color: $cod-gray;
    margin: 0 0 $MARGIN_SMALL 0;
    text-transform: uppercase;
}

.a-share__list {
    font-size: 0;
    height: 45px;
    margin: $MARGIN_SMALL 0 0 0;
}

.a-share__list-item {
    border-bottom: 1px solid $loot-box;
    border-left: 1px solid $loot-box;
    border-top: 1px solid $loot-box;
    box-sizing: border-box;
    font-size: initial;
    height: 45px;

    &:last-child {
        border-right: 1px solid $loot-box;
    }
}
.a-share__list-item--mobile {}
