.a-sidebar-content {
    padding-top: 5px;

    .c-card-list__item {
        margin: 15px 0 30px 0;
    }

    .c-card__image {
        margin: 15px 0 10px 0;
    }

    .c-card__title {
        @include font('ADOBE CASLON', 15px, 700, 18px);
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .c-card__byline,
    .c-card__sponsor {
        margin: 5px 0 15px 0;
    }
}

.a-sidebar-content__title {
    @include font('NOBEL', 15px, 700, 16px);
    margin: 0;
    text-transform: uppercase;

    &::after {
        content: '';
        display: block;
        height: 1px;
        margin-top: 5px;
        @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
    }
}