.a-logo {}
.a-logo--video {
    background-color: #222;
    padding: 60px 0 40px 0;

    .a-logo__wrapper {
        margin: 0 auto;
        width: 250px;
    }

    svg {
        width: 100%;
    }
}

.a-video {
    &::before {
        background-color: $COLOUR_BG_DARK;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -$MOBILE_SIDE_GUTTER;
        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            top: -$TABLET_SIDE_GUTTER;
        }
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            top: -$DESKTOP_SIDE_GUTTER;
        }
    }
}

.a-video__wrapper {}

.a-video__player {
    background-color: #222;
}

.a-video__player__wrapper {}

.a-video__sidebar {
    background-color: #333;
    padding: 0 20px 20px 20px;
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font('NOBEL', 12px, 'BOLD', 15px);
    color: #fff;
    margin: 0;
    padding: 20px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    padding-bottom: 20px;
    right: 20px;
}

.a-video__related {
    background-color: $COLOUR_BG_DARK;
    color: $COLOR_MAIN_PAGE;
    max-width: none;
    padding-bottom: $PADDING_SMALL;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }

    .c-card__title {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
}
.a-video__related__wrapper {}
.a-video__related__title {
    color: $COLOR_MAIN_PAGE;
    @include font("NOBEL", 15px, 700, 16px);
    margin: 0;
    padding: $PADDING_SMALL 0;
    position: relative;
    text-transform: uppercase;
}
.a-video__related__list {
    .c-card-list {
        margin: 0 (-$MARGIN_XX_SMALL);
    }

    .c-card-list__item {
        padding: 0 $PADDING_XX_SMALL;
    }
}

.a-video__ad {
    margin-bottom: 40px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT){
        margin-bottom: 0;
        top: $PADDING_X_LARGE;
    }
}