.a-logo {}
.a-logo--video {
    background-color: $mine-shaft-222;
    padding: 60px 0 40px 0;

    .a-logo__wrapper {
        margin: 0 auto;
        width: 250px;
    }

    svg {
        width: 100%;
    }
}

.a-video:before {
    background-color: $mine-shaft-222;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -$MOBILE_SIDE_GUTTER;
}

.a-video__wrapper {}

.a-video__player {
    background-color: $mine-shaft-222;
}
.a-video__player__wrapper {}

.a-video__sidebar {
    background-color: $mine-shaft-333;
    padding: 0 20px 20px 20px;
}
.a-video__sidebar__wrapper {}
.a-video__sidebar__title {
    @include font('NOBEL', 12px, 'BOLD', 15px);
    color: $white;
    margin: 0;
    padding: 20px 0;
    position: relative;
    text-align: left;
    text-transform: uppercase;
}
.a-video__sidebar__list {
    left: 20px;
    padding-bottom: 20px;
    right: 20px;
}

.a-video__playlist {}
.a-video__playlist-item {
    opacity: 1;
    transition: opacity 0.3s ease-out;
    width: 100%;

    &.is-active {
        opacity: 0.3;
    }

    & + .a-video__playlist-item {
        border-top: 1px solid $mine-shaft-333;
        margin-top: 12px;
        padding-top: 12px;
    }
}

.a-video__ad {
    margin-bottom: 40px;
}


@include at-medium-size {
    .a-video:before {
        top: -$TABLET_SIDE_GUTTER;
    }
    .a-video__related {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}

@include at-x-large-size {
    .a-video:before {
        top: -$DESKTOP_SIDE_GUTTER;
    }
    .a-video__related {
        display: none;
    }
    .a-video__ad {
        margin-bottom: 0;
        top: $PADDING_X_LARGE;
    }
}
