@import '@cnbritain/merlin-www-common:brides';
@import '@cnbritain/merlin-www-buttons:brides';

@import '../wireframe/wireframe';

.c-pagination {
    font-size: 0;
    margin: $MOBILE_SLICE_MARGIN 0 ($MOBILE_SLICE_MARGIN + -12px) 0;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        margin: $TABLET_SLICE_MARGIN 0 ($TABLET_SLICE_MARGIN + -12px) 0;
        padding: 0 $TABLET_SIDE_GUTTER;
    }
}

.c-pagination__item + .c-pagination__item {
    margin-bottom: 12px;
    margin-left: 12px;
}

.c-pagination__btn {
    @include button-single-three();
    @include button-single-three-light();

    &:hover,
    &:focus {
        @include button-single-three-light-hover();
    }
}

.c-pagination__btn--active {
    @include button-single-three-light-hover();
}