@import "@cnbritain/merlin-www-common:vogue";
@import "@cnbritain/merlin-www-image:vogue";
@import "@cnbritain/merlin-www-card:vogue";

@import "../wireframe/wireframe";
@import "./_hero";

.c-splash {}
.c-splash-wrapper {}

.c-splash__cards {
    background-color: $white;
    margin: 0 auto 40px auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER*2;
    padding: 20px $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}
.c-splash__cards-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
    width: 100%;
}
.c-splash__cards-list {
    grid-gap: 20px;
    grid-template-columns: 1fr;

    @include at-small-size {
        grid-template-columns: 1fr 1fr;
    }

    @include at-x-large-size {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.c-splash__cards-listitem {}
