@import "@cnbritain/merlin-www-common:gq";
@import '@cnbritain/merlin-www-buttons:gq';
@import '@cnbritain/merlin-www-image:gq';
@import '@cnbritain/merlin-www-ads:gq';
@import "@cnbritain/merlin-www-card:gq";

@import "../wireframe/wireframe";

.c-top-stories-lazy-load {
    min-height: 118px;
}

.c-top-stories {
    background-color: $woodsmoke;
    padding: 24px 0;

    &.has-navigation {
        .c-top-stories__cards-listitem:last-child {
            margin-right: 80px;
        }
    }
}

.c-top-stories-wrapper {
    box-sizing: border-box;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
    padding-left: 30px;
    transform: translateZ(0);

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(30px - (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }
}

.c-top-stories__nav {
    border-left: 1px solid $mineshaft;
    bottom: -24px;
    position: absolute;
    right: 0;
    top: -24px;
    width: 60px;
    z-index: 2;

    @include min-screen($MAXIMUM_PAGE_WIDTH + 1) {
        border-right: 1px solid $mineshaft;
    }
}

.c-top-stories__nav-btn {
    @include button-top-stories;

    &:hover, &:focus {
        @include button-top-stories-hover;
    }

    &:disabled {
        @include button-top-stories-disabled;
    }
}

.c-top-stories__nav-btn--left {
    border-top: 1px solid $mineshaft;
}

.c-top-stories__cards {
    margin-left: -30px;
    overflow-y: hidden;
    padding-left: 30px;
    transform: translateZ(0);

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(30px - (100vw - 1440px)/2 );
        margin-left: calc(-30px + (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        margin-left: 0;
        padding-left: 0;
    }
}

.c-top-stories__cards-listitem {
    & + .c-top-stories__cards-listitem {
        margin-left: 20px;
    }
}

.c-top-stories__cards-listitem--ad {
	.ad__block {
		background-color: transparent;
		padding: 0;
	}
}