@import "@cnbritain/merlin-www-buttons:traveller";
@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-card-list:traveller";
@import "@cnbritain/merlin-www-image:traveller";
@import "@cnbritain/merlin-www-topic-strip:traveller";

@import "../wireframe/wireframe";

.tg-header {
	margin: 32px 0;

    &.has-hero {
    	margin-top: 0;

    	.tg-header__intro {
    		padding: 0;
    	}

    	.tg-header__title {
    		color: $WHITE;
    		left: 50%;
    		margin-bottom: 0;
    		position: absolute;
    		top: 50%;
    		transform: translate(-50%, -50%);
    		white-space: nowrap;
    	}
    }

	@include at-x-large-size {
        margin: 48px 0;
    }
}

.tg-header-wrapper {
	max-width: $MAXIMUM_PAGE_WIDTH;
	margin: 0 auto;
}

/**
 * Intro
 * Hero, logo and title
 */
.tg-header__hero {
	background-color: $CAPE-HAZE;
	margin: 0 auto;
	padding-top: 56.25%;
	position: relative;

	&:after {
		background-color: rgba($MUSTASAARI, 0.2);
		bottom: 0;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

	@include at-x-large-size {
		padding-top: 30%;

		&:after {
			background-color: rgba($MUSTASAARI, 0.15);
		}
	}
}

.tg-header__hero-credit {
	@include font("PROXIMA NOVA CONDENSED", 12px, 400, 12px);
	bottom: 20px;
	color: $WHITE;
	letter-spacing: 1px;
	position: absolute;
	right: 50%;
	text-transform: uppercase;
	transform: translateX(50%);

	@include at-x-large-size {
		bottom: 4px;
		right: 4px;
		transform: none;
	}
}

.tg-header__intro {
	padding: 0 $MOBILE_SIDE_GUTTER;
	position: relative;

	@include at-medium-size {
		padding: 0 $TABLET_SIDE_GUTTER;
	}

    @include at-x-large-size {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__title {
	@include font("LULO ONE", 28px, 700, 32px, -35);
	color: $SHERPA-BLUE;
	margin: 0 0 12px 0;
	text-align: center;
	text-transform: uppercase;

	@include at-x-large-size {
		@include font-size(46px);
		@include line-height(54px);
		margin-bottom: 16px;
	}
}

/**
 * Description + expand
 */
.tg-header__description {
	color: $MUSTASAARI;
	margin: 12px auto 24px auto;
	max-width: 800px;
	padding: 0 $MOBILE_SIDE_GUTTER;
	text-align: center;

	.bb-a {
	    color: inherit;
	}

	.bb-p {
		color: inherit;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	@include at-medium-size {
		padding: 0 $TABLET_SIDE_GUTTER;
	}

    @include at-x-large-size {
		margin-top: 16px;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__description-expand {
	margin-top: 24px;
}

.tg-header__expand-btn {
	@include button-single();
	@include button-single-light();

	&:hover,
	&:focus {
		@include button-single-light-hover();
	}
}

/**
 * Sponsor
 */
.tg-header__sponsor {
	@include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
	display: table;
	margin-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	text-align: center;
	position: relative;

	&:before {
		background-color: $PORCELAIN;
		content: "";
		height: 1px;
		left: 50%;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 120px;
	}

	@include at-x-large-size {
		margin-bottom: 32px;

		&:before {
			display: none;
		}
	}
}

.tg-header__sponsor-prefix {
	display: inline-block;
	font-style: italic;
	padding: 8px 0 0 0;
	text-transform: lowercase;
	white-space: nowrap;

	@include at-x-large-size {
		display: table-cell;
		padding: 0;
		vertical-align: middle;
	}
}

.tg-header__sponsor-name {
	color: $MUSTASAARI;
	letter-spacing: 1px;
	padding-left: 6px;
	text-transform: uppercase;
}

.tg-header__sponsor-image {
	img {
	    height: auto;
	    margin: 4px auto 0 auto;
	    max-height: 40px;
	    max-width: 140px;
	    width: auto;
	}

	@include at-x-large-size {
		display: table-cell;
		margin-top: 0;
		padding-left: 16px;
		vertical-align: middle;

		img {
			max-height: 48px;
			margin-top: 0;
		}
	}
}

.tg-header__separator {
	display: none;
}

/**
 * Navigation list
 */
.tg-header__topic-strip {
	margin: 12px auto;
	padding: 0 $MOBILE_SIDE_GUTTER;

	.c-topic-strip {
		text-align: center;
	}

	.c-topic-strip__btn {
	    @include button-group-two();
	    @include button-group-two-light();

	    &:hover {
	        @include button-group-two-light-hover();
	    }
	}

	@include at-medium-size {
		padding: 0 $TABLET_SIDE_GUTTER;
	}

    @include at-x-large-size {
		margin: 24px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

/**
 * Featured cards
 */
.tg-header__cards {
	margin: 32px auto;
	max-width: $MAXIMUM_PAGE_WIDTH;
	padding: 0 $MOBILE_SIDE_GUTTER;

	@include at-medium-size {
		padding: 0 $TABLET_SIDE_GUTTER;
	}

	@include at-x-large-size {
	    margin: 48px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
	}
}

/**
 * Header variants
 */
.tg-header--video {
	.tg-header__intro-image {
    	height: 42px;
		margin: 0 auto;
		width: 268px;

    	svg {
    	    display: inline-block;
    	    height: 100%;
    	    width: 100%;

    	    path {
    	        fill: $SHERPA-BLUE;
    	    }
    	}

    	@include at-x-large-size {
    		height: 52px;
			margin: 0 auto;
    		width: 331px;
    	}
	}
}

.tg-header--profile {
	.tg-header__intro-image {
		box-sizing: border-box;
		border-radius: 50%;
		border: 1px solid $PORCELAIN;
		height: 72px;
		margin: 0 auto 12px auto;
		overflow: hidden;
		padding: 6px;
		position: relative;
		width: 72px;

		&:before {
		    background-color: $CAPE-HAZE;
		    border-radius: 50%;
		    bottom: 0;
		    content: '';
		    height: 58px;
		    left: 0;
		    margin: 6px;
		    overflow: hidden;
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 58px;
		    z-index: -1;
		}

		img {
		    border-radius: 50%;
		    height: 100%;
		    overflow: hidden;
		    width: 100%;
		}

		@include at-x-large-size {
			margin-bottom: 24px;
			width: 108px;
			height: 108px;

			&:before {
				width: 94px;
		    	height: 94px;
			}
		}
	}
}

.tg-header--brand,
.tg-header--event,
.tg-header--topic {
	.tg-header__intro-image {
		margin-bottom: 24px;
		margin-left: auto;
		margin-right: auto;
		width: 240px;

		img {
			width: 100%;
		}

		@include at-x-large-size {
			margin-bottom: 32px;
			width: 320px;
		}
	}
}