@import '@cnbritain/merlin-www-common:wireframe';

.c-cookie-warning {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 2;

    @include at-medium-size {
        left: $DESKTOP_SIDE_GUTTER;
        max-width: 450px;
        width: 40%;
    }

    &.is-hidden {
        display: none;
    }
}

.c-cookie-warning-wrapper {
    width: 100%;
}

.c-cookie-warning__message {
    display: inline-block;
    vertical-align: middle;
}

.c-cookie-warning__button {
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
}
