
@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-image:brides";
@import "@cnbritain/merlin-www-topic-strip:brides";
@import "@cnbritain/merlin-www-bbcode:brides";
@import "@cnbritain/merlin-www-card:brides";
@import "@cnbritain/merlin-www-gallery-strip:brides";
// NOTE: brides does not have a show card carousel
// @import "@cnbritain/merlin-www-show-card-carousel:brides";

@import "../wireframe/wireframe";

.tg-header {
    padding: 36px 0 0 0;
    text-align: center;
}

@include at-medium-size {
    padding-top: 48px;
}

/**
 * Intro
 * Hero, logo and title
 */

.tg-header__intro {
    padding: 0 $MOBILE_SIDE_GUTTER;
}

.tg-header__hero {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}

.tg-header__intro-image {
    margin: 0 auto 24px auto;
    max-width: 168px;

    img {
        display: block;
        margin: 0 auto;
    }

    @include at-medium-size {
        max-width: 240px;
    }
}

.tg-header__title {
    @include font("FREIGHT DISPLAY PRO", 48px, 'NORMAL', 44px, 20);
    color: $stroller-grey;
    display: block;
    font-style: italic;
    margin: 0 auto;
    max-width: 800px;

    span {
        box-shadow: inset 0 -0.25em 0 0 $white,
                    inset 0 -0.65em 0 0 rgba($champagne, 1);
    }

    @include at-medium-size {
        @include font-size(60px);
        @include line-height(60px);
    }
}

.has-hero {

    .tg-header__intro {
        overflow: hidden;
        padding-top: 66.875%;
        position: relative;

        @include at-medium-size {
            padding-top: 30%;
        }
    }

    .tg-header__title {
        color: $white;
        left: 50%;
        position: absolute;
        text-shadow: 0 2px 16px rgba($black, 0.33);
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        span {
            box-shadow: none;
        }
    }
}

/**
 * Description + expand
 */
.tg-header__description {
    margin: 36px auto 42px auto;
    max-width: 800px;
    padding: 0 $MOBILE_SIDE_GUTTER;
}

.tg-header__expand-btn {
    @include button-single();
    @include button-single-light();

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}

/**
 * Sponsor
 */
.tg-header__sponsor {
    @include font('SOLEIL', 10px, null, 16px);
    border-top: 1px solid $ballet-grey;
    color: $stroller-grey;
    letter-spacing:0.12em;
    margin: 26px $MOBILE_SIDE_GUTTER;
    padding: 18px 0 0 0;
    text-align: center;
    text-transform: uppercase;

    a {
        color: inherit;
    }

    @include at-medium-size {
        display: inline-block;
        margin-top: 34px;
    }
}

.tg-header__sponsor-image {
    display: block;
    margin: 4px auto 0 auto;
    max-width: 120px;
    vertical-align: middle;

    @include at-medium-size {
        display: inline-block;
        margin-left: 10px;
    }
}

.tg-header__sponsor-name {
    font-weight: bold;
}

/**
 * Navigation list
 */
.tg-header__topic-strip {
    margin: 42px auto 36px auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    .c-topic-strip {
        text-align: center;
    }

    @include at-medium-size {
        margin-bottom: 44px;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

/**
 * Featured cards
 */
.tg-header__cards {
    margin: 36px auto 0 auto;
    padding: 0 $MOBILE_SIDE_GUTTER;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }
}

.tg-header__cards-list {
    margin: -21px -12px;

    .tg-header__cards-listitem {
        display: inline-block;
        padding: 0 12px;
        margin: 21px 0;
        width: 100%;

        @include two-column-size() {
            width: 50%;
        }

        @include four-column-size() {
            width: 33.33333%;
        }
    }
}

/**
 * Event information
 */
.tg-header__event-meta {
    @include font('SOLEIL', 14px, null, 16px, 20);
    color: $candle-grey;
    margin: 28px auto 44px auto;
    text-align: center;
}

/**
 * Header variants
 */
.tg-header--profile {
    .tg-header__intro-image {
        border-radius: 50%;
        max-width: 72px;
        overflow: hidden;
    }

    @include at-medium-size {
        .tg-header__intro__image {
            max-width: 96px;
        }
    }
}
