.a-event-author {
    padding-bottom: 24px;
    text-align: center;
}
.a-event-author__location {
    @include font('SOLEIL', 14px, null, 16px, 20);
    color: $candle-grey;
    margin: 10px 0;
}
.a-event-author__separator {
    display: none;
}
.a-event-author__date {
    @include font('SOLEIL', 10px, null, 12px, 120);
    color: $candle-grey;
    margin: 10px 0 16px 0;
    text-transform: uppercase;
}
.a-event-author__btn {
    @include button-single-three;
    @include button-single-three-light;

    &:hover,
    &:focus {
        @include button-single-three-light-hover;
    }
}


.a-author {
    text-align: center;
}

.a-author__article-date {
    @include font('SOLEIL', 10px, null, 15px);
    color: $candle-grey;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.a-author__bio {
    @include font('SOLEIL', 12px, null, 16px);
    color: $stroller-grey;
    letter-spacing: 0.03em;
    margin: 8px 0 10px 0;

    .bb-p {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        margin: 0;
    }
}

.a-author__byline {
    @include font('SOLEIL', 10px, null, 16px);
    color: $ascot-grey;
    margin: 6px 0;
    letter-spacing: 0.12em;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}
.a-author__byline--authors {}

.a-author__byline-name {
    font-weight: bold;
}
.a-author__byline-prefix,
.a-author__byline-conjunction {}

.a-author__image,
.a-event-author__image {
    margin: 0 auto 14px auto;
    width: 66px;

    img {
        width: 100%;
    }
}

.a-author__image {
    border-radius: 50%;
    overflow: hidden;
}

.a-author__separator {
    display: none;
}
