.a-footer {
    .a-share {
        margin: 40px 0 44px 0;
    }
}

.a-footer__wrapper {}

.a-related-tags {
    margin-top: 40px;
}
.a-related-tags__wrapper {}

.a-footer--gallery {}
.a-footer--video {}

@include article-large-size {
    .a-footer {
        .a-share {
            margin: 48px 0 68px 0;
        }
    }
}
