.a-header {}

.a-header__wrapper {
    margin-bottom: 36px;
    padding: 36px $MOBILE_SIDE_GUTTER 0 $MOBILE_SIDE_GUTTER;
}

.a-header__content {}
.a-header__separator {
    display: none;
}

.a-header__about {
    padding-bottom: 26px;
}

.a-header__tag {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 12px, null, 16px);
    color: $pink-rose;
    letter-spacing: 0.18em;
    margin: 0 0 8px 0;
    text-align: center;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

.a-header__tag__primary,
.a-header__tag__secondary {
    font-size: inherit;
}

.a-header__title {
    @include font('FREIGHT DISPLAY PRO', 34px, 'NORMAL', 36px, 10);
    color: $stroller-grey;
    margin: 0 0 14px 0;
    text-align: center;
    text-transform: capitalize;
}

.a-header__teaser {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 14px, null, 20px);
    color: $ascot-grey;
    letter-spacing: 0.03em;
    margin: 0 0 20px 0;
    text-align: center;

    .bb-p {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        line-height: inherit;
    }
}

.a-header__byline {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 10px, null, 16px);
    color: $stroller-grey;
    letter-spacing:0.12em;
    margin: 0 0 6px 0;
    text-align: center;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}
.a-header__byline-item {
    display: block;
}
.a-header__byline-name {
    font-weight: bold;
}
.a-header__byline-prefix,
.a-header__byline-conjunction {}


.a-header__sponsor {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 10px, null, 16px, 120);
    border-top: 1px solid $ballet-grey;
    color: $stroller-grey;
    margin: 26px 0;
    padding: 18px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}
.a-header__sponsor-prefix {
    display: inline-block;
    margin-bottom: 4px;
}
.a-header__sponsor-name {}
.a-header__sponsor-image {
    display: block;
    margin: 0 auto;
    max-width: 120px;
}



.a-header__meta {
    font-size: 0;
    margin: 10px 0 16px 0;
    text-align: center;
}
.a-header__meta-item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 10px, null, 12px);
    color: $candle-grey;
    letter-spacing: 0.12em;
    position: relative;
    text-transform: uppercase;

    a {
        color: inherit;
    }

    svg {
        display: none;
    }
}
.a-header__meta-item + .a-header__meta-item {
    margin-left: 8px;
    // 2px is the width of the before
    padding-left: 8px + 2px;
}
.a-header__meta-item + .a-header__meta-item:before {
    background-color: $candle-grey;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 2px;
}

.a-header__date {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 10px, null, 12px);
    color: $candle-grey;
    letter-spacing: 0.12em;
    text-align: center;
    text-transform: uppercase;
}

.a-header__event {
    border-top: 1px solid $ballet-grey;
    margin: 26px 0 0 0;
    padding: 26px 0;
    text-align: center;
}
.a-header__event-title,
.a-header__event-location {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 14px, null, 16px, 20);
    color: $candle-grey;
    margin: 10px 0;
}
.a-header__event-date {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 10px, null, 12px, 120);
    color: $candle-grey;
    margin: 10px 0 16px 0;
    text-transform: uppercase;
}
.a-header__event-btn {
    @include button-single-three;
    @include button-single-three-light;

    &:hover,
    &:focus {
        @include button-single-three-light-hover;
    }
}

.a-header__image {
    max-width: 1440px;
    padding: 0 $MOBILE_SIDE_GUTTER;
}

.a-header__image-constrain {}
.a-header__image-content {
    border-left: 1px solid $ballet-grey;
    margin: 12px 0 0 0;
    padding-left: 12px;
}

.a-header__image-title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 12px, 'BOLD', 16px);
    color: $ascot-grey;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}

.a-header__image-caption {
    color: $candle-grey;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 4px rgba($black, 0.08);

    .bb-p {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include font('SOLEIL', 12px, null, 16px);
        color: inherit;
        letter-spacing: 0.03em;
        margin: 0 0 6px 0;
    }
}

.a-header__image-credit {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include font('SOLEIL', 9px, null, 12px)
    color: rgba($candle-grey, 0.75);
    letter-spacing: 0.06em;
    margin: 6px 0 0 0;
    padding: 0;
    text-shadow: 0 0 4px rgba($black, 0.08);
    text-transform: uppercase;
}

.a-header__image-credit:before {
    content: 'Credit: ';
}

.a-header--gallery {
    .a-header__content {
        margin: 0 auto;
    }
}

.a-header--video {

    .a-header__about {
        display: none;
    }

    .a-share__list,
    .a-share {
        display: block;
    }
}

.has-hero {

    .a-header__image {
        margin-bottom: 36px;
        padding: 0;
        position: relative;
    }
    .a-header__image:after {
        background-color: $pink-rose;
        bottom: -16px;
        content: '';
        display: block;
        left: 50%;
        height: 32px;
        position: absolute;
        width: 1px;
    }

    .a-header__image-content {
        border-left: none;
    }

    .a-header__hero-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 0 $MOBILE_SIDE_GUTTER;
    }

    .a-header__image-content {
        margin: 0;
        right: 4px;
        position: absolute;
        text-align: right;
        top: 4px;
    }

    .a-header__image-title,
    .a-header__image-caption {
        display: none;
    }

    .a-header__image-caption {
        color: $white;
    }

    .a-header__image-credit {
        color: $white;
    }
    .a-header__image-credit:before {
        display: none;
    }

    .a-header__wrapper {
        padding-top: 0;
    }

}

@include tablet-size {
    .a-header__wrapper
    .a-header__image {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    .a-header__content {
        text-align: center;
    }

    .a-header__sponsor {
        display: inline-block;
        margin: 0 auto 26px auto;
    }
    .a-header__sponsor-prefix {}
    .a-header__sponsor-name {}
    .a-header__sponsor-image {
        display: inline-block;
        margin-left: 10px;
    }

    .has-hero {

        .a-header__hero-content {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
        .a-header__image-content {
            right: 6px;
            top: 6px;
        }
        .a-header__image-caption {
            display: block;
        }

    }

}


@include desktop-size {

    .a-header {}

    .a-header__wrapper {
        margin-bottom: 48px;
        padding: 48px $DESKTOP_SIDE_GUTTER 0 $DESKTOP_SIDE_GUTTER;
    }

    .a-header__content {
        max-width: 800px;
        padding-right: 0;
    }

    .a-header__tag {
        margin-bottom: 12px;
    }

    .a-header__title {
        @include font-size(48px);
        @include line-height(48px);
        margin-bottom: 22px;
    }

    .a-header__teaser {
        @include font-size(16px);
        @include line-height(24px);
        margin-bottom: 26px;
    }

    .a-header__image {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }

    .a-header--gallery {
        .a-header__content {
            padding-right: 0;
        }
    }

    .has-hero {

        .a-header__hero-content {
            padding-left: $DESKTOP_SIDE_GUTTER;
            padding-right: $DESKTOP_SIDE_GUTTER;
        }

    }

}

@include article-large-size {

    .a-header__content {
        padding-left: 0;
    }

    .a-header--video {
        padding-left: 0;
    }

}


// .a-header__hero {}
// .a-header__hero-content {}
