.a-header {
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
}

.a-header__wrapper {
    padding: 36px 0;
}

.a-header__content {}
.a-header__separator {
    display: none;
}

.a-header__about {
    padding-bottom: 26px;
}

.a-header__tag {
    @include font('SOLEIL', 12px, null, 16px);
    color: $pink-rose;
    letter-spacing: 0.18em;
    margin: 0 0 8px 0;
    text-align: center;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}

.a-header__tag__primary,
.a-header__tag__secondary {
    font-size: inherit;
}

.a-header__title {
    @include font('FREIGHT DISPLAY PRO', 34px, 'NORMAL', 36px);
    color: $stroller-grey;
    letter-spacing: 0.01em;
    margin: 0 0 14px 0;
    text-align: center;
    text-transform: capitalize;
}

.a-header__teaser {
    @include font('SOLEIL', 14px, null, 20px);
    color: $ascot-grey;
    letter-spacing: 0.03em;
    margin: 0 0 20px 0;
    text-align: center;
}

.a-header__byline {
    @include font('SOLEIL', 10px, null, 16px);
    color: $stroller-grey;
    letter-spacing:0.12em;
    margin: 0 0 6px 0;
    text-align: center;
    text-transform: uppercase;

    a {
        color: inherit;
    }
}
.a-header__byline-item {
    display: block;
}
.a-header__byline-name {
    font-weight: bold;
}
.a-header__byline-prefix,
.a-header__byline-conjunction {}

.a-header__meta {
    font-size: 0;
    margin: 10px 0 16px 0;
    text-align: center;
}
.a-header__meta-item {
    @include font('SOLEIL', 10px, null, 12px);
    color: $candle-grey;
    letter-spacing: 0.12em;
    position: relative;
    text-transform: uppercase;

    a {
        color: inherit;
    }

    svg {
        display: none;
    }
}
.a-header__meta-item + .a-header__meta-item {
    margin-left: 8px;
    // 2px is the width of the before
    padding-left: 8px + 2px;
}
.a-header__meta-item + .a-header__meta-item:before {
    background-color: $candle-grey;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 2px;
}

.a-header__date {
    @include font('SOLEIL', 10px, null, 12px);
    color: $candle-grey;
    letter-spacing: 0.12em;
    text-align: center;
    text-transform: uppercase;
}

.a-header__image {}

.a-header__image-constrain {}
.a-header__image-content {
    border-left: 1px solid $ballet-grey;
    margin: 12px 0 0 0;
    padding-left: 12px;
}

.a-header__image-title {
    @include font('SOLEIL', 12px, 'BOLD', 16px);
    color: $ascot-grey;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}

.a-header__image-caption {
    margin: 0;
    padding: 0;

    .bb-p {
        @include font('SOLEIL', 12px, null, 16px);
        color: $candle-grey;
        letter-spacing: 0.03em;
        margin: 0 0 6px 0;
    }
}

.a-header__image-credit {
    @include font('SOLEIL', 9px, null, 12px)
    color: rgba($candle-grey, 0.75);
    letter-spacing: 0.06em;
    margin: 6px 0 0 0;
    padding: 0;
    text-transform: uppercase;
}

.a-header__image-credit:before {
    content: 'Credit: ';
}

.a-header--gallery {
    .a-header__content {
        margin: 0 auto;
    }
}

.a-header--video {

    .a-header__about {
        display: none;
    }

    .a-share__list,
    .a-share {
        display: block;
    }
}

@include tablet-size {
    .a-header {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}


@include desktop-size {

    .a-header {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }

    .a-header__wrapper {
        padding: 48px 0;
    }

    .a-header__content {
        max-width: 800px;
        padding-right: 0;
    }

    .a-header__tag {
        margin-bottom: 12px;
    }

    .a-header__title {
        @include font-size(48px);
        @include line-height(48px);
        margin-bottom: 22px;
    }

    .a-header__teaser {
        @include font-size(16px);
        @include line-height(24px);
        margin-bottom: 26px;
    }

    .a-header__image {
        padding: 0;
    }

    .a-header--gallery {
        .a-header__content {
            padding-right: 0;
        }
    }

}

@include article-large-size {

    .a-header__content {
        padding-left: 0;
    }

    .a-header--video {
        padding-left: 0;
    }

}


// .a-header__hero {}
// .a-header__hero-content {}

// .a-header__sponsor {}
// .a-header__sponsor-prefix {}
// .a-header__sponsor-name {}
// .a-header__sponsor-image {}
