.a-podcast {
    margin: 40px 0;
}
.a-podcast__audio {
    margin: 0 0 24px 0;
}
.a-podcast__player {
    width: 100%;
}
.a-podcast__list {}
.a-podcast__list-item {
    margin: 10px 0;
}
.a-podcast__btn {}
.a-podcast__btn--itunes,
.a-podcast__btn--rss {
    @include button-single-three;
    @include button-single-three-light;
    box-sizing: border-box;
    border-radius: 0;
    height: 48px;
    line-height: 48px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    &:hover,
    &:focus {
        @include button-single-three-light-hover;
    }
}
.a-podcast__btn--download {
    @include button-single;
    @include button-single-light;
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    &:hover,
    &:focus {
        @include button-single-light-hover;
    }
}

@include at-small-size {
    .a-podcast {
        margin: 48px 0;
    }
    .a-podcast__list-item {
        display: inline-block;
        margin: 0 10px 0 0;
    }
    .a-podcast__btn {
        width: auto;
    }
}
