
.a-review {
    background-color: $white;
    border: 1px solid $ballet-grey;
    margin: 40px 0;
    padding: 34px 20px;
    position: relative;
    text-align: center;
}
.a-review:before {
    background-color: $ballet-grey;
    content: '';
    display: block;
    height: 32px;
    left: 50%;
    position: absolute;
    top: -16px;
    width: 1px;
}

.a-review__item {
    margin: 20px 0 26px 0;
}

.a-review__separator {
    display: none;
}

.a-review__key {
    @include font('SOLEIL', 12px, null, 16px);
    color: $candle-grey;
    letter-spacing: 0.12em;
    margin: 0;
    text-transform: uppercase;
}
.a-review__value {
    @include font('SOLEIL', 14px, null, 20px);
    color: $ascot-grey;
    letter-spacing: 0.03em;
    margin-top: 12px;
}

.a-review__item--rating {}

.a-review__rating-list {
    display: inline-block;
    font-size: 0;
}

.a-review__rating-list__item {
    background-color: rgba($ballet-grey, 0.5);
    display: inline-block;
    height: 8px;
    width: 8px;
}
.a-review__rating-list__item + .a-review__rating-list__item {
    margin-left: 2px;
}
.a-review__rating-list__item--active {
    background-color: $sweet-pea;
}

.a-review__rating {
    @include font('SOLEIL', 12px, 'BOLD', 12px);
    color: $ascot-grey;
    display: inline-block;
    letter-spacing: 0.03em;
    margin-left: 12px;
}
