.a-share {
    text-align: center;
}

.a-share__wrapper {}

.a-share__title {
    @include font('SOLEIL', 14px, null, 20px);
    box-shadow: inset 0 -0.5714em 0 0 $azure;
    color: $sapphire;
    display: inline-block;
    letter-spacing: 0.06em;
    margin: 0 0 16px 0;
    text-align: center;
}

.a-share__list {
    font-size: 0;
}

.a-share__list-item {
    margin: 0 5px;
}
.a-share__list-item--mobile {}

.a-share__youtube {
    margin: 24px 0 0 0;
}
.a-share__youtube__title {
    @include font('SOLEIL', 9px, null, 12px);
    color: $candle-grey;
    letter-spacing: 0.18em;
    margin: 0 0 0 16px;
    text-transform: uppercase;
}


