.a-share {
    text-align: center;
}

.a-share__wrapper {}

.a-share__title {
    @include font('SOLEIL', 14px, null, 16px);
    box-shadow: inset 0 -0.5em 0 0 $azure;
    color: $sapphire;
    display: inline-block;
    letter-spacing: 0.03em;
    margin: 0 0 16px 0;
    text-align: center;
}

.a-share__list {
    font-size: 0;
}

li.a-share__list-item {
    margin: 0 5px;
}
.a-share__list-item--mobile {}

.a-share__youtube {}
.a-share__youtube__title {}


