.a-sidebar-content {}

.a-sidebar-content__title {
    @include font('SOLEIL', 14px, null, 16px);
    box-shadow: inset 0 -0.5em 0 0 $azure;
    color: $sapphire;
    display: inline-block;
    letter-spacing: 0.03em;
    margin: 0 0 18px 0;
}

.a-sidebar-content__list {}

.a-sidebar-content__list-item {

    .c-card {}

    .c-card__images {
        margin: 0 0 10px 0;
    }

    .c-card__images:after {
        display: none;
    }

    .c-card__title {
        @include font('SOLEIL', 14px, null, 18px);
        color: $ascot-grey;
        letter-spacing: 0.01em;
    }

}
