// -------------------- //
// Card
// -------------------- //
.bb-card {
    border: 1px solid $silver;
    margin: 30px 0;
    padding: 15px;

    @include at-x-large-size {
        margin: 40px 0;
    }

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding: 20px;
        &:before {
            @include font("BRANDON GROTESQUE", 11px, 700, 11px);
            border-left: 1px solid $silver;
            border-top: 1px solid $silver;
            bottom: 0;
            color: $mine-shaft;
            content: "Continue Reading";
            letter-spacing: 1px;
            padding: 15px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
        }

        &:hover{
            &:before {
                @include button-single-light-hover();
            }
        }
    }
}

.bb-card__link {}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header {
    display: table-cell;
    padding-right: 13px;
    vertical-align: top;
    width: 92px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding-right: 20px;
        width: 182px;
    }
}

.bb-card__images {}
.bb-card__image {
    background-color: $dove-gray;
    padding-top: 100%;
}

.bb-card__image__icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 48px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: 20px;
        fill: $white;
    }
}

.bb-card__obj__body {
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.bb-card__header {}

p.bb-card__tag {
    @include font("BRANDON GROTESQUE", 10px, 700, 10px);
    color: $mine-shaft;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        margin-bottom: 10px;
    }
}

h3.bb-card__title {
    @include font("MILLER_DISPLAY", 16px, 700, 17px);
    color: $mine-shaft;
    letter-spacing: 0.5px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include font-size(27px);
        @include line-height(29px);
    }
}

.bb-card__teaser {
    display: none;
}

.bb-card__footer {}

.bb-card__byline {
    display: none;
}

.bb-card__byline--sponsorship {}

.bb-card__byline-prefix {}

.bb-card__byline-name {
    display:none;
}

ul.bb-card__meta {
    display: none;
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }
}

.bb-figure__wrapper {
    background-color: $wild-sand;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.bb-figure__caption {
    .bb-p {
        margin: 0;
    }
}

.bb-figure__credit {
    @include font("BRANDON GROTESQUE", 8px, 400);
    color: $dove-gray;
    letter-spacing: 1px;
    margin-top: 10px;
    text-transform: uppercase;
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    border: 1px solid $silver;
    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }
}

.bb-gallery__icon {
    display: table-cell;
    height: 40px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 40px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border: 1px solid $silver;
        box-sizing: border-box;
        content: "";
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
    }

    svg {
        display: block;
        fill: $mine-shaft;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

.bb-gallery__title {
    @include font("MILLER_DISPLAY", 15px, 700, 15px);
    color: $mine-shaft;
    display: table-cell;
    letter-spacing: 0.5px;
    margin: 0;
    padding-right: 10px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(18px);
        @include line-height(18px);
    }
}

.bb-gallery__link {}
.bb-gallery__cols {}
ul li.bb-gallery__col {
    background-color: $dove-gray;
    margin: 0;
    padding: 0;

    &:after{
        display: none;
    }
}

.bb-gallery__remaining {
    background-color: rgba($black, 0.7);
    white-space: nowrap;
}


.bb-gallery__remaining-text--prefix {
    @include font("BRANDON GROTESQUE", 20px, 700, 20px);
    bottom: 3px;
    color: $white;
    position: relative;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(25px);
        @include line-height(25px);
    }

}

.bb-gallery__remaining-text--value{
    @include font("BRANDON GROTESQUE", 25px, 700, 25px);
    color: $white;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(30px);
        @include line-height(30px);
    }
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    border: 1px solid $silver;
    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }
}

.bb-video__icon {
    display: table-cell;
    height: 40px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 40px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border: 1px solid $silver;
        box-sizing: border-box;
        content: "";
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
    }

    svg {
        display: block;
        fill: $mine-shaft;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

.bb-video__title {
    @include font("MILLER_DISPLAY", 15px, 700, 15px);
    color: $mine-shaft;
    display: table-cell;
    letter-spacing: 0.5px;
    margin: 0;
    padding-right: 10px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(18px);
        @include line-height(18px);
    }
}

.bb-video__image {}
.bb-video__image-icon {
    display: none;
}

.bb-video__link {}