@import "@cnbritain/merlin-www-common:houseandgarden";
@import "@cnbritain/merlin-www-buttons:houseandgarden";

@import "../wireframe/wireframe";

// -------------------- //
// Default
// -------------------- //
.bb-p {
    @include font("MILLER_DISPLAY", 17px, 400, 23px);
    color: $mine-shaft;
    margin: 0 0 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(19px);
        @include line-height(25px);
        margin-bottom: 10px;
    }
}

.bb-strong {
    font-weight: bold;
}

.bb-em {
    font-style: italic;
}

.bb-abbr {
    text-decoration: underline;
}

.bb-mark {
    background-color: $vanilla-ice;
}

.bb-a {
    color: $mine-shaft;
    border-bottom: 1px solid $careys-pink;
    padding-bottom: 1px;
}

.bb-h1,
.bb-h2,
.bb-h3,
.bb-h4,
.bb-h5,
.bb-h6 {
    color: $mine-shaft;
    letter-spacing: 0px;
    margin: 0 0 10px 0;
}

.bb-h1 {
    @include font("MILLER_DISPLAY", 35px, 700, 38px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(65px);
        @include line-height(68px);
    }
}

.bb-h2 {
    @include font("MILLER_DISPLAY", 28px, 700, 31px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(30px);
        @include line-height(33px);
    }
}

.bb-h3 {
    @include font("MILLER_DISPLAY", 24px, 700, 27px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(28px);
        @include line-height(31px);
    }
}

.bb-h4 {
    @include font("MILLER_DISPLAY", 20px, 700, 23px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(24px);
        @include line-height(27px);
    }
}

.bb-h5 {
    @include font("MILLER_DISPLAY", 16px, 700, 19px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(23px);
    }
}

.bb-h6 {
    @include font("MILLER_DISPLAY", 12px, 700, 15px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(16px);
        @include line-height(19px);
    }
}

.bb-hr {

}

.bb-pre {
    @include font-size(17px);
    @include line-height(17px);
    background-color: $advert-light;
    border-radius: 4px;
    border: 1px solid $silver;
    color: $dove-gray;
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    margin: 30px 0;
    padding: 20px;
    white-space: pre-wrap;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }
}

.bb-ul {
    @include font("MILLER_DISPLAY", 17px, 400, 23px);
    color: $mine-shaft;
    letter-spacing: 0;
    list-style: none;
    margin: 30px 0;
    padding: 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font("MILLER_DISPLAY", 19px, 400, 23px);
        margin: 40px 0;
    }

    .bb-li {
        margin-bottom: 5px;
        padding-left: 26px;
        position: relative;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            margin-bottom: 8px;
        }

        &:after {
            background: $black;
            content: "";
            display: block;
            height: 6.4px;
            left: 0;
            position: absolute;
            top: 8px;
            transform: rotate(45deg);
            width: 6.4px;
        }
    }
}

.bb-ol {
    @include font("MILLER_DISPLAY", 17px, 400, 23px);
    color: $mine-shaft;
    counter-reset: li;
    letter-spacing: 0;
    list-style-type: none;
    margin: 30px 0;
    padding-left: 0px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font("MILLER_DISPLAY", 19px, 400, 23px);
        margin: 40px 0;
    }

    .bb-li {
        padding-bottom: 15px;
        padding-left: 40px;
        position: relative;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            padding-left: 43px;
        }

        &:before {
            color: $white;
            content: counter(li);
            counter-increment: li;
            background: $black;
            border: 1px solid $black;
            border-radius: 50%;
            height: 23px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 23px;

            @include min-screen($TYPE_LARGE_COPY_WIDTH) {
                height: 28px;
                width: 28px;
            }
        }
    }
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font("MILLER_DISPLAY", 16px, 400, 21px);
    color: $mine-shaft;
    font-style: italic;
    letter-spacing: 0;
    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }

    &:before {
        background: $mine-shaft;
        content:"";
        display: block;
        height: 7px;
        margin-bottom: 12px;
        width: 30px;
    }
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("MILLER_DISPLAY", 87px, 300, 87px);
    box-sizing: border-box;
    color: $mine-shaft;
    float: left;
    height: 90px;
    letter-spacing: 0;
    text-transform: capitalize;
    width: 100px;

    .is-macos &,
    .is-linux & {
        //padding-top: 8px;
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(119px);
        @include line-height(119px);
        height: 124px;
        width: 136px;
    }
}

// -------------------- //
// Embed
// -------------------- //
.bb-embed {
    //margin: 40px 0;
}

// -------------------- //
// Interactive
// -------------------- //
.bb-interactive {
    //margin: 40px 0;
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    border-left: 1px solid $silver-chalice;
    margin: 0 0 16px 0;
    padding-left: 20px;
}

.bb-blockquote__quote {
    @include font("BRANDON GROTESQUE", 18px, 400, 27px);
    color: $silver-chalice;
    margin: 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(21px);
        @include line-height(30px);
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font("BRANDON GROTESQUE", 10px, 400, 10px);
    color: $silver-chalice;
    text-transform: uppercase;
    margin-top: 15px;
}

// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    margin: 40px 0;
    text-align: center;
}

.bb-pullquote__quote {
    @include font("MILLER_DISPLAY", 20px, 400, 30px);
    color: $mine-shaft;
    letter-spacing: 4px;
    text-transform: uppercase;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(25px);
        @include line-height(35px);
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font("BRANDON GROTESQUE", 10px, 700, 10px);
    color: $mine-shaft;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    border: 1px solid $mine-shaft;
    margin: 40px 0;
    overflow: visible;
    // 11px is the negative top on the title
    padding: (20px + 11px) 20px 30px 20px;
    position: relative;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: (30px + 11px) 30px 40px 30px;
    }
}

.bb-infobox__title {
    @include font("MILLER_DISPLAY", 21px, 700, 23px);

    background: $white;
    box-sizing: border-box;
    color: $mine-shaft;
    display: inline-block;
    letter-spacing: 1px;
    left: 50%;
    margin-bottom: 20px;
    padding: 0 20px;
    position: absolute;
    top: -11px;
    text-transform: uppercase;
    transform: translateX(-50%);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin-bottom: 30px;
    }

    &:before,
    &:after {
        background-color: $black;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 1px;
    }

    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }

}

.bb-infobox__hr {
    display: none;
}

.bb-infobox__body{}
.bb-infobox__item {
    margin: 0;

    & + .bb-infobox__item {
        margin-top: 10px;
    }
}

.bb-infobox__item__key {
    @include font("BRANDON GROTESQUE", 15px, 800, 15px);

    color: $mine-shaft;
    letter-spacing: 1px;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: underline;
}

.bb-infobox__item__value {
    @include font("MILLER_DISPLAY", 16px, 400, 20px);

    color: $mine-shaft;
    margin: 10px 0;
}

// -------------------- //
// Callout
// -------------------- //
.bb-callout {
    border: 1px solid $mine-shaft;
    margin: 40px 0;
    padding: 20px 20px 30px;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 30px 30px 40px;
    }
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    margin: 30px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 40px 0;
    }
}

.bb-figure__wrapper {
    background-color: $dove-gray;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.bb-figure__caption {

    .bb-p {
        margin: 0;
    }
}

.bb-figure__credit {
    @include font("BRANDON GROTESQUE", 10px, 400, 10px);
    color: $dove-gray;
    letter-spacing: 1px;
    margin-top: 10px;
}


// -------------------- //
// Question
// -------------------- //
.bb-question {
    margin: 40px 0 20px;
    position: relative;
}

.bb-question__question {
    p {
        @include font("MILLER_DISPLAY", 19px, 800, 19px);
        color: $mine-shaft;
        letter-spacing: 0;
        margin-bottom: 10px;
        text-indent: 40px;
    }
}

.bb-question__q {
    @include font("BRANDON GROTESQUE", 19px, 700, 19px);
    color: $careys-pink;
    letter-spacing: 0;
    left: 0;
    position: absolute;
    text-indent: 0;
}

.bb-question__separator {
    display: none;
}

.bb-question__author {
    @include font("BRANDON GROTESQUE", 10px, 700, 10px);
    color: $mine-shaft;
    letter-spacing: 0;
    text-indent: 40px;
    text-transform: uppercase;
}

.bb-question__by {
    display: none;
}

// -------------------- //
// Answer
// -------------------- //
.bb-answer {
    margin: 20px 0 20px;
    position: relative;
}

.bb-answer__answer {
    p {
        margin-bottom: 10px;
        text-indent: 40px;
    }
}

.bb-answer__a {
    @include font("BRANDON GROTESQUE", 19px, 700, 19px);
    color: $careys-pink;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-indent: 0;
}

.bb-question__separator {
    display: none;
}

.bb-answer__author {
    @include font("BRANDON GROTESQUE", 10px, 700, 10px);
    color: $mine-shaft;
    letter-spacing: 0;
    text-indent: 40px;
    text-transform: uppercase;
}

.bb-answer__by {
    display: none;
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    border-bottom: 1px solid $silver;
    border-left: 1px solid $silver;
    border-right: 1px solid $silver;
    border-top: 1px solid $silver;
    margin: 40px 0;
}

.bb-gallery__icon {
    display: table-cell;
    height: 40px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 40px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border: 1px solid $silver;
        box-sizing: border-box;
        content: "";
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
    }

    svg {
        display: block;
        fill: $mine-shaft;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

h4.bb-gallery__title {
    @include font("MILLER_DISPLAY", 15px, 600, 15px);
    color: $mine-shaft;
    display: table-cell;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-top: 12px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(18px);
        @include line-height(18px);
        padding-bottom: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

.bb-gallery__link {}
.bb-gallery__cols {}
ul li.bb-gallery__col {
    background-color: $dove-gray;
    margin: 0;
    padding: 0;

    &:after{
        display: none;
    }
}

.bb-gallery__remaining {
    background-color: rgba($black, 0.7);
    white-space: nowrap;
}


.bb-gallery__remaining-text--prefix {
    @include font("BRANDON GROTESQUE", 20px, 700, 20px);
    bottom: 3px;
    color: $white;
    position: relative;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(25px);
        @include line-height(25px);
    }

}

.bb-gallery__remaining-text--value{
    @include font("BRANDON GROTESQUE", 25px, 700, 25px);
    color: $white;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(30px);
        @include line-height(30px);
    }
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    border-bottom: 1px solid $silver;
    border-left: 1px solid $silver;
    border-right: 1px solid $silver;
    border-top: 1px solid $silver;
    margin: 40px 0;
}

.bb-video__title-icon {
    height: 40px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    width: 40px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 16px;
    }

    &:before {
        border: 1px solid $silver;
        box-sizing: border-box;
        content: "";
        height: 40px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
    }

    svg {
        display: block;
        fill: $mine-shaft;
        height: 100%;
        margin: 0 auto;
        width: 20px;
    }
}

h4.bb-video__title {
    @include font("MILLER_DISPLAY", 15px, 600, 15px);
    color: $mine-shaft;
    letter-spacing: 0.5px;
    margin: 0;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(18px);
        @include line-height(18px);
    }
}

.bb-video__wrapper {}
.bb-video__image-icon {
    display: none;
}

.bb-video__link {}


// -------------------- //
// Button
// -------------------- //
.bb-button {}

// -------------------- //
// Card
// -------------------- //
.bb-card {
    border: 1px solid $silver;
    margin: 40px 0;
    padding: 15px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding: 20px;
        &:before {
            @include font("BRANDON GROTESQUE", 11px, 700, 11px);
            border-left: 1px solid $silver;
            border-top: 1px solid $silver;
            bottom: 0;
            color: $mine-shaft;
            content: "Continue Reading";
            letter-spacing: 1px;
            padding: 15px;
            position: absolute;
            right: 0;
            text-transform: uppercase;
        }

        &:hover{
            &:before {
                @include button-single-light-hover();
            }
        }
    }
}

.bb-card__link {}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header {
    display: table-cell;
    padding-right: 13px;
    vertical-align: top;
    width: 92px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding-right: 20px;
        width: 182px;
    }
}

.bb-card__images {}
.bb-card__image {
    background-color: $dove-gray;
    padding-top: 100%;
    @include min-screen($CARD_SWITCHER_WIDTH) {
        padding-top: 66.66666%;
    }
}

.bb-card__image__icon {
    @include vendor-prefix(transform, translate(-50%, -50%));
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 48px;
    left: 50%;
    top: 50%;
    width: 48px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: 20px;
        fill: $white;
    }
}

.bb-card__obj__body {
    display: table-cell;
    vertical-align: top;
    width: auto;
}

.bb-card__header {}

p.bb-card__tag {
    @include font("BRANDON GROTESQUE", 10px, 700, 10px);
    color: $mine-shaft;
    letter-spacing: 1px;
    margin-bottom: 5px;
    margin-top: 0;
    text-transform: uppercase;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        margin-bottom: 10px;
    }
}

h3.bb-card__title {
    @include font("MILLER_DISPLAY", 16px, 700, 17px);
    color: $mine-shaft;
    letter-spacing: 0.5px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include font-size(27px);
        @include line-height(29px);
    }
}

.bb-card__teaser {
    display: none;
}

.bb-card__separator {
    display: none;
}

.bb-card__footer {}

.bb-card__byline {
    display: none;
}

.bb-card__byline--sponsorship {}

.bb-card__byline-prefix {}

.bb-card__byline-name {
    display:none;
}

ul.bb-card__meta {
    display: none;
}
