@import '@cnbritain/merlin-www-common:wired';

@import '../wireframe/wireframe';
@import '../wireframe/_debug';

.ad__main {

    &.is-hidden {

    }

    &.stick-wrapper {

    }

    &.is-sticky-block {

    }
}

.ad--homepage {
    background-color: $snow;
    padding: 20px 0;

    .ad__block {
        padding: 0;
    }
}

.ad--article {
    text-align: center;
}

.ad--article-header {
    background-color: $raisin-black;
}

.ad--article-video {
    .ad__block {

    }
}

.ad--article-rail {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        margin: 0;
        right: 0;
        width: 300px;
    }

    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            background-color: transparent;
            padding: 0;
        }
    }
}

.ad--article-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--article-inline {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: 0;
        margin-right: 0;
    }
}

.ad--gallery {}

.ad--gallery-inline {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: 0;
        margin-right: 0;
    }
}

.ad--gallery-side {
    display: none;
    margin: 0 auto $DESKTOP_SLICE_MARGIN auto;
    width: 300px;

    .ad__block {
        background-color: transparent;
        padding: 0;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: block;
        margin-bottom: 0;
        position: absolute;
        right: 0;
    }
}

.ad--gallery__interstitial-image,
.ad--gallery__interstitial-video {
    cursor: pointer;
    max-width: 100%;
}

.ad--tag {

}

.ad--tag-header {
    .ad__block {
        background-color: $raisin-black;
    }
}

.ad--tag-rail {
    margin: 10px (-$MOBILE_SIDE_GUTTER + 10) 10px (-$MOBILE_SIDE_GUTTER + 10);

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER + 10;
        margin-right: -$TABLET_SIDE_GUTTER + 10;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        clear: right;
        float: right;
        margin: 10px -340px 0 40px;

        &.stick-wrapper--fixed {
            margin-right: -40px;
        }
    }

    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            background-color: transparent;
            padding: 0;
        }
    }
}

.ad--tag-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        left: 100%;
        position: absolute;
        top: 0;
    }
}

.ad--tag-inline {
    // padding: 0 10px;
    // position: relative;
    // margin: 10px (-$MOBILE_SIDE_GUTTER + -10px);


    // @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
    //     margin-left: -$TABLET_SIDE_GUTTER;
    //     margin-right: -$TABLET_SIDE_GUTTER;
    // }

    // @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    //     margin-left: -$DESKTOP_SIDE_GUTTER;
    //     margin-right: (-$DESKTOP_SIDE_GUTTER + -340px + -10px);

    //     &:before {
    //         // background: $albaster;
    //         content: "";
    //         height: 100%;
    //         width: 100vw;
    //         position: absolute;
    //         left: 50%;
    //         right: 50%;
    //         margin-left: -50vw;
    //         margin-right: -50vw;
    //     }
    // }
}

.ad__title {
    @include font("BRUTAL", 9px, 700, 12px);
    display: block;
    margin-bottom: 5px;
    margin-top: 0;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    text-align: left;
    text-transform: uppercase;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }
}

.ad__block {
    padding: 20px 0;
    text-align: center;

    &.is-sticky-element {

    }
}

.ad__container {

}