@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-buttons:brides";

@import "../wireframe/wireframe";

.c-topic-strip {
    border-bottom: 1px solid $ballet-grey;
    border-top: 1px solid $ballet-grey;
    overflow-x: initial;
    position: relative;
    text-align: left;

    @include desktop-size {
        box-sizing: border-box;
        border: 1px solid $ballet-grey;

        &:before {
            background-color: $white;
            bottom: 16px;
            content: '';
            left: -1px;
            position: absolute;
            right: -1px;
            top: 16px;
        }
    }

    &:after {
        background-color: $ballet-grey;
        content: '';
        height: 32px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        width: 1px;
    }
}

.c-topic-strip--bleed {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include tablet-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .c-topic-strip__wrapper {
        margin-left: -$MOBILE_SIDE_GUTTER;
        margin-right: -$MOBILE_SIDE_GUTTER;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;

        @include tablet-size{
            margin-left: -$TABLET_SIDE_GUTTER;
            margin-right: -$TABLET_SIDE_GUTTER;
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}

.c-topic-strip--c-card-section {
    margin-bottom: 36px;
    margin-top: 24px;

    @include desktop-size {
        margin-bottom: 44px;
        margin-top: 28px;
        text-align: center;
    }
}

.c-topic-strip__wrapper {
    overflow-x: auto;
    padding: 21px 0;
    position: relative;
}

.c-topic-strip__title {
    @include font("FREIGHT DISPLAY PRO", 16px, 400, 16px, 20);
    color: $candle-grey;
    font-style: italic;
    margin-right: 32px;
    position: relative;
}

.c-topic-strip__list {
    font-size: 0;
    position: relative;
}

li.c-topic-strip__item {
    font-size: initial;

    & + li.c-topic-strip__item {
        margin-left: 32px;
    }
}

.c-topic-strip--article-related {
    margin: 40px 0 0 0;
    text-align: center;

    &:after {
        display: none;
    }

    @include article-large-size {
        margin-top: 48px;
    }
}

.c-topic-strip__btn {
    @include button-group();
    @include button-group-light();

    &:hover {
        @include button-group-light-hover();
    }
}

.c-topic-strip__btn--related {}