@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-buttons:brides";

@import "../wireframe/wireframe";

.c-topic-strip {
    border-bottom: 1px solid $ballet-grey;
    border-top: 1px solid $ballet-grey;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    white-space: nowrap;

    &:after {
        background-color: $ballet-grey;
        content: '';
        height: 32px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        width: 1px;
    }

    @include at-x-large-size {
        border: 1px solid $ballet-grey;

        &:before {
            background-color: $white;
            bottom: 16px;
            content: '';
            left: -1px;
            position: absolute;
            right: -1px;
            top: 16px;
        }
    }
}

.c-topic-strip-wrapper {
    // Negate margin on bottom of items
    margin-bottom: -16px;
    padding: 21px 0;
    // Needed for the :before strip on desktop in .c-topic-strip
    position: relative;
}

.c-topic-strip__title {
    @include font("FREIGHT DISPLAY PRO", 16px, null, 16px, 20);
    color: $candle-grey;
    display: inline-block;
    font-style: italic;
    margin-bottom: 16px;
    margin-right: 32px;
    position: relative;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__list-item {
    margin-bottom: 16px;
    margin-right: 32px;

    &:last-child {
        margin-right: 0;
    }
}

.c-topic-strip__link {
    @include button-group();
    @include button-group-light();

    &:hover,
    &:focus {
        @include button-group-light-hover();
    }
}


.c-topic-strip--a-related,
.c-topic-strip--sh-trends {
    margin: 40px (-$MOBILE_SIDE_GUTTER);

    &:after {
        display: none;
    }

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item:last-child {
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include at-medium-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $MOBILE_SIDE_GUTTER;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include at-x-large-size {
        margin-left: 0;
        margin-right: 0;

        .c-topic-strip-wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: 0;
        }
    }
}

.c-topic-strip--c-card-section {
    margin: 24px (-$MOBILE_SIDE_GUTTER) 36px (-$MOBILE_SIDE_GUTTER);

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item:last-child {
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include at-medium-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $TABLET_SIDE_GUTTER;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }

    @include at-x-large-size {
        margin: 28px 0 44px 0;

        .c-topic-strip-wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: 0;
        }
    }
}

.c-topic-strip--tg-header {
    margin: 0 (-$MOBILE_SIDE_GUTTER);

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item:last-child {
        padding-right: $MOBILE_SIDE_GUTTER;
    }

    @include at-medium-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $MOBILE_SIDE_GUTTER;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: $MOBILE_SIDE_GUTTER;
        }
    }

    @include at-x-large-size {
        margin: 0;

        .c-topic-strip-wrapper {
            padding-left: 20px;
            padding-right: 20px;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: 0;
        }
    }
}
