@import "@cnbritain/merlin-www-common:wireframe";

.c-magazine {}

.c-magazine-wrapper {
    @include at-medium-size {
        display: table;
        width: 100%;
    }
}

.c-magazine__title {
    @include at-medium-size {
        display: none;
    }
}

.c-magazine__covers {
    position: relative;

    @include at-medium-size {
        display: table-cell;
        width: 50%;
        vertical-align: middle;

        padding-right: 70px;
    }
}

.c-magazine__cover {
    position: relative;
}

.c-magazine__cover--print {
    img {
        width: 60%;
        margin-left: $MOBILE_SIDE_GUTTER;
    }

    @include at-medium-size {
        img {
            margin-left: 0;
        }
    }
}

.c-magazine__cover--tablet {
    img {
        background-color: #000;
        border-radius: 7px;
        padding: 15px 8px;
        width: 40%;
        position: absolute;
        right: $MOBILE_SIDE_GUTTER;
        bottom: 0;
    }

    @include at-x-large-size {
        img {
            border-radius: 15px;
            padding: 30px 20px;
            width: 45%;
        }
    }
}

.c-magazine__cover-img {}

.c-magazine__contents {
    @include at-medium-size {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}

.c-magazine__contents-title {
    display: none;

    @include at-medium-size {
        display: block;
    }
}

.c-magazine__contents-date {}
.c-magazine__cards {}

.c-magazine__cards-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    position: relative;
}

.c-magazine__cards-listitem {
    box-sizing: border-box;
    font-size: initial;
    vertical-align: top;
    width: 100%;
}

.c-magazine__contents-btn {
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    @include at-medium-size {
        margin-left: initial;
        margin-right: initial;
    }

}