@import "@cnbritain/merlin-www-common:wireframe";
@import "@cnbritain/merlin-www-buttons:wireframe";
@import "@cnbritain/merlin-www-card-list:wireframe";
@import "@cnbritain/merlin-www-card:wireframe";

.c-splash-section {
    position: relative;
}

.c-splash-section__wrapper {

}

.c-splash-hero {

}

.c-splash-hero__byline {}
.c-splash-hero__byline-name {}
.c-splash-hero__byline-prefix {}
.c-splash-hero__content {}
.c-splash-hero__teaser {}
.c-splash-hero__image {
    position: relative;

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.c-splash-hero__link {}
.c-splash-hero__link--article {
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.c-splash-hero__meta {}
.c-splash-hero__meta-item {
    display: inline-block;
}

.c-splash-hero__meta-item--date {}
.c-splash-hero__meta-item--tag {}

.c-splash-hero__tag {}
.c-splash-hero__title {}

.c-splash-list {}
.c-splash-list__wrapper {}