.c-gallery-strip {
    margin: 30px auto;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 50px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-gallery-strip__wrapper {
    margin: 0 auto;
    max-width: $XX_LARGE_SIZE;
    position: relative;
}

.c-gallery-strip__list__item {

    &:before {
        display: block;
        content: "";
        padding-top: 150%;
        position: relative;
    }

    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.c-gallery-strip__remaining {
    @include font("COMMUTER SANS", 27px, 400, 27px);
    background-color: rgba($black, 0.6);
    color: $white;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.c-gallery-strip__detail {
    position: relative;
}

.c-gallery-strip__title {
    @include font("STARLING", 24px, 400, 27px);
    color: $black;
    letter-spacing: -0.5px;
    margin: 20px 0 0 0;
    text-align: center;

    @include at-x-large-size {
        @include font-size(37px);
        @include line-height(40px);
        margin: 32px 0 0 0;
    }
}

// TODO
.c-gallery-strip__subtitle {}

.c-gallery-strip--tag {
    .c-gallery-strip__list {
        text-align: center;
    }

    .c-gallery-strip__list__item:nth-child(n+4) {
        display: none;
    }

    .c-gallery-strip__list__item:nth-child(3) {
        .c-gallery-strip__remaining {
            display: block;
        }
    }

    @include at-medium-size {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6) {
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(3) {
            .c-gallery-strip__remaining {
                display: none;
            }
        }

        .c-gallery-strip__list__item:nth-child(6) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            display: inline-block;
            width: 16.66%;
        }
    }

    @include at-x-large-size {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+8) {
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(6) {
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8) {

            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            width: 12.5%;
        }
    }
}