.c-gallery-strip {
    margin: 30px auto;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 50px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-gallery-strip-wrapper {}

.c-gallery-strip-wrapper:hover .c-gallery-strip__title,
.c-gallery-strip__link:focus ~ * .c-gallery-strip__title {
    span {
        border-bottom: 1px solid $black;
    }
}

.c-gallery-strip__listitem {}

.c-gallery-strip__remaining {
    @include font("COMMUTER SANS", 27px, 400, 27px);
    background-color: rgba($black, 0.6);
    color: $white;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.c-gallery-strip__detail {
    position: relative;
}

.c-gallery-strip__title {
    @include font("STARLING", 24px, 400, 27px);
    color: $black;
    letter-spacing: -0.5px;
    margin: 20px 0 0 0;
    text-align: center;

    @include at-medium-size {
        @include font-size(37px);
        @include line-height(40px);
        margin: 32px 0 0 0;
    }
}

.c-gallery-strip__subtitle {
    @include font('STARLING', 11px, 'BOLD', 13px);
    margin: 10px 0 0 0;
    text-align: center;
    text-transform: uppercase;

    @include at-medium-size {
        margin: 20px 0 0 0;
    }
}
