@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-image:traveller";

@import "../wireframe/wireframe";

.c-footer {
    background-color: $MUSTASAARI;
    border-top: 1px solid rgba($WHITE, 0.1);
    color: $WHITE;
    padding: 0 20px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 0 30px;
    }
}

.c-footer__wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.c-footer__list {
    color: $WHITE;
}

.c-footer__list--left {}
.c-footer__list--right {}

.c-footer__list-item--links {
    font-size: 0;

    .c-footer__list-item {
        @include max-screen(1099px) {
            border-top: 1px solid rgba($WHITE, 0.1);
            box-sizing: border-box;

            &:last-child {
                border-bottom: 1px solid rgba($WHITE, 0.1);
            }
        }

        @include min-screen(1100px) {
            margin-right: 16px;
        }
    }
}

li.c-footer__list-item {
    @include font("PROXIMA NOVA CONDENSED", 14px, 600, 60px, 0);
    color: $WHITE;
    height: 60px;

    a {
        text-decoration: none;
        color: inherit;
        border-bottom: none;

        @include min-screen(1100px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

li.c-footer__list-item--logo {
    margin-top: -60px;

    svg {
        fill: $WHITE;
        height: 60px;
        width: 80px;
    }

    @include min-screen(1100px) {
        clear: right;
        padding-left: 32px;
        margin-top: 0;
    }
}