@import "@cnbritain/merlin-www-common:traveller";
@import "@cnbritain/merlin-www-image:traveller";

@import "../wireframe/wireframe";

.c-footer__list-item--brand-logo {
    padding-bottom: 0;
    padding-top: 0;

    svg {
        fill: $WHITE;
        height: 60px;
        width: 80px;
    }
}
