@import "@cnbritain/merlin-www-buttons:houseandgarden";
@import "@cnbritain/merlin-www-common:houseandgarden";

@import "../wireframe/wireframe";

.c-infobar {
    background-color: $trout;
    padding: 12px 0;

    @include at-x-large-size {
        padding: 0;
    }
}

.c-infobar-wrapper {
    padding: 0 20px;
}

.c-infobar__message {
    @include font("MILLER_DISPLAY", 17px, 600, 17px);
    color: $white;
    text-align: center;
}

.c-infobar__btn {
    @include button-single();
    @include button-single-dark();
    &:hover {
        @include button-single-dark-hover();
    }

    margin: 12px 0 0 0;
    padding: 15px;

    @include at-x-large-size {
        margin: 0 0 0 20px;
    }
}