.c-top-stories {
    background: $COLOUR_BG_TOP_STORIES;
    display: none;
    padding: 0;

    @include desktop-size {
        display: block;
    }

}

.c-top-stories__wrapper {
    box-sizing: border-box;
    min-height: 120px;
    position: relative;
    padding: 16px 0 10px 16px;
}

.c-top-stories__title {
    display: none;
}

.c-top-stories__nav {
    position: absolute;
    z-index: 6;
    bottom: 0;
    right: 0;
    top: 0;
    width: 60px;
}

.c-top-stories__nav-btn {
    height: auto;
    position: absolute;
    width: 60px;
}

.c-top-stories__nav-btn--left {
    top: 50%;
    bottom: 0;
}

.c-top-stories__nav-btn--right {
    border-bottom: none;
    bottom: 50%;
    top: 0;
}

.c-top-stories__overflow {
    margin-left: -20px;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: 20px;
    padding-bottom: 10px;

    @include desktop-size {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0;
    }

    .has-no-scroll & {
        overflow-x: hidden;
    }
}
