.c-top-stories-lazy-load {
    background-color: $wild-sand;

    @include at-x-large-size {
        min-height: 103px;
    }
}

.c-top-stories-lazy-load__spinner {
    border-bottom: 10px solid rgba($black, 0.2);
    border-left: 10px solid rgba($black, 0.2);
    border-right: 10px solid rgba($black, 0.2);
    border-top: 10px solid $black;
}

.c-top-stories {
    background: $wild-sand;
    padding: 16px 0;

    &.has-navigation {
        .c-top-stories__cards-listitem:last-child {
            margin-right: 60px;
        }
    }
}

.c-top-stories-wrapper {
    box-sizing: border-box;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
    padding-left: 20px;
    transform: translateZ(0);

    @include screen(1440px, 1500px){
        padding-left: calc(20px - (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }
}

.c-top-stories__nav {
    bottom: -16px;
    position: absolute;
    right: 0;
    top: -16px;
    width: 60px;
    z-index: 2;
}

.c-top-stories__nav-btn {
    @include button-top-stories;

    &:hover, &:focus {
        @include button-top-stories-hover;
    }

    &:disabled {
        @include button-top-stories-disabled;
    }
}

.c-top-stories__nav-btn--right {
    border-bottom: none;
}

.c-top-stories__cards {
    margin-left: -20px;
    overflow-y: hidden;
    padding-left: 20px;
    transform: translateZ(0);

    @include screen(1440px, 1500px){
        padding-left: calc(20px - (100vw - 1440px)/2 );
        margin-left: calc(-20px + (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        margin-left: 0;
        padding-left: 0;
    }
}

.c-top-stories__cards-listitem {
    & + .c-top-stories__cards-listitem {
        margin-left: 20px;
    }
}
