.c-top-stories {
    display: none;

    @include at-x-large-size {
        background: $wild-sand;
        display: block;
        padding: 0;
    }

}

.c-top-stories-wrapper {
    box-sizing: border-box;
    min-height: 120px;
    position: relative;
    padding: 16px 0 10px 16px;
}

.c-top-stories__nav {
    position: absolute;
    z-index: 6;
    bottom: 0;
    right: 0;
    top: 0;
    width: 60px;
}

.c-top-stories__nav-btn--right {
    border-bottom: none;
}

.c-top-stories__overflow {
    margin-left: -20px;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: 20px;
    padding-bottom: 10px;

    @include at-x-large-size {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0;
    }
}
