
@import '@cnbritain/merlin-www-common:glamour_redux';

@import '../wireframe/wireframe';
@import '../wireframe/_debug';

.ad__main {}

.ad__block {}

.ad__title {
    @include font('GRAPHIK', 10px, 'NORMAL', 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    padding: 0 $MOBILE_SIDE_GUTTER;
    text-align: left;
    text-transform: uppercase;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: 0;
        padding-right: 0;
    }

}

.ad__container {
    background: $pampas;
    padding: 20px;

     @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
         padding: 20px;
     }
}

.ad--homepage {
    text-align: center;

    .ad__container {
        background-color: transparent;
    }


    &.ad--native-large {
        text-align: inherit;

        .ad__container {
            padding: 0;
        }
    }

    &:not(.is-hidden) {
        & + .c-splash-section {
            .c-splash-hero {
                margin-top: 0;
            }
        }
    }
}

.ad--article,
.ad--gallery {
    text-align: center;
}

.ad--article-header {}

.ad--article-video {
    .ad__container {
        background-color: $advert-dark;
    }
}

.ad--article-rail {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        margin: 0;
        right: 0;
        width: 300px;

        .ad__container {
            background: transparent;
            padding: 0;
        }

        .ad__block {
            margin: -20px 0;
            padding: 20px 0;
        }
    }
}

.ad--article-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--article-inline {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: 0;
        margin-right: 0;
    }
}

.ad--gallery-side {
    display: none;

    .ad__container {
        background-color: transparent;
        padding: 0;
    }

    @include min-screen(940px) {
        display: block;
        margin: 0 auto 60px auto;
        position: absolute;
        right: 0;
        width: 300px;
    }
}

.ad--gallery__interstitial-image,
.ad--gallery__interstitial-video {
    cursor: pointer;
    max-width: 100%;
}

.ad--gallery-inline {
    cursor: pointer;
    margin: 40px (-$MOBILE_SIDE_GUTTER);
    text-align: center;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: 0;
        margin-right: 0;

        .ad__container {
            background-color: transparent;
            padding: 0;
        }
    }

}

.ad--tag {
    text-align: center;
}

.ad--tag-header {}

.ad--tag-rail {
    // 10px - width of card list side padding
    margin: 5px (-$MOBILE_SIDE_GUTTER + 10) 5px (-$MOBILE_SIDE_GUTTER + 10);

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: 5px (-$TABLET_SIDE_GUTTER + 10) 5px (-$TABLET_SIDE_GUTTER + 10);
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        clear: right;
        float: right;
        margin: 10px -340px 0 40px;

        &.stick-wrapper--fixed {
            margin-right: -40px;
        }

        .ad__block {
            margin: -20px 0;
            padding: 20px 0;
        }

        .ad__container {
            background-color: transparent;
            padding: 0;
        }
    }
}

.ad--tag-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        left: 100%;
        position: absolute;
        top: 0;
    }
}

.ad--tag-inline {
    padding: 0 10px;
    position: relative;
    margin: 5px (-$MOBILE_SIDE_GUTTER);

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: 20px;
        margin-left: -$DESKTOP_SIDE_GUTTER;
        margin-right: (-$DESKTOP_SIDE_GUTTER + -340px + -10px);
        margin-top: 20px;

        .ad__block {
            left: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            right: 50%;
            width: 100vw;
        }
    }
}

.ad--native-small,
.ad--native-medium,
.ad--native-large {
    &:not(.is-hidden) .ad__container {
        background-color: transparent;
        padding: 0;
    }
}

.ad--native-medium {
    display: flex;
    flex-basis: 100%;
    height: 100%;
    width: 100%;

    .ad__block {
        display: flex;
    }
}