.a-review {
    border: 2px solid $COLOUR_BORDER_INFOBOX;
    margin: $MARGIN_LARGE 0;
    position: relative;
    padding: 20px;

    &:before {
        border: 1px solid $COLOUR_BORDER_INFOBOX;
        bottom: 10px;
        content: '';
        display: block;
        left: 10px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px;
    }
}

.a-review__item {
    @include font('AGENDA', 14px, 'MEDIUM', 17px);

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font('AGENDA', 16px, 'MEDIUM', 20px);
    }

    & + & {
        margin-top: 20px;
    }
}

.a-review__key {
    @include font('STARLING', 16px, 'BOLD', 20px);

    margin: 0;
    text-transform: uppercase;
}

.a-review__separator {
    border-color: $black;
    border-width: 1px 0 0 0;
    margin: 10px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        margin: 15px 0;
    }
}


.a-review__value {
    @include font('AGENDA', 14px, 'MEDIUM', 17px);

    margin: 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font('AGENDA', 16px, 'MEDIUM', 20px);
    }
}

.a-review__rating-list {
    display: inline-block;
}

li.a-review__rating-list__item {
    border: 1px solid $black;
    width: 10px;
    height: 10px;
    background: $white;
    margin-right: 5px;
}

li.a-review__rating-list__item--active {
    background: $black;
}

.a-review__rating {
    @include font('AGENDA', 12px, 'BOLD', 12px);

    display: inline-block;
    margin-left: 5px;
}
