@import '@cnbritain/merlin-www-common:wired';

@import '../wireframe/wireframe';

.c-int-redirect {
	background-color: $black;
}

.c-int-redirect-wrapper {
	max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-int-redirect__btn {
	height: 100%;
	position: absolute;
	right: 0;
	width: 80px;

	svg {
		border-radius: 50%;
		border: 1px solid $white;
		box-sizing: border-box;
		fill: $white;
		height: 24px;
		left: 50%;
		margin-left: 10px;
		padding: 6px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 24px;
	}
}

.c-int-redirect__msg {
	@include font("BRUTAL", 14px, 500, 18px);
	color: $white;
	padding: 20px 80px 20px 20px;
	text-align: left;

	label {
		border-bottom: 1px solid $white;
		color: $white;
	}

	@include at-x-large-size {
		padding: 24px 80px 24px 80px;
		text-align: center;
	}
}

.c-int-redirect__list {
	color: $white;
	font-size: 0;
	padding: 20px 80px 12px 20px;
	text-align: left;

	@include at-x-large-size {
		padding-left: 80px;
		text-align: center;
	}
}

.c-int-redirect__listitem {
	padding-bottom: 8px;

	a {
		@include font("BRUTAL", 14px, 500, 18px);
		color: inherit;
		padding: 0 7.5px;
	}
}