@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-buttons:glamour";

@import "../wireframe/wireframe";

.c-newsletter {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-left: auto;
    margin-right: auto;
    margin-top: $MOBILE_SLICE_MARGIN;
    position: relative;
    text-align: center;

    @include at-x-large-size(){
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-left: $DESKTOP_SLICE_MARGIN;
        margin-right: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
    }

    &::after{
        border-bottom: 20px solid transparent;
        border-image: url("/static/img/pattern-1.jpg") 20;
        bottom: -20px;
        content : "";
        position: absolute;
        right: 0;
        width: calc(100% - 20px);

         @include at-x-large-size(){
             display: none;
         }
    }
}

.c-newsletter-wrapper {
    background: $white;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: 30px $MOBILE_SIDE_GUTTER;
    position: relative;

    @include at-x-large-size(){
        border: solid 20px transparent;
        border-image: url("/static/img/pattern-1.jpg") 20;
        padding: 40px 0;
    }
}

.c-newsletter__logo {
    display: none;
}

.c-newsletter__title {
    @include font("MILLER_DISPLAY", 30px, 'SEMI BOLD', 34px);
    color: $dune;
    letter-spacing:0;
    margin-bottom: 20px;
    text-align: center;

    @include at-x-large-size(){
        @include font-size(40px);
        @include line-height(45px);
        margin-bottom: 10px;

    }

    &:before{
        background: url("/static/img/GL-newsletter.jpg") no-repeat;
        background-size: 100% 100%;
        border-radius: 50%;
        box-sizing: border-box;
        content:"";
        display: block;
        height: 90px;
        margin: 0 auto;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        width: 90px;
        z-index: 1;
    }
}

.c-newsletter__description {
    @include font("GRAPHIK", 15px, 'SEMI BOLD', 18px);
    color: $dune;
    letter-spacing:-0.5px;
    margin: 20px 0 20px 0;

    @include at-medium-size() {
        margin: 20px auto;
        text-align: center;
        width: 570px;
    }

    @include at-x-large-size(){
        @include font-size(19px);
        @include line-height(23px);
        margin: 10px auto 20px auto;
    }
}

.c-newsletter__form-text {
    @include font("GRAPHIK", 14px, 'NORMAL', 14px);
    background: #efefef;
    box-sizing: border-box;
    color: $dune;
    height: 40px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;

    @include at-medium-size() {
        text-align: left;
    }

    @include at-x-large-size(){
        @include font-size(16px);
        @include line-height(16px);
    }

    &::placeholder {
        color: rgba(55, 51, 48, 0.5);
    }
}

.c-newsletter__form__btn {
    @include button-single();
    @include font("GRAPHIK", 13px, 'SEMI BOLD', 13px);
    background-color: $dune;
    color: $white;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding-top: 10px;

    @include at-medium-size() {
        margin-left: 10px;
    }

    &:hover {
        background-color: $white;
        border: solid 1px $dune;
        color: $dune;
    }
}

.c-newsletter__legal {
    @include font("GRAPHIK", 11px, 'NORMAL', 11px);
    color: $dune;

    a {
        color: $dune;
        text-decoration: underline;
    }
}