// Common curated, article recommended, magazine articles, search results,
// video genre articles, shows summary latest articles
// Contains four cards
// Goes one, two, four
.c-card-list--c-curated,
.c-card-list--a-recommended,
.c-card-list--mag-articles,
.c-card-list--s-results,
.c-card-list--v-genre-articles,
.c-card-list--c-video-articles,
.c-card-list--sh-latest-articles {
    margin: 0 -20px;

    .c-card-list__item {
        padding: 0 20px;
        width: 100%;
    }

    @include one-column-size(){
        .c-card-list__item + .c-card-list__item {
            margin-top: 20px;

            .c-card {
                border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
                padding-top: 20px;

                &.c-card--dark {
                    border-top: 1px solid $COLOR_MAIN_SECONDARY;
                }
            }
        }
    }


    @include two-column-size(){
        .c-card-list__item {
            display: inline-block;
            margin-bottom: 30px;
            width: 50%;

            @include last(2){
                margin-bottom: 0;
            }
        }
    }

    @include four-column-size(){
        .c-card-list__item {
            width: 25%;

            @include last(4) {
                margin-bottom: 0;
            }
        }
    }
}

.c-card-list--a-recommended,
.c-card-list--g-recommended {
    @include one-column-size(){
        .c-card-list__item + .c-card-list__item {
            margin-top: 20px;

            .c-card {
                border-color: $COLOR_BORDER_SOLID_ACCENT1;
            }
        }
    }

    li.c-card__meta-item + li.c-card__meta-item {
        border-left-color: $COLOR_BORDER_SOLID_ACCENT1;
    }
}

// Common tag
// Contains 5 cards
// Goes one, two, three, five
.c-card-list--c-tag {
    margin: 0 -20px;
    text-align: center;

    .c-card-list__item {
        padding: 0 20px;
        text-align: left;
        width: 100%;
    }

    @include one-column-size(){
        .c-card-list__item + .c-card-list__item {
            margin-top: 20px;

            .c-card {
                border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
                padding-top: 20px;

                &.c-card--dark {
                    border-top: 1px solid $COLOR_MAIN_SECONDARY;
                }
            }
        }
    }


    @include two-column-size(){
        .c-card-list__item {
            display: inline-block;
            margin-bottom: 30px;
            width: 50%;

            @include last(1){
                margin-bottom: 0;
            }
        }
    }

    @include three-column-size(){
        .c-card-list__item {
            margin-bottom: 30px;
            width: 33.3%;

            @include last(2){
                margin-bottom: 0;
            }
        }
    }

    @include five-column-size(){
        .c-card-list__item {
            margin-bottom: 0;
            width: 20%;
        }
    }
}


// Gallery recommended, common magazine articles
// Contains 3 cards
// Goes one, three
.c-card-list--g-recommended {
    margin: 0 -20px;

    .c-card-list__item {
        margin-top: 20px;
        padding: 0 20px;
        width: 100%;
    }

    @include three-column-size(){
        .c-card-list__item {
            display: inline-block;
            margin-top: 0;
            width: 33.3%;
        }
    }
}

.c-card-list--c-contributors {
    @include three-column-size(){
        max-width: 600px;
        margin: 0 auto;
        text-align: center;

        .c-card-list__item {
            display: inline-block;
            padding: 0 20px;
            width: 33.3%;
        }
    }
}

.c-card-list--c-magazine-articles {
    .c-card-list__item + .c-card-list__item {
        margin-top: 20px;
    }
}



// Magazine magazines, show summary shows
// Contains four columns
// Goes two, four
.c-card-list--mag-magazines,
.c-card-list--sh-shows {
    margin: 0 -20px;

    .c-card-list__item {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0 20px;
        width: 50%;
    }

    @include four-column-size(){
        .c-card-list__item {
            margin-bottom: 30px;
            width: 25%;

            @include last(4){
                margin-bottom: 0;
            }
        }
    }

}


// Tagpage articles, show season articles, video articles
// This has to be done a little bit differently as an ad might be between
// each .c-card-list__item
// Contains one column
// Goes one
.c-card-list--tg-articles,
.c-card-list--sh-articles {

    .c-card-list__item {
        margin-top: 20px;
        width: 100%;

        .c-card {
            border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
            padding-top: 20px;

            &.c-card--dark {
                border-top: 1px solid $COLOR_MAIN_SECONDARY;
            }
        }

        @include first(1){
            margin-top: 0;
            .c-card {
                border-top: none;
                padding-top: 0;

                &.c-card--dark {
                    border-top: none;
                }
            }
        }

    }
}




// Video articles
// Contains three columns
// Goes one, two, three
.c-card-list--v-articles {
    margin: 0 -20px;

    .c-card-list__item {
        padding: 0 20px;
        width: 100%;
    }

    @include one-column-size(){
        .c-card-list__item + .c-card-list__item {
            margin-top: 20px;

            .c-card {
                border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
                padding-top: 20px;

                &.c-card--dark {
                    border-top: 1px solid $COLOR_MAIN_SECONDARY;
                }
            }
        }
    }


    @include two-column-size(){
        .c-card-list__item {
            display: inline-block;
            margin-bottom: 30px;
            width: 50%;

            @include last(2){
                margin-bottom: 0;
            }
        }
    }

    // This is suppose to be a 4 column trigger with 33.33%
    @include four-column-size(){
        .c-card-list__item {
            width: 33.33%;

            @include last(3){
                margin-bottom: 0;
            }
        }
    }
}


// Tag header articles
// Contains 3 cards
// Goes one, two, three
.c-card-list--tg-header-articles {
    margin: 0 -20px;
    text-align: center;

    .c-card-list__item {
        padding: 0 20px;
        text-align: left;
        width: 100%;
    }

    @include one-column-size(){
        .c-card-list__item + .c-card-list__item {
            margin-top: 20px;

            .c-card {
                border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
                padding-top: 20px;

                &.c-card--dark {
                    border-top: 1px solid $COLOR_MAIN_SECONDARY;
                }
            }
        }
    }


    @include two-column-size(){
        .c-card-list__item {
            display: inline-block;
            margin-bottom: 30px;
            width: 50%;

            @include last(1){
                margin-bottom: 0;
            }
        }
    }

    @include three-column-size(){
        .c-card-list__item {
            margin-bottom: 0;
            width: 33.33%;
        }
    }
}

.c-card-list--top-stories {
    white-space: nowrap;

    .c-card-list__item {
        display: inline-block;
        margin-right: $MARGIN_MEDIUM;
        width: 280px;
        white-space: normal;

        &:last-child {
            width: 280px;
        }

        &.is-hidden {
            height: 0;
            overflow: hidden;
            visibility: hidden;
            width: 0;
        }
    }
}

.c-card-list--v-related-articles {
    margin: 0 -20px;

    .c-card-list__item {
        padding: 0 20px;
        width: 100%;
    }

    .c-card-list__item + .c-card-list__item {
        margin-top: 20px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin-top: 12px;
        }

        .c-card {
            border-top: 1px solid #444;
            padding-top: 20px;

            @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                padding-top: 12px;
            }

            &.c-card--dark {
                border-top: 1px solid #444;
            }
        }
    }
}