@import "@cnbritain/merlin-www-buttons:gq";
@import "@cnbritain/merlin-www-common:gq";

@import "../wireframe/wireframe";

.c-infobar {}
.c-infobar-wrapper {
    background-color: $oslo-gray;
}

.c-infobar__content {
    padding: 12px 20px;
}

.c-infobar__message {
    @include font("GOTHAM", 15px, 700, 16px);
    color: $white;
    text-align: center;
}

.c-infobar__button {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }

    margin: 12px 0 0 0;
    padding: 13px 8px;

    @include at-x-large-size {
        margin: 0 0 0 20px;
    }
}