.a-review {
    border: 1px solid $mine-shaft;
    margin: 30px 0;
    overflow: visible;
    padding: 20px 20px 30px 20px;
    position: relative;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 30px 30px 40px 30px;
    }
}

.a-review__item {
    margin: 0 auto 20px auto;

    &:last-child {
        margin-bottom: 0;

        .bb-infobox__item__value {
            margin: 0;
        }
    }
}

.a-review__separator {
    display: none;
}

.a-review__key {
  @include font("BRANDON GROTESQUE", 15px, 800, 15px);

  color: $mine-shaft;
  letter-spacing: 1px;
  margin: 10px 0;
  text-transform: uppercase;
  text-decoration: underline;
}

.a-review__value {
    @include font("MILLER_DISPLAY", 16px, 400, 20px);
    color: $mine-shaft;
    margin: 10px 0;
}

.a-review__item--rating {
    margin: 30px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
      margin: 40px 0;
    }
}

.a-review__rating-list {
    font-size: 0;
    display: inline-block;
    margin: 10px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
      display: inline-block;
        overflow: inherit;
    }
}

li.a-review__rating-list__item {
    background-color: $vanilla-ice;
    display: inline-block;
    float: initial;
    height: 13px;
    margin-right: 4px;
    width: 13px;
    border-radius: 50px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-right: 5px;
    }
}

li.a-review__rating-list__item--active {
    background-color: $careys-pink;
}

.a-review__rating {
    @include font("BRANDON GROTESQUE", 14px, 700, 14px);
    color: $careys-pink;
    display: inline-block;
    margin-bottom: 10px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
      vertical-align: text-top;
    }
}
