.a-logo {}
// TODO
.a-logo--video {
    background-color: $ebony-clay;
    // padding: 32px 0 32px 0;

    // @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    //     padding: 48px 0 46px 0;
    // }

    // .a-logo__wrapper {
    //     height: 42px;
    //     margin: 0 auto;
    //     width: 268px;

    //     @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    //         height: 52px;
    //         margin: 0 auto;
    //         width: 331px;
    //     }
    // }

    // svg {
    //     fill: $WHITE;
    // }
}

.a-video {
    background-color: $ebony-clay;
}

.a-video__wrapper {

}

.a-video__player {}

.a-video__player__wrapper {

}

.a-video__sidebar {
    background-color: $ebony-clay;
    padding: 0 20px 20px 20px;
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font("BRANDON GROTESQUE", 13px, 700, 13px);
    color: $white;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    right: 20px;
    top: 33px;
}

.a-video__content-body {

}

.a-video__ad {
    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            padding: 0;
        }
    }
}