.c-magazine {
    background-color: $wild-sand;
    margin: $MOBILE_SLICE_MARGIN auto;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

}

.c-magazine-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding: 40px 20px;

    @include at-medium-size {
        padding: 80px 60px;
    }

    @include at-x-large-size {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.c-magazine__title {
    @include font('NOBEL', 11px, 'BOOK', 12px);
    color: $guardsman-red;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;

    @include at-medium-size {
        display: none;
    }
}

.c-magazine__covers {
    position: relative;

    @include at-medium-size {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
}

.c-magazine__cover {
    position: relative;
}

.c-magazine__cover--print {
    img {
        margin-left: $MOBILE_SIDE_GUTTER;
        width: 60%;
    }

    @include at-medium-size {
        img {
            margin-left: 0;
        }
    }
}

.c-magazine__cover--tablet {
    img {
        background-color: $mine-shaft-222;
        border-radius: 7px;
        bottom: 0;
        padding: 15px 8px;
        position: absolute;
        right: $MOBILE_SIDE_GUTTER;
        width: 40%;
    }

    @include at-x-large-size {
        img {
            border-radius: 15px;
            padding: 30px 20px;
            width: 45%;
        }
    }
}

.c-magazine__contents {
    @include at-medium-size {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
}

.c-magazine__contents-title {
   display: none;

    @include at-medium-size {
        @include font('NOBEL', 12px, 'BOOK', 12px);
        color: $guardsman-red;
        display: block;
        letter-spacing: 1px;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

.c-magazine__contents-date {
    @include font('ITC CASLON', 29px, null, 32px);
    margin: 30px 0;
    text-align: center;
    text-transform: capitalize;

    @include at-medium-size {
        @include font-size(41px);
        @include line-height(45px);
        margin: 10px 0 30px 0;
        text-align: left;
    }
}

.c-magazine__cards-list {
    .c-magazine__cards-listitem + .c-magazine__cards-listitem {
        margin-top: 20px;
    }
}

.c-magazine__contents-btn {
    @include button-single-two;
    @include button-single-two-light;
    display: table;
    margin-top: 40px;

    &:focus,
    &:hover {
        @include button-single-two-light-hover;
    }
}