.c-magazine {
    background-color: $wild-sand;
    margin: $MOBILE_SLICE_MARGIN auto;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
    }

}

.c-magazine__wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding: 40px 20px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 80px 60px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }
}

.c-magazine__link {}
.c-magazine__title {
    @include font('NOBEL', 11px, 'BOOK', 12px);
    color: $guardsman-red;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }
}

.c-magazine__covers {
    position: relative;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}

.c-magazine__covers__wrapper {
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-right: 70px;
    }
}

.c-magazine__cover {
    position: relative;
}

.c-magazine__cover--print {
    img {
        width: 60%;
        margin-left: $MOBILE_SIDE_GUTTER;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            margin-left: 0;
        }
    }
}

.c-magazine__cover--tablet {
    img {
        background-color: $mine-shaft-222;
        border-radius: 7px;
        padding: 15px 8px;
        width: 40%;
        position: absolute;
        right: $MOBILE_SIDE_GUTTER;
        bottom: 0;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            border-radius: 15px;
            padding: 30px 20px;
            width: 45%;
        }
    }
}
.c-magazine__cover__image {}
.c-magazine__content {
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}

.c-magazine__content__wrapper {}
.c-magazine__content__date {
    @include font('ITC CASLON', 29px, null, 32px);
    margin: 30px 0;
    text-align: center;
    text-transform: capitalize;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(41px);
        @include line-height(45px);
        margin: 10px 0 30px 0;
        text-align: left;
    }
}

.c-magazine__content__title {
   display: none;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        color: $guardsman-red;
        @include font('NOBEL', 12px, 'BOOK', 12px);
        display: block;
        letter-spacing: 1px;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
}

.c-magazine__content__subtitle {}
.c-magazine__btn {
    display: inline-block;
    margin-top: 40px;
    width: auto;

    @include button-single-two();
    @include button-single-two-light();
        &:hover {
            @include button-single-two-light-hover();
        }
}