@import '@cnbritain/merlin-www-common:brides';

@import '../wireframe/wireframe';

.c-gallery {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding-left: 0;
    padding-right: 0;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size{
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }

    &:hover {
        .c-gallery__title {
            color: $pink-rose;
        }
    }
}

.c-gallery__images {
    position: relative;

    @include at-medium-size {
        padding-right: 12px;
        width: 62.5%;

        &:before {
            background-color: $white;
            content: '';
            height: 32px;
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            z-index: 1;
        }
    }

    &:after {
        background-color: $pink-rose;
        bottom: 0;
        content: '';
        height: 32px;
        left: 50%;
        position: absolute;
        transform: translateY(50%);
        width: 1px;
        z-index: 1;

        @include at-medium-size {
            bottom: 50%;
            height: 1px;
            left: initial;
            right: 12px;
            transform: translateX(50%);
            width: 32px;
        }
    }
}

.c-gallery__image-item {
    width: 33.33333%;

    &:first-child {
        width: 66.66666%;
    }

    &:nth-last-child(2) {
        display: none;
    }
}

.c-gallery__image {
    background-color: $diamond;
}

.c-gallery__image-remaining {
    background-color: rgba($black, 0.25);
    color: $white;
    height: 50%;
    width: 33.33333%;
}

.c-gallery__image-remaining__text {
    @include font("SOLEIL", 24px, 400, 24px);

    @include at-medium-size {
        @include font-size(32px);
        @include font-size(32px);
    }
}

.c-gallery__contents {
    margin: 28px 0 44px 0;
    position: relative;
    text-align: center;
    position: relative;
    text-align: center;

    @include at-medium-size {
        padding: 40px 0 40px 12px;

        &:before {
            border: 1px solid $ballet-grey;
            bottom: 0;
            content: '';
            left: 12px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.c-gallery__contents-wrapper {
    > * {
        padding: 0 20px;
    }
}

.c-gallery__icon {
    display: none;

    @include at-medium-size {
        background-color: $blossom;
        border-radius: 50%;
        display: block;
        height: 48px;
        margin: 0 auto 24px auto;
        padding: 0;
        width: 48px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $pink-rose;
        }
    }
}

.c-gallery__tag {
    @include font("SOLEIL", 12px, 400, 16px, 180);
    color: $pink-rose;
    margin: 0 0 6px 0;
    text-transform: uppercase;
}

.c-gallery__title {
    @include font("FREIGHT DISPLAY PRO", 32px, 400, 32px, 10);
    color: $stroller-grey;
    margin: 6px 0 0 0;
    text-align: center;
    text-transform: capitalize;

    @include desktop-size {
        @include font-size(40px);
        @include line-height(40px);
    }
}

.c-gallery__teaser {
    display: none;

    @include desktop-size {
        @include font("SOLEIL", 14px, 400, 20px, 30);
        display: block;
        color: $ascot-grey;
        margin: 18px 0 0 0;
    }
}

.c-gallery__byline {
    @include font('SOLEIL', 10px, 400, 16px, 120);
    color: $stroller-grey;
    margin: 18px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.c-gallery__byline-name {
    font-weight: bold;
}

.c-gallery__meta {
    @include font('SOLEIL', 10px, 400, 12px, 120);
    color: $candle-grey;
    text-transform: uppercase;
    margin: 6px 0 0 0;
}

.c-gallery__meta-item {
    @include font('SOLEIL', 10px, 400, 12px, 120);
    color: $candle-grey;
    text-transform: uppercase;

    & + .c-gallery__meta-item {
        &:before {
            background-color: $candle-grey;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 2px 8px;
            width: 2px;
        }
    }
}