@import '@cnbritain/merlin-www-common:brides';

@import '../wireframe/wireframe';

.c-gallery {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-top: $MOBILE_SLICE_MARGIN;
    max-width: $MAXIMUM_PAGE_WIDTH + $DESKTOP_SIDE_GUTTER + $DESKTOP_SIDE_GUTTER;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
        padding-left: $DESKTOP_SIDE_GUTTER;
        padding-right: $DESKTOP_SIDE_GUTTER;
    }

    .c-gallery__text {
        @include min-screen($FEATURE_LARGE_BREAKPOINT) {

        }
    }
}

.c-gallery__wrapper {}

.c-gallery__images {
    position: relative;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding-right: 12px;
        width: 62.5%;

        &:before {
            background-color: $white;
            content: '';
            height: 32px;
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            z-index: 1;
        }
    }

    &:after {
        background-color: $pink-rose;
        bottom: 0;
        content: '';
        height: 32px;
        left: 50%;
        position: absolute;
        transform: translateY(50%);
        width: 1px;
        z-index: 1;

        @include min-screen($FEATURE_LARGE_BREAKPOINT) {
            bottom: 50%;
            height: 1px;
            left: initial;
            right: 12px;
            transform: translateX(50%);
            width: 32px;
        }
    }
}

ul.c-gallery__image-list {}
li.c-gallery__image-item {
    width: 33.33333%;

    &:first-child {
        width: 66.66666%;
    }

    &:nth-last-child(2) {
        display: none;
    }
}

.c-gallery__image {}

.c-gallery__image-remaining {
    background-color: rgba($black, 0.25);
    color: $white;
    height: 50%;
    width: 33.33333%;
}

.c-gallery__image-remaining__text {
    @include font("SOLEIL", 24px, 400, 24px);

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(32px);
        @include font-size(32px);
    }
}

.c-gallery__image-remaining__text-prefix {}
.c-gallery__image-remaining__text-value {}

.c-gallery__text {
    position: relative;
    text-align: center;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding-left: 12px;

        &:before {
            border: 1px solid $ballet-grey;
            bottom: 0;
            content: '';
            left: 12px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.c-gallery__text__wrapper {
    > * {
        padding: 0 20px;
    }

    > :nth-child(2) {
        margin-top: 28px;
    }

    > :last-child {
        margin-bottom: 44px;
    }

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        > :first-child {
            margin-top: 40px;
        }

        > :nth-child(2) {
            margin-top: inherit;
        }

        > :last-child {
            margin-bottom: 68px;
        }
    }
}

.c-gallery__icon {
    display: none;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        background-color: $blossom;
        border-radius: 50%;
        display: block;
        height: 48px;
        margin: 0 auto 24px auto;
        padding: 0;
        width: 48px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $pink-rose;
        }
    }
}

.c-gallery__tag {
    @include font("SOLEIL", 12px, 400, 16px, 18);
    color: $pink-rose;
    margin: 0 0 6px 0;
    text-transform: uppercase;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {

    }
}

.c-gallery__title {
    @include font("FREIGHT DISPLAY PRO", 32px, 400, 32px, 10);
    color: $stroller-grey;
    margin: 6px 0 0 0;
    text-align: center;
    text-transform: capitalize;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(40px);
        @include line-height(40px);
    }
}

.c-gallery__teaser {
    display: none;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font("SOLEIL", 14px, 400, 20px, 30);
        display: block;
        color: $ascot-grey;
        margin: 18px 0 0 0;
    }
}

.c-gallery__separator {
    display: none;
}

.c-gallery__byline {
    @include font('SOLEIL', 10px, 400, 16px, 12);
    color: $stroller-grey;
    margin: 18px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}

.c-gallery__byline--sponsorship {}
.c-gallery__byline-prefix {}
.c-gallery__byline-name {
    font-weight: bold;
}

ul.c-gallery__meta {
    @include font('SOLEIL', 10px, 400, 12px, 12);
    color: $candle-grey;
    text-transform: uppercase;
    margin: 6px 0 0 0;
}

li.c-gallery__meta-item {
    @include font('SOLEIL', 10px, 400, 12px, 12);
    color: $candle-grey;
    text-transform: uppercase;

    & + li.c-gallery__meta-item {
        &:before {
            background-color: $candle-grey;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 2px 8px;
            width: 2px;
        }
    }
}