.a-podcast {
	margin: 30px 0;
}

.a-podcast__wrapper {}
.a-podcast__content {}
.a-podcast__audio {}

.a-podcast__player {
	margin-bottom: 30px;
	width: 100%;
}

.a-podcast__list {
	font-size: 0;
	margin-top: -10px;
}

li.a-podcast__list-item {
	display: inline-block;
	font-size: initial;

	margin-right: 10px;
	margin-top: 10px;

	&:last-child {
		margin-right: 0;
	}

	@include desktop-size {
		margin-right: 20px;
	}
}

.a-podcast__btn {
	@include button-group();
	@include button-group-light();

	&:hover {
		@include button-group-light-hover();
	}
}

.a-podcast__btn--itunes {}
.a-podcast__btn--rss {}
.a-podcast__btn--download {

	&:hover {

	}
}
