.has-open-menu {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.n-main {
    z-index: 10;
}
.n-main__wrapper {
    max-width: none;
}

.n-main__nav {
    background-color: $white;
    height: $MAIN_NAVIGATION_HEIGHT;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.n-main__nav-logo {
    height: $MAIN_NAVIGATION_HEIGHT;
    left: $PADDING_SMALL;
    overflow: hidden;
    position: fixed;
    width: 118px;

    a {
        bottom: 0;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        position: absolute;
        transition: bottom 200ms ease-in-out;
        vertical-align: middle;
    }

    svg, img {
        vertical-align: middle;
        width: 118px;
    }

    &.is-hidden {
        a {
            @include navigation-large-size {
                bottom: -($MAIN_NAVIGATION_HEIGHT);
            }
        }
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + $PADDING_SMALL + $PADDING_SMALL){
        left: auto;
    }

}
.n-main__nav-logo--takeover {
    svg, img {
        height: $MAIN_NAVIGATION_HEIGHT;
    }
}

.n-main__nav-hamburger {
    border-left: 1px solid $loot-box;
    box-sizing: border-box;
    display: inline-block;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: $MAIN_NAVIGATION_HEIGHT;

    svg {
        display: inline-block;
        fill: $black;
        height: 15px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: middle;
    }

    &:hover,
    &:focus {
        svg {
            fill: $guardsman-red;
        }
    }

    @include navigation-large-size {
        display: none;
    }
}

.n-main__nav-hamburger__icon,
.n-main__nav-hamburger__close-icon {
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    width: $MAIN_NAVIGATION_HEIGHT;
}

.n-main__nav-search {
    display: inline-block;
    float: right;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: $MAIN_NAVIGATION_HEIGHT;

    svg {
        display: inline-block;
        fill: $black;
        height: 20px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: middle;
    }

    &:hover,
    &:focus {
        svg {
            fill: $guardsman-red;
        }
    }

    @include desktop-size {
        border-left: 1px solid $loot-box;
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 1) {
        border-right: 1px solid $loot-box;
    }
}

.n-main__nav-search__icon,
.n-main__nav-search__close-icon {
    background-color: transparent;
    cursor: pointer;
    display: block;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    width: $MAIN_NAVIGATION_HEIGHT;
}

.n-main__nav-group {}
.n-main__nav-group--left {}
.n-main__nav-group--right {}
.n-main__list-item {
    vertical-align: top;
}

.n-main__nav-signpost {
    @include line-height($MAIN_NAVIGATION_HEIGHT);
    display: none;
    margin-left: 140px;
    margin-right: $MAIN_NAVIGATION_HEIGHT;
    overflow: hidden;
    padding: 0 $PADDING_SMALL;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.n-main__nav-link {
    @include font('NOBEL', 12px, 'BOLD', 12px);
    color: $cod-gray;
    display: block;
    letter-spacing: 1px;
    padding: 0 $PADDING_X_SMALL;
    text-transform: uppercase;

    span {
        display: inline-block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
    }

    &:hover,
    &:focus {
        color: $guardsman-red;
    }
}

.n-main__sticker {
    z-index: 3;
}
.n-main__sticker-child {
    background-color: $white;
    border-bottom: 1px solid $loot-box;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
}

.n-main__nav-title {
    @include font('ITC CASLON', 15px, 'NORMAL', $MAIN_NAVIGATION_HEIGHT + 4);
    display: none;
    padding-left: 170px;
    padding-right: 155px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    @include min-screen(600px) {
        display: block;
    }

    @include tablet-size {
        @include font-size(20px);
    }

}