.n-main__dropdown {}
.n-main__dropdown--follow {
    .n-main__dropdown-link {
        @include font('ADOBE CASLON', 14px, 400, 14px);
        color: $dove-gray;
        font-style: italic;
        text-transform: capitalize;
    }
}

.n-main__dropdown--follow__group {
    font-size: 0;
    text-align: center;

    & + .n-main__dropdown--follow__group {
        margin-top: 24px;
    }
}

.n-main__dropdown-list {
    background-color: $white;
    border: 1px solid $gallery;
    margin-top: -1px;
    z-index: 1;
}

.n-main__dropdown-list--left {
    border-top: none;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
    padding: 14px 0;
    min-width: 180px;
}

.n-main__dropdown-list--follow {
    border-top: none;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
    margin-right: -1px;
    padding: 10px 10px 40px 10px;
    white-space: nowrap;
}

.n-main__dropdown-list-item {
    position: relative;

    .n-main__nav-link {
        @include line-height(40px);
        box-sizing: border-box;
        color: $cod-gray;
        display: inline-block;
        margin: 0;
        height: 40px;
        white-space: nowrap;

        span {
            display: inline-block;
            height: 40px;
            line-height: 40px;
        }

        &:hover {
            color: $guardsman-red;
        }
    }
}

.n-main__dropdown-link {
    &:after {
        border-top-color: $cod-gray;
        border-width: 4px;
        margin-left: 8px;
        position: relative;
        top: -2px;
    }
}

a.n-main__dropdown__btn-share,
.n-main__dropdown__btn-share {
    font-size: initial;

    & + .n-main__dropdown__btn-share {

    }
}

@each $name, $color in $COLOUR_SOCIAL {
    .n-main__dropdown__btn-share--#{$name},
    a.n-main__dropdown__btn-share--#{$name} {
        @include button-share();
        @include button-share-light($name);

        &:hover {
            @include button-share-light-hover($name);
        }
    }
}

.n-main__dropdown__btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}
