.n-main__header {
    background-color: $alabaster-fc;
    border-bottom: 1px solid $loot-box;
}

.n-main__header-logo {
    height: $MASTHEAD_HEIGHT;
    margin: 0 auto;
    max-width: none;
    padding: $PADDING_MEDIUM 0 $PADDING_SMALL 0;
    text-align: center;

    svg, img {
        height: 100%;
    }
}
.n-main__header-logo--takeover {
    height: $MASTHEAD_HEIGHT + $PADDING_MEDIUM + $PADDING_SMALL;
    padding: 0;
}