/**
 * Navigation - Vanishing
 * =============================================================================
 */
.n-vanishing-nav {
    // This element has the white background
    .n-main__sticker-child {
        transform: translate(0, 0%);
        transition: transform 0.2s ease-in-out;
    }

    &.is-hidden {
        .n-main__sticker-child {
            transform: translate(0, -100%);
        }
    }
}