@import "@cnbritain/merlin-www-common:vogue";
@import "@cnbritain/merlin-www-buttons:vogue";

@import "../wireframe/wireframe";

$GALLERY_NAV_ICONS_BREAKPOINT: 410px;
$MASTHEAD_HEIGHT: 90px;

.has-open-menu {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.n-main {
    z-index: 10;
}
.n-main__wrapper {
    max-width: none;
}

//Only for vogue documentary
//Remove once finished
.n-main__covers {
    display: none;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: block;
    }
    position: absolute;
    top: 60px;
}
.n-main__covers__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: 60px;
    padding-right: 60px;
    margin: 0 auto;
}
.n-main__cover {
    display: inline-block;
    margin-right: 12px;
    width: 80px;
}
.n-main__cover__offer {
    display: inline-block;
    vertical-align: top;
    @include font('ADOBE CASLON', 12px, null, 15px);
    color: #666;
}
.n-main__cover__btn,
a.n-main__cover__btn {
    display: inline-block;
    @include font('NOBEL', 10px, null, 10px);
    font-size: 10px;
    padding: 4px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.n-main__header {
    background-color: $COLOUR_BG_MASTHEAD;
    border-bottom: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
}

.n-main__header-logo {
    margin: 0 auto;
    max-width: none;
    padding: $PADDING_MEDIUM 0 $PADDING_SMALL 0;
    height: $MASTHEAD_HEIGHT;
    text-align: center;

    svg, img {
        height: 100%;
    }
}
.n-main__header-logo--takeover {
    height: $MASTHEAD_HEIGHT + $PADDING_MEDIUM + $PADDING_SMALL;
    padding: 0;
}

.n-main__nav {
    background-color: $COLOR_MAIN_PAGE;
    height: $MAIN_NAVIGATION_HEIGHT;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.n-main__nav-logo {
    height: $MAIN_NAVIGATION_HEIGHT;
    overflow: hidden;
    padding-left: $PADDING_SMALL;
    position: relative;
    width: 118px;

    a {
        bottom: 0;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        position: absolute;
        @include transition(bottom, 200ms, ease-in-out);
        vertical-align: middle;
    }

    svg, img {
        vertical-align: middle;
        height: 30px;
        width: 118px;
    }

    @include screen(1440px, 1500px) {
        @for $i from 0 through 40 {
            @media (min-width: 1440px + $i) {
                padding-left: #{(20 - $i/2)}px;
            }
        }
    }

    @include min-screen(1480px) {
        padding-left: 0px;
    }
}
.n-main__nav-logo--takeover {
    svg, img {
        height: 60px;
    }
}
.n-main__nav-logo--hidden {
    a {
        @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
            bottom: -($MAIN_NAVIGATION_HEIGHT);
        }
    }
}

.n-main__nav-hamburger {
    border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: $MAIN_NAVIGATION_HEIGHT;

    label {
        cursor: pointer;
        display: block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        width: $MAIN_NAVIGATION_HEIGHT;
    }

    svg {
        display: inline-block;
        height: 15px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: middle;
    }

}

.n-main__nav-search {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;

        &:hover {
            svg {
                fill: $COLOR_MAIN_HIGHLIGHT;

                path {
                    fill: $COLOR_MAIN_HIGHLIGHT;
                }
            }
        }
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 1) {
        border-right: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    }

    display: inline-block;
    float: right;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: $MAIN_NAVIGATION_HEIGHT;

    label {
        background-color: transparent;
        cursor: pointer;
        display: block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        width: $MAIN_NAVIGATION_HEIGHT;

        path {
            fill: #000;
        }
    }

    svg {
        display: inline-block;
        height: 20px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: middle;
    }

    .n-main__nav-search__close-icon {

    }
}

.n-main__nav-group {}
.n-main__nav-group--left {}
.n-main__nav-group--right {}
.n-main__list-item {
    vertical-align: top;
}

.n-main__nav-signpost {
    display: none;

    @include line-height($MAIN_NAVIGATION_HEIGHT);
    margin-left: 140px;

    padding: 0 $PADDING_SMALL;
    margin-right: $MAIN_NAVIGATION_HEIGHT;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.n-main__nav-link {
    color: $COLOR_MAIN_PRIMARY;
    display: block;
    @include font('NOBEL', 12px, 700, 12px);
    letter-spacing: 1px;
    padding: 0 $PADDING_X_SMALL;
    text-transform: uppercase;

    span {
        display: inline-block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
    }

    &:hover {
        color: $COLOR_MAIN_HIGHLIGHT;
    }
}

.n-main__sticker {
    z-index: 3;
}
.n-main__sticker-child {
    background-color: #fff;
    border-bottom: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
}


/**
 * Dropdown items
 * =============================================================================
 */
.n-main__dropdown {}
.n-main__dropdown--follow {
    .n-main__dropdown-link {
        color: $COLOR_MAIN_TERTIARY;
        @include font('ADOBE CASLON', 14px, null, 14px);
        font-style: italic;
        text-transform: capitalize;
        padding-right: $PADDING_MEDIUM;

        //Typekit Caslon font doesn't quite align to center
        box-sizing: border-box;
        height: $MAIN_NAVIGATION_HEIGHT;
        padding-top: 2px;
    }
    .n-main__dropdown-list-item {
        @include font-size(12px);
        text-align: center;
    }
}
.n-main__dropdown--follow__group {
    margin-top: $MARGIN_XX_SMALL;

    &:last-child {
        margin-top: 23px;
        padding-bottom: $PADDING_MEDIUM;
    }

    .btn-share {
    	position: relative;
        width: 50px;
        height: 50px;

        svg {
        	display: block;
        	margin: 0 auto;
        }
    }

    a + a::before {
            background-color: $COLOR_BORDER_SOLID_ACCENT2;
            content: '';
            display: inline-block;
            height: 20px;
            left: -2px;
            margin: $MARGIN_X_SMALL 0px;
            position: absolute;
            width: 1px;
        }

}
.n-main__dropdown-list {
    background-color: $COLOR_MAIN_PAGE;
    border: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    border-top: none;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
}
.n-main__dropdown-list--left {
    min-width: 180px;
    padding: 14px 0;
}
.n-main__dropdown-list--right {
    // Offset the border in .n-main__dropdown--list
    right: -6px;
}
.n-main__dropdown-list--follow {
    padding: 0 $PADDING_XX_SMALL $PADDING_XX_SMALL $PADDING_XX_SMALL;
    z-index: 3;
}
.n-main__dropdown-link {
    &:after {
        left: 10px;
        position: relative;
        top: -2px;
    }
}
li.n-main__dropdown-list-item {
    background-color: #fff;
    @include font-size(15px);
    white-space: nowrap;
    z-index: 3;

    span {
        height: 40px;
        line-height: 40px;
        width: 100%;
    }
}


/**
 * Hamburger menu
 * =============================================================================
 */
.n-menu {
    background-color: #fff;
    -webkit-overflow-scrolling: touch;

    &.is-visible {
        bottom: 0;
        overflow: auto;
        position: fixed;
        top: $MAIN_NAVIGATION_HEIGHT;
        width: 100%;
        z-index: 2;
    }
}
.n-menu__top-stories {
    .c-top-stories {
        display: block;
        padding: 0;
    }

    .c-top-stories__wrapper {
        padding: 0 $PADDING_SMALL;
    }

    .c-top-stories__overflow {
        margin: 0 (-$MARGIN_SMALL);
        padding: $PADDING_SMALL;
    }

    .c-top-stories__list {
        .global__mb__float {
            width: 75px;
        }
    }
}

.n-menu__nav {
    .n-menu__nav__wrapper {
        margin: 0 $MARGIN_SMALL;
        overflow: hidden;
    }

    a {
        .n-menu__nav-item {
            border-bottom: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
            float: left;
            height: 60px;

            position: relative;
            width: 100%;

            .n-menu__nav-link {
                position: absolute;
                top: 50%;
                @include vendor-prefix(transform, translateY(-50%));
                @include font('NOBEL', 15px, 700, 15px);
                letter-spacing: 1px;
                text-transform: uppercase;
                word-break: break-word;
            }

            &--more {
                border-bottom: none;
                height: 40px;
                width: 50%;

                .n-menu__nav-link {
                    top: initial;
                    bottom: 0;
                    @include vendor-prefix(transform, none);
                    @include font-size(12px);
                    @include line-height(12px);
                }
            }

            &:hover, &:focus {
                color: $COLOR_MAIN_HIGHLIGHT;
            }
        }
    }
}

.n-main__nav-title {
    display: none;
    @include min-screen(600px) {
        display: block;
    }

    @include font('ITC CASLON', 15px, null, $MAIN_NAVIGATION_HEIGHT + 4);
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(20px);
    }
    margin-left: 170px;
    @media (min-width: 1440px) and (max-width: 1480px) {
        @for $i from 0 through 40 {
            @media (min-width: 1440px + $i) {
                margin-left: #{(170 - $i/2)}px;
            }
        }
    }

    @include min-screen(1480px) {
        margin-left: 150px;
    }

    margin-right: 155px;
    @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
        margin-right: 223px;
    }

    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}


/**
 * Search specific bits
 * =============================================================================
 */
.n-menu__search {
    background-color: $COLOUR_BG_DARK;
    overflow: hidden;
    position: relative;

    path {
        fill: $COLOR_MAIN_PAGE;
    }
}

.n-menu__search-search {
    float: right;
}

.n-menu__search-textbox {
    display: inline-block;
    left: 0;
    height: $MAIN_NAVIGATION_HEIGHT;
    position: absolute;
    right: $MAIN_NAVIGATION_HEIGHT;
    top: 0;

    input {
        background-color: $COLOUR_BG_DARK;
        border: none;
        box-sizing: border-box;
        color: $COLOR_MAIN_TERTIARY;
        @include font('ITC CASLON', 17px, null, 17px);
        height: $MAIN_NAVIGATION_HEIGHT - 3;
        padding: 0 $PADDING_SMALL;
        margin-top: 3px;
        width: 100%;

        &:focus {
            outline: none;
            color: $COLOR_MAIN_PAGE;
        }
    }
}

/**
 * Social specific buttons
 * =============================================================================
 */
.n-menu__social {
    margin: $MARGIN_MEDIUM $MARGIN_SMALL $MARGIN_MEDIUM $MARGIN_SMALL;
    text-align: center;

    ul {
        font-size: 0;
    }
}
.n-menu__social-title {
    color: $COLOR_MAIN_TERTIARY;
    @include font('ADOBE CASLON', 14px, null, 14px);
    text-transform: capitalize;
    font-style: italic;

    margin: 0 0 $MARGIN_XX_SMALL 0;
}
.n-menu__social-brand {}
li.n-menu__social-item {
    position: relative;
    display: inline-block;

    & + .n-menu__social-item::before {
        background-color: $COLOR_BORDER_SOLID_ACCENT2;
        content: '';
        display: inline-block;
        height: 20px;
        margin: $MARGIN_X_SMALL 0px;
        width: 1px;
    }

    .btn-share {
        height: 50px;
        width: 50px;
    }
}


/**
 * Subscribe slice
 * =============================================================================
 */
.n-menu__subscribe {
    background-color: $COLOUR_BG_ACCENT2;
    margin: $MARGIN_MEDIUM 0;
    padding: $PADDING_SMALL 0;
}
.n-menu__subscribe__wrapper {
    margin: 0 $MARGIN_SMALL;
}
.n-menu__subscribe-cols {
    display: table;
    width: 100%;
}
.n-menu__subscribe-col {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.n-menu__subscribe-covers {
    position: relative;

    //Removes extra padding from img parent
    font-size: 0;
}
.n-menu__subscribe-cover {}
.n-menu__subscribe-cover--print {
    width: 85px;
}
.n-menu__subscribe-cover--tablet {
    img {
        background-image: url('../img/template_ipad.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        padding: 7px 6px;
    }
    position: absolute;
    left: 60px;
    bottom: 0;
    width: 48px;
}
.n-menu__subscribe-cover__image {
    width: 100%;
}
.n-menu__subscribe-message {
    @include font('ADOBE CASLON', 14px, null, 18px);
    color: $COLOR_MAIN_TERTIARY;
    margin-bottom: $MARGIN_X_SMALL;
    max-width: 240px;
}
a.n-menu__subscribe-btn {
    @include button-single-light-hover;
    @include font-size(12px);
    @include line-height(15px);
    display: inline-block;
    padding: $PADDING_XX_SMALL;
    width: auto;
    text-align: center;
}


/**
 * Newsletter button
 * =============================================================================
 */
.n-menu__newsletter-btn {
    display: inline-block;
    margin-bottom: $MARGIN_LARGE;
    width: auto;
}


/**
 * Gallery specific buttons
 * =============================================================================
 */
.n-gallery-counter {
    @include font('ITC CASLON', 12px);
    height: $MAIN_NAVIGATION_HEIGHT;
    @include line-height($MAIN_NAVIGATION_HEIGHT + 4);
    padding: 0 $PADDING_X_SMALL;

    @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
        @include font-size(15px);
        padding: 0 $PADDING_MEDIUM;
    }
}

.n-gallery-counter__current {
    @include font-size(18px);
    @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
        @include font-size(20px);
    }
}

.n-gallery-counter__slash {
    padding: 0 $PADDING_XXX_SMALL;
}

.n-gallery-counter__total {}


.n-gallery-toggle,
a.n-gallery-close {
    display: inline-block;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    width: $MAIN_NAVIGATION_HEIGHT - 20;

    @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
        width: $MAIN_NAVIGATION_HEIGHT;
    }

    svg {
        height: 100%;
        width: 16px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            width: 18px;
        }
    }
}
.n-gallery-toggle--list,
.n-gallery-toggle--grid {
    border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    border-right: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    display: inline-block;
    height: $MAIN_NAVIGATION_HEIGHT;
    width: $MAIN_NAVIGATION_HEIGHT - 20;

    @include min-screen($GALLERY_NAV_ICONS_BREAKPOINT) {
        width: $MAIN_NAVIGATION_HEIGHT;
    }

    &:hover {
        svg {
            fill: $COLOR_MAIN_HIGHLIGHT;

            path {
                fill: $COLOR_MAIN_HIGHLIGHT;
            }
        }
    }

    svg {
        height: 100%;
        width: 16px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            width: 18px;
        }
    }
}

/**
 * Navigation - Gallery
 * =============================================================================
 */
.n-gallery-nav {
    background-color: #fff;
    bottom: 0;
    left: 0;
    height: $MAIN_NAVIGATION_HEIGHT;
    @include opacity(0);
    position: absolute;
    top: 0;
    right: 0;
    @include transition(opacity 0.2s ease-in-out, visibility 0.2s ease-in-out);
    visibility: hidden;
    width: 100%;

    &.is-visible {
        @include opacity(1);
        visibility: visible;
    }
}

.n-search {
    background-color: rgba(17, 17, 17, 0.95);

    &.has-overlay {
        left: 0;
        padding-bottom: 100%;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 3;

        &.is-stuck {
            bottom: 0;
            padding-bottom: 0;
            position: fixed;
            top: $MAIN_NAVIGATION_HEIGHT;
        }
    }
}


/**
 * Navigation - Vanishing
 * =============================================================================
 */
.n-vanishing-nav {
    // This element has the white background
    .n-main__sticker-child {
        @include vendor-prefix(transform, translate(0, 0%));
        @include vendor-prefix(transition, transform 0.2s ease-in-out);
    }

    &.is-hidden {
        .n-main__sticker-child {
            @include vendor-prefix(transform, translate(0, -100%));
        }
    }
}