@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-card-list:brides";
@import "@cnbritain/merlin-www-card:brides";
@import '@cnbritain/merlin-www-buttons:brides';


@import "../wireframe/wireframe";

.c-top-stories {
    display: none;

    @include at-x-large-size {
        background-color: $diamond;
        border-bottom: 1px solid $ballet-grey;
        display: block;
        padding: 20px 0;
    }

    &.has-navigation {
        .c-card-list__item:last-child {
            margin-right: 60px + 24px;
        }
    }
}

.c-top-stories__wrapper {
    box-sizing: border-box;
    position: relative;
    padding-left: 24px;
    transform: translateZ(0);

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(24px - (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }
}

.c-top-stories__nav {
    border-left: 1px solid $ballet-grey;
    bottom: -20px;
    position: absolute;
    right: 0;
    top: -20px;
    width: 60px;
    z-index: 2;

    @include min-screen($MAXIMUM_PAGE_WIDTH + 1) {
        border-right: 1px solid $ballet-grey;
    }
}

.c-top-stories__nav-btn--left {
    border-top: 1px solid $ballet-grey;
}

.c-top-stories__overflow {
    margin-left: -24px;
    max-width: $MAXIMUM_PAGE_WIDTH;
    overflow-y: hidden;
    padding-left: 24px;
    transform: translateZ(0);

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(24px - (100vw - 1440px)/2 );
        margin-left: calc(-24px + (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        margin-left: 0;
        padding-left: 0;
    }

}