.a-footer {
    .a-share {
    	margin: 40px 0 40px 0;
    	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    		margin-bottom: 60px;
    	}
    }
}

.a-footer--gallery {}

.a-footer--video {
	.a-footer__wrapper {

	}
}

.a-footer__wrapper {}

.a-related-tags {
    margin: 40px 0 40px 0;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    	margin-top: 60px;
    }
}

.a-related-tags__wrapper {}
