.a-footer {
    .a-share {
        margin: 40px 0 40px 0;
        @include at-x-large-size {
            margin-bottom: 60px;
        }
    }
}

.a-footer--gallery {}

.a-footer--video {
    .a-footer__wrapper {
        padding-left: 0;
    }

    .c-topic-strip--article-related {
        @include at-x-large-size {
            text-align: left;
        }
    }

    .a-related-tags {
        @include at-x-large-size {
            margin-top: 48px;
        }
    }
}

.a-footer__wrapper {}

.a-related-tags {
    margin: 40px 0 40px 0;
    @include at-x-large-size {
        margin-top: 60px;
    }
}

.a-related-tags__wrapper {}
