.a-sidebar-content {

}

.a-sidebar-content__list {

}

.a-sidebar-content__list-item {
    & + .a-sidebar-content__list-item {
        margin-top: 24px;
    }
}

.a-sidebar-content__title {
	@include font("PROXIMA NOVA CONDENSED", 14px, 400, 16px);
	color: $MUSTASAARI;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}