.a-logo {}
.a-logo--video {
    background-color: $JUNGLE;
    padding: 32px 0 32px 0;

    @include at-x-large-size {
        padding: 48px 0 46px 0;
    }

    .a-logo__wrapper {
        height: 42px;
        margin: 0 auto;
        width: 268px;

        @include at-x-large-size {
            height: 52px;
            margin: 0 auto;
            width: 331px;
        }
    }

    svg {
        fill: $WHITE;
    }
}

.a-video {
    background-color: $JUNGLE;
}

.a-video__wrapper {

}

.a-video__player {}

.a-video__player__wrapper {

}

.a-video__sidebar {
    background-color: $JUNGLE;
    padding: 0 20px 20px 20px;
}

.a-video__sidebar__wrapper {}

.a-video__sidebar__title {
    @include font("PROXIMA NOVA CONDENSED", 12px, 600, 12px);
    color: $WHITE;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.a-video__sidebar__list {
    left: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    right: 20px;
    top: 32px;
}

.a-video__playlist {
    margin: -6px -12px;
}

.a-video__playlist-item {
    box-sizing: border-box;
    display: inline-block;
    margin: 6px 0;
    padding: 0 12px;
    width: 100%;

    & + .a-video__playlist-item {
        .c-card {
            border-top: 1px solid rgba($PORCELAIN, 0.12);
            padding-top: 12px;

            &.c-card--dark {

            }
        }
    }

    .c-card__images {
        &:after {
            @include font("PROXIMA NOVA CONDENSED", 10px, 600, 10px);
            color: $WHITE;
            content: "Now Playing";
            left: 50%;
            letter-spacing: 1px;
            opacity: 0;
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            transform: translate(-50%, -50%);
            transition-duration: 300ms;
            white-space: nowrap;
        }
    }

    .c-card__image {
        &:after {
            background-color: rgba($BLACK, 0.5);
            bottom: 0;
            content: "";
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition-duration: 300ms;
            width: 100%;
        }
    }

    &.is-active {
        .c-card__images {
            &:after {
                opacity: 1;
            }
        }

        .c-card__image {
            &:after {
                opacity: 1;
            }
        }
    }
}

.a-video__content-body {

}

.a-video__ad {
    .ad__block {
        @include at-x-large-size {
            padding: 0;
        }
    }
}