@import '@cnbritain/merlin-www-common:glamour_redux';
@import '@cnbritain/merlin-www-section-card-list:glamour_redux';

@import "../wireframe/wireframe";

.c-card-section--c-contributors {

    .c-card-section__constrain{
        max-width: 900px;
    }

   .c-card-section__title{
        display: none;
   }

   .c-card__obj {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            display: block;
        }
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: flex;
        flex-direction: column;
        vertical-align: inherit;
        width: 100%;
    }

    .c-card {}
    .c-card__link {}
    .c-card__obj {}
    .c-card__obj__header {
        padding-right: 13px;
        width: 37%;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            padding-right: 0;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

    }

    .c-card__images {}
    .c-card__image {}
    .c-card__image__icon {
        display: none;
    }

    .c-card__obj__body {
        width: 66%;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            width: 100%;
            margin-top: 20px;
        }
    }

    .c-card__header {}

    .c-card__images{
        border-radius: 50%;
        height: 110px;
        overflow: hidden;
        padding: 5px;
        position: relative;
        width: 110px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            padding: 10px;
            height: 160px;
            width: 160px;
        }

        &:before {
            background-image: url('../../static/img/pattern-1.jpg');
            background-position: 100%;
            border-radius: 50%;
            bottom: -5px;
            content: '';
            left: -5px;
            overflow: hidden;
            position: absolute;
            right: -5px;
            top: -5px;
            z-index: -1;
        }

      .c-card__image--square {
        border-radius: 50%;
        overflow: hidden;

        img {
          border-radius: 50%;
          height: 100px;
          overflow: hidden;
          width: 100px;

          @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            height: 140px;
            width: 140px;

          }
        }
      }
    }

    .c-card__title {
        @include font("MILLER_DISPLAY", 18px, 600, 21px);
        color: $dune;
        margin: 0 0 13px 0;
        text-align: left;

         @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            @include font("MILLER_DISPLAY", 23px, 600, 28px);
            text-align: center;
         }
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__tag{
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__footer {}

    .c-card__byline {
        @include font("GRAPHIK", 10px, 400, 10px);
        color: $dune;
        letter-spacing: 1.5px;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        text-align: left;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            text-align: center;
        }
    }

    .c-card__byline--sponsorship {}
    .c-card__byline-prefix {}
    .c-card__byline-name {}

    ul.c-card__meta {
        @include font("GRAPHIK", 10px, 400, 10px);
        color: $dune;
        letter-spacing: 1.5px;
        margin: 0 0 0 0;
        text-transform: uppercase;
        text-align: left;

         @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
           text-align: center;
         }
    }

    li.c-card__meta-item {
        & + li.c-card__meta-item {
            &:before {
                background-color: $azalea;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 3px;
                margin: 1px 4px;
                width: 3px;
            }
        }
    }
}

