@import "../wireframe/wireframe";

.c-show-season {
    margin-bottom: $MOBILE_SLICE_MARGIN;
    margin-top: $MOBILE_SLICE_MARGIN;
    padding: 0 $MOBILE_SIDE_GUTTER;
    position: relative;

    @include at-medium-size {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-show-season-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    text-align: center;
}

.c-show-season__title {
    @include font('NOBEL', 20px, 'BOLD');
    color: $cod-gray;
    margin-bottom: $MARGIN_XX_SMALL;
    text-transform: uppercase;
    text-align: center;

    @include at-medium-size {
        @include font-size(25px);
        position: relative;

        span {
            background-color: $white;
            padding: 0 50px;
            position: relative;
        }

        &:before {
            @include dotted-line($dove-gray, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            margin-top: -4px;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
}

.c-show-season__meta {
    @include font('NOBEL', 10px, null, 16px);
    color: $COLOR_TYPE_META;
    display: inline-block;

    @include card-portrait-to-landscape-size {
        @include font-size(11px);
        @include line-height(20px);
        border-top: none;
        padding-top: 8px;
    }
}

.c-show-season__meta-item {
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;

    &--season {
        color: $guardsman-red;
    }

    &--show-type {
        color: $dove-gray;
    }

    &:not(:last-child) {
        padding-right: $PADDING_XX_SMALL;
    }

    & + .c-show-season__meta-item {
        border-left: 1px solid $wild-sand;
        padding-left: $PADDING_XX_SMALL;
    }
}

.c-show-season__btn {
    @include button-single();
    @include button-single-light();
    margin-top: 35px;

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}



