@import "@cnbritain/merlin-www-common:gq";

@import "../wireframe/wireframe";

// -------------------- //
// Embed
// -------------------- //
.bb-embed {
    margin: 40px 0;
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    border-top: 1px solid $bon-jour;
    font-size: 12px;
    line-height: 16px;
    margin: 40px 0;
    padding-top: 12px;
    position: relative;
    text-indent: 20px;

    &:before {
        background-color: $dodger-blue;
        border-radius: 50%;
        content: '';
        height: 8px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 8px;
    }
}

// -------------------- //
// Interactive
// -------------------- //
.bb-interactive {
    margin: 40px 0;
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("ITC_FENICE", 40px, 700, 40px)
    border: 1px solid $mineshaft;
    color: $mineshaft;
    float: left;
    margin: 5px 20px 10px 0;
    padding: 17px 20px 7px 20px;
    text-transform: capitalize;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(44px);
        @include line-height(44px);
        margin: 7px 20px 11px 0;
        padding: 19px 21px 4px 21px;
    }
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    @include font("GOTHAM", 16px, 400, 22px)
    border-left: 20px solid $woodsmoke;
    color: $mineshaft;
    margin: 40px 0;
    padding-left: 24px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(24px);
    }
}

.bb-blockquote__quote {
    @include font("GOTHAM", 16px, 400, 22px);
    color: $mineshaft;
    font-style: italic;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(24px);
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font("GOTHAM", 9px, 700, 12px, 60);
    margin-top: 20px;
    text-transform: uppercase;
}


// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    border-top: 20px solid $woodsmoke;
    border-bottom: 20px solid $woodsmoke;
    margin: 40px 0;
    padding: 32px 0;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px 16px;
    }
}
.bb-pullquote__quote {
    @include font("ITC_FENICE", 32px, 400, 36px, -4);
    color: $mineshaft;

    &:before,
    &:after {
        content: '';
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font("GOTHAM", 9px, 700, 12px, 60)
    color: $mineshaft;
    margin-top: 20px;
    text-transform: uppercase;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    border-top: 1px solid $bon-jour;
    border-bottom: 1px solid $bon-jour;
    border-left: 1px solid $bon-jour;
    border-right: 1px solid $bon-jour;
    margin: 40px 0;
    padding: 32px 20px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px;
    }
}

.bb-infobox__title {
    @include font("ITC_FENICE", 24px, 400, 30px);
    color: $mineshaft;
    margin-bottom: 12px;
    margin-top: 0;
    text-transform: uppercase;
}

.bb-infobox__hr {
    margin-bottom: 36px;
    margin-top: 0;
}

.bb-infobox__item {
    margin: 0;

    & + .bb-infobox__item {
        margin-top: 28px;
    }
}

.bb-infobox__item__key {
    @include font("GOTHAM", 14px, 700, 20px, 60);
    color: $dodger-blue;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.bb-infobox__item__value {
    @include font("GOTHAM", 14px, 400, 20px, -20);
    color: $mineshaft;
    margin: 0;
}

// -------------------- //
// Question
// -------------------- //
.bb-question {}
.bb-question__question,
.bb-question__question p {
    @include font-weight(700);
}
.bb-question__q {
}

.bb-question__separator {
    display: none;
}

.bb-question__author {
    @include font("GOTHAM", 9px, 700, 12px, 60);
    color: $mineshaft;
    margin-top: 20px;
    text-transform: uppercase;
}
.bb-question__by {
    display: none;
}

// -------------------- //
// Answer
// -------------------- //
.bb-answer {}
.bb-answer__answer {}
.bb-answer__a {
    @include font-weight(700);
    color: $oslo-gray;
}

.bb-question__separator {
    display: none;
}

.bb-answer__author {
    @include font("GOTHAM", 9px, 700, 12px, 60);
    color: $mineshaft;
    margin-top: 20px;
    text-transform: uppercase;
}
.bb-answer__by {
    display: none;
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    margin: 40px 0;
}

.bb-figure__caption,
.bb-figure__credit {

}

.bb-figure__caption {
    @include font("GOTHAM", 12px, 500, 16px, -20);
    color: $woodsmoke;
    margin-top: 16px;
}

.bb-figure__credit {
    @include font("GOTHAM", 9px, 400, 12px, 60);
    color: $oslo-gray;
    margin-top: 8px;
    text-transform: uppercase;

    &:before {
        content: 'credit: '
    }
}

// -------------------- //
// Card
// -------------------- //
.bb-card {
    border: 1px solid $bon-jour;
    box-sizing: border-box;
    margin: 40px 0;
    padding: 16px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        &:before {
            @include font("GOTHAM", 9px, 700, 16px, 60);
            bottom: 16px;
            color: $royal-blue;
            content: '\2192';
            content: 'Continue Reading ';
            position: absolute;
            right: 36px;
            text-transform: uppercase;
        }

        &:after {
            @include font("GOTHAM", 9px, 700, 16px, 60);
            bottom: 16px;
            content: url('data:image/svg+xml;utf8, <svg fill="#4681f5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8.48"><title>btn-arrownext</title><path d="M8,12.24l-0.53-.8,4.44-3H2v-1h9.93l-4.44-3L8,3.76,13.79,7.6a0.48,0.48,0,0,1,0,.8Z" transform="translate(-2 -3.76)"/></svg>');
            height: 16px;
            position: absolute;
            right: 16px;
            width: 12px;
        }
    }
}

.bb-card__link {

}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header,
.bb-card__obj__body {
    display: table-cell;
    vertical-align: top;
}

.bb-card__obj__header {
    width: 33.33333%;
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        width: 112px;
    }
}

.bb-card__obj__body {
    width: auto;
}

.bb-card__obj__header {
    padding-right: 8px;
}
.bb-card__images {
    .bb-card__image {
        padding-top: 100%;
    }

    .bb-card__image__icon {
        bottom: 0;
        background-color: $limed-oak;
        height: 40px;
        left: 0;
        width: 40px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $white;
        }
    }
}

.bb-card__obj__body {
    padding-left: 8px;
}

.bb-card__tag {
    @include font("GOTHAM", 11px, 700, 14px, -4);
    color: $limed-oak;
    margin-bottom: 6px;
    margin-top: 0;
}

.bb-card__title {
    @include font("GOTHAM", 14px, 700, 18px, -4);
    color: $woodsmoke;
    margin-bottom: 12px;
    margin-top: 6px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(22px);
    }
}

.bb-card__teaser {
    display: none;
}

.bb-card__separator {
    display: none;
}

.bb-card__byline {
    @include font("GOTHAM", 9px, null, 12px, 60);
    margin-bottom: 6px;
    margin-top: 12px;

    .bb-card__byline-prefix {
        @include font-weight(400);
    }

    .bb-card__byline-name {
        @include font-weight(700);
    }
}

.bb-card__meta {
    @include font("GOTHAM", 9px, 500, 14px);
    color: $oslo-gray;
    margin-top: 6px;
    padding-right: 0;

    li.bb-card__meta-item {
        & + li.bb-card__meta-item {
            border-left: none;
            padding-left: 0;
            &:before {
                background-color: $oslo-gray;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 2px;
                margin: 1px 4px;
                width: 2px;
            }
        }
    }
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    margin: 40px 0;
}

.bb-gallery__icon {
    border-right: 1px solid $bon-jour;
    display: table-cell;
    padding-right: 16px;
    width: 16px;

    svg {
        fill: $limed-oak;
    }
}

.bb-gallery__icon--gallery {

}

.bb-gallery__title {
    @include font("GOTHAM", 16px, 700, 20px, -4);
    color: $woodsmoke;
    display: table-cell;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 8px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
    }
}

.bb-gallery__cols {
    margin-top: 20px;
}

.bb-gallery__col {
    img {
        width: 100%;
    }
}

.bb-gallery__remaining {

}

.bb-gallery__remaining-text {
    @include font("GOTHAM", 20px, 700, 20px);
    color: $white;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(24px);
        @include line-height(24px);
    }
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    margin: 40px 0;
    position: relative;
}

.bb-video__icon {
    border-right: 1px solid $bon-jour;
    display: table-cell;
    padding-right: 16px;
    width: 16px;

    svg {
        fill: $limed-oak;
    }
}

.bb-video__title {
    @include font("GOTHAM", 16px, 700, 20px, -4);
    color: $woodsmoke;
    display: table-cell;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 8px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
    }
}

.bb-video__wrapper {
    margin-top: 20px;

    img {
        width: 100%;
    }
}

.bb-video__image-icon {
    @include vendor-prefix(transform, translate(-50%, -50%));
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    box-sizing: border-box;
    height: 60px;
    left: 50%;
    padding: 22px;
    position: absolute;
    top: 50%;
    width: 60px;

    svg {
        fill: $white;
    }
}

.bb-video__link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}

// -------------------- //
// Show Gallery
// -------------------- //
.bb-show-gallery {
    margin: 40px 0;

    .c-gallery-strip__detail {
        border-color: $bon-jour;

        &:after {
            border-bottom-color: $white;
        }
    }

    .c-gallery-strip__title {
        color: $woodsmoke;
    }

    .c-gallery-strip__subtitle {
        color: $oslo-gray;
    }

    .c-gallery-strip__list__item {
        &:nth-child(3) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        &:nth-child(4) {
            display: none;
        }

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            &:nth-child(3) {
                .c-gallery-strip__remaining {
                    display: none;
                }
            }

            &:nth-child(4) {
                display: inline-block;
            }

            width: 25%;
        }
    }
}