@import "@cnbritain/merlin-www-common:gq";
@import "@cnbritain/merlin-www-buttons:gq";

@import "../wireframe/wireframe";

// -------------------- //
// Default
// -------------------- //
.bb-a {
    border-bottom: 1px solid $cornflower-blue;
    color: $cornflower-blue;
}

.bb-abbr {
    text-decoration: underline;
}

.bb-em {
    font-style: italic;
}

.bb-h1,
.bb-h2,
.bb-h3,
.bb-h4,
.bb-h5,
.bb-h6 {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    color: $woodsmoke;
    margin: 28px 0;
}

.bb-h1 {
    @include font("ITC_FENICE", 30px, 700, 32px, -4);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(50px);
        @include line-height(54px);
    }
}

.bb-h2 {
    @include font("GOTHAM", 24px, 700, 28px, -4);
}

.bb-h3 {
    @include font("GOTHAM", 20px, 700, 24px, -4);
}

.bb-h4 {
    @include font("GOTHAM", 17px, 700, 22px, -4);
}

.bb-h5 {
    @include font("GOTHAM", 14px, 700, 20px, -4);
}

.bb-h6 {
    @include font("GOTHAM", 12px, 700, 16px, -4);
}

.bb-hr {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 4px double $bon-jour;
    height: 0;
    margin: 40px 0;
}

.bb-mark {
    background-color: $solitude;
    color: $mineshaft;
    padding: 4px 0;
}

.bb-p {
    @include font("GOTHAM", 16px, 400, 26px, -2);
    color: $mineshaft;
    margin: 28px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(28px);
    }
}

.bb-pre {
    @include font-size(14px);
    @include line-height(21px);
    background-color: $albaster;
    border-radius: 4px;
    border: 1px solid $bon-jour;
    color: $shuttle-gray;
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    line-height: 20px;
    margin: 28px 0;
    padding: 20px;
    white-space: pre-wrap;
}

.bb-small {
    @include font("GOTHAM", 12px, 400, 20px);
    color: $oslo-gray;
}

.bb-strong {
    @include font-weight(700);
}

.bb-ul,
.bb-ol {
    @include font("GOTHAM", 16px, 400, 26px, -20);
    color: $mineshaft;
    list-style-type: none;
    padding-left: 32px;
    margin: 28px 0;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(28px);
    }
}

.bb-li {
    position: relative;
}

.bb-ul {
    .bb-li:before {
        background-color: #1da8ff;
        border-radius: 50%;
        content: "";
        display: block;
        height: 8px;
        left: -28px;
        position: absolute;
        top: 8px;
        width: 8px;
    }
}

.bb-ol {
    counter-reset: section;

    .bb-li {
        counter-increment: section;
    }

    .bb-li:before {
        content: counter(section) '.';
        position: absolute;
        left: -28px;
    }
}

// -------------------- //
// Embed
// -------------------- //
.bb-embed {
    margin: 40px 0;
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font("GOTHAM", 12px, 400, 16px);
    border-top: 1px solid $bon-jour;
    margin: 28px 0 40px 0;
    padding-top: 12px;
    position: relative;
    text-indent: 20px;

    &:before {
        background-color: $dodger-blue;
        border-radius: 50%;
        content: '';
        height: 8px;
        left: 0;
        position: absolute;
        top: 15px;
        width: 8px;
    }
}

// -------------------- //
// Interactive
// -------------------- //
.bb-interactive {
    margin: 40px 0;
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("ITC_FENICE", 40px, 700, 72px)
    border: 1px solid $mineshaft;
    box-sizing: border-box;
    color: $mineshaft;
    float: left;
    height: 64px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-top: 8px;
    padding: 0 20px;
    text-transform: capitalize;

    .is-windows & {
        @include line-height(64px);
        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            @include line-height(70px);
        }
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(44px);
        @include line-height(78px);
        height: 70px;
    }
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    @include font("GOTHAM", 16px, 400, 22px)
    border-left: 20px solid $woodsmoke;
    color: $mineshaft;
    margin: 40px 0;
    padding-left: 24px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(24px);
    }
}

.bb-blockquote__quote {
    @include font("GOTHAM", 16px, 400, 22px);
    color: $mineshaft;
    font-style: italic;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(24px);
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font("GOTHAM", 9px, 700, 12px, 60);
    margin-top: 20px;
    text-transform: uppercase;
}


// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    border-top: 20px solid $woodsmoke;
    border-bottom: 20px solid $woodsmoke;
    margin: 40px 0;
    padding: 32px 0;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px 16px;
    }
}
.bb-pullquote__quote {
    @include font("ITC_FENICE", 26px, 400, 30px, 0);
    color: $mineshaft;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(32px);
        @include line-height(36px);
    }

    &:before,
    &:after {
        content: '';
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font("GOTHAM", 9px, 700, 12px, 60)
    color: $mineshaft;
    margin-top: 20px;
    text-transform: uppercase;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    border-top: 1px solid $bon-jour;
    border-bottom: 1px solid $bon-jour;
    border-left: 1px solid $bon-jour;
    border-right: 1px solid $bon-jour;
    margin: 40px 0;
    padding: 32px 20px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px;
    }
}

.bb-infobox__title {
    @include font("ITC_FENICE", 24px, 400, 30px);
    color: $mineshaft;
    margin-bottom: 12px;
    margin-top: 0;
    text-transform: uppercase;
}

.bb-infobox__hr {
    margin-bottom: 36px;
    margin-top: 0;
}

.bb-infobox__item {
    margin: 0;

    & + .bb-infobox__item {
        margin-top: 28px;
    }
}

.bb-infobox__item__key {
    @include font("GOTHAM", 14px, 700, 20px, 60);
    color: $dodger-blue;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.bb-infobox__item__value {
    @include font("GOTHAM", 14px, 400, 20px, -20);
    color: $mineshaft;
    margin: 0;
}

// -------------------- //
// Callout
// -------------------- //
.bb-callout {
    border-top: 1px solid $bon-jour;
    border-bottom: 1px solid $bon-jour;
    border-left: 1px solid $bon-jour;
    border-right: 1px solid $bon-jour;
    margin: 40px 0;
    padding: 32px 20px;

    > *:first-child {
        margin-top:0;
    }

    > *:last-child {
        margin-bottom:0;
    }

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        padding: 40px;
    }
}

// -------------------- //
// Question
// -------------------- //
.bb-question {}
.bb-question__question,
.bb-question__question p {
    @include font-weight(700);
}
.bb-question__q {
}

.bb-question__separator {
    display: none;
}

.bb-question__author {
    @include font("GOTHAM", 9px, 700, 12px, 60);
    color: $mineshaft;
    margin-top: 20px;
    text-transform: uppercase;
}
.bb-question__by {
    display: none;
}

// -------------------- //
// Answer
// -------------------- //
.bb-answer {}
.bb-answer__answer {}
.bb-answer__a {
    @include font-weight(700);
    color: $oslo-gray;
}

.bb-question__separator {
    display: none;
}

.bb-answer__author {
    @include font("GOTHAM", 9px, 700, 12px, 60);
    color: $mineshaft;
    margin-top: 20px;
    text-transform: uppercase;
}
.bb-answer__by {
    display: none;
}

// -------------------- //
// Figure
// -------------------- //
.bb-figure {
    margin: 40px 0;
}

.bb-figure__wrapper {
    background-color: $bon-jour;
}

.bb-figure__caption,
.bb-figure__credit {

}

.bb-figure__caption {
    .bb-p {
        @include font("GOTHAM", 12px, 500, 16px, -2);
        color: $woodsmoke;
        margin-top: 16px;
        margin-bottom: 0;
    }
}

.bb-figure__credit {
    @include font("GOTHAM", 9px, 400, 12px, 60);
    color: $oslo-gray;
    margin-top: 8px;
    text-transform: uppercase;

    &:before {
        content: 'credit: '
    }
}

// -------------------- //
// Card
// -------------------- //
.bb-card {
    border-radius: 4px;
    border: 1px solid $bon-jour;
    box-sizing: border-box;
    margin: 40px 0;
    padding: 16px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        &:before {
            @include font("GOTHAM", 9px, 700, 16px, 60);
            bottom: 16px;
            color: $royal-blue;
            content: '\2192';
            content: 'Continue Reading ';
            position: absolute;
            right: 16px;
            text-transform: uppercase;
        }
    }
}

.bb-card__link {

}

.bb-card__obj {
    display: table;
    width: 100%;
}

.bb-card__obj__header,
.bb-card__obj__body {
    display: table-cell;
    vertical-align: top;
}

.bb-card__obj__header {
    width: 33.33333%;
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        width: 112px;
    }
}

.bb-card__obj__body {
    width: auto;
}

.bb-card__obj__header {
    padding-right: 8px;
}
.bb-card__images {
    .bb-card__image {
        background-color: $bon-jour;
        padding-top: 100%;
    }

    .bb-card__image__icon {
        bottom: 0;
        background-color: $limed-oak;
        height: 40px;
        left: 0;
        width: 40px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $white;
        }
    }
}

.bb-card__obj__body {
    padding-left: 8px;
}

.bb-card__tag {
    @include font("GOTHAM", 11px, 700, 14px, -4);
    color: $limed-oak;
    margin-bottom: 6px;
    margin-top: 0;
}

.bb-card__title {
    @include font("GOTHAM", 14px, 700, 18px, -4);
    color: $woodsmoke;
    margin-bottom: 12px;
    margin-top: 6px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(17px);
        @include line-height(22px);
    }
}

.bb-card__teaser {
    display: none;
}

.bb-card__separator {
    display: none;
}

.bb-card__byline {
    @include font("GOTHAM", 9px, null, 12px, 60);
    margin-bottom: 6px;
    margin-top: 12px;
    text-transform: uppercase;

    .bb-card__byline-prefix {
        @include font-weight(400);
    }

    .bb-card__byline-name {
        @include font-weight(700);
    }
}

.bb-card__meta {
    @include font("GOTHAM", 9px, 500, 14px);
    color: $oslo-gray;
    margin-top: 6px;
    padding-right: 0;

    li.bb-card__meta-item {
        & + li.bb-card__meta-item {
            border-left: none;
            padding-left: 0;
            &:before {
                background-color: $oslo-gray;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 2px;
                margin: 1px 4px;
                width: 2px;
            }
        }
    }
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery {
    margin: 40px 0;
}

.bb-gallery--show-summary {
    .bb-gallery__col {
        &:first-child {
            &:after {
                @include button-single();
                @include button-single-light();
                @include vendor-prefix(transform, translateX(-50%));
                @include font-size(10px);
                bottom: 32px;
                content: 'View Collection';
                left: 50%;
                padding: 16px 8px;
                position: absolute;
                white-space: nowrap;
                @include min-screen($TYPE_LARGE_COPY_WIDTH) {
                    @include font-size(12px);
                    padding: 16px;
                }
            }
        }
    }
}

.bb-gallery__icon {
    border-right: 1px solid $bon-jour;
    display: table-cell;
    padding-right: 16px;
    width: 16px;
    vertical-align: middle;

    svg {
        fill: $limed-oak;
    }
}

.bb-gallery__title {
    @include font("GOTHAM", 16px, 700, 20px, -4);
    color: $woodsmoke;
    display: table-cell;
    padding: 8px 0 8px 16px;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
    }

    & + .bb-gallery__cols {
        margin-top: 20px;
    }
}

.bb-gallery__icon--gallery {}

.bb-gallery__link {
    &:hover {
        & + .bb-gallery__cols {
            .bb-gallery__col {
                &:first-child {
                    &:after {
                        @include button-single-light-hover();
                    }
                }
            }
        }
    }
}

.bb-gallery__cols {}
.bb-gallery__col {
    background-color: $bon-jour;
}

.bb-gallery__remaining {
    white-space: nowrap;
}

.bb-gallery__remaining-text {
    @include font("GOTHAM", 20px, 700, 20px);
    color: $white;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(24px);
        @include line-height(24px);
    }
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    margin: 40px 0;
}

.bb-video__icon {
    border-right: 1px solid $bon-jour;
    display: table-cell;
    padding-right: 16px;
    vertical-align: middle;
    width: 16px;

    svg {
        fill: $limed-oak;
        padding-top: 4px;
    }
}

.bb-video__title {
    @include font("GOTHAM", 16px, 700, 20px, -4);
    color: $woodsmoke;
    display: table-cell;
    padding: 8px 0 8px 16px;
    vertical-align: middle;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(24px);
    }
}

.bb-video__wrapper {
    margin-top: 20px;

    img {
        width: 100%;
    }
}

.bb-video__image-icon {
    @include vendor-prefix(transform, translate(-50%, -50%));
    background-color: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    box-sizing: border-box;
    height: 60px;
    left: 50%;
    padding: 22px;
    position: absolute;
    top: 50%;
    width: 60px;

    svg {
        fill: $white;
    }
}

.bb-video__link {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}

// -------------------- //
// Show Gallery
// -------------------- //
.bb-show-gallery {
    margin: 40px 0;

    .c-gallery-strip__detail {
        border-color: $bon-jour;

        &:after {
            border-bottom-color: $white;
        }
    }

    .c-gallery-strip__title {
        color: $woodsmoke;
    }

    .c-gallery-strip__subtitle {
        color: $oslo-gray;
    }

    .c-gallery-strip__list__item {
        &:nth-child(3) {
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        &:nth-child(4) {
            display: none;
        }

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            &:nth-child(3) {
                .c-gallery-strip__remaining {
                    display: none;
                }
            }

            &:nth-child(4) {
                display: inline-block;
            }

            width: 25%;
        }
    }
}

// -------------------- //
// Button
// -------------------- //
.bb-button {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }
}