.c-card {
    text-align: left;
    &:hover,
    &:focus {
        .c-card__title span {
            text-decoration: underline;
        }
    }
}

.c-card__link {}
.c-card__link--article {}

.c-card__images {}

.c-card__image {
    background-color: #000;
}
.c-card__image--landscape {}
.c-card__image--portrait {}
.c-card__image--square {}
.c-card__image--custom {}


.c-card__image__icon {
    background-color: #000;
    bottom: 0;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;

    svg {
        fill: #fff;
        width: 20px;
        height: 100%;
    }
}

.c-card__tag {}

.c-card__title {}

.c-card__teaser {}

.c-card__rating {
    font-size: 0;
    margin: 12px 0;
}

li.c-card__rating-label {
    @include font("BRUTAL", 12px, 400, 12px);
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

li.c-card__rating-mark {
    background-color: #bfbfbf;
    display: inline-block;
    height: 10px;
    margin-right: 3px;
    vertical-align: middle;
    width: 10px;
}

li.c-card__rating-mark--fill {
    background-color: #333;
}

.c-card__byline {}

.c-card__meta {}

li.c-card__meta-item {
    &--gallery {
        svg {
            display: none;
        }
    }

    &--duration {
        svg {
            height: 8px;
            width: 8px;
        }
    }
}