// -------------------- //
// Cover
// -------------------- //
@mixin card-cover() {}
@mixin card-cover-small() {
    .c-card__obj {}
    .c-card__obj__header {
        display: block;
        padding: 0;
        width: auto;
    }

    .c-card__images {
        .c-card__image {
            padding-top: 135.8064516%;
        }
    }

    .c-card__obj__body {
        display: block;
        padding: 0;
        width: 100%;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__tag {

    }

    .c-card__title {
        @include font("BRUTAL", 15px, 700, 22px);
        margin: 20px 0 0 0;
        text-transform: uppercase;
        text-align: left;
    }
}

@mixin card-cover-large($has_small:false) {
    @if not $has_small {
        .c-card__obj {}
        .c-card__obj__header {
            display: block;
            padding: 0;
            width: auto;
        }

        .c-card__images {
            .c-card__image {
                padding-top: 135.8064516%;
            }
        }

        .c-card__obj__body {
            display: block;
            padding: 0;
            width: 100%;
        }

        .c-card__teaser {
            display: none;
        }

        .c-card__separator {
            display: none;
        }

        .c-card__tag {

        }

        .c-card__title {
            @include font("BRUTAL", 15px, 700, 22px);
            margin: 20px 0 0 0;
            text-transform: uppercase;
        }
    }
}

.c-card--cover {
    @include card-cover();
    @include card-cover-small();
    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include card-cover-large($has_small:true);
    }
}

.c-card--cover-small {
    @include card-cover();
    @include card-cover-small();
}

.c-card--cover-large {
    @include card-cover();
    @include card-cover-large();
}