.c-card--dark {
    .c-card__image {
        background-color: $white;
    }

    .c-card__tag,
    .c-card__title,
    .c-card__teaser,
    .c-card__byline,
    .c-card__meta {
        color: $white;
    }

    .c-card__separator {
        border-top-color: $white;
    }

    .c-card__meta-item {
        svg {
            fill: $white;
        }

        & + .c-card__meta-item {
            border-left-color: $black-olive;
        }
    }

}