// -------------------- //
// Landscape
// -------------------- //
@mixin card-landscape() {
    .c-card__obj {
        display: table;
        width: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: table-cell;
        vertical-align: top;
    }
}

@mixin card-landscape-small() {

    .c-card__obj__header {
        max-width: 120px;
        padding-right: 10px;
        width: 33%;
    }

    .c-card__obj__body {
        padding-left: 10px;
        width: 100%;
    }

    .c-card__title {
        @include font("NEW GROTESK SQUARE", 25px, 300, 25px);
        margin: 0 auto 5px auto;
    }

    .c-card__separator {
        margin: 5px 0;
        width: 10px;
    }

    .c-card__byline {
        line-height: 1em;
        margin: 8px auto 5px auto;
    }

    .c-card__byline-prefix {
        @include font("EXCHANGE WEB", 11px, null, 11px);
        font-style: italic;
    }

    .c-card__byline-name {
        @include font("BRUTAL", 11px, 700, 11px);
        text-transform: uppercase;
    }

    .c-card__meta {
        font-size: 0;
        margin-top: -5px;
    }

    .c-card__meta-item {
        @include font("EXCHANGE WEB", 11px, 400, 14px);
        margin-top: 5px;
        padding-right: 10px;

        & + .c-card__meta-item {
            border-left: 1px solid $isabelline;
            padding-left: 10px;
        }
    }
}

@mixin card-landscape-large() {
    @include card-landscape-small;
}

.c-card--landscape {
    @include card-landscape;
    @include card-landscape-small;
}

.c-card--landscape-small {
    @include card-landscape;
    @include card-landscape-small;
}

.c-card--landscape-large {
    @include card-landscape;
    @include card-landscape-large;
}