// -------------------- //
// Magazine
// -------------------- //
@mixin card-magazine() {
    @include card-landscape;
}

@mixin card-magazine-small() {
    @include card-landscape-small;

    .c-card__obj__header {
        padding-right: 10px;
        width: 85px;
    }
    .c-card__obj__body {
        width: auto;
    }
}

@mixin card-magazine-large() {
    @include card-magazine-small;
}

.c-card--magazine {
    @include card-magazine;
    @include card-magazine-small;
}

.c-card--magazine-small {
    @include card-magazine;
    @include card-magazine-small;
}

.c-card--magazine-large {
    @include card-magazine;
    @include card-magazine-large;
}