// -------------------- //
// Portrait
// -------------------- //
@mixin card-portrait() {
    .c-card__obj {}
    .c-card__obj__header,
    .c-card__obj__body {
        display: block;
        padding: 0;
        width: auto;
    }

    .c-card__obj__header {
        max-width: none;
    }
}

@mixin card-portrait-small() {
    .c-card__images {
        margin-bottom: 15px;
    }

    .c-card__title {
        @include font("NEW GROTESK SQUARE", 30px, 300, 30px);
        margin: 10px auto;
    }

    .c-card__separator {
        margin: 10px 0;
        width: 10px;
    }

    .c-card__byline {
        line-height: 1em;
        margin: 12px auto 5px auto;
    }

    .c-card__byline-prefix {
        @include font("EXCHANGE WEB", 11px, null, null);
        font-style: italic;
    }

    .c-card__byline-name {
        @include font("BRUTAL", 11px, 700, null);
        text-transform: uppercase;
    }

    .c-card__meta {
        font-size: 0;
        margin-top: -5px;
    }

    .c-card__meta-item {
        @include font("EXCHANGE WEB", 11px, 400, 12px);
        margin-top: 5px;
        padding-right: 10px;

        & + .c-card__meta-item {
            border-left: 1px solid $isabelline;
            padding-left: 10px;
        }
    }
}

@mixin card-portrait-large() {
    @include card-portrait-small;
}

.c-card--portrait {
    @include card-portrait;
    @include card-portrait-large;
}

.c-card--portrait-small {
    @include card-portrait;
    @include card-portrait-small;
}

.c-card--portrait-large {
    @include card-portrait;
    @include card-portrait-large;
}