// -------------------- //
// V-Related
// -------------------- //
@mixin card-v-related() {
    .c-card__obj {
        display: table;
        width: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: table-cell;
        vertical-align: top;
    }
}

@mixin card-v-related-small() {
    .c-card__obj {}
    .c-card__obj__header,
    .c-card__obj__body {

    }

    .c-card__obj__header {
        max-width: 120px;
        width: 33%;
        padding-right: 10px;
    }

    .c-card__images {
        .c-card__image {
            padding-top: 100%;
        }

        .c-card__image__icon {

        }
    }

    .c-card__obj__body {
        padding-left: 10px;
        width: 100%;
    }

    .c-card__tag {
        display: none;
    }

    .c-card__title {
        @include font("NEW GROTESK SQUARE", 25px, 300, 25px);
        color: #fff;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .c-card__separator {
        border-top-color: #fff;
        margin: 10px 0;
        width: 15px;
    }

    .c-card__byline {
        @include font-size(11px);
        @include line-height(11px);
        color: #fff;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .c-card__byline-prefix {
        @include font("EXCHANGE WEB", 11px, null, 11px);
        font-style: italic;
    }

    .c-card__byline-name {
        @include font("BRUTAL", 11px, 700, 11px);
        text-transform: uppercase;
    }

    .c-card__meta {
        color: #fff;
        font-size: 0;
        margin-top: 5px;

        li.c-card__meta-item {
            @include font("EXCHANGE WEB", 11px, 400, 12px);
            padding-right: 10px;

            & + li.c-card__meta-item {
                border-left: 1px solid #fff;
                padding-left: 10px;

                &:before {

                }
            }

            svg {
                fill: #fff;
            }
        }
    }
}

@mixin card-v-related-large() {}

.c-card--v-related {
    @include card-v-related();
    @include card-v-related-small();
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include card-v-related-large();
    }
}

.c-card--v-related-small {
    @include card-v-related();
    @include card-v-related-small();
}

.c-card--v-related-large {
    @include card-v-related();
    @include card-v-related-large();
}