.c-card {
    display: flex;
    position: relative;
    width: 100%;
}

.c-card__link--article {
    background-color: rgba(255,255,255,0.01);
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.c-card__images {
    position: relative;
}

.c-card__image {
    display: block;
    position: relative;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}

.c-card__image--landscape,
.c-card__image--portrait,
.c-card__image--square,
.c-card__image--custom,
.c-card__image--picture {
    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.c-card__image--landscape {
    padding-top: 66.66666667%;
}

.c-card__image--portrait {
    padding-top: 150%;
}

.c-card__image--square {
    padding-top: 100%;
}

.c-card__image__icon {
    position: absolute;
}

// Need to be specific to overwrite global__list-reset
li.c-card__meta-item {
    display: inline-block;
}




.c-card {
    .c-card__image {
        overflow: hidden;

        img {
            @include card-image-normal;
        }
    }

    &:hover,
    &:focus {
        .c-card__title {
            @include card-title-hover;
        }

        .c-card__image {
            img {
                @include card-image-hover;
            }
        }
    }
}

.c-card__image {}

.c-card__image__icon {
    svg {
        height: 100%;
    }
    path {}
}


.c-card__tag {}

.c-card__title {}

.c-card__teaser {}

.c-card__separator {}

.c-card__rating {}

.c-card__rating-mark {}

.c-card__rating-mark--fill {}

.c-card__byline,
.c-card__sponsor {
    @include card-byline;

    margin: 18px 0 5px;

    @include min-screen($CARD_SWITCHER_WIDTH) {
        margin: 0 0 5px;
    }
}

.c-card__byline-prefix,
.c-card__sponsor-label {
    @include card-byline-prefix;
}

.c-card__byline-name,
.c-card__sponsor-title {
    @include card-byline-name;
}

.c-card__meta {
    @include card-meta;

    display: inline-block;
}

li.c-card__meta-item {
    &:not(:last-child) {
        &:after {
            content: '';
            height: 14px;
            width: 1px;
            background-color: $silver;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;

            .c-card--dark & {
                background-color: #333;
            }
        }
    }

    & + & {
        // border-left: 1px solid $COLOUR_BORDER_SEPARATOR;
    }

    &.c-card__meta-item--tag {
        display: none;
    }

    &.c-card__meta-item--gallery {
        display: none;
    }
}




.c-card__meta-item--duration {
     svg {
        height: 9px;
        margin-right: 3px;
        width: 9px;
    }

    path {
        fill: $COLOUR_TYPE_META;
    }
}

.c-card__more {}

.c-card__image__remaining {}
