.c-card {
    display: flex;
    position: relative;
    width: 100%;
}

.c-card__footer {
    font-size: 0;
}

.c-card__link--article {
    background-color: rgba(255,255,255,0.01);
    bottom: 0;
    font-size: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.c-card__images {
    position: relative;
}

.c-card__image {
    display: block;
    position: relative;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}

.c-card__image--landscape,
.c-card__image--portrait,
.c-card__image--square,
.c-card__image--custom,
.c-card__image--picture {
    img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.c-card__image--landscape {
    padding-top: 66.66666667%;
}

.c-card__image--portrait {
    padding-top: 150%;
}

.c-card__image--square {
    padding-top: 100%;
}

.c-card__image__icon {
    position: absolute;
}

// Need to be specific to overwrite global__list-reset
li.c-card__meta-item {
    display: inline;
}




.c-card {
    .c-card__image {
        overflow: hidden;

        img {
            @include card-image-normal;
        }
    }

    &:hover,
    &:focus {
        .c-card__title {
            @include card-title-hover;
        }

        .c-card__image {
            img {
                @include card-image-hover;
            }
        }
    }
}

.c-card__image {}

.c-card__image__icon {
    svg {
        height: 100%;
        width: 20px;
    }
}
svg.c-card__image__icon--video {
    margin-left: 3px;
    width: 15px;
}

.c-card__tag {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-transform: uppercase;

    @include card-switcher-size {
        @include font('AGENDA', 12px, 'MEDIUM', 12px);

        letter-spacing: 1px;

        margin: 0 0 15px;
    }
}

.c-card__title {}

.c-card__teaser {}

.c-card__separator {}

.c-card__rating {}

.c-card__rating-mark {}

.c-card__rating-mark--fill {}

.c-card__byline,
.c-card__sponsor {
    @include card-byline;

    margin: 5px 0 0;

    @include card-switcher-size {
        margin: 10px 0 0;
    }
}

.c-card__byline-prefix,
.c-card__sponsor-label {
    @include card-byline-prefix;
}

.c-card__byline-name,
.c-card__sponsor-title {
    @include card-byline-name;
}

.c-card__meta {
    @include card-meta;
    @include line-height(15px);

    display: inline-block;
    margin-top: 5px;

    @include card-switcher-size {
        margin-top: 5px;
    }

}

li.c-card__meta-item {
    &:not(:last-child) {
        &:after {
            content: '';
            height: 11px;
            width: 1px;
            background-color: $silver;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;

            .c-card--dark & {
                background-color: $mine-shaft;
                height: 11px;
            }
        }
    }

    & + & {}

    &.c-card__meta-item--tag {}

    &.c-card__meta-item--gallery {
        svg { display: none; }
    }
}




.c-card__meta-item--duration {
     svg {
        height: 7px;
        margin-right: 3px;
        width: 7px;
    }

    path {
        fill: $COLOUR_TYPE_META;
    }
}

.c-card__more {}

.c-card__image__remaining {}
