// -------------------- //
// Contributor
// -------------------- //
@mixin card-contributor {
    .c-card__obj {
        @include global__flag('c-card__obj');
    }

    .c-card__images {
        border: 1px solid $silver;
        padding: 10px;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        @include global__flag__content('c-card__obj');
    }

    .c-card__obj__header {
        @include global__flag__image('c-card__obj');
    }

    .c-card__obj__body {
        @include global__flag__body('c-card__obj');

        background: transparent;
    }

    @include card-portrait-to-landscape-size {
        .c-card__obj__header,
        .c-card__obj__body {
            display: flex;
            width: 100%;
        }

        .c-card__obj__body {
            padding-left: 0;
        }
    }
}

@mixin card-contributor-small {
    @include card-contributor;
    @include card-landscape-small;

    .c-card__obj__body {
        background: transparent;
        padding-top: 11px;
    }

    .c-card__separator {
        display: block;
        width: 20px;
        border: 0;
        border-top: 1px solid $cinnabar;
    }
}

@mixin card-contributor-large {
    @include card-contributor;
    @include card-portrait;

    .c-card__obj__body {
        background: transparent;
        padding: 15px 0 0;
    }
}

.c-card--contributor {
    @include card-contributor-small;

    @include card-portrait-to-landscape-size {
        @include card-contributor-large;
    }
}

.c-card--contributor-small {
    @include card-contributor-small;
}

.c-card--contributor-large {
    @include card-contributor-large;
}
