@mixin card-cover {
    .c-card__obj {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
    }


    .c-card__obj__header,
    .c-card__obj__body {
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1 0 auto;
    }

    .c-card__image--custom {
        padding-top: 131.730769231%;
    }

    .c-card__obj__body {
        padding-top: 10px;
    }

    .c-card__teaser,
    .c-card__separator {
        display: none;
    }

    .c-card__tag {
        margin-bottom: 8px;
    }

    .c-card__title {
        @include font('AGENDA', 13px, 'MEDIUM', 13px);

        color: $gray;
        letter-spacing: .5px;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }
}

.c-card--cover {
    @include card-cover;

    @include card-switcher-size {
        .c-card__obj__body {
            padding-top: 20px;
        }

        .c-card__title {
            @include font('AGENDA', 17px, 'MEDIUM', 17px);

            letter-spacing: 1px;
        }
    }
}

.c-card--cover-small {
    @include card-cover;
}

.c-card--cover-large {
    @include card-cover;

    .c-card__obj__body {
        padding-top: 20px;
    }

    .c-card__title {
        @include font('AGENDA', 17px, 'MEDIUM', 17px);

        letter-spacing: 1px;
    }
}
