@mixin card-cover {
    .c-card__obj {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .c-card__obj__header,
    .c-card__obj__body {
        display: flex;
        flex-direction: column;
        padding: 0;
        flex: 1 0 auto;
    }

    .c-card__image--custom {
        padding-top: 131.730769231%;
    }

    .c-card__teaser,
    .c-card__separator {
        display: none;
    }

    .c-card__tag {
        margin-bottom: 8px;
    }

    .c-card__title {
        @include font('COMMUTER SANS', 10px, 'MEDIUM', 40px);

        color: $gray;
        height: 40px;
        letter-spacing: 0;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }

    &:hover,
    &:focus {
        .c-card__obj__body {
            background-color: $black;
        }

        .c-card__title {
            color: $white;

            span {
                border: none;
            }
        }
    }
}

.c-card--cover {
    @include card-cover;

    @include card-portrait-to-landscape-size {
        .c-card__title {
            @include font('COMMUTER SANS', 15px, 'MEDIUM', 40px);
        }
    }
}

.c-card--cover-small {
    @include card-cover;
}

.c-card--cover-large {
    @include card-cover;

    .c-card__title {
        @include font('COMMUTER SANS', 15px, 'MEDIUM', 40px);
    }
}
