.c-card--dark {
    &.c-card--landscape,
    &.c-card--portrait,
    &.c-card--switcher,
    &.c-card--hero,
    &.c-card--dark {
        .c-card__image {
            background-color: $cod-gray;
        }

        .c-card__title {
            color: $white;
        }

        .c-card__byline {
            color: $gray;
        }

        &:hover,
        &:focus {
            .c-card__title {
                color: $cinnabar;
                text-decoration: none;
            }
        }

        .c-card__image__icon {
            background-color: $cod-gray;

            path {
                fill: $white;
            }
        }

        .c-card__obj__body {
            background: none;

            @include card-portrait-to-landscape-size {
                background: $cod-gray;
            }
        }
    }
}
