// Note: we force a padding-top on the image here as the image goes from
// landscape to square
@mixin card-hero {
    @include card-portrait;
    @include card-portrait-large;

    .c-card__image--picture img {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

@mixin card-hero-small {
    @include card-hero;

    .c-card__image--picture {
        padding-top: 66.66666%;
    }
}

@mixin card-hero-large {
    @include card-hero;

    .c-card__image--picture {
        padding-top: 100%;
    }
}

.c-card--hero {
    @include card-hero-small;

    @include card-portrait-to-landscape-size {
        @include card-hero-large;
    }
}

.c-card--hero-small {
    @include card-hero-small;
}

.c-card--hero-large {
    @include card-hero-large;
}
