@mixin card-landscape {
    .c-card__obj {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .c-card__obj__body {
        display: flex;
        flex-direction: column;
    }

    .c-card__title {
        margin: 0;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__image__icon {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        background: $white;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        bottom: 10px;
        left: 10px;
        z-index: 1;

        svg {
            width: 20px;
            height: 100%;

            .c-card-list--c-video-articles & {
                margin-left: 3px;
            }
        }

        .c-card__image__icon--video {
            width: 15px;
        }

        path {
            fill: $black;
        }
    }
}

@mixin card-landscape-small {
    @include card-landscape;

    .c-card__obj__header,
    .c-card__obj__body {
        flex: 0 0 50%;
        flex-direction: column;
    }

    .c-card__obj__header {
        padding-right: 13px;
    }

    .c-card__obj__body {
        padding-left: 0;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__title {
        @include t-card-landscape-title;
    }
}

@mixin card-landscape-large {
    @include card-landscape;

    .c-card__obj__header {
        flex: 1 0;
        padding-right: 10px;
    }

    .c-card__obj__body {
        background: $white;
        flex: 2 0;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__title {
        @include t-card-title;
    }
}

.c-card--landscape {
    @include card-landscape-small;
}

.c-card--landscape-small {
    @include card-landscape-small;
}

.c-card--landscape-large {
    @include card-landscape-large;
}
