.c-card--magazine {
    .c-card__obj {
        @include global__flag('c-card__obj');
    }

    .c-card__obj__header,
    .c-card__obj__body {
        @include global__flag__content('c-card__obj');
    }

    .c-card__obj__header {
        @include global__flag__image('c-card__obj');
        width: 33.33%;
    }

    .c-card__obj__body {
        @include global__flag__body('c-card__obj');
    }

    &:hover,
    &:focus {
        .c-card__image {
            img {
                transform: none;
            }
        }
    }
}

@mixin card-magazine-small {
    @include card-landscape-small;

    .c-card__title {
        @include font('STARLING', 16px, 'NORMAL', 19px);
    }
}

@mixin card-magazine-large {
    @include card-landscape-large;

    .c-card__obj__header {
        flex: 0 1 65px;
    }

    .c-card__obj__body {
        flex: 1 0 auto;
    }

    .c-card__images {
        width: 65px;
    }

    .c-card__title {
        @include font('STARLING', 16px, 'NORMAL', 19px);
    }
}

.c-card--magazine {
    @include card-magazine-small;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        @include card-magazine-large;
    }
}

.c-card--magazine-small {
    @include card-magazine-small;
}

.c-card--magazine-large {
    @include card-magazine-large;
}
