@mixin card-portrait {
    .c-card__obj {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .c-card__obj__header {
        flex: 0 1 auto;
    }

    .c-card__obj__body {
        flex: 1 0 auto;
    }

    .c-card__obj__header,
    .c-card__obj__footer {
        display: flex;
    }

    .c-card__footer {
        margin-top: 10px;
    }

    .c-card__obj__body {}

    .c-card__teaser {
        display: none;
    }

    .c-card__tag {}

    .c-card__title {}

    .c-card__header {
        flex: 1 0 auto;
        position: relative;
    }

    .c-card__separator {
        display: block;
        width: 20px;
        border: 0;
        border-top: 1px solid $black;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -10px;
    }

    .c-card__body {
        flex: 0 1 auto;
    }

    .c-card__image__icon {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        background: $white;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        z-index: 1;

        svg {
            width: 20px;
            height: 100%;

            .c-card-list--c-video-articles & {
                margin-left: 3px;
            }
        }

        .c-card__image__icon--video {
            width: 15px;
        }

        path {
            fill: $black;
        }
    }
}

@mixin card-portrait-small {
    .c-card__image__icon {
        bottom: 10px;
        left: 10px;
    }

    .c-card__title {
        @include font('STARLING', 18px, 'NORMAL', 22px);
        color: $black;
        letter-spacing: -0.5px;
        margin: 0 0 10px;
    }
}

@mixin card-portrait-large {
    .c-card__image__icon {
        transform: translateX(-50%);
        bottom: -20px;
        left: 50%;
    }

    .c-card__obj__body {
       background: $white;
       text-align: center;
       padding: 28px 20px;
    }

    .c-card__title {
        @include font('STARLING', 24px, 'NORMAL', 28px);
        color: $black;
        letter-spacing: -0.5px;
        margin: 0 0 15px;
    }
}

.c-card--portrait {
    @include card-portrait();
    @include card-portrait-large();
}

.c-card--portrait-small {
    @include card-portrait();
    @include card-portrait-small();
}

.c-card--portrait-large {
    @include card-portrait();
    @include card-portrait-large();
}
