@mixin card-portrait {
    .c-card__obj {
        display: flex;
        flex-direction: column;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .c-card__obj__header {
        flex: 0 1 auto;
    }

    .c-card__obj__body {
        flex: 1 0 auto;
    }

    .c-card__obj__header,
    .c-card__obj__footer {
        display: flex;
    }

    .c-card__obj__body {
       background: $white;
       text-align: center;
       padding: 28px 20px;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__tag {}

    .c-card__title {
        // FONT: CARD_PORTRAIT
        @include font('STARLING', 24px, 'NORMAL', 28px);

        color: $black-two;
        margin: 0 0 15px;
    }

    .c-card__header {
        flex: 1 0 auto;
        position: relative;
    }

    .c-card__separator {
        width: 20px;
        border: 0;
        border-top: 1px solid $COLOUR_MAIN_HIGHLIGHT;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -10px;
    }

    .c-card__body {
        flex: 0 1 auto;
    }

    .c-card__image__icon {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        background: $white;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        bottom: 10px;
        right: 10px;

        svg {
            width: 20px;
            height: auto;
        }

        path {
            fill: $black;
        }
    }
}


.c-card--portrait {
    @include card-portrait;
}

.c-card--portrait-small {
    @include card-portrait;
}

.c-card--portrait-large {
    @include card-portrait;
}
