// -------------------- //
// Tag Article
// -------------------- //
@mixin card-tg-article-small {
    @include card-landscape-small;

    .c-card__obj {
        @include global__flag('c-card__obj');
    }

    .c-card__obj__header,
    .c-card__obj__body {
        @include global__flag__content('c-card__obj');

        display: flex;
        width: 100%;
    }

    .c-card__obj__header {
        @include global__flag__image('c-card__obj');

        width: 33.33%;
    }

    .c-card__obj__body {
        @include global__flag__body('c-card__obj');
    }
}

@mixin card-tg-article-large {
    .c-card__obj {
        background: $white;
    }

    .c-card__obj__header {
        flex: 1 0;
        padding: 0;
    }

    .c-card__obj__body {
        flex: 2 0;
        justify-content: center;
        padding: 30px;
    }

    .c-card__title {
        @include font('STARLING', 24px, 'NORMAL', 28px);
        color: $COLOUR_MAIN_PRIMARY;
        letter-spacing: -0.5px;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: block;
        width: 10px;
        border: 0;
        border-top: 1px solid $black;
        margin: 15px 0;
    }

    .c-card__byline,
    .c-card__sponsor  {
        margin: 0;
    }

    .c-card__meta {}
}

.c-card--tg-article {
    @include card-tg-article-small;

    @include desktop-size {
        @include card-tg-article-large;
    }
}

.c-card--tg-article-small {
    @include card-tg-article-small;
}

.c-card--tg-article-large {
    @include card-tg-article-large;
}
