// -------------------- //
// Top Stories
// -------------------- //
@mixin card-top-stories {
    .c-card__obj {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {}

    .c-card__obj__header {
        flex: 0 0 70px;
    }

    .c-card__image__icon {
        display: none;
    }

    .c-card__obj__body {
        flex: 1 1 auto;
        padding: 0 0 0 13px;
    }

    .c-card__title {
        @include font('STARLING', 16px, 'NORMAL', 19px);

        margin: 0 0 10px;
        max-height: 57px;
        max-height: 3.5625rem;
        overflow: hidden;

        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            background: linear-gradient(90deg, transparent, #f5f5f5);
            height: 19px;
            height: 1.1875rem;
            width: 100px;
            top: 38px;
            top: 2.375rem;
            right: 0;
        }

    }

    .c-card__footer {
        font-size: 0;
    }

    .c-card__tag,
    .c-card__teaser,
    .c-card__byline {
        display: none;
    }

    .c-card__byline--sponsorship {
        display: block;
        margin-bottom: 0;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__meta {
        @include card-meta;

        margin-top: 0;
    }
}

.c-card--top-stories {
    @include card-top-stories;
}

.c-card--top-stories-small {
    @include card-top-stories;
}

.c-card--top-stories-large {
    @include card-top-stories;
}
