@mixin card-v-related {
    .c-card__obj {
        display: flex;
        flex-direction: row;
    }

    .c-card__obj__body {
        display: flex;
        flex-direction: column;
    }

    .c-card__title {
        @include t-card-landscape-title;

        margin: 0;
    }
}

@mixin card-v-related-small {
    @include card-v-related;

    .c-card__obj__header {
        flex: 0 0 175px;
        padding: 0;
    }

    .c-card__obj__body {
        flex: 1 1 auto;
        padding: 0 0 0 13px;
    }

    .c-card__obj__header {
        padding-right: 13px;
    }

    .c-card__images {
        .c-card__image {
            padding-top: 66.66666%;
        }

        .c-card__image__icon {
            display: none;
        }
    }

    .c-card__teaser,
    .c-card__separator {
        display: none;
    }

    .c-card__meta {}
}

@mixin card-v-related-large($has_small:false) {
    @include card-v-related;

    .c-card__obj__header {
        flex: 1 0 50%;

        padding-right: 12px;
    }

    .c-card__obj__body {
        flex: 1 0 50%;

        padding-left: 12px;
    }

    .c-card__images {
        .c-card__image {
            padding-top: 66.66666%;
        }

        .c-card__image__icon {
            display: none;
        }
    }

    .c-card__teaser,
    .c-card__separator {
        display: none;
    }

    .c-card__meta {}
}

.c-card--v-related {
    @include card-v-related-small;

    @include desktop-size {
        @include card-v-related-large;
    }
}

.c-card--v-related-small {
    @include card-v-related-small;
}

.c-card--v-related-large {
    @include card-v-related-large;
}
