@import "@cnbritain/merlin-www-common:wireframe";
@import "@cnbritain/merlin-www-card-list:wireframe";
@import "@cnbritain/merlin-www-gallery-strip:wireframe";
@import "@cnbritain/merlin-www-image:wireframe";
@import "@cnbritain/merlin-www-show-card-carousel:wireframe";
@import "@cnbritain/merlin-www-topic-strip:wireframe";

.tg-header {}
.tg-header__wrapper {}
.tg-header__intro {}
.tg-header__intro__image {}
.tg-header__hero {}
.tg-header__hero-credit {}
.tg-header__title {}

.tg-header__sponsor {}
.tg-header__sponsor-prefix {}
.tg-header__sponsor-image {}
.tg-header__sponsor-name {}

.tg-header__separator {}
.tg-header__description {
    &.is-closed {
        > :nth-child(n+3):nth-last-child(n+2) {
            display: none;
        }

        .tg-header__description-expand {
            display: block;
        }
    }
}
.tg-header__description-expand {
    display: none;
}
.tg-header__expand-btn {}
.tg-header__topic-strip {}
.tg-header__cards {}