@import "@cnbritain/merlin-www-common:wireframe";
@import "@cnbritain/merlin-www-card-list:wireframe";
@import "@cnbritain/merlin-www-gallery-strip:wireframe";
@import "@cnbritain/merlin-www-image:wireframe";
@import "@cnbritain/merlin-www-show-card-carousel:wireframe";
@import "@cnbritain/merlin-www-topic-strip:wireframe";

.tg-header {}
.tg-header-wrapper {}

/**
 * Intro
 * Hero, logo and title
 */
.tg-header__intro {}
.tg-header__hero {}
.tg-header__hero-credit {}
.tg-header__intro__image {}
.tg-header__title {}

/**
 * Description + expand
 */
.tg-header__description {
    &.is-closed {
        > :nth-child(n+3):nth-last-child(n+2) {
            display: none;
        }

        .tg-header__description-expand {
            display: block;
        }
    }
}

.tg-header__description-expand {
    display: none;
}

.global__button-reset{}
.tg-header__expand-btn {
    @include vendor-prefix( appearance, none );
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
}

/**
 * Sponsor
 */
.tg-header__sponsor {
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
.tg-header__sponsor-prefix {
    margin-right: 5px;
}
.tg-header__sponsor-image {
    display: inline-block;
    vertical-align: middle;

    img {
        max-height: 50px;
        max-width: 140px;
    }
}

.tg-header__sponsor-name {}
.tg-header__separator {}

/**
 * Navigation list
 */
.tg-header__topic-strip {}

/**
 * Featured cards
 */
.tg-header__cards {}

/**
 * Show card carousel
 */
.tg-header__shows{}

/**
 * Event information
 */
.tg-header__event-meta{}
.tg-header__event-meta__start-date{}
.tg-header__event-meta__location{}

/**
 * Header variants
 */
.tg-header--video{}
.tg-header--profile {}
.tg-header--brand {}
.tg-header--event {}
.tg-header--topic {}
.tg-header__shows {}
.tg-header__style-file {}
.tg-header--miss-vogue {}
.tg-header--person {}