@import '@cnbritain/merlin-www-common:gq';
@import '../wireframe/wireframe';

.c-gallery {
    background-color: $seashell;
    padding: $MOBILE_SIDE_GUTTER;
    max-width: none;

    @include at-medium-size {
        padding: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size{
        padding: $DESKTOP_SIDE_GUTTER;
    }

    & + .c-gallery,
    & + .c-feature {
        padding-top: 0;
    }

    & + .ad--native-large {
        margin-top: -$MOBILE_SIDE_GUTTER;

        @include at-medium-size {
            margin-top: -$TABLET_SIDE_GUTTER;
        }

        @include at-x-large-size{
            margin-top: -$DESKTOP_SIDE_GUTTER;
        }
    }
}

.c-gallery-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-gallery__image {
    background-color: $bon-jour;
}

.c-gallery__image-remaining {
    background-color: rgba(0,0,0,0.38);
}

.c-gallery__image-remaining__text {
    color: $white;
    white-space: nowrap;
    @include font("GOTHAM", 20px, 700, 20px);

    @include at-medium-size {
        @include font-size(24px);
        @include line-height(24px);
    }
}

.c-gallery__contents {
    background: $white;
    border-bottom: 1px solid $bon-jour;
    padding: 28px 20px;
    position: relative;
    text-align: center;

    &:after {
        @include triangle(16px, 12px, 'up', $white);
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: -16px;
        transform: translateX(-50%);
        width: 0;
    }

    @include at-medium-size {
        padding: 28px 48px;

        &:after {
            @include triangle(18px, 14px, 'left', $white);
            content: '';
            height: 0;
            left: -18px;
            position: absolute;
            top: 50%;
            transform: translateX(0%) translateY(-50%);
            width: 0;
        }
    }
}

.c-gallery__icon {
    display: none;

    @include at-medium-size {
        border: 1px solid $limed-oak;
        display: block;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 32px;
        width: 40px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $limed-oak;
        }
    }
}

.c-gallery__tag {
    @include font("GOTHAM", 11px, 700, 14px, -4);
    color: $limed-oak;
    margin-bottom: 8px;
    margin-top: 0;
    text-transform: capitalize;

    @include at-medium-size {
        @include font-size(12px);
        @include line-height(16px);
        margin-bottom: 12px;
    }
}

.c-gallery__title {
    color: $woodsmoke;
    @include font("ITC_FENICE", 24px, 700, 28px, -4);
    margin-bottom: 14px;
    margin-top: 0px;

    @include at-x-large-size {
        @include font-size(32px);
        @include line-height(36px);
        margin-bottom: 8px;
        margin-top: 0px;
    }
}

.c-gallery__teaser {
    @include font("GOTHAM", 12px, null, 16px, -4);
    color: $oslo-gray;
    display: none;
    margin-bottom: 14px;
    margin-top: 14px;

    @include at-x-large-size {
        @include font-size(15px);
        @include line-height(20px);
        display: block;
        margin-bottom: 20px;
        margin-top: 8px;
    }
}

.c-gallery__separator {
    display: none;
}

.c-gallery__byline {
    @include font("GOTHAM", 9px, null, 16px, 60);
    margin-bottom: 6px;
    margin-top: 14px;
    text-transform: uppercase;
}

.c-gallery__byline-prefix {
    @include font-weight(400);
}

.c-gallery__byline-name {
    @include font-weight(700);
}

.c-gallery__meta {
    @include font("GOTHAM", 9px, 500, 14px);
    color: $oslo-gray;
    margin-top: 6px;
}

.c-gallery__meta-item {
    padding-right: 0;
    & + li.c-gallery__meta-item {
        border-left: none;
        padding-left: 0;
        &:before {
            background-color: $oslo-gray;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 2px;
            margin: 1px 4px;
            width: 2px;
        }
    }
}