@import '@cnbritain/merlin-www-common:glamour';
@import '../wireframe/wireframe';

.c-cookie-warning {
    background-color: #FFF;
    border: 3px solid #000;
    padding: 20px;
}
.c-cookie-warning__table-cell--cta {
    vertical-align: top;
    width: 30px;
}
.c-cookie-warning__message {
    color: #000;
    @include font('GRAPHIK', 13px, 'SEMI BOLD', 17px);
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 20px;

    a {
        border-bottom: 2px solid #000;
        color: inherit;
        padding-bottom: 3px;
    }
}
.c-cookie-warning__button {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    height: 30px;
    padding: 0;
    width: 30px;

    svg {
        display: inline-block;
        height: 10px;
        margin: 0 auto;
        width: 10px;
    }
    path {
        stroke: #000;
        stroke-width: 6px;
    }
}

@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT){
    .c-cookie-warning {
        max-width: 630px;
        padding: 30px;
        width: 40%;
    }

    .c-cookie-warning__message {
        @include font-size(15px);
        @include line-height(20px);
        padding-right: 30px;
    }
}