@import './_variables';
@import './_mixins';
@import './_fonts';

@import "../wireframe/_defaults";

a {
    color: $COLOR_TYPE_LINK;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

abbr {}

blockquote {
    border-left: 2px solid $COLOR_MAIN_INACTIVE;
    color: $COLOR_TYPE_META;
    @include font('ADOBE CASLON', 18px, 'NORMAL');
    font-style: italic;
    margin: 0;
    padding: 0 0 0 20px;

    // We have to assign type bits here too as the later p selector always
    // overwrites the properties
    p {
        @include font('ADOBE CASLON', 18px, 'NORMAL');
    }

}
.blockquote__separator {
    display: none;
}
.blockquote__credit {
    color: $COLOR_TYPE_META;
    @include font('NOBEL', 15px, 'NORMAL');
    margin-top: $MARGIN_MEDIUM;
    text-transform: uppercase;
}

body {
    margin: 0;
    @include vendor-prefix(text-size-adjust, none);
}

h1, h2, h3, h4, h5, h6 {
    color: $COLOR_TYPE_HEADING;
    @include font('ITC CASLON', null, 'NORMAL');
    //Forces ligatures on Firefox
    font-variant-ligatures: common-ligatures;
    // 15px is the same margin as <p>
    margin: $MARGIN_MEDIUM 0 $MARGIN_SMALL 0;
    line-height: 1.2em;
}

%h-alpha {
    @include font-size(35px);
    font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    // @include min-screen($TYPE_MEDIUM_COPY_WIDTH){
    //     @include font-size(70px);
    // }
    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(50px);
    }
}
%h-beta {
    @include font-size(24px);
    font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    // @include min-screen($TYPE_MEDIUM_COPY_WIDTH){
    //     @include font-size(60px);
    // }
    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(29px);
    }
}
%h-gamma {
    @include font-size(20px);
    font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    // @include min-screen($TYPE_MEDIUM_COPY_WIDTH){}
    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(24px);
    }
}
%h-delta {
    @include font-size(17px);
    font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    // @include min-screen($TYPE_MEDIUM_COPY_WIDTH){}
    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(20px);
    }
}
%h-epsilon {
    @include font-size(15px);
    font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    // @include min-screen($TYPE_MEDIUM_COPY_WIDTH){}
    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(15px);
    }
}
%h-zeta {
    @include font-size(12px);
    font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
    // @include min-screen($TYPE_MEDIUM_COPY_WIDTH){}
    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(12px);
    }
}

h1, .h-alpha {
    @extend %h-alpha;
}
h2, .h-beta {
    @extend %h-beta;
}
h3, .h-gamma {
    @extend %h-gamma;
}
h4, .h-delta {
    @extend %h-delta;
}
h5, .h-epsilon {
    @extend %h-epsilon;
}
h6, .h-zeta {
    @extend %h-zeta;
}

hr {
    border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    height: 0;
    margin: 10px 0;
}

// TODO
// input {
//     font-family: map-get($_FONT_EXCHANGE, 'FAMILY');
// }

// input[type=text] {
//     @include font('BRUTAL', 15px, 'MEDIUM');
// }

mark {
    background-color: $COLOUR_BG_ACCENT1;
}

p {
    color: $COLOR_TYPE_BODY;
    @include font('ADOBE CASLON', 18px, 'NORMAL');

    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(20px);
    }
}

q {
    color: $COLOR_TYPE_HEADING;
    display: block;
    @include font('ADOBE CASLON', 24px, 'BOLD', 28px);
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH){
        @include font-size(29px);
        @include line-height(35px);
    }
}
.quote__separator {
    display: none;
}
.quote__credit {
    color: $COLOR_TYPE_HEADING;
    @include font('NOBEL', 15px, 'NORMAL');
    text-align: center;
    text-transform: uppercase;
}

small {
    color: $COLOR_TYPE_BODY;
    @include font('ADOBE CASLON', 13px, 'NORMAL');
}

ul, ol {
    @include font('ADOBE CASLON', 18px, 'NORMAL');
    margin: $MARGIN_SMALL 0;
}

li {
    margin: 0.4em 0;
}

ul {
    color: $COLOR_MAIN_SECONDARY;
    list-style-type: none;
    padding-left: 20px;
    @include font-size(18px);
    @include line-height(27px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(30px);
    }

    li {
        position: relative;
    }

    li:before {
        background: $COLOUR_BG_DARK;
        border-radius: 50%;
        content: "";
        display: block;
        height: 8px;
        left: -20px;
        position: absolute;
        top: 8px;
        width: 8px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            top: 11px;
        }
    }
}

ol {
    color: $COLOR_MAIN_SECONDARY;
    counter-reset: section;
    list-style-type: none;
    padding-left: $PADDING_LARGE;
    @include font-size(18px);
    @include line-height(27px);
    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(20px);
        @include line-height(30px);
    }

    li {
        position: relative;
    }

    li:before {
        background: $COLOUR_BG_DARK;
        color: #fff;
        counter-increment: section;
        content: counters(section,".");
        height: 20px;
        @include font('NOBEL', 12px, 400);
        left: -40px;
        line-height: 20px;
        position: absolute;
        text-align: center;
        top: 2px;
        width: 20px;

        @include min-screen($TYPE_LARGE_COPY_WIDTH) {
            top: 3px;
        }
    }
}

pre {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    @include font-size(14px);
    @include line-height(21px);
    white-space: pre-wrap;
    color: $COLOR_MAIN_TERTIARY;
    padding: $PADDING_SMALL;
    margin: $MARGIN_LARGE 0;
    background: $COLOUR_BG_ADVERT;
    border: solid 1px $COLOR_BORDER_SOLID_ACCENT2;
    border-radius: 4px;
}

code {
    font-family: 'Source Code Pro', Menlo, Consolas, Monaco, monospace;
    display: inline;
}