// -------------------- //
// /Contributor
// -------------------- //
@mixin card-contributor() {}

@mixin card-contributor-small() {
    .c-card__obj__header,
    .c-card__obj__body {
        text-align: left;
        vertical-align: middle;
    }

    .c-card__images {
        border-radius: 50%;
        padding: 8px;
        border: 1px solid $ISABEL;
    }

    .c-card__image {
        border-radius: 50%;
        overflow: hidden;
        padding-top: 100%;

        img {
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .c-card__obj__header {
        padding-right: 8px;
        width: 72px;
    }

    .c-card__obj__body {
        padding-left: 8px;
        width: auto;
    }
}

@mixin card-contributor-large() {

}

.c-card--contributor {
    @include card-landscape();
    @include card-landscape-small();

    @include card-contributor();
    @include card-contributor-small();

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include card-portrait();
        @include card-portrait-large();

        @include card-contributor-large();

        .c-card__obj__header,
        .c-card__obj__body {
            display: block;
            padding: 0;
            width: auto;
        }
    }
}

.c-card--contributor-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-contributor();
    @include card-contributor-small();
}

.c-card--contributor-large {
    @include card-portrait();
    @include card-portrait-large();

    @include card-contributor();
    @include card-contributor-large();
}