// -------------------- //
// Portrait
// -------------------- //
@mixin card-portrait() {

}

@mixin card-portrait-small() {

}

@mixin card-portrait-large() {
    .c-card {}
    .c-card__link {}

    .c-card__obj {}
    .c-card__obj__header {}

    .c-card__images {}
    .c-card__image {
        padding-top: 100%;
    }

    .c-card__image__icon {
        @include vendor-prefix(transform, translate(-50%, -50%));
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        height: 48px;
        left: 50%;
        top: 50%;
        width: 48px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 20px;
            fill: $WHITE;
        }
    }

    .c-card__obj__body {}
    .c-card__header {}

    .c-card__tag {
        @include font("PROXIMA NOVA CONDENSED", 14px, 600, 16px);
        color: $SHERPA-BLUE;
        letter-spacing: 2px;
        margin-bottom: 8px;
        margin-top: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    .c-card__title {
        @include font("PROXIMA NOVA CONDENSED", 20px, 600, 24px);
        color: $MUSTASAARI;
        margin-bottom: 16px;
        margin-top: 8px;
        text-align: center;
    }

    .c-card__teaser {
        display: none;
    }

    .c-card__separator {
        display: none;
    }

    .c-card__footer {}

    .c-card__byline {
        @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
        color: $MUSTASAARI;
        margin-bottom: 4px;
        margin-top: 8px;
        text-align: center;
    }

    .c-card__byline--sponsorship {}

    .c-card__byline-prefix {
        font-style: italic;
    }

    .c-card__byline-name {
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    ul.c-card__meta {
        @include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
        color: $MANATEE;
        margin-top: 4px;
        text-align: center;
    }

    li.c-card__meta-item {
        & + li.c-card__meta-item {
            &:before {
                background-color: $MANATEE;
                border-radius: 50%;
                content: "";
                display: inline-block;
                height: 2px;
                margin: 1px 4px;
                width: 2px;
            }
        }
    }
}

.c-card--portrait {
    @include card-portrait();
    @include card-portrait-large();
}

.c-card--portrait-small {
    @include card-portrait();
    @include card-portrait-small();
}

.c-card--portrait-large {
    @include card-portrait();
    @include card-portrait-large();
}