.n-main__covers {
    display: none;
    position: absolute;
    // top: 37px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: block;
    }
}

.n-main__covers__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: 30px;
    @include screen(1440px, 1500px) {
        @for $i from 0 through 60 {
            @media (min-width: 1440px + $i) {
                padding-left: #{(30 - $i/2)}px;
            }
        }
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }

    padding-right: 30px;
    margin: 0 auto;
}

.n-main__cover {
    display: inline-block;
    margin-right: 12px;
    width: 80px;

    img {
        width: 100%;
    }

    &:nth-child(2) {
        display: none;
    }
}

.n-main__cover__offer {
    // @include font("FREIGHT TEXT", 14px, 400, 18px);
    // color: $MUSTASAARI;
    display: inline-block;
    font-style: italic;
    max-width: 144px;
    vertical-align: top;
    white-space: pre-line;
}

.n-main__cover__btn,
a.n-main__cover__btn {
    @include button-single();
    @include button-single-light();

    // @include font-size(12px);
    // @include line-height(12px);
    // font-style: normal;
    // margin-top: 11px;
    // padding: 10px;
    // width: auto;

    &:hover {
        @include button-single-light-hover();
    }
}

.n-menu__subscribe {
    // background-color: $CAPE-HAZE;
    // border-bottom: 1px solid $ISABEL;
    // border-top: 1px solid $ISABEL;
    // margin: 32px 0;
    // padding: 20px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.n-menu__subscribe__wrapper {}
.n-menu__subscribe-cols {
    display: table;
    width: 100%;
}

.n-menu__subscribe-col {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.n-menu__subscribe-covers {
    position: relative;
    font-size: 0;
}

.n-menu__subscribe-cover {
    &:nth-child(1) {
        width: 85px;
    }

    &:nth-child(2) {
        // background-color: $MUSTASAARI;
        // border-bottom: 8px solid $BLACK;
        // border-left: 4px solid $BLACK;
        // border-radius: 3px;
        // border-right: 4px solid $BLACK;
        // border-top: 8px solid $BLACK;
        bottom: 0;
        // box-shadow: 0px 0px 0px 1px $ABBEY;
        left: 60px;
        position: absolute;
        width: 48px;
    }
}

.n-menu__subscribe-message {
    // @include font("FREIGHT TEXT", 14px, 400, 18px);
    // color: $MUSTASAARI;
    font-style: italic;
    max-width: 240px;
    vertical-align: top;
    white-space: pre-line;
}

a.n-menu__subscribe-btn {
    @include button-group();
    @include button-group-light();

    // @include font-size(12px);
    // @include line-height(12px);
    // margin-top: 12px;
    // padding: 10px;
    // width: auto;

    &:hover {
        @include button-group-light-hover();
    }
}