@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-buttons:glamour";
@import "@cnbritain/merlin-www-search-header:glamour";

@import "../wireframe/wireframe";

.has-open-menu {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.n-main {
    background-color: $COLOUR_BG_MAIN;

    @include tablet-size {}
}

.n-main__wrapper {
    max-width: 100%;
}

.n-main__header {
    padding: 25px 0 20px;
    border-bottom: 2px solid $COLOUR_BORDER_SOLID;
}

.n-main__header-logo {
    svg {
        display: inline;
    }
}

.n-main__nav {
    @include font('GRAPHIK', 17px, 'NORMAL', 15px, 20);

    background-color: $COLOUR_BG_MAIN;
    height: $MAIN_NAVIGATION_HEIGHT;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;

    a {
        @include font('GRAPHIK', 17px, 400, 15px, 20);

        border-bottom-width: 0;

        &:hover {
            border-bottom-width: 0;
            color: $COLOUR_MAIN_HIGHLIGHT;
        }

        &.btn-single {
            @include font-size(15px);

            border-bottom-width: 1px;
            box-sizing: border-box;
            width: 100%;

            &:hover {
                color: $COLOUR_MAIN_DARK;
            }
        }
    }
}

.n-main__nav-logo {
    border: 0;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: auto;

    @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
        border-right: 0;
        width: 176px;
    }

    a {
        display: block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        transform: translateY(0);
        transition: transform .3s ease-out;
        vertical-align: middle;
        width: 136px;

        @include screen(1440px, 1500px) {
            @for $i from 0 through 40 {
                @media (min-width: 1440px + $i) {
                    padding-left: #{(20 - $i/2)}px;
                }
            }
        }

        @include min-screen(1480px) {
            padding-left: 0px;
        }
    }

    svg {
        display: inline-block;
        vertical-align: middle;
    }

    &.is-hidden {
        a {
            @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
                transform: translateY($MAIN_NAVIGATION_HEIGHT);
            }
        }
    }

}

.n-main__nav-hamburger {
    border: 0;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: $MAIN_NAVIGATION_HEIGHT;

    label {
        border-left: 1px solid $COLOUR_BG_SECONDARY;
        cursor: pointer;
        display: block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        width: $MAIN_NAVIGATION_HEIGHT;
    }

    svg {
        display: inline-block;
        height: 22px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: middle;
    }
}

.n-main__nav-search {
    @include max-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
    }

    display: inline-block;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: $MAIN_NAVIGATION_HEIGHT;

    label {
        background-color: transparent;
        border-left: 1px solid $COLOUR_BG_SECONDARY;
        cursor: pointer;
        display: block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        transition: all .1s ease-in-out;
        width: $MAIN_NAVIGATION_HEIGHT;

        path {
            fill: $COLOUR_MAIN;
            transition: all .1s ease-in-out;
        }

        &:hover {
            path {
                fill: $COLOUR_MAIN_HIGHLIGHT;
            }
        }
    }

    svg {
        display: inline-block;
        height: 20px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        padding-bottom: 3px;
        vertical-align: middle;
    }
}

.n-main__list {
    @include font-size(17px);
}

.n-main__list-item {
    position: relative;
    vertical-align: middle;
}

.n-main__nav-link {
    border: 0;
    color: $COLOUR_MAIN;
    display: block;
    padding: 0 20px;

    .n-main__list-item + .n-main__list-item & {
        padding-left: 23px;
    }

    .n-main__list-item + .n-main__list-item > & {
        &::before {
            @include vendor-prefix(transform, translate(-50%, -50%));
            background-color: $COLOUR_MAIN_HIGHLIGHT;
            border-radius: 50%;
            content: '';
            display: block;
            height: 5px;
            left: 0;
            position: absolute;
            top: 50%;
            width: 5px;
        }
    }

    .n-main__dropdown + .n-main__list-item & {
        padding-left: 20px;
    }

    .n-main__dropdown & {
        padding-right: 30px;
    }

    span {
        display: inline-block;
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: middle;

        &,
        &:hover,
        &:focus {
            border: 0;
        }

    }
}

.n-main__nav-signpost {
    display: none;
}

.n-main__sticker-child {
    background-color: $COLOUR_BG_MAIN;
    border-bottom: 2px solid $COLOUR_BORDER_NAVIGATION_TOP;

    &.is-stuck {
        border-top-color: $COLOUR_BORDER_SOLID_DARK;
    }
}



////
// Dropdown items
// =============================================================================
////

.n-main__dropdown--follow {
    .n-main__dropdown-link {
        @include font('MILLER_DISPLAY', 15px);
        padding-right: 30px;
    }

    .n-main__dropdown-list-item {
        text-align: center;
    }
}

.n-main__dropdown--follow__group {
    margin: 0 15px;
    padding: 20px 0 0;

    &:last-child {
        padding-bottom: 20px;
    }

    .btn-share {
        height: 35px;
        margin: 0 5px;
        width: 35px;
    }
}

.n-main__dropdown-list {
    background-color: $COLOUR_BG_MAIN;
    border-bottom: 2px solid $COLOUR_SEPARATOR_NAVIGATION;
    box-shadow: none;
    margin-top: 0;
    min-width: 180px;
    z-index: 2;
}

.n-main__dropdown-list--right {
    right: -($MAIN_NAVIGATION_HEIGHT);
}

.n-main__dropdown-list--left {
    // Borders are on left/right of list element
    // Increases dropdown size while allowing
    // Borders to extend as if on parent
    // .n-main__dropdown-list-item:first-child() {
    //     padding-top: 10px;
    // }

    .n-main__dropdown-list-item:last-child() {
        padding-bottom: 10px;
    }
}

.n-main__dropdown-list--follow {
    right: -1px;
}

.n-main__dropdown-link {
    &::after {
        border-top-color: $COLOUR_MAIN_HIGHLIGHT;
        left: 10px;
        position: relative;
        top: -3px;
    }
}

.n-main__dropdown:hover {
    .n-main__dropdown-link {

    }
}


li {
    &.n-main__dropdown-list-item {
        border-left: 2px solid $COLOUR_SEPARATOR_NAVIGATION;
        border-right: 2px solid $COLOUR_SEPARATOR_NAVIGATION;
        white-space: nowrap;
        z-index: 3;

        span {
            @include font-size(15px);
            height: 40px;
            line-height: 40px;
            width: 100%;
        }
    }

    &.n-main__dropdown-list-item--padding {
        margin: 0 20px;
        padding: 15px 0;
    }

    &.n-main__dropdown-list-item--share {
        text-align: center;

        .btn-share {
            margin: 0 10px;
        }
    }

    &.n-menu__social-item {
        display: inline-block;
        margin: 0 5px;

        .btn-share {
            height: 40px;
            line-height: 40px;
            width: 40px;

            svg {
                width: 37%;
            }
        }
    }
}


////
// Hamburger menu
// =============================================================================
////
.n-menu {
    background-color: $COLOUR_BG_MAIN;

    &.is-visible {
        bottom: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        // We add one to get round any rounding issues when the navigation
        // is resized down
        top: ($MAIN_NAVIGATION_HEIGHT + 1);
        width: 100%;
        z-index: 2;
    }
}

.n-menu__top-stories {
    background-color: $COLOUR_BG_SECONDARY;

    .c-top-stories {
        display: block;
        padding: 0;
    }

    .c-top-stories__wrapper {
        padding: 0 20px;
    }

    .c-top-stories__overflow {
        margin: 0 -20px;
        padding: 20px;
    }

    .c-top-stories__list {
        .global__mb__float {
            width: 75px;
        }
    }
}


.n-menu__nav {
    background: $COLOUR_MAIN_DARK;
    padding: 0 20px;
    padding-bottom: 20px;

    .n-menu__nav__wrapper {
        overflow: hidden;
    }

    a {
        .n-menu__nav-item {
            border-bottom: 1px solid #000;
            box-sizing: border-box;
            color: $COLOUR_MAIN;
            float: left;
            height: $MAIN_NAVIGATION_HEIGHT;
            position: relative;
            width: 100%;

            @include tablet-size {
                height: 100px;
            }

            .n-menu__nav-link {
                @include font('GRAPHIK', 17px, $line-height: 15px, $tracking: 20);
                @include vendor-prefix(transform, translateY(-50%));
                position: absolute;
                top: 50%;
                word-break: break-word;
            }

            &.n-menu__nav-item--more {
                border: none;
                height: 45px;
                margin-top: 0px;
                width: 50%;

                .n-menu__nav-link {
                    @include font-size(14px);
                    @include vendor-prefix(transform, none);
                    bottom: 0;
                    top: initial;
                }
            }

        }
    }
}

.n-main__nav-title {
    @include font('GRAPHIK', 17px, 400, 17px);

    display: none;
    margin-left: 156px;
    margin-right: 134px;
    overflow: hidden;
    padding: 22px 20px 20px 20px;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include min-screen(600px) {
        display: block;
    }

    @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
        margin-right: 185px;
    }
}



////
// Search specific bits
// =============================================================================
////
.n-menu__search {
    background-color: $COLOUR_MAIN;
    height: $MAIN_NAVIGATION_HEIGHT;
    position: relative;

    path {
        fill: $COLOUR_MAIN_DARK;
    }
}

.n-menu__search-textbox {
    display: inline-block;
    height: $MAIN_NAVIGATION_HEIGHT;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    input {
        @include font('GRAPHIK', 17px, 400);

        background: transparent;
        border: 0;
        box-sizing: border-box;
        color: $COLOUR_MAIN_DARK;
        height: $MAIN_NAVIGATION_HEIGHT;
        padding: 0 $MAIN_NAVIGATION_HEIGHT 0 20px;
        width: 100%;

        &::placeholder {
            color: $COLOUR_MAIN_TERTIARY;
        }
    }
}


////
// Social specific buttons
// =============================================================================
////
.n-menu__social {
    border-top: 2px solid $COLOUR_BORDER_SOLID;
    margin-top: 10px;
    padding: 30px 0;
    text-align: center;
}

.n-menu__social-title {
    @include font('GRAPHIK', 12px, 400);

    margin: 0 0 20px;
}


////
// Gallery specific buttons
// =============================================================================
////
.n-gallery-counter {
    @include font('GRAPHIK', 13px, 'LIGHT', 63px);

    height: $MAIN_NAVIGATION_HEIGHT;
    padding: 0 10px;

    @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
        @include font-size(17px);
    }
}

.n-gallery-counter__current {
    @include font('GRAPHIK', 18px, 500);

    @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
        @include font-size(21px);
    }
}

.n-gallery-counter__slash {
    padding: 0 3px;
}

.n-gallery-toggle,
a.n-gallery-close {
    background-color: $COLOUR_BG_MAIN;
    border-left: 1px solid $COLOUR_SEPARATOR_NAVIGATION;
    display: inline-block;
    height: $MAIN_NAVIGATION_HEIGHT;
    line-height: $MAIN_NAVIGATION_HEIGHT;
    text-align: center;
    width: 40px;

    @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
        height: $MAIN_NAVIGATION_HEIGHT;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        width: $MAIN_NAVIGATION_HEIGHT;
    }

    svg {
        display: inline-block;
        height: 15px;
        line-height: $MAIN_NAVIGATION_HEIGHT;
        vertical-align: text-bottom;
    }
}

.n-gallery-toggle--list,
.n-gallery-toggle--grid {
    height: $MAIN_NAVIGATION_HEIGHT;
    width: 40px;

    @include min-screen($MAIN_NAVIGATION_MOBILE_BREAKPOINT) {
        height: $MAIN_NAVIGATION_HEIGHT;
        width: $MAIN_NAVIGATION_HEIGHT;
    }

    svg {
        height: 18px;
    }
}

a.n-gallery-close {
    svg {
        height: 15px;
    }
}



////
// Navigation - Gallery
// =============================================================================
////
.n-gallery-nav {
    @include opacity(0);

    background-color: $COLOUR_BG_MAIN;
    bottom: 0;
    height: $MAIN_NAVIGATION_HEIGHT;
    left: 0;
    position: absolute;
    right: 0;
    transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
    visibility: hidden;
    width: 100%;

    &.is-visible {
        @include opacity(1);

        visibility: visible;
    }
}


.n-search {
    background-color: rgba(0, 0, 0, 0.9);

    &.has-overlay {
        left: 0;
        margin-top: -3px;
        padding-bottom: 100%;
        position: absolute;
        right: 0;
        top: auto;
        z-index: 3;

        &.is-stuck {
            bottom: 0;
            padding-bottom: 0;
            position: fixed;
            top: $MAIN_NAVIGATION_HEIGHT;
        }
    }
}

.n-menu__newsletter-btn {
    margin-bottom: 30px;
}


/**
 * Header Nav Covers
 * =============================================================================
 */
.n-main__covers {
    display: none;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: block;
    }

    position: absolute;
    top: 36px;
    //hax
    overflow: hidden;
    height: 107px;
}

.n-main__covers__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: 60px;
    padding-right: 60px;
}

.n-main__cover {
    display: inline-block;
    margin: 18px 12px 0 0;
    width: 80px;

    img {
        width: 100%;
    }

    &:nth-child(2) {
        display: none;
    }
}

.n-main__cover__offer {
    @include font('GRAPHIK', 12px, 'MEDIUM', 17px);

    color: $COLOUR_MAIN;
    display: inline-block;
    padding-top: 17px;
    vertical-align: top;
    width: 150px;

    white-space: pre-line;
}

.n-main__cover__btn,
a.n-main__cover__btn {
    @include font('GRAPHIK', 12px, 'MEDIUM', 17px);

    margin-top: 7px;
    padding: 5px;
}


/**
 * Subscribe slice
 * =============================================================================
 */
.n-menu__subscribe {
    border-top: 2px solid $COLOUR_BORDER_SOLID;
    margin: $MARGIN_MEDIUM 0 -10px;
    padding: 20px 0 0;
    height: 110px;
    overflow: hidden;
}

.n-menu__subscribe__wrapper {
    margin: 0 $MARGIN_SMALL;
}

.n-menu__subscribe-cols {
    display: table;
    width: 100%;
}

.n-menu__subscribe-col {
    display: table-cell;
    padding-left: 10px;
    padding-right: 0;
    vertical-align: top;
    width: 60%;

    &:first-child {
        padding-left: 0;
        width: 40%;
    }
}

.n-menu__subscribe-covers {
    position: relative;
    font-size: 0;
}

.n-menu__subscribe-cover {
    &:nth-child(1) {
        width: 85px;
    }

    &:nth-child(2) {
        position: absolute;
        left: 60px;
        bottom: 0;
        width: 48px;
    }
}
.n-menu__subscribe-message {
    @include font('GRAPHIK', 13px, 'MEDIUM', 17px);

    color: $COLOUR_MAIN;
    margin-bottom: $MARGIN_X_SMALL;
    max-width: 240px;
    margin-bottom: 10px;
}

a.n-menu__subscribe-btn {
    @include font-size(12px);
    @include font-weight('MEDIUM');

    margin-top: 0px;
    padding: 6px;
}
