.sh-article {}

.sh-article__body {
    margin-bottom: 40px;
    margin-top: 30px;

    @include min-screen( $TABLET_SIDE_GUTTER_BREAKPOINT ){
        margin-top: 40px;
        margin-bottom: 60px;
    }

    @include min-screen( $DESKTOP_SIDE_GUTTER_BREAKPOINT ){
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .sh-article__body-content a {
        @include body-links(true);
    }

}



.sh-article__body-expander {
    color: $COLOR_TYPE_META;
    @include font('ADOBE CASLON', 18px);
    font-style: italic;
    text-align: left;
    text-decoration: underline;

    &:hover,
    &:focus {
        border-bottom-color: rgba($COLOR_BORDER_DOTTED, 1);
    }
}














.sh-article__body-author {
    a {
        border-bottom: none;
        color: $COLOR_TYPE_HEADING;
        &:hover {
            border-bottom: none;
        }
    }
}
.sh-article__body-author__image {
    border-radius: 50%;
    margin-right: $MARGIN_SMALL;
}
.sh-article__body-author__byline {
    &:hover {
        a {
            @include secondary-links-hover();
        }
    }
}

.sh-article__body-author__byline-prefix {
    color: $COLOR_MAIN_TERTIARY;
    @include font('ADOBE CASLON', 12px);
    font-style: italic;
    text-transform: lowercase;
}
.sh-article__body-author__byline-name {
    @include font('NOBEL', 11px);
    letter-spacing: 1px;
    text-transform: uppercase;
}