.sh-article {}

.sh-article__body {
    margin-bottom: 40px;
    margin-top: 30px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        margin-bottom: 60px;
        margin-top: 40px;
    }

    .sh-article__body-content a {
        @include body-links(true);
    }

}

.sh-article__body-expander {
    @include font('ADOBE CASLON', 18px);
    color: $dove-gray;
    font-style: italic;
    text-align: left;
    text-decoration: underline;

    &:hover,
    &:focus {
        border-bottom-color: rgba($dove-gray, 1);
    }
}

.sh-article__body-author {
    a {
        border-bottom: none;
        color: $cod-gray;

        &:hover {
            border-bottom: none;
        }
    }
}

.sh-article__body-author__image {
    border-radius: 50%;
    margin-right: 20px;
}

.sh-article__body-author__byline {
    &:hover {
        a {
            @include secondary-links-hover();
        }
    }
}

.sh-article__body-author__byline-prefix {
    @include font('ADOBE CASLON', 12px);
    color: $dove-gray;
    font-style: italic;
    text-transform: lowercase;
}

.sh-article__body-author__byline-name {
    @include font('NOBEL', 11px);
    letter-spacing: 1px;
    text-transform: uppercase;
}