.sh-article-header {}

.sh-article-header__wrapper {
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}

.sh-article-header__content {
    padding: 40px 0 0 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 60px 360px 0 0;
    }

    @include min-screen($ARTICLE_TOTAL) {
        padding: 60px 360px 0 230px;
    }
}

.sh-article-header__tag {
    @include font('NOBEL', 11px);
    margin-bottom: 15px;
    text-transform: uppercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT){
        @include font-size(12px);
    }

    a {
        color: $guardsman-red;

        &:hover {
            text-decoration: underline;
        }
    }
}

.sh-article-header__tag-season {
    @include font-weight('BOLD');
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sh-article-header__title {
    @include font('ITC CASLON', 35px, 'NORMAL', 36px);
    color: $cod-gray;
    letter-spacing: -0.01em;
    margin: 15px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(50px);
        @include line-height(54px);
        margin: 20px 0;
    }
}

.sh-article-header__meta-summary {
    color: $dove-gray;
    @include font('NOBEL', 11px);
    letter-spacing: 0.025em;
    margin: 15px 0;

    svg {
        display: inline-block;
        fill: $dove-gray;
        height: 100%;
        margin-right: 10px;
        vertical-align: bottom;
        width: 8px;
    }

    a {
        color: $guardsman-red;

        &:hover {
            text-decoration: underline;
        }
    }

    @include min-screen($ARTICLE_TOTAL) {
        display: none;
    }

}

.sh-article-header__share {
    margin-top: 20px;
    // We have to set this as the about section gets in the way and prevents
    // margins from collapsing
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT){
        @include dotted-line($dove-gray, 1px, 3px);
        margin-top: 25px;
        padding-top: 20px;
        width: 100%;
    }
}

.sh-article-header__share-list {
    border: 1px solid $gallery;
    //Needs to be set or iOS increase li element height
    height: 45px;
}

.sh-article-header__share-item {
    //Needs to be set or iOS increase li element height
    height: 45px;

    & + & {
        border-left: 1px solid $gallery;
    }
}