.sh-article__galleries {
    border-top: 1px solid $alto;
    margin: 40px 0;
    padding-top: 30px;
}

.sh-article__galleries-list {
    margin: 0 -5px;
}

.sh-article__galleries-item__title {
    @include font('NOBEL', 12px, 'BOLD', 12px);
    letter-spacing: 0.025em;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}