.sh-article-sidebar {
    a {
        @include aside-links(true);
    }
}

.sh-article-sidebar__item {
    margin: 30px 0;
}

.sh-article-sidebar__item--meta {
    @include font('NOBEL', 10px, null, 10px);
    border-bottom: 1px solid $loot-box;
    color: $dove-gray;

    svg {
        fill: $dove-gray;
    }

    a {
        color: $guardsman-red;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        @include font-size(11px);
        @include line-height(11px);
    }
}