@import "../_fonts";

/**
 * These fonts are hosted by TypeKit
 */

// // Font configs
$_FONT: "adobe-caslon-pro", serif;
$FONT_ADOBE_CASLON: map-merge($FONT_GROUP_DEFAULT, (
    'FAMILY': $_FONT,
    'LETTER SPACING': normal,
    'LINE HEIGHT': 1.5em
));
$FONT_GROUPS: map-merge($FONT_GROUPS, ('ADOBE CASLON': $FONT_ADOBE_CASLON));