@import "../_fonts";

$_FONT: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
$FONT_GOTHAM: map-merge($FONT_GROUP_DEFAULT, (
    'FAMILY': $_FONT
));
$FONT_GROUPS: map-merge($FONT_GROUPS, ('GOTHAM': $FONT_GOTHAM));