@import url("//hello.myfonts.net/count/354c77");

@import "../_fonts";

@font-face {
	font-family: 'LuloOne-Bold';
	font-display: swap;
	font-style: normal;
	font-weight: 700;
    src: url('/static/fonts/lulo-one/LuloOne-Bold.woff2') format('woff2'),
         url('/static/fonts/lulo-one/LuloOne-Bold.woff') format('woff'),
         url('/static/fonts/lulo-one/LuloOne-Bold.ttf') format('truetype'),
         url('/static/fonts/lulo-one/LuloOne-Bold.eot') format('embedded-opentype');
}

$_FONT_FAMILY: LuloOne-Bold, sans-serif;
$_FONT_LULO_ONE: map-merge($FONT_GROUP_DEFAULT, (
    'FAMILY': $_FONT_FAMILY
));
$FONT_GROUPS: map-merge($FONT_GROUPS, ('LULO ONE': $_FONT_LULO_ONE));