@import "../_fonts";

/**
 * These fonts are self hosted in the static directory of the brand
 */

$FONT_DIR: '/static/fonts/Nobel/';

// Adobe Caslon
// Regular italic
@font-face {
  font-display: swap;
  font-family: 'Nobel';
  font-style: normal;
  font-weight: map-get($FONT_WEIGHTS, 'NORMAL');
  src: url($FONT_DIR + 'Nobel-Regular.woff2') format('woff2'),
       url($FONT_DIR + 'Nobel-Regular.woff') format('woff');
}

// Semi bold
@font-face {
  font-display: swap;
  font-family: 'Nobel';
  font-style: normal;
  font-weight: map-get($FONT_WEIGHTS, 'BOLD');
  src: url($FONT_DIR + 'Nobel-Bold.woff2') format('woff2'),
       url($FONT_DIR + 'Nobel-Bold.woff') format('woff');
}

// Font configs
$_FONT: Nobel, sans-serif;
$FONT_NOBEL: map-merge($FONT_GROUP_DEFAULT, (
    'FAMILY': $_FONT,
    'LETTER SPACING': 0.025em,
    'LINE HEIGHT': 1em
));
$FONT_GROUPS: map-merge($FONT_GROUPS, ('NOBEL': $FONT_NOBEL));