@import "../_fonts";

$_FONT_FAMILY: proxima-nova-condensed, sans-serif;
$_FONT_PROXIMA_NOVA_CONDENSED: map-merge($FONT_GROUP_DEFAULT, (
    'FAMILY': $_FONT_FAMILY
));
$FONT_GROUPS: map-merge($FONT_GROUPS, ('PROXIMA NOVA CONDENSED': $_FONT_PROXIMA_NOVA_CONDENSED));