@import "../_fonts";

/**
 * These fonts are hosted by TypeKit
 */

// Font configs
$_FONT: "soleil", sans-serif;
$FONT_SOLEIL: map-merge($FONT_GROUP_DEFAULT, (
    'FAMILY': $_FONT,
    'LETTER SPACING': normal,
    'LINE HEIGHT': 1.5em
));
$FONT_GROUPS: map-merge($FONT_GROUPS, ('SOLEIL': $FONT_SOLEIL));