.ad__main {

    &.is-hidden {

    }

    &.stick-wrapper {

    }

    &.is-sticky-block {

    }
}

.ad--homepage {
    &.ad--native-large {
        .ad__block {
            padding: 0;
        }

        &:not(.is-hidden) {
            & + .c-gallery,
            & + .c-feature {
                margin-top: -$MOBILE_SIDE_GUTTER;

                @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
                    margin-top: -$TABLET_SIDE_GUTTER;
                }

                @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                    margin-top: -$DESKTOP_SIDE_GUTTER;
                }
            }
        }
    }
}

.ad--article {
    text-align: center;
}

.ad--article-header {

}

.ad--article-video {
    .ad__block {
        background-color: $shark;
    }
}

.ad--article-rail {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        margin: 0;
        right: 0;
        width: 300px;
    }

    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            background-color: transparent;
            margin: -20px 0;
            padding: 20px 0;
        }
    }
}

.ad--article-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--article-inline {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: 0;
        margin-right: 0;
    }
}

.ad--gallery {}

.ad--gallery-inline {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: 0;
        margin-right: 0;
    }
}

.ad--gallery-side {
    display: none;
    margin: 0 auto $DESKTOP_SLICE_MARGIN auto;
    width: 300px;

    .ad__block {
        background-color: transparent;
        margin: -20px 0;
        padding: 20px 0;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: block;
        margin-bottom: 0;
        position: absolute;
        right: 0;
    }
}

.ad--gallery__interstitial-image,
.ad--gallery__interstitial-video {
    cursor: pointer;
    max-width: 100%;
}

.ad--show {

}


.ad--show-season {
    .ad__title {
        padding: 0;
    }

    .ad__block {
        background-color: $shark;
        padding-bottom: 0;

        @include min-screen($SHOWS_SEASON_HUB_LARGE_BREAKPOINT) {
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.ad--show-top {
    .ad__block {
        background-color: $shark;
    }
}

.ad--show-rail {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        margin: 0;
        right: 0;
        width: 300px;
    }

    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            background-color: transparent;
            margin: -20px 0;
            padding: 20px 0;
        }
    }
}

.ad--show-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--tag {

}

.ad--tag-header {
    .ad__block {
        background-color: $shark;
    }
}

.ad--tag-rail {
    margin: 10px (-$MOBILE_SIDE_GUTTER + 10) 10px (-$MOBILE_SIDE_GUTTER + 10);

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER + 10;
        margin-right: -$TABLET_SIDE_GUTTER + 10;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        clear: right;
        float: right;
        margin: 0 -340px 0 40px;

        &.stick-wrapper--fixed {
            margin-right: -40px;
        }
    }

    .ad__block {
        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            background-color: transparent;
            margin: -10px 0;
            padding: 20px 0;
        }
    }
}

.ad--tag-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        left: 100%;
        position: absolute;
        top: 0;
    }
}

.ad--tag-inline {
    padding: 0 10px;
    position: relative;
    margin: 10px (-$MOBILE_SIDE_GUTTER + -10px);


    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$DESKTOP_SIDE_GUTTER;
        margin-right: (-$DESKTOP_SIDE_GUTTER + -340px + -10px);

        &:before {
            background: $albaster;
            content: "";
            height: 100%;
            width: 100vw;
            position: absolute;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }

}

.ad__title {
    @include font("GOTHAM", 9px, 400, 12px, 60);
    color: $oslo-gray;
    display: block;
    margin-bottom: 8px;
    margin-top: 0;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;
    text-align: left;
    text-transform: uppercase;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }
}

.ad__block {
    background-color: $albaster;
    padding: 20px 0;
    text-align: center;

    &.is-sticky-element {

    }
}

.ad__container {

}