.ad__main {

	&.is-hidden {

	}

	&.stick-wrapper {

	}

	&.is-sticky-block {

	}
}

.ad--homepage {
	.ad__block {
		background-color: $albaster;
		padding: 20px 0;
		text-align: center;
	}
}

.ad--article {
	text-align: center;
}

.ad--article-header {

}

.ad--article-rail {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        margin: 0;
        width: 300px;
    }
}

.ad--article-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--article-inline {

}

.ad--show {
	text-align: center;
}

.ad--show-top {

}

.ad--show-rail {
    margin-bottom: 40px;
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    margin-top: 40px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        margin: 0;
        width: 300px;
    }
}

.ad--show-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ad--tag {
	.ad__block {
		background-color: $albaster;
		padding: 20px 0;
		text-align: center;
	}
}

.ad--tag-header {
	.ad__block {
		background-color: $shark;
		padding: 20px 0;
		text-align: center;
	}
}

.ad--tag-rail {
	margin: 20px (-$MOBILE_SIDE_GUTTER + 10) 0 (-$MOBILE_SIDE_GUTTER + 10);

	@include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
		margin-left: -$TABLET_SIDE_GUTTER + 10;
		margin-right: -$TABLET_SIDE_GUTTER + 10;
	}

	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
	    clear: right;
	    float: right;
	    margin: 0 -340px 0 40px;

	    &.stick-wrapper--fixed {
	        margin-right: -40px;
	    }
	}
}

.ad--tag-rail-top {
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        left: 100%;
        position: absolute;
        top: 0;
    }
}

.ad__title {
	@include font("GOTHAM", 9px, 400, 12px, 60);
	color: $oslo-gray;
	margin-bottom: 8px;
	margin-top: 0;
	text-transform: uppercase;
}

.ad__block {

	&.is-sticky-element {

	}
}

.ad__container {

}