@import "../wireframe/wireframe";

.c-show-summary-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;
	position: relative;

    &:focus,
    &:hover {
        .c-show-summary-section__image {
            opacity: 0.8;
        }
        .c-show-summary-section__title {
            opacity: 0.7;
        }
    }
}
.c-show-summary-section__wrapper {
	margin: 0 auto;
	max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-show-summary-section__image {
    @include transition(opacity 0.3s ease-in-out);
    opacity: 1;
}

.c-show-summary-section__content {
    background-color: $white;
    margin-left: $MOBILE_SIDE_GUTTER;
    margin-right: $MOBILE_SIDE_GUTTER;
    margin-top: -$MARGIN_LARGE;
    padding: $PADDING_SMALL $PADDING_LARGE $PADDING_LARGE $PADDING_LARGE;
    position: relative;
    text-align: center;
}

.c-show-summary-section__title {
    @include font('ITC CASLON', 24px, 'NORMAL', 26px);
    @include transition(opacity 0.3s ease-in-out);
    color: $cod-gray;
    margin: 0 0 $MARGIN_XX_SMALL 0;
    opacity: 1;
}

.c-show-summary-section__meta {
    @include font('NOBEL', 10px, null, 16px);
    color: $dove-gray;
	display: inline-block;
}

.c-show-summary-section__meta-item {
	letter-spacing: 1px;
    padding-right: $PADDING_XX_SMALL;
	text-transform: uppercase;

	&--season {
		color: $guardsman-red;
	}

	&--show-type {
		color: $dove-gray;
	}

    &:last-child {
        padding-right: 0;
    }

    & + .c-show-summary-section__meta-item {
        border-left: 1px solid $loot-box;
        padding-left: $PADDING_XX_SMALL;
    }
}

@include card-portrait-to-landscape-size {
    .c-show-summary-section__meta {
        @include font-size(11px);
        @include line-height(20px);
        border-top: 1px solid $loot-box;
        padding-top: 8px;
    }
}

@include feature-slice-at-large {
    .c-show-summary-section__content {
        margin-top: -72px;
        max-width: 760px;
        padding: $PADDING_LARGE $PADDING_X_LARGE 0 $PADDING_X_LARGE;
    }
    .c-show-summary-section__title {
        @include font-size(41px);
        @include line-height(45px);
        margin-bottom: $MARGIN_SMALL;
    }
}

@include tablet-size {
    .c-show-summary-section {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }
    .c-show-summary-section__content {
        margin-left: $TABLET_SIDE_GUTTER;
        margin-right: $TABLET_SIDE_GUTTER;
    }
}

@include desktop-size {
    .c-show-summary-section {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
    .c-show-summary-section__content {
        margin-left: auto;
        margin-right: auto;
    }
}

