@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-buttons:wired";

@import "../wireframe/wireframe";

.c-newsletter {
    background-color: #fff;
    box-sizing: border-box;
    margin: $MOBILE_SLICE_MARGIN auto;
    text-align: center;

    @include at-medium-size {
        margin-bottom: $TABLET_SLICE_MARGIN;
        margin-top: $TABLET_SLICE_MARGIN;
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin-bottom: $DESKTOP_SLICE_MARGIN;
        margin-top: $DESKTOP_SLICE_MARGIN;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-newsletter-wrapper {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding: $MOBILE_SIDE_GUTTER;
    position: relative;

    @include at-medium-size {
        padding: $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding: $DESKTOP_SIDE_GUTTER;
    }
}

.c-newsletter__logo {
    margin-bottom: 20px;

    svg {
        width: 85px;
        height: 85px;
    }

    @include at-medium-size {
        margin-bottom: 30px;

        svg {
            height: 100px;
            width: 100px;
        }
    }

}

.c-newsletter__title {
    @include font('NEW GROTESK SQUARE', 30px, 700, 30px);
    margin: 0 0 15px 0;
    text-transform: uppercase;

    @include at-medium-size {
        @include font-size(40px);
        @include line-height(40px);
    }
}

.c-newsletter__description {
    @include font('EXCHANGE WEB', 17px, null, 23px);
    margin: 0 auto 20px auto;
    max-width: 750px;

    @include at-medium-size {
        margin-bottom: 25px;
    }
}

.c-newsletter__form {
    margin: 0 auto 15px auto;
    width: 100%;

    @include at-x-large-size {
        height: 40px;
        margin-bottom: 20px;
        width: auto;
    }
}

.c-newsletter__form-text {
    @include font('BRUTAL', 14px, 400, 17px);
    background-color: $white-smoke;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: $black;
    display: block;
    height: 40px;
    letter-spacing: 0.020em;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;

    &:focus {
        outline: 0;
    }

    @include at-x-large-size {
        float: left;
        margin-bottom: 0;
        width: 420px;
    }

}
.c-newsletter__form-btn {
    @include button-single();
    @include button-single-light();
    @include font('BRUTAL', 12px, 'BOLD', 12px);
    display: block;
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    width: 100%;

    @include at-x-large-size {
        float: left;
        margin-left: 10px;
        width: 140px;
    }

    &:focus,
    &:hover {
        @include button-single-light-hover();
    }
}

.c-newsletter__legal {
    @include font('BRUTAL', 10px, 400, 15px);
    margin: 0;

    a {
        border: none;
    }

    @include at-x-large-size {
        @include font-size(12px);
    }
}

.c-newsletter__privacy {
    color: #000;
    text-decoration: underline;
}
