.c-topic-strip {
    overflow-x: auto;
    white-space: nowrap;
}

.c-topic-strip-wrapper {}

.c-topic-strip__title {
    @include font('COMMUTER SANS', 12px, null, 12px);
    color: $black;
    display: inline-block;
    letter-spacing: 1px;
    margin-right: 15px;
    text-transform: uppercase;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__listitem {
    margin-bottom: $MARGIN_XX_SMALL;
    margin-right: $MARGIN_XX_SMALL;
}

.c-topic-strip__link {
    @include button-group;
    @include button-group-light;

    &:hover,
    &:focus {
        @include button-group-light-hover;
    }
}

.c-topic-strip--a-related,
.c-topic-strip--sh-trends {
    margin: 30px auto;
    overflow-x: visible;
    white-space: normal;

    .c-topic-strip__link {
        @include button-related;
        @include button-related-light;

        &:hover,
        &:focus {
            @include button-related-light-hover;
        }
    }

    @include desktop-size {
        margin: 40px auto;
    }
}

.c-topic-strip--tg-header {
    margin-left: (-$MOBILE_SIDE_GUTTER);
    margin-right: (-$MOBILE_SIDE_GUTTER);
    text-align: center;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
    }
}

.c-topic-strip--c-card-section {
    margin: 20px 0;
    padding: 0;
    text-align: center;

    @include tablet-size {
        margin: 30px 0;
    }

}
