.c-topic-strip {}

.c-topic-strip--bleed {
    box-sizing: content-box;

    @include max-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: (-$MOBILE_SIDE_GUTTER);
        margin-right: (-$MOBILE_SIDE_GUTTER);
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;

        .c-topic-strip__list {
            margin-left: (-$MOBILE_SIDE_GUTTER);
            margin-right: (-$MOBILE_SIDE_GUTTER);
            padding-left: $MOBILE_SIDE_GUTTER;
            padding-right: $MOBILE_SIDE_GUTTER;
        }
    }
}

.c-topic-strip--c-card-section {
    margin: 20px 0;
    padding: 0;
    text-align: center;

    @include tablet-size {
        margin: 30px 0;
    }
}

//li added due to specificity of .global__list-reset li setting margin to 0
li.c-topic-strip__item {
    & + & {
        margin-left: 5px;

        @include tablet-size {
            margin-left: 10px;
        }
    }
}

.c-topic-strip__title {
    @include font('COMMUTER SANS', 12px, 400, 12px);

    color: $COLOUR_TITLE_TEXT;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 15px;
}

.c-topic-strip__btn {
    @include button-group;
    @include button-group-light;

    background: none;

    &:hover {
        @include button-group-light-hover;
    }
}

.c-topic-strip--article-related {
    overflow-x: visible;
    text-align: left;
    white-space: normal;

    .c-topic-strip__list {
        margin-top: -$MARGIN_XX_SMALL;
    }

    li.c-topic-strip__item,
    li.c-topic-strip__item + .c-topic-strip__item {
        margin: $MARGIN_XX_SMALL $MARGIN_XX_SMALL 0 0;
    }

    // .c-topic-strip__btn {
    //     @include button-related;

    //     &:hover {
    //         @include button-related-hover;
    //     }
    // }

}
