.tg-header {
    margin: 32px 0;

    @include at-x-large-size {
        margin: 48px 0;
    }
}

.tg-header__intro__image {
    height: auto;
    margin-bottom: 20px;
    max-width: 220px;

    img, svg {
        width: 100%;
    }

    @include at-x-large-size {
        margin-bottom: 30px;
        max-width: 400px;
    }
}

.tg-header--profile {
    .tg-header__intro__image {
        margin-bottom: 15px;
        max-width: 90px;

        img {
            height: 100%;
            width: 100%;
        }

        @include at-x-large-size {
            margin-bottom: 20px;
            max-width: 110px;
        }
    }
}

.tg-header__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
    margin: 0 auto;
}
.tg-header__intro {
    background-color: $black;
    padding: 30px 20px;
    position: relative;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 60px $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 60px 60px;
    }

    &:before {
        background-color: $black;
        content: '';
        height: 100%;
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        position: absolute;
        right: 50%;
        top: 0;
        width: 100vw;
    }
}

.tg-header__hero {
    height: 100%;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    position: absolute;
    right: 50%;
    top: 0;
    width: 100vw;

    img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}
.tg-header__hero-credit {
    @include font("COMMUTER SANS", 10px, 'NORMAL', 10px);
    bottom: 10px;
    color: $white;
    letter-spacing: 0;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
}

.tg-header__intro__image {
    margin-left: auto;
    margin-right: auto;
}

.tg-header__title {
    @include font('STARLING', 30px, 'NORMAL', 30px);
    color: $white;
    letter-spacing: -0.3px;
    position: relative;
    text-align: center;
    z-index: 1;

    @include at-medium-size {
        @include font-size(56px);
        @include line-height(56px);
        letter-spacing: -0.5px;
    }
}
.has-hero .tg-header__title {
    text-shadow: rgba(55, 51, 48, 0.8) 0px 0 27px;
}

// TODO
.tg-header__sponsor {}
.tg-header__sponsor-prefix {}
.tg-header__sponsor-image {}
.tg-header__sponsor-name {}

.tg-header__separator {
    display: none;
}

.tg-header__description {
    @include font("STARLING", 20px, 400, 23px);
    font-style: italic;
    margin: 20px auto 15px auto;
    max-width: $XX_LARGE_SIZE;
    padding: 0 $MOBILE_SIDE_GUTTER;
    text-align: center;

    @include at-medium-size {
        @include font-size(23px);
        @include line-height(28px);
        padding: 0 $TABLET_SIDE_GUTTER;
        margin: 20px auto;
    }

    @include at-x-large-size {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__description-expand {
    margin-top: 15px;

    @include at-x-large-size {
        margin-top: 20px;
    }
}

.tg-header__expand-btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}

.tg-header__topic-strip {
    margin: 20px auto;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 30px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__cards {
    margin: 20px auto;
    max-width: $XX_LARGE_SIZE;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 50px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}