.tg-header {
    margin: 32px 0;

    @include at-x-large-size {
        margin: 48px 0;
    }
}

.tg-header__intro__image {
    height: auto;
    margin-bottom: 20px;
    max-width: 220px;

    img, svg {
        width: 100%;
    }

    @include at-x-large-size {
        margin-bottom: 30px;
        max-width: 400px;
    }
}

.tg-header--profile {
    .tg-header__intro__image {
        margin-bottom: 15px;
        max-width: 90px;

        img {
            height: 100%;
            width: 100%;
        }

        @include at-x-large-size {
            margin-bottom: 20px;
            max-width: 110px;
        }
    }
}

.tg-header__wrapper {}
.tg-header__intro {}

.tg-header__intro__image {
    margin-left: auto;
    margin-right: auto;
}

// TODO
.tg-header__hero {}
.tg-header__hero-credit {}

.tg-header__title {
    @include font('COMMUTER SANS', 20px, 'NORMAL', 20px);
    color: $black;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @include at-medium-size {
        @include font-size(30px);
        @include line-height(30px);
    }

    span {
        background-color: $wild-sand;
        padding: 0 10px;
        position: relative;
        border-left: 1px solid $black;
        border-right: 1px solid $black;

        @include tablet-size {
            padding: 0 20px;
        }
    }

    &:before {
        background-color: $black;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
    }
}

// TODO
.tg-header__sponsor {}
.tg-header__sponsor-prefix {}
.tg-header__sponsor-image {}
.tg-header__sponsor-name {}

.tg-header__separator {
    display: none;
}

.tg-header__description {
    @include font("STARLING", 20px, 400, 23px);
    font-style: italic;
    margin: 20px auto 15px auto;
    max-width: $XX_LARGE_SIZE;
    padding: 0 $MOBILE_SIDE_GUTTER;
    text-align: center;

    @include at-medium-size {
        @include font-size(23px);
        @include line-height(28px);
        padding: 0 $TABLET_SIDE_GUTTER;
        margin: 20px auto;
    }

    @include at-x-large-size {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__description-expand {
    margin-top: 15px;

    @include at-x-large-size {
        margin-top: 20px;
    }
}

.tg-header__expand-btn {
    @include button-single();
    @include button-single-light();

    &:hover {
        @include button-single-light-hover();
    }
}

.tg-header__topic-strip {
    margin: 20px auto;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 30px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header__cards {
    margin: 20px auto;
    max-width: $XX_LARGE_SIZE;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        margin: 50px auto;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}