@import "@cnbritain/merlin-www-common:brides";
@import "@cnbritain/merlin-www-topic-strip:brides";
@import "@cnbritain/merlin-www-buttons:brides";
@import "@cnbritain/merlin-www-card-list:brides";
@import "@cnbritain/merlin-www-card:brides";

@import "../wireframe/wireframe";

.c-card-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include tablet-size {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include desktop-size {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.c-card-section--c-curated,
.c-card-section--c-tag,
.c-card-section--c-video-articles {
    .c-card-section__title-wrapper {
        margin-bottom: 36px;

        @include desktop-size {
            margin-bottom: 44px;
        }
    }

    .c-card-section__title {
        @include font("FREIGHT DISPLAY PRO", 40px, 400, 40px, 20);
        color: $stroller-grey;
        font-style: italic;
        margin: 0 0 24px 0;
        text-align: center;

        @include desktop-size {
            @include font-size(48px);
            @include line-height(48px);
            margin: 0 0 28px 0;
        }

        a {
            color: inherit;
        }

        span {
            box-shadow: inset 0 -0.25em 0 0 $white, inset 0 -0.65em 0 0 rgba($champagne, 0.7);
        }
    }

    .c-card-section__btn {
        @include button-single-two();
        @include button-single-two-light();
        margin-top: 42px;

        @include desktop-size {
            margin-top: 50px;
        }

        &:hover {
            @include button-single-two-light-hover();
        }

    }
}

.c-card-section--tg-articles,
.c-card-section--v-articles {
    .c-card-section__title {
        @include font("SOLEIL", 14px, 700, 17px, 30);
        color: $sapphire;
        margin-bottom: 28px;

        span {
            box-shadow: inset 0 -0.25em 0 0 $white, inset 0 -0.65em 0 0 rgba($azure, 0.7);
        }
    }

    .c-card-list {
        @include desktop-size {
            margin-right: 340px;
        }
    }
}

.c-card-section--c-video-articles {
    .c-card-section__logo {
        text-align: center;
        height: 42px;

        svg {
            height: 42px;
        }

        @include desktop-size {
            height: 60px;

            svg {
                height: 60px;
            }
        }
    }
}

.c-card-section--a-recommended,
.c-card-section--mag-articles,
.c-card-section--mag-magazines,
.c-card-section--v-genre-articles,
.c-card-section--v-related-articles,
.c-card-section--s-results {
    .c-card-section__title {
        @include font("SOLEIL", 14px, 700, 17px, 30);
        color: $sapphire;
        margin-bottom: 28px;

        span {
            box-shadow: inset 0 -0.25em 0 0 $white, inset 0 -0.65em 0 0 rgba($azure, 0.7);
        }
    }
}

.c-card-section--v-related-articles {
    @include desktop-size {
        display: none;
    }
}

.c-card-section__constrain {}
.c-card-section__logo {}
.c-card-section__title {}
.c-card-section__btn {}