@import '@cnbritain/merlin-www-common:traveller';

@import '../wireframe/wireframe';

.c-int-redirect {
	background-color: $SHERPA-BLUE;
}

.c-int-redirect-wrapper {
	max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-int-redirect__btn {
	height: 100%;
	position: absolute;
	right: 0;
	width: 60px;

	svg {
		border-radius: 50%;
		border: 1px solid $WHITE;
		box-sizing: border-box;
		fill: $WHITE;
		height: 24px;
		left: 50%;
		padding: 6px;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 24px;
	}
}

.c-int-redirect__msg {
	@include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
	color: $WHITE;
	padding: 16px 60px 16px 20px;
	text-align: center;

	label {
		border-bottom: 1px solid $WHITE;
		color: $WHITE;
	}

	@include at-x-large-size {
		padding: 24px 60px 24px 20px;
	}
}

.c-int-redirect__list {
	color: $WHITE;
	font-size: 0;
	padding: 16px 60px 16px 20px;
	text-align: center;

	@include at-x-large-size {
		padding: 24px 60px 24px 20px;
	}
}

.c-int-redirect__listitem {
	padding: 0 12px;

	a {
		@include font("PROXIMA NOVA CONDENSED", 12px, 400, 16px);
		border-bottom: 1px solid $WHITE;
		color: inherit;
	}

	@include at-x-large-size {
		padding: 0 16px 8px 16px;
	}
}