@import "@cnbritain/merlin-www-common:wired";
@import "@cnbritain/merlin-www-image:wired";

@import "../wireframe/wireframe";

.c-footer__list-item--brand-logo {
    padding-bottom: 0;
    padding-top: 0;

    svg {
        height: 60px;
        width: 30px;
    }
}
