@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-card-list:glamour";
@import "@cnbritain/merlin-www-card:glamour";

@import "../wireframe/wireframe";

.c-top-stories {
    background-color: $white;
    display: none;
    padding: 10px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        border-bottom: 1px solid $concrete;
        display: block;
    }

    &.has-navigation {
        .c-card-list__item:last-child {
            margin-right: 60px + 20px;
        }
    }
}

.c-top-stories__wrapper {
    position: relative;
    padding-left: 30px;
    transform: translateZ(0);

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(30px - (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }
}

.c-top-stories__nav {
    border-left: 3px solid $concrete;
    border-right: 3px solid $concrete;
    bottom: -10px;
    position: absolute;
    right: 0;
    top: -10px;
    width: 60px;
    z-index: 2;

    @include min-screen($MAXIMUM_PAGE_WIDTH + 3) {
        // border-right: 3px solid $concrete;
    }
}

.c-top-stories__nav-btn {
    position: absolute;
    outline: none;
}

.c-top-stories__nav-btn--left {
    border-top: 3px solid $concrete;
    top: 50%;
}

.c-top-stories__nav-btn--right {
    top: 0;
}

.c-top-stories__title {
    display: none;
}

.c-top-stories__overflow {
    margin-left: -30px;
    max-width: $MAXIMUM_PAGE_WIDTH;
    overflow-y: hidden;
    padding-left: 30px;
    transform: translateZ(0);

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(30px - (100vw - 1440px)/2 );
        margin-left: calc(-30px + (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        margin-left: 0;
        padding-left: 0;
    }

    .has-no-scroll & {
        overflow-x: hidden;
    }
}