@import "@cnbritain/merlin-www-common:wireframe";

@import "./_debug";

.ad__main {}
.ad__block {
    position: relative;
}
.ad__container {}

.ad__main.is-hidden {
    //Allows for margin collapse
    display: inline;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    visibility: hidden;

    .ad__block {
        display: inline;
    }

    .ad__container {
        height: 0;
        padding: 0;
    }

    iframe {
        width: 0;
    }
}