@import "@cnbritain/merlin-www-buttons:brides";
@import "@cnbritain/merlin-www-common:brides";

@import "../wireframe/wireframe";

.c-infobar {}
.c-infobar-wrapper {
    background-color: $azure;
}

.c-infobar__content {
    padding: 12px 60px 12px 20px;
}

.c-infobar__message {
    @include font("SOLEIL", 14px, 400, 15px);
    color: $sapphire;
    text-align: center;
    text-transform: uppercase;
}

.c-infobar__button {
    @include button-single-three();
    @include button-single-three-dark();
    &:hover {
        @include button-single-three-dark-hover();
    }

    margin: 10px 0 0 0;
    padding: 12px 15px;

    @include at-x-large-size {
        margin: 0 0 0 20px;
    }
}

.c-infobar__close-button {
    border: 1px solid $sapphire;
    border-radius: 50%;
    padding: 6px;

    svg {
        fill: $sapphire;
    }
}