@import '@cnbritain/merlin-www-common:gq';

@import '../wireframe/wireframe';

.c-gallery-strip {
    position: relative;
    margin-top: 40px;

    @include at-x-large-size {
        margin-top: 60px;
    }
}

.c-gallery-strip__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}

.c-gallery-strip__list__item {
    img {
        width: 100%;
    }
}

.c-gallery-strip__remaining {
    background-color: rgba(0, 0, 0, 0.38);
    @include font("GOTHAM", 20px, 700, 24px);
    color: $white;
}

.c-gallery-strip__detail {
    border-bottom: 1px solid $oslo-gray;
    border-left: 1px solid $oslo-gray;
    border-right: 1px solid $oslo-gray;
    box-sizing: border-box;
    padding: 20px;
    position: relative;

    &:after {
        @include triangle(16px, 12px, 'up', $woodsmoke);
        content: '';
        left: 50%;
        position: absolute;
        top: -16px;
        transform: translateX(-50%);
    }

    @include at-x-large-size {
        padding: 28px 20px;

        &:after {
            @include triangle(18px, 14px, 'up', $woodsmoke);
            content: '';
            top: -18px;
        }
    }
}

.c-gallery-strip__title {
    @include font("GOTHAM", 20px, 700, 24px, -4);
    color: $white;
    margin: 0;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(18px);
    }
}

.c-gallery-strip__subtitle {
    @include font("GOTHAM", 10px, 500, 12px, -40)
    color: $white;
    margin-top: 12px;
    text-align: center;

    @include min-screen($TYPE_LARGE_COPY_WIDTH) {
        @include font-size(12px);
        @include line-height(16px);
    }
}

.c-gallery-strip--tag {
    .c-gallery-strip__list {
        text-align: center;
    }

    .c-gallery-strip__list__item:nth-child(n+4){
        display: none;
    }

    .c-gallery-strip__list__item:nth-child(3){
        .c-gallery-strip__remaining {
            display: block;
        }
    }

    @include at-medium-size {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6){
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(3){
            .c-gallery-strip__remaining {
                display: none;
            }
        }

        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            display: inline-block;
            width: 16.66%;
        }
    }

   @include at-x-large-size {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+8){
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8){

            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            width: 12.5%;
        }
    }
}