@import '@cnbritain/merlin-www-common:glamour';

@import '../wireframe/wireframe';

.c-gallery-strip {
    position: relative;
    margin-top: 40px;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: 60px;
    }
}

.c-gallery-strip__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}

.c-gallery-strip__link {}
.c-gallery-strip__list {}
.c-gallery-strip__list__item {
    img {
        width: 100%;
    }
}

.c-gallery-strip__detail {
    border-bottom: 1px solid $oslo-gray;
    border-left: 1px solid $oslo-gray;
    border-right: 1px solid $oslo-gray;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    &:after {
        @include triangle(24px, 16px, 'up', $woodsmoke);
        @include vendor-prefix(transform, translateX(-50%));
        content: '';
        left: 50%;
        position: absolute;
        top: -24px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 28px 20px;

        &:after {
            @include triangle(32px, 22px, 'up', $woodsmoke);
            content: '';
            top: -32px;
        }
    }
}

.c-gallery-strip__remaining {
    @include font("GOTHAM", 20px, 700, 24px);
    color: $white;
}

.c-gallery-strip__title {
    @include font("GOTHAM", 16px, 700, 20px, -40);
    color: $white;
    margin: 0;
    text-align: center;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(20px);
        @include line-height(24px);
    }
}

.c-gallery-strip--tag {
    .c-gallery-strip__list {
        text-align: center;
    }

    .c-gallery-strip__list__item:nth-child(n+4){
        display: none;
    }

    .c-gallery-strip__list__item:nth-child(3){
        .c-gallery-strip__remaining {
            display: block;
        }
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6){
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(3){
            .c-gallery-strip__remaining {
                display: none;
            }
        }

        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            display: inline-block;
            width: 16.66%;
        }

        .c-gallery-strip__detail {

        }
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+8){
            display: inline-block;
        }

        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8){

            .c-gallery-strip__remaining {
                display: block;
            }
        }

        .c-gallery-strip__list__item {
            width: 12.5%;
        }
    }
}

.c-gallery-strip--gutters {
    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT){
        .c-gallery-strip__list {

        }

        .c-gallery-strip__list__item {

        }

        .c-gallery-strip__remaining {

        }
    }
}