@import '@cnbritain/merlin-www-common:houseandgarden';

@import '../wireframe/wireframe';

.c-int-redirect {
	background-color: $ebony-clay;
}

.c-int-redirect-wrapper {
	max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-int-redirect__btn {
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;

	svg {
		fill: $white;
		height: 100%;
		width: 100%;
	}
}

.c-int-redirect__msg {
	@include font('MILLER_DISPLAY', 14px, 'BOLD', 18px);
	color: $white;
	// padding right + button width + margin between text and button
	padding: 20px (20px + 20px + 20px) 30px 20px;
	text-align: left;

	@include at-x-large-size {
		padding-bottom: 20px;
		text-align: center;
	}

	label {
		text-decoration: underline;
	}
}

.c-int-redirect__list {
	@include font('MILLER_DISPLAY', 14px, 'BOLD', 18px);
	color: $white;
	// padding right + button width + margin between text and button
	padding: 20px (20px + 20px + 20px) 30px 20px;
	text-align: left;

	@include at-x-large-size {
		text-align: center;
	}

	a {
		color: inherit;
		text-decoration: underline;
	}
}


