@mixin section-right-sidebar(){
    .c-card-list {
        text-align: left;

        @include desktop-size {
            margin-right: 340px;
            position: relative;
        }
    }
}

.c-card-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include tablet-size {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include desktop-size {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.c-card-section__title {
    color: $cod-gray;
    font-weight: bold;

    a {
        color: inherit;
    }
}

.c-card-section__logo {
    height: 30px;
    margin-bottom: 30px;
    text-align: center;

    svg {
        display: inline-block;
        height: 100%;
        width: auto;

        path {
            fill: $white;
        }
    }

    @include tablet-size {
        height: 40px;
        margin-bottom: 60px;
    }
}

.c-card-section__btn {
    @include button-single();
    @include button-single-light();
    margin-top: 35px;

    &:hover,
    &:focus {
        @include button-single-light-hover();
    }
}

.c-card-section--c-curated,
.c-card-section--c-tag {
    .c-card-section__title {
        @include font('NOBEL', 20px, null, 20px);
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;

        @include tablet-size {
            @include font-size(25px);
            @include line-height(25px);
            position: relative;

            span {
                background-color: $white;
                padding: 0 50px;
                position: relative;
            }

            &:before {
                @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
                content: '';
                height: 1px;
                left: 0;
                margin-top: -4px;
                position: absolute;
                right: 0;
                top: 100%;
            }

        }
    }
}

.c-card-section--s-results {}

.c-card-section--c-video-articles {
    background-color: $mine-shaft-222;
    max-width: none;
    padding: 40px $MOBILE_SIDE_GUTTER;

    .c-card-section__title {
        @include font('NOBEL', 15px, null, 15px);
        color: $white;
        margin-bottom: 30px;
        margin-top: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }

    .c-card-section__btn {
        @include button-single();
        @include button-single-dark();
        width: auto;

        &:hover,
        &:focus {
            @include button-single-dark-hover();
        }
    }

    @include tablet-size {
        padding: 80px $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        padding: 80px $DESKTOP_SIDE_GUTTER;
    }
}

.c-card-section--v-related-articles {
    background-color: $mine-shaft-222;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    .c-card-section__title {
        @include font("NOBEL", 15px, null, 16px);
        color: $white;
        margin: 0;
        padding: 20px 0;
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }

    .c-card-section__btn {
        @include button-single();
        @include button-single-dark();
        margin-bottom: 20px;
        width: auto;

        &:hover,
        &:focus {
            @include button-single-dark-hover();
        }
    }

    @include tablet-size {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include desktop-size {
        display: none;
    }

}

.c-card-section--mag-magazines,
.c-card-section--mag-articles {
    .c-card-section__title {
        @include font("NOBEL", 14px, null, 16px, 25);
        color: $cod-gray;
        margin-bottom: 20px;
        margin-top: 0;
        text-transform: uppercase;
    }
}

.c-card-section--v-genre-articles {
    .c-card-section__title {
        @include font('NOBEL', 15px, null, 15px);
        margin-bottom: 30px;
        margin-top: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
}

.c-card-section--a-recommended,
.c-card-section--g-recommended,
.c-card-section--sh-summary-articles,
.c-card-section--sh-summary-shows {
    background-color: $wild-sand;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 0;
    margin-top: 0;
    max-width: none;

    .c-card-section__constrain {
        max-width: $ARTICLE_TOTAL;
    }

    .c-card-section__title {
        @include font('NOBEL', 15px, null, 15px);
        margin-bottom: 30px;
        margin-top: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }

    .c-card__image__icon {
        background-color: $wild-sand;
    }

    .c-card__meta {
        border-top: 1px solid $alto;
    }

    @include tablet-size {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

.c-card-section--mag-magazines {
    .c-card-section__constrain {
        max-width: $MAXIMUM_PAGE_WIDTH;
    }
}

.c-card-section--c-magazine-articles {}
.c-card-section--sh-shows {}

.c-card-section--v-articles,
.c-card-section--tg-articles,
.c-card-section--sh-latest-articles {
    .c-card-section__title {
        @include section-right-sidebar();
        @include font('NOBEL', 15px, null, 15px);
        margin-bottom: 30px;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
}
.c-card-section--sh-articles {}
.c-card-section--tg-header-articles {}
