@mixin section-right-sidebar(){
    .c-card-list {
        text-align: left;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin-right: 340px;
            position: relative;
        }
    }
}

.c-card-section {
    margin-top: $MOBILE_SLICE_MARGIN;
    margin-bottom: $MOBILE_SLICE_MARGIN;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $TABLET_SLICE_MARGIN;
        margin-bottom: $TABLET_SLICE_MARGIN;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-top: $DESKTOP_SLICE_MARGIN;
        margin-bottom: $DESKTOP_SLICE_MARGIN;
    }
}

.c-card-section__title {
    @include font-weight('BOLD');
}

.c-card-section__logo {
    height: 30px;
    margin-bottom: 30px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        height: 40px;
        margin-bottom: 60px;
    }

    text-align: center;

    svg {
        display: inline-block;
        height: 100%;
        width: auto;

        path {
            fill: $COLOR_MAIN_PAGE;
        }
    }
}

.c-card-section__btn {
    @include button-single();
    @include button-single-light();
    &:hover {
        @include button-single-light-hover();
    }
    margin-top: 35px;
}

.c-card-section--c-curated,
.c-card-section--c-contributors,
.c-card-section--c-tag {
    .c-card-section__title {
        @include font('NOBEL', 20px);
        margin-bottom: $MARGIN_MEDIUM;
        text-align: center;
        text-transform: uppercase;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            @include font-size(25px);
            position: relative;

            span {
                background-color: #fff;
                padding: 0 50px;
                position: relative;
            }

            &:before {
                @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
                content: '';
                height: 1px;
                left: 0;
                margin-top: -4px;
                position: absolute;
                right: 0;
                top: 100%;
            }

        }
    }
}

.c-card-section--s-results {}

.c-card-section--c-video-articles {
    background-color: $COLOUR_BG_DARK;
    max-width: none;
    padding: 40px $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding: 80px $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        padding: 80px $DESKTOP_SIDE_GUTTER;
    }


    .c-card-section__btn {
        width: auto;

        @include button-single();
        @include button-single-dark();

        &:hover {
            @include button-single-dark-hover();
        }
    }

    .c-card-section__title {
        @include font('NOBEL', 15px);
        color: #fff;
        margin-bottom: $MARGIN_MEDIUM;
        margin-top: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }
}

.c-card-section--v-related-articles {
    background-color: $COLOUR_BG_DARK;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    .c-card-section__btn {
        margin-bottom: $PADDING_SMALL;
        width: auto;

        @include button-single();
        @include button-single-dark();

        &:hover {
            @include button-single-dark-hover();
        }
    }

    .c-card-section__title {
        color: $COLOR_MAIN_PAGE;
        @include font("NOBEL", 15px, 700, 16px);
        margin: 0;
        padding: $PADDING_SMALL 0;
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: none;
    }

}

.c-card-section--mag-articles,
.c-card-section--v-genre-articles {
    .c-card-section__title {
        @include font('NOBEL', 15px);
        margin-bottom: $MARGIN_MEDIUM;
        margin-top: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
}

.c-card-section--mag-magazines,
.c-card-section--a-recommended,
.c-card-section--g-recommended,
.c-card-section--sh-summary-articles,
.c-card-section--sh-summary-shows {
    background-color: $COLOUR_BG_ACCENT2;
    padding-bottom: $PADDING_LARGE;
    padding-top: $PADDING_LARGE;
    margin-bottom: 0;
    margin-top: 0;
    max-width: none;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-bottom: $PADDING_X_LARGE;
        padding-top: $PADDING_X_LARGE;
    }

    .c-card-section__constrain {
        max-width: $ARTICLE_TOTAL;
    }

    .c-card-section__title {
        @include font('NOBEL', 15px);
        margin-bottom: $MARGIN_MEDIUM;
        margin-top: 0;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }

    .c-card__image__icon {
        background-color: #f4f4f4;
    }

    .c-card__meta {
        border-top: 1px solid #E0E0E0;
    }
}

.c-card-section--mag-magazines {
    .c-card-section__constrain {
        max-width: $MAXIMUM_PAGE_WIDTH;
    }
}

.c-card-section--c-magazine-articles {}
.c-card-section--sh-shows {}

.c-card-section--v-articles,
.c-card-section--tg-articles,
.c-card-section--sh-latest-articles {
    .c-card-section__title {
        @include font('NOBEL', 15px);
        margin-bottom: $MARGIN_MEDIUM;
        padding-bottom: 10px;
        position: relative;
        text-align: left;
        text-transform: uppercase;

        &:after {
            @include dotted-line($COLOR_BORDER_DOTTED, 1px, 3px);
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
    @include section-right-sidebar();
}
.c-card-section--sh-articles {}
.c-card-section--tg-header-articles {}