@import '../vogue/_variables';

$cerulean: #08AEE6;
$mint-tulip: #CCF4F2;
$pig-pink: #FEE0E6;
$pattens-blue: #DAF4FE;

/**
 * COLOURS
 * =============================================================================
 * MAIN
 */
$COLOR_MAIN_HIGHLIGHT: #08AEE6;


/**
 * =============================================================================
 * TYPOGRAPHY
 */
$COLOR_TYPE_LINK: $COLOR_MAIN_HIGHLIGHT;


/**
 * =============================================================================
 * BACKGROUNDS
 */
$COLOUR_BG_FEATURE: #CCF4F2;
$COLOUR_BG_GALLERY: #FEE0E6;
$COLOUR_BG_EVENTS: #DAF4FE;


/**
 * =============================================================================
 * BUTTONS
 */
$COLOR_BUTTON_CTA_LIGHT: $COLOR_MAIN_HIGHLIGHT;