@import "@cnbritain/merlin-www-common:brides";

@import "../wireframe/wireframe";

.c-card-list--c-curated,
.c-card-list--c-tag,
.c-card-list--c-video-articles {
    margin: -21px -12px;

    .c-card-list__item {
        display: inline-block;
        padding: 0 12px;
        margin: 21px 0;
        width: 100%;

        @include two-column-size() {
            width: 50%;
        }

        @include four-column-size() {
            width: 25%;
        }
    }
}

.c-card-list--c-splash {
    margin: -12px -12px;

    .c-card-list__item {
        display: inline-block;
        padding: 0 12px;
        margin: 12px 0;
        vertical-align: middle;
        width: 100%;

        @include two-column-size() {
            width: 50%;
        }

        @include four-column-size() {
            width: 25%;
        }
    }
}

.c-card-list--tg-articles {
    margin: -8px -12px;

    .c-card-list__item {
        display: inline-block;
        margin: 8px 0;
        padding: 0 12px;
        vertical-align: middle;
        width: 100%;
    }

    .c-card-list__item {
        .c-card {
            border-top: 1px solid $ballet-grey;
            padding-top: 16px;
        }

        &:first-child {
            .c-card {
                border-top: none;
                padding-top: 0;
            }
        }
    }
}

.c-card-list--tg-header-articles {
    margin: -21px -12px;

    .c-card-list__item {
        display: inline-block;
        padding: 0 12px;
        margin: 21px 0;
        width: 100%;

        @include two-column-size() {
            width: 50%;
        }

        @include four-column-size() {
            width: 33.33333%;
        }
    }
}