.ad--homepage {
    text-align: center;

    .ad__container {
        background: $alabaster-f9;
        padding: 20px 0;
    }

    .ad__title {
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;
        text-align: left;
    }
}


@include tablet-size {
    .ad--homepage {
        .ad__title {
            padding-left: $TABLET_SIDE_GUTTER;
            padding-right: $TABLET_SIDE_GUTTER;
        }
    }
}