
.bb-a {
    color: inherit;
    border-bottom: 1px solid $sweet-pea;

    &:hover,
    &:focus {
        color: $pink-rose;
        border-color: $pink-rose;
    }
}

.bb-abbr {
    text-decoration-color: $sweet-pea;
    text-decoration-style: wavy;
}

.bb-mark {
    background-color: $champagne;
}

.bb-dropcap {}
.bb-dropcap--letter {
    @include font('FREIGHT DISPLAY PRO', 102px, 'BOLD', 102px);
    color: $sweet-pea;
    float: left;
    // This is the same height as 3 lines of text
    height: 0.75em;
    // Margin bottom helps to kick out the fourth line
    margin: 0 12px 15px 0;
    text-transform: uppercase;
}

.is-firefox .bb-dropcap--letter,
.is-chrome .bb-dropcap--letter,
.is-safari .bb-dropcap--letter {
    margin-top: -0.13em;
}

.bb-dropcap--word {
    @include font("SOLEIL", 16px, 700, 16px, 30);
    text-transform: uppercase;
}

@include at-x-large-size-large {
    .bb-dropcap--letter {
        @include font-size(116px);
        @include line-height(116px);
    }

    .bb-dropcap--word {
        @include font-size(18px);
        @include line-height(18px);
    }
}

.bb-small {
    @include font('SOLEIL', 12px, null, 16px);
    color: $candle-grey;
    letter-spacing: 0.03em;
}

.bb-button {
    @include button-single;
    @include button-single-light;

    padding: 17px 22px;

    &:hover,
    &:focus {
        @include button-single-light-hover;
    }
}