
.bb-a {
    color: inherit;
    border-bottom: 1px solid $sweet-pea;

    &:hover,
    &:focus {
        color: $pink-rose;
        border-color: $pink-rose;
    }
}

.bb-mark {
    background-color: $champagne;
}

.bb-dropcap {
    @include font('FREIGHT DISPLAY PRO', 102px, 'BOLD', 102px);
    color: $sweet-pea;
    float: left;
    // This is the same height as 3 lines of text
    height: 0.75em;
    // Margin bottom helps to kick out the fourth line
    margin: 0 12px 15px 0;
    text-transform: uppercase;
}
// NOTE: firefox aligns up nicely already
// .is-firefox .bb-dropcap {}
.is-chrome .bb-dropcap,
.is-safari .bb-dropcap {
    margin-top: -0.1em;
}

@include text-size-large {
    .bb-dropcap {
        @include font-size(116px);
        @include line-height(116px);
    }
}

.bb-small {
    @include font('SOLEIL', 12px, null, 16px);
    color: $candle-grey;
    letter-spacing: 0.03em;
}

.bb-button {
    @include button-single;
    @include button-single-light;

    &:hover,
    &:focus {
        @include button-single-light-hover;
    }
}