.sh-season-hub {
    margin-left: (-$MOBILE_SIDE_GUTTER);
    margin-right: (-$MOBILE_SIDE_GUTTER);
    width: auto;
}

.sh-season-hub-viewer--large {}

.sh-season-hub-viewer__featured {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    &:hover,
    &:focus {
        opacity: 0.7;
    }
}

.sh-season-hub-viewer__featured__label {
    @include font('NOBEL', 12px);
    @include vendor-prefix(transform, translateX(-50%));
    background-color: $guardsman-red;
    bottom: 30px;
    color: $white;
    display: inline-block;
    left: 50%;
    padding: $PADDING_XX_SMALL;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
}

.sh-season-hub-viewer__content {
    border-left: 1px solid $alto;
}

.sh-season-hub-viewer__panel {
    padding: 30px 0px;
}
.sh-season-hub-viewer__panel--inline {
    .c-card__title {
        white-space: initial;
    }
}






li.sh-season-hub-viewer__tabs__tab {
    @include font('NOBEL', 11px, 'BOLD');
    background-color: $alabaster-f9;
    border: 1px solid $alto;
    color: $dove-gray;
    text-align: center;
    text-transform: uppercase;
    width: 33.33%;

    label {
        box-sizing: border-box;
        height: 40px;
        padding: 14px 0;
    }

    &:first-child {
        border-left: none;
    }
    &:last-child {
        border-right: none;
    }
}
.sh-season-hub-viewer__tabs__tab--latest {
    .sh-season-hub-viewer__checkbox--latest:checked ~ * & {
        background-color: $white;
        border-bottom: none;
        color: $cod-gray;
    }
}
.sh-season-hub-viewer__tabs__tab--highlights {
    .sh-season-hub-viewer__checkbox--highlights:checked ~ * & {
        background-color: $white;
        border-bottom: none;
        color: $cod-gray;
    }
}
.sh-season-hub-viewer__tabs__tab--az {
    .sh-season-hub-viewer__checkbox--az:checked ~ * & {
        background-color: $white;
        border-bottom: none;
        color: $cod-gray;
    }
}






.sh-season-hub-viewer__list--inline {
    padding: 30px 20px;

    .sh-season-hub-viewer__list__item {
        margin-bottom: 0;
        padding-right: 10px;

        &:last-child {
            margin-right: -10px;
        }
    }

    .sh-season-hub-viewer__list__item--group {
        margin-top: -30px;
    }
}

.sh-season-hub-viewer__list--stacked {
    .sh-season-hub-viewer__list__item {
        margin-bottom: $MARGIN_SMALL;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .sh-season-hub-viewer__list__item--group {
        margin-top: $MARGIN_LARGE;

        &:first-child {
            margin-top: 0;
        }
    }
}

.sh-season-hub-viewer__list__item {
    @include font('ITC CASLON', 20px);

    a {
        color: $cod-gray;

        &:hover,
        &:focus {
            color: $dove-gray;
            text-decoration: none;
        }
    }
}
.sh-season-hub-viewer__list__item--group {
    @include font('NOBEL', 13px);
    color: $dove-gray;
}

.sh-season-hub-viewer__panel--az {
    .sh-season-hub-viewer__list__item--group {
        text-transform: uppercase;
    }
}


@include tablet-size {
    .sh-season-hub {
        margin-left: (-$TABLET_SIDE_GUTTER);
        margin-right: (-$TABLET_SIDE_GUTTER);
    }
}

@include desktop-size {
    .sh-season-hub {
        margin-left: 0;
        margin-right: 0;
    }
    .sh-season-hub-viewer--large {
        border: 1px solid $alto;
    }
    .sh-season-hub-viewer__panel {
        padding: 30px 20px;
    }
    li.sh-season-hub-viewer__tabs__tab {
        @include font-size(12px);
        border-top: none;
    }
}
