@import '@cnbritain/merlin-www-common:wired';
@import "@cnbritain/merlin-www-buttons:wired";

@import "../wireframe/wireframe";

.c-topic-strip {
    text-align: left;
}

.c-topic-strip--bleed {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;
        padding-left: $TABLET_SIDE_GUTTER;
        padding-right: $TABLET_SIDE_GUTTER;
    }
}

.c-topic-strip--c-card-section {
    margin-bottom: 20px;
    margin-top: 20px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        display: inline-block;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: -17px;
        width: auto;
    }
}

.c-topic-strip__list {
    font-size: 0;
}

li.c-topic-strip__item {
    font-size: initial;

    & + & {
        margin-left: 10px;
    }
}

.c-topic-strip__title {
    @include font('BRUTAL', 12px, 700, 12px);
    padding-right: 5px;
    text-transform: uppercase;
}

.c-topic-strip--article-related {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    padding-left: $MOBILE_SIDE_GUTTER;
    padding-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-bottom: -10px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        white-space: normal;

        .c-topic-strip__item {
            margin-bottom: 10px;
            margin-right: 10px;

            & + .c-topic-strip__item {
                @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
                    margin-left: 0;
                }
            }
        }
    }
}

.c-topic-strip__btn {
    @include button-group();
    @include button-group-dark();

    &:hover {
        @include button-group-dark-hover();
    }
}

.c-topic-strip__btn--related {
    @include button-related();
    @include button-related-light();

    &:hover {
        @include button-related-light-hover();
    }
}

.c-topic-strip__btn--related-dark {
    @include button-related();
    @include button-related-dark();

    &:hover {
        @include button-related-dark-hover();
    }
}