.sh-finder {
    background: $mine-shaft-222;
    box-sizing: border-box;
    color: $white;
    padding: 0;
    width: 100%;
}

.sh-finder__wrapper {
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
}

.sh-finder-selectors {
    @include font('NOBEL', 15px);
    margin: 0 auto;
    max-width: 700px;
    padding: $PADDING_MEDIUM $PADDING_SMALL;
}

.sh-finder__item {}
.sh-finder__item--label {
    // Needed to make the font a bit nicer on a dark background
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
    font-weight: bold;
    margin-bottom: $MARGIN_SMALL;
    padding: 0;
    text-transform: uppercase;
}

.sh-finder__item--combo {
    box-sizing: border-box;
    display: inline-block;
    padding-top: 0;
    padding-right: 10px;
    width: 49%;

    & + & {
        padding-left: 10px;
        padding-right: 0;
    }
}


.sh-finder {
    .cbo {
        position: relative;
    }
    .cbo:before {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $dove-gray;
        content: '';
        display: none;
        height: 0;
        margin-top: -3px;
        position: absolute;
        top: 50%;
        right: 15px;
        width: 0;
    }

    .cbo__button,
    .cbo__search {
        display: none;
    }

    .cbo__input {
        @include font('NOBEL', 14px);
        appearance: none;
        background: $white;
        border: 1px solid $loot-box;
        color: $dove-gray;
        border-radius: 0;
        box-sizing: border-box;
        cursor: pointer;
        letter-spacing: 0.025em;
        padding: $PADDING_X_SMALL;
        text-align: center;
        -webkit-font-smoothing: antialiased;

        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
           color: $dove-gray;
        }
    }

    .cbo__options {
        border: 1px solid $loot-box;
        border-top: none;
        box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.06);
        max-height: 240px;
    }

    .cbo__option {
        @include font('NOBEL', 14px, null, 18px);
        background-color: $white;
        color: $mine-shaft-333;
        letter-spacing: 0.025em;
        margin: 0;
        padding: $PADDING_X_SMALL $PADDING_SMALL;
        text-align: left;

        &:hover,
        &:focus {
            background-color: $wild-sand;
        }

    }

    .cbo__option--disabled {
        background-color: $white;
        color: $dove-gray;
    }

    .cbo__option--selected {
        color: $guardsman-red;
    }
}

@include tablet-size {
    .sh-finder-selectors {
        padding-left: $PADDING_LARGE;
        padding-right: $PADDING_LARGE;
    }
    .sh-finder__item--label {
        display: inline-block;
    }
    .sh-finder__item--combo {
        padding-top: 10px;
        width: 280px;
    }
    .sh-finder {
        .cbo__input {
            text-align: left;
        }
    }
}

@include desktop-size {
    .sh-finder-selectors {
        padding-left: $PADDING_LARGE;
        padding-right: $PADDING_LARGE;
    }
    .sh-finder__item--label {
        margin-bottom: 0;
    }
    .sh-finder__item--combo {
        padding-top: 0;
    }
    .sh-finder {
        .cbo:before {
            display: block;
        }
        .cbo__input {
            padding: $PADDING_X_SMALL $PADDING_SMALL;
        }
    }
}
