$TOP_STORIES_LEFT_SIDE_PADDING: $PADDING_MEDIUM;
$NAVIGATION_BTN_WIDTH: 60px;

.c-top-stories {
    background-color: $COLOUR_BG_ACCENT2;
    border-bottom: 1px solid $COLOUR_BG_ACCENT1;
    display: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: $PADDING_SMALL;

    @include min-screen($TOP_STORIES_DESKTOP_BREAKPOINT){
        display: block;
    }

}

.c-top-stories__wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: $PADDING_SMALL;
    padding-left: $PADDING_SMALL;

    @media (min-width: 1440px) and (max-width: 1500px) {
        padding-left: calc(30px - (100vw - 1440px)/2 );
    }

    @include min-screen(1500px) {
        padding-left: 0;
    }

}

.c-top-stories__title {
    display: none;
}

.c-top-stories__nav {
    border-left: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    bottom: 0;
    position: absolute;
    right: 0;
    top: -($PADDING_SMALL);
    width: $NAVIGATION_BTN_WIDTH;
    z-index: 2;

    @include min-screen($MAXIMUM_PAGE_WIDTH + 1) {
        border-right: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    }
}
.c-top-stories__nav-btn {
    position: absolute;
}
.c-top-stories__nav-btn--left {
    border-top: 1px solid $COLOR_BORDER_SOLID_ACCENT2;
    top: 50%;
}
.c-top-stories__nav-btn--right {
    top: 0;
}

.c-top-stories__overflow {
    margin-left: -$TOP_STORIES_LEFT_SIDE_PADDING;
    max-width: $MAXIMUM_PAGE_WIDTH;
    padding-left: $TOP_STORIES_LEFT_SIDE_PADDING;

    @include min-screen( $MAXIMUM_PAGE_WIDTH ){
        padding-left: 0;
        margin-left: 0;
    }

    // TODO: check if we need this
    // @for $i from 60 through 0 {
    //     @media (max-width: 1440px + $i) {
    //         padding-left: #{(30 - $i/2)}px;
    //     }
    // }

    @include min-screen( 1500px ){
        padding-left: 0;
    }

    .has-no-scroll & {
        overflow-x: hidden;
    }
}

.has-navigation {
    .c-card-list__item:last-child {
        margin-right: $NAVIGATION_BTN_WIDTH + $MARGIN_MEDIUM;
    }
}