$section_gallery_text_padding: 28px;
$section_gallery_icon_size: 40px;

.c-gallery {
    background-color: $wild-sand;
    margin: 30px 0;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    &:focus,
    &:hover {
        .c-gallery__title span {
            border-bottom: 1px solid $black;
        }
    }

}

.c-gallery__wrapper {

    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    width: 100%;
}

.c-gallery__images {}
.c-gallery__image {
    background-color: $silver;
}
.c-gallery__image-remaining {
    background-color: rgba(17, 17, 17, 0.6);
}
.c-gallery__image-remaining__text {
    @include font('COMMUTER SANS', 12px, 'NORMAL', 12px);
    color: $white;
    text-align: center;
    width: 100%;
}
.c-gallery__image-remaining__text-prefix {
    @include font-size(22px);
    @include line-height(22px);
}

.c-gallery__image-remaining__text-value {
    @include font-size(27px);
    @include line-height(27px);
}

.c-gallery__text {
    background-color: $white;
    padding: $section_gallery_text_padding 20px;
    text-align: center;
}

.c-gallery__icon {
    background-color: $white;
    border-radius: 50%;
    display: block;
    height: $section_gallery_icon_size;
    margin: -($section_gallery_icon_size/2 + $section_gallery_text_padding) auto 0 auto;
    position: relative;
    width: $section_gallery_icon_size;

    svg {
        display: block;
        margin: 0 auto;
        height: $section_gallery_icon_size;
        width: $section_gallery_icon_size/2;
    }

    @include feature-slice-at-large {
        background-color: $wild-sand;
    }
}
.c-gallery__icon--video {
    height: 100%;
    width: 15px;
}

.c-gallery__tag {
    @include font('COMMUTER SANS', 11px, 'MEDIUM', 13px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.c-gallery__title {
    @include font('STARLING', 24px, 'NORMAL', 28px);
    color: $black;
    letter-spacing: -0.5px;
    margin: 10px 0;
}

.c-gallery__teaser {
    @include font('STARLING', 15px, 'NORMAL', 20px);

    color: $black;
    font-style: italic;
    margin: 10px 0;
}

.c-gallery__separator {
    background-color: $black;
    border: none;
    display: block;
    height: 1px;
    margin: 20px auto;
    width: 20px;
}

.c-gallery__byline {
    @include font('STARLING', 12px, null, 12px);

    color: $gray;
    margin: 0 0 10px;
    text-transform: uppercase;

    @include tablet-size {
        margin: 15px 0 10px;
    }
}
.c-gallery__byline-prefix {
    font-style: italic;
    text-transform: lowercase;
}
.c-gallery__byline-name {
    text-transform: uppercase;
}

.c-gallery__meta {
    display: inline-block;
    font-size: 0;
}

li.c-gallery__meta-item {
    @include font('COMMUTER SANS', 9px, 400, 9px);

    color: $gray;
    border-right: 1px solid $silver;
    padding-right: 8px;
    text-transform: uppercase;

    & + & {
        padding-left: 8px;
    }

    &:last-child {
        border-right: none;
        padding-right: 0;
    }
}

@include feature-slice-at-large {
    .c-gallery {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    .c-gallery__text__wrapper {
        margin: 0 auto;
    }

    .c-gallery__icon {
        background-color: $silver;
        margin: 0 auto 20px auto;
    }

    .c-gallery__image-remaining__text-prefix {
        @include font-size(10px);
        @include line-height(10px);
    }

    .c-gallery__image-remaining__text-value {
        @include font-size(18px);
        @include line-height(18px);
    }

}

@include desktop-size {
    .c-gallery {
        margin: 60px 0;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }

    .c-gallery__text {
        padding: $section_gallery_text_padding;
    }

    .c-gallery__text__wrapper {
        margin: 0 auto;
    }

    .c-gallery__icon {
        background-color: $wild-sand;
        margin: 0 auto 20px auto;
    }

    .c-gallery__tag {
        @include font('COMMUTER SANS', 12px, 'MEDIUM', 13px);

        color: $gray;
        letter-spacing: 1px;
        margin: 15px 0;
        text-transform: uppercase;
    }

    .c-gallery__title {
        @include font('STARLING', 37px, 'NORMAL', 42px);
        color: $black;
    }

    .c-gallery__teaser {
        @include font('STARLING', 18px, 'NORMAL', 23px);
        color: $black;
        font-style: italic;
    }

    .c-gallery__separator {
        margin: 15px auto 20px;
    }

    .c-gallery__byline-prefix {
        margin: 15px 0 10px;
    }

    .c-gallery__byline-prefix {
        @include font('STARLING', 12px, 'MEDIUM', 12px);

        color: $gray;
        font-style: italic;
        letter-spacing: 1px;
    }
    .c-gallery__byline-name {
        @include font('STARLING', 12px, 'MEDIUM', 12px);

        color: $gray;
        letter-spacing: 1px;
    }

    li.c-gallery__meta-item {
        @include font-size(10px);
    }

    .c-gallery__image-remaining__text-prefix {
        @include font-size(22px);
        @include line-height(22px);
    }

    .c-gallery__image-remaining__text-value {
        @include font-size(27px);
        @include line-height(27px);
    }
}


.c-gallery--dark {

    .c-gallery__text {
        background: $black;
    }

    .c-gallery__icon {
        background-color: $black;

        @include feature-slice-at-large {
            background: $cod-gray;
        }

        path {
            fill: $white;
        }
    }

    .c-gallery__title,
    .c-gallery__teaser {
        color: $white;
    }

    li.c-gallery__meta-item {
        border-right-color: $mine-shaft;
        border-right-width: 2px;
    }

    .c-gallery__separator {
        background-color: $white;
    }

    &:focus,
    &:hover {
        .c-gallery__title span {
            border-bottom: 1px solid $white;
        }
    }

}
