$section_gallery_text_padding: 28px;
$section_gallery_icon_size: 40px;

.c-gallery {
    background-color: $COLOUR_BG;
    margin: 30px 0;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
         padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px 0;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }

    &:focus,
    &:hover {
        .c-gallery__title {
            color: $COLOUR_MAIN_HIGHLIGHT;
            text-decoration: none;
        }
    }

}

.c-gallery-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    width: 100%;
}

.c-gallery__image {
    background-color: $silver;
}

.c-gallery__image-remaining {
    background-color: rgba(17, 17, 17, 0.6);
}

.c-gallery__image-remaining__text {
    color: $white;
}

.c-gallery__image-remaining__text-prefix {
    @include font('STARLING', 30px, 'BOLD', 30px);
}

.c-gallery__image-remaining__text-value {
    @include font('STARLING', 25px, 'BOLD', 25px);

    @include min-screen($CARD_SWITCHER_WIDTH) {
        @include font('STARLING', 30px, 'BOLD', 30px);
    }
}

.c-gallery__contents {
    background-color: $white;
    padding: $section_gallery_text_padding 20px;
    text-align: center;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
         @include border-line-box(left);
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include border-line-box(left);
        padding: $section_gallery_text_padding;
    }
}

.c-gallery__contents-wrapper {
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        margin: 0 auto;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 0 auto;
    }
}

.c-gallery__icon {
    background-color: $white;
    border-radius: 50%;
    display: block;
    height: $section_gallery_icon_size;
    margin: -($section_gallery_icon_size/2 + $section_gallery_text_padding) auto 0 auto;
    position: relative;
    width: $section_gallery_icon_size;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        background-color: $silver;
        margin: 0 auto 20px auto;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        background-color: $wild-sand;
    }

    svg {
        display: block;
        margin: 0 auto;
        height: $section_gallery_icon_size;
        width: $section_gallery_icon_size/2;
    }
}

.c-gallery__icon--video {
    height: 100%;
    width: 15px;
}

.c-gallery__tag {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);
    color: $COLOUR_MAIN_TERTIARY;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(12px);
        margin: 15px 0;
    }
}

.c-gallery__title {
    @include font('STARLING', 24px, 'NORMAL', 28px);
    color: $COLOUR_MAIN_PRIMARY;
    margin: 10px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(37px);
        @include line-height(42px);
    }
}

.c-gallery__teaser {
    @include font('STARLING', 15px, 'NORMAL', 20px);
    color: $COLOUR_TYPE_BODY;
    font-style: italic;
    margin: 10px 0;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(18px);
        @include line-height(23px);
    }
}

.c-gallery__separator {
    background-color: $cinnabar;
    border: none;
    display: block;
    height: 1px;
    margin: 20px auto;
    width: 20px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 15px auto 20px;
    }
}

.c-gallery__byline {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;

    @include tablet-size {
        margin: 15px 0 10px;
    }
}

.c-gallery__byline-prefix {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);
    color: $COLOUR_MAIN_TERTIARY;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: lowercase;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 15px 0 10px;
        @include font-size(12px);
        @include line-height(12px);
    }
}

.c-gallery__byline-name {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 10px;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT)  {
        margin: 15px 0 10px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(12px);
        @include line-height(12px);
    }
}

.c-gallery__meta {
    display: inline-block;
    font-size: 0;
}

.c-gallery__meta-item {
    @include font('AGENDA', 11px, 'MEDIUM', 13px);
    color: $COLOUR_MAIN_TERTIARY;
    border-right: 1px solid $COLOUR_BORDER_SOLID;
    padding-right: 8px;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(13px);
    }

    & + & {
        padding-left: 8px;
    }

    &:last-child {
        border-right: none;
        padding-right: 0;
    }
}


.c-gallery--dark {

    .c-gallery__contents {
        @include min-screen($FEATURE_LARGE_BREAKPOINT) {
            @include border-line-box(left, $bg: $black, $border: $brownish-grey);
        }

        background: $black;
    }

    .c-gallery__icon {
        background-color: $black;

        @include min-screen($FEATURE_LARGE_BREAKPOINT) {
            background: $cod-gray;
        }

        path {
            fill: $white;
        }
    }

    .c-gallery__title,
    .c-gallery__teaser {
        color: $white;
    }

    .c-gallery__meta-item {
        border-right-color: $mine-shaft;
        border-right-width: 2px;
    }

}
