.c-gallery {
    margin: 30px 0;
    max-width: none;
    padding: 0 $MOBILE_SIDE_GUTTER;

    &:focus,
    &:hover {
        .c-gallery__title span {
            border-bottom: 1px solid $black;
        }
    }

}

.c-gallery-wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    width: 100%;
}

.c-gallery__images {}
.c-gallery__image {
    background-color: $silver;
}
.c-gallery__image-remaining {
    background-color: rgba(17, 17, 17, 0.6);
}

.c-gallery__image-remaining__text {
    @include font('COMMUTER SANS');
    color: $white;
    text-align: center;
    width: 100%;
}
.c-gallery__image-remaining__text-prefix {
    @include font-size(22px);
    @include line-height(22px);
}
.c-gallery__image-remaining__text-value {
    @include font-size(27px);
    @include line-height(27px);
}

.c-gallery__contents {
    background-color: $white;
    padding: 28px 20px;
    text-align: center;
}

.c-gallery__tag {
    @include font('COMMUTER SANS', 11px, 'MEDIUM', 13px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.c-gallery__title {
    @include font('STARLING', 24px, 'NORMAL', 28px);
    color: $black;
    letter-spacing: -0.5px;
    margin: 10px 0;
}

.c-gallery__teaser {
    @include font('STARLING', 15px, 'NORMAL', 20px);

    color: $black;
    font-style: italic;
    margin: 10px 0;
}

.c-gallery__byline {
    @include font('STARLING', 12px, null, 12px);
    color: $gray;
    margin: 0 0 10px;
    padding: 10px 0 0 0;
    position: relative;
    text-transform: uppercase;

    &:before {
        background: $black;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
        top: 0;
        width: 20px;
    }
}
.c-gallery__byline-prefix {
    font-style: italic;
    text-transform: lowercase;
}
.c-gallery__byline-name {
    text-transform: uppercase;
}

.c-gallery__meta {
    display: inline-block;
    font-size: 0;
}

.c-gallery__meta-item {
    @include font('COMMUTER SANS', 9px, 400, 9px);

    color: $gray;
    border-right: 1px solid $silver;
    padding-right: 8px;
    text-transform: uppercase;

    & + .c-gallery__meta-item {
        padding-left: 8px;
    }

    &:last-child {
        border-right: none;
        padding-right: 0;
    }
}

@include at-medium-size {
    .c-gallery {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    .c-gallery__image-remaining__text-prefix {
        @include font-size(10px);
        @include line-height(10px);
    }

    .c-gallery__image-remaining__text-value {
        @include font-size(18px);
        @include line-height(18px);
    }

    .c-gallery__byline {
        padding-top: 20px;
        margin: 15px 0 10px;
    }

}

@include at-x-large-size() {
    .c-gallery {
        margin: 60px 0;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }

    .c-gallery__contents {
        padding: 28px;
    }

    .c-gallery__tag {
        @include font-size(12px);
        color: $gray;
        margin: 15px 0;
        text-transform: uppercase;
    }

    .c-gallery__title {
        @include font-size(37px);
        @include line-height(42px);
        color: $black;
    }

    .c-gallery__teaser {
        @include font-size(18px);
        @include line-height(23px);
        color: $black;
        font-style: italic;
    }

    .c-gallery__byline-prefix {
        @include font-size(12px);
        @include line-height(12px);
        color: $gray;
        font-style: italic;
        letter-spacing: 1px;
        margin: 15px 0 10px;
    }
    .c-gallery__byline-name {
        @include font-size(12px);
        @include line-height(12px);
        color: $gray;
        letter-spacing: 1px;
    }

    .c-gallery__meta-item {
        @include font-size(10px);
    }

    .c-gallery__image-remaining__text-prefix {
        @include font-size(22px);
        @include line-height(22px);
    }

    .c-gallery__image-remaining__text-value {
        @include font-size(27px);
        @include line-height(27px);
    }
}


.c-gallery--dark {

    .c-gallery__contents {
        background: $black;
    }

    .c-gallery__title,
    .c-gallery__teaser {
        color: $white;
    }

    .c-gallery__byline:before {
        background: $white;
    }

    .c-gallery__meta-item {
        border-right-color: $mine-shaft;
        border-right-width: 2px;
    }

    &:focus,
    &:hover {
        .c-gallery__title span {
            border-color: $white;
        }
    }

}
