@import '../wireframe/_variables';

// ----- Colours ----- //
$dune: #373330;
$natural-gray: #938c86;
$cloud: #c9c5bf;
$pampas: #f9f8f7;
$concrete: #f3f3f3;
$azalea: #f6d3d5;
$astronaut: #2c3781;
$banana-mania: #fceaaa;
$mandy: #ea6066;
$advert-light: #f9f8f7;
$advert-dark: #373330;
$white: #ffffff;

// ----- Social Colours -----//
$COLOUR_SOCIAL: map-merge($COLOUR_SOCIAL, (
    "email": #373330,
    "facebook": #3B5998,
    "pinterest": #CB2027,
    "twitter": #55ACEE,
    "whatsapp": #4DC247
));

$COLOUR_SOCIAL_HOVER: (
    "email": #1C1A18,
    "facebook": #314A7F,
    "pinterest": #A71B21,
    "twitter": #50A2DF,
    "whatsapp": #42A73D
);

// ----- Breakpoints ----- //
$DESKTOP_SIDE_GUTTER: 60px;
$TABLET_SIDE_GUTTER: 60px;
$MOBILE_SIDE_GUTTER: 20px;

$DESKTOP_SLICE_MARGIN: 60px;
$TABLET_SLICE_MARGIN: 60px;
$MOBILE_SLICE_MARGIN: 40px;

$DESKTOP_SIDE_GUTTER_BREAKPOINT: 1024px;
$TABLET_SIDE_GUTTER_BREAKPOINT: 700px;

$CARD_SWITCHER_WIDTH: 600px;
$CARD_LIST_2_COLUMN_BREAKPOINT: 600px;
$CARD_LIST_3_COLUMN_BREAKPOINT: 940px;
$CARD_LIST_4_COLUMN_BREAKPOINT: 1024px;

$FEATURE_LARGE_BREAKPOINT: 800px;
$SUPERFEATURE_LARGE_BREAKPOINT: 700px;

$TYPE_MEDIUM_COPY_WIDTH: 700px;
$TYPE_LARGE_COPY_WIDTH: 1024px;


// ----- Social colours -----
$COLOUR_EMAIL: #373330;
$COLOUR_EMAIL_HOVER: #1c1a18;
//$COLOUR_EMAIL_DARK: #666;
//$COLOUR_EMAIL_DARK_HOVER: #333;

$COLOUR_FACEBOOK: #3b5998;
$COLOUR_FACEBOOK_HOVER: #314a7f;
//$COLOUR_FACEBOOK_DARK: #3b5998;
//$COLOUR_FACEBOOK_DARK_HOVER: #3b5998;

//$COLOUR_INSTAGRAM: #e1306c;
//$COLOUR_INSTAGRAM_HOVER: #e1306c;
//$COLOUR_INSTAGRAM_DARK: #e1306c;
//$COLOUR_INSTAGRAM_DARK_HOVER: #e1306c;

$COLOUR_PINTEREST: #cb2027;
$COLOUR_PINTEREST_HOVER: #a71b21;
//$COLOUR_PINTEREST_DARK: #bd081c;
//$COLOUR_PINTEREST_DARK_HOVER: #bd081c;

$COLOUR_TWITTER: #55acee;
$COLOUR_TWITTER_HOVER: #50a2df;
//$COLOUR_TWITTER_DARK: #55acee;
//$COLOUR_TWITTER_DARK_HOVER: #55acee;

//$COLOUR_YOUTUBE: #cd201f;
//$COLOUR_YOUTUBE_HOVER: #cd201f;
//$COLOUR_YOUTUBE_DARK: #cd201f;
//$COLOUR_YOUTUBE_DARK_HOVER: #cd201f;

$COLOUR_WHATSAPP: #4dc247;
$COLOUR_WHATSAPP_HOVER: #42a73d;
//$COLOUR_WHATSAPP_DARK: #43d854;
//$COLOUR_WHATSAPP_DARK_HOVER: #43d854;

$COLOUR_SOCIAL_ICON: #ffffff;
//$COLOUR_SOCIAL_ICON_DARK: #fff;

$COLOUR_SOCIAL: (
    "email": $COLOUR_EMAIL,
    "facebook": $COLOUR_FACEBOOK,
 //   "instagram": $COLOUR_INSTAGRAM,
    "pinterest": $COLOUR_PINTEREST,
    "twitter": $COLOUR_TWITTER,
 //   "youtube": $COLOUR_YOUTUBE,
    "whatsapp": $COLOUR_WHATSAPP
);

$COLOUR_SOCIAL_HOVER: (
    "email": $COLOUR_EMAIL_HOVER,
    "facebook": $COLOUR_FACEBOOK_HOVER,
 //   "instagram": $COLOUR_INSTAGRAM_HOVER,
    "pinterest": $COLOUR_PINTEREST_HOVER,
    "twitter": $COLOUR_TWITTER_HOVER,
 //   "youtube": $COLOUR_YOUTUBE_HOVER,
    "whatsapp": $COLOUR_WHATSAPP_HOVER
);

//$COLOUR_SOCIAL_DARK: (
//    "email": $COLOUR_EMAIL_DARK,
//    "facebook": $COLOUR_FACEBOOK_DARK,
//    "instagram": $COLOUR_INSTAGRAM_DARK,
//    "pinterest": $COLOUR_PINTEREST_DARK,
//    "twitter": $COLOUR_TWITTER_DARK,
//    "youtube": $COLOUR_YOUTUBE_DARK,
//    "whatsapp": $COLOUR_WHATSAPP_DARK
//);

//$COLOUR_SOCIAL_DARK_HOVER: (
//    "email": $COLOUR_EMAIL_DARK_HOVER,
//    "facebook": $COLOUR_FACEBOOK_DARK_HOVER,
//    "instagram": $COLOUR_INSTAGRAM_DARK_HOVER,
//    "pinterest": $COLOUR_PINTEREST_DARK_HOVER,
//    "twitter": $COLOUR_TWITTER_DARK_HOVER,
//    "youtube": $COLOUR_YOUTUBE_DARK_HOVER,
//    "whatsapp": $COLOUR_WHATSAPP_DARK_HOVER
//);

$COLOUR_SOCIAL_LIGHT: $COLOUR_SOCIAL;
