// -------------------- //
// Landscape
// -------------------- //
@mixin card-landscape() {

    .c-card__teaser,
    .c-card__separator {
        display: none;
    }

    .c-card__obj {
        display: table;
        width: 100%;
    }

    .c-card__obj__header,
    .c-card__obj__body {
        display: table-cell;
        vertical-align: middle;
    }

    .c-card__tag {
        @include font('SOLEIL');
        color: $pink-rose;
        letter-spacing: 0.18em;
        text-transform: uppercase;
    }

    .c-card__title {
        @include font('FREIGHT DISPLAY PRO', null, 'NORMAL', null);
        color: $stroller-grey;
        text-transform: capitalize;
    }

    .c-card__rating {
        text-align: left;
    }

    .c-card__byline {
        @include font('SOLEIL', 10px, null, 16px);
        color: $stroller-grey;
        letter-spacing: 0.12em;
        text-transform: uppercase;
    }
    .c-card__byline--sponsorship {}
    .c-card__byline-prefix {}
    .c-card__byline-name {
        font-weight: bold;
    }

    .c-card__meta {
        font-size: 0;
        margin: 6px 0 0 0;
    }
    .c-card__meta-item {
        @include font('SOLEIL', 10px, null, 12px);
        color: $candle-grey;
        letter-spacing: 0.12em;
        position: relative;
        text-transform: uppercase;

        svg {
            display: none;
        }
    }
    .c-card__meta-item + .c-card__meta-item {
        margin-left: 8px;
        // 2px is the width of the before
        padding-left: 8px + 2px;
    }
    .c-card__meta-item + .c-card__meta-item:before {
        background-color: $candle-grey;
        border-radius: 50%;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 2px;
    }
}

@mixin card-landscape-small() {
    .c-card__obj__header {
        padding-right: 16px;
        width: 34.5%;
    }

    .c-card__image {
        border-radius: 50%;
        overflow: hidden;
    }

    .c-card__image__icon {
        display: none;
    }

    .c-card__tag {
        @include font-size(10px);
        @include line-height(12px);
        margin: 0 0 6px 0;
    }

    .c-card__title {
        @include font-size(16px);
        @include line-height(20px);
        letter-spacing: 0.03em;
        margin: 6px 0;
    }

    .c-card__byline {
        margin: 6px 0 0 0;
    }
}

@mixin card-landscape-large() {
    .c-card__obj__header {
        padding-right: 28px;
        width: 34.8%;
    }

    .c-card__images:after {
        background-color: $pink-rose;
        display: block;
        content: '';
        height: 1px;
        position: absolute;
        right: -16px;
        top: 50%;
        width: 32px;
    }

    .c-card__image {
        border-radius: 0;
    }

    .c-card__image__icon {
        background-color: rgba($black, 0.5);
        border-radius: 50%;
        display: block;
        height: 48px;
        left: 50%;
        margin: -24px 0 0 -24px;
        top: 50%;
        width: 48px;

        svg {
            display: block;
            fill: $white;
            height: 16px;
            margin: 16px auto 0 auto;
            width: 16px;
        }
    }

    .c-card__tag {
        @include font-size(12px);
        @include line-height(16px);
        text-align: center;
        margin: 0 0 8px 0;
    }

    .c-card__title {
        @include font-size(24px);
        @include line-height(28px);
        letter-spacing: 0.01em;
        margin: 8px 0 18px 0;
        text-align: center;
    }

    .c-card__byline {
        margin: 18px 0 0 0;
        text-align: center;
    }

    .c-card__meta {
        text-align: center;
    }
}

.c-card--landscape {
    @include card-landscape;
    @include card-landscape-small;
}

.c-card--landscape-small {
    @include card-landscape;
    @include card-landscape-small;
}

.c-card--landscape-large {
    @include card-landscape;
    @include card-landscape-large;
}