// -------------------- //
// Magazine
// -------------------- //
@mixin card-magazine() {}
@mixin card-magazine-small() {
    .c-card__obj__header {
        width: 84px;
    }
}

@mixin card-magazine-large() {}

.c-card--magazine {
    @include card-landscape();
    @include card-landscape-small();

    @include card-magazine();
    @include card-magazine-small();
}

.c-card--magazine-small {
    @include card-landscape();
    @include card-landscape-small();

    @include card-magazine();
    @include card-magazine-small();
}

.c-card--magazine-large {
    @include card-landscape();
    @include card-landscape-small();

    @include card-magazine();
    @include card-magazine-large();
}