// -------------------- //
// Switcher
// -------------------- //
@mixin card-switcher() {}
@mixin card-switcher-small() {
    @include card-landscape;
    @include card-landscape-small;
}
@mixin card-switcher-large() {
    @include card-portrait;
    @include card-portrait-large;

    .c-card__image {
        border-radius: 0;
    }
}

.c-card--switcher {
    @include card-switcher;
    @include card-switcher-small;

    @include card-portrait-to-landscape-size {
        .c-card__obj__header,
        .c-card__obj__body {
            display: block;
            padding: 0;
            width: auto;
        }

        @include card-switcher-large;
    }
}

.c-card--switcher-small {
    @include card-switcher;
    @include card-switcher-small;
}

.c-card--switcher-large {
    @include card-switcher;
    @include card-switcher-large;
}