// -------------------- //
// Video Related
// -------------------- //
@mixin card-v-related() {
    @include card-landscape;
}
@mixin card-v-related-small() {
    @include card-landscape-small;

    .c-card__obj__header {
        width: 50%;
    }

    .c-card__image {
        border-radius: 0;
    }

    .c-card__title {
        @include font('SOLEIL', 14px, 'NORMAL', 18px);
        color: $ascot-grey;
        letter-spacing: 0.01em;
    }

}
@mixin card-v-related-large() {
    @include card-landscape-small;
}

.c-card--v-related {
    @include card-v-related;
    @include card-v-related-small;
}

.c-card--v-related-small {
    @include card-v-related;
    @include card-v-related-small;
}

.c-card--v-related-large {
    @include card-v-related;
    @include card-v-related-large;
}