/**
 * Font weights
 */
$FONT_WEIGHT_THIN: 100;
$FONT_WEIGHT_EXTRA_LIGHT: 200;
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOOK: 400;
$FONT_WEIGHT_MEDIUM: 500;
$FONT_WEIGHT_SEMI_BOLD: 600;
$FONT_WEIGHT_DEMI_BOLD: 600;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_BLACK: 800;
$FONT_WEIGHT_FAT: 800;
$FONT_WEIGHT_EXTRA_BOLD: 800;
$FONT_WEIGHT_ULTRA: 900;

$FONT_WEIGHTS: (
    'THIN': $FONT_WEIGHT_THIN,
    'EXTRA LIGHT': $FONT_WEIGHT_EXTRA_LIGHT,
    'LIGHT': $FONT_WEIGHT_LIGHT,
    'NORMAL': $FONT_WEIGHT_NORMAL,
    'BOOK': $FONT_WEIGHT_BOOK,
    'MEDIUM': $FONT_WEIGHT_MEDIUM,
    'SEMI BOLD': $FONT_WEIGHT_SEMI_BOLD,
    'DEMI BOLD': $FONT_WEIGHT_DEMI_BOLD,
    'BOLD': $FONT_WEIGHT_BOLD,
    'BLACK': $FONT_WEIGHT_BLACK,
    'FAT': $FONT_WEIGHT_FAT,
    'EXTRA BOLD': $FONT_WEIGHT_EXTRA_BOLD,
    'ULTRA': $FONT_WEIGHT_ULTRA
);

$FONT_GROUP_DEFAULT: (
    'FAMILY': 'sans-serif',
    'LETTER SPACING': normal,
    'LINE HEIGHT': normal
);
$FONT_GROUPS: ();
