.c-figure__container {
    margin: 0;
    position: relative;
}

.c-figure__wrapper {
    background: $wild-sand;
}

.c-figure__title,
.c-figure__caption,
.c-figure__credit {
    width: 100%;

    @include desktop-size {
        max-width: 700px;
    }
}

.c-figure__title {
    @include font('AGENDA', 16px, 'MEDIUM', 16px);

    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 20px 0 0;

    @include desktop-size {
        @include font('AGENDA', 16px, 'MEDIUM', 16px);
    }
}

.c-figure__caption,
.c-figure__caption p {
    @include font('AGENDA', 16px, 'MEDIUM', 21px);

    letter-spacing: 0.5px;
    margin: 0 0 15px;

    @include desktop-size {
        @include font('AGENDA', 16px, 'MEDIUM', 21px);

        margin: 0 0 15px;
    }
}

// .c-figure__title + .c-figure__caption {
//     margin-top: -5px;
// }

.c-figure__credit {
    @include font('AGENDA', 10px, 'MEDIUM', 10px);

    color: $boulder;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0 0;

    &:before {
        content: 'Credit: ';
    }

    @include desktop-size {
        margin: 15px 0 0;
    }
}


.c-figure__toolbar {
    border: 1px solid $silver;
    bottom: 10px;
    height: 47px;
    position: absolute;
    right: 10px;
}

li.c-figure__toolbar-listitem {
    background-color: $white;
    height: 45px;
    width: 45px;

    svg {
        fill: $black;
        width: 17px;
    }
}
