.c-figure__container {
    margin: 0 0 10px;
    position: relative;
}

.c-figure__wrapper {
    background: $wild-sand;
}

.c-figure__toolbar {
    height: 40px;
    position: absolute;
}

.c-figure__toolbar-listitem {
    background-color: $white;
    height: 40px;
    width: 40px;

    svg, path {
        width: 17px;
    }
}

@each $name, $color in $COLOUR_SOCIAL_LIGHT {
    .c-figure__toolbar-listitem--#{$name} {

        svg, path {
            fill: map-get($COLOUR_SOCIAL_LIGHT, $name);
        }

        &:hover {
            background-color: map-get($COLOUR_SOCIAL_LIGHT, $name);

            svg, path {
                fill: $white;
            }
        }
    }
}

.c-figure__toolbar-listitem--more {
    svg, path {
        fill: $black;
    }
}

.c-figure__toolbar-listitem--zoom {
    svg, path {
        fill: $black;
    }

    &:hover {
        background-color: $cod-gray;

        svg, path {
            fill: $white;
        }
    }
}

.c-figure__title,
.c-figure__caption,
.c-figure__credit {
    width: 100%;

    @include desktop-size {
        max-width: 700px;
    }
}

.c-figure__title,
.c-figure__caption,
.c-figure__caption .bb-p {
    @include font('STARLING', 16px, 400, 24px);

    @include desktop-size {
        @include font-size(18px);
        @include line-height(28px);
    }
}

.c-figure__title {
    margin: 0 0 5px;
}

.c-figure__caption,
.c-figure__caption .bb-p {
    margin: 0 0 10px;
}

.c-figure__credit {
    @include font('COMMUTER SANS', 10px, 'MEDIUM', 10px);
    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0 0 0;

    &:before {
        content: 'Credit: ';
    }
}


.c-figure--dark {
    .c-figure__wrapper {
        background: $black;
        border: 1px solid $mine-shaft;
    }

    .c-figure__toolbar {
        border: 1px solid $mine-shaft;
    }

    .c-figure__toolbar-listitem {
        background-color: $cod-gray;
        height: 38px;
        width: 38px;

        svg, path {
            fill: $white;
        }
    }

    @each $name, $color in $COLOUR_SOCIAL_DARK {
        .c-figure__toolbar-listitem--#{$name} {
            &:hover {
                background-color: map-get($COLOUR_SOCIAL_DARK, $name);
            }
        }
    }

    .c-figure__toolbar-listitem--zoom {
        &:hover {
            background-color: $brownish-grey;
        }
    }
}
