.c-figure__container {
    margin: 0 0 10px;
    position: relative;
}

.c-figure__wrapper {
    background: $wild-sand;
}

.c-figure__title,
.c-figure__caption,
.c-figure__credit {
    width: 100%;
}

.c-figure__title,
.c-figure__caption,
.c-figure__caption p {
    @include font('AGENDA', 16px, 'MEDIUM', 18px);
    letter-spacing: 0.5px;
}

.c-figure__title {
    margin: 0 0 5px;
}

.c-figure__caption,
.c-figure__caption p {
    margin: 0 0 10px;

    a {
        color: $cinnabar;
        text-decoration: none;
        border-bottom: 1px solid rgba($cinnabar, 0.8);
        transition: border .16s ease;

        @include tablet-size {
            border-bottom: 1px solid rgba(0,0,0,0);

            &:focus,
            &:hover {
                border-bottom: 1px solid rgba($cinnabar, 0.8);
            }
        }
    }
}

.c-figure__credit {
    @include font('AGENDA', 10px, 'MEDIUM', 10px);

    color: $COLOUR_CREDIT_TEXT;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 15px 0 0 0;

    &:before {
        content: 'Credit: ';
    }
}


.c-figure__toolbar {
    border: 1px solid $white-two;
    bottom: 10px;
    height: 47px;
    position: absolute;
    right: 10px;
}

li.c-figure__toolbar-listitem {
    background-color: $wild-sand;
    height: 45px;
    width: 45px;

    svg, path {
        width: 20px;
    }
}


@each $name, $color in $COLOUR_SOCIAL_LIGHT {
    .c-figure__toolbar-listitem--#{$name} {

        svg, path {
            fill: map-get($COLOUR_SOCIAL_LIGHT, $name);
        }

        &:hover {
            background-color: map-get($COLOUR_SOCIAL_LIGHT, $name);

            svg, path {
                fill: $white;
            }
        }
    }
}

.c-figure__toolbar-listitem--more {
    svg, path {
        fill: $black;
    }
}

.c-figure__toolbar-listitem--zoom {
    svg, path {
        fill: $black;
    }

    &:hover {
        background-color: $cod-gray;

        svg, path {
            fill: $white;
        }
    }
}


@include desktop-size {
    .c-figure__container {
        margin: 0 0 15px;
    }

    .c-figure__title,
    .c-figure__caption,
    .c-figure__credit {
        max-width: 700px;
    }

    .c-figure__caption,
    .c-figure__caption p {
        margin: 0 0 14px;
    }

    .c-figure__toolbar {
        bottom: 15px;
        right: 15px;
    }
}

.c-figure--dark {
    .c-figure__wrapper {
        background: $black;
    }

    .c-figure__toolbar {
        border: 1px solid $cod-gray;
    }

    .c-figure__toolbar-listitem {
        background-color: $cod-gray;

        svg, path {
            fill: $white;
        }
    }

    @each $name, $color in $COLOUR_SOCIAL_DARK {
        .c-figure__toolbar-listitem--#{$name} {
            &:hover {
                background-color: map-get($COLOUR_SOCIAL_DARK, $name);
            }
        }
    }

    .c-figure__toolbar-listitem--zoom {
        &:hover {
            background-color: $brownish-grey;
        }
    }

}
