.bb-a {
    color: inherit;
    border-bottom: 1px solid $cinnabar;

    &:hover,
    &:focus {
       color: $cinnabar;
    }
}

.bb-abbr {
    text-decoration: underline;
}

.bb-mark {
    background-color: $mercury;
}

.bb-small {
   @include font('STARLING', 13px, 'NORMAL', 20px);
   color: $black;
}

// -------------------- //
// Button
// -------------------- //
.bb-button {}
.bb-button--light {
    @include button-group();
    @include button-group-light();

    &:hover,
    &:focus {
        @include button-group-light-hover();
        color: $white;
    }


}

.bb-button--dark {
    @include button-group();
    @include button-group-dark();

    &:hover,
    &:focus {
        @include button-group-dark-hover();
    }
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("COMMUTER SANS", 89px, 'NORMAL', 64px);
    float: left;
    margin: 6px 10px 0 0;
    padding: 0;
    text-transform: capitalize;

    @include desktop-size {
        @include font-size(111px);
        @include line-height(76px);
        margin: 2px 10px 0px 0;
        padding: 0;
    }
}