@mixin bb-credit($font-size) {
    @include font('AGENDA', $font-size, 'MEDIUM', $font-size);

    color: $COLOUR_CREDIT_TEXT;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/**
 * Twitter, Instagram, Vine, Facebook, Vimeo, Youtube
 */
.bb-embed {
    margin: $MARGIN_LARGE 0;
}

.bb-embed--centered {
    iframe {}
}

.bb-embed--video {
    iframe {}
}

.bb-embed--vine {
    iframe {}
}


/**
 * Image
 */
.bb-figure {
    margin-bottom: 30px;

    @include desktop-size {
        margin-bottom: 40px;
    }
}

.bb-figure__caption {}

.bb-figure__credit {
    @include bb-credit(10px);

    padding-top: 10px;
}

.bb-figure__wrapper {}

.bb-figure--custom {
    img {}
}



/**
 * Note
 */
.bb-note {
    @include font('AGENDA', 14px, 'MEDIUM', 18px);

    border-top: 1px solid $COLOUR_BORDER_SOLID;
    color: $black;
    letter-spacing: .3px;
    margin: 20px 0 40px;
    padding-top: 12px;
    padding-left: 20px;
    position: relative;

    @include desktop-size {
        @include font('AGENDA', 14px, 'MEDIUM', 18px);

        letter-spacing: .3px;
        padding-left: 20px;
    }

    &:before {
        background: $COLOUR_MAIN_HIGHLIGHT;
        border-radius: 50%;
        content: '';
        display: block;
        height: 8px;
        left: 0;
        position: absolute;
        top: 18px;
        width: 8px;

        @include desktop-size {
            top: 17px;
        }
    }
}


/**
 * Dropcap
 */

.bb-dropcap {}
.bb-dropcap--letter {
    @include font("STARLING", 89px, 'NORMAL', 64px);

    float: left;
    margin: 10px 10px 0 0;
    padding: 0;
    text-transform: capitalize;

    @include desktop-size {
        @include font-size(140px);
        @include line-height(98px);

        margin: 15px 15px -1px 0;
        padding: 0;
    }
}



/**
 * Gallery
 */
.bb-gallery {}

.bb-gallery__link {}

.bb-gallery__title {
    @include font-size(18px);
    @include line-height(20px);

    letter-spacing: 0;
    margin: 30px 0 10px;
    padding-left: 28px;

    @include desktop-size {
        @include font-size(20px);
        @include line-height(23px);

        margin: 30px 0 15px;

        padding-left: 26px;
    }
}

.bb-gallery__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32px;
    left: 0;

    svg {
        fill: $black;
    }

}
.bb-gallery__icon--gallery {}

.bb-gallery__cols {
    .bb-gallery__col:last-child .bb-gallery__remaining {}
}
.bb-gallery__col {}
.bb-gallery__image {}

.bb-gallery__remaining {}

.bb-gallery__remaining-text {
    @include font("STARLING", 27px, "NORMAL", 27px);

    letter-spacing: normal;

    @include desktop-size {
        @include font("STARLING", 40px, "NORMAL", 40px);
    }
}

.bb-gallery__remaining-text--prefix {
    margin-right: -3px;

    @include desktop-size {
        margin-right: -5px;
    }
}

.bb-gallery__remaining-text--value {}



/**
 * Question & Answer
 */
.bb-question__question,
.bb-answer__answer {
    position: relative;
    padding-left: 40px;
}

.bb-question__question,
.bb-question__question p,
.bb-answer__answer,
.bb-answer__answer p {
    @include font('STARLING', 18px, 'BOLD', 24px);

    @include desktop-size {
        @include font('STARLING', 20px, 'BOLD', 32px);
    }
}

.bb-question__question,
.bb-question__question p {
    color: $mine-shaft;
}

.bb-answer__answer,
.bb-answer__answer p {
    color: $COLOUR_MAIN_ACCENT;
    margin-bottom: 15px;

    @include desktop-size {
        margin-bottom: 20px;
    }
}

.bb-question__q,
.bb-answer__a {
    @include font('STARLING', 17px, 'BOLD', 30px);

    border-radius: 50%;
    color: $COLOUR_MAIN_DARK;
    display: inline-block;
    height: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 30px;
    top: -2px;

    @include desktop-size {
        margin: 0 10px 0 0;
        top: 0;
    }
}

.bb-question__q { background: $COLOUR_BG_DARK; }
.bb-answer__a { background: $COLOUR_MAIN_ACCENT; }

.bb-question__separator,
.bb-answer__separator {
    display: none;
}

.bb-question__by,
.bb-answer__by {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: lowercase;
}

.bb-question__author,
.bb-answer__author {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/**
 * Pullquote
 */
.bb-pullquote {
    margin: 40px 0;

    @include desktop-size {
        margin: 60px 30px;
    }
}

.bb-pullquote__quote {
    @include font('STARLING', 25px, 'NORMAL', 30px);

    color: $COLOUR_MAIN_ACCENT;
    display: block;
    text-align: center;
    font-style: italic;

    @include desktop-size {
        @include font-size(30px);
        @include line-height(38px);
    }

    &:before,
    &:after {
        content: '';
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/**
 * Blockquote
 */
.bb-blockquote {
    border-left: 1px solid $COLOUR_MAIN_HIGHLIGHT;
    margin: 40px 0;
    padding: 0 0 0 20px;

    @include desktop-size {
        margin: 60px 30px;
    }

    &:before {
        content: '';
        display: block;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 14.12" fill="#e03b2a"><path d="M0 8.06c0-4.44 4-7 6.9-8l.32.75c-2.35 1.18-5 2.67-5 5.51 0 .48.21 1.23.8 1.23s1.2-.49 1.74-.49a3.23 3.23 0 0 1 3.37 3.37 3.91 3.91 0 0 1-3.58 3.69C2 14.12 0 11.93 0 8.06zm11.87 0c0-4.44 4-7 6.9-8l.32.75c-2.35 1.18-5 2.67-5 5.51 0 .48.21 1.23.8 1.23s1.21-.49 1.74-.49A3.23 3.23 0 0 1 20 10.43a3.91 3.91 0 0 1-3.58 3.69c-2.57 0-4.55-2.19-4.55-6.06z"/></svg>') 50% 50% no-repeat;
        height: 25px;
        width: 34px;
        margin-bottom: 10px;

        @include desktop-size {
            height: 26px;
            width: 37px;
            margin-bottom: 15px;
        }
    }
}

.bb-blockquote__quote {
    @include font('AGENDA', 17px, 'MEDIUM', 22px);

    margin: 0 0 15px;
    letter-spacing: .3px;

    @include desktop-size {
        margin: 0 0 15px;
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font('AGENDA', 10px, 'MEDIUM', 10px);

    color: $COLOUR_CREDIT_TEXT;
    letter-spacing: 1px;
    text-transform: uppercase;
}



/**
 * Infobox
 */
.bb-infobox {
    background: transparent;
    border: 2px solid $COLOUR_BORDER_INFOBOX;
    margin: 30px 0;
    position: relative;
    padding: 25px;
    z-index: 1;

    &:before {
        border: 1px solid $COLOUR_BORDER_INFOBOX;
        bottom: 5px;
        content: '';
        display: block;
        left: 5px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: -1;

        @include desktop-size {
            bottom: 10px;
            left: 10px;
            right: 10px;
            top: 10px;
        }
    }

    @include desktop-size {
        margin: 40px 0;
        padding: 40px;
    }
}

.bb-infobox__title {
    @include font('STARLING', 16px, 'BOLD', 20px);

    margin: 0;
    text-transform: uppercase;
}

.bb-infobox__hr {
    border-color: $COLOUR_BORDER_SEPARATOR;
    border-width: 1px 0 0 0;
    margin: 10px 0;

    @include desktop-size {
        margin: 15px 0;
    }
}

.bb-infobox__body {
    @include font('AGENDA', 14px, 'MEDIUM', 17px);

    @include desktop-size {
        @include font('AGENDA', 16px, 'MEDIUM', 20px);
    }
}

.bb-infobox__item {
    margin: 0 0 20px;

    @include desktop-size {
        margin: 0 0 25px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.bb-infobox__item__key {
    @include font('STARLING', 15px, 'BOLD', 15px);

    margin: 0 0 5px;

    @include desktop-size {
        @include font('STARLING', 16px, 'BOLD', 16px);

        margin: 0 0 5px;
    }
}

.bb-infobox__item__value {
    @include font('AGENDA', 15px, 'MEDIUM', 19px);

    letter-spacing: .3px;
    margin: 0;

    @include desktop-size {
        @include font('AGENDA', 16px, 'MEDIUM', 20px);

        letter-spacing: .3px;
        margin: 0;
    }
}


/**
 * Interactive
 */
.bb-interactive {
    margin: $MARGIN_LARGE;
}


/**
 * Video
 */
.bb-video {}
.bb-video__title {
    margin-right: 3px;

    @include desktop-size {
        margin-right: 10px;
    }
}

.bb-video__title-icon {
    display: inline-block;
    margin-right: 16px;
    padding: 0;
    width: 16px;
    height: 16px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: auto;
    }

    svg, path {
        fill: $black;
    }
}

.bb-video__wrapper {}
.bb-video__image {}
.bb-video__image-icon {}
.bb-video__link {}


/**
 * Button
 */
.bb-button {}


/**
 * Card
 */
.bb-card {
    background: $wild-sand;
    border: 0;
    margin: 30px 0;
    padding: 15px;

    @include desktop-size {
        padding: 20px;

        &:before {
            @include font('AGENDA', 12px, 'MEDIUM', 12px);

            color: $cinnabar;
            bottom: 20px;
            content: 'Continue Reading';
            position: absolute;
            letter-spacing: 1px;
            right: 20px;
            text-transform: uppercase;
        }
    }
}

.bb-card__link {}

.bb-card__obj {
    display: flex;
}

.bb-card__obj__header {
    flex: 0 0 112px;
    padding-right: 13px;

    @include desktop-size {
        flex: 0 0 185px;
        padding-right: 20px;
    }
}

.bb-card__obj__body {
    flex: 1 1 auto;
    padding-left: 0;
}


.bb-card__images {
    .bb-card__image {
        padding-top: 100%;
    }

    .bb-card__image__icon {
        display: none;
        bottom: 0;
        background-color: $black;
        height: 40px;
        left: 0;
        width: 40px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $COLOUR_ICON_FILL;
        }
    }
}

.bb-card__tag {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-transform: uppercase;

    @include desktop-size {
        margin: 0 0 10px;
    }
}

.bb-card__title {
    @include font('STARLING', 18px, 'NORMAL', 22px);

    margin: 0;

    @include desktop-size {
        @include font('STARLING', 23px, 'BOLD', 28px);

        margin: 10px 0 0;
    }
}

.bb-card__teaser,
.bb-card__separator,
.bb-card__byline,
.bb-card__meta {
    display: none;
}
