// -------------------- //
// Default
// -------------------- //
.bb-pre {
    @include font('STARLING', 14px, 'NORMAL', 14px);
    background-color: $wild-sand;
    border: 1px solid $silver;
    border-radius: 4px;
    color: $black;
    margin: 30px 0;
    padding: 20px 14px;
    white-space: pre-wrap;
}

.bb-p {
    @include font('STARLING', 18px, 'NORMAL', 25px);
    color: inherit;
    margin: 0 0 25px 0;

    @include desktop-size {
        @include font-size(18px);
        @include line-height(28px);
        margin: 0 0 30px 0;
    }
}

// .bb-strong {}
// .bb-em {}

.bb-abbr {
    text-decoration: underline;
}

.bb-mark {
    background-color: $mercury;
}

.bb-a {
  color: inherit;
  border-bottom: 1px solid $cinnabar;

  &:hover,
  &:focus {
    color: $cinnabar;
  }
}

.bb-h1,
.bb-h2,
.bb-h3,
.bb-h4,
.bb-h5,
.bb-h6 {
    color: inherit;
    letter-spacing: -0.5px;
    margin: 0 0 10px 0;
    text-align: left;
}

.bb-h1 {
    @include font('STARLING', 30px, 'NORMAL', 33px);

    @include desktop-size {
        @include font-size(56px);
        @include line-height(60px);
    }
}

.bb-h2 {
    @include font('STARLING', 23px, 'NORMAL', 26px);

    @include desktop-size {
        @include font-size(28px);
        @include line-height(31px);
    }
}

.bb-h3 {
    @include font('STARLING', 21px, 'NORMAL', 24px);

    @include desktop-size {
        @include font-size(25px);
        @include line-height(30px);
    }
}

.bb-h4 {
    @include font('STARLING', 20px, 'NORMAL', 25px);
}

.bb-h5 {
    @include font('STARLING', 18px, 'NORMAL', 20px);
    letter-spacing: -0.3px;
}

.bb-h6 {
    @include font('STARLING', 15px, 'NORMAL', 20px);
    letter-spacing: -0.3px;
}

.bb-ul {
    @include font("STARLING", 18px, 'NORMAL', 20px);
    color: inherit;
    list-style: none;

    .bb-li {
        padding-left: 8px + 15px;
        padding-bottom: 15px;
        position: relative;

        &:after {
            background: currentcolor;
            border-radius: 50%;
            content: '';
            display: block;
            height: 8px;
            left: 0;
            position: absolute;
            top: 6px;
            width: 8px;

           @include desktop-size {
              height: 10px;
              top: 5px;
              width: 10px;
           }
        }
    }
}

.bb-ol {
    @include font('STARLING', 18px, 'NORMAL', 20px);
    color: inherit;
    counter-reset: li;
    list-style-type: none;

    .bb-li {
        padding-left: 20px + 15px;
        margin-bottom: 15px;
        letter-spacing: .3px;
        position: relative;

        &:before {
            @include font('COMMUTER SANS', 20px, 'NORMAL', 20px);
            color: inherit;
            content: counter(li);
            counter-increment: li;
            display: block;
            height: 20px;
            left: 0;
            padding: 0;
            position: absolute;
            text-align: center;
            top: 0;
            vertical-align: middle;
            width: 20px;
        }
    }
}

// -------------------- //
// Dropcap
// -------------------- //
.bb-dropcap {}
.bb-dropcap--letter {
    @include font("COMMUTER SANS", 89px, 'NORMAL', 64px);
    float: left;
    margin: 6px 10px 0 0;
    padding: 0;
    text-transform: capitalize;

    @include desktop-size {
        @include font-size(111px);
        @include line-height(76px);
        margin: 2px 10px 0px 0;
        padding: 0;
    }
}

// -------------------- //
// Blockquote
// -------------------- //
.bb-blockquote {
    border-left: 1px solid $gray;
    margin: 40px 0;
    padding: 0 0 0 20px;

    @include desktop-size {
        margin: 0 0 30px;
    }
}

.bb-blockquote__quote {
    @include font('COMMUTER SANS', 16px, 'NORMAL', 21px);
    color: $gray;
    margin: 0 0 20px;

    @include desktop-size {
        margin: 0 0 30px;
    }
}

.bb-blockquote__separator {
    display: none;
}

.bb-blockquote__credit {
    @include font('COMMUTER SANS', 10px, 'NORMAL', 10px);
    color: $gray;
    text-transform: uppercase;
}

// -------------------- //
// Pullquote
// -------------------- //
.bb-pullquote {
    border-bottom: solid 1px currentcolor;
    border-top: solid 1px currentcolor;
    margin: 40px 0;
    padding: 15px 0px;

    @include desktop-size {
        margin: 60px 30px;
    }
}

.bb-pullquote__quote {
    @include font('COMMUTER SANS', 23px, 'NORMAL', 27px);
    color: inherit;
    display: block;
    text-align: center;

    @include desktop-size {
        @include font-size(28px);
        @include line-height(32px);
    }

    &:before,
    &:after {
        content: '';
    }
}

.bb-pullquote__separator {
    display: none;
}

.bb-pullquote__credit {
    @include font('COMMUTER SANS', 10px, 'NORMAL', 10px);
    color: inherit;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
}

// -------------------- //
// Question & Answer
// -------------------- //
.bb-question,
.bb-answer {
    margin-bottom: 30px;

    @include desktop-size {
      margin-bottom: 35px;
    }
}

.bb-question__question,
.bb-answer__answer {
    position: relative;
    padding-left: 40px;
}

.bb-question__question,
.bb-question__question .bb-p {
    @include font('STARLING', 18px, 'BOLD', 24px);

    @include desktop-size {
      @include font-size(20px);
      @include line-height(32px);
    }
}

.bb-question__question .bb-p {
    @include font('STARLING', 18px, 'BOLD', 24px);
    margin-left: 10px;
}

.bb-answer__answer,
.bb-answer__answer .bb-p {
    @include font('STARLING', 18px, 'NORMAL', 24px);

    @include desktop-size {
       @include font-size(20px);
       @include line-height(32px);
    }
}

.bb-answer__answer .bb-p {
    @include font('STARLING', 18px, 'NORMAL', 24px);
    margin-left: 10px;
}

.bb-question__question,
.bb-question__question .bb-p {
    color: inherit;
    margin-bottom: 25px;
    margin-right: 10px;
}

.bb-answer__answer,
.bb-answer__answer .bb-p {
    color: inherit;
    margin-bottom: 25px;
}

.bb-question__q,
.bb-answer__a {
    @include font('COMMUTER SANS', 18px, 'NORMAL', 36px);
    border-radius: 50%;
    color: inherit;
    display: inline-block;
    height: 38px;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 38px;
    top: -8px;
}

.bb-question__q { background: $black; color: $white;}
.bb-answer__a { background: $mercury; }

.bb-question__separator,
.bb-answer__separator {
    display: none;
}

.bb-question__by,
.bb-answer__by {
    @include font('COMMUTER SANS', 10px, 'NORMAL', 10px);
    color: $black;
    text-transform: uppercase;
}

.bb-question__author,
.bb-answer__author {
    @include font('COMMUTER SANS', 10px, 'NORMAL', 10px);
    color: $black;
    text-transform: uppercase;
}

.bb-small {
   @include font('STARLING', 13px, 'NORMAL', 20px);
   color: $black;
}

// -------------------- //
// Note
// -------------------- //
.bb-note {
    @include font('STARLING', 13px, 'NORMAL', 20px);
    border-top: 1px solid $black;
    color: inherit;
    padding-bottom: 30px;
    padding-top: 15px;
    position: relative;
}

// -------------------- //
// Infobox
// -------------------- //
.bb-infobox {
    background: $black;
    color: $white;
    margin: 30px 0;
    position: relative;
    padding: 20px;
    z-index: 1;

    @include desktop-size {
        margin: 30px 0;
        padding: 30px;
    }
}

.bb-infobox__title {
    @include font('COMMUTER SANS', 16px, 'NORMAL', 16px);
    margin: 0;
    text-transform: uppercase;

    @include desktop-size {
       @include font-size(19px);
       @include line-height(23px);
    }
}

.bb-infobox__hr {
    border-color: $silver;
    border-width: 1px 0 0 0;
    margin: 15px 0;
}

.bb-infobox__body {
  .bb-p {
    color: $white;
    margin: 0;
  }

  .bb-a {
    color: $white;
    border-color: $white;
  }
}

.bb-infobox__item {
    margin: 0 0 15px;
    border-bottom: solid 1px $mine-shaft;

    &:last-child {
        margin-bottom: 0;
    }
}

.bb-infobox__item__key {
    @include font('COMMUTER SANS', 16px, 'NORMAL', 20px);
    text-transform: uppercase;
    margin: 0 0 5px;

    @include desktop-size {
        @include font('COMMUTER SANS', 19px, 'NORMAL', 22px);
    }
}

.bb-infobox__item__value {
    @include font('STARLING', 14px, 'NORMAL', 18px);
    margin-bottom: 20px;

    .bb-a{
      color: $white;
      border-color: $white;
    }

    @include desktop-size {
        @include font('STARLING', 16px, 'NORMAL', 20px);
    }
}

// -------------------- //
// Button
// -------------------- //
.bb-button {}
.bb-button--light {
    @include button-group();
    @include button-group-light();

    &:hover,
    &:focus {
        @include button-group-light-hover();
        color: $white;
    }


}
.bb-button--dark {
    @include button-group();
    @include button-group-dark();

    &:hover,
    &:focus {
        @include button-group-dark-hover();
    }
}

// -------------------- //
// Gallery
// -------------------- //
.bb-gallery__title {
    @include font('STARLING', 18px, 'NORMAL', 20px);
    letter-spacing: -0.3px;
    margin: 30px 0 15px;
    padding-left: 30px;

    @include desktop-size {
        @include font-size(20px);
        @include line-height(23px);
        letter-spacing: -0.5px;
        margin: 30px 0 13px;
    }
}

.bb-gallery__icon {
    width: 20px;
    height: 20px;
    top: 30px;
    position: absolute;
    left: 0;

    @include desktop-size {
        top: 32px;
    }

    svg {
        fill: $black;
    }
}

.bb-gallery__cols {
    background-color: $alabaster;

    &:before {
        content: none;
    }
}

.bb-gallery__remaining-text {
    @include font("COMMUTER SANS", 27px, "NORMAL", 27px);

    letter-spacing: normal;
}

.bb-gallery__remaining-text--prefix {
    @include font-size(22px);
    @include line-height(22px);
    margin-right: -3px;
}

// -------------------- //
// Video
// -------------------- //
.bb-video {
    margin-bottom: 40px;

    @include desktop-size {
        margin-bottom: 60px;
    }
}

.bb-video__title {
    @include font('STARLING', 18px, 'NORMAL', 20px);
    letter-spacing: -0.3px;
    margin: 30px 0 15px;
    padding-left: 30px;

    @include desktop-size {
        @include font-size(20px);
        @include line-height(25px);
        letter-spacing: -0.5px;
        margin: 30px 0 13px;
    }
}

.bb-video__icon {
    display: inline-block;
    height: 16px;
    left: 0;
    padding: 0;
    position: absolute;
        top: 2px;
    width: 16px;

    svg {
        display: block;
        height: 100%;
        margin: 0 auto;
        vertical-align: middle;
        width: auto;
    }

    svg, path {
        fill: $black;
    }
}

.bb-video__image-icon {
    background-color: rgba(17, 17, 17, 0.6);
    border-radius: 50%;
    height: 60px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;

    svg, path {
        fill: $white;
        height: 20px;
        margin-left: 3px;
        width: 20px;
    }
}

.bb-video__wrapper{
    background: $alabaster;
}

// -------------------- //
// Image
// -------------------- //
.bb-figure {
    margin: 25px 0;

    @include desktop-size {
        margin: 30px 0;
    }
}

.bb-figure__wrapper {
    margin-bottom: 10px;
}

.bb-figure__caption,
.bb-figure__credit {
    width: 100%;
}

.bb-figure__caption,
.bb-figure__caption .bb-p {
    @include font('COMMUTER SANS', 13px, null, 16px);
    color: $black;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}

.bb-figure__credit {
    @include font('COMMUTER SANS', 9px, null, 9px);
    color: $gray;
    margin: 10px 0 0 0;
    text-transform: uppercase;

    @include desktop-size {
        margin-top: 15px;
    }
}

.bb-figure__wrapper {
    background-color: $alabaster;
}

.bb-figure--external {
    img {
        margin: 0 auto;
    }
}

// -------------------- //
// Card
// -------------------- //
.bb-card {
    border: 1px solid $mercury;
    margin: 30px 0;
    padding: 15px;

    @include desktop-size {
        padding: 20px;
    }
}

.bb-card__obj {
    display: flex;
}

.bb-card__obj__header {
    flex: 0 0 112px;
    padding-right: 13px;

    @include desktop-size {
        flex: 0 0 185px;
        padding-right: 20px;
    }
}

.bb-card__obj__body {
    flex: 1 1 auto;
    padding-left: 0;
}

.bb-card__images {
    .bb-card__image {
        background-color: $alabaster;
        padding-top: 100%;
    }

    .bb-card__image__icon {
        display: none;
        bottom: 0;
        background-color: $black;
        height: 40px;
        left: 0;
        width: 40px;

        svg {
            display: block;
            height: 100%;
            margin: 0 auto;
            vertical-align: middle;
            width: 16px;
            fill: $mercury;
        }
    }
}

.bb-card__tag {
    @include font('COMMUTER SANS', 10px, 'NORMAL', 10px);
    color: $gray;
    margin: 0 0 6px;
    text-transform: uppercase;

    @include desktop-size {
        @include font-size(12px);
        @include line-height(12px);
    }
}

.bb-card__title {
    @include font('STARLING', 18px, 'NORMAL', 21px);
    letter-spacing: -0.3px;
    margin: 0;

    @include desktop-size {
        @include font-size(24px);
        @include line-height(27px);
        letter-spacing: -0.5px;
        margin: 10px 0 0;
    }
}

.bb-card__teaser,
.bb-card__separator,
.bb-card__byline,
.bb-card__meta {
    display: none;
}

// -------------------- //
// Callout
// -------------------- //
.bb-callout {
    background: $black;
    margin: 30px 0;
    position: relative;
    padding: 20px;
    z-index: 1;

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    .bb-p {
        color: $white;
    }

    .bb-a {
        color: $white;
        border-color: $white;
    }

    @include desktop-size {
        margin: 30px 0;
        padding: 30px;
    }
}

///**
// * Twitter, Instagram, Vine, Facebook, Vimeo, Youtube
// */
//.bb-embed {
//    margin: $MARGIN_LARGE 0;
//}
//
///**
// * Interactive
// */
//.bb-interactive {
//    margin: $MARGIN_LARGE 0;
//}



