@import "@cnbritain/merlin-www-common:houseandgarden";
@import "@cnbritain/merlin-www-card-list:houseandgarden";
@import "@cnbritain/merlin-www-image:houseandgarden";
@import "@cnbritain/merlin-www-topic-strip:houseandgarden";

@import "../wireframe/wireframe";

.tg-header {
    margin: $MOBILE_SLICE_MARGIN 0;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin: $TABLET_SLICE_MARGIN 0;
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: $DESKTOP_SLICE_MARGIN 0;
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.tg-header--video {
    .tg-header__intro__image {
        height: 38px;
        margin: 0 auto;
        width: 230px;

        svg {
            fill: $mine-shaft;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            height: 45px;
            width: 315px;
        }
    }
}

.tg-header--profile {
    .tg-header__intro__image {
        border-radius: 50%;
        height: 85px;
        margin: 0 auto 20px auto;
        overflow: hidden;
        width: 85px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            width: 130px;
            height: 130px;
        }

        img {
            border-radius: 50%;
            height: 100%;
            overflow: hidden;
            width: 100%;
        }
    }
}

.tg-header--brand,
.tg-header--event,
.tg-header--topic {
    .tg-header__intro__image {
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;

        img {
            width: 100%;
        }

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin-bottom: 30px;
            width: 250px;
        }
    }
}

.tg-header__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
    margin: 0 auto;
}

.tg-header__intro {}
.tg-header__intro__image {}

.tg-header__title {
    @include font("MILLER_DISPLAY", 40px, 'NORMAL', 41px);
    color: $mine-shaft;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    text-align: center;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        @include font-size(65px);
        @include line-height(68px);
        margin-bottom: 20px;
    }
}

.tg-header__separator {
    display: none;
}

.tg-header__description {
    color: $mine-shaft;
    margin: 10px auto 30px auto;
    text-align: center;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 20px auto 40px auto;
    }

    a {
        border-bottom: 2px solid $careys-pink;
        color: $mine-shaft;
        padding-bottom: 2px;
    }

    p {
        @include font("MILLER_DISPLAY", 18px, 400, 22px);
        color: $mine-shaft;
        font-style: italic;
        letter-spacing: 0;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            @include font-size(23px);
            @include line-height(28px);
        }
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.tg-header__topic-strip {
    margin: 20px auto;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 30px auto;
    }

    .c-topic-strip {
        text-align: center;
    }

    .c-topic-strip__btn {
        @include button-group();
        @include button-group-light();

        &:hover {
            @include button-group-light-hover();
        }
    }
}

.tg-header__cards {
    margin: 25px auto;
    max-width: $MAXIMUM_PAGE_WIDTH;

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin: 60px auto;
    }
}