.c-superfeature {
    background: $wild-sand;
    max-width: none;
    margin: 30px auto;
    padding: 0;

    @include at-medium-size {
        padding: 0;
        margin: 60px auto;
    }
}

.c-superfeature {
    .c-superfeature__image {
        background-color: $silver;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &:hover,
    &:focus {
        .c-superfeature__title span {
            border-bottom: 1px solid $black;
        }
    }
}

.c-superfeature__images {
    margin: 0 auto;
    max-width: $XX_LARGE_SIZE;
}
.c-superfeature__images--multiple {

    .c-superfeature__image {
        width: 50%;
    }
    .c-superfeature__image:nth-child(n+3) {
        display: none;
    }

    @include at-medium-size {
        .c-superfeature__image {
            width: 25%;
        }
        .c-superfeature__image:nth-child(n+3) {
            display: inline-block;
        }
    }

}

.c-superfeature__image-wrapper {
    padding-top: 100%;

    @include at-medium-size {
        padding-top: 47%;
    }
}

.c-superfeature__contents {
    background: $white;
    margin: 0 20px;
    max-width: $XX_LARGE_SIZE - 120px;
    padding: 28px 20px;
    text-align: center;

    @include at-medium-size {
        margin: -50px 60px 0 60px;
        position: relative;
    }

    @include at-x-large-size {
        margin: -80px 60px 0 60px;
        padding: 60px 170px;
    }

    @include at-xx-large-size {
        margin: -80px auto 0 auto;
    }
}


.c-superfeature__teaser {
    display: none;
}

.c-superfeature__title {
    @include font('STARLING', 24px, 'NORMAL', 28px);
    color: $black;
    letter-spacing: -0.5px;
    margin: 0 0 15px;
    position: relative;
    padding: 0 0 15px;

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        background: $black;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
    }

    @include at-x-large-size {
        @include font('STARLING', 37px, 'NORMAL', 42px);
        color: $black;
        margin: 0 0 25px;
        padding: 0 0 25px;
    }
}


.c-superfeature__tag {
    @include font("COMMUTER SANS", 12px, 400, 12px);
    color: $gray;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
    text-transform: uppercase;

    @include at-small-size {
        margin-bottom: 15px;
    }
}

.c-superfeature__byline {
    @include font('STARLING', 12px, null, 12px);
    color: $gray;
    margin: 0 0 10px;
    text-transform: uppercase;

    @include tablet-size {
        margin: 15px 0 10px;
    }
}

.c-superfeature__byline-name {
    text-transform: uppercase;
}

.c-superfeature__byline-prefix {
    font-style: italic;
    text-transform: lowercase;
}

.c-superfeature__meta {
    margin-top: 5px;
}

.c-superfeature__meta-item {
    @include font('COMMUTER SANS', 10px, 'MEDIUM', 10px);
    color: $gray;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;

    + .c-superfeature__meta-item {
        &:before {
            content: '';
            height: 11px;
            width: 1px;
            background-color: $silver;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
        }

        .c-card--dark & {
            background-color: $mine-shaft;
            height: 11px;
        }
    }
}


.c-superfeature--dark {
    .c-superfeature__contents {
        background: $black;

        .c-superfeature__icon {
            background: $white;
        }
    }

    .c-superfeature__title,
    .c-superfeature__teaser {
        color: $white;
    }
}

