@import '@cnbritain/merlin-www-common:gq';
@import '../wireframe/wireframe';

.c-cookie-warning {
	background: rgba($seashell, 0.96);
	border-left: 1px solid $bon-jour;
	border-right: 1px solid $bon-jour;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid $bon-jour;
	padding: 16px;
	padding-right: 56px;
}

.c-cookie-warning__message {
	@include font('GOTHAM', 12px, '400', 16px);
	color: $shuttle-gray;
	letter-spacing: 0;

	a {
		@include font-weight(400);
		border-bottom: 1px solid $shuttle-gray;
		color: $shuttle-gray;
		text-decoration: none;
	}
}

.c-cookie-warning__button {
	border-radius: 50%;
	border: 1px solid $shuttle-gray;
	fill: $shuttle-gray;
	height: 24px;
	right: 16px;
    top: 50%;
    transform: translateY(-50%);
	width: 24px;

	svg {
		height: 100%;
		width: 8px;
	}
}