
.c-gallery-strip {
    margin: $MARGIN_LARGE auto;
    padding: 0 $MOBILE_SIDE_GUTTER;

    @include at-medium-size {
        padding: 0 $TABLET_SIDE_GUTTER;
    }

    @include at-x-large-size {
        padding: 0 $DESKTOP_SIDE_GUTTER;
    }
}

.c-gallery-strip-wrapper {}

.c-gallery-strip-wrapper:hover .c-gallery-strip__title,
.c-gallery-strip-wrapper:hover .c-gallery-strip__subtitle,
.c-gallery-strip-wrapper:hover .c-gallery-strip__list,
.c-gallery-strip__link:focus ~ * .c-gallery-strip__title,
.c-gallery-strip__link:focus ~ * .c-gallery-strip__subtitle,
.c-gallery-strip__link:focus ~ * .c-gallery-strip__list {
    opacity: 0.7;
}

.c-gallery-strip__list {
    opacity: 1;
    transition: opacity 0.3s ease;

    @include at-medium-size {
        margin: 0 -3px;
    }
}

.c-gallery-strip__listitem {
    @include at-medium-size {
        padding: 0 3px;
    }
}

.c-gallery-strip__remaining {
    background-color: rgba(0,0,0,0.3);

    @include at-medium-size {
        left: 3px;
        right: 3px;
    }
}

.c-gallery-strip__remaining-label {
    @include font('NOBEL', 24px);
    color: $white;
}

.c-gallery-strip__detail {
    background: $white;
    margin: -$MARGIN_LARGE $MARGIN_SMALL 0 $MARGIN_SMALL;
    padding: $PADDING_SMALL $PADDING_SMALL 0 $PADDING_SMALL;
    position: relative;
    text-align: center;
    z-index: 1;

    @include at-medium-size {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
    }
}

.c-gallery-strip__title {
    @include font('ITC CASLON', 24px, 'NORMAL');
    color: $cod-gray;
    margin: 0 0 15px 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.c-gallery-strip__subtitle {
    @include font('NOBEL', 10px);
    color: $dove-gray;
    letter-spacing: 1px;
    opacity: 1;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}
