
.c-gallery-strip {
    margin-bottom: $MARGIN_LARGE;
    margin-top: $MARGIN_LARGE;
}

.c-gallery-strip__wrapper {
    position: relative;

    &:hover,
    &:focus {
        .c-gallery-strip__title,
        .c-gallery-strip__subtitle {
            opacity: 0.7;
        }

        .c-gallery-strip__list {
            opacity: 0.8;
        }
    }
}

.c-gallery-strip__link {}

.c-gallery-strip__list {
    @include transition(opacity 0.3s ease);
    opacity: 1;
}
.c-gallery-strip__list__item {}
.c-gallery-strip__images__image {}


.c-gallery-strip__detail {
    background: $white;
    margin: -$MARGIN_LARGE $MARGIN_SMALL 0 $MARGIN_SMALL;
    padding: $PADDING_SMALL $PADDING_SMALL 0 $PADDING_SMALL;
    position: relative;
    text-align: center;
    z-index: 1;
}

.c-gallery-strip__remaining {
    background-color: rgba(0,0,0,0.3);
}
.c-gallery-strip__remaining__label {
    @include font('NOBEL', 24px);
    color: $white;
}
.c-gallery-strip__remaining__prefix {}
.c-gallery-strip__remaining__value {}

.c-gallery-strip__title {
    @include font('ITC CASLON', 24px, 'NORMAL');
    @include transition(opacity 0.3s ease);
    color: $cod-gray;
    margin: 0 0 15px 0;
    opacity: 1;
}
.c-gallery-strip__subtitle {
    @include font('NOBEL', 10px);
    @include transition(opacity 0.3s ease);
    color: $dove-gray;
    letter-spacing: 1px;
    opacity: 1;
    text-transform: uppercase;
}


.c-gallery-strip--tag {
    .c-gallery-strip__list {
        text-align: center;
    }
    .c-gallery-strip__list__item:nth-child(n+4){
        display: none;
    }
    .c-gallery-strip__list__item:nth-child(3){
        .c-gallery-strip__remaining {
            display: block;
        }
    }
}

.c-gallery-strip--gutters {}

@include tablet-size {
    .c-gallery-strip__detail {
        margin-left: $MARGIN_LARGE;
        margin-right: $MARGIN_LARGE;
    }
    .c-gallery-strip--tag {
        .c-gallery-strip__list__item {
            display: inline-block;
            width: 16.66%;
        }
        .c-gallery-strip__detail {
            margin-left: auto;
            margin-right: auto;
            width: 320px;
        }
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+6){
            display: inline-block;
        }
        .c-gallery-strip__list__item:nth-child(3){
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: block;
            }
        }
    }
    .c-gallery-strip--gutters {
        .c-gallery-strip__list {
            margin: 0 -3px;
        }
        .c-gallery-strip__list__item {
            padding: 0 3px;
        }
        .c-gallery-strip__remaining {
            left: 3px;
            right: 3px;
        }
    }
}

@include desktop-size {
    .c-gallery-strip--tag {
        .c-gallery-strip__list__item {
            width: 12.5%;
        }
        .c-gallery-strip__list__item:nth-child(n+4):nth-child(-n+8){
            display: inline-block;
        }
        .c-gallery-strip__list__item:nth-child(6){
            .c-gallery-strip__remaining {
                display: none;
            }
        }
        .c-gallery-strip__list__item:nth-child(8){
            .c-gallery-strip__remaining {
                display: block;
            }
        }
    }
}
