.c-card-list {
    display: flex;
    flex-wrap: wrap;
}

.c-card-list--cols {
    .c-card-list__item {
        display: flex;
    }
}

.c-card-list__item--ad {
    .ad--native-medium,
    .ad--native-medium .ad__block,
    .ad--native-medium .ad__container {
        display: flex;
        width: 100%;
    }
}

$C_CARD_GUTTER: 10px;
$C_CARD_BUM_MARGIN: 0;


@mixin cl-base {
    flex-direction: column;
    margin: 0 (-$C_CARD_GUTTER);
    text-align: center;

    .c-card-list__item {
        display: flex;
        padding: 0 $C_CARD_GUTTER;
        text-align: left;
        width: 100%;
    }
}

@mixin cl-one {
    @include one-column-size {
        margin-bottom: -$C_CARD_GUTTER;
        margin-top: -$C_CARD_GUTTER;

        .c-card-list__item {
            margin-bottom: $C_CARD_GUTTER;
            margin-top: $C_CARD_GUTTER;
        }
    }
}

@mixin cl-two {
    @include two-column-size {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: -$C_CARD_GUTTER;
        margin-top: -$C_CARD_GUTTER;

        .c-card-list__item {
            margin-bottom: $C_CARD_GUTTER;
            margin-top: $C_CARD_GUTTER;
            width: 50%;
        }
    }
}

@mixin cl-three {
    @include three-column-size {
        flex-direction: row;
        justify-content: center;
        margin-bottom: -$C_CARD_GUTTER;
        margin-top: -$C_CARD_GUTTER;

        .c-card-list__item {
            margin-bottom: $C_CARD_GUTTER;
            margin-top: $C_CARD_GUTTER;
            width: 33.33%;
        }
    }
}

@mixin cl-four {
    @include four-column-size {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: -$C_CARD_GUTTER;
        margin-top: -$C_CARD_GUTTER;

        .c-card-list__item {
            margin-bottom: $C_CARD_GUTTER;
            margin-top: $C_CARD_GUTTER;
            width: 25%;
        }
    }
}

@mixin cl-five {
    @include five-column-size {
        flex-direction: row;
        justify-content: center;
        margin-bottom: -$C_CARD_GUTTER;
        margin-top: -$C_CARD_GUTTER;

        .c-card-list__item {
            margin-bottom: $C_CARD_GUTTER;
            margin-top: $C_CARD_GUTTER;
            width: 20%;
        }
    }
}

@mixin cl-one-two {
    @include cl-base;
    @include cl-one;
    @include cl-two;
}

@mixin cl-one-two-three {
    @include cl-base;
    @include cl-one;
    @include cl-two;
    @include cl-three;
}

@mixin cl-one-two-three-four {
    @include cl-base;
    @include cl-one;
    @include cl-two;
    @include cl-three;
    @include cl-four;
}

@mixin cl-one-two-four {
    @include cl-base;
    @include cl-one;
    @include cl-two;
    @include cl-four;
}

@mixin cl-one-three {
    @include cl-base;
    @include cl-one;
    @include cl-three;
}

@mixin cl-two-four {
    @include cl-base;
    @include cl-two;
    @include cl-four;
}

// Common curated, common tag, article recommended, magazine articles,
// search results, video genre articles, latest articles, videos too
// Contains four cards
// Goes one, two, four
.c-card-list--c-curated,
.c-card-list--c-tag,
.c-card-list--a-recommended,
.c-card-list--mag-articles,
.c-card-list--s-results,
.c-card-list--v-genre-articles,
.c-card-list--c-video-articles,
.c-card-list--g-recommended {
    @include cl-one-two-four;
}

.c-card-list--v-articles {
    @include cl-base;
    @include cl-one;
    @include cl-two;

    @include four-column-size {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: -$C_CARD_GUTTER;
        margin-top: -$C_CARD_GUTTER;

        .c-card-list__item {
            margin-bottom: $C_CARD_GUTTER;
            margin-top: $C_CARD_GUTTER;
            width: 33.33%;
        }
    }
}

.c-card-list--a-recommended,
.c-card-list--g-recommended {
    li.c-card__meta-item + li.c-card__meta-item {
        border-left-color: $COLOUR_BORDER_SEPARATOR;
    }
}


// Gallery recommended, common magazine articles
// Contains 3 cards
// Goes one, three
.c-card-list--g-recommended {
    @include cl-one-three;
}

.c-card-list--c-contributors {
    @include cl-base;
    @include cl-one;

    @include two-column-size {
        flex-direction: row;
        justify-content: center;

        .c-card-list__item {
            margin-bottom: $C_CARD_BUM_MARGIN;
            width: 33.33%;
        }
    }

    @include three-column-size {
        max-width: 660px;
        margin: 0 auto;
        text-align: center;
    }
}

.c-card-list--c-magazine-articles {
    .c-card-list__item {
        max-width: 450px;
    }

    .c-card-list__item + .c-card-list__item {
        margin-top: 20px;
    }
}

// Magazine magazines
// Contains four columns
// Goes two, four
.c-card-list--mag-magazines {
    @include cl-base;

    flex-direction: row;
    justify-content: flex-start;

    .c-card-list__item {
        margin-bottom: $C_CARD_BUM_MARGIN;
        width: 50%;
    }

    @include cl-three;
    @include cl-four;
}


// Tagpage articles, video articles
// This has to be done a little bit differently as an ad might be between
// each .c-card-list__item
// Contains one column
// Goes one
.c-card-list--tg-articles {
    display: block;

    .c-card-list__item {
        width: 100%;

        .c-card {
            border: 0;
            padding-top: 20px;

            &.c-card--dark {
                border-top: 1px solid $COLOUR_BORDER_SEPARATOR_DARK;
            }
        }

        @include first(1) {
            .c-card {
                border-top: none;
                padding-top: 0;

                &.c-card--dark {
                    border-top: none;
                }
            }
        }
    }
}


// Ttag header articles
// Contains three columns
// Goes one, two, three
.c-card-list--tg-header-articles {
    @include cl-one-two-three;
}

// TOP STORIES AH HA
.c-card-list--top-stories {
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    .c-card-list__item {
        display: flex;
        flex: none;
        margin-right: 20px;
        white-space: normal;
        width: 300px;

        &:last-child {
            width: 275px;
        }

        &.is-hidden {
            height: 0;
            overflow: hidden;
            visibility: hidden;
            width: 0;
        }
    }
}


// RELATED ARTICLES
.c-card-list--v-related-articles {
    flex-direction: row;
    margin: 0 (-$C_CARD_GUTTER);

    .c-card-list__item {
        opacity: 1;
        padding: 0 $C_CARD_GUTTER;
        transition: opacity 0.3s ease-out;
        width: 100%;

        .c-card__images {
            &:after {
                border: 2px solid $cinnabar;
                bottom: 0;
                box-sizing: border-box;
                content: '';
                height: 100%;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                transition-duration: 300ms;
                width: 100%;
            }
        }

        .c-card__image {
            &:after {
                @include font("COMMUTER SANS", 12px, 500, 12px);
                background-color: $cinnabar;
                bottom: 0px;
                color: $white;
                content: 'Now Playing';
                left: 0px;
                letter-spacing: 0.2px;
                opacity: 0;
                padding: 6px;
                position: absolute;
                text-transform: uppercase;
                transition-duration: 300ms;
            }
        }

        &.is-active {
            .c-card__images {
                &:after {
                    opacity: 1;
                }
            }

            .c-card__image {
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    .c-card-list__item + .c-card-list__item {
        margin-top: 20px;
    }
}
