.c-card-list {
    display: flex;
    flex-wrap: wrap;
}

.c-card-list--cols {
    .c-card-list__item {
        display: flex;
    }
}

$C_CARD_GUTTER: 10px;
$C_CARD_BUM_MARGIN: 0;


@mixin cl-base {
    flex-direction: column;
    margin: 0 (-$C_CARD_GUTTER);
    text-align: center;

    .c-card-list__item {
        display: flex;
        padding: 0 $C_CARD_GUTTER;
        text-align: left;
        width: 100%;
    }
}

@mixin cl-one {
    @include one-column-size {
        .c-card-list__item + .c-card-list__item {
            margin-top: 0;

            .c-card {
                border: 0;
                padding-top: 20px;

                &.c-card--dark {
                    border: 0
                }
            }
        }
    }
}

@mixin cl-two {
    @include two-column-size {
        flex-direction: row;
        justify-content: flex-start;

        .c-card-list__item {
            margin-bottom: $C_CARD_BUM_MARGIN;
            width: 50%;
        }
    }
}

@mixin cl-three {
    @include three-column-size {
        flex-direction: row;
        justify-content: center;

        .c-card-list__item {
            margin-bottom: $C_CARD_BUM_MARGIN;
            width: 33.33%;
        }
    }
}

@mixin cl-four {
    @include four-column-size {
        flex-direction: row;
        justify-content: flex-start;

        .c-card-list__item {
            margin-bottom: $C_CARD_BUM_MARGIN;
            width: 25%;
        }
    }
}

@mixin cl-five {
    @include five-column-size {
        flex-direction: row;
        justify-content: center;

        .c-card-list__item {
            margin-bottom: $C_CARD_BUM_MARGIN;
            width: 20%;
        }
    }
}

@mixin cl-one-two {
    @include cl-base;
    @include cl-one;
    @include cl-two;
}

@mixin cl-one-two-three {
    @include cl-base;
    @include cl-one;
    @include cl-two;
    @include cl-three;
}

@mixin cl-one-two-three-four {
    @include cl-base;
    @include cl-one;
    @include cl-two;
    @include cl-three;
    @include cl-four;
}

@mixin cl-one-two-four {
    @include cl-base;
    @include cl-one;
    @include cl-two;
    @include cl-four;
}

@mixin cl-one-three {
    @include cl-base;
    @include cl-one;
    @include cl-three;
}

@mixin cl-two-four {
    @include cl-base;
    @include cl-two;
    @include cl-four;
}

// Common curated, article recommended, magazine articles, search results,
// video genre articles, latest articles, videos too
// Contains four cards
// Goes one, two, four
.c-card-list--c-curated,
.c-card-list--a-recommended,
.c-card-list--mag-articles,
.c-card-list--s-results,
.c-card-list--v-genre-articles,
.c-card-list--c-video-articles,
.c-card-list--v-articles,
.c-card-list--g-recommended {
    @include cl-one-two-four;
}

.c-card-list--a-recommended,
.c-card-list--g-recommended {
    li.c-card__meta-item + li.c-card__meta-item {
        border-left-color: $COLOUR_BORDER_SEPARATOR;
    }
}

// Common tag
// Contains 5 cards
// Goes one, two, three, four
.c-card-list--c-tag {
    @include cl-one-two-three-four;
}


// Gallery recommended, common magazine articles
// Contains 3 cards
// Goes one, three
.c-card-list--g-recommended,
.c-card-list--c-contributors {
    @include cl-one-three;
}

.c-card-list--c-contributors {
    @include three-column-size {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
}

.c-card-list--c-magazine-articles {
    .c-card-list__item + .c-card-list__item {
        margin-top: 20px;
    }
}

// Magazine magazines
// Contains four columns
// Goes two, four
.c-card-list--mag-magazines {
    @include cl-two-four;
}


// Tagpage articles, video articles
// This has to be done a little bit differently as an ad might be between
// each .c-card-list__item
// Contains one column
// Goes one
.c-card-list--tg-articles {
    flex-direction: column;

    .c-card-list__item {
        width: 100%;

        .c-card {
            border-top: 1px solid $COLOUR_BORDER_SEPARATOR;
            padding-top: 20px;

            &.c-card--dark {
                border-top: 1px solid $COLOUR_BORDER_SEPARATOR_DARK;
            }
        }

        @include first(1) {
            .c-card {
                border-top: none;
                padding-top: 0;

                &.c-card--dark {
                    border-top: none;
                }
            }
        }
    }
}


// Ttag header articles
// Contains three columns
// Goes one, two, three
.c-card-list--tg-header-articles {
    @include cl-one-two-three;
}

// TOP STORIES AH HA
.c-card-list--top-stories {
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    .c-card-list__item {
        display: flex;
        flex: none;
        margin-right: 20px;
        white-space: normal;
        width: 275px;

        &:last-child {
            width: 275px;
        }

        &.is-hidden {
            height: 0;
            overflow: hidden;
            visibility: hidden;
            width: 0;
        }
    }
}


// RELATED ARTICLES
.c-card-list--v-related-articles {
    flex-direction: row;
    margin: 0 (-$C_CARD_GUTTER);

    .c-card-list__item {
        opacity: 1;
        padding: 0 $C_CARD_GUTTER;
        transition: opacity 0.3s ease-out;
        width: 100%;

        &.is-active {
            opacity: 0.3;
        }
    }

    .c-card-list__item + .c-card-list__item {
        border-top: 1px solid #444;
        padding-top: 20px;
        margin-top: 20px;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            margin-top: 12px;
            padding-top: 12px;
        }
    }
}
