.c-newsletter {
    background-color: $wild-sand;
    padding: 60px 0 55px 0;
    text-align: center;

    @include at-medium-size() {
        padding: 80px 0 75px 0;
    }
}

.c-newsletter-wrapper {
    margin: 0 auto;
    max-width: 670px;
    padding: 0 20px;

    @include at-medium-size() {
        padding: 0 40px;
    }
}

.c-newsletter__logo {
    display: none;
}

.c-newsletter__title {
    @include font('NOBEL', 20px, 700, 20px);
    color: $cod-gray;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;

    @include at-medium-size() {
        @include font-size(24px);
        @include line-height(25px);
    }
}

.c-newsletter__description {
    @include font('ADOBE CASLON', 15px, null, 20px);
    color: $dove-gray;
    margin-bottom: 20px;

    @include at-medium-size() {
        @include font-size(17px);
        @include line-height(21px);
        margin-bottom: 35px;
    }
}

.c-newsletter__form-text {
    @include font('NOBEL', 14px, null, 15px);
    border: 1px solid $alto;
    color: $dove-gray;
    height: 45px;
    letter-spacing: 0.025em;
    margin-bottom: 10px;
    padding: 10px 15px;

    &:focus {
        border: 1px solid $silver;
    }
}

.c-newsletter__form__btn {
    @include button-single-two();
    @include button-single-two-light();
    height: 45px;
    margin-bottom: 30px;

    @include at-medium-size() {
        margin-left: 10px;
    }

    &:hover {
        @include button-single-two-light-hover();
    }
}

.c-newsletter__legal {
    @include font('NOBEL', 11px, null, 18px);
    color: $dove-gray;
    letter-spacing: 0.025em;
    margin: 0;
}

.c-newsletter__privacy {
    color: $dove-gray;
    font-weight: 700;
    text-decoration: underline;
}