@import "@cnbritain/merlin-www-common:glamour_redux";
@import "@cnbritain/merlin-www-buttons:glamour_redux";
@import "@cnbritain/merlin-www-card-list:glamour_redux";
@import "@cnbritain/merlin-www-card:glamour_redux";

@import "../wireframe/wireframe";

.c-splash-section {}
.c-splash-section__wrapper {
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
    width: 100%;
}

.c-splash-hero {
    margin-bottom: 40px;
}

.c-splash-hero__wrapper {
    box-shadow: 20px 20px 0px 0px $azalea;
    position: relative;
    font-size: 0;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        display: table;
        padding-top: 0;
        width: 100%;
    }
}

.c-splash-hero__images,
.c-splash-hero__content {
    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        direction: ltr;
        display: table-cell;
        position: static;
        vertical-align: middle;
        width: 50%;
    }
}

.c-splash-hero__images {}
.c-splash-hero__image {}

.c-splash-hero__image__wrapper {
    padding-top: 100%;
}

.c-splash-hero__content {
    padding: 20px;
    position: relative;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        padding: 30px 60px;
    }
}

.c-splash-hero__tag {
    @include font("GRAPHIK", 10px, 600, 10px);
    background: $azalea;
    color: $astronaut;
    left: 0;
    letter-spacing: 1.5px;
    padding: 8px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-100%);

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        background-color: transparent;
        left: initial;
        margin: 0 0 20px 0;
        padding: 0;
        position: relative;
        top: initial;
        transform: translateY(0);
    }
}

.c-splash-hero__title {
    @include font("MILLER_DISPLAY", 23px, 600, 28px);
    color: $dune;
    margin: 0 0 10px 0;

    @include min-screen($FEATURE_LARGE_BREAKPOINT) {
        @include font-size(40px);
        @include line-height(45px);
        margin: 0 0 30px 0;
    }
}

.c-splash-hero__teaser {
    @include font("GRAPHIK", 14px, 600, 18px);
    color: $dune;
    display: block;
    letter-spacing: 0px;
    margin: 0 0 30px 0;
}

.c-splash-hero__byline {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin: 0 0 6px 0;
    text-transform: uppercase;
}

ul.c-splash-hero__meta {
    @include font("GRAPHIK", 10px, 400, 10px);
    color: $dune;
    letter-spacing: 1.5px;
    margin: 0 0 0 0;
    text-transform: uppercase;
}

li.c-splash-hero__meta-item {
    & + li.c-splash-hero__meta-item {
        &:before {
            background-color: $azalea;
            border-radius: 50%;
            content: "";
            display: inline-block;
            height: 3px;
            margin: 1px 4px;
            width: 3px;
        }
    }
}

.c-splash-list {
    margin-left: $MOBILE_SIDE_GUTTER;
    margin-right: $MOBILE_SIDE_GUTTER;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: $TABLET_SIDE_GUTTER;
        margin-right: $TABLET_SIDE_GUTTER;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        margin-left: $DESKTOP_SIDE_GUTTER;
        margin-right: $DESKTOP_SIDE_GUTTER;
    }
}
.c-splash-list__wrapper {}