@import "../wireframe/_variables";

/**
 * Typography
 */
$TYPE_FONT_SIZE: 17px;
$TYPE_LINE_HEIGHT: 22px;

/**
 * Gutters for slices
 */
$DESKTOP_SIDE_GUTTER: 60px;
$TABLET_SIDE_GUTTER: 60px;
$MOBILE_SIDE_GUTTER: 20px;

/**
 * Margins for slices
 */
$DESKTOP_SLICE_MARGIN: 65px;
$TABLET_SLICE_MARGIN: 60px;
$MOBILE_SLICE_MARGIN: 40px;

/**
 * Cards
 */
$CARD_SWITCHER_WIDTH: 700px;

/**
 * Magazine subscribe
 */
$MAGAZINE_SUBSCRIBE_COVER_LARGE: 200px;