@import '@cnbritain/merlin-www-common:wired';
@import '../wireframe/wireframe';

.c-figure {}
.c-figure--dark {
    .c-figure__title,
    .c-figure__caption p,
    .c-figure__credit {
        color: #fff;
    }
}

.c-figure__container {
    margin-bottom: 20px;
    position: relative;
}
.c-figure__wrapper {
    background-color: #161616;
}


.c-figure__toolbar {}

li.c-figure__toolbar-listitem {
    background-color: #000;
    border-bottom: none;
    @include vendor-prefix(transition, background 0.1s ease-in-out);

    svg {
        fill: #fff;
        width: 18px;
    }

    &:hover {
        background-color: #fff;
        border: none;
    }

}

li.c-figure__toolbar-listitem--facebook {
    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'facebook');
    }
}
li.c-figure__toolbar-listitem--twitter {
    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'twitter');
    }
}
li.c-figure__toolbar-listitem--pinterest {
    display: none !important;
}
li.c-figure__toolbar-listitem--email {
    &:hover {
        background-color: #161616;
    }
}
li.c-figure__toolbar-listitem--whatsapp {
    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'whatsapp');
    }
}
li.c-figure__toolbar-listitem--zoom {
    &:hover {
        background-color: #fff;
        svg {
            fill: #000;
        }
    }
}

.c-figure__title {
    @include font("BRUTAL", 16px, 700, 24px);
    text-transform: uppercase;
    margin-bottom: 10px;

    &:before {
        content: "▲";
        @include font-size(13px);
        padding-right: 10px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        max-width: 800px;
        width: 80%;
    }
}

.c-figure__caption {
    p:not([class]) {
        @include font("BRUTAL", 16px, 300, 21px);
        margin-bottom: 8px;
        margin-top: 0;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            max-width: 800px;
            width: 80%;
        }
    }

    a {
        color: #167ac6;
        text-decoration: underline;

        @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.c-figure__credit {
    @include font("BRUTAL", 11px, 700, 13px);
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        max-width: 800px;
        width: 80%;
    }


    &:before {
        @include font-weight(300);
        content: 'Credit: ';
    }
}
