@import '@cnbritain/merlin-www-common:wired';
@import '../wireframe/wireframe';

.c-figure__container {
    margin-bottom: 10px;
    position: relative;
}

.c-figure__wrapper {
    background-color: $raisin-black;
}

.c-figure__toolbar-listitem {
    background-color: $black;
    border-bottom: none;
    transition: background 0.1s ease-in-out;

    svg {
        fill: $white;
        width: 18px;
    }

    &:hover {
        background-color: $white;
        border: none;
    }

}

.c-figure__toolbar-listitem--facebook {
    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'facebook');
    }
}

.c-figure__toolbar-listitem--twitter {
    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'twitter');
    }
}

.c-figure__toolbar-listitem--pinterest {
    display: none !important;
}

.c-figure__toolbar-listitem--email {
    &:hover {
        background-color: #161616;
    }
}

.c-figure__toolbar-listitem--whatsapp {
    &:hover {
        background-color: map-get($COLOUR_SOCIAL, 'whatsapp');
    }
}

.c-figure__toolbar-listitem--zoom {
    &:hover {
        background-color: $white;
        svg {
            fill: $black;
        }
    }
}

.c-figure__title {
    @include font('BRUTAL', 15px, 'BOLD', 18px);
    color: $black;
    margin-bottom: 5px;
    text-transform: uppercase;

    &:before {
        border-bottom: 12px solid $black;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: '';
        display: inline-block;
        height: 0;
        margin-right: 7px;
        width: 0;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        max-width: 800px;
        width: 80%;
    }

}

.c-figure__caption {
    margin: 5px auto 10px auto;

    .bb-p {
        @include font("BRUTAL", 15px, 500, 18px);
        margin: 0;

        & + p {
            margin-top: 10px;
        }
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        .bb-p {
            max-width: 800px;
            width: 80%;
        }
    }
}

.c-figure__credit {
    @include font("BRUTAL", 12px, 500, 12px);
    margin-top: 10px;

    &:before {
        @include font-weight(300);
        content: 'Credit: ';
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        max-width: 800px;
        width: 80%;
    }

}

.c-figure--dark {
    .c-figure__title,
    .c-figure__caption p,
    .c-figure__credit {
        color: $white;
    }

    .c-figure__title:before {
        border-bottom-color: $white;
    }

}
