@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-buttons:glamour";

@import "../wireframe/wireframe";

.c-topic-strip {}

.c-topic-strip-wrapper {
    margin-bottom: -10px;
}

.c-topic-strip__title {
    @include font('GRAPHIK', 13px, 'SEMI BOLD');
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.c-topic-strip__list {
    display: inline-block;
}

.c-topic-strip__list-item {
    margin-bottom: 10px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.c-topic-strip__link {
    @include button-group();
    @include button-group-light();

    &:hover,
    &:focus {
        @include button-group-light-hover();
    }
}

.c-topic-strip--a-related,
.c-topic-strip--sh-trends {
    text-align: center;

    .c-topic-strip__title {
        display: none;
    }

    @include at-x-large-size {
        text-align: left;
    }
}

.c-topic-strip--c-card-section {
    .c-topic-strip__title {
        display: none;
    }
}

.c-topic-strip--tg-header {
    margin-left: -$MOBILE_SIDE_GUTTER;
    margin-right: -$MOBILE_SIDE_GUTTER;
    text-align: center;
    white-space: nowrap;

    .c-topic-strip-wrapper {
        padding-left: $MOBILE_SIDE_GUTTER;
    }

    .c-topic-strip__list-item:last-child {
        padding-right: $MOBILE_SIDE_GUTTER;
    }


    @include at-medium-size {
        margin-left: -$TABLET_SIDE_GUTTER;
        margin-right: -$TABLET_SIDE_GUTTER;

        .c-topic-strip-wrapper {
            padding-left: $TABLET_SIDE_GUTTER;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: $TABLET_SIDE_GUTTER;
        }

    }

    @include at-x-large-size {
        margin-left: -$DESKTOP_SIDE_GUTTER;
        margin-right: -$DESKTOP_SIDE_GUTTER;
        white-space: normal;

        .c-topic-strip-wrapper {
            padding-left: 0;
        }

        .c-topic-strip__list-item:last-child {
            padding-right: 0;
        }
    }

}
