@import '@cnbritain/merlin-www-common:glamour';
@import "@cnbritain/merlin-www-buttons:glamour";

@import '../wireframe/wireframe';

.c-topic-strip {}

.c-topic-strip--bleed {
    @include max-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        margin-left: -$MOBILE_SIDE_GUTTER;
        margin-right: -$MOBILE_SIDE_GUTTER;
        padding-left: $MOBILE_SIDE_GUTTER;
        padding-right: $MOBILE_SIDE_GUTTER;

        .c-topic-strip__list {
            display: inline-block;
            margin-left: -$MOBILE_SIDE_GUTTER;
            margin-right: -$MOBILE_SIDE_GUTTER;
            padding-left: $MOBILE_SIDE_GUTTER;
            padding-right: $MOBILE_SIDE_GUTTER;
        }
    }
}

.c-topic-strip--c-card-section {
    padding-bottom: 20px;
    text-align: left;

    @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
        padding-bottom: 30px;
        text-align: center;
    }
}

//li added due to specificity of .global__list-reset li setting margin to 0
li.c-topic-strip__item {
    & + & {
        margin-left: 10px;

        @include min-screen($TABLET_SIDE_GUTTER_BREAKPOINT) {
            margin-left: 15px;
        }
    }
}

.c-topic-strip__title {
    @include font('GRAPHIK', 13px, 'SEMI BOLD', 16px);
    padding-right: 5px;
}

.c-topic-strip--article-related {
    text-align: left;

    .c-topic-strip__item + .c-topic-strip__item {
        margin-left: 10px;
    }

    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
        white-space: normal;
        margin-bottom: -10px;

        .c-topic-strip__item {
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .c-topic-strip__item + .c-topic-strip__item {
            @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
                margin-left: 0;
            }
        }
    }
}

.c-topic-strip__btn {
    @include button-group();
    @include button-group-light();

    &:hover {
        @include button-group-light-hover();
    }
}
