.has-open-menu {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.n-main {
    background-color: $white;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}


.n-main__nav {
    height: 60px;
    margin: 0 auto;
    max-width: $MAXIMUM_PAGE_WIDTH;
    position: relative;
}

.n-main__nav-logo {
    height: 60px;
    left: 20px;
    overflow: hidden;
    position: fixed;
    width: 130px;

    a {
        bottom: 0;
        height: 60px;
        line-height: 60px;
        position: absolute;
        transition: bottom 200ms ease-in-out;
        vertical-align: middle;
    }

    svg, img {
        fill: $black;
        height: 60px;
        width: 100px;
    }

    &.is-hidden {
        a {
            @include desktop-size {
                bottom: -60px;
            }
        }
    }

    @include min-screen($MAXIMUM_PAGE_WIDTH + 60px){
        left: auto;
    }

}

.n-main__nav-logo--takeover {
    svg, img {}
}

.n-main__nav-logo--hidden {
    a {
        @include desktop-size {
            bottom: -60px;
        }
    }
}

.n-main__list-item {
    vertical-align: top;
    position: relative;

    & + &:before {
        background: none;
        content: "";
        display: block;
        height: 20px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 1px;
    }
}

.n-main__nav-link {
    @include font('COMMUTER SANS', 13px, 'NORMAL', 13px);

    box-sizing: border-box;
    color: $black-two;
    display: inline-block;
    height: 60px;
    margin: 0 20px;
    text-transform: uppercase;

    span {
        display: inline-block;
        height: 60px;
        line-height: 60px;
    }

    &:hover {
        color: $COLOUR_MAIN_HIGHLIGHT;
    }
}

.n-main__sticker {
    z-index: 3;
}

.n-main__sticker-child {
    border: 0;
    background-color: $white;

    &.is-stuck {
        border: 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
}
