.n-main__header {
    display: none;

    @include desktop-size {
        display: flex;
        align-items: center;
        flex-wrap: none;
        height: 140px;
        justify-content: center;
    }
}

.n-main__header-logo {
    height: 140px;
    margin: 0;
    max-width: none;
    position: relative;

    a {
        display: inline-block;
    }

    svg, img {
        height: 140px;
        padding: 20px 0;
        fill: $black;
    }

    &:after {
        background-color: $white-two;
        bottom: 0;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
    }
}

.n-main__header-logo--takeover {}
