.n-main__nav-hamburger {
    border-left: 1px solid $white-two;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;

    .n-main__nav-hamburger__icon {
        cursor: pointer;
        display: block;
        height: 60px;
        line-height: 60px;
        width: 60px;

        svg {
            display: inline-block;
            fill: $black;
            width: 20px;
            line-height: 60px;
            vertical-align: middle;
        }
    }

    .n-main__nav-hamburger__close-icon {
        cursor: pointer;
        display: block;
        height: 60px;
        line-height: 60px;
        width: 60px;

        svg {
            display: inline-block;
            fill: $black;
            height: 18px;
            line-height: 60px;
            vertical-align: middle;
        }
    }
}

.n-menu {
    background-color: $white;
    -webkit-overflow-scrolling: touch;

    &.is-visible {
        bottom: 0;
        overflow: auto;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 2;
    }
}

.n-menu__top-stories {
    .c-top-stories {
        display: block;
    }

    .c-top-stories__overflow {
        padding-left: 20px;

        @include tablet-size {
            padding-left: 30px;
        }
    }
}

.n-menu__nav {
    margin-bottom: 0;

    .n-menu__nav__wrapper {
        overflow: hidden;
    }

    a {
        .n-menu__nav-item {
            border-bottom: 1px solid $wild-sand;
            float: left;
            height: 60px;
            position: relative;
            width: 100%;

            .n-menu__nav-link {
                @include font('COMMUTER SANS', 16px, null, 16px);
                color: $black;
                padding: 0 20px;
                position: absolute;
                text-transform: uppercase;
                top: 50%;
                transform: translateY(-50%);
                word-break: break-word;

                @include tablet-size {
                    padding: 0 30px;
                }
            }

            &--more {
                border-bottom: none;
                height: 50px;
                width: 50%;

                .n-menu__nav-link {
                    @include font('COMMUTER SANS', 13px, null, 13px);

                    bottom: 0;
                    top: initial;
                }
            }

            &:hover,
            &:focus {}
        }
    }
}
