.n-main__covers {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 24px;

    @include desktop-size {
        display: block;
    }
}

.n-main__covers__wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
    margin: 0 auto;
    padding-left: 60px;

    @include screen(1440px, 1560px) {
        padding-left: 60px;
    }

    @include min-screen(1561px) {
        padding-left: 0;
    }
}

@include screen(1440px, 1560px) {
    .n-main__wrapper {
        max-width: 100%;
    }
}

.n-main__cover {
    display: inline-block;
    margin-right: 12px;
    width: 95px;

    img {
        width: 100%;
    }

    &:nth-child(2) {
        display: none;
    }
}

.n-main__cover__offer {
    @include font('STARLING', 14px, 'NORMAL', 19px);

    color: $black;
    display: inline-block;
    vertical-align: top;
    white-space: pre-line;
}

.n-menu__subscribe {
    background-color: $wild-sand;
    border: 0;
    margin: 20px 0;
    padding: 20px 20px;

    @include tablet-size {
        padding: 32px 30px;
    }
}

.n-menu__subscribe__wrapper {}

.n-menu__subscribe-cols {
    display: table;
    width: 100%;
}

.n-menu__subscribe-col {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 50%;

    &:nth-child(2) {
        text-align: left;
        padding-left: 10px;
    }
}

.n-menu__subscribe-covers {
    display: inline-block;
    padding-right: 10px;
    position: relative;
    font-size: 0;
    width: 100px + 31px;
}

.n-menu__subscribe-cover {
    &:nth-child(1) {
        width: 100px;
    }

    &:nth-child(2) {
        border-bottom: 8px solid $black;
        border-left: 4px solid $black;
        border-radius: 3px;
        border-right: 4px solid $black;
        border-top: 8px solid $black;
        box-shadow: 0px 0px 0px 1px rgba(48,48,48,1);
        bottom: 0;
        left: 45px;
        position: absolute;
        right: 10px;
        width: 75px;
    }
}

.n-menu__subscribe-message {
    @include font('STARLING', 18px, 'NORMAL', 22px);

    color: $black;
    margin-bottom: 12px;
    max-width: 240px;
    white-space: pre-line;
}

.n-main__cover__btn,
a.n-main__cover__btn {
    margin-top: 10px;
}


.n-main__cover__btn,
a.n-main__cover__btn,
a.n-menu__subscribe-btn {
    @include font('AGENDA', 12px, 'MEDIUM', 12px);

    border: 1px solid $cinnabar;
    color: $cinnabar;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px;

    &:after {
        display: none;
    }

    &:hover,
    &:focus {
        background: $cinnabar;
        border: 1px solid $cinnabar;
        color: $white;
        text-decoration: none;
    }
}
