@import '_base';
@import '_dropdown';
@import '_gallery';
@import '_masthead';
@import '_menu';
@import '_promo';
@import '_search';
@import '_social';

.n-vanishing-nav {
    .n-main__sticker-child {
        transform: translate(0);
        transition: transform 0.2s ease-in-out;
    }

    &.is-hidden {
        .n-main__sticker-child {
            transform: translate(0, -100%);
        }
    }
}
