@import '@cnbritain/merlin-www-common:glamour';

@import '../wireframe/wireframe';

.c-int-redirect {
    background-color: $dune;
}

.c-int-redirect-wrapper {
    max-width: $MAXIMUM_PAGE_WIDTH;
}

.c-int-redirect__btn {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;

    svg {
        background-color: $natural-gray;
        border-radius: 50%;
        fill: $dune;
        height: 20px;
        left: 50%;
        padding: 6px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
    }
}

.c-int-redirect__msg {
    @include font("GRAPHIK", 12px, 600, 16px);
    color: $white;
    padding: 10px 60px 12px 20px;
    text-align: left;

    @include at-x-large-size {
        padding: 20px 60px 24px 20px;
        text-align: center;
    }

    label {
        border-bottom: 1px solid $white;
        color: $white;
    }
}

.c-int-redirect__list {
    color: $white;
    font-size: 0;
    padding: 10px 60px 4px 20px;
    text-align: left;

    @include at-x-large-size {
        padding: 24px 60px 16px 20px;
        text-align: center;
    }
}

.c-int-redirect__list__item {
    padding: 0 12px 8px 12px;

    a {
        @include font("GRAPHIK", 12px, 600, 16px);
        border-bottom: 1px solid $white;
        color: inherit;
    }
}