@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-image:glamour";

@import "../wireframe/wireframe";

.c-footer {
    background-color: $COLOUR_BG_DARK;
    color: $COLOUR_MAIN_DARK;
}

.c-footer__wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.c-footer__list {
    color: $COLOUR_MAIN_DARK;
}

.c-footer__list--left {
    @include min-screen(1100px) {
        & .c-footer__list-item:first-child {
            padding-left: 40px;
        }
    }
}
.c-footer__list--right {
    @include min-screen(1100px) {
        & > .c-footer__list-item:last-child {
            padding-right: 40px;
        }
    }
}

.c-footer__list-item--links {
    @include max-screen(1099px) {
        background-color: #131313;
    }

    .c-footer__list-item {
        @include max-screen(1099px) {
            &:last-child:after {
                content: none;
            }
        }

        &:after {
            background-color: $COLOUR_MAIN_SECONDARY;
            content: '';
            display: block;
            height: 1px;
            margin-left: -20px;
            padding-right: 20px;
            width: 100%;

            @include min-screen(1100px) {
                content: none;
            }
        }
    }
}

li.c-footer__list-item {
    @include font('GRAPHIK', 13px, 300, 60px, 20);

    height: 60px;
    letter-spacing: 0.025em;
    padding-left: 12px;
    margin: 0;

    @include min-screen(1100px) {
        padding-left: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
        border-bottom: none;

        @include min-screen(1100px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

li.c-footer__list-item--logo {
    margin-top: -60px;
    margin-right: 20px;

    svg {
        fill: #fff;
        height: 60px;
        width: 30px;
    }

    @include min-screen( 1100px ) {
        clear: right;
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 0;
        margin-top: 0;
    }
}