@import "@cnbritain/merlin-www-common:glamour";
@import "@cnbritain/merlin-www-image:glamour";

@import "../wireframe/wireframe";

.c-footer {
    a {
        text-decoration: underline;
    }
}

.c-footer__list-item--brand-logo {
    svg {
        fill: $white;
        height: 60px;
        width: 30px;
    }
}