.bb-embed {}
.bb-embed--video {
    padding-top: 56.25%;
    position: relative;

    iframe {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

.bb-embed--centered {
    iframe {
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}