@import '@cnbritain/merlin-www-common:bystander';
@import '@cnbritain/merlin-www-image:bystander';

@import '../wireframe/wireframe';

@import '../tatler/_tatler_base';

.c-feature__contents {
    background: $black;
}
.c-feature__icon {
    background: $black;

    path {
        fill: $white;
    }
}

.c-feature__title {
    color: $white;
}

@include at-medium-size(){
    .c-feature--left .c-feature__contents {
        @include border-line-box(left, $bg: $black, $border: $brownish-grey);
    }

    .c-feature--right .c-feature__contents {
        @include border-line-box(right, $bg: $black, $border: $brownish-grey);
    }

    .c-feature__icon {
        background: $cod-gray;
    }
}