@import '@cnbritain/merlin-www-common:gq';

@import '../wireframe/wireframe';

.c-figure__container {
    margin-bottom: 24px;

    @include at-x-large-size {
    	margin-bottom: 28px;
    }
}

.c-figure__wrapper {
	background-color: $albaster;
}

.c-figure__toolbar {
	border: 1px solid $mineshaft;
	bottom: 16px;
	height: 44px;
	position: absolute;
	right: 16px;
}

.c-figure__toolbar-listitem {
    background-color: $woodsmoke;
    height: 44px;
    width: 44px;

    svg {
        fill: $white;
        width: 16px;
    }
}

.c-figure__title {
	@include font("GOTHAM", 20px, 700, 24px, -4);
	color: $woodsmoke;
	margin-bottom: 12px;

	@include at-x-large-size {
		margin-bottom: 16px;
	}
}

.c-figure__caption {
	.bb-p {
		margin-bottom: 12px;
		margin-top: 12px;

		@include at-x-large-size {
			margin-bottom: 16px;
			margin-top: 16px;
		}
	}
}

.c-figure__credit {
	@include font("GOTHAM", 9px, 400, 12px, 60);
	color: $oslo-gray;
	text-transform: uppercase;

    &:before {
        content: 'Credit: ';
    }
}