@import '@cnbritain/merlin-www-common:gq';

@import '../wireframe/wireframe';

.c-figure {}

.c-figure__container {
    margin-bottom: 24px;
    @include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
    	margin-bottom: 28px;
    }
}

.c-figure__wrapper {
	background-color: $albaster;
}

.c-figure__toolbar {
	border: 1px solid $mineshaft;
	bottom: 16px;
	height: 44px;
	position: absolute;
	right: 16px;
}

li.c-figure__toolbar-listitem {
    background-color: $woodsmoke;
    height: 44px;
    width: 44px;

    svg {
        fill: $white;
        width: 16px;
    }
}

.c-figure__title {
	@include font("GOTHAM", 20px, 700, 24px, -4);
	color: $woodsmoke;
	margin-bottom: 12px;
	@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
		margin-bottom: 16px;
	}
}

.c-figure__caption {
	p {
		@include font("GOTHAM", 16px, 400, 26px, -2);
		color: $mineshaft;
		margin-bottom: 12px;
		@include min-screen($DESKTOP_SIDE_GUTTER_BREAKPOINT) {
			margin-bottom: 16px;
			@include font-size(17px);
			@include line-height(28px);
		}
	}

	a {
		border-bottom: 1px solid $cornflower-blue;
		color: $cornflower-blue;
		@include font-weight(400);
		text-decoration: none;
	}
}

.c-figure__credit {
	@include font("GOTHAM", 9px, 400, 12px, 60);
	color: $oslo-gray;
	text-transform: uppercase;

    &:before {
        content: 'Credit: ';
    }
}