@import './_variables';
@import './_mixins';
@import './_fonts';

@import "../wireframe/_defaults";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-variant-numeric: lining-nums;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
